[2017-07-24 14:15] emilycsd commented on #1864
Thanks for the tip and speedy response!
I will have them edit that way for now, although I still think having a drop-down option would be nice for novice users.

[2017-07-24 17:16] EJWagenmakers commented on #1864
Give it a shot, you may find it is actually rather easy & cool (at least I
like to think so).
EJ

On Jul 24, 2017 15:15, "emilycsd" <notifications@github.com> wrote:

[2017-07-24 23:55] ArthurStone commented on #1863
Thanks.
However, it says “permission denied” when I issue the mkdir command.

----------------------------------------------------------
Arthur A. Stone, Ph.D.
Professor, Department of Psychology
Director, USC Center for Self-Report Science
University of Southern California
Suite 405, 635 Downey Way
Los Angeles, CA  90089-3332
O: 213 821-1781  C: 631 682-0014
--------------------------------------

[2017-07-24 23:56] ArthurStone commented on #1863
Thanks.
However, give error “No permission” when I issue the mkdir command

----------------------------------------------------------
Arthur A. Stone, Ph.D.
Professor, Department of Psychology
Director, USC Center for Self-Report Science
University of Southern California
Suite 405, 635 Downey Way
Los Angeles, CA  90089-3332
O: 213 821-1781  C: 631 682-0014
----------------------------------------

[2017-07-25 06:21] akashrajkn commented on #1863
@ArthurStone use `sudo mkdir .JASP`

[2017-07-25 06:46] boutinb commented on #1863
@ArthurStone You use a user who is not admin of your mac. The sudo command will ask for an admin user.
Would it be possible to log in on your mac directly with an admin user?

[2017-07-25 09:18] EJWagenmakers opened #1865 "Download problem"
From the JASP forum:
http://forum.cogsci.nl/index.php?p=/discussion/3262/jasp-download-bug-mac-os-x

[2017-07-25 16:04] akashrajkn commented on #1851
This issue could be related to #1848

[2017-07-25 16:11] akashrajkn commented on #1838
@EJWagenmakers Currently, we are setting minimum size required in each input window (layout). This does not allow us to reduce the width. Should we change this behaviour?

[2017-07-25 20:52] EJWagenmakers commented on #1838
Let's discuss this in person, at a later stage

[2017-07-26 03:11] asaji commented on #660
Any updates on whether logistic regression will be added?

[2017-07-26 07:47] EJWagenmakers commented on #660
Yes! Erik-Jan van Kesteren has a first version working. We will have to ask
feedback and fine-tune it, but I am already quite pleased with the result.
It will ship in one of the next versions.

Cheers,
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001

[2017-07-26 11:00] akashrajkn commented on #1845
@freestone-lab this is currently being implemented. Will be available soon. Please look at the thread - #660 for more details.

[2017-07-26 11:25] boutinb commented on #1865
I have set the downloads to our own dreamhost server, as it used to be. Should solve the problems.

[2017-07-26 11:25] #1865 closed

[2017-07-26 17:04] R180 opened #1868 "sync is inconsistent"

[2017-07-26 17:21] #1868 closed

[2017-07-27 06:35] boutinb commented on #1868
@R180 Dis you find the reason of your problem?

[2017-07-27 12:57] MooersLab opened #1869 "Python api for JASP"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement: python api
* Purpose: To be able to iterate analyses in JASP with for loop

[2017-07-28 11:41] FransMeerhoff commented on #1869
Hi @MooersLab

That would be a indeed nice feature to have (also for test purposes).
But i'm afraid it will take us quite a while to implement such an api and that there are
also a lof of other features on your wish list.
What can serve as a kind of an intermediate solution , which we could consider is: starting JASP with a number of command line arguments (like input data file, and analyses defin

[2017-07-29 03:54] PJCatUTexas opened #1871 "Tukey's test with ANOVA"
Your ANOVA provides a number of post hoc test options, one of which is Tukey's test.
Tukey wrote several post hoc tests. The one you offer is Tukey's LSD, which has serious problems with alpha inflation. It isn't used much. The more commonly used Tukey's test is Tukey's HSD.
LSD has sqrt((2*MSwithin)/n) in the denominator, while HSD uses sqrt(MSwithin/n) in the denominator. I believe the "car" pac

[2017-07-29 22:35] MooersLab commented on #1869
Dear Frans,

Thank you very much for thoughtful reply. Yes, your intermediate solution
would be very appealing. The ability to start JASP with command line
arguments would enable me to use the Python modules like os and subprocess
to run JASP from within a Python script.

Best regards,

Blaine

On Fri, Jul 28, 2017 at 6:41 AM, FransMeerhoff <notifications@github.com>
wrote:

--
*******************

[2017-07-29 22:54] DrNateB opened #1873 "Unexpected termination"
## Environment (for bugs)

* JASP 0.8.1.2:
* OS Sierra 10.12.6:
* I'm attempting to run a cronbach analysis and get this message. Thanks for any help in advance!:

This analysis terminated unexpectedly.

Error in items[, 1]: subscript out of bounds

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback, state = state)

.reliabilityResults(dataset, optio

[2017-07-30 13:56] tressoldi opened #1874 "Spearman and Kendall's Tau confidence intervals"
## Environment (for bugs)

* JASP version: 8.1.2
* OS name and version: Windows 10
* Analysis: Correlation
## Environment (for enhancement requests)

* Enhancement: Contrary tot the Pearson correlation, I don't see the confidence intervals of the Spearman and Kendall's Tau
* Purpose: Is it possible to add CIs to these stats?

[2017-07-30 21:29] EJWagenmakers commented on #1871
Thanks. We should add Tukey's HSD, and label them clearly as well (one "Tukey's HSD", the other "Tukey's LSD"). @vandenman @JohnnyDoorn

[2017-07-30 22:00] EJWagenmakers commented on #1874
You are right! We ought to fix that. Let me ask @JohnnyDoorn or @vandenman to take a look at this.
Cheers,
E.J.

[2017-07-31 10:27] lindeloev opened #1875 "Correlation: pair-wise layout and menu names"
I propose the following improvements to both Bayesian and frequentist correlations:

# 1. Option to choose between matrix and pair-wise layout
Correlating two variables results in the following output:

![image](https://user-images.githubusercontent.com/1439417/28771834-8668dcfa-75e4-11e7-8277-39aa97efe7d0.png)

This seems needlessly cluttered for something so simple. The matrix layout for a simpl

[2017-07-31 10:29] lindeloev opened #1876 "Include the leading zero in p-values"
All p-values are printed without the leading zero (.123) while all other values include it (0.123). I'd propose to add the zero (1) for consistency and  (2) because the ".xxx" format is unfamiliar to some other countries (in Denmark at least) that don't have this strange habit of avoiding zeros ;-) The lacking zero occasionally confuses a few Danish students.

[2017-07-31 10:48] lindeloev commented on #1874
When you do, make the settings- and results layout consistent with the Bayesian analysis.

Settings: I have a slight preference for the radio button (select one) over the tick boxes (select multiple); mostly because tick boxes allow for selecting zero. IF multiple tick boxes, then perhaps one table per correlation type rather than everything in one table (?) - or the choice.

[2017-07-31 13:05] EJWagenmakers commented on #1875
Hi Jonas,

Thanks for the suggestions. Comments:
wrt (1): Yes, we could offer the "pairs" output as an additional option. @TimKDJ @vandenman
wrt (2): The correlation pairs analysis offers additional functionality: prior and posterior plot, sequential analysis, robustness check, etc. We felt that including all of those options in "matrix" would be overwhelming. But perhaps we can make the distincti

[2017-07-31 13:18] EJWagenmakers commented on #1876
Hi Jonas,

Our choice for this format is informed by the APA guidelines. If I recall correctly, the APA guidelines state that for scales that are always between 0 and 1 (like a p-value), the leading 0 is omitted. It would be straightforward to change, or add it as an additional option in the preferences. The upcoming version already has an option "display exact p-values" (see the JASP blogpost on

[2017-07-31 13:34] lindeloev commented on #1875
Hi EJ,

Thanks for considering this!

wrt (2) I see what you're saying that the settings could be bloated. To me, having separate menu entries for "few specific correlations with many options" (correlation pairs) vs. "few-to-many correlations with fewer options" (correlation matrix) seems a bit confusing and bloating in and of itself. People shouldn't stop worrying about robustness because they do

[2017-07-31 13:40] lindeloev commented on #1876
Oh, you're right about the APA. Very good point! I'm closing this issue.

[2017-07-31 13:40] #1876 closed

[2017-07-31 14:43] vandenman commented on #1873
Hi thanks for reporting the bug! Could you perhaps send a .zip file with the dataset? That way, I can check whether the problem is solved in the current pull request with updates for the reliability analysis.

[2017-07-31 17:36] bazar0ff opened #1877 "Feature Request: Weight Case Variables"
Hell there.

I was wondering if weighting was a feature that is coming out, or if it is even on your radar.
I currently use a couple different free stat tools to run frequencies and cross tabs for survey research.  Nothing huge, usually just helping friends out or playing around, but I really like what I've seen of JASP.  Adding the ability to use a weight case variable, or to set the appropriate

[2017-07-31 17:46] bazar0ff opened #1878 "Feature Request: running multiple contingency tables"
Hello there.
I apologize if I'm not posting this stuff correctly, I'm new to github.

When I try to generate multiple contingency tables the output is one table repeated again and again for the number of tables that should actually be generated.

For example if I select Q1 and Q2 as my rows and Q3 and Q4 as my columns, the output should be a table for every combination.
Q1 v Q3
Q1 v Q4
Q2 v Q3
Q2

[2017-07-31 21:40] EJWagenmakers commented on #1877
Thanks for the suggestion. We allow weights for ANOVA, so I don't see why we would not add it to cross tabs. But I'm not very familiar with the procedure, let me look this up...hmmm what I see is that weights are sometimes used with grouped data, to indicate the frequency with which particular responses are observed. But we already take care of that automatically when you select "counts". Can you

[2017-07-31 21:46] EJWagenmakers commented on #1878
This behavior looks suboptimal. Guys, who can help fix this? This needs to be addressed before we release the next version, I would say. Jay, thanks for pointing this out! @TimKDJ @AlexanderLyNL

Cheers,
E.J.

[2017-08-01 07:54] #1861 closed

[2017-08-01 08:15] FransMeerhoff opened #1879 "Summary Stats Module: Bug in informed t-test"
## Environment (for bugs)

* JASP version: 0.8.2
* OS name and version:
* Analysis: Informed -t-tes

When I tick "informed prior" and it is set to the same prior as the
default, the result is different.

[2017-08-01 08:27] quentingronau commented on #1879
![differentresultwithsamedefaultprior](https://user-images.githubusercontent.com/8697436/28816119-ee73944c-76a3-11e7-9acb-4ea9c4491da4.png)
![resultwithdefaultprior1](https://user-images.githubusercontent.com/8697436/28816120-ee74e61c-76a3-11e7-9a22-1176f51cc43e.png)

[2017-08-01 08:59] TimKDJ commented on #1857
Thanks for notifying us! There is indeed a small error in the labels.
This will be fixed in the newest release.

[2017-08-01 09:01] #1857 closed

[2017-08-01 14:24] PJCatUTexas commented on #1871
Thanks so much for your response. Your solution—include both the HSD and LSD—is the right one.
I’m looking forward to using JASP in the classroom.
Best wishes,
Patrick Carroll

[cid:image001.png@01D30AA8.045A0BF0]

Patrick J. Carroll, Ph.D.
Department of Psychology
University of Texas at Austin
Austin, TX 78722
(512)477-3906
carroll@utexas.edu

From: EJWagenmakers <notifications@github.com>
Reply-

[2017-08-01 15:32] #1879 closed

[2017-08-02 07:37] quentingronau opened #1883 "Bug in summary stats t-test plots?"
Hi,

When using the Bayesian t-tests in the summary stats module, it appears that the BF in the plot does not match the one in the table? Also, note that in the robustness check plot, the dot for the user prior is not on the line.

Cheers,
Quentin
![bug_2](https://user-images.githubusercontent.com/8697436/28862652-10bf9a74-7766-11e7-9b23-b8d75016942d.png)
![bug_1](https://user-images.githubusercon

[2017-08-02 09:01] TimKDJ commented on #1878
Fixed in the new release. Thank you for pointing this out to us!

[2017-08-02 09:02] akashrajkn commented on #1883
Hi @quentingronau, do you have the latest code on your system? (The user prior is being plotted correctly on my system) I will take a look at the code either way.

[2017-08-02 09:02] #1878 closed

[2017-08-02 09:02] quentingronau commented on #1883
Hi Akash,

Yes, I think so, I just did a rebase this morning.

Cheers,
Quentin

On Wed, Aug 2, 2017 at 11:02 AM, akash raj <notifications@github.com> wrote:

[2017-08-02 09:03] akashrajkn commented on #1883
Cool, I'll look into it.

[2017-08-02 11:30] TimKDJ opened #1885 "RM ANOVA: deleting factors breaks the analysis"
* JASP version: 0.8.1.2 / 0.8.2
* OS name and version: macOS Sierra v10.12.4
* Analysis: RM ANOVA

Steps to reproduce:
1. Add four RM factors
2. Populate the RM cells
3. After the analysis finishes, delete a RM factor (I deleted the fourth one)

The analysis will terminate with an "undefined columns selected".
Even after then removing all variables from the RM cells / deleting all other RM factors

[2017-08-02 11:35] TimKDJ commented on #1856
I'm not entirely sure I understand the problem.
Could you provide me with an example .jasp file (you need to zip it before you can upload it to github)?
The screenshot might also suffice, but I guess something went wrong when you attached it.

[2017-08-02 14:28] JaynePickering commented on #1856
Github won’t let me upload the image for some reason. When I try to do a RM ANOVA in JASP the factors switch around/disappear. In the below example, if I delete congruency - then I have three factors left: pain, validity and congruency (i.e. it’s actually tone that disappears, and not congruency). So, the factors get linked somehow, so one replaces the other. I’ve since worked out that if I close

[2017-08-02 14:48] TimKDJ commented on #1856
It sounds like an interface problem. Not something I've heard of before though.
It would be very helpful if you could email me the screenshot:
t.dejong [at] jasp-stats [dot] org

In the meantime it would be worthwhile to check if the problem persists on the latest version of JASP.

[2017-08-02 16:08] FransMeerhoff opened #1886 "Add "NA" to missing value list"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-08-02 19:08] akashrajkn commented on #1883
@quentingronau  I have submitted a pull request for this issue. The issue was with the parameter passing. The previous Bayes factor calculation function sent logBF, while the new function sends BF. The bug arose due to the mismatch.

Please review the pull request

[2017-08-03 01:48] cogneurotrololo opened #1888 "Install on Debian 9"
Hi there,

First of all, thanks for this great software, I absolutely love it!

However, I am having a really hard time compiling JASP on some machines running Debian 9 as already documented by other people running previous Debian releases https://github.com/jasp-stats/jasp-desktop/issues/1146 https://github.com/jasp-stats/jasp-desktop/issues/764

Given the importance of Debian in the Linux world,

[2017-08-03 09:11] quentingronau commented on #1883
Ok, great, thanks.
Quentin

On Wed, Aug 2, 2017 at 9:08 PM, akash raj <notifications@github.com> wrote:

[2017-08-03 14:05] EJWagenmakers opened #1890 "ANOVA Type II and Type III issue"
From our contact form:

"I may be missing something, or this may be something that has been mentioned before. I have been testing JASP and have attempted the same analyses between SPSS from a colleague, R from myself, and now JASP using an ANOVA with two within-subjects variables, and one between-subject variable. Long story short, the values did not match and it seems to be that JASP is using typ

[2017-08-03 14:13] FransMeerhoff commented on #1890
HI @JohnnyDoorn

Can you have a look at this ?

[2017-08-03 14:21] FransMeerhoff commented on #1888
Hi @cogneurotrololo

Thanks for your nice words about JASP.
This issue is indeed not new for us but is still on our list to handle.
You will understand that making JASP available on a extra platform is a big effort,
but we do not underestimate the importance as you mention.
For the moment please refer to Michael Hanke, see https://github.com/jasp-stats/jasp-desktop/pull/1471 , someone from the dis

[2017-08-03 14:21] #1888 closed

[2017-08-03 15:12] TimKDJ opened #1891 "JASP crashes when switching between analyses"
* JASP version: 0.8.1.2 / 0.8.2
* OS name and version: macOS Sierra version 10.12.6
* Analysis: NA

JASP crashes if you perform a Summary Stats analysis followed by data loading and a common analysis. It seems to be related to the data loading step between the analyses.

Steps to reproduce:
1. Go to the Summary Stats module
2. Run one of the t-tests
3. Load a datafile
4. Run one of the common anal

[2017-08-04 06:04] ZoeMF opened #1893 "Effect sizes for post-hocs please"
When conducting mixed/RM ANOVA, the option to include effect sizes adds effect sizes only to ANOVA output but not post-hoc tests
Please include effect size options for post hocs too

[2017-08-04 07:49] EJWagenmakers commented on #1893
Good point! @JohnnyDoorn, would this be something for you?

[2017-08-04 07:53] bogdanlalu opened #1894 "JASPEngine processes remain active in memory after opening/closing GUI on Ubuntu"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Ubuntu 16.04 LTS
Linux 4.10.0-28-generic #32~16.04.2-Ubuntu SMP Thu Jul 20 10:19:48 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Analysis: irrelevant - this occurs every time after using  the software
## Problem description
Everytime I open and close the GUI there are 4 processes that remain in memory taking up some RAM.
What I

[2017-08-04 08:22] TimKDJ commented on #1893
This was requested a little while ago in #1805.
Maybe you have some insight in the issue that Johnny raised, @ZoeMF?

[2017-08-04 08:23] JohnnyDoorn commented on #1893
We looked into this, but the problem here is that (as far as i am aware)
there is no multiplicity correction for effect sizes, which might make it a
tad dangerous to include. However, we will discuss this with the team. For
instance, we could include the effect sizes but add a small warning message.
Kind regards
Johnny

On Aug 4, 2017 09:49, "EJWagenmakers" <notifications@github.com> wrote:

[2017-08-04 08:26] EJWagenmakers commented on #1893
I agree; add but with a warning.
EJ

On Aug 4, 2017 10:23, "JohnnyDoorn" <notifications@github.com> wrote:

We looked into this, but the problem here is that (as far as i am aware)
there is no multiplicity correction for effect sizes, which might make it a
tad dangerous to include. However, we will discuss this with the team. For
instance, we could include the effect sizes but add a small warning

[2017-08-04 12:01] JohnnyDoorn commented on #1890
Yes, I'll look at this when i get back from vacation!

On Aug 3, 2017 16:13, "FransMeerhoff" <notifications@github.com> wrote:

[2017-08-04 23:02] Mat-Teusz opened #1896 "crash just after start"
## Environment (for bugs)

* JASP version: 8.2.0
* OS name and version: Microsoft Windows 10 Enterprise Version 10.0.15063 Build 15063
* System Type:	x64-based PC
* Description: the app crashes just after start (start app-->crash - no actions between). Got runtime error - "this application has requested the Runtime to terminate it in an unusual way".

[2017-08-05 10:33] NikitaKhromov-Borisov commented on #1791
Dear Alexander,

It seems there is another bug:
The phi-coefficient in always doesn't calculated.
JASP reports:

ᵃ Value could not be calculated - At least one row or column contains all
zeros
In reality the contingency tables analyzed do not contain such rows or
columns
e.g.,

*Contingency Tables *

*VV *

*BK *

*1 *

*2 *

*3 *

*4 *

*5 *

*Total *

1

2.00

1.00

0.00

0.00

0.00

3.00

2

3.

[2017-08-05 10:35] Mat-Teusz opened #1897 ""Welcome to JASP" screen does not vanish when you want to start analysis"
## Environment (for bugs)

* JASP version: 8.1.2
* OS name and version: Microsoft Windows 10 Enterprise Version 10.0.15063 Build 15063
* System Type:	x64-based PC
* Description: when i'm using JASP i have an issue with "Welcome to JASP" screen showed on the right side of the window. When i'm going into analysis (no matter what analysis exactly) "Welcome to JASP" screen should vanish but it is not.

[2017-08-06 09:25] FransMeerhoff commented on #1897
Hi @Mat-Teusz

Because you've posted 2 issues on this subject could you lets check the following first:
- Uninstall JASP (Via Right Click on Start->Apps and Features . Search for any JASP version and Un-Install.)
- Install the latest pre-release version from https://static.jasp-stats.org/JASP-0.8.2.0-Setup.exe
- Run some example file from JASP and check if you have the same problem.

Kind regards

[2017-08-06 16:06] matwod11 commented on #1897
Hi @FransMeerhoff

i've tried with 0.8.2.0 already :) The second issue that i posted is from 0.8.2.0 version.

Cheers,
Mateusz

[2017-08-07 09:24] vdsmagt opened #1898 "crash after data editing"
## Environment (for bugs)

the following crash occurred after editing data within Jasp => excel (see the picture)
![screen shot 2017-08-07 at 11 17 37](https://user-images.githubusercontent.com/17410938/29020402-2d366156-7b62-11e7-80f7-37fbddd7a4b5.png)
It was a simple two column data file, with a grouping variable and a data variable). I added more data, but with the data column first. After savi

[2017-08-07 12:31] FransMeerhoff commented on #1897
Hi @Mat-Teusz

Thank you for helping us with such hard to find, for us unreproducible problems.
Can you answer or try the following;
- Does this problem only occurs on the latest versions of JASP or are you new to JASP?
- Can you try to start JASP as administrator and check if hat makes any difference. (You can do this by starting the explorer, go to the JASP installation folder e.g. c:\Program Fi

[2017-08-07 15:06] matwod11 commented on #1897
The last time when i used JASP it was around 3-5 months ago and then everything was fine (same device, same OS, only a bit older version).

and right click JASP.exe and run as administrator)
Already did this. No success.

Will try and let you know.

Cheers,
Mateusz

[2017-08-07 19:08] herzogcollege opened #1899 "chronbach's alpha"
Does the latest version of JASP offer chronbach's alpha and if so where can I find it?

[2017-08-07 19:09] EJWagenmakers commented on #1899
It's under Descriptives -> Reliability Analysis

Cheers,
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers.com
Book: bayesmodels.com
Stats: jasp-stats.org
Email: EJ.Wagenm

[2017-08-07 19:09] herzogcollege commented on #1899
The answer is yes and its under descriptive statistics.

[2017-08-07 19:12] AlexanderLyNL commented on #1899
I love these fairy tale endings! Please let us know if something else is unclear.

[2017-08-07 19:12] #1899 closed

[2017-08-08 00:44] JimWeinrich opened #1900 "Inconsistent ordering of categories between .csv and .sav"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Mac OS X El Capitan 10.11.6
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Please make it possible to flip order of rows in descriptives section of t-tests
* Purpose: To make t ratio results being + or - easier to control.

Some students reported that I was mis-grading their results: my analysis said t

[2017-08-08 00:49] JimWeinrich opened #1901 "Feature request: Logistic regression"
* Enhancement: Logistic regression
* Purpose:
I read somewhere that logistic regression is on your list of planned enhancements. Please add my name to the list of people who want this. Thanks!

[2017-08-08 07:17] #1883 closed

[2017-08-08 20:08] Zasahan opened #1905 "JASP Version 0.8.1.2 on Mac OSX 10.8.5"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version:Mac OSX 10.8.5
* Analysis: Almost all of the possible analyses (descriptives, T-tests, etc.)
This error pops up for descriptives:
Error: package or namespace load failed for 'stats'

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback, state = state)

.descriptivesDescriptivesTab

[2017-08-08 21:55] #1854 closed

[2017-08-08 21:55] #1672 closed

[2017-08-09 15:33] tvickery opened #1906 "Uninformative error message when repeated-measures factor name matches a between-subjects factor name"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Platform-independent (test Windows 10 + macOS Sierra)
* Analysis: If you name a repeated-measures factor the same name as a between-subjects factor in a mixed-effects anova, you receive an uninformative error message (pasted below). I eventually discovered that I had done this, but the error greatly puzzled me and it took so

[2017-08-09 15:38] FransMeerhoff commented on #1901
Hi @JimWeinrich

Thanks for your notification. Good for us to know in which enhancements people are really interested in.
And it is indeed on our planned enhancements. We are in the test phase of version JASP 8.2.0 but I can assure you that the release after that will contain it.

Kind regards
Frans Meerhoff

[2017-08-09 15:46] FransMeerhoff commented on #1898
Hi @vdsmagt

Although you mention that is a simple to column data file, can you please send this file to us.
You can add it to a zip file and drag and dropout to this issue .
Thanks in advance.

Kind Regards
Frans Meerhoff

[2017-08-09 15:46] fspors opened #1907 "Exporting images of RM-ANOVA result tables"
JASP version: 0.8.1.1
OS name and version: Windows 7
Analysis: Repeated-measures ANOVA
- Exporting images of graphs is possible, but that doesn't work for result tables
- Copying and pasting table content works in MS Word, but not in Google docs (or Google slides), and even in MS Word, the formatting changes
- Ideally would be to save images of result tables as they appear in the JASP analysis win

[2017-08-10 06:41] vdsmagt commented on #1898
[Archive.zip](https://github.com/jasp-stats/jasp-desktop/files/1213842/Archive.zip)
Both the accompanying csv file and the jasp file

[2017-08-10 08:55] TimKDJ commented on #1907
@akashrajkn could you look at this?

[2017-08-10 09:02] TimKDJ commented on #1906
You are correct, we do not check for this.
I can imagine that the error message left you rather confused ;)

It shouldn't be a very hard thing to add. Thanks for notifying us!

[2017-08-10 09:20] FransMeerhoff commented on #1905
Hi @Zasahan

Let's first check if the stats package is available after out installation.
Out R installed packages reside in
/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/3.3/Resources/library
Could you check if the 'stats' package is available there?

Kind Regards
Frans Meerhoff

[2017-08-10 09:27] #1901 closed

[2017-08-10 21:02] janeller555 opened #1909 "Repeated Measures ANOVA issues"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Mac OS Sierra 10.12.6
* Analysis: Repeated Measures ANOVA
<img width="686" alt="screen shot 2017-08-10 at 9 57 33 pm" src="https://user-images.githubusercontent.com/30911419/29191973-7ca5fef6-7e17-11e7-9d85-ce08b392c6a0.png">

Help.
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-08-10 21:53] Zasahan commented on #1905
Hello
Thanks for helping out
The stats package is available in that location

[2017-08-11 07:36] TimKDJ commented on #1909
Did you happen to name one of your RM factors the same as one of your between-subject factors?
The reason I ask is because your stacktrace is identical to the one reported in issue #1906.

If this is not the case, could you please provide us with a .jasp file (zip it and attach it to this post), so we have a better idea of what is going on?

[2017-08-13 14:16] EJWagenmakers opened #1910 "OSF folder list"
It would be great to be able to view the folders in the OSF either alphabetically or chronologically. Right now the order appears a little random, which makes it difficult to find the folder you're looking for (especially if you have many)

E.J.

[2017-08-14 15:02] aknight1-uva opened #1911 "Working directories are non standard."
## Environment (for bugs)

* JASP version: All
* OS name and version: Windows (since Win95 + IE4.0), OS/X (all), Ubuntu (all).
* Analysis:
The paths returns by the Dirs object are frequently in error:
Dirs:appDataDIr() on Windows returns a directory that does not roam - I.e. the directory returned was deprecated with Windows 9x or thereabouts.
Dirs:appTempDir() and Dirs:get_shared_dir() return a d

[2017-08-15 07:52] FransMeerhoff commented on #1898
Hi @vdsmagt

Thanks for the data.
I'm now able to reproduce the error.
When there is a solution (or a temporary work around) we let you know soon.

Kind regards
Frans Meerhoff

[2017-08-15 07:54] AlexanderLyNL commented on #1791
Hi Nikita,

Could you please send us the data file?

Cheers,
Alexander

[2017-08-15 08:13] NikitaKhromov-Borisov commented on #1791
Hi,
these are the data

JASP

*Contingency Tables*

*Contingency Tables *

*PPI *

*Inf *

*1 *

*2 *

*3 *

*Total *

1

1.00

0.00

2.00

3.00

2

5.00

1.00

4.00

10.00

3

5.00

6.00

3.00

14.00

4

2.00

0.00

0.00

2.00

5

1.00

0.00

1.00

2.00

6

1.00

1.00

1.00

3.00

7

1.00

1.00

1.00

3.00

8

1.00

1.00

0.00

2.00

9

0.00

1.00

1.00

2.00

10

1.00

1.00

0.00

2.00

11

0.00

[2017-08-15 08:14] AlexanderLyNL commented on #1791
Can you please send the .jasp file to my a.ly@uva.nl

[2017-08-15 08:22] AlexanderLyNL commented on #1864
I'm closing this issue for my overview, but it doesn't mean that I'm not considering this. Please let us know how it went and if you have any other suggestions for jasp. We'll releasing descriptives with split functionality soon.

[2017-08-15 08:22] #1864 closed

[2017-08-15 08:26] AlexanderLyNL commented on #1896
I'll merge this with #1897

[2017-08-15 08:26] #1896 closed

[2017-08-15 08:26] AlexanderLyNL commented on #1894
We'll have a look at it once a couple of people are back.

[2017-08-15 08:34] AlexanderLyNL commented on #1837
I'm only bumping this to high priority so we will make a decision about this.

[2017-08-15 08:37] AlexanderLyNL commented on #1830
Hi Lisa and Phehks,

Could you please attach the JASP file as a zip file in this issue?

Cheers,
Alexander

[2017-08-15 08:38] AlexanderLyNL commented on #1838
I only put it on high priority to be done with this soon.

[2017-08-15 08:46] #1828 closed

[2017-08-15 10:02] aknight1-uva commented on #1894
Cant reproduce with upstream/development (15-08-2917) on ubuntu: 4.4.0-91-generic #114-Ubuntu SMP Tue Aug 8 11:56:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-08-15 10:26] aknight1-uva commented on #1894
@bogdanlalu
I have noticed that ubuntu 16:04 has had a couple of kernel updates in the last couple of weeks (I update dally). I would suggest that you try again after updating Ubuntu OS. If this doesn't help, we are going to have to try and figure-out how your Ubuntu installation is different from mine.
--
Patrick

[2017-08-15 10:43] bogdanlalu commented on #1894
@aknight1-uva Hi there. I'm updating every few days. The problem is still there, even today.
If I run 'uname -a ' i get this:
Linux 4.10.0-32-generic #36~16.04.1-Ubuntu SMP Wed Aug 9 09:19:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Please let me know what other info you might need, I'm happy to help.

[2017-08-16 07:30] bramzandbelt commented on #660
I was thinking of implementing logistic regression using the Savage-Dickey method. Good to hear that you have a first version working already. Any chance I can help testing it?

[2017-08-16 07:44] EJWagenmakers commented on #660
Hi Bram! @vankesteren

Classical logistic regression only awaits testing -- you are more than welcome to help out. With respect to the Bayesian equivalent, please PM me for details.

Cheers,
E.J.

[2017-08-16 13:54] AlexanderLyNL commented on #1791
Hi Nikita,

@TimKDJ found that the data leads to a matrix of all ones, we'll update the error message accordingly. Thanks for figuring this out for us.

<img width="1320" alt="screen shot 2017-08-16 at 15 53 08" src="https://user-images.githubusercontent.com/10271675/29366738-223e5dc2-829b-11e7-8903-2aa557988ee5.png">

[2017-08-17 07:27] fplatz commented on #1450
Hi! The new improvements were really great, but unfortunately the multiple comparison approach in BANOVA has not been implemented so far. Perhaps it could be extended by the calculation of a Bayes Factor for each contrast? That would be really nice and give researchers the opportunity of a hypotheses-competing discussion (ie. which contrast as a formalisation of a hypothesis will be supported by t

[2017-08-18 08:37] vdsmagt opened #1920 "column/variable order csv/jasp"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Mac OS 10.12.6
* Analysis:
After elaborating a .csv file (opened through Jasp), and adding multiple columns (not in systematic order, and changing the order several times), the column order in the JASP data vier, AND in the variable list when starting/changing analyses is messed up. Some variables appear at the end of the li

[2017-08-19 14:01] EJWagenmakers commented on #1450
The upcoming release (hopefully in a few days) will have post-hoc tests for ANOVA. We are still working on the contrasts.
Cheers,
E.J.

[2017-08-21 03:15] bazar0ff commented on #1877
Thanks for looking into this.  Weighting is done to balance the response from groups of participants that are either under or over represented in a population. For example, if we know that a population is 55% female and 45% male, but our sample is 65% female and 35% male, weighting would address this to better reflect the attitudes of the general population.  I usually only weight when my sample i

[2017-08-22 09:39] kevinvschie opened #1921 "PostHoc output disappears"
## Environment (for bugs)

* JASP version: 0.8.2.0
* OS name and version: Windows 7 Enterprise
* Analysis: posthoc test after BANOVA

Running posthocs seems to work fine. JASP produces an output table. However after a couple of sections the output table is removed. It's possible to rerun the posthoc tests and the output table appears again, but after that it disappears too.

[2017-08-22 09:40] AlexanderLyNL commented on #1921
Hi Kevin,

Could you please send us the JASP file in a zip file? Then we can have a look at it.

Cheers,
Alexander

[2017-08-22 09:41] AlexanderLyNL commented on #1805
Included in 0.8.2.0

https://jasp-stats.org/download/

[2017-08-22 09:43] #1805 closed

[2017-08-22 09:44] #1791 closed

[2017-08-22 09:49] kevinvschie opened #1922 "Enhancement request: changing figures"
## Environment (for enhancement requests)

* Enhancement: being able to change elements of figures, such as the name of the y-axis (specifically when performing a RM BANOVA), or to change the location of the legend, change the indicators, change the length of the y-axis, change colors to own preferences etc. Also, it would be great if somewhere the numbers for the 95% credible interval could be di

[2017-08-22 09:54] kevinvschie commented on #1921
Sure, where can I send it too?

[2017-08-22 10:00] AlexanderLyNL commented on #1921
a.ly@uva.nl please.

[2017-08-22 12:35] TimKDJ commented on #1921
Thanks for bringing this to our attention @kevinvschie!
I can reproduce the problem and will work on a fix.
This appears to be an older bug (I can also do reproduce it in the frequentist RM ANOVA of version 0.8.1.2).

[2017-08-22 13:00] kevinvschie commented on #1922
Related to this: it would be great being able to save figures (as 300 dpi tiff) when they are plotted within the ANOVA functions. Now you only seem to be able to copy figures with this resolution from descriptive plots.

[2017-08-22 14:59] JohnnyDoorn commented on #1906
This issue will be fixed in the next release, I just updated the code!

[2017-08-22 14:59] #1906 closed

[2017-08-22 15:00] JohnnyDoorn commented on #1893
The next release of JASP will have effect sizes for the post-hoc tests - with a little warning message about multiplicity.

[2017-08-22 15:00] #1893 closed

[2017-08-23 14:48] JohnnyDoorn commented on #1890
So I checked out this issue,and it might be the case that the data are balanced, in which case the types of the ANOVA all provide the same results.
The R-code that JASP uses is quite straightforward:
[code]
So I do not think it's a problem with JASP. Did the submitter include a datafile/R-code that he used?

[2017-08-23 14:51] TimKDJ commented on #1890
@JohnnyDoorn you can find R code in the email I forwarded (titled "Fw: New Message via the JASP Website").

[2017-08-23 14:51] #1811 closed

[2017-08-23 20:15] EJWagenmakers opened #1926 "Feature request"
From the JASP Email:

"It would be great if the principal component factor analysis can provide Kaiser-Meyer-Olkin (KMO) index and Bartlett’s test of sphericity, as well as eigenvalue and explained variance of each factor loading in the next version of JASP."

These are good ideas I think, one of us should look at this and give it an upgrade.

[2017-08-24 06:31] ZoeMF commented on #1893
Thank you, that's fantastic!

Zoe

On 22 August 2017 at 16:00, JohnnyDoorn <notifications@github.com> wrote:

[2017-08-24 06:49] HorwoodP opened #1927 "Hide observed cell counts in contingency tables when checkbox is cleared"
* JASP version: 0.8.2
* OS name and version:  Windows 10, version 1607

I've noticed that Observed cell counts are displayed in contingency table regardless of whether the Observed checkbox is ticked or not.

Would it be possible to suppress the display of Observed cell counts when another of the cell display options are ticked (e.g. Column Percentages) and the Observed box is not ticked?

[2017-08-24 07:21] vdsmagt opened #1928 "eps export and text"
## Environment (for bugs)

* JASP version: 0.8.2.0 (and earlier)
* OS name and version: mac os 10.12.6
* Analysis:
Text on graphs exported to .eps (and .pdf in the newest version) is highly pixelated, also missing symbols. The latter also occurs for the conversion to .tiff. Is there a problem embedding (or converting) fonts? In fact, the only 'nice' export is the .png version, but this cannot be e

[2017-08-24 08:39] EJWagenmakers opened #1929 "Bayesian correlation "terminates unexpectedly""
![correlationterminatedunexpectedly](https://user-images.githubusercontent.com/8603015/29657614-73d693ac-88b8-11e7-8729-5eb68d304b55.png)
@AlexanderLyNL
See attached files
[CorrelationTeminatedUnexpectedly.txt](https://github.com/jasp-stats/jasp-desktop/files/1248209/CorrelationTeminatedUnexpectedly.txt)

[2017-08-24 08:40] EJWagenmakers opened #1930 "Bayesian correlation, posterior not drawn quite right"
[CorrelationPosteriorNotDrawnQuiteRight.txt](https://github.com/jasp-stats/jasp-desktop/files/1248213/CorrelationPosteriorNotDrawnQuiteRight.txt)
@AlexanderLyNL
See attached files.
![correlationposteriornotdrawnquiteright](https://user-images.githubusercontent.com/8603015/29657656-938102aa-88b8-11e7-8a5d-cbd7e5b6a80b.png)

[2017-08-24 08:43] EJWagenmakers opened #1931 "Bayesian Correlation Pairs: Plotting not possible and scaling"
@AlexanderLyNL
1. The scaling on the scatterplot is not ideal (all values between 1990 and 2017, scale runs from 1700 to 2300).
2. After the first 4 or 5 observations, there is a Bayes factor, but "plotting is not possible". I then collected some additional data (in class) after which plotting was possible. But when you select "sequential plot", the error message re-appears. Apparently there is so

[2017-08-24 09:39] TimKDJ commented on #1927
Yeah, that makes sense.
What good is a checkbox otherwise.

[2017-08-24 09:41] TimKDJ commented on #1922
Definitely high on our to-do list. Some initial work is already in progress.
It requires some large changes, though, so it might be a little bit.

[2017-08-24 09:43] EJWagenmakers opened #1932 "Feature request: "undo/restart" button"
SPSS has a button in the input menu that, when pressed, returns the input panel to its original state (all analyses removed, input options reset to their defaults, all variables unselected). We might want to include something like this as well.

Cheers,
E.J.

[2017-08-24 09:45] TimKDJ commented on #1928
That is definitely not right.
@vankesteren can you have a look at this?

[2017-08-24 09:49] EJWagenmakers opened #1933 "Bayesian correlation pairs error"
Bayesian correlation pairs allows you to enter multiple pairs of values. If you take the Big 5 data set, and enter the pair "Neuroticism - Conscientiousness" multiple times, the third time gives an uninformative error.
@AlexanderLyNL
![terminatedunexpectedlymultiplepairs](https://user-images.githubusercontent.com/8603015/29660716-47c2911c-88c2-11e7-9e69-603c23be7b72.png)

[2017-08-24 20:46] JamesChrHarman opened #1934 "Feature request: data weighting"
## Environment (for enhancement requests)

* Enhancement: Function whereby a single variable in a dataset can be set as a "weight" giving additional weight to cases with a higher value and less emphasis on cases with a lower value.
* Purpose: It would be great to include this function as many surveys suffer from skewed non-response by certain demographic groups and require weighting to be fully re

[2017-08-24 20:49] JamesChrHarman opened #1935 "Feature request: cluster and latent class analysis"
## Environment (for enhancement requests)

* Enhancement: Inclusion of two-step cluster and latent class analysis techniques
* Purpose: This would help analysts to estimate latent nominal classes in addition to the latent interval factors approximated by factor analysis.

[2017-08-25 08:15] lindeloev commented on #1743
I have the same problem with JASP 0.8.2 on Ubuntu 16.04. My R packages are in `~/.R/` and `/usr/local/lib/R/site-library/` is empty.

Error when doing EFA on the Big5 example data:

[code]

[2017-08-27 14:12] tressoldi opened #1936 "Feature request: add Robusteness check additional info of summary stat to the main analyses"
* Enhancement: add Robusteness check additional info of summary stat to the main analyses
* Purpose: it is a useful info to have also for the the "non summary" stats

[2017-08-27 18:22] EJWagenmakers commented on #1936
@akashrajkn
I agree it would be nice if the t-test in JASP common has the same cool robustness check functionality as the t-test in JASP Summary Stats. We'll deal with this.
Cheers,
E.J.

[2017-08-27 21:21] AlexanderLyNL commented on #1936
I'll manage this.

[2017-08-28 13:13] Pokroy opened #1938 "Matching groups of data"
## Environment (for enhancement requests)
* Enhancement: one to one match of data samples in order to match the baseline characteristics of two data groups as closely as possible
*Purpose: When the items in the various experimental groups differ on one or more variables, but need to be matched for all other factors that can affect the outcome measure, selecting the best-matching items from larger

[2017-08-29 07:43] FransMeerhoff opened #1939 "JASP not opening"
## Environment (for bugs)

* JASP version:
* OS name and version: MacOS Sierra
* Analysis:

I’m using MacOS Sierra and I am unable to open JASP. I’ve downloaded XQuartz and gone through Apple security measures. JASP just quits unexpectedly every time I try to open it.

khoward027@gmail.com

[2017-08-29 12:44] quentingronau opened #1942 "Implement Smarter Starting Value for Newton-Rhapson in B. Informed T-Tests"
Suggestion by Richard: Maybe use quantile value based on conjugate analysis?

[2017-08-29 13:01] EJWagenmakers opened #1943 "Bug in sum stats t-test with informed priors"
See attach
![buginttest](https://user-images.githubusercontent.com/8603015/29822178-dfb0faac-8cca-11e7-8dc0-2f74a90befb7.png)

[2017-08-29 13:13] hoogkpx opened #1944 "Unstable behaviour in sum stats for t-test with informative prior"
![sumstats_v1](https://user-images.githubusercontent.com/14014358/29822652-7a1a34b8-8ccc-11e7-8465-2c87ef34131e.png)
![sumstats_v2](https://user-images.githubusercontent.com/14014358/29822653-7a1c89d4-8ccc-11e7-89c3-662c7c7c02ee.png)

## Environment (for bugs)

* JASP version: 0.8.2.0
* OS name and version: Windows 7 (64 bit)
* Analysis: sum stats t-test
## Environment (for enhancement requests)

[2017-08-29 13:15] #1891 closed

[2017-08-29 13:20] quentingronau opened #1945 "Display (optionally) more or less decimal digits (e.g., for correlations)"

[2017-08-29 13:37] EJWagenmakers commented on #1944
The error message is unavoidable, but its contents may be improved; instead of "infinite value encountered" it should say something along the lines of "posterior too peaked" (or: prior too peaked). @quentingronau, maybe you know best who can help fix this -- @TimKDJ perhaps?

[2017-08-29 13:49] mvanlaethem commented on #1945
Yes, that would be great. I often use 2 decimals in correlation tables, it would come in handy to be able to switch the amount of decimal places after the point from 3 to 2.

[2017-08-29 13:55] EJWagenmakers commented on #1945
Is the number of decimal places a setting we could make general, just as we did for exact p-values? Would allow users to quickly obtain more or fewer decimal places upon demand, for any analysis.
E.J.

[2017-08-29 13:56] mvanlaethem opened #1946 "Flip (maybe optionally) the correlation table in such a way that all correlations are displayed below the diagonal instead of above the diagonal"
![screen shot 2017-08-29 at 15 55 31](https://user-images.githubusercontent.com/31443403/29824703-86d251c6-8cd2-11e7-9c4e-3255f0c710f7.png)

Example of how it looks now.

![screen shot 2017-08-29 at 15 54 36](https://user-images.githubusercontent.com/31443403/29824708-87d8575a-8cd2-11e7-9a57-02a4a8e509b2.png)

How it would be even more helpful for exporting to word and creating correlation tables

[2017-08-29 14:02] EJWagenmakers commented on #1946
Agreed! 👍
@TimKDJ , can you take care of this, or find somebody else to do so? :-)

[2017-08-29 14:29] TimKDJ commented on #1945
I think we can make this a general preference.
I'll have a look.

[2017-08-29 14:30] TimKDJ commented on #1946
Yes, I'll add an option to flip the table.

[2017-08-29 14:36] TimKDJ commented on #1938
Thank you for the request.
I will have a look at your reference and discuss this possible feature with the team.

[2017-08-30 07:27] FransMeerhoff commented on #1943
Hi @akashrajkn
See you soon!
Can you have a look at this one, or assign it to the proper person?

[2017-08-30 07:37] FransMeerhoff commented on #1935
Hi @EJWagenmakers

Can you have a look at this request

[2017-08-30 07:40] EJWagenmakers commented on #1943
Quentin might want to help out here.
EJ

On Aug 30, 2017 09:27, "FransMeerhoff" <notifications@github.com> wrote:

[2017-08-31 13:21] aknight1-uva opened #1951 "JASP-Tests broken on Windows"
* JASP version: upstream/development (as of 31-08(
* OS name and version: Windows (any)
* Analysis: Automated tests in JASP-Tests are broken: Test files directory cannot be found, resulting in an unhandled exception - The basic reason for this is that path-names of the form
some-dir\\..\\someother-dir are illegal on windows.
* Steps to reproduce:  Run on Windows

[2017-08-31 13:31] AlexanderLyNL commented on #1951
Hi Patrick,

Am I correct that this relates to issue #1911 ?

Cheers,
Alexander

[2017-08-31 21:20] akashrajkn commented on #1951
@aknight1-uva JASP-Tests project searches for TestFiles. you need to unpack the TestFiles.zip present in the path: Resources/

PS: Restructuring (and rewriting) the tests is on top my list. I will implement it in the near future.
Cheers.

[2017-09-01 12:26] AlexanderLyNL commented on #1935
This is definitely an interesting enhancement, though, I think that we should implement some simpler stuff first. I'll plan this into one of our later releases.

[2017-09-01 14:06] EJWagenmakers commented on #1935
I agree with Alexander. Very interesting enhancement, also from a Bayesian perspective, but for a later release.

[2017-09-01 14:57] JamesChrHarman commented on #1935
Thank you! Perhaps my request for data weighting could be considered as a higher priority, though? It's pretty essential when working with survey data.

[2017-09-03 12:34] EJWagenmakers opened #1953 "Omnibus Test for ANOVA"
For the classical ANOVA's, can we have an omnibus test please? For why we need it see

Cramer, A. O. J., van Ravenzwaaij, D., Matzke, D., Steingroever, H., Wetzels, R., Grasman, R. P. P. P., Waldorp, L. J., & Wagenmakers, E.-J. (2016). Hidden multiplicity in multiway ANOVA: Prevalence, consequences, and remedies. Psychonomic Bulletin & Review, 23, 640-647. (link on my webpage)

E.J.

[2017-09-03 12:37] EJWagenmakers opened #1954 "Long filenames revealed by mouse?"
Suppose I have several variables:
1. ThisIsAVeryLongNameThatOnlyRevealsItsTrueIdentityAtTheEnd_A
2. ThisIsAVeryLongNameThatOnlyRevealsItsTrueIdentityAtTheEnd_B
3. ThisIsAVeryLongNameThatOnlyRevealsItsTrueIdentityAtTheEnd_C
4. RT

Now suppose I want to run an ANOVA with "RT" as the dependent variable, and 1 and 3 as predictors. The problem is that the windows for dragging and dropping variables are

[2017-09-03 13:29] EJWagenmakers opened #1955 "Problem in Informed T-test"
Suppose I find a good effect in the negative direction, and I test one-sided (with mass only on the negative effect sizes). Next I specify an informed prior that is Normal with mean=1 and SD=0.1. Note that this informed prior has almost no mass on the negative values. There is a result (not sure whether it is correct), but the dots certainly appear to be misplaced. Yes I had to make some silly cho

[2017-09-03 15:31] AlexanderLyNL commented on #1933
This also happens to the Bayesian paired t-test when the prior and posterior plots are selected. It's a state problem. I'm thinking about redesigning these two analysis as it also brushes on the plot problem.

[2017-09-04 11:36] akashrajkn commented on #1894
@aknight1-uva I got this issue on mac (tested on Sierra) also. Here's a way to reproduce it -

Use a large dataset (tested on a 14MB file). Run Bayesian Linear Regression (it takes a lot of time due to the size of the dataset). Close JASP before getting the output. Ideally this should kill all the child processes.

But for this scenario, "JASPEngine 0" process is orphaned and continues to execute

[2017-09-04 13:34] knaeckebrot0815 commented on #1111
Would it be possible to add the information which kind of error bar is plotted in a footnote? And/or make it an option which one is used (or whether both are plotted)?

Especially in mixed designs, the majority of users might assume that the error bars are "normal" between-subject error bars, but both might make sense depending on the question being answered. Especially since the summary statistic

[2017-09-04 14:44] JohnnyDoorn commented on #1330
The confidence interval that is calculated is centered on the mean difference in the data, rather than the specified test-value. The test-procedure then consists of checking whether the test-value is located in the confidence interval, so it should not be centered on the test-value.

[2017-09-04 14:44] #1330 closed

[2017-09-04 15:10] JohnnyDoorn opened #1956 "Feature request: data aggregation"
## Template for enhancement requests

* Enhancement: allow for data aggregation
* Purpose:
I just received a request at ESCoP, and it wasn't the first time this was brought up:
Some researchers would like to be able to use JASP for some preprocessing of their data. For instance, these researchers have 500 reaction times per participant per condition, and they would like to take the average per con

[2017-09-04 15:31] MartinvanLeerdam commented on #1330
Hallo Johnny,

Spreek je ook Nederlands? ​ (otherwise I'll send you a mail in English)

Zie onderstaand voorbeeld. Wanneer een andere test value wordt gekozen
blijft het 95% CI gelijk, en volgens mij klopt dat niet.

Groet,

Martin

2017-09-04 16:44 GMT+02:00 JohnnyDoorn <notifications@github.com>:

[2017-09-04 16:16] MartinvanLeerdam commented on #1330
Hi Johnny,

Dit voorbeeld is dezelfde data, maar dan met SPSS geanalyseerd. Hier wordt
wel het betrouwbaarheidsinterval rondom de sample mean difference
gecontrueerd. De alternatieve en, ik denk, gebruikelijke benadering is om
na te gaan of de waarde 0 in het interval ligt. Wat denk jij?

Groet,

Martin

2017-09-04 17:31 GMT+02:00 Martin van Leerdam <m.van.leerdam@gmail.com>:

[2017-09-04 16:18] MartinvanLeerdam commented on #1330
​

2017-09-04 18:16 GMT+02:00 Martin van Leerdam <m.van.leerdam@gmail.com>:

[2017-09-04 16:27] JohnnyDoorn commented on #1330
Hi Martin,
Nederlands mag ook! Bedankt voor alle info en feedback - je hebt gelijk dat het verwarrend is dat de "Mean Difference" wel berekend wordt op basis van de test value (als in, het gemiddelde van de variabele - de test value), maar het confidence interval niet. Ik zal even gaan overleggen met het team en kijken hoe we hiermee om kunnen gaan. Mijn gok is dat we de mean difference aan zullen

[2017-09-04 18:16] AlexanderLyNL commented on #1956
Hi Johnny, can you provide a use case? That'll help the process.

[2017-09-04 18:20] AlexanderLyNL commented on #1934
Is this a data wide weighting or does it depend on the analysis?

[2017-09-04 18:36] JamesChrHarman commented on #1934
Probably just a simple data-wide weighting function like the one in SPSS.

[2017-09-04 18:51] AlexanderLyNL commented on #1934
I'm not sure what you have in mind exactly, but I think you can fix it by double clicking the data set, set, which allow you to edit it.

https://youtu.be/1dT-iAU9Zuc

Does this help as a work around?

[2017-09-04 19:26] JamesChrHarman commented on #1934
I know about data synchronisation and I've seen the video, but weighting isn't about modifying the data. It's about using one particular variable to make some cases influence the results of an analysis more than others. This is to correct for biases which over-represent certain demographic groups in the sample. It's a pretty routine operation to apply a case weight and SPSS has a straightforward f

[2017-09-04 19:41] ManuelGimenes opened #1957 "Feature request: Simple effects in Anova"
* Enhancement: add simple effects analyses in Anova
* Purpose: would it be possible to include in JASP the possibility to test simple effects in Anova, please ? traditionnaly, when an interaction is significant (between two factors for example), it is interesting to describe this interaction by using simple effects (testing the effect of factor 1 for each condition of factor 2).

[2017-09-04 20:07] MartinvanLeerdam commented on #1330
Ha Johnny,

Graag gedaan. Je zou natuurlijk ook twee betrouwbaarheidsintervallen in de
tabel kunnen zetten; een voor de schatting van het steekproefgemiddelde, en
een voor het gemiddeld verschil met de testwaarde.

Groet,

Martin

Op 4 september 2017 om 18:27 schreef JohnnyDoorn <notifications@github.com>:

[2017-09-04 20:26] EJWagenmakers commented on #1956
I think this also relates to the request of being able to switch from long to wide format. In general there are a host of preprocessing steps that people take before they can analyze their data. For instance, I used to have one file for every subject. When analyzing the data, I had to do computations on the individual file and store the outcome in a single overall file. Then I would run the analys

[2017-09-04 20:32] EJWagenmakers commented on #1957
I strongly endorse this feature request. One of my friends kept an old Mac in his basement for 10 years, only because it had an antique stats program that did this analysis. Apparently it is very useful but few programs easily deliver it. Can we add this, please?

[2017-09-04 20:34] EJWagenmakers commented on #1934
This is an important request, and not the first one of its kind. We missed this because our expertise is not in survey data. We ought to add this feature, and it should not be too difficult. Let's give this some priority.

[2017-09-04 20:35] JamesChrHarman commented on #1934
Excellent, thank you!

[2017-09-04 20:37] paystobebayes opened #1958 "Issue with generating prior/posterior plot in paired samples t-test"
## Template for bug reports

* JASP version: 0.8.2
* OS name and version: Windows 7
* Analysis: Bayesian Paired Samples T-Test
* Steps to reproduce: 1. Open Bayesian Paired Samples T-Test procedure; 2. enter more than one pair of variables to compare in the right hand box; 3. request prior and posterior with additional info under plots; 4. for every prior/posterior plot after the first one, an err

[2017-09-05 12:31] TimKDJ opened #1959 "Vovk-Sellke option makes correlation crash"
* JASP version: 0.8.2
* OS name and version: macOS Sierra
* Analysis: Correlation Matrix
* Steps to reproduce:
1) From debug.csv add "debCollin1", "debCollin2" and "contNormal"
2) Tick "Flag significant correlations"
3) Tick "Vovk-Sellke maximum p-ratio"

I think the cause lies in the footnote the Vovk-Sellke option tries to add.

Edit: somewhat related, if you add "debInf" and then remove some ot

[2017-09-05 12:41] TimKDJ commented on #1958
Thanks for opening the issue Nathan.

Unfortunately, I can't reproduce the problem you describe.
If I add three pairs, I receive three prior/posterior plots.
I'm guessing this is unique to your data.
Is there any chance you could attach the .jasp file here with the problem you describe? (just go File -> Save As and then .zip it)
Alternatively you may send the .jasp file to t.dejong@jasp-stats.org

[2017-09-06 07:21] FransMeerhoff commented on #1905
Hello @Zasahan

Sorry for this late response, but we were quite busy releasing a new version on JASP.
So the question is :
Could you try if your problem is solved with the latest version of JASP 0.8.2 see https://jasp-stats.org/download/
 If not we have to investigate this issue further.

Kind Regards
Frans Meerhoff

[2017-09-06 07:41] FransMeerhoff commented on #1897
Hi @Mat-Teusz

I was wandering what the state of this issue is.
Did the zipped version of JASP work for you?

Kind regards
Frans Meerhoff

[2017-09-06 07:58] FransMeerhoff commented on #1743
Hi @guidocor @lindeloev

Since version JASP 0.8.1 we support R  version R 3.3
If you have an older version of R running, could you update R and
check if the problem is solved?

Kind regards
Frans Meerhoff

[2017-09-06 08:17] FransMeerhoff commented on #1399
Hi @anomalosepia

If you still have this problem, or also on the latest version JASP 0.8., please reopen this issue.

Kind regards
Frans Meerhoff

[2017-09-06 08:17] #1399 closed

[2017-09-06 08:25] lindeloev commented on #1743
I have R 3.4.1 and JASP 0.8.2. Same error.

The library paths include `~/.R/` where `psych` package is installed, so maybe JASP is hard-coded to a particular directory instead of using `libPaths`?
[code]

[2017-09-06 14:55] EJWagenmakers commented on #1111
Seems sensible & useful. Thanks for the request. Bruno/Frans, can you perhaps assign this to somebody?
E.J.

[2017-09-07 07:18] FransMeerhoff commented on #1111
@TimKDJ

Hi Tim, can you have a look at this one.
If you do any action on this  perhaps it is wise to make a new issue for this.
BTW see also
Error bars: standard errors #1116

[2017-09-07 09:24] FransMeerhoff commented on #1743
Hi @lindeloev

Unfortunately I'm still not able to reproduce this issue on a clean Ubuntu 16.04.3 machine also with R 3.4.1
Could you please start JASP from a terminal by simple by typing
~$ JASP
JASP now produces some output where all packages and versions are checked.
We are of course only interested in the psych package.
Can you find out what JASP says on that line there?

BTW this is a minimal

[2017-09-07 09:36] FransMeerhoff commented on #1939
Hi khoward,

Sorry for the late response but we do not know the status of

I’m using MacOS Sierra and I am unable to open JASP. I’ve downloaded XQuartz and gone through Apple security measures. JASP just quits unexpectedly every time I try to open it. I made an this issue for it.
https://github.com/jasp-stats/jasp-desktop/issues/1939

Do you still have this problem with the latest version of JASP

[2017-09-07 10:15] lindeloev commented on #1743
Sure, the output is below. I then tried firing up R from the console (instead of RStudio which I usually used) and running your install command. There were a few errors/warnings:

[code]

### Before running install command
[code]

### After running install command

[code]

[2017-09-07 16:29] mopodendo opened #1964 "Bug in Bayesian t-Test Sequential Analysis Graph"
## Template for bug reports

* JASP version: 0.8.1.2 + 0.8.2
* OS name and version: Win 10
* Analysis: Bayes t-Test
I noticed a bug when displaying the sequential Bayesian t-Test in the two latest versions. I get another (seemingly correct) chart with Version 0.8.1.1
I have attached pictures with the same analyses of the same data with version 0.8.1.1 and version 0.8.2. Notice the huge drop at the

[2017-09-07 16:43] AlexanderLyNL commented on #1964
Hi mopodendo,

Thanks for pointing this out to us. Would you be able to share the jasp file with us?

Cheers,
Alexander

[2017-09-08 10:17] vdsmagt commented on #850
May I add the Friedman to this enhancement request? Indeed If this functionality (both the Kruskal-Wallis and Friedman) is added I can finally get rid of SPSS for my undergrad stats course...

[2017-09-08 11:41] EJWagenmakers commented on #850
Well that's a lofty goal, so we'll work hard to do this. @JohnnyDoorn, how does this look?

[2017-09-08 13:54] TimKDJ commented on #1955
We have a bunch of issues open wrt to the ttest plots (e.g., #1943, #1944, #1958, #1964), any chance you could have a look @quentingronau?

[2017-09-08 14:56] mopodendo commented on #1964
Sure.
sim3-12529.jasp is the file done with version 0.8.1.1
sim3-12529-new.jasp is done with v 0.8.2.
[Bayes-tTest.zip](https://github.com/jasp-stats/jasp-desktop/files/1288230/Bayes-tTest.zip)

[2017-09-11 11:00] JohnnyDoorn commented on #850
I just looked into this and it certainly looks doable for the next release, or the one after that. We would have to look into how the present the output though - we can do it similar to the t-test, where the nonparametric result is included in the table, or we can give the nonparametric ANOVA's a separate table.

[2017-09-11 15:53] akashrajkn commented on #1481
@TimKDJ since you are working on unit-tests can you take a look at this?

[2017-09-11 18:34] kpeenz opened #1965 "JASP 0.8.2.0 error when starting up"
## Template for bug reports

* JASP version:
0.8.2.0
* OS name and version:
Microsoft Windows 10
* Analysis:
Installed JASP during last week (3 to 8 September).  It seems to have worked fine with initial tests using the sample data files included.  I upgraded Microsoft Office from 2007 to Office 365 (Office 16) this weekend and cannot get JASP to work.  The error message as displayed is as per att

[2017-09-11 19:08] kpeenz commented on #1965
Problem solved by uninstalling, rebooting the PC, then rerunning the installation after checking that the Program Files folders were all gone.  It now works again.

[2017-09-11 19:08] #1965 closed

[2017-09-11 21:49] lindeloev commented on #1260
This is a duplicate of https://github.com/jasp-stats/jasp-desktop/issues/902. I also want to cast my vote for this in both Bayesian and Linear regression.

[2017-09-12 07:43] AlexanderLyNL commented on #1965
Hi Kpeenz,

Thanks for reaching out. Glad to know that this got fixed.

Cheers,
Alexander

[2017-09-12 12:00] sebwin opened #1966 "opening PSPP authored SAV files fails"
## Template for bug reports
* JASP version: 0.8.2
* OS name and version: macOS 10.12.6
* Analysis: JASP successfully opens SPSS authored SAV files, but fails to open PSPP authored files. Previous versions opened them without problem.
* Returns: "Unable to open file. Cannot find charactor [sic.] set ascii"
* Steps to reproduce: Try opening attached SAV file.
[test.zip](https://github.com/jasp-stats

[2017-09-12 13:55] FransMeerhoff commented on #1897
@Mat-Teusz

If you still have this problem, please reopen it.

[2017-09-12 13:55] #1897 closed

[2017-09-12 14:02] #1678 closed

[2017-09-13 08:58] moritzkoerber opened #1969 "Report crucial information in factor analysis"
There is important information missing how the analysis proceeds. What is the method of extraction (maximum likelihood, principle axis factoring, something else)? And what are the parameters chosen for this method? How many iterations were done? How were missing values treated?

[2017-09-14 08:42] vandenman opened #1970 "Weird labels appear when changing the type of a variable"
## Template for bug reports
* JASP version: 0.8.2
* OS name and version: Windows 10
* Analysis: NA
* Steps to reproduce:

1) Open Debug dataset
2) Click on variable type Icon of "debBinMiss20"
3) Change to Numeric
4) Change back to Ordinal
5) Observe that suddenly -2147483648 appeared as label.
6) Next, running Descriptives with "debBinMiss20", tick Display frequency tables and the label appears a

[2017-09-14 11:25] esdalmaijer commented on #947
Can confirm that the bug still occurs in the latest JASP release (0.8.2), with a more informative error message:

[code]

[2017-09-14 11:49] vdsmagt commented on #850
This of course is the developer's expertise but maybe a separate table might be easier since you can have a post-hoc analysis (DSCF, Dunn-bof and/or durbin conover, etc.) attached to that as well

[2017-09-14 11:55] EJWagenmakers commented on #850
Yes, makes sense as a separate table, otherwise the output can quickly become confusing
E.J.

[2017-09-14 13:04] AlexanderLyNL commented on #1969
Good suggestions. We are going to update this analysis.

[2017-09-14 18:54] paystobebayes commented on #1958
Tim,

Sorry for the delay in responding. I just recently tried this procedure
again with the same data file and the problem did not emerge again. Sorry
for the confusion on this. Seems to have been a one time hiccup.

Thanks,
Nathan

On Tue, Sep 5, 2017 at 8:41 AM, Tim de Jong <notifications@github.com>
wrote:

[2017-09-14 18:55] AlexanderLyNL commented on #1958
Awesome, thanks for getting back to us. Please reopen if the problem returns. Thanks for your feedback.

Cheers,
Alexander

[2017-09-14 18:55] #1958 closed

[2017-09-16 18:25] macandchief commented on #1511
While it is using the icon Icon=/usr/lib/JASP/Resources/jasp.svg for .desktop file related stuff, what is it supposed to use otherwise? I mean there is usr/share/icons/gnome/scalable/mimetypes/application-jasp.svg, however in jasp.xml it is: icon name="jasp.svg" (in those .xml files for other software for mime mostly it's without .svg, like icon name="jasp" or rather icon name="application-jasp").

[2017-09-17 13:53] PeeWeed opened #1973 "404 Repository Not Found"
Hi,
since the JASP is an open source 'SPSS' we use at the university I have tried to run it on my Ub (Ubuntu 16.10). I followed the install guide but as far as I could get the terminal reports me this:

The system seems to meet some authentification issues for your repositories. If you have an idea how to help?
Thanks

[2017-09-18 11:37] JohnnyDoorn commented on #1959
I just talked to Quentin (macOS Sierra 10.12.6) and Don (windows 10), who also could not replicate the issue, just like myself (ubuntu 16.04). I'll discuss it with the developers, maybe they can zoom in on when/where this happens..

[2017-09-19 03:12] xxelloss opened #1975 "JASP Crashed after attempting to exclude an interaction effect term from Bayesian repeated measures ANOVA that was restored from a JASP file"
## Template for bug reports

* JASP version: 0.8.2
* OS name and version: macOS 10.12.6
* Analysis: Bayesian repeated measures ANOVA
* Steps to reproduce:
1. open the previously saved jasp file [https://drive.google.com/file/d/0B7d0K6pqVbHHcy1HTS1WNzJCVFU/view?usp=sharing](url) containing Bayesian repeated measures ANOVA
2. in the model tab, try to exclude the interaction effect
3. JASP is crashed

[2017-09-19 07:15] vandenman commented on #1975
Replicated on windows 10. The supplied link didn't work for me but a slight modification of it did. Attached the .zip. [bf_trans.zip](https://github.com/jasp-stats/jasp-desktop/files/1313332/bf_trans.zip)

[2017-09-19 14:37] SvenHeim-UDE opened #1977 "Cohen's d CIs change with hypothesis direction"
[cohens_wild-cis.zip](https://github.com/jasp-stats/jasp-desktop/files/1314628/cohens_wild-cis.zip)

## Template for bug reports

* JASP version: 0.8.2
* OS name and version: Arch Liunx
* Analysis: Frequentist Independent Samples t-Test
* Steps to reproduce: Attached .jasp File

See attached minimal dataset.

If the direction of hypothesis testing is changed, the CIs for _d_ change, which should n

[2017-09-19 19:14] SvenHeim-UDE commented on #1977
Ok, nevermind. Should have read Chapter 4 of Cumming (2014) on one-sided CIs. Stuff like that was not even barely mentioned in any of my stats courses.

[2017-09-19 19:14] #1977 closed

[2017-09-19 19:37] EJWagenmakers commented on #1977
One-sided CI are interesting and, imo, pretty counter-intuitive!
E.J.

[2017-09-19 19:51] SvenHeim-UDE commented on #1977
I completely agree. At first, it was a mindbender. But for starters I got a basic idea.

[2017-09-19 19:53] SvenHeim-UDE commented on #1977
I completely agree, At first, it was a mind bender. But for starters I got a basic idea.

[2017-09-20 07:16] #1939 closed

[2017-09-20 07:18] FransMeerhoff commented on #1905
Hello @Zasahan

If you still have this problem please reopen this issue.

Kind regards
Frans Meerhoff

[2017-09-20 07:18] #1905 closed

[2017-09-20 16:23] xxelloss opened #1981 "logBF discrepancy"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement: There is a discrepancy between the way to calculate logBF in the cases of Bayesian AN(C)OVA and correlation analysis. In the case of Bayesian AN(C)OVA, the option logBF calculates log e BF (natural log). On the other hand, in the case of Bayesi

[2017-09-20 21:35] EJWagenmakers commented on #1981
Good point. We should use natural logs everywhere, it is what people expect.
E.J.

[2017-09-21 05:15] JimWeinrich opened #1982 "Continous data graphed as ordinal in distribution plots"
## Template for bug reports
* JASP version: 0.8.2.0
* OS name and version: Mac OS X 10.11.6
* Analysis: Descriptives
* Steps to reproduce:
Choose "Descriptive statistics", then "Display distribution plots"
If there are gaps in the distribution (i.e., a variable with values of 1, 2, 3, 6, 7, 8, but no cases with 4 or 5) the distribution is plotted as if the variable consists of categories, so the b

[2017-09-21 05:38] JimWeinrich opened #1983 "Please give us the ability to customize X axis bin size, min, and max (and more)"
## Template for enhancement requests
* Enhancement: Allow users to customize presentation parameters for X axis (and Y axis)

* Purpose: If a variable could in theory have values from 1 to 10, but in a particular data set only actually takes values of 7, 8, 9, and 10, there seems to be no way to tell JASP to have the X axis run from 1 to 10. JASP instead (intelligently) notices that there are no v

[2017-09-21 09:26] JohnnyDoorn opened #1984 "SumStats Prior confusion"
## Template for bug reports

* JASP version: 0.8.2
* OS name and version: Ubuntu 16.04
* Analysis: SumStats T-Test
* Steps to reproduce:

See attached screenshot. When I load a JASP file that has some SumStats plots, and I look at the prior options used to produce that plot, it looks a little confusing. Even though an informed normal prior is used, the informed prior options are greyed out and the

[2017-09-21 09:47] lindeloev commented on #1984
Cannot reproduce on JASP 8.2, Ubuntu 16.04

![image](https://user-images.githubusercontent.com/1439417/30689861-9b6a6e32-9ec2-11e7-9c3f-3371efbc095a.png)

[2017-09-21 09:55] JohnnyDoorn commented on #1984
Hi Jonas,
What did you try to reproduce it? For instance, can you try opening the attached jasp file (in the zip file), and looking at the prior options?
Kind regards,
Johnny

[sumstatsTtest.zip](https://github.com/jasp-stats/jasp-desktop/files/1320713/sumstatsTtest.zip)

[2017-09-21 10:37] vandenman commented on #1984
Replicated on windows 10 by opening Johnny's .zip
![image](https://user-images.githubusercontent.com/21319932/30691862-8417aeb4-9ec9-11e7-96a0-ad9c3f3463da.png)

[2017-09-21 12:08] JohnnyDoorn opened #1985 "Additional info ticked by default"
## Template for enhancement requests

* Enhancement: Make "additional info" ticked by default when plotting prior and posterior
* Purpose: Saving you one click at a time!

@EJWagenmakers what do you think?

[2017-09-21 13:51] FransMeerhoff commented on #1973
Hello @PeeWeed

Yes,  unfortunately we do the (always planned) support of all the LTS versions of Ubuntu so 16.04 Xenial the latest LTS version will work. In between we try to deliver as much versions (you can imagine that it is quite time consuming support all the linux versions).  At this time we  do plan to deliver the Ubuntu 17.04 version for the next release JASP.

Kind regards
Frans Meerhoff

[2017-09-21 13:51] #1973 closed

[2017-09-21 17:24] lindeloev commented on #1984
@JohnnyDoorn, Still no UI error here when opening the file you sent and changing prior options.

[2017-09-21 23:21] EJWagenmakers commented on #1982
Thanks. We were aware of the "gap" issue. @TimKDJ @FransMeerhoff: did we agree on a solution?
E.J.

[2017-09-21 23:24] EJWagenmakers commented on #1983
Thanks for attending us to this. Yes, we are aware of the limited options for creating and adjusting plots, and we are working towards a comprehensive solution. But this may take some time to get done.
Cheers,
E.J.

[2017-09-22 09:04] JohnnyDoorn commented on #1984
Hi Jonas,
Sorry for the confusion - what I meant was that the way the settings look is a little confusing for people opening a jasp file that contains plots from the sumstats module. It's no explicit error message or crash, but more of a little gui thing.

[2017-09-22 12:08] RobertBiegler opened #1987 "Coorelations and Principal Components Analysis"
A student and I ran Bayesian correlations on the same data set, and got different results for the strongest correlations.  We tracked it to a difference between versions.  Versions 0.8.0.0 and 0.8.0.1 reported a Bayes factor of 4.760 +e37, while version 0.8.0.2 reports a Bayes factor of 2.198 e+306 on Pearson's correlations between A and D in the attached file "JaspTest.csv".  A disagreement by 26

[2017-09-22 15:50] ttaattyy opened #1990 "Analysis does not appear"
Hi there,
It seems like I am struggling with JASP. I work on Windows 7, JASP version 0.8.1.2. When I input the data for the analysis, nothing happen, and I cannot see any analysis. I had a new version previously 0.8.2, but this send me an error message of run time termination.
It is the same for all type of analysis. However, I have successfully uploaded a file from .csv
Could you please help me w

[2017-09-23 08:50] lindeloev commented on #1984
Oh, I did not notice that it initially displays wrong (so replicated here too, screenshot below). That's subtle. But when interacting with it (e.g. just pressing "informed"), the UI looks right.

Without having touched any settings:
![image](https://user-images.githubusercontent.com/1439417/30771643-d978c0a8-a04c-11e7-8dcf-17c3607a23ba.png)

[2017-09-23 11:12] boutinb commented on #1966
@sebwin I found the problem. This will be fixed in the next release (beginning of oktober).

[2017-09-23 11:15] #1966 closed

[2017-09-26 07:47] lindeloev opened #1995 "Enhancement: Prior plot and intervals without data"
**Enhancement:** Ticking off "prior and posterior" should plot the prior distribution without data. An additional option could show prior HPD ("Highest Prior Density"?) intervals. Currently, no plot is shown until data is entered.

**Purpose:** Bayesian inference sets prior(s) before updating beliefs from data. If JASP allowed for this, it would be great in multiple ways, though I'm mostly raising

[2017-09-26 09:50] #1945 closed

[2017-09-26 19:39] akashrajkn commented on #1200
@boutinb this issue is resolved I think.

[2017-09-26 19:41] akashrajkn commented on #1162
Pull Request #1998 solves this.

[2017-09-26 19:41] #1162 closed

[2017-09-27 13:25] #1845 closed

[2017-09-28 07:31] FransMeerhoff commented on #1995
@lindeloev

Thanks for this suggestion. At the moment we are at the in the middle of a new release 0.8.3 (with logistic regression), but we will really consider this enhancement in a near future release, because we agree that this suggestion can be useful especially for educational purposes. In general improving the plots is on our list (together with #1983 ), because we are aware that there are l

[2017-09-28 07:40] lindeloev commented on #1995
Thanks! I'm really excited about your upcoming release. I think it will be the one that allows me to finally ban SPSS from teaching.

[2017-09-28 07:57] FransMeerhoff commented on #1990
Hi @ttaattyy

I'm afraid I do not understand you quit well about your quote  'I had a new version previously 0.8.2, but this send me an error message of run time termination'. I Assume that you first installed the previous version 0.8.1.2 and afterwards the later version 0.8.2 that gave the run time error.
In those unclear cases we advise to try the following. We deliver this JASP for windows plat

[2017-09-28 08:05] ttaattyy commented on #1990
Hi Frans,
Thank you for the reply. The problem is sorted now. Just if anyone has a similar problem I would explain what happened. There was a conflict between versions of visual c++. So I uninstalled old versions. This solved the problem.
Kind regards,
Tatjana

From: FransMeerhoff [mailto:notifications@github.com]
Sent: 28 September 2017 08:58
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.gith

[2017-09-28 10:15] FransMeerhoff commented on #1987
@JohnnyDoorn

Hi Johnny, can you have a look at this one or redirect it to Alexander?

[2017-09-28 12:37] #1946 closed

[2017-09-28 13:01] #1959 closed

[2017-09-28 13:50] JohnnyDoorn commented on #1987
Hi Robert,
I just looked at your files, and tried to reproduce your findings. I did this using JASP version 8.2, which includes the latest bug fixes.
First off, for the Bayesian correlations - which variables did you try to correlate? I did not see any variables labelled A and D. When I put all variables in the Bayesian correlation matrix analysis, The highest Bayes factor equals about 2.6e+13 (be

[2017-09-28 13:56] AlexanderLyNL commented on #1987
Yes, we now do a consistency check on the computations. It would be great if we can identify the two variables that led to the discrepancy as this can be used as an additional check. Moreover, I'll do another calculation to check whether the output in our latest release is indeed correct.

[2017-09-28 14:34] RobertBiegler commented on #1987
Dear Johnny and Alexander

Thanks for the quick response.

First, I noticed that I had reported a problem with version 0.8.0.2 when I meant 0.8.2.0.  Rather important difference.  Sorry.

The attached CSV files show data sets I made up for testing.  The JASP files with the corresponding names and four digits at the end are Bayesian correlations from those data sets, coming from version 0.8.0.0 on

[2017-09-28 14:39] #1418 closed

[2017-09-28 14:43] JohnnyDoorn commented on #1987
Hi Robert,
Thanks again for taking the time to explain your query. I tried to do the PCA on the variables you indicated, but did not encounter the error - see also the attached screenshot of the output. Does this correspond to your settings?
![pca_robert](https://user-images.githubusercontent.com/15704203/30972833-f75a9b64-a46b-11e7-877a-c1b4b72987cf.png)

Kind regards
Johnny

[2017-09-28 16:35] RobertBiegler commented on #1987
Dear Johnny

Ø  I tried to do the PCA on the variables you indicated, but did not encounter the error - see also the attached screenshot of the output. Does this correspond to your settings?

Yes, it does.  I can ask Anne to run the same PCA on her machine, on JASP 0.8.2.0, to see whether the problem is machine specific, or install the newer version on my laptop, and test that way.

Regards

Rober

[2017-09-29 10:39] Maelle234 opened #2013 "Bug - This analysis terminated unexpectedly."
Hi,

Sorry but I have an issue with my 8.2 JASP software.
When I try to get any analysis, the message "This analysis terminated unexpectedly" appear

![capture d ecran 2017-09-29 a 12 29 07](https://user-images.githubusercontent.com/32388507/31012730-2b0b58d4-a513-11e7-917c-9e2f7c648e9e.png)

Can I have some help for that.
Thank in anticipation,

Regards
Maelle

[2017-09-29 15:51] akashrajkn commented on #2013
@Maelle234 can you please give more details - which OS are you using and which analysis gives you this error?

[2017-10-01 13:15] williamstome opened #2016 "Rcpp issue on 14.04"
* JASP version:
Most recent commit: 5eb99e95d95653cd9de0de21c67e9748a98dc77c
* OS name and version:
Ubuntu 14.04 (Trusty Tahr)
* Analysis:
Compilation fails on Ubuntu 14.04, with the following error re: Rcpp:

/usr/lib/R/site-library/Rcpp/include/Rcpp/storage/PreserveStorage.h: In instantiation of ‘void Rcpp::PreserveStorage<CLASS>::set__(SEXP) [with CLASS = Rcpp::InternalFunction_Impl<Rcpp::Prese

[2017-10-01 13:28] akashrajkn commented on #2016
@williamstome can you please tell me which version of Rcpp you are using? (Because, I'm able to build it successfully on my linux machine)

[2017-10-02 09:18] boutinb commented on #1990
@ttaattyy Happy to hear that it is solved. But if you can give us more details about the problem and its solution, that could help us to help other users.

[2017-10-02 09:18] #1990 closed

[2017-10-03 04:59] ayhanyalcinsoy opened #2018 "Factor Analysis error"
## Template for bug reports
* JASP version: 0.8.2.0
* OS name and version: Pisi Linux 2.0
* Analysis: Factor Analysis
* Steps to reproduce: when choose data it gives following error.

[code]

[2017-10-03 08:05] Maelle234 commented on #2013
*Hi, *

*Here my OS, and I have this message for all analysis (descriptives,
t-test, ANOVA,…)*
*(et en dessous tu colles l’image que tu m’as envoyé).*

*Regards, *
*Maelle*

Le vendredi 29 septembre 2017, akash raj <notifications@github.com> a
écrit :

[2017-10-03 12:07] EJWagenmakers opened #2021 "Failure to discriminate different JASP versions"
See screenshot
![differentversion](https://user-images.githubusercontent.com/8603015/31124303-31fb3004-a844-11e7-9d51-1bc59cc1f2ed.png)

[2017-10-04 07:50] aknight1-uva commented on #1951
_As written_, the tests are supposed to unpack themselves: They don't since the library that is supposed to  unpack them cannot find the library.

[2017-10-04 10:38] EJWagenmakers opened #2027 "New "About" window does not resize nicely"
See the green area in attached screenshot
![aboutbox](https://user-images.githubusercontent.com/8603015/31171703-f660fd18-a900-11e7-9101-ca124a9c4b3a.png)

[2017-10-04 10:45] FransMeerhoff commented on #2027
@EJWagenmakers

We've noticed these issue(s) on  other high def screens too ( Erik-Jan's).
I'm working on it. (You will probably have a similar issue on the preference window too.)

Cheers Frans

[2017-10-04 13:45] #1885 closed

[2017-10-05 10:04] AndrewDWilson opened #2032 "Feature request: Internal Update option"
As a fairly uncomplicated user, I would love the option to simply 'update' JASP rather than install the latest and uninstall the earlier versions. I mostly just want to be able to use whatever the latest features are and I'm generally not too worried about version issues.

[2017-10-05 10:26] boutinb commented on #2032
@AndrewDWilson This is indeed a good remark. We were already thinking about it. We will surely add this feature in a few months.

[2017-10-05 10:36] boutinb commented on #1970
Solved by Pull Request #2030

[2017-10-05 10:36] #1970 closed

[2017-10-05 10:39] TimKDJ commented on #2021
I don't really see what's incorrect in the screenshot. Can you explain why this behavior is wrong?

[2017-10-05 11:04] EJWagenmakers commented on #2021
You are right. I just read it way too quickly.

[2017-10-05 11:04] #2021 closed

[2017-10-05 15:07] TomasAPalma opened #2035 "Planned contrasts - ANOVA"
I would like to see in JASP a more complete package of planned contrasts for ANOVAS. For example, something similar to what we can find in STATISTICA, namely, to have the option to run all sorts of comparisons between all cells in any design (between, within, and mixed). If you had this option, I would probably use JASP for all my analyses.

[2017-10-05 16:24] EJWagenmakers commented on #2035
Yes we should do this, very important.
E.J.

[2017-10-05 16:37] TomasAPalma commented on #2035
Thanks for the reply E.J. Looking forward to that.
Keep up with the excellent work!

[2017-10-06 02:11] robustbayesian opened #2036 "Crashes when there's a very large correlation matrix"
* JASP version: 0.8.2.0
* OS name and version: Windows 10
* Analysis: Bayesian Correlation Matrix
* Steps to reproduce: Load up all 294 nodes and try to correlate them. It crashes.
[Eigenvector Adult.zip](https://github.com/jasp-stats/jasp-desktop/files/1361333/Eigenvector.Adult.zip)

[2017-10-06 09:50] TimKDJ commented on #2036
Thanks for notifying us @robustbayesian.

This appears to have the same cause as issue #1807; the output generated in R is too large to be parsed by one of our libraries (boost).
For this specific case we are looking at a table with 86,436 cells containing 43,071 correlation coefficients.

I believe @boutinb is working on a fix. Still, I think a table as such would be rather hard to interpret...

[2017-10-06 11:53] robustbayesian commented on #2036
What I'm really interested in are just the correlations of the 294 nodes
with the 4 trait measures. But that'd be inputting 1,176 bayesian
correlation pairs by hand, so it's easier just to look at a large matrix.
Is there any way to do that that I'm overlooking?

Thanks,
BV

On Fri, Oct 6, 2017 at 5:51 AM, Tim de Jong <notifications@github.com>
wrote:

[2017-10-06 13:48] #1921 closed

[2017-10-06 14:21] TimKDJ commented on #2018
We're actually in the process of reworking our factor analysis.
It is possible we've already fixed this issue, but we'll have to verify it.
Could you attach the .jasp file to this GitHub issue, or email it to t.dejong @ jasp-stats.org?
Cheers!

[2017-10-07 00:44] ayhanyalcinsoy commented on #2018
here is terminal output
[code]

[2017-10-07 00:45] ayhanyalcinsoy commented on #2018
it says lots of R package not installed. Really these all package should be installed and how?

[2017-10-07 10:05] FransMeerhoff commented on #2018
Hi @ayhanyalcinsoy

We agree we have some problems with distributing the R packages on different type of Linux platforms.
(On Windows and Mac the JASP setup distributes the packages we need. On linux we will develop a debian package but we do not have that available yet.)
For the moment a solution for you might be, if your R environment allows that,  installing the JASP R-packages manually by star

[2017-10-08 00:55] robustbayesian opened #2038 "Is the null hypothesis for correlations a point hypothesis or a very narrow prior spiked over zero?"
If the null hypothesis used in bayes factor calculation is a distribution, which is it?

Thanks

[2017-10-08 08:38] AlexanderLyNL commented on #2038
For (Pearson's) correlation we fix \rho to zero and let the means \mu_{1}, \mu_{2} and standard deviations \sigma_{1} and \sigma_{2} vary freely. The set-up is given in the paper

Ly, A., Verhagen, A. J., & Wagenmakers, E.-J. (2016). Harold Jeffreys’s default Bayes factor hypothesis tests: Explanation, extension, and application in psychology. Journal of Mathematical Psychology, 72, 19-32.

More d

[2017-10-09 07:32] Marian-Popa opened #2039 "Correlation variables WITH variables"
## Template for enhancement requests

* Enhancement:
Option to correlate one/more variables WITH other one/more variables.
* Purpose:
It covers the situation where we are not interested in the correlation matrix, but only the correlation of certain variables WITH other variables.
SPSS has this option only through syntax, although in an old version it was included in the correlation dialog box.

Be

[2017-10-09 09:33] EJWagenmakers commented on #2039
Makes sense. We'd have to see how the GUI needs to be changed to allow that.
E.J.

[2017-10-09 10:45] YamilVidal opened #2040 "Enhancement requests: Export tables to LaTeX, or image"
* Enhancement: Export tables to LaTeX, or image

* Purpose: Currently JASP exports tables only to HTML. Being able to export tables to LaTeX or images (e.g. .png) would facilitate to insert the output of JASP into publications.

[2017-10-09 11:20] EJWagenmakers opened #2041 "Awkward placement for credible interval box in Bayesian correlation pairs"
See attach. This can be improved (but it could also be my laptop)
![placementcredibleintervals](https://user-images.githubusercontent.com/8603015/31335828-92c560bc-acf4-11e7-8a2f-754d2cef0b07.png)

[2017-10-09 11:42] TimKDJ commented on #2036
Unfortunately, I can't think of any easy work-around right now.
We'll have to implement something like what was requested in #2039

[2017-10-09 11:44] #1981 closed

[2017-10-09 13:18] EJWagenmakers commented on #2040
I agree! We've often talked about this, but maybe we should proceed.

[2017-10-09 13:26] Marian-Popa commented on #2039
That old SPSS version had two boxes for selected variables in the correlation custom dialog, having the clause WITH between them. If the selected variables are put only in the first box, it produce a matrix correlation, otherwise it produce a correlation table between variables in the first box WITH the variabile from the second box.
Thanks,

M.P.

[2017-10-09 15:32] metamorphose42 opened #2042 "repeated measures anova, looking for the intercept"
Hi,

I was wondering why in JASP the intercept is not provided for a one-way repeated measures? I'm looking for the main effect of each of my comparisons across a between subject factor = intercept in SPSS... and was also hoping to get the BF for this.

Thanks!

Best,
Clarisse

[2017-10-09 21:14] akashrajkn commented on #2041
@EJWagenmakers This is because there is an option to specify the interval, but, it is visible only in the debug mode. Should I enable it for the release mode as well?
![credibleinterval](https://user-images.githubusercontent.com/6959308/31358831-8ead093c-ad47-11e7-8db5-a9a09e749298.png)

[2017-10-09 21:32] EJWagenmakers commented on #2041
If it works then it would be nice to add it.
EJ

On Oct 9, 2017 23:14, "akash raj" <notifications@github.com> wrote:

[2017-10-10 07:06] GuerreroMD opened #2043 "Bayesian Paired Samples T-Test Error "Missing value where TRUE/FALSE needed""
Hi all,

I am running a paired samples t-test and want to look at the Prior and Posterior graph but I am getting the following message: Missing value where TRUE/FALSE needed (see below). ![screen shot 2017-10-10 at 3 03 22 pm](https://user-images.githubusercontent.com/32665473/31373329-31642078-adcc-11e7-8bb1-a1fb39a88236.png)

I have double checked my data and there are no missing values.

FYI, I

[2017-10-10 07:23] AlexanderLyNL commented on #2041
Not yet, I haven't gone around to work out the state properly for this one.

[2017-10-10 08:56] #1936 closed

[2017-10-10 13:18] akashrajkn commented on #2043
@GuerreroMD Is it possible for you to attach the jasp file so that I can look into the issue?

[2017-10-10 20:41] Farscape1 commented on #1814
Thanks for adding the logsitic regression to  v .8.3. Any plans to add multinomial logistic regression.

Thanks,

[2017-10-10 22:33] EJWagenmakers opened #2045 "Preference Box on High Res Screen"
On my infamous laptop screen, the preference box looks suboptimal (see screenshot). However, I can fix that by simply resizing the box.
1. It would be nice if it looked good without having to resize;
2. The boxes for "OK" and "Cancel" are slightly too small, and I can't resize those.
E.J.
![prefboxonhighresscreen](https://user-images.githubusercontent.com/8603015/31413883-6e254952-ade9-11e7-8608-c

[2017-10-10 22:34] EJWagenmakers opened #2046 "About Box on High Res Screen"
See attach. On my infamous laptop, the About box is a bit small, and I cannot resize to make the text more readable.
E.J.
![aboutboxabitsmallonhighresscreen](https://user-images.githubusercontent.com/8603015/31413937-9e045820-ade9-11e7-8da0-f1e72decd57f.png)

[2017-10-10 22:37] EJWagenmakers commented on #1814
Absolutely. @vankesteren and I should discuss the options. Are there any R packages you like in particular?

[2017-10-10 22:39] EJWagenmakers opened #2047 "OSF login box"
On my (infamous) laptop with high-res screen, the OSF login box looks (much) worse than it did before. See screenshot.
E.J.
![osfloginscreen](https://user-images.githubusercontent.com/8603015/31414105-5170b52a-adea-11e7-8da0-078d2486a55d.png)

[2017-10-11 01:13] renenob commented on #1418
Thank you very much, JASP!

[2017-10-11 01:16] renenob commented on #931
Thank you for hearing us on Hierarchical Regression!  Will we see this feature in the near future, too?

[2017-10-11 01:27] GuerreroMD commented on #2043
Hi there,

I have attached the JASP file.

On a separate note, I am wondering if you could answer the following questions for me:

1. What does the "~" mean before the Error % value?
2. Does JASP give you an exact effect size value? If so, where can I find that?
3. What happens if the Bayes Factor is 8, the Error Factor is below 10 and the the 95% CIs cross through zero?

[Exp data only - JASP Upl

[2017-10-11 02:20] Farscape1 commented on #1814
I like the Ripley's nnet.

Thanks

[2017-10-11 04:27] GuerreroMD commented on #2043
Hi again,
Sorry - I forgot to include your handle. @akashrajkn
Michelle

[2017-10-11 07:38] AlexanderLyNL commented on #2043
Hi Michelle,

In a Bayesian setting, the Bayes factor and the posterior answer two separate questions. The Bayes factor BF10 tells you how much evidence there is for the alternative model against the null. For instance, BF10=8 means that the data are 8 times more likely under the alternative compared to the null. In this case the alternative model is allows the population mean mu to vary freely, w

[2017-10-11 07:44] GuerreroMD commented on #2043
Thank you so much for taking the time to explain that to me.

Any ideas as to why I am getting that error message?

Michelle

[2017-10-11 08:07] AlexanderLyNL commented on #2043
I've got some ideas and I'll get it fixed soon.

![image](https://user-images.githubusercontent.com/10271675/31428683-f10a943a-ae6b-11e7-8ef1-d997b262046c.png)

[2017-10-11 08:20] AlexanderLyNL commented on #2043
Great catch by the way, thank you. It'll be fixed in our next release (0.8.3.1, which will be released soon).

[2017-10-11 08:25] mozny opened #2048 "A wish: Confirmatory Factor Analysis"
* Enhancement: Confirmatory Factor Analysis
* Purpose: It is used to test whether measures of a construct are consistent with a researcher's understanding of the nature of that construct (or factor). As such, the objective of confirmatory factor analysis is to test whether the data fit a hypothesized measurement model. This hypothesized model is based on theory and/or previous analytic research.
I

[2017-10-11 08:29] vankesteren opened #2049 "HiDPI issues on Windows"
# HiDPI support in JASP
Due to their high resolution at a small screen size, some modern Windows laptops have issues with the JASP user interface. Common screen resolutions for such laptops are 3200x1800 ("Quad HD") or 3840x2160 ("4K"). A number of issues occurs in all versions of JASP. Examples of issues on such problems are #2047, #2046, #2045,  #2027, #1234 and #1212.

# Why is this an issue?
I

[2017-10-11 10:19] EJWagenmakers commented on #2043
If I recall correctly, the tilde appears when you do a one-sided test. The
one-sidedness introduces additional uncertainty, so the percentage shown is
a lower bound. A very tight lower bound, but still.
EJ

On Oct 11, 2017 04:20, "AlexanderLyNL" <notifications@github.com> wrote:

[2017-10-11 20:14] ayhanyalcinsoy opened #2051 "Cannot find charactor set wIndows-1254"
## Template for bug reports

I have a *.sav file opened with PSPP and SPSS. when I open it with JASP, following error occure.
"Cannot find charactor set wIndows-1254"

* JASP version:0.8.3
* OS name and version:PisiLinux 2.0
* Steps to reproduce: Open a *.sav file

[2017-10-11 20:54] Milan3462 commented on #1905
Hi there, have the same problem, just downloaded the latest version (8.3) and still have it now too...

-I was unable to verify what you stated as " Let's first check if the stats package is available after out installation. Out R installed packages reside in
/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/3.3/Resources/library
Could you check if the 'stats' package is available th

[2017-10-11 21:04] Milan3462 opened #2052 "JASP Version 0.8.1.2 on Mac OSX 10.8.5"
Hi there, just downloaded the 8.3 version and have this message:
Error: package or namespace load failed for 'stats'

I saw the previous thread about this problem, but didn't understand what you meant by

"Let's first check if the stats package is available after out installation.
Out R installed packages reside in
/Applications/JASP.app/Contents/Frameworks/R.framework/Versions/3.3/Resources/libra

[2017-10-12 06:34] GuerreroMD commented on #2043
Hi EJ and Alexander,

Sorry for the overload of questions, but I am new to Bayesian methods and have many questions! I am simply looking for one of you to confirm something for me. With respect to small sample sizes, I am under the impression that Bayesian methods are equipped to handle non-normally distributed parameters.

Michelle

P.S. I want to run Bayesian independent samples t-test with my d

[2017-10-12 08:19] FransMeerhoff commented on #2052
Hi @Milan3462

Sorry for the misunderstanding.
But I'm a bit confused too about this error.

Could you first describe when exactly this message occurs.
- Does JASP doesn't start at all and give this error?
- Does this error occur running some analysis?
Could you describe as specific possible the reproduction path?

What I meant was that on the Mac JASP.app is an application folder where all our in

[2017-10-12 08:32] mozny opened #2053 "Admin rights needed to install on Windows - it is useless for this kind of software"
## Template for bug reports

* JASP version: 0.8.3.0
* OS name and version: WIndows 7
* Analysis: It is not possible to install JASP without administrative rights. It is probably due to attempt to install it for all users. It would be great to install it wherever possible
* Steps to reproduce: Install as a user without admin rights

[2017-10-12 08:33] FransMeerhoff commented on #2051
Hi @ayhanyalcinsoy

Thanks for reporting this.
Could you send us an example file where this problem occurs?
(You can zip it and drag it to this issue)
Do you know if this file was built on a windows machine and later used on PisiLinux?

Cheers
Frans Meerhoff

[2017-10-12 08:43] FransMeerhoff commented on #2053
Dear @mozny

We made a special advanced download for this issue.
If you go to the download page of JASP and you scroll down to 'ADVANCED DOWNLOADS'
you will find a zipped version of JASP that is made of an already installed version.This means that if you download file from https://static.jasp-stats.org/JASP-0.8.3-64-bit.zip
( or https://static.jasp-stats.org/JASP-0.8.3-32-bit.zip for the 32 bit ve

[2017-10-12 09:23] AlexanderLyNL commented on #2043
Hi Michelle,

Bayesian methods come equipped with distributions for the parameters and with distributions for the data. Frequentist methods on the other hand only specify distributions for the data. Formally, a both the frequentist and Bayesian t-test are based on the assumption that the data are drawn from a normally distribution In addition, for the Bayesian t-test, there is also a (prior) distr

[2017-10-12 09:41] mozny commented on #2053
Great!

Thank you for immediate help!
Jasp is very good.

Regards

Ladislac

čt 12. 10. 2017 v 10:43 odesílatel FransMeerhoff <notifications@github.com>
napsal:

[2017-10-12 10:09] EJWagenmakers commented on #2043
Also, we are working on a rank-based Bayesian t-test; this test has
assumptions are less strict
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers.com
Book: bayesmodels.com

[2017-10-12 13:18] Milan3462 commented on #2052
Hi Frans, thank you for answering quickly.

Jasp opens up perfectly, loading up a data set (.csv format) works fine too. I am able to click the "descriptive analysis" button in "descriptives" too. However, when I choose data, put it in the "variables" rectangle and click "ok", I get this message:

Error: package or namespace load failed for 'stats'

Stack trace
analysis(dataset = NULL, options = o

[2017-10-13 07:25] lindeloev opened #2056 "Delete key and keyboard navigation"
I find myself repeatedly trying to delete selected results using the delete key. Similarly, I also press delete to remove selected variables in an analysis. As a user experience, JASP feels slightly unfinished or unresponsive when this doesn't work. It's not a major problem but it would be a nice polish.

Keyboard navigation works great for the selection of variables, but it would be nice if the "

[2017-10-13 14:06] thomaspmccoy opened #2057 "Fisher's exact test"
Thanks for the great software. Is it possible to add in a feature to do Fisher's exact tests for general RxC contingency tables?

[2017-10-14 05:55] WillemVlakveld opened #2058 "Version 8.3.0 Logistic Regression in Ubuntu 16.04. When the depedent variabele is selected a read error message appears . This problam does not appear in Windows."
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2017-10-16 09:07] rsgns opened #2060 "Logistic Regression Analysis Terminated Unexpectedly - Windows (0.8.3.1)"
* JASP version: 0.8.3.1
* OS name and version: Windows 10
* Analysis: Logistic Regression

Hi! I am in the middle of a logistic regression analysis with my boss and when adding the dependent variable for the analysis this message appears [https://i.imgur.com/2LIoe20.png](url) and I was wondering for possible solutions. Our dependent variable is a nominal data derived from excel OSD file, and wonde

[2017-10-16 15:53] akashrajkn commented on #2060
@rsgns thank you for reporting the issue. We will fix this as soon as possible. (i believe it is because of the space in the column header)

[2017-10-16 20:50] vankesteren commented on #2060
Confirmed that this is in the space of the column header! In the upcoming release this will be fixed. For the time being, I suggest renaming your column to `On_treatment`. Sorry for the inconvenience!

[2017-10-16 20:52] vankesteren commented on #2058
Sorry, this is not enough information for us to identify the problem. Could this be a duplicate of #2060?

If not, could you provide more info (e.g., screenshot, steps to reproduce)

Thanks!

[2017-10-17 00:54] rsgns commented on #2060
Hi JASP team,

No worries, had a feeling it was the header too haha. Thank you all very
much for your swift response, its very encouraging to see such effort and
it is truly appreciated. Have promoted your software across my campus and
will be spreading the word more!

Keep up the good work and never stop giving your best, we acknowledge and
appreciate all the efforts you guys do. All the best mov

[2017-10-17 05:59] rsgns commented on #2060
Hi, an update for your team :)

We managed to get the logistic regression analysis working, however we were only able to do our analysis after changing the headers to one word codes (eg Teen Youth = TNYTH). underlined spacing did not work and also produced errors similar to what we posted yesterday.

Thanks for the help, it's greatly appreciated!

[2017-10-17 07:34] vankesteren commented on #2060
Thanks for the great feedback and words of encouragement!

[2017-10-17 12:38] parnystrom opened #2061 "What are the ANOVA post-hoc mean differences?!?"
* JASP version:  JASP(Version 0.8.3.1)
* OS name and version: Windows 10
* Analysis: ANOVA
* Steps to reproduce: Any ANOVA with two factors

I've asked knowledgeable people at my department about how to interpret the post-hoc tests of main effects in the ANOVA function, and they thought this looked like a bug in JASP. As seen in the screenshot below the post-hoc mean difference between HR-ASD and

[2017-10-17 14:41] JohnnyDoorn commented on #2061
Hi,
Thanks for letting us know! Would you mind sharing your JASP-file, or datafile? This way I can try to replicate the issue and fix the potential bug. You can share it here, or send it by email to j.b.vandoorn ( at ) uva.nl
Kind regards
Johnny

[2017-10-17 16:11] JohnnyDoorn commented on #2061
After some investigating I found the culprit: we use the R-package multcomp. This package conducts post-hoc tests for linear models and contains a lot of neat features. When dealing with more than 1 factor in the ANOVA model, the interaction between the factors gets incorporated in the post-hoc statistics. This means that one factor influences another factor's post-hoc test.
As it is now, this is

[2017-10-17 21:19] EJWagenmakers commented on #2057
I looked online and found this comment, by Richard Gill -- is that what you
mean, including the "coin" R package?:

"There is a "Fisher exact test" for a general r x c contingency table.
Compare the observed value of the usual chi-square statistic not to an
asymptotic chi-square distribution but to the exact permutation
distribution of the chi-square statistic. That means: you allocate your N
obse

[2017-10-17 21:44] EJWagenmakers commented on #2056
Good suggestions.
Not sure whether the delete key is the right choice for undoing selection,
because what you really want is to move the variables back to the box where
they came from; so it seems more apt to use the left-arrow key (?) But
there's no harm in making the delete key have that functionality as well, I
guess.
E.J.

********************************************
Eric-Jan Wagenmakers
Depar

[2017-10-17 23:24] thomaspmccoy commented on #2057
Thank you for the reply.

Precisely. Using the Monte Carlo Resampling idea.

What I wanted to inquire as to if this procedure can be incorporated into
the JASP GUI as a choice of Statistics under Contingency Tables under
Frequencies, along with an option to specify the number of desired
resamplings.

This is the number 1 question I get from alumni who are non-statisticians -
but find that their ol

[2017-10-18 06:53] louisdesu commented on #2043
Hi everyone!

I'm getting the same error as already discussed above. I understand that the next release (0.8.3.1) will patch it, I'm just wondering whether that is likely to be happening in the next 3 weeks? I'm submitting my masters thesis, and would ideally include the effect size distributions.

Thanks for all your efforts, I've been using JASP quite heavily recently and it's an incredible reso

[2017-10-18 07:04] AlexanderLyNL commented on #2043
Hi Louise,

Thanks for the compliments. The bug is due to an interaction with the descriptive table and the trick (for now) is not to tick the Additional statistics - Descriptives box in the input panel of the paired t-test So the work around is to do the paired t-test and if you'd like a descriptive table you can do so by opening a new analysis via Descriptives in the ribbon top right.

Hope that

[2017-10-18 07:12] #2053 closed

[2017-10-18 07:24] GuerreroMD commented on #2043
Hi all,

Thank you, Alexander! I just checked my data and when I do what you
suggested it works.

Take care,
Michelle

On Wed, Oct 18, 2017 at 3:04 PM, AlexanderLyNL <notifications@github.com>
wrote:

--
Michelle Guerrero, Ph.D. Candidate & Cert. Health and Wellness Coach
Sport and Exercise Psychology Lab
University of Windsor
Email: guerrerm@uwindsor.ca
Office: 519-253-3000 ext. 4997
Website: www

[2017-10-18 07:47] parnystrom commented on #2061
Great! Thank you for your clarification and for your super-fast response!!! Knowing that JASP uses multcomp also gives us possibilites to dig further :)

[2017-10-18 07:54] FransMeerhoff commented on #2052
HI @Milan3462

Because we cannot reproduce your problem could you answer some more questions
But it seems that this is caused by some installation failure.

- Could you download the latest version 0.8.3.1 reinstall JASP. The safest way is to remove the previous version first by opening a Finder go to Applications an drag and drop JASP.app to the Trash
- We deliver some sample data files. Could you

[2017-10-18 07:56] FransMeerhoff commented on #1886
Solved in version 0.8.3

[2017-10-18 07:56] #1886 closed

[2017-10-18 08:00] FransMeerhoff commented on #1743
Hi @guidocor

We have just update the ppa for JASP version 0.8.3.1.
Could you check if you still have the same problem?

Kind regards
Frans Meerhoff

[2017-10-18 08:03] FransMeerhoff commented on #1653
Hi @MigTBorges

If you still have this problem on the latest version JASP 0.8.3.1
please reopen this issue.

Kind regards
Frans Meerhoff

[2017-10-18 08:03] #1653 closed

[2017-10-18 08:09] FransMeerhoff commented on #1624
Hi @awismer7

If you still have this problem, could you please make a new issue of it?

Kind regards
Frans Meerhoff

[2017-10-18 08:09] #1624 closed

[2017-10-18 08:27] vankesteren commented on #1931
@AlexanderLyNL EJ wants point 1 of this bug bumped up on the priority list

[2017-10-18 09:55] louisdesu commented on #2043
Thanks Alexander!
Your suggestion worked for me too. I really appreciate your quick reply!
Best, Louis

[2017-10-18 19:22] AlexanderLyNL commented on #1931
Thanks for bumping this up. I'll work on it at the weekend.

[2017-10-19 09:11] luketudge opened #2063 "Ubuntu 16.04 R version dependency"
## Error: could not find function startsWith
* JASP version: 0.8.3.1
* OS name and version: Ubuntu 16.04.3 (xenial)
* Analysis: any
* Steps to reproduce: start Jasp, open example data, try any analysis

I had updated Jasp a couple of times with the last updates (via the Ubuntu ppa), but not used it for a while. Then I noticed that all analyses had started returning the error 'could not find functi

[2017-10-19 12:55] ayhanyalcinsoy commented on #2051
[sessizlik.sav.tar.gz](https://github.com/jasp-stats/jasp-desktop/files/1398407/sessizlik.sav.tar.gz)

[2017-10-20 06:54] WillemVlakveld opened #2065 "Logistig Regression in Ubuntu"
When conducting a Logistic Regression applying JASP Version 0.8.3.1 running in the Linux operating system Ubuntu version 16.04 LTS, I get an error messages as soon as I select a dependent variable (with the values 0 and 1). This error does not occur when I do the same analysis with JASP running in Windows. The Error message is:

This analysis terminated unexpectedly.

Error: could not find ‘starts

[2017-10-20 07:01] vandenman commented on #2065
Hi,

This is a known issue with the R version in Ubuntu repositories being a outdated (as was similarly observed  in #2063 ). A workaround for updating R is also given in #2063 .

[2017-10-20 13:04] boutinb commented on #1894
Solved by #2066

[2017-10-20 13:04] #1894 closed

[2017-10-20 13:04] #1695 closed

[2017-10-20 13:08] boutinb commented on #1704
Solved by #2064

[2017-10-20 13:08] #1704 closed

[2017-10-20 13:08] boutinb commented on #1719
Solved by #2064

[2017-10-20 13:08] #1719 closed

[2017-10-20 13:19] #2038 closed

[2017-10-20 16:35] HeikoBreitsohl opened #2067 "Feature request: Congeneric (aka factor, aka composite) reliability in SEM"
* Enhancement: Create an output option for factor reliabilities when modeling latent variables with multiple indicators in the SEM module.
* Purpose: Factor reliability is often superior to Cronbach's Alpha because factor loadings are rarely equal on the same factor. Having an option of getting this computed directly from the estimates would make it much easier to report it (instead of having to m

[2017-10-22 13:11] EJWagenmakers opened #2069 "Mysterious BF10, U in post hoc comparison"
@TimKDJ
See http://forum.cogsci.nl/index.php?p=/discussion/comment/11956#Comment_11956
Issue: BF10, U is not explained anywhere. Maybe we ought to add this in the table header. Can you send me a proposal?
E.J.

[2017-10-22 22:24] EJWagenmakers commented on #2067
Sounds good! @vandenman? We ought to discuss the further development of the SEM module regardless..
E.J.

[2017-10-22 22:42] EJWagenmakers commented on #2057
OK! @AlexanderLyNL is our contingency table grand wizard, but maybe the wizard knows other people who can help out...

[2017-10-23 08:08] TimKDJ commented on #2069
Ah yes. This slipped my mind.

I think the best place to clarify this is in the footnote.
The text currently states:

We could make it something like:

Thoughts?

[2017-10-23 08:11] annamwolf opened #2070 "Export/Save function for factor scores in EFA and PCA"
Having done an exploratory factor analysis, many reseachers want to continue their analyses (t-test, ANOVA etc.) with the factor scores that can be calculated from the EFA analysis. Afaik, most people use the Thurstone/regression approach, but it would be optimal if you could implement a choice (https://www.personality-project.org/r/html/factor.scores.html).
* Enhancement: Adds the missing feature

[2017-10-23 08:20] EJWagenmakers commented on #2069
Yes. Perhaps replace "this statistic" with "it" (some people would argue
that the Bayes factor is not a statistic, depending on how it is defined).
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Ams

[2017-10-23 08:30] LNickels opened #2071 "Non-Parametric tests for related and unrelated samples"
Would it be possible to include non-parametric tests (equivalent of related and unrelated t), such as McNemar's test, Cochrane's Q, Wilcoxon Matched Pairs, Mann-Whitney U test.
This would be invaluable, and the major limitation for our research group for using JASP currently.
I note another request for Fisher Exact which is also invaluable to us.
Thank you!

[2017-10-23 14:57] JohnnyDoorn commented on #2071
Hi,
I am currently working on implementing the Bayesian nonparametric t-tests in JASP (the Wilcoxon signed rank test and Mann Whitney U test), which should be in the next release or the one after that.
As for the frequentist versions of these tests, they are already present in JASP and you can find these under their respective t-test menu's.
We are also looking into implementing the other tests yo

[2017-10-23 18:15] williamstome commented on #2016
Certainly, @akashrajkn

r-cran-rcpp:
  Installed: 0.11.0-1
  Candidate: 0.11.0-1
  Version table:
 *** 0.11.0-1 0
        500 http://us.archive.ubuntu.com/ubuntu/ trusty/universe amd64 Packages
        100 /var/lib/dpkg/status

[2017-10-23 22:13] LNickels commented on #2071
Thank you so much Johnny, that’s really good to know. I apologise for missing the frequentist Wilcoxon/Mann whitney, but its good to know that the Bayesian versions are coming soon, and that McNemar etc are being thought of.
Regards,
Lyndsey

From: JohnnyDoorn [mailto:notifications@github.com]
Sent: Tuesday, 24 October 2017 1:58 AM
To: jasp-stats/jasp-desktop
Cc: Lyndsey Nickels; Author
Subject: R

[2017-10-24 07:38] dellagiulia commented on #1652
Hi, I use JASP 0.8.3.1 for MAC.
SEM module doesn't perform analysis.
Please see screenshot,

![screen shot 2017-10-24 at 09 36 06](https://user-images.githubusercontent.com/33052362/31930147-f90967be-b89e-11e7-9fa3-a588dfc599d6.png)

best,
Antonio

[2017-10-24 08:16] lindeloev commented on #1743
Maybe you could solve this issue by providing `r-cran-psych` through the ppa.

[2017-10-24 09:39] #2071 closed

[2017-10-24 12:00] lindeloev commented on #1743
I looked a bit more into this and I thin that I identified the problem! JASP doesn't source all `.libPaths`. On my system, it only looks at `/usr/lib/R/site-library`. The packages there seem to be purely installed from some repository with outdated packages, e.g. `lme4` version 1.1-10 from 2015. When I pasted `psych` into this, EFA stopped giving the `'psych'` error, now progressing to `mnormt`.

[2017-10-24 15:17] TimKDJ opened #2074 "Linear regression bugs"
[bugslinreg.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1411367/bugslinreg.jasp.zip)
* JASP version: 0.8.3
* OS name and version: macOS Sierra
* Analysis: Linear Regression
* Steps to reproduce (issue 1):
1. Add a dependent variable and a covariate
2. Set method to "Forward" or "Stepwise"
3. Tick "Collinearity diagnostics"
The analysis will crash.
* Steps to reproduce (issue 2):
1.

[2017-10-24 15:22] TimKDJ commented on #2074
@JohnnyDoorn you've recently gone through the code.
Any chance you could have a look at these issues?

[2017-10-24 18:04] JanowskiMaciej commented on #1652
For Windows users:
Try to write everything in the windows notepad and then paste it into Jasp. Ctrl+enter.

[2017-10-24 18:11] AlexanderLyNL commented on #1652
Hi Antonio,

Can you please zip the jasp file and upload it here? Alternatively, you can also send it to me, then I can have a look at it.

Cheers,
Alexander

[2017-10-24 18:41] dellagiulia commented on #1652
Many thanks for your answer!

I run the SEM on my PC win10 and works perfectly.

I start to use JASP after the ECDP conference in Utrecht and I really appreciate the software!,
Best,
Antonio

From: AlexanderLyNL <notifications@github.com>
Reply-To: jasp-stats/jasp-desktop <reply@reply.github.com>
Date: Tuesday 24 October 2017 at 20:11
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
C

[2017-10-25 01:50] jstbcs commented on #1737
Was pleased to see that someone brought this up before. Ubuntu is now at 17.10. Not a new LTS release, but I would appreciate support for any of the two newest versions.

[2017-10-25 09:02] AlexanderLyNL commented on #1652
Hi Antonio,

Thanks for your encouraging words! I can't find the JASP file in this thread, could you email (a.ly@jasp-stats.org) it to me instead?

Cheers,
Alexander

[2017-10-25 11:50] #2069 closed

[2017-10-25 12:32] EJWagenmakers opened #2075 "Read Stata files"
It would be **really nice** if JASP could read in Stata files. There are R packages that do this, so if these are any good, we might use them...
Cheers,
E.J.

[2017-10-25 13:42] EJWagenmakers opened #2076 "SumStats Correlation Pairs Issue"
In the SumStat module, when you switch from a Pearson's rho to a Kendall's tau, the table heading in the output field is not changed and still proclaims the analysis is a "Bayesian *Pearson* Correlation".
JASP Common does switch the table header correctly.
See screenshot.
![image](https://user-images.githubusercontent.com/8603015/32001787-1c08fbf6-b99b-11e7-98ab-c474aae7b01d.png)

E.J.

[2017-10-25 15:20] HeikoBreitsohl opened #2078 "Feature request: "Effects-coding" method of factor scaling in SEM"
* Enhancement: In addition to "factor loadings" and "residual variance", add a third option "effects coding" to the options for factor scaling in the SEM module.
* Purpose: While it is not as well known, effects coding can be very useful for factor scaling, particularly with multiple-group analyses (see Little, Slegers, & Card, 2006). Briefly, effects coding entails constraining factor loadings to

[2017-10-26 13:02] TimKDJ opened #2082 "Can't add contrast to RM factor"
* JASP version: 0.8.3
* OS name and version: macOS Sierra
* Analysis: RM ANOVA
* Steps to reproduce:
1) Fill the repeated measures cells with any two variables
2) Click on the "Contrasts" tab
The box will be empty. However, if you now add a between subjects factor, both that factor and the RM factor will appear.

[2017-10-26 16:09] #2076 closed

[2017-10-26 17:24] AlexanderLyNL opened #2083 "Additional info for prior-posterior plot and robustness check on by default"
## Template for enhancement requests

* Enhancement: Have the additional on by default
* Purpose: Change default behaviour

Easy to get started

[2017-10-26 17:29] AlexanderLyNL opened #2084 "Binomial test: Descriptives plot for no variables"
## Template for enhancement requests

* Enhancement: Catch the boundary case when there's no variables for the descriptives plot via the is.null()
* Purpose: aesthetics

[2017-10-26 17:34] AlexanderLyNL opened #2085 "Paired samples t-test: Descriptives plot for no variables"
## Template for enhancement requests

* Enhancement: Catch the boundary case when there's no variables for the descriptives plot via the is.null()
* Purpose:

[2017-10-26 17:37] akashrajkn commented on #2083
![screensht](https://user-images.githubusercontent.com/6959308/32067874-e652d302-ba84-11e7-9b38-c8d9ffa7cab8.jpg)

The selection of option `prior and posterior plots` should select `Additional info` by default.

Details - The default state of options are mentioned in the Resources (json) file of each analysis.

[2017-10-26 17:40] AlexanderLyNL commented on #2043
This is fixed by pull reqest #2068

[2017-10-26 17:40] #2043 closed

[2017-10-26 17:45] AlexanderLyNL commented on #1985
duplicate of issue #2083

[2017-10-26 17:45] #1985 closed

[2017-10-26 17:49] AlexanderLyNL commented on #1874
Added this on the 7th of September

[2017-10-26 17:49] #1874 closed

[2017-10-26 18:01] AlexanderLyNL commented on #1820
Duplicate issue #2041 and issue #1842 and issue #1545

[2017-10-27 09:55] EJWagenmakers opened #2087 "Installation problems"
I'm teaching a course and a student could not install JASP. She got the folllowing error:

Runtime error!
Program: C:\Program Files\JASP 0.8.3.0\JASP.exe

A similar error was present under 0.8.3.1. I've asked her to make a GitHub issue. She indicated that this error was not uncommon (if you look online). Windows 10.

Cheers,
E.J.

[2017-10-27 10:16] SabineHollmann opened #2088 "Installation problems"
I have a problem installing JASP on my computer. It's a windows 10 computer (ACER swift), with RAM 8 gb and IntelCore i5. Attachted is the error I get.

<img width="960" alt="jasp_error" src="https://user-images.githubusercontent.com/33151043/32099377-5a326c84-bb10-11e7-9b50-6c2aa6b40976.png">

Sabine

[2017-10-27 10:20] AlexanderLyNL commented on #2087
Duplicate of issue #2088

[2017-10-27 10:20] #2087 closed

[2017-10-27 11:12] FransMeerhoff commented on #2088
Hello @SabineHollmann

You could try the following to solve this annoying problem:

1. A work around is:
Download a the zip file from http://static.jasp-stats.org/JASP-0.8.3.1-64-bit.zip which contains an installed version of JASP 0.8.3.1. Unzip this file and start JASP.exe from the unzipped folder
2. Be sure that your Windows system is updated. This message was generated by Microsoft Visual Studi

[2017-10-27 11:15] FransMeerhoff commented on #2088
Hi @SabineHollmann

Sorry for the typo in the last option, I meant of course 0.8.3.1 to reinstall latest download from the JASP site.

Cheers Frans

[2017-10-27 12:53] steph2708 opened #2089 "Error in complete.cases(x, y): not all arguments have the same length"
* JASP version: 0.8.3.1
* OS name and version:
* Analysis: Repeated measures ANOVA
* Steps to reproduce:

I am trying to run a repeated measures ANOVA on my data, where all variables have the same amount of cases (see attached), yet I receive the following error message: Error in complete.cases(x, y): not all arguments have the same length
Is it because the number of decimals is different?
[Data_f

[2017-10-28 05:40] githubnamejg opened #2090 "Polychoric correlations"
* Enhancement: Polychoric correlations
* Purpose: I teach psychometrics to students in health sciences (nursing, public health, medicine, etc.). Either for their own research or to understand what others in their field are doing, all of them need to understand the basics of factor analysis and principal components analysis. In class we look at examples of scales that have 2, 3, or 4 response optio

[2017-10-29 16:54] ftv88 commented on #2088
Hi @FransMeerhoff , I have the same issue and none of your steps 1-3 above works.
Any other suggestions?

[2017-10-30 00:38] ftv88 commented on #1643
Any updates on when you are going to add mixed models?

[2017-10-30 09:45] JohnnyDoorn commented on #2089
Hi Steph,
Thanks for filing this bug report. Could you please tell me how you specified your RM ANOVA? I tried to replicate your issue but was unsuccesful - I tried specifying a model with 1 factor and 9 levels ( = number of columns in your datafile) and a model with 3 factors with 2 levels each, but both run fine.
How are you reading in your data file? Does your csv file have column names? If not

[2017-10-30 09:54] steph2708 commented on #2089
Hi Johnny,

Thanks for your email. It's a 3 x 3 ANOVA, so 3 factors with 3 levels each (factor 1: sameelec/diffelec/diffderma) (factor 2: 1more/PSE/1less). I was actually reading the data in from an SPSS file, and the variable names seem to have copied over correctly (see the screenshot attached).

Kind regards,

Stephanie

Dr Stephanie Cook
Research Assistant
Institute of Cognitive Neuroscience
U

[2017-10-30 10:04] JohnnyDoorn commented on #2089
Hi Stephanie,
Thanks for clarifying. I made a .jasp file and attached it to this post (I had to put it in a zip file so github allows me to upload). I specified the 3x3 model, but still did not get an error.
[RM_ANOVA_Stephanie.zip](https://github.com/jasp-stats/jasp-desktop/files/1426735/RM_ANOVA_Stephanie.zip)
Also I don't see your screenshot. If you want you can also send the screenshot (or jas

[2017-10-30 10:06] JohnnyDoorn commented on #2090
Hi,
We are currently working on implementing a Bayesian version of this. It will probably be either in the next release, or the one after that!
Kind regards,
Johnny

[2017-10-30 10:57] zfyao opened #2091 "This analysis terminated unexpectedly."
## Template for bug reports

* JASP version: 0.8.3.1
* OS name and version: Windows 10 home
* Analysis: correlation matrix
* Steps to reproduce: Regression->Correlation matrix->selects 102 variables-> This analysis terminated unexpectedly.

Errors as follows:
Error in grDevices::png(filename = fullPathpng, width = width * pngMultip, : unable to start device 'png'
Stack trace
analysis(dataset = NUL

[2017-10-30 11:38] EJWagenmakers opened #2093 "An unexpected NA"
From the JASP forum, an unexpected NA in the output. It would help to have the data file, obviously; maybe someone can arrange this through Email. The link:
http://forum.cogsci.nl/index.php?p=/discussion/3502/why-i-got-na-in-the-regression-coefficient-table#latest

[2017-10-30 13:05] githubnamejg commented on #2090
Thank you!
Looking forward to it.
(Especially for students, it might be interesting to compare results of your Bayesian version to results from ML.)

[2017-10-30 15:21] robustbayesian opened #2094 "Feature request: Hedge's g (bias corrected) for t-tests and Omega Squared for ANOVA (Bayesian t-test and ANOVA especially)"
I am interested in more robust estimates of effect size, such as hedge's g and omega². Are there plans to add this, or is there a way to convert cohen's d estimates in the Bayesian analysis to get credible intervals for hedge's g?

I don't think the ANOVA functions (Bayesian or classical) have an effect size measure at all (like eta²) but omega² would be a good feature I think.

See this [blog pos

[2017-10-30 15:28] lindeloev opened #2095 "Renaming T-test effect sizes"
![image](https://user-images.githubusercontent.com/1439417/32178456-0739172e-bd8d-11e7-8976-b9be2f686a45.png)

I would suggest renaming the following:
* Rename "Location Parameter" to "Mean difference."
* Rename "Effect size" to "Cohen's d"

Both would yield a consistency between the naming in the options and in the results tables. Furthermore, the mean difference is an unstandardized effect size,

[2017-10-30 15:28] robustbayesian commented on #2048
I second this as a useful feature. It'd also be really cool if there was the ability to create factor scores, like in SPSS.

[2017-10-30 16:11] steph2708 commented on #2089
Hi Johnny,

I managed to get it working in the end - although still not sure what was going wrong before. Thanks for your help.

Kind regards,

Stephanie

________________________________
From: JohnnyDoorn <notifications@github.com>
Sent: 30 October 2017 10:04:34
To: jasp-stats/jasp-desktop
Cc: Cook, Stephanie; Author
Subject: Re: [jasp-stats/jasp-desktop] Error in complete.cases(x, y): not all ar

[2017-10-30 21:45] lindeloev commented on #2095
I thought this would be easy to do a pull request on, even though I'm not familiar with C++. However, when I look at the source code, there is no "Location parameter" but rather a "Mean difference" as I suggested: https://github.com/raoelg/jasp-desktop/blob/development/JASP-Desktop/analysisforms/ttestonesampleform.ui.

Are you building from a different source or branch or am I missing something he

[2017-10-30 22:07] AlexanderLyNL commented on #2095
That's Raoul's branch. I think that you'd like to edit this one:

https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Desktop/analysisforms/ttestonesampleform.ui

I very much agree with you when we only have the student t-test, but I don't think that mean difference and Cohen's d are appropriate when we're using the Wilcoxon signed-rank test. For instance, the Wilcoxon signed-rank tes

[2017-10-30 22:22] lindeloev commented on #2095
Yes, you are right! The current solution is probably the best so I will close this. Naming "Standardized effect size" would be accurate but perhaps also put people off when "effect size" has become almost anonymous with the standardized ones.

Thanks for pointing me to the correct source; I got lost looking at Raoul's meta-analysis ;-)

[2017-10-30 22:22] #2095 closed

[2017-10-31 12:08] scoriat opened #2099 "uploading data"
Bonjour,
I am student doing a master in psychology. I am not a stats person. But I need to do a data analyse for my final project. I really like JASP as it is user-friendly and does great things. E.J. replying to emails from jasp.stats@gmail.com recommended I ask here for some help.

I can't figure out why I can't upload my data as csv. I have done different tests.
I have two types of data files:

[2017-10-31 12:40] AlexanderLyNL commented on #2099
Hi Sarah,

Here are two jasp and csv files. In both cases I saved the xlsx file as a csv file. In addition, I've removed the additional statistics you calculated in the number version. Does this answer your question?

[Sarah.zip](https://github.com/jasp-stats/jasp-desktop/files/1430705/Sarah.zip)

Cheers,
Alexander

[2017-10-31 14:55] scoriat commented on #2099
WOW AlexandreLyNL Thanks ! The text on works! What did you do? Just save them as CSV? why does it not work on my pc?
I fell stupid there on the number version. But If I take out the stats on the full file it still does not work :-(
If you still have time and can help...here it is.
[Values_numbers.xlsx](https://github.com/jasp-stats/jasp-desktop/files/1431112/Values_numbers.xlsx)

[2017-10-31 19:49] AlexanderLyNL commented on #2099
Hi Sarah,

You're correct. I opened the file in Excel and selected "Save as..." and choose as "format" "comma separated values". Here's the zip file. Please let me know whether it works.

Cheers,
Alexander
[Sarah2.zip](https://github.com/jasp-stats/jasp-desktop/files/1432074/Sarah2.zip)

[2017-11-01 18:23] haylouise944 opened #2107 "Bayes factors for Spearmans correlation?"
##

* JASP version:  0.8.1.2
* OS name and version: Windows 7

[2017-11-02 08:38] AlexanderLyNL commented on #2099
Hi Sarah,

I'm closing this issue, because I think that it's solved. If that's not the case, don't hesitate to open this up again. Thanks for the feedback.

Cheers,
Alexander

[2017-11-02 08:38] #2099 closed

[2017-11-02 08:38] AlexanderLyNL commented on #2091
Hi zfyao,

Can you please upload the jasp file in a zip so we can have a look at it?

Cheers,
Alexander

[2017-11-02 09:51] scoriat commented on #2099
Thanks a million!
I am amazed by this! I did the same. I guess my pc is really bad and yours is amazing. I can finally start to work! My kids have seen me grummpy for more than a week now. I explained your help, they were impressed by how this works (helping freely poeple with your expdertise) and  they thank you too :-).
Yes this issue is now closed. all the best to you and wishing you a lovely d

[2017-11-02 13:35] scoriat opened #2114 "Bug analysis terminated unexpectedly"
This analysis terminated unexpectedly on Oct 13 2017 09:06:53 (Netherlands) JASP 0.8.3.1

Error in grDevices::png(filename = fullPathpng, width = width * pngMultip, : unable to start device 'png'

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback, state = state)

.descriptivesMatrixPlot(splitDat[[i]], options, splitLevels[i], run)

.writeImage(width

[2017-11-02 18:33] AlexanderLyNL commented on #2114
Hi Sarah,

Could you please zip the jasp file and upload it here? We can then have a look at it and see what's going on.

Cheers,
Alexander

[2017-11-03 13:42] #2089 closed

[2017-11-03 15:48] TimKDJ commented on #2074
[bugs-linear-regression-0.8.4.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1441610/bugs-linear-regression-0.8.4.jasp.zip)
And these...

[2017-11-05 09:47] FeBall opened #2117 "Bug: unexpected internal error"
* JASP version: 0.8.3.1
* OS name and version: Win10
* Analysis: Bayesian repeated measures ANOVA
* Steps to reproduce:

I ran a 2x2x2x2x2 ANOVA. I had 2 within and 3 between subject factors with 120 participants total. First, I entered the within subject factors (repeated measures factors). These are TE (with steps 'E' and 'UE') and Which TE (with steps 'Mul' and 'Max'). Next, I dragged the data

[2017-11-06 15:43] boutinb commented on #2093
Solved by contacting her directly

[2017-11-06 15:43] #2093 closed

[2017-11-06 15:47] boutinb commented on #2117
@FeBall It might be a problem with the communication between the JASP and its Engine. I have a look at it.

[2017-11-06 18:59] janderuiter opened #2119 "Bayesian logistic regression."
Could we have a Bayesian version of logistic regression as well? That would be SO cool! Thanks in advance for considering.

JP

[2017-11-06 19:26] App-State-Prof opened #2120 "DV in regression results"
It would be great for students if the linear regression test results would include the dependent variable for each test. They sometimes copy and save results, but forget to mark the DV. Thank you.

[2017-11-06 19:50] EJWagenmakers commented on #2120
Good idea; could we include this information in the table somewhere, @JohnnyDoorn?

[2017-11-06 21:46] EJWagenmakers opened #2121 "SumStats p-value"
In the SumStats module, go to Bayesian binomial, add number of successes > 1 and number of failures > 1, and set test value to 0 or to 1. Then the p-value returned is "false". I am not sure what the correct value is; the observed data are impossible under H0, so I would be tempted to say it should be 0. @AlexanderLyNL, what do you think? @akashrajkn
See screenshot for proof.
![pfalse](https://user

[2017-11-06 21:49] EJWagenmakers opened #2122 "spaces in Log(BF10)"
This is obviously a minor point, but it is also easy to fix:
When selecting "Log(BF10)" (in all of the Bayesian analyses), the output in the table refers to this as "Log( BF10 )". I am not sure why we need the extra spaces. @TimKDJ?

[2017-11-06 22:50] EJWagenmakers opened #2123 "Measure 1 > Measure 2"
On my high-res laptop screen, the text "Measure 1 > Measure 2" (an option for the Bayesian paired t-test) is cut off  (displaying "Measure 1 > M"). This is an old problem that still persists. However, I did find that the text displays just fine in the SumStats GUI. Maybe this provides a clue as to how it can be resolved?
E.J.
![sumstatsmeasure1](https://user-images.githubusercontent.com/8603015/32

[2017-11-07 08:09] AlexanderLyNL commented on #2122
3 t-tests,

correlation pairs,

binomial,
contingency

and the equivalent tests in sumStat. Easy fix.

[2017-11-07 09:41] MHvid opened #2124 "Median and 25/75 percentile for non parametric data"
Hi,
Enhancement: I would like to be able to choose median/25/75 percentiles for paired, non parametric data instead of mean/95% CI. Is this a possibility? For instance, in Wilcoxon tests.

[2017-11-07 15:16] akashrajkn commented on #1984
PR #2132 Fixes this

[2017-11-07 15:16] #1984 closed

[2017-11-07 16:59] App-State-Prof opened #2134 "Decision trees, cluster analysis, text analysis?"
I realize this is all of my dreams in one place; however for university teaching, adding decision trees, cluster analysis and text analysis to JASP? At present we use Radiant for trees, KH-Coder for text. If JASP would add the three functions above, you would have everything in one place.

[2017-11-07 20:05] EJWagenmakers opened #2135 "Cronbach's alpha improvements"
@vandenman @TimKDJ
I noticed a few things about Cronbach's alpha (under Reliability analysis). See screenshot.
1. In the output table, mention is made of a 95.0% Confidence Interval. Can we drop the decimal point please? (so "95% Confidence Interval")
2. The option for the CI states: "Cronbach's $\alpha$ analytical". Since we don't do it any other way, the word "analytical" is redundant and can go

[2017-11-08 09:01] FransMeerhoff opened #2137 "Long file names not completely shown in OSF tab"
## Template for bug reports

* JASP version: 0.8.4
* OS name and version: Windows
* Analysis: N.A.
* Steps to reproduce: Open a folder in the OSF with very long filenames (on a HighDef screen)

## Template for enhancement requests

* Enhancement:
* Purpose:

[2017-11-08 21:21] wjames35 opened #2141 "Enhancement Request: Add the ability to “Split” analyses by a variable to every module or test"
Enhancement: Add the ability to “Split” analyses by a variable to every module or test
Purpose: Presently in JASP there is a field entitled “Split” under “Descriptives.” Please add this to every module! That would be huge. For instance, when I am teaching ANOVA, if there is a significant interaction effect, then this split feature would help me show students how to make sense of the significant in

[2017-11-08 21:23] wjames35 opened #2142 "Enhancement Request: Adding the option to perform a z-test"
Enhancement: Adding the option to perform a z-test

Purpose Adding z-tests would be good for students. In statistical textbooks that I have seen, the first significance test that students learn about is the z-test. Then they progress to t-tests, etc. Thus, it would be useful for teaching if JASP had z-tests. Presently under one-sample  t-tests in JASP there is an option to perform a Wilcoxin Signe

[2017-11-08 21:25] wjames35 opened #2143 "Enhancement Request: Post hoc tests in ANOVA to test means from an interaction effect"
Enhancement: Post hoc tests in ANOVA to test means from an interaction effect

Purpose. Presently post hoc tests in ANOVA only test mean differences for main effects, but it would be wonderful if they would test mean differences for interaction effects (JMP software does this and it is very useful)

[2017-11-09 08:09] lindeloev commented on #2141
A few ideas to elaborate on this:

1. Sometimes people want to **"split by column"**, e.g. run t-tests on three columns. This would be quite typical for questionnaire data; say if it computes to two or three main indices. So a "split by" function could include the option to select by "Variable value" (select a single variable) or "Variable column" (select multiple variables). Hence the function ma

[2017-11-09 08:48] lindeloev commented on #2141
I just saw #1934 which could also be an option under a "Data handling" section; though not sure. It's the same discussion about "data wide" versus analysis-specific options so just wanted to bring it up.

[2017-11-09 09:27] lindeloev commented on #1536
Here's a use case that I often encounter with my students who do intervention research: RM-ANOVA on RCT-like studies. For this setup, there is a within-subjects factor called session (pretest vs. posttest) and a between-groups factor called group (treatment vs. control) for a particular outcome. The session x group interaction effect is of primary interest, i.e. whether the groups developed differ

[2017-11-09 09:58] FransMeerhoff opened #2146 "Use new bootnet package version 1.0.2"
Use bootnet version 1.0.2 from Sacha  Epskamp install_github("SachaEpskamp/bootnet")
instead of 1.0.1 rcran version.

[2017-11-09 14:10] lindeloev commented on #1103
This was just implemented in Jamovi: https://mcfanda.github.io/gamlj. Looks pretty nice.

[2017-11-09 14:44] #2121 closed

[2017-11-09 15:16] #2122 closed

[2017-11-09 15:16] #2083 closed

[2017-11-09 15:18] #2146 closed

[2017-11-09 16:07] EJWagenmakers opened #2148 "Feature Request: copy LaTeX code for tables"
This would be really nice. There aren't many LaTeX users among our target audience, but still, enough people are, and it would make the lives of those people *a lot* easier.
E.J.

[2017-11-09 21:57] juliusverrel commented on #1536
This would be a really helpful feature. Wide format tables, while preferred by, e.g., SPSS, are really awkward to work with if you have multiple dependent variables in combination with repeated measures. For a repeated measures design with two within-subject factors A (levels 1,2) and B (levels 1,2,3), and two DVs, say RT and PC (percent correct), in wide format, you easily end up with 12 columns,

[2017-11-10 12:18] Emoll9 commented on #1957
I would like to add my support for this request. This functionality was recently introduced in the GAMLj module for Jamovi, and I would love see it matched by JASP.

[2017-11-10 17:04] App-State-Prof opened #2151 "Show Eigen values on Factor Loading table"
I teach students who are intro to research. No experience. It would be great to have a check box for "show Eigen values" then have the Eigen value posted above each factor in the table. I am using the scree plot now, they continue to have trouble understanding the Eigen axis to the dots showing the factors.

[2017-11-10 17:07] App-State-Prof opened #2152 "Auto recode and replace missing values"
These are two functions that send me back to SPSS. I have noticed Qualtrics messes up the coding on some variables, so they must be recoded. The SPSS auto recode is hit the button easy. Also missing values, would be nice to have an auto replace, possibly based on a mean approximation from other values within the variable.

[2017-11-12 06:58] bw729 opened #2153 "Error: Non-numeric argument to binary operator"
Hi there, I'm using JASP Version 0.8.1.2 to run a Bayesian Repeated Measures ANOVA. My OS is Windows 7 Home. I've done it once successfully using an old dataset and now I'm using a slightly amended dataset where I've included one extra subject, and changed the names of some variables.

I received an error message that the analysis terminated unexpectedly due to an error in model.object[[m]]$bf/nul

[2017-11-12 07:46] bw729 commented on #2153
EDIT: I managed to solve this problem by closing and re-opening JASP. Thanks :)

[2017-11-13 12:06] moritzkoerber commented on #1969
Hi JASP team,
could you already find out the method of extraction in the exploratory factor analysis? I think it is principle axis factoring but I would like to be sure to report correctly.

Thank you in advance!

[2017-11-13 17:32] stephensrmmartin opened #2156 "v.8.4.0 - no git tag"
I'm the arch linux AUR maintainer for the jasp package.  I saw that v.8.4.0 has been announced, but there is no git tag for it yet.

[2017-11-13 17:35] stephensrmmartin opened #2157 "R Package List update necessary?"
https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-r-packages-list.md

Again, I am the arch aur maintainer for jasp. With the addition of new analyses, is the above list of needed R packages complete?

[2017-11-13 17:45] akashrajkn commented on #2157
@stephensrmmartin thank you reporting this.

@TimKDJ I believe you already a list of R packages, can you please update the documentation?

[2017-11-14 08:40] TimKDJ commented on #2157
I just wrote the script to detect the packages. Frans usually adjusts the packages when we make any changes. @FransMeerhoff can you change this file when a package is added? I can write scripts if needed.

[2017-11-14 10:51] akashrajkn commented on #2156
@stephensrmmartin git tag has been added now. Thanks

[2017-11-14 10:51] #2156 closed

[2017-11-14 12:18] hcp4715 commented on #1085
Do this functionality added now?

[2017-11-14 12:21] hcp4715 commented on #1957
I add my support too.

[2017-11-14 13:08] hcp4715 commented on #1105
@boutinb is it possible to export eps format plot now?
I guess it is really important for many ;-)

[2017-11-14 13:30] lindeloev commented on #1105
Yes, click the drop-down menu just above the graph. Then click "Save image as..." and choose eps format.

[2017-11-14 15:22] fedoracoreuser commented on #2088
I have the same issue. I tried launching the JASPEngine.exe file and it complains that it can't find R.dll. Maybe it could be related?

[2017-11-15 08:22] #2157 closed

[2017-11-15 09:16] #2123 closed

[2017-11-15 09:35] #2137 closed

[2017-11-15 10:14] lindeloev commented on #1743
This error persists in 0.8.4. Did you see my debugging of the problem in the comment above?

[2017-11-15 11:02] FransMeerhoff commented on #2088
Hi @SabineHollmann, @ftv88 , @fedoracoreuser

We've waited on the latest release JASP 0.8.4 (released last monday 13-11-2017) to test this issue more thoroughly. Unfortunately we are still not able to reproduce this problem.
We have installed a Windows 10 machine with Visual Studio 2017 and Microsoft Open R but this also not led to a reproduction path.

The only thing we can offer now is:

- Would

[2017-11-15 12:27] TimKDJ commented on #2153
Let us know when the problem resurfaces :)

[2017-11-15 12:27] #2153 closed

[2017-11-15 14:31] fedoracoreuser commented on #2088
I had previously downloaded and installed it, the issue still occurs. Since the uninstaller started to crash, I am unable to uninstall and reinstall. What file/registry key does it check for?

If you want, I can download the source and try building it, maybe we see what it chokes on.

[2017-11-16 13:08] fplatz opened #2164 "Implementation of Artifact corrections for Meta-Analysis"
## Template for enhancement requests

* Enhancement: Meta-Analysis
* Purpose: I'm really excited that JASP' functionality has been increased for being able to conduct meta-analyses. Due to my experiences with my last meta-analysis I wondered whether future versions would be able to correct correlations (or differences as well) for attenuation due do low reliability as mentioned by Schmidt & Hunter

[2017-11-16 13:13] fplatz opened #2165 "(Bayesian) correlation corrected for attenuation"
## Template for enhancement requests

* Enhancement: Bayesian Correlation
* Purpose: Correlation corrected for artifacts
Dear JASP-Team,
I would be interested, if it is possible to integrate a correction for observed correlation – especially for the Bayesian routine – biased by reliability issues of measurements (such as questionnaires …)?
In addition I think that this feature should also be imple

[2017-11-16 13:19] fplatz opened #2166 "Enhancement requests: Optimizing visualization outputs and making them editable"
* Enhancement: Data visualisation
* Purpose: Data visualisation by integrating ggplot2 in JASP
Is it possible to integrate ggplot2 for getting and editing data visualizations? Today, I have to export the output and have to finalize my figure by an external program. However, it would be great, if data visualization would be more sophisticated in future versions – not by line but by developing and u

[2017-11-16 14:10] R180 opened #2167 "ods import does not import all rows of the ods spreadsheet"
[Logistic regression and chi square.zip](https://github.com/jasp-stats/jasp-desktop/files/1478799/Logistic.regression.and.chi.square.zip)

As an example: When I use JASP 0.8.3.1 to open the attached ods file, the result is an import of rows 1 through 16 only, instead of all 24 rows.

## Template for enhancement requests

* Enhancement:
* Purpose:

[2017-11-16 16:10] EJWagenmakers commented on #2166
We completely agree. This is under intense development at the moment. Can't give you a precise estimate of when it will be finished though (it requires a re-do of most of our current figures).

[2017-11-16 19:02] AlexanderLyNL commented on #2124
We have the option to change the 95% confidence interval and if you change it to 50% you'll get a lower bound that corresponds to the 25% quantile, while the upper bound corresponds to the 75% procent quantile. Note however that these quantiles are based on a normal approximation (please correct me if I'm wrong @johnnydoorn). This means that you shouldn't over interpret the numbers, especially, wh

[2017-11-16 19:28] AlexanderLyNL commented on #2141
Thanks for the suggestions, this is something that we'll look into. Until we've implemented this, I can recommend the workarounds via Excel. Here are two gifs in which I explain how some of these things can be done:

https://twitter.com/AlexanderLyNL/status/918197338841190400
https://twitter.com/AlexanderLyNL/status/918195429652750337

[2017-11-16 19:32] AlexanderLyNL commented on #2143
This is on our todo list

[2017-11-16 19:33] AlexanderLyNL commented on #2152
This is something we'll discuss with the team.

[2017-11-16 19:34] AlexanderLyNL commented on #2151
We're in the process of revamping this analysis.

[2017-11-16 19:40] AlexanderLyNL commented on #2164
Hi Friedrich,

Thanks for the encouraging work. It'll take a bit more time to do this if there's no package available for this. If you know one that suits this purpose we're happy to look into it. The meta-analysis module is not done yet and future releases will include new features.

Cheers,
Alexander

[2017-11-16 19:45] AlexanderLyNL commented on #2165
Hi Friedrich,

We have some experience with these types of problems, but haven't got the chance to implement this. Do you mean measurement uncertainty that are known as described in the following paper?

Matzke, D., Ly, A., Selker, R., Weeda, W. D., Scheibehenne, B., Lee, M. D., & Wagenmakers, E.-J. (2016). Bayesian inference for correlations in the presence of measurement error and estimation unc

[2017-11-16 22:42] fplatz commented on #2164
Hi Alexander,
thanks for that quick reply! Perhaps [Martin Viechtbauer's blog](http://www.metafor-project.org/doku.php/tips:hunter_schmidt_method?s[]=artifact#artifact_corrections
)  might be an interesting starting point. I think that the example might give an impression of how the disattenuation could be implemented in his package or in JASP, which uses metafor already. Perhaps it might be an in

[2017-11-16 22:45] fplatz commented on #2165
Hi Alexander (again),

yes exactly. I thought about problems wich were covered by Matzke et al. (2016).

Cheers,
Friedrich

[2017-11-16 22:49] fplatz commented on #2166
That sounds really great and I think, that this issue will push JASP in the top league!

[2017-11-16 22:58] fplatz opened #2169 "Enhancement request"
* Enhancement: Statistical Modelling
* Purpose: model editor for Bayer analysis
This is my last post for today (I promise you that!): Is it possible to develop a GUI for building statistical routines and models as proposed by Lee and Wagenmakers (2014) or Kruschke (2014) but not by typing endlessly lines of (jag of wing) code but instead by using icons (for distributions) arrows etc. as the author

[2017-11-17 03:44] caofei0806 opened #2170 "runtime error"
JASP versions: 0.8.4-64-bit
OS name and version: Windows 10-64-bit
Hi,
This is the error I get:
I downloaded the latest JASP windows version from the official website, but the“runtime error” window always appears when I try to use the software. How to solve the problem.
![_20171116171754](https://user-images.githubusercontent.com/33741224/32928388-aa037a5a-cb8c-11e7-9bb2-8f16c5b805fc.png)

[2017-11-17 08:51] fedoracoreuser commented on #2170
Hello, this is the same problem we have in issue #2088 .

[2017-11-17 09:22] FransMeerhoff commented on #2170
Hi @caofei0806

Thanks for your message. As mentioned by  fedoracoreuser some other people have this unclear problem too and made issue #2088 for it, so I would  like to  communicate on that issue and close this one.

Some questions in advance for you:

- Do you have Visual Studio installed on your machine?
- Did you try the options mentioned in #2088?

If none of the work arounds will do, i hope

[2017-11-17 10:00] EJWagenmakers commented on #2169
We are working on more generic methods, but a GUI for building models is probably not forthcoming. The reason is the disaster called "DoodleBUGS", which is the Clippy of probabilistic programming languages. Of course it is a good idea in principle (which is why DoodleBUGS was developed), but it just didn't catch on at all. What would be interesting is to find a way to automatically produce the Doo

[2017-11-17 12:30] FransMeerhoff commented on #2088
Hi @fedoracoreuser

It's very weird that the uninstaller crashes too, because that has nothing do do with JASP.

But if you want the JASP setup to continue you can rename (or remove) the following key in the registry
HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\JASP
and rerun the setup.

When this works could you try the following?
- Unzip the file I've attached in the "C:\Program Files\JASP 0.8.4.0" f

[2017-11-17 13:49] fedoracoreuser commented on #2088
Unbelievable. I don't know what happened or changed, but this morning it works with no changes on my behalf.
- Machine 1: JASP was crashing, unistaller not working. Registry key removed, reinstalled, now just works.
- Machine 2: JASP was crashing. No apparent changes, now just works.

I suspect some background issue like Windows Update. Surprising, anyway.
If there is anything else I can help with

[2017-11-17 13:50] scoriat opened #2172 "CSV file"
My Office version of Excel on my PC does not save my files under the right CSV file to be issued under JASP. I have tried so many times.
[DataJASP.xlsx](https://github.com/jasp-stats/jasp-desktop/files/1482478/DataJASP.xlsx)
[DataJASP2.xlsx](https://github.com/jasp-stats/jasp-desktop/files/1482479/DataJASP2.xlsx)

I am sorry to bother you with such little issue. But could you help me save and send

[2017-11-17 13:56] AlexanderLyNL commented on #2172
Hi Sarah,

Pleas let me know whether this works. If so, could you please close this issue? In case you're interested in other editors you might want to checkout:

https://www.openoffice.org/
https://www.libreoffice.org/

both are free.

Cheers,
Alexander

[Sarah3.zip](https://github.com/jasp-stats/jasp-desktop/files/1482499/Sarah3.zip)

[2017-11-17 15:18] robkoper commented on #1969
Any news about the needed extensions of the Exploratory Factor Analysis module? In its current state it is rather useless for scientific work because of lacking choises (extraction mechanisms) and reporting.

[2017-11-17 17:05] AlexanderLyNL commented on #1969
Thanks both of you for bumping this up. We have reworked the back end and are going to look into it, it'll be in one of our next releases.

[2017-11-17 17:08] AlexanderLyNL commented on #1969
Is there any specific deadline to this for either of you?

[2017-11-17 19:21] robkoper commented on #1969
Not for me, I use SAS / JMP now for EFA, but will change when Jasp is reworked.

Rob

[2017-11-17 23:10] whimsydiddles opened #2173 "Enhancement Request"
## Template for enhancement requests

* Enhancement: Enable JASP to run SPSS sytnax.
* Purpose: This will allow users who have received syntax for replication of a study to properly analyze the data as the researchers did.

[2017-11-18 10:49] scoriat commented on #2172
Alexander Thanks you again. I am very grateful for your help and time.
I have downloaded the news version of JASP and yes now the data is correct and working fine. This issue can be closed :-)
I will look at the editors you are recommending too.
All the best, Sarah

[2017-11-18 11:01] #2172 closed

[2017-11-18 14:37] EJWagenmakers commented on #2173
Now that is an interesting suggestion! We have some bigger syntax-fish to fry first, and this is a non-trivial idea, but let's see where we stand after frying said fish.

[2017-11-18 17:29] fplatz opened #2174 "Enhancement request: Bayes Item response Analysis"
* Enhancement: Psvhometric: bayes Item Response Models with Diagnostik capabilities for item (fit) analysis
* Purpose:It Might Be an interesting Feature for jasp to have an implementation of a gui-driven Irt Modeling Module also containing Diagnostic Features for investigating item And Person fit.
It might Be a continuation of the Logistik regression Developer so far.
This feature is important not

[2017-11-19 16:31] EJWagenmakers opened #2175 "Garbled file name?"
Lexi explained an issue using a .jasp file on our Forum. The file was called "Missingexplained.jasp". After I downloaded it, the name was changed to "p32h00wh46bd.jasp". Weird & unwanted?!
See screenshot
![garbledfilename](https://user-images.githubusercontent.com/8603015/32992815-8233e856-cd4f-11e7-8485-cfee351373e7.png)

E.J.

[2017-11-19 16:34] AlexanderLyNL commented on #2175
Probably a problem of that forum. I can't even remove the file in a post once it's uploaded. This problem does not occur on the OSF or on my website.

[2017-11-19 16:38] AlexanderLyNL commented on #2175
Yes it's a problem of that forum.

[2017-11-19 16:38] #2175 closed

[2017-11-19 19:04] YamilVidal opened #2176 "Bug reports: Meta-analytically combined effect size missing from Forest Plot when Covariates and or Factores are included"
* JASP version: 0.8.4
* OS name and version: Windows 10
* Analysis: Meta-Analysis
* Steps to reproduce:

When Covariates and or Factores are included in the analysis, the Forest Plot stops showing the Meta-Analytic Effect Size.
I noticed this while playing around with the data from the Meta-Analysis tutorial: https://jasp-stats.org/2017/11/15/meta-analysis-jasp/

Jasp file and figure attached:
[Fo

[2017-11-20 02:49] caofei0806 commented on #2170
This problem has been solved after installing Visual Studio,specifically, pertinent C++ programmes should be installed.

[2017-11-20 03:15] caofei0806 commented on #2088
Try  updating Microsoft Visual Studio and be sure components that run C++ are installed. I have solved the issue and all JASP versions run well.

[2017-11-20 12:28] sahrii commented on #1448
Hello, when you say the post hoc tests just interpret significant main effects, what if I don't have a significant main effect, but the post hoc test which has been pbonf corrected for the same factor is significant?
<img width="527" alt="screen shot 2017-11-20 at 10 57 09 pm" src="https://user-images.githubusercontent.com/33831632/33018407-33588b04-ce46-11e7-8a60-e75003dea743.png">

[2017-11-20 12:34] #1481 closed

[2017-11-20 13:03] akashrajkn commented on #1691
Tim has implemented a 'better' version of tests.

[2017-11-20 13:03] #1691 closed

[2017-11-20 13:18] JohnnyDoorn commented on #1448
Hi Sahrii,
That does look a little strange. Would you mind sharing your dataset or jasp-file so I can take a closer look at it? You can also email it to me at j.b.vandoorn <at> uva.nl if that is more convenient
I would expect these two p-values to be the same when you only have one RM factor with two levels - see the attached screenshot, for example.
![rm_anova_twolevels](https://user-images.githu

[2017-11-20 13:25] raoelg commented on #2176
Hi Yamil,

This is not actually a bug: If you include covariates and/or factors in a meta-regression, you are trying to predict the (average) effect size from these predictors. The underlying thought is that the effect sizes differ across studies in accordance with the meta-regression model. That implies that there is no overall combined effect size; just a predicted effect size for each study. Th

[2017-11-20 13:25] #2176 closed

[2017-11-20 13:40] YamilVidal commented on #2176
Hi Raoul,
Thanks for the explanation. I see what you mean. But now a theoretical question. Wouldn't it make sense to take the meta-analytically predicted effect size of each study (grey diamonds) and calculate an overall predicted effect size based on them?
Would this be equivalent to obtain an overall predicted effect size accounting for the influence of the covariates/factors?

Finally, and sorr

[2017-11-20 15:28] DavidMaij opened #2177 "Bug: Crash after adding more than 3 covariates in RM-ANCOVA"
## Template for bug reports
* JASP version: 0.8.4
* OS name and version: MAC OSX 10.9.5
* Analysis: RM-ANCOVA
* Steps to reproduce:
When I add 4 covariates and a between-subjects factor, I always get the following error (also with previous JASP versions):

Error in X[ii, ii, drop = FALSE] %*% y[ii]: non-conformable arguments

Stack trace
analysis(dataset = NULL, options = options, perform = perfor

[2017-11-20 22:15] sahrii commented on #1448
Hi Johnny, have emailed it though. Thanks!

[2017-11-20 22:48] fplatz opened #2178 "Bug: Confidence intervall of ES depends on direction of hypothesis in a paired t-test"
## Template for bug reports

* JASP version: 0.8.4
* OS name and version: Mac OS 10.12.6 (macOS Sierra)
* Analysis: Confidence intervall of Effect size
* Steps to reproduce: I used a paired t-test in my own data, but I could replicate the (possible) bug with the example dataset "kitchen rolls". When changing the hypothesis' direction, the confidence interval of the ES will also change and suggest

[2017-11-20 23:07] EJWagenmakers commented on #2178
Hi Friedrich,

I think the interval is correct. The CI interval includes all values that are not rejected based on a one-sided test. For a one-sided test, H0 is defined as, say, H0<= testvalue, so values smaller than testvalue will never be rejected. R also gives this interval. What exactly would the alternative solution be?

Cheers,
E.J.

[2017-11-20 23:11] EJWagenmakers opened #2179 "Show full ANOVA model"
Feature request from a nice Email:
"can the full model be reported for ANOVA?"

Cheers
E.J.

[2017-11-20 23:41] fplatz commented on #2178
Hi Jan Eric,

I think that the confidence Intervall of the effect size does not depend on the statistics test used for significance testing.  I unterstand the ES reported in the tables as a (posteriori) description of the mean differences in standard deviation units as also claimed by Cohen himself, which should be also reported along with its confidence intervals (t-distribution or z) according t

[2017-11-21 08:57] FransMeerhoff commented on #2170
HI @caofei0806

Good to hear that your problem is solved!
But we are very curious to know what exactly happened here, because we do not understand that well, and we like to help other users who have similar problems.

- Did you already have Visual Studio installed on your machine or did you install an upgrade of it ?
- Which version of Visual Studio did you install?
- What do you mean by 'pertinen

[2017-11-21 17:19] akashrajkn commented on #1851
Could not reproduce this issue on the latest release (0.8.4). Please reopen this if it occurs

[2017-11-21 17:19] #1851 closed

[2017-11-22 08:20] caofei0806 commented on #2170
1. I didn't install Visual Studio until I followed the tips you give here
2. I downloaded Visual Studio IDE from official website, the VS Community 2017 version. The installation interface informs that I should choose the workload and install components first, so I chose almost every component that reminds R. But the JASP still doesn't work.
3. Since the "runtime error" window says it is the "Micr

[2017-11-22 09:46] fplatz commented on #2178
Dear Eric-Jan,

I think I know, what is "wrong" (from my perspective).

I have replicated the calculation in R (see the file). You're right (please see below), the confidence interval reported in t.test() gives "a confidence interval for the mean appropriate **to the specified alternative hypothesis**" (as written in the help file), but not in terms of accent size (Cohen's d).
Thus, the table's co

[2017-11-22 09:50] vankesteren commented on #2060
This is fixed in 0.8.4!

[2017-11-22 09:50] #2060 closed

[2017-11-22 09:51] vankesteren commented on #2058
I'm closing this due to lack of response, we can reopen if the requester responds!

[2017-11-22 09:51] #2058 closed

[2017-11-22 09:53] #1518 closed

[2017-11-22 09:56] vankesteren commented on #1421
This is implemented in #1844

[2017-11-22 09:56] #1421 closed

[2017-11-22 10:19] isakohrlund opened #2183 "Bug: Crash when performing calculation in .ods"
JASP crashes when I perform a calculation (e.g. sum or log) in a .ods file. Even if I restart JASP and try to open the file it crashes.

* JASP version: 0.8.4
* OS name and version: Windows 10 Pro 64-bit v 1703
* Analysis: (opening the file)
* Steps to reproduce: open the attached .ods, edit the data in Excel (2016 in my case), perform some kind of calculation, save.

[crime_beer_and_church.zip](h

[2017-11-22 13:29] isakohrlund opened #2184 "Request: Plots to spot bias (P-P, Q-Q and Zpred vs Zresid)"
Hi,

I'm trying to teach my students how to spot bias, but JASP currently lacks that functionality, so we're stuck with SPSS.

* Enhancement: P-P, Q-Q and zpred vs zresid plots
* Purpose: Spot bias

[2017-11-22 13:55] zfyao opened #2185 "running time error while open file for correlation matrix"
## Template for bug reports

* JASP version: 0.8.3.1
* OS name and version: Windows 10 home edition
* Analysis: correlation matrix
* Steps to reproduce:  open JASP-->click recent file.ods -->then pop-out running time error.
see picture

![image](https://user-images.githubusercontent.com/9247645/33130859-fed36f7a-cf94-11e7-99b9-91bee1ea0093.png)

[2017-11-22 14:18] akashrajkn commented on #2185
This is related to issue #2183.

[2017-11-22 14:32] zfyao commented on #2185
How to solve this issue?

[2017-11-22 14:34] akashrajkn commented on #2183
@isakohrlund I can reproduce when I try to create a new column without explicitly adding a column name. We will fix this in the upcoming release, but for now you can try the workaround.

When you create a new column (eg: sum), add a column name also.

[2017-11-22 15:30] EJWagenmakers commented on #2184
Yes, cool; any specific analyses you have in mind? (regression?)

[2017-11-22 15:36] isakohrlund commented on #2184
Yes, well, that would be a start!

[2017-11-22 15:44] akashrajkn commented on #2185
@zfyao

I can reproduce when I try to create a new column without explicitly adding a column name. We will fix this in the upcoming release, but for now you can try the workaround.

When you create a new column (eg: sum), add a column name also.

[2017-11-22 15:55] akashrajkn commented on #2167
@R180
Thank you for reporting this. We will fix this.

Workaround for now: Open the file in jasp, double click on any cell -> this opens your preferred editor which shows all the rows. Now save it (Crtl + S). JASP will display all the rows after this.

[2017-11-23 00:08] juliusverrel opened #2186 "Statistical tests on subsets of data defined by a covariate"
It would be great to allow users to perform statistical tests (or other analysis steps) on subsets of a given data set, define by a covariate. Of course this can be achieved by creating a new table, but subset analyses would be much more convenient.

[2017-11-23 00:13] juliusverrel opened #2187 "Correct p-values in ANOVA tables for multiple comparisons"
As recently pointed out by one of the JASP-PIs, there is a largely neglected multi-comparison problem with exploratory multifactorial ANOVA [(Cramer et al, 2016)](https://arxiv.org/abs/1412.3416). It would be great to add Holm-corrected p-values to ANOVA tables.

[2017-11-23 22:15] #2065 closed

[2017-11-23 22:15] #2063 closed

[2017-11-24 12:30] EJWagenmakers opened #2188 "Save does not work, sometimes"
I open a .jasp file, adjust the annotation, and press "save". Then I get the message "File is being used by another application". It's not though, so something isn't right.
E.J.

[2017-11-27 14:54] metamorphose42 commented on #2042
Any update on this?

Many thanks!

[2017-11-27 21:35] EJWagenmakers commented on #2042
Ah, sorry, I have been looking for your mail, but in the wrong place (the JASP Forum). So about your question. I am not 100% sure that I understand your question -- a concrete data set or example would help. My first response was "oh you are asking about the grand mean, but this gets an uninformative prior and so it is not something we test" but now I'm not so sure. So we have a between-subjects f

[2017-11-28 08:37] FransMeerhoff commented on #2088
If this problem still occurs please noisy this on Issue

https://github.com/jasp-stats/jasp-desktop/issues/1431

[2017-11-28 08:37] #2088 closed

[2017-11-28 08:41] FransMeerhoff commented on #2052
@Milan3462

If you still have this problem reopen issue.

[2017-11-28 08:41] #2052 closed

[2017-11-29 08:33] metamorphose42 commented on #2042
Hi!

No problem, I’m sure you are very busy and appreciate you taking the time.

I only have SPSS files, attached.

To be honest I’m asking you because I don’t know whether my supervisor makes much sense. In my neuroimaging data, I have two within subject conditions, namely posture (sitting versus laying down) and we used fNIRS and ran six contrasts on the 16channels (for each we have a measure of

[2017-11-30 12:26] philippberens opened #2196 "Bug during independent sample Bayesian t-test"
* JASP version: 0.8.4.0
* OS name and version: Win 7
* Analysis: Independent sample Bayesian t-test
* Steps to reproduce:
Load [ex6_geneexp.zip](https://github.com/jasp-stats/jasp-desktop/files/1517722/ex6_geneexp.zip)
Run Bayesian t-test
with Group as Factor and Expression as Variable

Output by JASP:
This analysis terminated unexpectedly.

Error in ttest.rows[[rowNo]]$BF: $ operator is invalid f

[2017-11-30 17:00] EJWagenmakers opened #2198 "ANOVA contrasts -- important note from Facebook"
copied from Facebook:

#JASP #JAMOVI #R

I get different results from those three softwares when running an univariate #ANOVA with planned #contrasts.

My data structure:
  - 170 participants
- IV: four groups (originally called 1,2,3,4 — but I also tried using letters)
- DV: continuous (M1=.009 (SD1=.393), M2=-.091 (SD2=.0412), M3=.253 (SD3=.572), M4=.453 (SD4=.608)
                  - no missing

[2017-12-02 14:07] EJWagenmakers opened #2201 "Weirdness in BUGS data set"
Something has gone wrong on line 40 (38). I think we ought to delete that row.
![image](https://user-images.githubusercontent.com/8603015/33516387-8c40ffcc-d737-11e7-9b26-ed7e056c4abb.png)

[2017-12-02 14:10] EJWagenmakers commented on #2201
And while you are at it, row 90 can also go

[2017-12-02 16:48] AlexanderLyNL commented on #2201
That's strange. Everything is okay for me.

Case 40 has a missing value under gender.

<img width="1312" alt="screen shot 2017-12-02 at 17 45 40" src="https://user-images.githubusercontent.com/10271675/33517679-be89483a-d788-11e7-9577-f4dd75c71892.png">

Case 97 has a missing value under education.

<img width="1312" alt="screen shot 2017-12-02 at 17 46 23" src="https://user-images.githubuserconte

[2017-12-02 17:03] AlexanderLyNL commented on #2196
In case you'd like to see the result sooner rather than later, here it is:

![image](https://user-images.githubusercontent.com/10271675/33517819-24e59afa-d78b-11e7-9673-8a82abaaf508.png)

[2017-12-03 11:26] #1729 closed

[2017-12-03 12:02] baltzis opened #2202 "Missing values in frequency tables"
*** JASP version:** 0.8.4
*** OS name and version:** Windows 10 (64- and 32-bit)
*** Analysis:** When missing values are defined, in the frequency table they always appear as zero answers and the percent column is always identical to the valid percent column. I think that this can't be right, because the difference between the two columns - as I understand it - are indeed the missing values.

JASP

[2017-12-03 20:40] EJWagenmakers commented on #2202
You are correct. Currently the frequency tables do not really use the "percent" column, as the invalids appear to be ignored. We'll fix this. @TimKDJ @vankesteren

[2017-12-04 08:58] philippberens commented on #2196
Thanks!

[2017-12-05 11:16] lindeloev commented on #2186
Related to #2141

[2017-12-05 12:37] acontent commented on #2198
maybe useful to note that repeated contrasts were correct in 7.5.5 :
![image](https://user-images.githubusercontent.com/8482944/33607422-57e3c584-d9c1-11e7-943b-1433e914e28f.png)

[2017-12-05 17:26] acontent commented on #2198
Actually I think that all requests for non-orthogonal contrasts aren't realized as specified, ie, "simple", "deviation", and "repeated" .

[2017-12-06 18:47] joucoski opened #2208 "Saving output in JASP"
I can not save the output in any useful format since the HTML format that is generated is very restrictive. In the output window, by clicking Copy in the drop-down list, you can not paste into Notepad. I copied to LibreOffice Calc (free version of a spreadsheet) but did not copy into a usable format. In the matrix each row shows the name of the variable and then with many spaces up to the value of

[2017-12-06 19:58] EJWagenmakers commented on #2208
Yes this is annoying. I think the format includes particular table information that does not copy over nicely (or not at all) to a program like Notepad. It does copy the tables to, say, Word or LibreOffice Writer. It would be good to be able to copy the tables as "text only" (so it has hyphens instead of horizontal lines) or even LaTeX code (a man can dream).
@FransMeerhoff @boutinb

[2017-12-07 08:06] TimKDJ commented on #2202
The correct table will be in version 0.8.5. Thank you for reporting this to us.

[2017-12-07 08:06] #2202 closed

[2017-12-07 10:49] vandenman opened #2209 "Chrash on loading of dataset"
## Template for bug reports

* JASP version: 8.4.0
* OS name and version: Windows 10 & Development build (7-12-17) on Ubuntu 17.10
* Analysis: NA
* Steps to reproduce:  Load attached dataset, JASP chrashes.

JASP chrashes when trying to load the attached .csv. Both `read.csv` and `readr::read_csv` can read the file without setting any arguments. Perhaps the Timestamp column is the problem (wild gu

[2017-12-07 10:56] quentingronau opened #2210 "Add set.seed option?"
One of the participants of our JASP workshop suggested to add a "set.seed" option to Bayesian analyses which use sampling. I think it would be nice to add this option, but I also remember vaguely that we talked about this before and I cannot recall anymore whether there were good arguments for not including this.

[2017-12-07 11:34] quentingronau opened #2211 "Add coefficient estimates to Bayesian regression"
## Template for enhancement requests
Enable users to see the posterior estimates from BayesFactor
* Purpose: Users do not need to look at the classical coefficient estimates anymore
Suggested by one of our participants at the workshop.

[2017-12-07 13:10] quentingronau commented on #2211
Ah, as far as I understand it, the new BAS functionality will allow the users to get these estimates, right?

[2017-12-07 13:37] quentingronau opened #2213 "Bayesian linear regression robustness check in summary stats but not in common?"
Is there a reason why we have the robustness check plot in the summary stats module but not in common (at least I could not find it easily)?

[2017-12-07 16:58] JohnnyDoorn commented on #2198
Hi Alain,
Thank you for bringing this to our attention - I updated the repeated contrasts so the new release will display the correct contrasts again. I will look into the other non-orthogonal contrasts and fix these.
Kind regards,
Johnny

[2017-12-07 17:02] kornbrot commented on #1718
JASP has great potential but many frustrations
1. paired t-test. I want credibility levels of DIFFERENCE of means. are these same as freqentist confidence levels with different interpretation? what I a getting is credibility levels for median delta = ? cohen's d??. credibility levels on  indivdual variables is onteresting but NOT what I need.
2. linear regression. had been hoping for slope and int

[2017-12-07 17:39] EJWagenmakers commented on #1718
Thanks for your suggestions:
1. For the t-tests, JASP returns inference for Cohen's d, so effect size [=(mu1-mu2)/sigma], which is the difference of means, but scaled by the standard deviation. For details see the Ly et al. paper in Journal of Mathematical Psychology, and the "Part II" paper (Wagenmakers et al., in press for Psychonomic Bulletin & Review). The one exception is the descriptive plot

[2017-12-08 16:50] boutinb commented on #2209
[survey.csv.zip](https://github.com/jasp-stats/jasp-desktop/files/1543294/survey.csv.zip)
Hi @vandenman  I don't know exactly what is going wrong with this file, but if I load it Excel and save it again, then I can load it in JASP. There is apparently some bytes that JASP does not like when reading it...

[2017-12-09 10:33] metamorphose42 opened #2215 "confusion about how to report BF results"
Hi,

I am trying to figure out how to best report my results. In general, I look at both BF10 and BF01. Often my approach is to look at BF10, if this is < 1, I look at the BF01, which usually provides stronger evidence.

For example, I currently have a simple design with two factors. For all four factors incl effects the BF10 is around or below 1. When I look at the BF01, the best model providing

[2017-12-09 21:12] EJWagenmakers commented on #2215
Hi Clarisse,

Thanks for your message. I'll answer it here, but for these kinds of interpretational issues the JASP forum (http://forum.cogsci.nl/index.php?p=/categories/jasp-bayesfactor) is more appropriate.

Anyway, I think your explanation is correct, but I would have to see a screenshot of the JASP output table to be sure. Not that BF10 = 1/BF01. What I usually do is select "compare to best mo

[2017-12-12 15:43] #1853 closed

[2017-12-12 15:44] AlexanderLyNL commented on #1853
Implemented in 8.2.0

[2017-12-12 15:47] #2196 closed

[2017-12-12 15:48] AlexanderLyNL commented on #2201
@EJWagenmakers What's the status of this? This data set works well for me.

[2017-12-12 15:52] AlexanderLyNL commented on #2215
I think that this issue is solved. If not, please re-open.

[2017-12-12 15:52] #2215 closed

[2017-12-12 16:34] #1677 closed

[2017-12-12 16:36] AlexanderLyNL commented on #2198
@JohnnyDoorn Is this also fixed by pull request  #2216? If so, please close.

[2017-12-12 16:50] JohnnyDoorn commented on #2198
No, the fixes are still on my branch - will pull request tomorrow! (and close the relevant issues)

[2017-12-12 18:23] benediktclaus commented on #2208
Table output in Latex code is highly requested. That would be an awesome feature!

[2017-12-13 08:09] FarMar opened #2221 "Add random effects and nesting designs to frequentist ANOVA"
## Template for enhancement requests
Add an option for random effects to the frequentist ANOVA, and allow nesting of factors
* Enhancement: Improves functionality to allow a wider range of experimental designs to be analysed
* Purpose: To enable users to analyse designs which are nested and contain random factors e.g. location, block, etc.

[2017-12-13 08:15] #2170 closed

[2017-12-13 16:44] #2167 closed

[2017-12-14 08:58] EJWagenmakers opened #2225 "Across matched model"
@TimKDJ
See screenshot. Should it be "across matched model" (what we have now) or "across matched models"?
I'll also ask Sebastiaan.
![acrossmatchedmodel](https://user-images.githubusercontent.com/8603015/33983670-51aea580-e0b5-11e7-8c19-bd94866cd6f9.png)

Cheers,
E.J.

[2017-12-14 09:01] TimKDJ commented on #2225
It already is 'models', but it appears to be cut-off on your screen.
Is there an easy fix for this situation @akashrajkn?
<img width="620" alt="screen shot 2017-12-14 at 09 59 51" src="https://user-images.githubusercontent.com/18737241/33983765-a3262ffa-e0b5-11e7-8abc-e6a4846762fd.png">

[2017-12-14 09:04] EJWagenmakers commented on #2225
Oh yes that's my high-res screen again. Hopefully your update will resolve this issue soon.

[2017-12-15 10:21] quentingronau opened #2230 "Rename BF10 when comparing to best model?"
Personally, I find it a bit confusing that when the option "Compare to best model" is selected, the output table says "BF10" which is in fact not the Bayes factor against the null model but against the best model. Maybe we could change this in the tables/interface to something more informative?

[2017-12-16 16:30] BalthazartJacques commented on #2143
This is the most important addition I would like to see in JASP
Jacques Balthazart

[2017-12-17 19:57] hmustafamail opened #2235 "Some ideas: constraints, collapse-rename-rearrange, mediation, scatter in linreg, autotext"
Dear JASP developers,

First, I want to tell you how much I love JASP. When I first ran an ANOVA in it, and saw how easy it was, I nearly cried. It has quickly become my favorite tool. I deeply appreciate all the work that is going into it and I am excited to see what comes next!

There are some things I would love to see in JASP, so we can live the dream of doing everything in one well-designed t

[2017-12-17 20:02] EJWagenmakers commented on #2235
Dear hmustafamail,

Thanks for your kind words and your suggestions. We agree completely. In fact, every last one of your suggestions is already in our road map! That does not mean all the work will be done before Xmas, but it does mean we are keenly aware of this and we will get to these suggestions in due time. Great minds think alike, I guess ;-)

Cheers,
E.J.

[2017-12-17 20:02] #2235 closed

[2017-12-17 20:08] hmustafamail commented on #2235
Thank you for the quick response, this is wonderful to hear :)

Best,
- Mustafa Hussain

[2017-12-17 22:17] AaronWaddell opened #2236 "Repeated measures anova - R and JASP"
## Template for bug reports

* JASP version: 0.8.4
* OS name and version: Windows 8
* Analysis: Repeated measures ANOVA
* Steps to reproduce:  Load dataset (R), Load dataset JASP. Run script

## Template for enhancement requests

* Enhancement:
* Purpose: Compare results / Achieve the same output
File: https://www.dropbox.com/s/1hadpqq060ylhcf/jasp_base.csv?dl=0
**Please, after load a csv file, ru

[2017-12-18 08:11] alphonsasushma commented on #850
Are these requested options available in the current version of JASP. Just checking as I am using data which will need non-parametric analyses. Thank you.

[2017-12-18 13:25] JohnnyDoorn commented on #2236
Hi Aaron,
I looked at your example in both R and JASP. It looks like the models are specified differently across the platforms. In JASP, you are including the interactions between the within factor and the between factors, whereas in R this is not the case. To do so in R, you would need to change the following:
``{r}
rm_pals <- aov(data=data_long, Result ~ Time * Condition*Hispanic +

[2017-12-18 17:16] kornbrot commented on #1718
thanks

a graph of y v x to go with linear regression would be nice. Not providing this is a feature of spss one would not want to emulate
on 1, I was not clear. Its the credibility levels I need for the BAYES paired t-test difference between means

best
Diana
On 7 Dec 2017, at 17:39, EJWagenmakers <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for your suggestions:

[2017-12-18 22:09] AaronWaddell commented on #2236
Thanks for your help

[2017-12-19 08:40] #1752 closed

[2017-12-19 08:40] metamorphose42 commented on #1807
Hi,

I have now update to version 0.8.4, and trying to run my 7580 models... I don't get an error message, but I'm not sure how to tell whether it's working (how long should I wait?) or whether Jasp keeps crashing (its still responsive, i.e. I can move around within the interface, just no BFs are coming up)?

Here a screenshot:

<img width="1212" alt="screen shot 2017-12-19 at 09 39 09" src="https

[2017-12-19 08:44] #1293 closed

[2017-12-19 08:48] boutinb commented on #1388
@alvarezlionel I re-visit old issues. Does this issue still occur with the new version of JASP? What I can see already from the output is that the versions of some R packages are not the right one.

[2017-12-19 08:48] EJWagenmakers commented on #1807
You can see the progress bar on top, and it is not looking like the analysis will end any time soon. Have you tried running the analyses with fewer predictors first? Also, Tim said that he could "hopefully" solve it in the next release, but I'm not sure he got to it. @FransMeerhoff

[2017-12-19 08:50] boutinb commented on #1424
I think this problem is already solved in the new JASP version

[2017-12-19 08:50] #1424 closed

[2017-12-19 08:53] #1441 closed

[2017-12-19 08:55] boutinb commented on #1647
Done in previous JASP version

[2017-12-19 08:55] #1647 closed

[2017-12-19 09:20] metamorphose42 commented on #1807
Yes, I have tried, it has always worked for just within subject factors, when it comes to between it stops working. And I tried specifying some as nuissance, but it still crashes, maybe because I have to enter my data before I can select which are nuissance, so it already gets started?

[2017-12-19 09:29] EJWagenmakers commented on #1807
If you send me the data set (or part of it), I can take a look.
EJ.Wagenmakers@gmail.com

[2017-12-19 09:34] alvarezlionel commented on #1388
Thanks for revisiting old issues.
I work on a new machine now, so it is impossible for me to tell you about what happens on my old MacBook Air.

Dr. Phil. Lionel Alvarez

____________________________
Lecteur
CERF –  Départ. des Sc. de l’Educ.
Université de Fribourg - Suisse
www.unifr.ch/cerf<http://www.unifr.ch/cerf>

+41 26 300 76 08
Regina Mundi – Bureau S2.131

On 19 Dec 2017, at 09:48, bruno b

[2017-12-19 09:36] metamorphose42 commented on #1807
That would be great, thank you so much! csv file attached.

What I am hoping to redo as in the frequentist analyses is this:

Within: (2x2x2)
T1accHH [1, 1, 1]
T1accHL [1, 1, 2]
T1accLH [1, 2, 1]
T1accLL [1, 2, 2]
T2accHH [2, 1, 1]
T2accLH [2, 1, 2]
T2accHL [2, 2, 1]
T2accLL [2, 2, 2]

Between:
GainLoss
SelfOther

Thank you!

[2017-12-19 09:57] boutinb commented on #995
@AlexanderLyNL: I cannot reproduce this problem. can we close this issue?

[2017-12-19 10:01] boutinb commented on #1138
@EJWagenmakers I cannot reproduce it. Do you have a reproduction path?

[2017-12-19 10:03] boutinb commented on #1133
This will be solved with Qt5.9, that solves High Definition problem on Windows

[2017-12-19 10:11] boutinb commented on #1433
When opening or creating a file on OSF, after modifying it, typing CTRL-S, or clicking on the Save button, save the JASP file in OSF and does not ask to save it locally. So I think this problem has been solved.

[2017-12-19 10:11] #1433 closed

[2017-12-19 10:29] boutinb commented on #1388
If I understand, it works now correctly and I can close this issue?

[2017-12-19 10:30] boutinb commented on #1572
If this issue still occur, re-open it.

[2017-12-19 10:30] #1572 closed

[2017-12-19 10:32] boutinb commented on #1516
I think this has been solved already. I cannot reproduce it.

[2017-12-19 10:32] #1516 closed

[2017-12-19 10:36] alvarezlionel commented on #1388
It works now correctly on another machine (MacBook Pro).
I don’t know about the previous machine (MacBook Air) because I don’t have it anymore.

So, personally, I can use JASP without any problem.

Thanks

Dr. Phil. Lionel Alvarez

____________________________
Lecteur
CERF –  Départ. des Sc. de l’Educ.
Université de Fribourg - Suisse
www.unifr.ch/cerf<http://www.unifr.ch/cerf>

+41 26 300 76 08
Re

[2017-12-19 10:37] boutinb commented on #1580
We cannot reproduce this problem. If it still occurs, re-open it.

[2017-12-19 10:37] #1580 closed

[2017-12-19 10:38] boutinb commented on #1513
Reopen this issue, if it still occurs (and send the JASP file).

[2017-12-19 10:38] #1513 closed

[2017-12-19 10:39] boutinb commented on #1501
This is solved.

[2017-12-19 10:39] #1501 closed

[2017-12-19 10:45] boutinb commented on #1708
This is solved

[2017-12-19 10:45] #1708 closed

[2017-12-19 10:48] #1388 closed

[2017-12-19 10:52] boutinb commented on #1652
I think this issue can be closed now. If not reopen it.

[2017-12-19 10:52] #1652 closed

[2017-12-19 10:53] boutinb commented on #1612
If this problem still occur, reopen this issue

[2017-12-19 10:53] #1612 closed

[2017-12-19 10:56] boutinb commented on #1829
If this error still occurs, re-open this issue

[2017-12-19 10:56] #1829 closed

[2017-12-19 10:57] boutinb commented on #1820
@AlexanderLyNL is this solves?

[2017-12-19 10:58] boutinb commented on #1816
@MayaEn Does this problem still occur?

[2017-12-19 11:00] #1812 closed

[2017-12-19 11:05] boutinb commented on #1797
If this error still occurs, re-open this issue.

[2017-12-19 11:05] #1797 closed

[2017-12-19 11:08] boutinb commented on #1795
Hi @DenisFouc I haven't received anything... If you send me something with GitHub, compress is first with ZIP. Does this problem still occur with the last version of JASP?

[2017-12-19 11:11] #1911 closed

[2017-12-19 11:12] boutinb commented on #1909
No response. If this error still occurs, re-open it.

[2017-12-19 11:12] #1909 closed

[2017-12-19 13:04] JohnnyDoorn commented on #2236
Hi Aaron,
I usually prefer the ezANOVA function from the ez package in R:
[code]
Kind regards
Johnny

[2017-12-19 15:08] DenisFouc commented on #1795
Hello,
Yes… always the same pattern…

I didn’t send you anything because I have the same type of errors… Even with the new version.
Here is another picture of my screen after demanding a descriptive plot…
If you can help me… But there is a problem- bug somewhere…

Thank’s
Denis
[cid:image001.png@01D378B1.3AF251A0]
De : bruno boutin <notifications@github.com>
Répondre à : jasp-stats/jasp-desktop <r

[2017-12-19 16:07] EJWagenmakers opened #2240 "Pre-activate "additional info" for Bayesian contingency tables"
In the t-test, we now pre-activate the "additional info" option (as most users will want it). But this has not yet been done for the contingency table analysis. Would be good to do this, for consistency.
See screenshot. This is not urgent
![additionalinfo](https://user-images.githubusercontent.com/8603015/34166397-0cf7dfaa-e4df-11e7-8ff8-6a5f4c29edb8.png)
.

[2017-12-19 16:11] vandenman commented on #1795
Hi @DenisFouc, the image you send is not visible for us. Could you please create a .zip file and resend it? Any other data format is not accepted by Github. See [this link](http://osxdaily.com/2012/01/10/how-to-zip-files-in-mac-os-x/) for how to make a .zip file on OSX.

[2017-12-19 16:21] vandenman commented on #1795
Also, this error might appear because your computer is missing a default font (Arial), which can be removed after installing MS office on Mac. Here is a [stackoverflow link](https://stackoverflow.com/questions/10581440/error-in-grid-calll-textbounds-as-graphicsannotxlabel-xx-xy-polygon) where people experienced the same error (albeit that the error message is in English). Perhaps something to try:

[2017-12-19 16:32] DenisFouc commented on #1795
Here it is…

De : vandenman <notifications@github.com>
Répondre à : jasp-stats/jasp-desktop <reply@reply.github.com>
Date : mardi 19 décembre 2017 à 11:21
À : jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc : "Foucambert, Denis" <foucambert.denis@uqam.ca>, Mention <mention@noreply.github.com>
Objet : Re: [jasp-stats/jasp-desktop] Error with graphics (#1795)

Also, this error might app

[2017-12-19 16:38] esdalmaijer opened #2241 "Repeated-measures ANOVA error with high(ish) number of cells (complex numbers or unequal size arrays)"
* JASP version: 0.8.2 (but also present in 0.7.1.12)
* OS name and version: Windows 7
* Analysis: Repeated-measures ANOVA
* Steps to reproduce: Run a repeated-measures ANOVA with two factors, one of 3 and one of 9 levels.

An issue that has persistent over the past and current versions occurs when the number of cells in a repeated-measures ANOVA is relatively high. For example, a 3x9 analysis will

[2017-12-19 17:16] AlexanderLyNL commented on #1807
The analysis is still working, but it takes a while before it's able to enumerate all models, which takes a very long time.

[2017-12-19 17:17] EJWagenmakers commented on #1807
So then the suggestion would be to start the analysis in the evening, and by the morning you should at least see from the progress bar how much longer it will take...
E.J.

[2017-12-19 17:18] AlexanderLyNL commented on #1820
This will be solved with Qt5.9

[2017-12-19 17:18] #1820 closed

[2017-12-19 17:26] JohnnyDoorn commented on #2241
Hi Edwin,
Thanks your post. I just looked into it, by simply generating a 9x3 RM dataset with 50 observations per column, but for me the analysis runs fine (see the attached jaspfile). Would you mind sharing the dataset (or even better, the JASP-file containing the error) so I can try to reproduce it?
Also, did you try it with the latest version of JASP? It might be that this was (perhaps accident

[2017-12-19 17:27] metamorphose42 commented on #1807
Thank you both, I will do that and look forward to the morning :)

[2017-12-19 17:33] AlexanderLyNL commented on #1807
Sorry for this, but this is a hard problem, because the number of models get multiplied by each level in the factor and therefore increasing the number of models very rapidly. The increased number of models also test the limits of memory and the pipeline between our front-end and back-end. We try to be thorough here and provide Bayes factors for all the models, but this might actually be an overki

[2017-12-19 17:43] #2236 closed

[2017-12-19 20:25] esdalmaijer commented on #2241
Hi Johnny,

Thanks for the response! Interestingly, your file works. I've attached a file of mine that doesn't, with a 2x9 rm-ANOVA (also doesn't work with a 3x9 one).

Cheers,
Edwin

[example_data.zip](https://github.com/jasp-stats/jasp-desktop/files/1573133/example_data.zip)

[2017-12-19 20:49] esdalmaijer commented on #2241
After thinking about this for a bit, the labels `20` and `200` seem to be what makes the errors listed above occur. So I generated a new minimum example, this time with only one factor (`F1`) that has two levels (`20` and `200`). As expected, this results in the same error as above. (File is attached.)

How are variable names resolved, and does it matter that these two have non-unique characters f

[2017-12-20 03:11] AlexanderLyNL commented on #995
The bug is fixed, though, the error message is not adaptive. Easy to fix. I'll do this later.

[2017-12-20 03:11] #995 closed

[2017-12-20 08:02] boutinb commented on #1838
We cannot resize the Analyse option panel. This would be extremely difficult to allow this because of the UI format. Maybe when we will use QML format, we can think of making it resizable.

[2017-12-20 08:38] robkoper opened #2242 "Data Filters are too hard to create using JASP"
For me, one of the major shortcomings of JASP is the restrictions in data wrangling. The idea to use an external editor like Libreoffice or Excel through .ods files is great. However, this does not support data filters. When you set a filter in Libreoffice to analyse a subgroup (select rows), you need to copy and paste into a new spreadsheet, save it and reopen a new instance of JASP. This is beca

[2017-12-20 10:45] boutinb commented on #2242
@robkoper We are indeed planning to add filtering options in JASP in the coming months. ODS filtering might be also something we may support. We'll think about it, but filter options in JASP self will be definitively implemented.
Thanks for your comment.

[2017-12-20 12:31] tkaiser86 opened #2243 "Bug: Changing color scheme in network analysis does not work"
## Template for bug reports

* JASP version: 0.8.4
* OS name and version: macOS High Sierra, Version 10.13.2
* Analysis: Network
* Steps to reproduce: open the example Big 5 (Dolan, Oort, Stoel & Wicherts, 2009) data set. Enable the network analysis module. Enter all variables as dependent variables. Check the "network plot" checkbox. Under "Graphical Options", choose any color scheme other than t

[2017-12-20 12:40] akashrajkn commented on #1957
Fixed in #2223

[2017-12-20 12:41] akashrajkn commented on #2198
Fixed in #2223

[2017-12-20 12:41] #2198 closed

[2017-12-20 13:29] Emoll9 opened #2244 "Bug: Partial eta-squared and omega-squared not available in ANOVA"
The options to select partial eta-squared and omega-squared as effect sizes in ANOVA are unavailable (greyed out). The selection is defaulted to eta-squared and cannot be changed.

* JASP version: 0.8.5
* OS name and version: Windows 7 Enterprise SP1
* Analysis: ANOVA
* Steps to reproduce: 1. Open JASP example dataset "Tooth Growth". 2. Select ANOVA -> ANOVA from the menu bar. 3. Select "supp" and

[2017-12-20 13:46] asoskic opened #2245 "Different results of t test depending on dependent variable's measurement level"
Hi! I am getting different results of independent samples t test (as well as Levene's test), depending on whether the variable has been marked as nominal or ordinal, on one hand, or scale on the other hand.

I have noticed this first with a file imported from SPSS, so I made another file to test this problem further. I have attached it here:
[JASP t test and measurement level.zip](https://github.c

[2017-12-20 14:07] EJWagenmakers commented on #2245
I think this has something to do with the SPSS import. Some observations:
1. When I upload a csv and change the measurement level in JASP, the results stay the same.
2. If you take your variables and you select "descriptives", you will see that they differ. So even though the numbers *look* the same, the really aren't.
3. This becomes clear when you change the measurement level of the columns in J

[2017-12-20 14:13] EJWagenmakers commented on #2244
@FransMeerhoff @boutinb @JohnnyDoorn
Good point. This is actually close to being worth a hot-fix. Let's wait until we get some more feedback (maybe by that time we will have a Windows-signed version too...)
E.J.

[2017-12-20 14:27] vandenman commented on #2243
Hi, did you use a variable for `Color Nodes By`? Without that, the `Node palette` (name for the option in JASP 0.8.5, previously named color scheme in JASP 0.8.4) will not be used. In a future update, we'll make sure that `Node palette` is disabled when no variable is provided for `Color Nodes By`.  Also the contents for `Color Nodes By` are rather specific. The contents must be of the form $Colum