[2018-05-18 08:29] tomtomme commented on #2546
you could show absolute numbers / counts instead. no need for a density except in the case of varying bin size

[2018-05-18 08:34] tomtomme commented on #2545
@EJWagenmakers : To show them a 1000 row table might teach them something. I am a fan of preventing only really fatal errors and let all the user solve the small problems by themselves, by giving him hints / guidelines, whats optimal. If you just forbid something the user just might move on to another program that lets him do what he wants.
There is already noted that it works only for nominal ord

[2018-05-18 08:37] tomtomme commented on #2535
True. There would need to be a limit. Maybe only show labels for up to 4 outliers. Or only for discrete data. Or only for samples smaller than 100. Something like this. No general solution I know. But better than the current situation where all those numbers overlap

[2018-05-18 08:44] viktorsvetsky commented on #2547
[data_file.zip](https://github.com/jasp-stats/jasp-desktop/files/2016102/data_file.zip)

[2018-05-18 13:13] wacunn commented on #1103
I would like to add one for the bump up on this. I haven't downloaded JASP yet because this is the one necessary feature for the research in my lab. I check back monthly for MLM....

[2018-05-18 17:27] AlexanderLyNL commented on #2547
Hi Viktor,

I tried this on JASP 0.8.6.0 and our development version and could not reproduce 1. Regarding 2, when I open the file I do notice that the plots aren't there. After refreshing it all and saving the file, I do get the plots whenever I reopen the JASP file.

@FransMeerhoff could you have a look at this, and see if you can reproduce the errors?

[2018-05-18 18:26] vankesteren commented on #2535
With the new plots we may be able to use something like [ggrepel](https://cran.r-project.org/web/packages/ggrepel/vignettes/ggrepel.html) to solve this issue in a quite general way?

[2018-05-18 20:13] FransMeerhoff commented on #2547
Hi @viktorsvetsky

I tested this issue on the our own 0.8.6 release on a Mac.
I found the same result as Alexander 1. not reproducible. 2. I can
But there is definitely something wrong here (and mainly with the content of the jasp file):
First of all there is a simple work around to solve this issue:
- Open data_jasp_final.jasp
- In the Main Result dropdown, on top of the results window, you can c

[2018-05-19 07:18] viktorsvetsky commented on #2547
Hi.

I didn’t use it for editing data. I prepared data in Excel, saved it as csv. Then opened in jasp and saved as a jasp file.

I added one analyse yesterday to this file, saved it and situation is now that it is not showing anything when I open the file.

[cid:image001.jpg@01D3EF52.49D46790]

You can see in the left top corner that the file is open. When I double click on the white field where u

[2018-05-22 02:35] SCgeeker opened #2555 "Missed conlusion notes after reopen"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: Windows 10.0.17134.48
* Analysis: Linear Regression
I conducted one jasp file for teaching correlation and regression. Some notes were written in the conclusion of analysis summary. When I closed the file and opened it again. all the words in the notes gone. Because I taught them in Chinese, the notes were Chinese words.

*

[2018-05-22 07:50] FransMeerhoff commented on #2547
Hello @viktorsvetsky

That is very strange,
I would like to know now:
- Is the problem gone when you load the refreshed jasp file that I have attached?
- Can you tell me what you see in the Result Menu, I've added a screenshot that should be seen.
- Can you tell me the exact build info of the JASP version you are running (The About Box in the preference menu - 'hamburger icon' on the righ' - gives

[2018-05-22 10:11] dagiovanni opened #2557 "anova he analysis terminated using post hoc"
## Template for bug reports

* JASP version: 0.8.6.
* OS name and version: Windows 7
* Analysis: Performing a post hoc with tukey method using Anova. The analysis terminated.
![jaspbuganovaposthoctukey](https://user-images.githubusercontent.com/34913912/40356031-449184fa-5db8-11e8-9dc7-eee6cd071ae7.JPG)

i used this file.
ist is a spss file. Attached an zipped.
[Bugreport.zip](https://github.com/j

[2018-05-22 19:51] viktorsvetsky commented on #2547
Hi.
I can see everything fine in the file you attached. And I can make changes in it, save it, close, open again and everything is fine.
In this file you sent, I can see same Result menu as is in your screen shot.
This is my exact build info:
![capture](https://user-images.githubusercontent.com/16431139/40386480-200a92be-5e0a-11e8-9c40-d25168790372.PNG)

[2018-05-23 09:02] Maland18 opened #2558 "Interactions between covariates in Bayesian and classic ANOVA"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version:
* Analysis: ANCOVA and Bayesian ANCOVA
* Steps to reproduce: Add DV; add fixed factors (I had one) and  list of covariates (I had 6)

## Template for enhancement requests

* Enhancement:The classic ANCOVA includes covariates as main effects, whereas the Bayesian version accounts for all possible interactions between covariat

[2018-05-23 09:48] Maland18 opened #2562 "Cant change panel size"
## Template for bug reports

* JASP version:0.8.6
* OS name and version: macOS High Sierra10.13.4
* Analysis: general
* Steps to reproduce: --

## Template for enhancement requests

* Enhancement: Can't adjust the size of different windows (output window and analysis window) by dragging the border with mouse to left or right. Would be handy when having output tables that include a lot of columns.

[2018-05-23 21:21] chrisaberson commented on #2476
Same error, different directory.

[2018-05-24 05:11] Marian-Popa opened #2564 "Network Analysis crash"
## Template for bug reports

* JASP version: .8.6.0
* OS name and version: Windows 10 version 1803
* Analysis: Network
* Steps to reproduce: Select variables-setting options one by one, starting with network plot.
The crash message appears after selecting more than 2 options, first of them being network plot.
If I select only network plot finish with OK, and after that I make another network analy

[2018-05-24 07:05] boutinb commented on #2476
@chrisaberson The error says that there is no JASPEngine.exe file in the directory you start the batch file. This batch file must be started in the directory where the JASPEngine is installed. Can you see in which directory JASPEngine.exe has been installed?
Another question: did you try to install JASP on another computer?
It will be really great also for us if we can find out what is the problem

[2018-05-24 07:41] FransMeerhoff commented on #2562
Hi @Maland18

Thanks for reporting this. A good point where we are working on (besides a lot of other things of course :-). The size of the output window can already be changed by dragging the border. Analyses windows will be rewritten to a different format which make the resizing easier too.
We made an improvement in the next version JASP 0.9 to zoom in and out in the result window (on Mac by Cmd

[2018-05-24 08:18] EJWagenmakers opened #2565 "Feature request for "take JASP for a spin""
The startup screen presents the message "So open a data file and take JASP for a spin!"
It would be nice if the user could click that text, which should then simply act as if the user had selected "File" from the menu bar (with "Open" selected by default).
Not a top priority, obviously, but it would be nice.
E.J.

[2018-05-24 08:21] FransMeerhoff commented on #2565
E.J.

Coincidence, but believe me or not, but I was busy with this  :-)

Cheers Frans

On 24 May 2018, at 10:18, EJWagenmakers <notifications@github.com<mailto:notifications@github.com>> wrote:

The startup screen presents the message "So open a data file and take JASP for a spin!"
It would be nice if the user could click that text, which should then simply act as if the user had selected "File" f

[2018-05-24 20:15] chrisaberson commented on #2476
Get this message

C:\Users\cla18\Documents\JASP-0.8.6-64-bit\JASP 0.8.6.0>.\JASPEngine.exe 0
null

Command seems hung.  Spinning for a good 5 minutes now.

[2018-05-28 09:17] EJWagenmakers opened #2571 "Copy-paste not working for Google docs"
From the twitterverse (but also reported here earlier, I think):
Tables can be copied in Word/LibreOffice, but not in other programs, most notably Google docs.
It would be nice to see this fixed.

Cheers,
E.J.

[2018-05-29 01:32] ksanders12 opened #2572 "Simple Items Still Nice"
I was looking at Jasp and thought it was nice for some of the complex analytical items. Then I realized sometimes the simple things can be helpful as additional information were missing.  Kinda a "side thing" in the output.

It would be good to add
MEAN
MEDIAN
SUM
MAX
MIN

etc.

[2018-05-29 07:43] AlexanderLyNL commented on #2572
Dear ksanders12,

Thanks for the feedback, but this type of information is available in the "Descriptive Statistics" pane.

Cheers,
Alexander

[2018-05-29 07:43] #2572 closed

[2018-05-29 07:46] AlexanderLyNL commented on #2558
Dear Maland,

You can add an interaction by the interacting variables in the Model tab and then press the right arrow key. There's also the issue of presenting the posterior effects, this is an issue that we'll tackle later on.

Cheers,
Alexander

[2018-05-29 12:30] tomtomme commented on #2535
@AlexanderLyNL
I tried building jasp devel to see if this is still the case. However, I did not find a openSUSE build guide (only ubuntu / fedora) for jasp. The  "make" error messages I see indicate that I need to hunt missing devel packages. How can I find out which packages are still missing?
Qtcreator also is missing a project configuration and even the general examples are missing. So I am at

[2018-05-29 14:04] AlexanderLyNL commented on #2535
Hi Thomas,

Perhaps @akashrajkn knows something about building JASP on openSUSE. Regarding the new plots, it's not in development yet, but on a different branch, which will be merged once the release is out.

Cheers,
Alexander

[2018-05-29 15:07] JohnnyDoorn commented on #2557
Hi,
I just ran your analysis in the latest version of JASP (to be released within 2 weeks) and it works (see attached screenshot)
![posthocfail](https://user-images.githubusercontent.com/15704203/40667563-ca4b51ac-6362-11e8-9cb3-72bb540a7c5f.png)
, so along the way your bug must have been fixed. Thanks for reporting it though, and please let me know if this issue persists in the latest JASP versio

[2018-05-29 16:50] #2565 closed

[2018-05-29 18:16] vankesteren opened #2573 "Feature request: display both counts and proportions in logistic regression confusion matrix"
![image](https://user-images.githubusercontent.com/11596858/40677123-09979e78-637d-11e8-8f7a-111c22915e1e.png)

[2018-05-30 07:43] boutinb commented on #2476
Hi @chrisaberson
It is for us really difficult to find out what's happening on your computer as we cannot reproduce your problem here (and we tried a lot!). What we can say is that if JASP can start (you see the welcome page), but afterwards crashes without doing anything (without loading a file), it is a sign that the engine crashes.
But you were able to start the JASP Engine (when you run the ru

[2018-05-30 10:13] AugustOlsson opened #2576 "Bug when trying to show plots from repeated measures anova with BS factors"
I have a dataset with 3 BS conditions with 24 participants in each of two experimental conditions and 90 participants in a control condition. Each participant has produced 28 judgements on different stimuli.

I have computed an repeated measures BANOVA with 1 within-subject factor with 28 levels and a BS factor with 3 levels.

JASP manages to perform the BANOVA calculation, but when I try to produ

[2018-05-30 10:18] AlexanderLyNL commented on #2576
Hi August,

This is fixed in the newest version. Can you please send me the JASP file in a zip to this thread? Then I can see if this is indeed the case.

Cheers,
Alexander

[2018-05-30 10:21] AlexanderLyNL commented on #2506
I think that this is solved, if not please reopen.

[2018-05-30 10:21] #2506 closed

[2018-05-30 10:27] AugustOlsson commented on #2576
Forgot to add that I am on JASP 0.8.6.0, using Windows 10 Education as IOS. There is a lot of other stuff in the same file, but I'll clean it up for you and send you a version in the afternoon.

Best,
August

[2018-05-30 15:19] JohnnyDoorn commented on #2557
Hi,
We looked into this, and the error is because of an umlaut in your level names. If you remove the umlaut, your post-hoc test will run! For me it worked at first because I first converted your data file to a csv, which also gets rid of the level names.
Of course this is not ideal behavior, and we will look into better handling of umlauts in variable level names!
Kind regards,
Johnny

[2018-05-30 15:42] akashrajkn commented on #2425
Fixed in #2462

[2018-05-30 15:42] #2425 closed

[2018-05-30 15:44] akashrajkn commented on #2346
Fixed in #2454

[2018-05-30 15:44] #2346 closed

[2018-05-31 07:07] FransMeerhoff commented on #2571
Yes we've seen this before.
I will have a take care of this one now.

[2018-05-31 13:41] AlexanderLyNL commented on #2546
I don't know what to put on the y-axis, but the only thing I can come up is quite technical. Out of curiosity, would you be able to explain to students: the Radon-Nikodym derivative of the measure with respect to the Lebesgue measure?

[2018-05-31 13:46] EJWagenmakers commented on #2546
We'll discuss this in the team. It is a relevant complaint because students are generally confused. The question is whether the numbers will increase or decrease the confusion. Perhaps we can make the numbers optional. We'll take this under consideration.

[2018-05-31 13:51] EJWagenmakers commented on #2546
@vankesteren , any thoughts?

[2018-05-31 14:29] AlexanderLyNL commented on #2546
To clarify, I'm not against having units on the y-axis, I just don't know what it should be, other than something very technical, and how this should be explained to students. It wasn't meant to offend.

[2018-06-01 09:07] EJWagenmakers opened #2586 ""Copy citations" with preview"
When we have an output table, we can select "copy citations"; executing "paste" in a word processor will then allow users to see the citations. It would be nice if the user could see the citations without having to open  a word processor and execute "paste". For instance, it would be nice to display the citations when the mouse hovers on the "copy citation" command. Not a big deal obviously.
E.J.

[2018-06-03 01:17] charlesmalpas commented on #2576
Hi all,

I have replicated the bug on 0.8.6 on Mac OSX 10.13.4 using the example 'Bugs' dataset. I specified the within subjects factors only (no between subjects). Trying to plot produces the same error.

![image](https://user-images.githubusercontent.com/955468/40882274-a47372e6-671f-11e8-9359-2aafbd2e2ec9.png)

Hope this helps!

Charles

[2018-06-04 07:31] AugustOlsson commented on #2576
Hi again,

I can't share the orginal data-set due to confidentially because its ongoing research. I'll try and make time to set up a "sham" data-set with the same number of factors, but I am I kind of swamped atm. Maybe the "Bugs"-dataset is enough? Otherwise I'll try to make time as soon as possible.

/August

[2018-06-04 08:09] EJWagenmakers commented on #2576
It may be best to wait for the upcoming version, because I think we have fixed the issue.
Cheers,
E.J.

[2018-06-04 09:32] AlexanderLyNL commented on #2576
It's fixed in the newest version, but I wanted to confirm this for other data sets as well. The newest release will be online after some checks. Please reopen if the bug persists in the newest version.

[2018-06-04 09:32] #2576 closed

[2018-06-04 11:10] EJWagenmakers opened #2592 "ANOVA bug"
From the forum:
http://forum.cogsci.nl/index.php?p=/discussion/4176/error-messages-and-other-issues

Cheers,
E.J.

[2018-06-04 13:05] tomtomme commented on #2546
Thanks @AlexanderLyNL and others for having this discussion. I´ll try my best to explain my (and my students) point of view.
Before, I think there might be some misunderstanding in the room that we have to clear up before we can reach further. Above you wrote "how would you explain to students the Radon-Nikodym derivative of the measure with respect to the Lebesgue measure?"
I never heard those na

[2018-06-04 20:52] noahmotion opened #2594 "Output window automatically scrolls to the top after addition of new elements"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: High Sierra 10.13.4
* Analysis: Descriptive stats, various plots
* Steps to reproduce: Read in data, add a plot, add another plot (or add/remove an element to/from a plot) and the output window scrolls to the top, typically away from the plot of interest (e.g,. if you've already produced a table or figure or two).

[2018-06-06 09:31] vankesteren commented on #2546
I have a few thoughts on this:

1. I think we should have a y-axis
2. Indeed, density is a very difficult concept and it is slightly arbitrary in the case of a kernel density estimate (KDE) plot (continuous line) because the bandwith of the KDE in part determines this.
3. The discretisation of a continuous variable leads it to have a defined and easily interpretable y-axis: the height indicates th

[2018-06-06 15:44] EJWagenmakers commented on #2546
Good idea Erik-Jan, let's do it like this
E.J

[2018-06-06 21:55] AlexanderLyNL commented on #2564
Could you please send us the JASP file?

[2018-06-07 12:05] tomtomme commented on #2546
I feel the same :)
We could even show 2 y-axis at the same time with count on the left and KDE on the right side of the plot. Probably not as default though but as an option. If this is hard to implement, don´t mind - it would be just the cherry on the cake.

[2018-06-07 18:59] Saguaroman commented on #2266
I'm running JASP 0.8.6 and getting the same error (see screenshot) across two computers and two different JASP files).  The resource monitor indicates that only JASP.exe is accessing the file (see screenshot) but it still gives the error that the file is being used by another application.  Any ideas?  Thanks!

![screenshots](https://user-images.githubusercontent.com/40039345/41120063-4cad586a-6a49

[2018-06-08 11:14] Steffijasp opened #2613 "Error adding interaction in Bayesian linear regression"
Dear JASP Team,
When I wanted to add an interaction between the variables 'gender' and 'depression' in the Bayesian linear regression analysis, the following error popped-up:

This analysis terminated unexpectedly.
Error in rawToChar(as.raw(out)): embedded nul in string: 'depression0�gender'
Stack trace

What does this error mean?? What can I do to make sure this error won't pop up again?

* JASP

[2018-06-08 12:18] AlexanderLyNL commented on #2613
Hi Steff,

Can you please add the JASP file as a zip? Then we can study it more closely.

Cheers,
Alexander

[2018-06-08 12:48] Steffijasp commented on #2613
Hi Alexander,

Thank you for the fast response!

Attached I put the jasp file as a zip. Let me know if you can open it.

So, in this dataset I did the Bayesian linear regression.

As an outcome variable I chose 'suirisk' and all the other variables are the predictor variables.

The error came when I wanted to create an interaction between 'gender' and 'depression'.

Look forward to your response!

[2018-06-08 12:51] AlexanderLyNL commented on #2613
Could you please do this in the github thread?

https://github.com/jasp-stats/jasp-desktop/issues/2613#issuecomment-395750488

I'll have a look at it and see whether it's fixed in the beta release first.

[2018-06-08 12:54] Steffijasp commented on #2613
[suiciderisk.zip](https://github.com/jasp-stats/jasp-desktop/files/2084406/suiciderisk.zip)

Hope you can open this correctly!

[2018-06-08 13:03] AlexanderLyNL commented on #2613
Hi Steffi,

This problem is solved, so you'll be able to run this in next release. To help you out, I've already done the analysis. Depending on your preference, I can upload the new JASP file here, or I can send it to you in private. You can see the results in 0.8.6 by opening the JASP file, but indeed not run it.

Cheers,
Alexander

[2018-06-08 14:22] Steffijasp commented on #2613
Hi Alexander,
Thank you very much for your help! Could you send the file to me in private?

Cheers,
Steffi

[2018-06-08 14:40] AlexanderLyNL commented on #2613
Please send me an email at a.ly@jasp-stats.org

[2018-06-08 14:56] Saguaroman commented on #2266
One workaround that seems to sometimes work is to "save as" a different file name... it can do that, but it can't just "save."  And then it seems to work fine on the newly saved files...

[2018-06-08 15:03] #2613 closed

[2018-06-08 15:40] Saguaroman commented on #2266
The "save as" workaround is particularly effective when some output has been generated. The real problem files seem to be ones I was working on without any associated output. Somehow generating output along with the .jasp file seems to make all the saving problems go away.

[2018-06-08 23:53] #2437 closed

[2018-06-09 00:03] #2040 closed

[2018-06-09 13:55] AlexanderLyNL commented on #2266
Dear @Saguaroman,

Thanks for this insight. Could you please provide us a data file and exact instructions to produce a jasp file that gets corrupted? This will us insights to which process blocks the writing to the file.

Cheers,
Alexander

[2018-06-09 14:05] AlexanderLyNL commented on #2507
Dear Friedrich,

The marginal likelihoods of each model are not necessary to calculate the posterior model odds. They can be calculated as follows

    P(M1 | d) / P(M0 | d) = BF10(d) P(M1)/(1-P(M1))

The posterior model probability for model M1 can be calculated as

    P(M1 | d) = 1/(BF10(d) + (1-P(M1))/P(M1))

In addition,

    P(M0 | d) = 1 - P(M1 | d)

Does this help?

Cheers,
Alexander

[2018-06-09 15:02] Saguaroman commented on #2266
Thanks.
Here's the sequence -- I've done this a few times with various files and it consistently produces the error.

-Create a data file in excel, save in .csv.  (see link below for "sample.csv" file on which I just did this)
-Open that csv file in JASP (file-open)
-Save and exit JASP.
-Reopen JASP, open the sample.jasp file (file-open) (see below for link to this file)
-Make a change to the file

[2018-06-09 15:18] AlexanderLyNL commented on #2512
I've tried the JASP file and ran it on our beta version. This seems to be fixed. Please reopen if the problem reappears in the new version that is due to be released soon.

[2018-06-10 12:03] fplatz commented on #2519
This would be an major contribution to JASP and was articulated as question for enhancement several times in the past ( eg. stated in #2174). It would be a great improvement!

[2018-06-10 12:16] fplatz commented on #2507
Thanks Alexander for your help! However, I would appreciate to read those informations by means of an "easy-to-get-approach" ( :-) ). Even for teaching Bayes statistics for beginners it would make things more clear (and would support a step-by-step approach, "walking" from an a priori probability for H1 to the likelihood, the "evidence" and after all to H1's posterior probability). You're right, t

[2018-06-11 07:45] EJWagenmakers opened #2615 "Broken link to file type"
So I just installed the 0.9 version and uninstalled the earlier versions.
Now when I click on a .jasp file, I get an error message saying that the file type is not associated with an application. Apparently the .jasp format was associated specifically with the 0.8.6 version. Still this is a little awkward.
See screenshot
![image](https://user-images.githubusercontent.com/8603015/41218692-336ccc6c-

[2018-06-11 08:51] AlexanderLyNL commented on #2615
This is of course suboptimal, but file association is organised by the OS. Hence, it might be just your windows. @Kucharssim @koenderks have you encountered the same problem?

[2018-06-11 09:10] boutinb commented on #2557
Hi,
I have checked a bit further. The problem is not due to the umlaut, but because the Einkommenneu column has labels (Neun and Zehn) for values (9 and 10) that does not occur in the dataset. Apparently the Post Hoc test does not accepts labels (factors) that have no data.
@JohnnyDoorn Can you have a look to this problem?

[2018-06-11 09:40] boutinb commented on #2615
I have just tried it (uninstall and install JASP on Windows), and if I double-click on a JASP file, it opens JASP normally. I see also that the file association is well removed when JASP is uninstall, and that is set back after installation. So I think I need laptop of EJ to understand what's happening there...

[2018-06-11 09:56] koenderks commented on #2615
No, my version 0.9 opens .JASP files normally.

[2018-06-11 11:43] Kucharssim commented on #2615
I can replicate the error. The error occurs when I install 0.9 and AFTER that I uninstall 0.8.6 (but not the other way around).

Note that also when I did not uninstall 0.8.6, the default application to open .jasp files stayed 0.8.6 instead of updating to 0.9. I think that previous versions always override the default application so that the most recent version is used even if older JASP versions

[2018-06-11 16:05] Kucharssim opened #2618 "Notes in JASP files are lost at random"
* JASP version: 0.9
* OS name and version: Windows
* Analysis: Any
* Steps to reproduce: Create a note (1), save a .jasp file. Open a .jasp file, make a different note (2), and save. Open .jasp file and the original notes from step (1) are lost.

Annoyingly, this bug does not occur reliably and sometimes does not happen. Usually, making the note again and saving again saves the note, but sometimes

[2018-06-11 17:14] JohnnyDoorn commented on #2557
Yes, I fixed it - will push the fix after the next release (together with other, still to be tested, ANOVA features).
For the moment, converting the data to csv will fix the issue, because that removes labels that are not used.

[2018-06-11 17:29] EJWagenmakers commented on #2618
This is important to fix (also because it is annoying for the user, who might see part of his/her work lost). Simon, this has nothing to do with copy-paste? (that is, it occurs also when you are not using copy-paste to create a new version of the note?)

[2018-06-11 17:57] Kucharssim commented on #2618
Yeah, I am not copy pasting anything...

[2018-06-11 18:40] #2618 closed

[2018-06-12 14:23] Marian-Popa commented on #2564
You may find the file in attachment.

Best regards,

Marian

From: AlexanderLyNL <notifications@github.com>
Sent: Thursday, June 7, 2018 12:55 AM
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Marian-Popa <popamarian@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [jasp-stats/jasp-desktop] Network Analysis crash (#2564)

Could you please send us the JASP file?

—
You

[2018-06-12 14:40] AlexanderLyNL commented on #2618
See the Sheet

[2018-06-12 14:42] AlexanderLyNL commented on #2564
Hi Marian,

It doesn't appear here. Can you please add the zip to the github thread?

https://github.com/jasp-stats/jasp-desktop/issues/2564#issuecomment-396607894

Kind regards,
Alexander

[2018-06-12 15:03] Marian-Popa commented on #2564
Here is it...

[NTW 1.zip](https://github.com/jasp-stats/jasp-desktop/files/2094578/NTW.1.zip)

[2018-06-12 15:03] #2564 closed

[2018-06-12 15:29] AlexanderLyNL commented on #2564
Hi Marian,

I've tried this on the development version and the problem seems to be fixed. The new version will be available soon. Please reopen if the problem reappears.

Cheers,
Alexander

[2018-06-12 15:34] Marian-Popa commented on #2564
Great, cheers...
Marian

[2018-06-12 17:05] akashrajkn commented on #2240
Fixed in #2621

[2018-06-12 17:05] #2240 closed

[2018-06-12 20:42] AlexanderLyNL commented on #2615
See Sheet

[2018-06-12 20:42] #2615 closed

[2018-06-13 11:29] hcp4715 opened #2623 "Unexpected internal error for .jasp file"
## Template for bug reports
* JASP version: 0.8.6
* OS name and version: win 10
* Analysis: Bayesian & classic ANOVA, t-test
* Steps to reproduce:  the analysis results and data were save as .jasp file, but when double clicke to open it, there is an unexpected internal error.

This file includes my unpublished data, but I'd like to send to the team' email.

![_20180613132826](https://user-images.g

[2018-06-15 13:56] akashrajkn commented on #2623
@hcp4715 can you send the send the jasp file to a.raj@jasp-stats.org ? I will take a look at it.

[2018-06-16 09:59] #1386 closed

[2018-06-16 10:09] akashrajkn commented on #1648
Please reopen the issue if the error still persists.

[2018-06-16 10:09] #1648 closed

[2018-06-16 10:12] #1610 closed

[2018-06-16 19:42] AlexanderLyNL commented on #2541
Fixed by pull request #2630

[2018-06-16 19:42] #2541 closed

[2018-06-16 19:53] AlexanderLyNL commented on #2487
Fixed by pull request #2629

[2018-06-16 19:53] #2487 closed

[2018-06-16 19:58] AlexanderLyNL commented on #2354
I'll close this for now. We'll discuss this in person and I'll keep it in mind.

[2018-06-16 19:58] #2354 closed

[2018-06-17 08:49] #1929 closed

[2018-06-17 08:55] akashrajkn commented on #2430
This is not a bug. For many analyses, we have the following - **suggested** and **allowed**. Only suggested variable types are indicated on the bottom right.

[2018-06-18 06:04] hcp4715 commented on #2623
@akashrajkn Thanks, I've sent my jasp file to your email.

[2018-06-18 08:23] ajestudillo opened #2631 "Bug report: This analysis terminated unexpectedly"
Hi all,
I want to conduct a 3x2x5 repeated measures ANOVA. However, when I include the different conditions in the Repeated measures cell, I obtain the following error:

I include my dataset

[AOI.txt](https://github.com/jasp-stats/jasp-desktop/files/2110482/AOI.txt)

I am using:
JASP version: 0.8.6.0 in  Windows 10

[2018-06-18 12:37] kaimikael commented on #2496
I'm getting the same.
Jasp 0.8.6
macOS High Sierra 10.13.5
Analysis: Correlation matrix
No numbers on the plot axes.

<img width="563" alt="screen shot 2018-06-18 at 14 35 14" src="https://user-images.githubusercontent.com/10616212/41536157-12f339ea-7305-11e8-92ff-682f9b28dd02.png">

[2018-06-18 12:52] kurdupelek commented on #2496
I never followed up with sharing the .jasp file. I did a good old reboot prior to the original posting and kept getting the same thing. I rebooted my computer one more time after I posted and haven't had the problem since. I know that may not be helpful, but having to reboot twice to get it working is a little odd but worked nonetheless.

[2018-06-18 14:48] kaimikael commented on #2496
Aha, resetting the fonts did the trick, thanks!

[2018-06-18 14:52] AlexanderLyNL commented on #2496
Awesome stuff, thanks for reporting this and glad that this works out. This is very valuable. I'll edit the title so we it's clear what the solution is. Please reopen if the problem reoccurs.

[2018-06-18 14:52] #2496 closed

[2018-06-19 14:03] akashrajkn commented on #1944
Changed error message in #2634

[2018-06-19 14:03] #1944 closed

[2018-06-19 15:29] akashrajkn commented on #2535
Fixed in #2579

[2018-06-19 15:29] #2535 closed

[2018-06-19 15:50] akashrajkn commented on #2449
This could be due to broken fonts on the system (A simple check is Login to the guest account and check if the problem persists). Restoring the standard fonts should solve this error (check out this [stackoverflow thread](https://stackoverflow.com/questions/10581440/error-in-grid-calll-textbounds-as-graphicsannotxlabel-xx-xy-polygon/49653833#49653833)).

Open Fontbook -> File -> Restore standard F

[2018-06-19 15:50] #2449 closed

[2018-06-19 15:52] akashrajkn commented on #2299
This is similar to issues #2496 and #2449.

Restoring the standard fonts should solve this error (check out this [stackoverflow thread](https://stackoverflow.com/questions/10581440/error-in-grid-calll-textbounds-as-graphicsannotxlabel-xx-xy-polygon/49653833#49653833)).

Open `Fontbook` -> `File` -> `Restore standard Fonts`.

Reopen the issue if the problem persists

[2018-06-19 15:52] #2299 closed

[2018-06-19 16:29] AlexanderLyNL commented on #2623
Hi Chuan-Peng,

On my development branch (on mac), I can't reproduce the error. So this seems to be fixed. We'll try this out tomorrow on a Windows computer to see if we can reproduce it.

Cheers,
Alexander

[2018-06-19 16:46] akashrajkn commented on #1183
This does not occur in v0.8.6. (Tested on ubuntu)

[2018-06-19 16:46] #1183 closed

[2018-06-19 16:49] akashrajkn commented on #1476
Now `libjson` is dynamically linked (#1989)

[2018-06-19 16:49] #1476 closed

[2018-06-19 16:57] akashrajkn commented on #1443
This has been fixed.

[2018-06-19 16:57] #1443 closed

[2018-06-19 17:20] #902 closed

[2018-06-19 17:20] AlexanderLyNL commented on #1260
Use ANCOVA for this purpose instead.

[2018-06-19 17:20] #1260 closed

[2018-06-19 19:38] jploenneke opened #2637 "Plots for Bayesian Paired T-Test"
## Template for bug reports

* JASP version: 8.6
* OS name and version:
* Analysis: Bayesian Paired T-Test
* Steps to reproduce:

If you have a traditional pre post paired t-test and hit descriptive plots...it plots it in the direction as it was entered

however, if you plot using the Bayesian paired t-test and hit descriptive plots...it plots Post and then Pre despite Pre being entered in first

[2018-06-19 19:41] AlexanderLyNL commented on #975
Fixed

[2018-06-19 19:42] AlexanderLyNL commented on #2637
Hi jploenneke,

Could you please add the JASP file as a zip into this thread? Then I'll have a look at it.

Cheers,
Alexander

[2018-06-19 19:56] jploenneke commented on #2637
[plots.zip](https://github.com/jasp-stats/jasp-desktop/files/2116703/plots.zip)

[2018-06-19 20:11] AlexanderLyNL commented on #2637
Hi jploenneke,

There are two ways to fix this:
- 1. Change the labels, so that PRE comes before POST. The reason why PRE is taken to be the second variable is because of the alphabetical ordering in the Bayesian paired t-test
- 2. Change order of the paired t-test.

The difference in behaviour suggests that there's some redundancy in our code. This will be fixed. Hope that this helps. If so, plea

[2018-06-20 09:42] akashrajkn commented on #1160
Feature added in #1844

[2018-06-20 09:42] #1160 closed

[2018-06-20 10:16] akashrajkn commented on #1669
This does not occur on the latest release v0.9 (Tested on ubuntu). Should I close the issue?

[2018-06-20 16:52] daniloap opened #2640 "Cannot open a new file from my computer (v.0.9)"
## Template for bug reports

* JASP version: 0.9
* OS name and version: Windows 10
* Analysis:
* Steps to reproduce: File > Open > Computer

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-06-20 23:28] tegedik opened #2641 "JASP 0.9 does not recognize special characters on Mac and Windows"
## Template for bug reports

* JASP version: 0.9
* OS name and version: Mac El Capitan (10.11.6)
* Analysis: -
* Steps to reproduce: -

I can't open the program after updating from the previous version to 0.9 ("JASP quit unexpectedly."). I deleted and reinstalled. It didn't work. Previous versions (e.g., 0.8.6) work without an issue.

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-06-21 01:28] gamons opened #2642 "MANOVA"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement: MANOVA as a standard feature in JASP.
* Purpose: At a Master level at my university, we use MANOVA. I use JASP for two purposes teaching and training. Both use MANOVA. Thus, I am requesting that MANOVA be added as a standard feature in JASP. Th

[2018-06-21 06:51] AlexanderLyNL commented on #2640
Dear Danilo,

Can you please tell us a bit more about this? Does JASP itself run? Furthermore, can you open other files? For instance, the ones in the data library? Have you also tried the zipped version?

Cheers,
Alexander

[2018-06-21 07:10] boutinb commented on #2641
Hello @tegedik El Capitan is an old version of Mac OS. Can't you upgrade it to Sierra or even High Sierra?

[2018-06-21 07:31] tegedik commented on #2641
I don't prefer to upgrade to Sierra. It is more demanding as an OS and I don't need its features. But is that the reason behind the problem? If so, does JASP work only on most recent OSX versions? El Capitan is not that old either. Besides, under Installation Guide for Mac OS X on the website, it says "JASP is available for Mac OS X, version 10.10 (Yosemite) and above".

[2018-06-21 08:16] vicenteinefo commented on #2641
I have the same problem and I can't upgrade my Mac OS version, I've an old macbook.
I'm university professor and I use this software to teach statistics in a sport sciences degree, It's an excellent tool but It's a pity if I can't use the last improvements.

JASP version: 0.9
OS name and version: Mac El Capitan (10.11.6)
Macbook 13" aluminium late 2008

[2018-06-21 08:37] boutinb commented on #2641
I just suspect that it is the problem. I don't have yet an El Capitan version where I can test it. The framework we use (Qt) says it should be compatible, but it is maybe a problem of the compiler we use. I will look further.

[2018-06-21 08:42] AlexanderLyNL commented on #2641
Hi tegedik and vicenteinefo,

Thanks for this feedback. We didn't see this coming, as all of us have upgraded our macOS to Sierra or higher. As such, we don't have any macs to test this on. Once Bruno made new builds, would you both be keen to help out with testing this issue? We would very much appreciate your help on this.

Cheers,
Alexander

[2018-06-21 09:09] vicenteinefo commented on #2641
Hi AlexanderLyNL,

I will be happy to help.
I've saved the previous version (0.8.6) to be able to use it at any time.
I suppose that I will always be able to use the immediately previous version that is stable on my computer.
I await your instructions

[2018-06-21 10:04] HeikoBreitsohl opened #2644 "Mouseover is misaligned in JASP 0.9 SEM module"
Hi JASP Team,
in the latest version of the SEM module, the menu elements seem not to react (i.e. become highlighted) when the _tip_ of the mouse arrow is over them, but when roughly the _center_ is. This is a bit inconvenient, as you have to force yourself to purposely point at the "wrong" element.
For instance, under Statistics->Error Calculation, you have to point at "Standard" to highlight "Rob

[2018-06-21 11:01] daniloap opened #2645 "Error in Pearson's correlation 95% CI"
The upper limit of the Pearson correlation 95% CI always has a value equal to 1.

[2018-06-21 11:08] daniloap commented on #2640
The program runs normally, it does all the analysis using old database or those which are already in the correct format (JASP format). However, I can not upload new data (.cvs, .txt, etc). If I click on File> Open> Computer nothing happens. I have reinstalled and problem continues...

[2018-06-21 11:37] AlexanderLyNL commented on #2642
Great suggestion. When does your class start?

[2018-06-21 11:50] EJWagenmakers commented on #2645
Danilo: perhaps you executed a one-sided test? In that case, one of the CI bounds is always on the edge of the parameter space (in the t-test, for example, one of the CI bounds is at -\infty or +\infty)
E.J.

[2018-06-21 12:39] vicenteinefo commented on #2641
Hi boutinb,
I've downloaded the version you attached and it seems to work perfectly :)
Will you upload this version to the official web?
Thanks for your gorgeous job

[2018-06-21 12:46] tegedik commented on #2641
hello @boutinb
It works for me too. Thanks a lot for the fix.
Best,
Tahir

[2018-06-21 13:06] vicenteinefo commented on #2641
Hi @boutinb

I've just open an old JASP file analysis and it seems that the new version doesn't recognize special characters like accents. Here's an example: Valoraci**ó**n

The error message reported is this:

This analysis terminated unexpectedly.

Error in (structure(function (...) : Cannot find column **Valoracin** del cliente (estado de salud, **valoracin** de los factores de riesgo cardiovas

[2018-06-21 13:33] akashrajkn commented on #2641
@vicenteinefo thank you for reporting this. Is this specific to an analysis?

[2018-06-21 13:47] vicenteinefo commented on #2641
@akashrajkn it seems not to be specific to the analysis, in fact if I correct the word typing it without accents or special characters, the analysis seems to be executed without problems

[2018-06-21 14:19] boutinb commented on #2641
@vicenteinefo Can you send such a file (via GutHub)?

[2018-06-21 14:20] akashrajkn commented on #2641
@vicenteinefo thank you for the info.

@boutinb  I am able to replicate this issue on mac and windows (it works fine on linux)

[2018-06-21 15:40] gamons commented on #2642
Thank you Alexander! JASP looks very promising. I am teaching undergraduate research methods (6 groups) in August 2018. This is one opportunity that I could use JASP as an alternative to SPSS. I will also conduct a workshop using JASP + Onyx (exciting regression graphics). The decision is already made. This workshop (A) will cover beginning to intermediate statistics for research. For this worksho

[2018-06-21 17:44] coledavis opened #2646 "multinomial not calculating properly"
## Template for bug reports
* JASP version: 0.9
* OS name and version: Windows 10
* Analysis: multinomial
* Steps to reproduce:
Data: 28, 42, 80
The observed data is 0.333, 0.333, 0.333, the same as the expected data.  So of course we get a chi-square = 0 and a p = 1.  This set of data should of course be significant.

![image](https://user-images.githubusercontent.com/16545617/41735874-c2e62d24-7

[2018-06-21 18:33] EJWagenmakers commented on #2646
@vankesteren
I believe this happened because the multinomial requires you to have a "factor" (say month, or group) as well as "counts". You can view an example in the JASP data library, under Frequencies and then "Memory of Life Stresses". I've also attached a screenshot for your data. So I don't think this is a bug, although it does seem to me that there should not be any output when only the gro

[2018-06-21 18:56] coledavis commented on #2646
I tried that before and got a worse result!
![image](https://user-images.githubusercontent.com/16545617/41739404-ddc2abea-758c-11e8-9b96-6ef415090a34.png)
![image](https://user-images.githubusercontent.com/16545617/41739447-fa965348-758c-11e8-8cd2-ffccab3650e0.png)
And yet, I have the same amount of factor as counts.
![image](https://user-images.githubusercontent.com/16545617/41739496-2336ed4e-758

[2018-06-21 19:39] AlexanderLyNL commented on #2646
Perhaps it's the drinks, but if the null hypothesis is 1/3 and the data also result in 1/3, the p-value should be high, thus, not significant, and I think p=1 is fine. The p-value is a measure of divergence of what is expect and the lower it is, the more it diverges. In this case, the observed and expected are the same, so the p-value should be high, shouldn't it?

[2018-06-21 19:48] coledavis commented on #2646
Ah! Got it! (No drink today.)  It is rather a long time since I've used JASP. What was the problem is that I used a file with lots of different-sized variables. Like R, JASP doesn't like it, presumably assuming a lot of N/As. If I just have one file with the two variables, it works fine. Sorry.

[2018-06-21 19:48] #2646 closed

[2018-06-22 09:12] vankesteren commented on #2646
Hey all,

Because we wanted to remain `flexible`, the multinomial test accepts 2 kinds of data:

1: no counts added -> number of occurrences in the factor variable considered as counts. A factor variable can look like this:

| factor |
| :----: |
| A |
| B |
| B |
| A |
| C |
| A |
| C |

2: counts added -> each level of factor gets the counts specified by "counts":

| factor | counts |
| :----: |

[2018-06-22 09:38] vankesteren commented on #2644
I cannot reproduce this unfortunately. Are there any particular settings that I should be aware of? For example, do you have display scaling turned on, or have you installed a custom mouse cursor?

My experience on windows 10, fresh install of JASP:

![sem_module](https://user-images.githubusercontent.com/11596858/41769776-b18df5dc-7610-11e8-8ece-9cc74a596c44.gif)

[2018-06-22 10:07] akashrajkn commented on #2644
@vankesteren could this be a highDPI issue?

[2018-06-22 10:13] akashrajkn commented on #2646
@vankesteren could you add that to the helpfile?

[2018-06-22 11:29] boutinb commented on #2640
If you click om Open > Computer, do you see at least the Windows Explorer with which you can select a file? Or if you click on one file, then nothing happens?

[2018-06-22 12:37] vankesteren commented on #2644
Let's see what @HeikoBreitsohl answers :)

[2018-06-22 15:01] vankesteren opened #2649 "`ggplot2` receives a big update soon"
https://github.com/tidyverse/ggplot2/blob/master/NEWS.md#ggplot2-2219000

Perhaps @vandenman should look at this? There may be JASP-breaking changes?

[2018-06-22 15:11] MichlF commented on #2592
Hi,

Michif here from the forum post.
I tried it with the new JASP version (9.0.0) but the issue still occurs.
I have attached the .csv file to reproduce the issue.
[CDAstatistics_delay1_300-900.zip](https://github.com/jasp-stats/jasp-desktop/files/2128129/CDAstatistics_delay1_300-900.zip)

[2018-06-23 02:27] mberlim opened #2652 "Please implement the community discovery algorithms walktrap and spinglass from the R-package igraph"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-06-23 02:28] mberlim opened #2653 "Please implement the node predictability function from the R-package mgm"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-06-23 03:16] haevalencia commented on #2392
I noticed that in the recently updated version 0.9, the synchronization works perfectly, it even shows a nice dialog to select the default app to open data, all very cool. I guess if nobody else has problems, this ticket can be closed.

@diazbastian Can you test if the synchronization works for you? Thank you

[2018-06-23 22:33] diazbastian commented on #2392
Automatic sync works well for me after the update.

[2018-06-23 22:43] AlexanderLyNL commented on #2392
Thanks for the feedback, this is very useful! Please reopen if the problem reappears.

[2018-06-24 06:00] JASPUSER09990 commented on #2512
![screenpic](https://user-images.githubusercontent.com/39075740/41816381-3345a64e-77c7-11e8-9d08-9b5493fddef3.jpg)
Tested in JASP 0.9.0.0 (the same computer and system). The problem exists when saving the plot as eps file (see attached picture).

[2018-06-24 12:13] EJWagenmakers commented on #2592
Team: the relevant forum entry is here: http://forum.cogsci.nl/index.php?p=/discussion/4176/error-messages-and-other-issues

[2018-06-25 07:48] HeikoBreitsohl commented on #2644
Thanks for helping out!
It appears this is an issue specific to my wireless mouse (Rapoo model 1010). Still, I am pretty sure it occurred only after updating to JASP 0.9.

[2018-06-25 11:20] vankesteren commented on #2644
Probably a driver issue then? I'm closing this. Feel free to reopen if you consider this unsolved.

[2018-06-25 11:20] #2644 closed

[2018-06-25 11:51] #2641 closed

[2018-06-25 11:59] MichlF commented on #2592
Hi Johnny,

my apologies. Indeed, the error does no longer occur in the newest version.

The dragging and dropping, however, still remains. Same applies to changing the sizes of the windows.

[2018-06-25 13:53] boutinb commented on #2641
@vicenteinefo: I have made a new setup with the hotfix: https://static.jasp-stats.org/JASP-0.9.0.1.dmg. Can you test it?

[2018-06-25 18:01] vicenteinefo commented on #2641
I've test it, the analysis runs well and doesn't appear any error message but I realized that the special characters of the different categories of the variable are omitted. I attach a screenshot for details

![captura de pantalla 2018-06-25 a las 19 59 39](https://user-images.githubusercontent.com/29978768/41867108-74791f88-78b2-11e8-93c0-f445acede19f.png)

[2018-06-26 08:28] vankesteren commented on #2546
I'll see if I can fix this today

[2018-06-26 08:50] AlexanderLyNL commented on #2546
@koenderks also has something for this, perhaps you can combine your efforts.

[2018-06-26 10:41] boutinb commented on #2641
@vicenteinefo: I have made a new version, same link:  https://static.jasp-stats.org/JASP-0.9.0.1.dmg
Hopefully this one has no problem anymore!

[2018-06-26 16:16] haevalencia opened #2659 "Support for importing SPSS .zsav files"
* Enhancement: Import *.zsav files to JASP
* Purpose: The .zsav format was introduced in SPSS 21 and presents some improvements when using large databases. It is not so popular, but it is used in certain circumstances for which it would be useful to be able to import them directly into JASP. Other software available already supports like PSPP, Stata, Jamovi, ReadStat or StatTranfer (although it is

[2018-06-26 19:06] vicenteinefo commented on #2641
@boutinb it seems to work properly! Thanks a lot

[2018-06-26 21:38] hcp4715 commented on #2623
Hi, @AlexanderLyNL , I have to down-grade my JASP to 0.8.6 because it's really stuck when I click the file drop-down list

[2018-06-26 21:40] AlexanderLyNL commented on #2623
@boutinb Could you please look into this?

[2018-06-27 06:40] luketudge opened #2660 "RM ANOVA error: replacement has 0 rows, data has 4"
## Error message for RM ANOVA

* JASP version: 0.9
* OS name and version: Ubuntu 18.04 bionic
* Analysis: Repeated Measures ANOVA
* Steps to reproduce: Open any data file and attempt the Repeated Measures ANOVA. Error message shows in the results window as soon as all variables are allocated to factor levels.

Error message reads: replacement has 0 rows, data has 4

Error does not occur for either

[2018-06-27 09:30] boutinb commented on #2641
Nice! We will set this release today.

[2018-06-27 15:36] boutinb commented on #2623
@akashrajkn Can you send me the file?

[2018-06-27 15:38] AlexanderLyNL commented on #2623
I've sent it to you.

[2018-06-27 15:39] AlexanderLyNL commented on #2623
In addition, Chuan-Peng might be over on Friday, perhaps you can have a look at his laptop if that's more informative.

[2018-06-28 13:54] boutinb commented on #2623
I can't reproduce  this problem either...
But what do you mean exactly when you say that it's stuck when you click the drop-down list? Which drop-down list? Can you explain it stepwise?

[2018-06-28 13:57] boutinb commented on #2520
Dear @wagnerfontes2, we have made a new release. The installation on Windows is slightly different, maybe, this solves you problem?

[2018-06-28 13:59] boutinb commented on #2518
We have made a new version (0.9). The installation on Windows is slightly different. Maybe this solves your problem. Could you try it?

[2018-06-28 13:59] boutinb commented on #2476
We have made a new version (0.9). The installation on Windows is slightly different. Maybe this solves your problem. Could you try it?

[2018-06-28 14:00] boutinb commented on #2445
We have made a new version (0.9). The installation on Windows is slightly different. Maybe this solves your problem. Could you try it?

[2018-06-28 14:03] chrisaberson commented on #2476
Sure - but won't be back in the office for a couple of weeks.

Chris Aberson, Ph.D.
Professor
Department of Psychology
Humboldt State University

On Thu, Jun 28, 2018 at 9:59 AM, bruno boutin <notifications@github.com>
wrote:

[2018-06-28 16:36] hcp4715 commented on #2623
OK, pretty weird.
I will be Amsterdam tomorrow.
I guess it would better if I bring my pc to your team and see what's wrong.

[2018-06-29 06:46] boutinb commented on #2623
OK, tell me when you arrive. I am in room GS.26

[2018-06-30 10:07] kevinvschie opened #2665 "Request: Robustness check/different priors for BANOVAs"
## Template for enhancement requests
I would like to request the possibility to check the robustness of Bayesian ANOVAs. I know this feature is already available for t-tests, but it would be great to have it for Bayesian ANOVAs too. I have had this as a reviewer comment so many times. A similar request would be for the sequential analysis. The request applies for ANOVAs with within as well as betw

[2018-07-01 13:47] coledavis opened #2666 "multinomial and ordinal logistic regression"
## Template for enhancement requests

* Enhancement: Multinomial logistic regression and ordinal regression
* Purpose: I think multinomial logistic regression would be an immensely useful addition, as logistic regression outputs are often non-binary. In terms of importance, multinomial would come before ordinal.

I am able to provide some R coding for these which I think would be helpful in provid

[2018-07-02 06:19] dietrichstats opened #2667 "Codebook"
## Enhancement request

* Enhancement: Add codebook analysis
* Purpose: Codebook is a type of report that delivers the output of the properties and attributes of the defined variables. This allows at a glance to see if there is any error, to see lost data, to create tables for enumerators with the coding of variable labels, to replicate database, etc.

[2018-07-02 09:54] DrMarkGS opened #2668 "[Solved] JASP 0.9.0.1 Apple installation error - Installed JASP for OSX 10.12 on an OSX 10.11 workstation"
Morning folks
I have just uninstalled JASP 0.8.6 and downloaded the latest version.  Double clicked the dmg file and dragged the icon to applications. On trying to open JASP I get an error message "JASP quit unexpectedly" - send report to Apple. The report generated is below.

Cheers
Mark

Process:               JASP [2295]
Path:                  /Applications/JASP.app/Contents/MacOS/JASP
Identifi

[2018-07-02 10:41] DrMarkGS commented on #2668
Let me check. Thanks for prompt reply
Mark

[2018-07-02 10:43] DrMarkGS commented on #2668
Looks like I did in error
Thanks

[2018-07-02 10:58] AlexanderLyNL commented on #2668
Hi Mark,

Thanks for this report.

Cheers,
Alexander

[2018-07-02 10:58] #2668 closed

[2018-07-02 11:16] EJWagenmakers commented on #2666
@vankesteren, perhaps this would not be a huge amount of work, given what you've already done for logistic regression?

[2018-07-02 12:11] oliats opened #2669 "Rendering on windows 7"
- JASP 0.9.XX
- WINDOWS 7 64bit
- Intel G45/G43 Express Chipset

When using Jasp 0.9 on a desktop running windows 7 /64bit I have a problem in rendering such as the one described here: https://forum.qt.io/topic/65435/qt-qml-renderig-bad-quality-windows/3
The bad rendering is only in the data window, the tools window and the reports window work good.
The video card drivers are upgraded, so I think

[2018-07-02 12:55] Janto91 opened #2671 "Eigenvalues Dependent on Order of IVs"
* JASP version: 0.9.0.1
* OS name and version: macOS High Sierra 10.13.4
* Analysis: Linear Regression
* Description of the problem / Steps to reproduce:
We get an error message for an interaction effect of contGamma and contExpon in a Linear Regression (see the attached file "Bug_Eigenvalues.jasp"). The proximate cause of the error is that the interaction effect is NA. The ultimate cause of the e

[2018-07-03 13:42] dietrichstats commented on #2667
Halfway... DISPLAY DICTIONARY in SPSS shows all the dictionary information available in a file with a predetermined layout and it is not dynamic at all. I refer more to the CODEBOOK command of SPSS that can be seen [here](http://www.unige.ch/ses/sococ/cl//spss/cmd/codebook.html?) or [here](https://www.ibm.com/support/knowledgecenter/en/SSLVMB_23.0.0/spss/base/idh_codebook_variables.html). So you c

[2018-07-03 14:55] luketudge commented on #2660
I think the error message originates from the `aov_` functions in the afex package. At least, I can obtain the same error message by trying any repeated-measures ANOVA in R using `aov_car()` or `aov_4()` from afex. I used afex version 0.18-0.

[2018-07-03 17:46] tomtomme opened #2672 "No option for 95% CI within the descriptive statistics"
* JASP version: 0.901
* OS name and version: openSUSE Tumbleweed flatpacked
* Analysis: No option for 95% CI within the descriptive statistics
* Steps to reproduce: with any dataset click descriptives > descriptive statistics > statistics section

* Enhancement: Add a button for the 95% CI next to or below the S.E. mean button. My students argue that this would be more useful in practice than the

[2018-07-04 07:53] vankesteren commented on #1581
This has been implemented a while ago in the SEM module under the options (grouping variable). I'll close this issue.

[2018-07-04 07:53] #1581 closed

[2018-07-04 07:55] #1111 closed

[2018-07-04 11:07] hackerbiotic opened #2673 "bug report"
* JASP version: 0.9.0.1
* OS name and version: MAC OS High Sierra 10.13.5
* Analysis: after installation when I want to open the app it says JASP has been experienced an unexpected error and closes automatically.
* Steps to reproduce: ?

[2018-07-04 11:15] vankesteren commented on #2546
I will also fix http://forum.cogsci.nl/index.php?p=/discussion/4260/possible-bug-on-descriptive-statistics-plot-jasp-0-9-2& at the same time

[2018-07-04 11:29] timdraws opened #2674 "Data Library spontaneously stops working"
Sometimes, when I work in JASP, opening data sets from the data library and closing them again, the data library stops working in the sense that I cannot open any data sets from it anymore. Unfortunately I cannot intentionally reproduce this bug; all I can say that it happens sometimes after having opened and closed a couple of data sets or jasp files.

[2018-07-04 11:43] timdraws opened #2675 "Bug in Logistic Regression"
When changing the reference class in logistic regression, only one of the ways to do it automatically triggers a change in the table. When doing it the other way, I have to change something in the analysis in order to display the table with a different reference class. See the GIF below.

![bug](https://user-images.githubusercontent.com/36475541/42275292-1ccb72ce-7f90-11e8-9360-d34f6cc3bd28.gif)

[2018-07-04 12:21] cgiannoulis opened #2676 "survival analysis Kaplan Meier and Cox Regression (Freq and Bayesian)"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-07-04 12:22] cgiannoulis commented on #2676
Please make sure this is in your priority list... it will increase the usage of the tool.

[2018-07-04 12:31] boutinb commented on #2673
@hackerbiotic You should ge a Bug Report from Mac. Can you send it?

[2018-07-04 13:27] CarolinePeters opened #2677 "Bayesian Correlation Pairs: Sequential analysis plot not possible"
JASP version: 0.8.6
OS name and version: MacOS High Sierra Version 10.13.4
Analysis: Bayesian correlation Pairs

Hey guys,
I am using the Bayesian correlation in JASP. It worked fine until this error appeared for one pair of datasets when trying to plot the sequential analysis:
"Plotting is not possible: Fehlender Wert, wo TRUE/FALSE nötig ist".
The German part means: missing value where TRUE/FALS

[2018-07-04 13:33] AlexanderLyNL commented on #2677
Dear Caroline Peters,

Could you please try to run this analysis in JASP 0.9.0.1? This bug should have been fixed in the newest version. Please let me know the result, so I can either close this thread or study this a bit further.

Cheers,
Alexander

[2018-07-04 13:47] CarolinePeters commented on #2677
Dear Alexander,
thanks for your enormously quick reply!
As you suspected, in version 0.9.0.1 it works. So you can go ahead and close this thread, I am happy!
Thanks again
Caroline

[2018-07-04 13:51] AlexanderLyNL commented on #2677
Thanks for the feedback!

[2018-07-04 13:51] #2677 closed

[2018-07-04 13:58] EJWagenmakers commented on #2676
Thanks. Yes I agree these are very important.

[2018-07-04 14:52] MAgojam opened #2678 "SEM MODULE: Grouping variable, does not seem to work"
* JASP version: 0.9.0.1
* OS name and version: Windows 7 x64 Pro Ita
* Analysis: SEM module
* Steps to reproduce: Grouping variable

Hi @vankesteren,
Thank you for improving the SEM module for Jasp.

With the data "HolzingerSwineford1939" I tried to compare the output of the SEM module of Jasp with that obtained from lavan 0.6-1 in RStudio.
The request for an analysis for several groups with **Gro

[2018-07-05 11:03] richjallen opened #2679 "Mixed ANOVA with filter applied"
## Template for bug reports

* JASP version: 0901
* OS name and version: OS High Sierra 10.13.5
* Analysis: Repeated measures ANOVA with between subjects factor (2x2). Filtering applied to omit 1 level of the originally 3-level between-subjects factor.
* Steps to reproduce: Analysis works until the between-subjects factor is added in. Bayesian ANOVA works fine, problem is with the frequentist.
In

[2018-07-05 16:48] haevalencia commented on #2667
Cool feature, I currently write that type of reports manually, so it would save me a lot of time to do more important things.

[2018-07-06 03:20] Crom60 commented on #2445
Having the same issue and just installed 0.9.0.1. Windows 10. Every time I go to open a file and system informs me that it has stopped working and closes out. Any help would be appreciated.

[2018-07-06 06:47] vankesteren commented on #2678
Hi Maurizio,

thank you for submitting this issue; I'll look into it on tuesday!

[2018-07-06 07:04] boutinb commented on #2445
@Crom60 Just to be sure: you say that you open a file. Do you mean that you double-click on a JASP file, and then it crashes? Did you try to first open JASP and then load a file?

[2018-07-06 10:32] Crom60 commented on #2445
It happens when I go into JASP. I then go to file, then to open, then to browse. At which point before I can even get to a file to load windows informs me it has stopped working.

[2018-07-06 15:10] EJWagenmakers commented on #423
@JohnnyDoorn: maybe good to turn to this soon; some people are eagerly awaiting this feature.

[2018-07-07 14:48] eric-kruger opened #2681 "[Solved] JASP build on XCode8.2 does not work for MAC OS 10.10.5 (Yosemite). A: Signing issue for 10.11 build"
## Template for bug reports

* JASP version: 0.9.0.1
* OS name and version: MAC OS X 10.10.5
* Analysis: NA
* Steps to reproduce: Install, copy to applications folder, start JASP and I receive the following error
Process:               JASP [1326]
Path:                  /Applications/JASP.app/Contents/MacOS/JASP
Identifier:            org.jasp-stats.jasp
Version:               ???
Code Type:

[2018-07-07 15:55] boutinb commented on #2681
@eric-kruger Did you install the JASP version for El Capitan? If you have installed the version for Sierra, it crashes on a El Capitan Mac OS

[2018-07-07 16:04] eric-kruger commented on #2681
Yes, I installed the verison 'JASP-0.9.0.1-XCode8.2.dmg' by clicking on the El Cap link

[2018-07-08 13:17] AlexanderLyNL commented on #2681
@boutinb or @FransMeerhoff can we try an older compiler?

[2018-07-08 20:35] tegedik opened #2682 "Can't Open JASP 0.9.0.1 for MAC OS X 10.11"
## Problem returns

* JASP version: 0.9.0.1
* OS name and version: Mac El Capitan (10.11.6)
* Analysis: -
* Steps to reproduce: -

Although there is an installer for MAC OS X 10.11 or below, I can't open JASP. I asked a similar question [here](https://github.com/jasp-stats/jasp-desktop/issues/2641) before. Unfortunately, I have the same problem again.

[2018-07-09 00:44] eric-kruger commented on #2681
Okay, I can do that. You should probably make clear on the website that the link just works for El Capitain and not El Capitain and below.

[2018-07-09 06:14] hackerbiotic commented on #2673
![screen shot 2018-07-09 at 10 43 36 am](https://user-images.githubusercontent.com/29376773/42433542-0238fa66-8365-11e8-9115-60c045ac29f4.png)

[2018-07-09 08:18] Jennifer500 commented on #2641
Hello -
I have the same problem, also under Mac OS 10.11.
Jasp was working perfectly until I tried to upgrade to 0.9 and now it won't even load, it crashes with a Mac OSX problem report window.

I've already tried the newer versions referenced in this thread but it still won't open.

thanks for any help you can provide

Jennifer

[2018-07-09 08:22] Jennifer500 commented on #2682
Hello -
(sorry I replied on the earlier thread - copying my question here)

I have the same problem, also under Mac OS 10.11.
Jasp was working perfectly until I tried to upgrade to 0.9 and now it won't even load, it crashes with a Mac OSX problem report window.
"
Crashed Thread:        0

Exception Type:        EXC_CRASH (Code Signature Invalid)
Exception Codes:       0x0000000000000000, 0x0000000

[2018-07-09 11:50] AlexanderLyNL commented on #2682
Just for clarity, the post

https://github.com/jasp-stats/jasp-desktop/issues/2641#issuecomment-399091168

suggests that the fix

https://static.jasp-stats.org/JASP-0.9.0.1-XCode8.2.dmg

worked previously. Can you tell me what happened in between? This could provide us with valuable information.

Cheers,
Alexander

Did something change in the meantime?

[2018-07-09 11:59] tegedik commented on #2682
That comment was for the version JASP-0.9-XCode8.2. This version still works for me. But the new one on the website (JASP-0.9.0.1-XCode8.2) is not working. I have no idea why this is the case.

[2018-07-09 12:07] AlexanderLyNL commented on #2681
This issue might be related to #2682

[2018-07-09 12:08] Jennifer500 commented on #2682
I tried both files from the website link yesterday, and then from the link in the forum this morning.
Neither are working for me

Jennifer

[2018-07-09 16:37] Wi1PsyHH opened #2683 "Jasp crashes when syncing .jasp-file with different csv.-table"
Former versions of JASP used to work fine when syncing a .jasp-file via "sync data" with a different csv.-table (but same data structure). By this, the .jasp-file containing several analyses is applied to an updated/extended data table (.csv) (great option!).

Today, this procedure with latest version of JASP repeatedly lead to a crash, making JASP show:

**JASP has experienced an unexpected inter

[2018-07-09 20:19] AlexanderLyNL commented on #2683
Hi Wi1PsyHH,

Could you please provide us with a bit more information?
- Which analyses were active?
- Which version was used to save the JASP file?

I tried to reproduce this, but was unable to do so using the ANOVA and Bayesian ANOVA with a jasp file saved with 0.8.6. If it's not too much trouble, could you please add the jasp file and the csv file to this thread in a zip?

Cheers,
Alexander

[2018-07-10 11:54] AlexanderLyNL commented on #2681
Hi @eric-kruger,

Out of curiosity, does the following version work for you?

https://static.jasp-stats.org/JASP-0.9-XCode8.2.dmg

Cheers,
Alexander

[2018-07-10 12:02] vankesteren commented on #2675
This seems to be a bug with the triggering of re-analysis after reordering

[2018-07-10 12:57] spono opened #2688 "[JASP 0.9.0.1] Correlation matrix' plot fails"
Hi devs,
I get a "unexpected internal error" while running a correlation matrix on a 24r x 138c dataset.

I tried few options for the table (e.g. "Flag significant correlations", etc.) and it works. The issue seems to be triggered when the "Plots" -> "Correlation matrix" box is checked: it starts to load and then it stops giving the error.

[2018-07-10 12:58] spono commented on #2688
sorry: running on W10 64bits

[2018-07-10 13:29] vankesteren commented on #2678
Hi Maurizio, this was indeed a pertinent bug in JASP 0.9.0.1. With the next release, this will be fixed (#2689). Until then, I suggest you revert back to a previous version of JASP if you want to run multigroup SEM!

[2018-07-10 13:29] #2678 closed

[2018-07-10 13:33] vankesteren commented on #2669
Hi @oliats, thank you for the report! Especially the qt forum link is helpful. You cannot do anything about this from your end, but we might be able to fix this.

@JorisGoosen @boutinb this seems a relatively quick fix. The problem would be in identifying for which platforms this would need to be activated?

[2018-07-10 14:33] spono commented on #2688
yes

[2018-07-10 14:43] boutinb commented on #2682
From the error message, I see that there might be a problem with the code signing. I have made a version without this code signing: https://static.jasp-stats.org/JASP-0.9.0.1-XCode8.2-NoSigning.dmg. Could you try it?

[2018-07-10 14:51] Jennifer500 commented on #2682
Yes it works now! Thanks so much for fixing this!
:)
Jennifer

[2018-07-10 14:58] boutinb commented on #2682
Fine!

[2018-07-10 14:58] #2682 closed

[2018-07-10 15:01] boutinb commented on #2681
There is apparently a problem with a code signing for this version. I have made a version without code signing and it seems to work for other people: https://static.jasp-stats.org/JASP-0.9.0.1-XCode8.2-NoSigning.dmg. Can you try it?

[2018-07-10 15:19] eric-kruger commented on #2681
That worked!

[2018-07-10 15:23] AlexanderLyNL commented on #2681
@eric-kruger are you still on Yosemite?
@boutinb Any idea why the signing went wrong for 10.11 (and below?), while it works fine for 10.12 and above?

[2018-07-10 15:23] #2681 closed

[2018-07-10 15:24] AlexanderLyNL commented on #2673
@boutinb Can you build an unsigned version? Perhaps this is the same problem.

[2018-07-10 15:25] eric-kruger commented on #2681
still on Yosemite, 10.10.5 never did change before you made this change.

[2018-07-10 15:29] AlexanderLyNL commented on #2688
I think that R cannot plot such a large figure. I'm not sure whether such a large plot would be informative. Are there any specific correlations you're interested in? If so you can drag a subset into the variables box instead.

[2018-07-10 15:30] AlexanderLyNL commented on #2681
Thanks for letting us know!

[2018-07-10 15:36] boutinb commented on #2673
Hi @hackerbiotic, can you try this version: https://static.jasp-stats.org/JASP-0.9.0.1-XCode8.2-NoSigning.dmg

[2018-07-10 16:07] EJWagenmakers commented on #2688
Maybe we ought to provide an informative error message in case the matrix becomes too large to view (or produce in R)

[2018-07-10 16:34] oliats commented on #2669
Thank You very much.
I have the problem on Windows 7 64bit
JASP 0.9.0.1 for windows (both 32 and 64 bit)
Video card: Intel G45/G43 Express Chipset

[2018-07-10 23:15] pwsalw opened #2693 "Closes due to "unexpected internal error" sometimes, and does not run analyses"
## Template for bug reports
* JASP version: 9.0.0 and 9.0.1 (I tried both)
* OS name and version: Windows 7 Enterprise
* Steps to reproduce:
Attempt to open a file in JASP:
![capture](https://user-images.githubusercontent.com/41090299/42542502-c23414ba-846c-11e8-92a7-4734123efb9e.PNG)

Or if that works, attempt to run analyses, but it won't show the analyses:
![capture2](https://user-images.github

[2018-07-11 07:41] FransMeerhoff commented on #2594
Hi @noahmotion

Sorry for the late response.
We are aware of this issue and at the moment we are optimizing the recalculation of the analyses.
In that optimation this issue will be fixed too.
We expect this in one the the next releases before the end of the year, but it is on our backlog list.

Kind regards
Frans Meerhoff

[2018-07-11 08:20] spono commented on #2688
[the result is awful but] it does.

BTW, I know it's not informative but, while "playing" with the options, it happened to step into this bug (?) that might be handled with a specific warning (if related to memory or size issues in plotting such an image).

[2018-07-11 09:53] TarandeepKang opened #2695 "Enhancement: Jensen-Shannon & Kolmogorov-Smirnov Tests"
Jensen-Shannon & Kolmogorov-Smirnov Tests
* Enhancement: Addition of the ability to perform JS & KS test
* Purpose: Standard and widely used tests (at least in my field of animal cognition) to test wether a pair of curves come from the same distribution. This would mean all necessary features (except flexibility in graphing) are implemented and I can complete my transition to JASP!

It was a pleas

[2018-07-11 12:33] #2675 closed

[2018-07-11 12:33] JorisGoosen commented on #2675
Fixed it!

[2018-07-11 12:33] JorisGoosen commented on #2675
(well, @FransMeerhoff  did ;))

[2018-07-11 12:51] oreojo commented on #1832
Hi, a MANOVA for JASP would be really handy!

[2018-07-11 16:43] pwsalw commented on #2693
Hi Frans,

Sorry, it contains names and grades, so I cannot share it, but if you need
information about it, I can try to tell you what I can.

On Wed, Jul 11, 2018, 2:27 AM FransMeerhoff <notifications@github.com>
wrote:

[2018-07-12 08:04] FransMeerhoff commented on #2693
Hi @pwsalw

Unfortunately we cannot reproduce this problem on a Windows 7 machine . So if it is possible to send us an anonymous file with the same problem we could perhaps solve this issue.
We assume that your problem is specific for this file ?

Cheers
Frans Meerhoff

[2018-07-13 22:22] #1669 closed

[2018-07-13 22:23] akashrajkn commented on #1669
Fixed in #2658

[2018-07-13 22:24] akashrajkn commented on #1670
Fixed in #2658 and #2664

[2018-07-13 22:24] #1670 closed

[2018-07-14 11:07] NikitaKhromov-Borisov opened #2698 "No table scrolling"
## Template for bug reports
<after the table opening it is impossible to scroll it anf to change the columntype
[No scrolling.zip](https://github.com/jasp-stats/jasp-desktop/files/2194896/No.scrolling.zip)

* JASP version: 0.9.0.1
* OS name and version: Win10
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-07-14 12:13] NikitaKhromov-Borisov opened #2699 "Ugly correlation plots"
## Template for bug reports
<copied corealtion graphs are ugly
[CorrPlotsUgly.xlsx](https://github.com/jasp-stats/jasp-desktop/files/2194923/CorrPlotsUgly.xlsx)

* JASP version: 0.9.0.1
* OS name and version: Win 10
* Analysis: corelation
* Steps to reproduce: correrlation graphs

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-07-14 18:11] hackerbiotic commented on #2673
I installed this version and the same error occurred :(

[2018-07-15 10:15] JASPUSER09990 commented on #2512
Could you please reopen this issue as I have already re-checked it in the latest version and the problem exists as well? Thanks.

      From: AlexanderLyNL <notifications@github.com>
 To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: JASPUSER09990 <xiangzhao@ymail.com>; State change <state_change@noreply.github.com>
 Sent: Sunday, 10 June 2018, 1:18
 Subject: Re: [jasp-stats/jasp-d

[2018-07-16 11:44] EJWagenmakers opened #2700 "Overlap in plot text Bayesian linear regression"
@vandenman

The BAS "plot of coefficients" has overlapping text for the interval endpoints when the 95% credible interval is near zero. Maybe check how we solved this for the Bayesian t-test?

![image](https://user-images.githubusercontent.com/8603015/42756825-109446bc-88fe-11e8-8d60-a7619864e084.png)

[2018-07-16 11:45] AlexanderLyNL commented on #2700
ggrepel

[2018-07-16 11:53] AlexanderLyNL commented on #2699
Dear Nikita,

I've looked at the file and, in my opinion, the graphs look fine, meaning that they resemble the JASP output. Is there any in particular in the plot that puts you off?

Cheers,
Alexander

[2018-07-16 12:00] AlexanderLyNL commented on #2698
Dear Nikita,

I've looked at the docx file and saw that it contains a screenshot of the default correlation matrix output with two columns and two rows. By impossible to scroll, are you referring to the data file? You can move your mouse over the data viewer and press the left mouse button, the hand will then grab onto the data viewer allowing you to scroll. Alternatively, if your mouse has a scro

[2018-07-16 12:03] AlexanderLyNL commented on #2695
Dear TarandeepKang,

Thanks for the suggestion. We still have to think about where we would place these tests. Please let us know if you have any suggestions.

Cheers,
Alexander

[2018-07-16 12:04] AlexanderLyNL commented on #2700
Please add the jasp file in a zip to this thread, so we can use it as a test case. We'll discuss this once Don is back.

[2018-07-16 12:11] AlexanderLyNL commented on #2688
Hi Nic,

Thanks for stress testing this. This is certainly valuable information. I'll be rewriting this analysis, as many other ones as well, and we'll be looking into these stress issues a bit more after the revamp. Do you perhaps also know the threshold number of variables at which JASP breaks down? If not, please don't worry.

Cheers,
Alexander

[2018-07-16 12:34] spono commented on #2688
I have no clue but, in case I test it, I'll let you know.
keep up the good work!

[2018-07-16 12:38] NikitaKhromov-Borisov commented on #2698
Dear Alexander,
The scroll wheel provides the scrolling in the vertical dimension, however, I need to scroll in horizontal one from left to right.
Cheers,
Nikita

[2018-07-16 13:06] TarandeepKang commented on #2695
Hi Alexander, yes I have an idea. At the moment every form of nonparametric test (ANOVA, ANCOVA etc) is included as an option within the sub menu for that analysis procedure. Would it  be conceivable able to separate out and reorganise all the nonparametric tests into a separate menu item and then include my suggested tests along with your existing nonparametric functionality?

Best,

Tarandeep

[2018-07-16 13:41] NikitaKhromov-Borisov commented on #2698
Dear Alexander,

I have understood how to scroll the data tables. However, now I have met another problem. See the attachment.
It seems in previous JASP versions the quality of images was better. Is it possible to copy each plot separately?
[PlotsJASP.ZIP](https://github.com/jasp-stats/jasp-desktop/files/2197856/PlotsJASP.ZIP)

Cheers, Nikita

[2018-07-16 13:42] #2698 closed

[2018-07-16 14:08] AlexanderLyNL commented on #2698
Hi Nikita,

To only copy the plots that you're interested in, you can remove the variables that you're not interested in from the variables pane on the right hand side. This way only the variables that you're interested in will be shown.

Cheers,
Alexander

[2018-07-16 14:57] spono commented on #2688
ok, it happened again with another dataset (15r x 30c).
this time table & plot is ok but it crashes when I click on the the "Flag significant correlations" option.

[2018-07-16 16:19] AlexanderLyNL commented on #2688
Hi Nic,

Thanks for playing around with this. Could you please add the jasp, csv file in a zip to this thread? I can use this as a test case in a next version.

Cheers,
Alexander

[2018-07-16 19:16] astroln commented on #2693
I am having a similar issue, that started out giving me the error message when I tried to use my file but now will crash immediately upon opening JASP.  I have updated my version to 0.9 and tried on 2 separate PCs.  Neither are working.

[2018-07-16 20:12] EJWagenmakers commented on #2695
Although possible, this is too much of a reorganization for my taste. I prefer to keep the tests where people may use them. We could potentially add a menu item "Assumption Checks" below "Descriptive Statistics" and above "Reliability Analysis"; this is where we could place tests for normality, equal variance, whether samples come from the same distribution, etc.

[2018-07-16 21:42] EJWagenmakers commented on #2700
Attached is the zip
[PredictingIncomeFictionalData.zip](https://github.com/jasp-stats/jasp-desktop/files/2199417/PredictingIncomeFictionalData.zip)

[2018-07-17 09:32] TarandeepKang commented on #2695
Sounds good EJ!

[2018-07-17 14:32] FransMeerhoff commented on #2693
Hi @astroln

To be sure, are you running on both machines Windows 7 and you run JASP 0.9 and not 0.9.1 ?
It is possible for you to upload an example file in this thread, which causes the problem?
That would surely help us.

(You can add it in a zip and drag and drop is to this issue)

Thanks
Frans Meerhoff

[2018-07-18 05:16] LWilkinKrug commented on #2642
Hi Gamon, is there an update on this? I'd like to use JASP for my PhD data analysis, but MANOVA is a must. Warm regards, LK

[2018-07-18 07:52] FransMeerhoff commented on #2693
Hi @astroln

Thanks for your datafile.

Can you please tell us which file you use to read in JASP, or better send us the exact file that you try to open in JASP. JASP cannot read excel files directly.
When I read this file in Excel and export it to a .csv file I still do not see any problem on Windows 10 with same JASP version you mention (0.9-15 jun).

Cheers
Frans Meerhoff

I'v added the .txt I

[2018-07-18 16:06] astroln commented on #2693
Hi Frans,

I did use the .csv file but I couldn't upload a .csv file so I uploaded it as an excel file.  I tried using the .txt file you attached and I am still having the same problems.

[2018-07-19 13:59] FransMeerhoff commented on #2693
Hi @astroln

That's very strange and annoying for you.
We still need to be certain about the following:
- Is this the only file that is causing this problem or gives a file from e.g. the data library the same problem?
- Are you able to read the data file and JASP stays running If you do not run any analysis?

Thanks for sorting this out,
 Frans Meerhoff

[2018-07-19 14:09] astroln commented on #2693
Hi Frans,

I am able to open a file from the data library and the welcome screen does change to a descriptive screen of the analyses.  JASP has not closed and I can see the data file as well.

[2018-07-23 22:14] Felipe3105 opened #2711 "Could you include Welch's ANOVA and Games-Howell post-hoc test in next JASP release?"
## Template for enhancement requests

Hello, I was wondering if some developers could work on including an option for conducting a Welch's ANOVA test which is the best option when the assumption of homogeneity of variances has been violated. I know that Kruskall-Wallis is a good non-parametric alternative, but I've read that an ANOVA with Welch's correction is more robust than K-W and thus preferr

[2018-07-23 23:39] robert-reich commented on #1418
I would like this feature as well.

[2018-07-24 07:39] FransMeerhoff commented on #2693
HI @astroln

So, if I understand you well, your problem is related to this specific data file.
Which analysis are you running, with which parameters?

@pwsalw
Your issue has been reproduced by astroln, at least a similar problem is reported.
Because you were not able to send us the personal dataset, could you try to reproduce your problem the way astroln describes?

[2018-07-24 07:42] #2562 closed

[2018-07-24 09:04] EJWagenmakers opened #2712 "Filtering per analysis?"
From the twitterverse:

"The filter tool is so useful. However, when I apply it, it even changes my previous analysis. Is it possible to set it up only for the the analysis after its application?"

I don't think JASP can do this now, right?

[2018-07-24 09:06] AlexanderLyNL commented on #2712
It can't. Our design choice is to make it responsive.

[2018-07-24 09:06] EJWagenmakers opened #2713 "feedback boxes"
When I work with the filtering tool I can get a box with some feedback (see attach). The feedback itself is fine, but I was wondering whether we could make the box prettier -- it strikes me as somewhat un-JASP like. In general, it would be good to have a consistent box for presenting feedback.
E.J.
![feedbackbox](https://user-images.githubusercontent.com/8603015/43128193-9dfe2156-8f31-11e8-85b9-8e

[2018-07-24 10:06] #2712 closed

[2018-07-24 20:08] astroln commented on #2693
Hi Frans,

I was trying to run a repeated measures ANOVA, but after that I tried descriptive statistics (histogram) and paired samples t-test, and I can't get the welcome screen to go away.

[2018-07-24 22:07] C23CAMBIER opened #2715 "Problems changing measurement level"
* JASP version: 0.9.0.1
* OS name and version: OSX EL CAPTAIN
* Analysis: ANOVA

**Problems changing measurement level**

HI.  I encountered troubles changing measurement level. Jasp named one of my metric variables as being a nominal one and it seems to be impossible to change into a metric. With the older version I had an alert telling me 'You cannot change this column to type Scale'  with the n

[2018-07-25 09:47] FransMeerhoff commented on #2693
Hi @astroln

- To exclude that this problem has something to do with your installation of JASP, could you try the following: We deliver a JASP installed version in a zip file at
https://static.jasp-stats.org/JASP-0.9.0.1-64-bit.zip
If you download and extract this file you can run this by double clicking JASP.exe in the unzipped folder. Do you have the same problems with this version?
- If you sti

[2018-07-25 12:33] FransMeerhoff commented on #1514
@Anna-LenaSchubert

Please reopen this issue if this issue is not solved for you in the latest version

Kind Regards
Frans Meerhoff

[2018-07-25 12:33] #1514 closed

[2018-07-25 14:14] astroln commented on #2693
Hi Frans,

I'm still having the same problem and I do get the same error screen at random points after I open JASP.

![screenshot 2018-07-25 10 10 11](https://user-images.githubusercontent.com/41305794/43206276-4f79d72e-8ff3-11e8-9aba-af2cf28d83ad.png)

I was able to get to the data library and open the file and hit 'Refresh All" and nothing happened that I could tell.

[2018-07-26 07:47] FransMeerhoff commented on #2693
Hi @astroln

Thanks again for your patience and helping us.
- I have added a windows batch file that contains a script to start JASPEngine.exe the process that executes our R code. Could you copy this batch file to your unzipped version of JASP (same place where JASP.exe reside) and double-click on this batch file runEngine.bat
[runEngine.zip](https://github.com/jasp-stats/jasp-desktop/files/22309

[2018-07-26 18:51] pwsalw commented on #2693
I'm still having the same issue - I get this error even before I open any file.
This image is the second attempt. At the first attempt, I reached this error immediately after starting JASP.
![image](https://user-images.githubusercontent.com/41090299/43282015-b3a569f6-90da-11e8-912c-6154f846202b.png)
I also tried downloading the runEngine.zip, but it's been blocked because it's flagged as dangerous

[2018-07-27 12:22] leaesthetics commented on #2512
I have just the same problem with the newest version when trying to save the plot as a pdf. Saving as the default format works, but then the resolution is too bad. Thanks

[2018-07-30 05:58] kiisudankan opened #2716 "Bug: Moving mouse over variables automatically selects them"
* JASP version: 0.9.01
* OS name and version: Windows 7
* Analysis: Any
* Steps to reproduce: Always happens

When attempting to choose the variables for any analysis, the variables are automatically selected when the mouse hovers over them even if no mouse button is pressed. This makes selecting variables virtually impossible. It happens on 0.8.5, 0.8.6 and 0.9.01. The problem is the same for mou

[2018-07-30 14:30] JohnnyDoorn commented on #2711
Hi Felipe,
Yes, we are working on this, and it will be in the next release!
Kind regards
Johnny

[2018-07-30 14:30] #2711 closed

[2018-07-30 14:34] EJWagenmakers commented on #2642
Hi everyone,

I realize MANOVA is often taught, but I actually rarely if ever see it used in practice -- are there fields in which the method is routinely applied? I was taught MANOVA myself but never had any need for it in my applied work. Anyway, we will look at this, but it might need to be a separate module in order to avoid it clogging the base-JASP interface. Do you have a specific R package

[2018-07-30 17:01] astroln commented on #2693
Hi Frans,

Sorry for the delay in getting to this.  I downloaded the batch file and put it in the JASP folder.  I ran it and it gave me the command screen and said press any key to continue.  I did and the window closed.  I tried to run JASP and I am still getting the same problem.  I do have R on my computer as well.

[2018-07-30 17:28] NathenHarp opened #2717 "cannot download JASP files"
I cannot download tutorial JASP files at..
https://jasp-stats.org/2018/04/18/how-to-conduct-a-classical-independent-sample-t-test-in-jasp-and-interpret-the-results/

via https://osf.io/m345y/

I contacted OSF and here's the reply...
"Thank you for your email. As you’re attempting to download the dataset from JASP and not OSF, we can’t be of any help. We only provide support for OSF-hosted material

[2018-07-30 19:51] LWilkinKrug commented on #2642
Hi there,
I’d say certainly in pre-clinical research (i.e. Neuroscience). I’m currently working on a study with 5 groups and 2 factors.
Thanks for exploring the option.

[2018-07-31 07:38] EJWagenmakers commented on #2717
Hi Nathen,

But you can *view* the output, right? I'm guessing the OSF folder was not set up to allow downloads. I'll check in with Tim Draws you manages this.

Cheers,
E.J.

[2018-07-31 08:00] FransMeerhoff commented on #2693
Hi @pwsalw , @astroln

@astroln: If the your command screen did not show any specific error and only the 'press to continue message' than the JASPEngine subprocess starts  normally.

- On Windows, for the latest versions of JASP, JASP needs the Microsoft Visual C++ Redistributable for Visual Studio 2017. This is automatically installed with the JASP setup. Perhaps that silent install did not work

[2018-07-31 08:38] JorisGoosen opened #2718 "Ordinals in filter (and computed column) cannot be compared for inequality"
An Ordinal column cannot be compared using operators such as '<' or '>'. This is because underneath it all JASP codes it as factors and R does not want to compare them like that. It is however unexpected that one can not compare ordinals like that so a solution must be found.

-------

A solution would be to coerce the data to integers (the levels underneath) and compare based on that.

A problem

[2018-07-31 08:51] AlexanderLyNL commented on #2718
I've tried this in R and for me it yields the correct results:

data <- data.frame(x=LETTERS[1:3], col=as.factor(c(2,1,3)))
data$col
col <- as.integer(data$col)

col < 2
col == 2

In JASP we have factors, nominal and text factors. This problem would not occur with text factors, as they cannot be converted into numerics or integers. Would the distinction between these three cases help?

[2018-07-31 08:57] AlexanderLyNL commented on #2512
Hi leaestethics,

We've identified the problem with saving plots and have fixed this for our next release. If wouldn't be too much trouble, could you please help out and test this issue once our prerelease is ready?

Cheers,
Alexander

[2018-07-31 09:13] AlexanderLyNL commented on #2717
Hi Nathen,

To simplify matters, I've attached both the csv and JASP to this comment as a zip.

[drpExample.zip](https://github.com/jasp-stats/jasp-desktop/files/2244556/drpExample.zip)

It surprises me that the file cannot be downloaded, as it works fine for me. It would be good to figure out what happened here exactly. Could you please tell me whether:
1. Can you view the jasp file?
2. Do you se

[2018-07-31 09:49] JorisGoosen commented on #2718
Yeah but now you are messing up the order of your ordinal right?
What is the point of putting 2 in the first place otherwise?

[2018-07-31 09:50] JorisGoosen commented on #2718
should '2' be smaller than '1' or not?

[2018-07-31 10:00] JASPUSER09990 commented on #2512
@AlexanderLyNL Hey, Alexander. Looking forward to the new release. And I will also let you know how it goes. Thanks.

[2018-07-31 12:06] JorisGoosen commented on #2718
Hmm, it seems that you can use ordered factors and then everything works as expected I think, see: https://stackoverflow.com/questions/23396591/factors-ordered-vs-levels

Now I just need to find a way of turning on "ordered" in Rcpp.

[2018-07-31 13:38] NathenHarp commented on #2717
Yes. The download functions work correctly, the problem is being able to locate the results in the OSF search (i.e., files, projects, users, etc..).  For example, no results are returned when searching for 'JASPBlogPosts' or 'DRP'

[2018-07-31 13:47] leaesthetics commented on #2512
@AlexanderLyNL Hi Alexander, thank you so much. Of course I will test it. Cheers!

[2018-07-31 14:14] NathenHarp commented on #2717
It's seems to be a permission issue when trying to download the file from link above...I forgot to mention previously with screenshot below..
![capture](https://user-images.githubusercontent.com/41922530/43465009-647fd13a-94aa-11e8-87bb-ee84ca3da578.GIF)

[2018-07-31 21:43] timdraws commented on #2717
I relocated the supplementary files of this blog post to a different OSF folder, where we also host the files for other blog posts: https://osf.io/zvxjw/. It should work properly now.

[2018-08-01 03:27] gamons commented on #2642
Hi EJ,

Thank you for your kind attention on MANOVA. Please take a look at a nice
video on how to run MANOVA using R by Ed Boone,
https://www.youtube.com/watch?v=48cZ2cMBpio

Hope JASP could use R to produce some thing similar to this; of course, in
JASP user-friendly GUI. If MANOVA is done in a separate module by JASP, it
is still fine. I think JASP is a great software package. It is heading
towa

[2018-08-01 05:08] Salt54J opened #2720 "Bug Report: JASP 0.9.01 Mauchly's test of sphericity claiming RM factor has only 2 levels"
* JASP version: 0.9.01
* OS name and version: Windows 10 Pro, Version 10.0.17134
* Analysis: Repeated Measures ANOVA with a between-subjects factor. Mauchly's test of sphericity.
* Steps to reproduce: Repeated measures ANOVA with several levels to an RM factor. Add a between subjects factor. Check box for sphericity tests.

Sometimes Mauchly's test of sphericity is saying my RM Factor has only 2 l

[2018-08-01 05:11] Salt54J commented on #2143
Once this feature comes in, our team will almost never require SPSS.

[2018-08-01 08:06] AlexanderLyNL commented on #2717
@timdraws Thanks! Could you please update all the links in the other blog posts as well, so people without an OSF account can view and download the JASP and CSV files? Once you've done that, could you please close this thread?

[2018-08-01 09:25] JorisGoosen opened #2721 "Export compute column results"
@EJWagenmakers got a great idea from a user: copying/pasting data to JASP.

The first part of it would be being able to select data in the dataview of JASP and then being able to copy this to Excel/Libreoffice/GoogleDocs/whatever. Could be nice in conjunction with computed columns to retrieve the calculated new column.

The second part is the other way round, where one would copy a column, row or

[2018-08-01 09:36] JorisGoosen commented on #2721
The second step would, of course, imply that the datafile would be perfectly synchronized with JASP? What would we do here?

[2018-08-01 10:40] timdraws commented on #2717
There does not seem to be a problem with any other blog posts, as the according supplementary files are either located in the OSF folder mentioned above or in other public ones.

[2018-08-01 10:40] #2717 closed

[2018-08-02 13:38] Freeopenstat opened #2722 "Enhancement: Heat map function for correlation matrix"
Request:
I think a heat map function for correlation matrix for Pearson, Spearman and Kendall would be very good. I think it would be ideal to have this kind of function because it is frequently used across many disciplines.

[2018-08-02 18:47] EJWagenmakers commented on #2722
That's a great suggestion. @Kucharssim , you've done something like this before, right?
Cheers,
E.J.

[2018-08-02 18:51] Kucharssim commented on #2722
Yes, I think I can manage to implement this.

[2018-08-04 06:56] AlexanderLyNL commented on #2715
Dear C23cambier,

Could you please include the JASP file in a zip to this thread? Then we can have a closer look at what's going on.

Cheers,
Alexander

[2018-08-05 06:52] stjep commented on #1957
Perhaps I'm being dense, but I can't see a way to implement a simple effect analysis on an interaction term on an interaction term, which is what this feature request is after.

[2018-08-05 11:31] EJWagenmakers commented on #1957
@JohnnyDoorn, can you comment?

[2018-08-06 13:56] jandrews94 opened #2724 "Post-hoc bonferroni comparisons for interactions in ANOVA"

[2018-08-08 07:41] FransMeerhoff commented on #2716
Hi @kiisudankan

That's indeed very strange behaviour, but thanks for reporting this anyway.
You will not be wondered that we cannot reproduce this problem which makes it hard to
find the cause of such a problem, moreover because you say that this issue only happens with JASP.
Because you say that it happens on every analyses let's stick to one concrete case on 0.9.0.1
Could you check the followin

[2018-08-08 11:16] JohnnyDoorn commented on #1957
Hi @stjep
The feature request is about investigating an interaction effect in an anova, by looking at the main effect of one variable, conditioned on levels of a different factor (which can then be conditioned on a third factor). You can use that to get more insight into an interaction effect.
Adding a second conditioning variable provides more insight into a three-way interaction effect: it shows

[2018-08-08 11:18] JohnnyDoorn commented on #2724
Hi @jandrews94
That is an excellent suggestion, and very high up on my priority list!
Cheers,
Johnny

[2018-08-08 13:08] JorisGoosen opened #2726 "Show JASP's HTML results output in RStudio viewer"
It would be nice to be able to see the results html, like in JASP, in RStudio.

This way it becomes much much easier to develop an analysis and should be simple enough with jaspResults. We could integrate the html/js/etc into the package.

[2018-08-08 16:48] Freeopenstat commented on #2722
Awesome!

[2018-08-09 00:42] kiisudankan commented on #2716
Hi Frans,

Thanks for looking into this. Its been driving me crazy for months.

However, for reasons that I cannot understand the problem has resolved. I checked the problem still occurred in an old data set (it did). Then I followed your instructions and opened the sleep example. The results of which were:

- If you hover over ID does this directly goes to the Variables column?
No.
- Does this ha

[2018-08-09 01:42] stjep commented on #1957
@JohnnyDoorn, okay, I think I see where it is implemented (and that I was just being dense). The Simple Main Effects section of the ANOVA specification is what I'm after? With the *Simple effect factor* being what is tested and the *Moderator factor* levels held constant?

Say I have two factors, A and B. Factor A has 2levels. Factor B has 7 levels. The interaction of these two factors is signific

[2018-08-09 09:08] FransMeerhoff commented on #2716
HI @kiisudankan

Strange, but good to hear that is works again.
I close the issue and you can reopen it if it occurs again.

Cheers
Frans

[2018-08-09 09:08] #2716 closed

[2018-08-09 09:12] FransMeerhoff commented on #2693
Hi @pwsalw , @astroln

Can you give me an update of your problem?
Do you have any problems installing the Redistributables , and did it change any results?

Cheers
Frans

[2018-08-09 12:45] JorisGoosen commented on #2713
Totally agree!

How shall we make it look?

[2018-08-09 12:54] JorisGoosen commented on #2713
Maybe it would be nice to have some plans for JASP's QML style in general?
This is also connected to the eventual JASP theme to be used in the forms.

Could be nice to have some kind of design-philosophy, maybe something like the website? Or maybe not..

[2018-08-10 21:17] carlosquintanillaa commented on #1260
I cast my vote for this improvement. The minute you can create dummy variables inside JASP I'll adopt JASP for my Stat Course. Most real datasets are a combination of continuous and categorical variables. We need them for both Linear Regression and Logistic Regression. Currently I use Gretl in my courses.

[2018-08-11 23:16] rflidster opened #2727 "Request for Multidimensional Scaling (MDS)"
* Enhancement:  To include Multidimensional Scaling (MDS) functionality in JASP

Ideally, functions would include:
- Fit indices such as R^2 and stress, including plots for evaluating fit in different dimensions and evaluating dimensionality of the data
- Plots of the resulting data points in 1-, 2-, or 3-dimensional space
- Means of rotating the points in 2- or 3-dimensional space

* Purpose:  Co

[2018-08-12 13:42] EJWagenmakers opened #2728 "Regression in meta-analysis"
From the twitterverse:
"when using regression in meta-analysis module I untick the "Include intercept" option, but ... doesn't remove it! Glad if you can fix this bug? Otherwise, great freeware!"
@raoelg

[2018-08-13 12:40] Emoll9 commented on #1957
@stjep It looks like what you're after is _comparison of individual cell means_. In your example above, the tests of A within B and B within A constitute what is formally considered simple-effects analysis, so the JASP feature indeed does what it claims to do.

I agree, however, that it would be useful to also implement the option to follow up significant simple effects with individual cell-means

[2018-08-13 13:36] JohnnyDoorn commented on #1957
Hi @stjep & @Emoll9
Thank you for your feedback. This would indeed be a handy follow-up feature to have.
For now, you can achieve this with JASP through the filtering function: simply select just one level of the moderator factor (for instance, filter out all observations of A that are not 1), and then perform an ANOVA and posthoc test, then repeat for other levels of A. Although I have to say I a

[2018-08-14 01:11] stjep commented on #1957
@Emoll9, you are correct that what I am after is the individual cell means, and thanks for the cool flowchart. Going to have check that book out as it seems useful. Although, I wouldn't recommend a Bonferroni correction, especially not on the cell means, given it's severity. I think a Bonferroni-Holm is a better compromise, but there's no way to get out from behind Bonferroni's shadow.

@JohnnyDoo

[2018-08-14 06:43] FransMeerhoff commented on #2693
Hi @astroln

No problem at all of course.
Nice traveling.

Cheers
Frans

[2018-08-14 16:03] Farscape1 opened #2733 "Feature Request (HLM, PCR, Ridge etc...)"
Hi,

I am wondering if JASP is planning to add multinomial regression, multi-level modelling, and things like principal component regression and lasso.

I know it is a lot of feature request but the use of multiomial, multilevel, and PCR is becoming frequent in our field (medical).

Thanks,

[2018-08-14 16:25] astroln commented on #2693
I tried it, and couldn't get it to work, still the same problems.  I thought about what you said and I uninstalled JASP and reinstalled it to see if that would help but couldn't get it to work still.  Sorry!

Lori

[2018-08-14 19:59] EJWagenmakers commented on #2048
Thanks! @vankesteren, any comments on this request? :-)

[2018-08-14 20:03] EJWagenmakers commented on #2733
Definitely. When exactly we'll get to this is not 100% clear, as we also have other fish to fry, but some of this is relatively straightforward and some other stuff is already on our long-term to-do list.

Cheers,
E.J.

[2018-08-15 07:11] FransMeerhoff commented on #2693
Hi @astroln

Just to be sure:
- Did you install the VS-Redistributables (https://static.jasp-stats.org/VC_redist.x64.exe) separately?
- We would like to see some more system information of your machine like I described. If you have problems generation such a report I can help you with that.
- Are you able to start JASP as an Administrator, just to check if that makes any difference?

Cheers
Frans

[2018-08-15 11:08] IrisMW commented on #2641
Hi Jennifer and all,
I have the same problem. JASP used to work fine, but now it won't open anymore (MAC error message "JASP quit unexpectedly"). I deinstalled my older version and installed 0.9.0.1, but still same problem.

Thanks for any help with this!
Iris

[2018-08-15 14:15] vankesteren commented on #2048
Hey @WilhelmKuntner,

yes, this advanced option is some legacy code. In the future, we will edit this so that the user interface will be more intuitive in this regard. It _works_ in a way, but indeed it is currently implemented such that the model is overwritten every time, so you'll have to start with the simplest model and build up from there (and never touch your original model again). Hence we

[2018-08-15 14:25] astroln commented on #2693
Hi Frans,

So sorry I missed the second part, here is the system information.

[system.txt](https://github.com/jasp-stats/jasp-desktop/files/2290494/system.txt)

I installed it separately, it asked to repair or uninstall and I tried repairing first and then I uninstalled and reinstalled VS-Redistributables.

[2018-08-15 14:41] vankesteren opened #2734 "ctrl+F in the help files"
It would be nice for users to be able to search through the longer help files we have or will make.

[2018-08-15 17:28] WilhelmKuntner commented on #2048
Hi @vankesteren,

at the moment I am using RStudio with R Markdown, where the work flow in fact comprises lots of copy-and-paste operations.

I am trying to ascertain the dimensionality of a psychometric scale. Accordingly, a one-factor-model is tested against a two-factor-model by means of a CFA. Once I will be sure about the dimensionality (see below), I'm planning to check for measurement invar

[2018-08-16 00:05] ajestudillo opened #2735 "enhancement: filter for next analysis"
The filter is a very interesting tool. But it wuold be great to have a filter that applies to the next analysis and not  chaning all the previous output. Would this be possible?

[2018-08-16 08:39] FransMeerhoff commented on #2693
Hi @astroln Lori,

I noticed in your system log that your path environment started with an Oracle client that is in the beginning of your path. Normally not a problem but let's exclude that as a possible cause too.
I've attached a batch file, like I send you before, but now with a minimal path to run JASP.
Could you test the following for me:
- Unzip the runJASP.zip file and copy the runJASP.bat f

[2018-08-16 20:46] astroln commented on #2693
Hi Frans,

I was able to download and run the file but I still had the same problems.  I don't think I mentioned this before and I don't know if this helps but the welcome screen does blip and return to the same screen when I click on a type of test to run and when I try to run the stats.

[2018-08-17 14:30] Jennifer500 commented on #2693
Hello -
I'm having a similar issue too.
I'm on an "El Capitan" Mac and using the version "JASP-0.9.0.1-XCode8.2-NoSigning.dmg".

It opens some files at first. But now after a couple of successful runs, it has stopped recognizing there are values in files I open.

The CSV or Txt file  looks normal in other software (like BBEdit) and while JASP indicates it sees values in the columns, I can't do any

[2018-08-18 11:57] UppsalaCognitionLab opened #2736 "File menu unresponsive"
## Template for bug reports

* JASP version: 0.9.0.1
* OS name and version: Microsoft Windows [Version 10.0.17134.228]
* Analysis: When i open JASP and go to the "File" menu, nothing happens when i click on "Computer"
* Steps to reproduce: Open JASP, to to "file" menu, click on "computer"

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-08-19 14:46] Marian-Popa commented on #2564
Hi, Alexander

Unfortunately, the problem still persists in JASP 0.9.0.1
See the excel file below.
Best regards,
Marian

[ProQol_19aug2018.xlsx](https://github.com/jasp-stats/jasp-desktop/files/2300393/ProQol_19aug2018.xlsx)

[2018-08-21 08:57] FransMeerhoff commented on #2693
Hi @astroln Lori,

Perhaps  that's a good suggestion for us to check the following.
In the latest version (>=0.9) we introduced the generation of some new user interface.
So if we know that on your system JASP 0.8.6 (https://static.jasp-stats.org/JASP-0.8.6-Setup.exe)
runs fine that would  help us to check this out.
So could you
- Uninstall JASP 0.9.1 and reinstall JASP from https://static.jasp-st

[2018-08-21 12:00] FransMeerhoff commented on #2693
Hi @Jennifer500

I do not think that is is a similar problem, though I agree that the same error box is show.
I can easily reproduce your problem by running a descriptive analysis and select some random columns. I will discuss this with the responsible developer and let you know more when we have figured it out.

Thanks for reporting us and sending us the data file to reproduce.

Kind regards
Fran

[2018-08-21 12:09] Jennifer500 commented on #2693
Hello Frans -

Thanks for the clarification -
and I'm looking forward to the fixed version!
Jennifer

[2018-08-22 13:39] oreojo commented on #2119
I also echo this request - a bayesian logistic regression would be good!

[2018-08-22 14:11] oreojo commented on #2119
I may have answered this myself - can't you just convert the binary variable to one it thinks is linear? i.e. literally just change the drop-down 'nominal' to 'scale' on your categorical outcome measure? The size of the BF10's that I get back seem to make sense when I do this, but it might be fundamentally wrong?

[2018-08-22 14:48] janderuiter commented on #2119
No, I don't think this is the same analysis. For one thing, there's no
logistic function involved.

On Wed, Aug 22, 2018 at 10:12 AM, oreojo <notifications@github.com> wrote:

[2018-08-24 11:39] vankesteren commented on #2048
@WilhelmKuntner Thank you for your detailed feedback!

- Robust estimation & various estimators will be part of the CFA module
- I'll look into whether and how we want to incorporate model comparisons such as the dimensionality one you describe
- A part of the CFA procedure will be `lavaan` model code output. I will also look into extracting the specific `lavaan` settings for running the model dir

[2018-08-24 13:35] EJWagenmakers opened #2748 "Binomial sequential plot crashes JASP after data editing"
JASP crashes when the following steps are taken:
1. Open the zombie example (from the data library for instance)
2. Go to Frequencies -> Bayesian Binomial test; set test value to 1; drag outcome variable into the input field; and tick "sequential analysis"
3. Now edit the data using LibreOffice: add any number of hungry zombies and press "save". JASP will try to run the analysis but crashes.

Reop

[2018-08-26 14:37] Alexhauson opened #2749 "Error Creating SSL context () when attempting to access OSF on Windows 7 64 bit JASP 0.9.0.1"
* JASP version: 0.9.0.1
* OS name and version: Windows 7 64 bit
* Analysis: Whenever I try to access OSF, I get the error message:
Error Creating SSL context ()
Username and/or password are not correct. Please try again
* Steps to reproduce:  See above. I have full access to OSF on my browser and using the same username and password, JASP gives me the error message: "Error Creating SSL context ()"

[2018-08-26 22:10] AlexanderLyNL commented on #2735
Hi Ajestudillo,

This is something that we thought about as well, and another idea was to press an "okay" button before we apply the filter. We were also tossing up to have the user decide on which analysis the filter is applied to. In the end, as a design choice, we decided to make JASP as responsive as possible. I hope that you understand our design choice on this one. Please continue this discu

[2018-08-26 22:10] #2735 closed

[2018-08-26 23:27] ViolaPsch commented on #2683
Wi1PsyHH,
this happend to me, too, in a similar manner. I think it's a problem about JASP version: 0.9.0.1. Try this: (1) Open former .jasp-file in JASP version 0.8.6. (2) Choose "Sync data" and open different/updated csv.-file (raw data table). (3) Save. (4) Open in  JASP version 0.9.0.1.
That's not a perfect solution, but maybe can help you.
Please let me know, if it works!
Cheers,
ViolaPsch

[2018-08-27 13:11] EJWagenmakers opened #2751 "JASP crashes or does nothing when hungry zombie example is selected"
Upon trying to open the hungry zombie csv file in JASP, we have the following:
1. On my laptop, JASP crashed (without an error message)
2. On a participant's laptop (Mac 10.13.6), nothing happened when he double-clicked. After closing and re-opening JASP, it did work.

Cheers,
E.J.

[2018-08-27 13:53] EJWagenmakers opened #2752 "Bayesian binomial test missing subscripts"
The "BF" in the table for the Bayesian binomial test is missing the subscripts. See attach. The Summary Stats version still has them.
E.J.
![subscriptsmissing](https://user-images.githubusercontent.com/8603015/44663631-662a1500-aa11-11e8-8a85-6e4c08fcff93.png)

[2018-08-27 14:05] EJWagenmakers opened #2753 "Scrollbars horizontal & vertical not easy to find"
In the data panel, the horizontal and vertical scroll bars are only visible when the mouse rests on them. This is a little confusing, and it took me a while to understand that the scroll bars were present.
@FransMeerhoff : we had a similar issue with the data library.

E.J.

[2018-08-27 14:17] EJWagenmakers opened #2754 "Filter compressed too much?"
Reducing the width of the data panel compresses the Filter until the symbols overlap. Not a big problem but still...See attach
E.J.

[2018-08-27 14:18] EJWagenmakers commented on #2754
And now with the attachment...
![filtercompression](https://user-images.githubusercontent.com/8603015/44664872-c40c2c00-aa14-11e8-8a29-613d2a2da6c7.png)

[2018-08-28 05:02] HorwoodP commented on #1934
I would also love to have data weighting within JASP. All my stats work involves weighted survey data, so it would be very useful to have this functionality.

[2018-08-28 06:13] baltzis opened #2755 "Bug in value labels in the output"
## Template for bug reports

* JASP version: 0.9
* OS name and version: Windows 10 Pro (version 1803, build 17134,228
* Analysis: As of the last version of JASP (0.9), the value labels in non-latin alphabet (e.g. in Greek) appear in gibberish in the output pane. See the attached image: while in the data pane the value labels appear correctly, in the output pane they are unreadable (they appear as

[2018-08-28 07:52] FransMeerhoff commented on #2755
Dear @baltzis

This issue has been solved in the latest version JASP 0.9.0.1 (With
https://github.com/jasp-stats/jasp-desktop/issues/2641)
So if you download the latest version from our site and if you rerun the analysis or refresh the results in the jasp file with the 'Refresh All' option (see screenshot) your problem will probably be solved.
If not, please re-open this issue.

Kind regards
Frans

[2018-08-28 07:52] #2755 closed

[2018-08-28 10:10] JorisGoosen commented on #2754
Yeah, this is a bit of a stumper until the panel redesign is done.

Actually when you have a analysis form open it *should* cover the dataview and thus the filter but this doesn't work perfectly. It is also a bit hard to know what to expect. When the filter gets compressed that much then I don't know what to do about it.

I could simply blank the filter and show a "Make me bigger <--->" message of

[2018-08-28 10:40] baltzis commented on #2755
Thanks a lot for the prompt answer. The issue is actually solved. Sorry for not checking the latest version. I thought I had it installed.

Best regards

[2018-08-28 11:06] EJWagenmakers opened #2758 "Summary Stats Correlation Tweak"
In the Summary Stats module, analysis "Regression" -> "Bayesian Correlation Pairs", we specify sample size and the sample correlation. However, the input field just asks for "Correlation Coefficient". Can we change that to "Sample Correlation Coefficient", so that there is no confusion on what needs to be entered there?
@akashrajkn @AlexanderLyNL See attach
![summarystats](https://user-images.gith

[2018-08-28 11:16] gjpoarch opened #2759 "JASP 0.9.0.1 for Mac crashes during all analyses"
## Template for bug reports

* JASP version: 0.9.0.1
* OS name and version: macOS High Sierra 10.13.6
* Analysis: e.g., repeated measures ANOVA
* Steps to reproduce:
<img width="581" alt="screenshot 2018-08-28 13 12 14" src="https://user-images.githubusercontent.com/41833791/44719732-72bb7580-aac4-11e8-9531-041386093366.png">

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-08-28 12:29] AlexanderLyNL commented on #2759
Dear  @gjpoarch,

Could you please attach the jasp-file as a zip to this thread?

Kind regards,
Alexander

[2018-08-28 13:14] boutinb commented on #2759
Dear @gjpoarch
Just to sure: when does the crash happens? When you start JASP, when you load a csv data file, when you load a JASP file, when you start JASP directly by double-clicking a JASP file? Can you describe every step you do? And if you use a JASP file, as Alexander asked you, can you send it (in ZIP format)?
Kind regards,
Bruno

[2018-08-28 15:12] JorisGoosen commented on #2753
Solved in  PR #2762

[2018-08-28 15:12] #2753 closed

[2018-08-28 15:32] DrChesnut opened #2763 "Type I and III Sum of Squares for ANCOVA"
## Template for bug reports

* JASP version: 0.9.01
* OS name and version: macOS High Sierra 10.13.6
* Analysis: ANCOVA
* Steps to reproduce: Comparing the Sum of Squares between Type I and Type III models in the ANCOVA. Steps are pretty easy, just include an outcome variable in the dependent variable box, a covariate in the covariates box, and a categorical variable in the fixed factors box. I ha

[2018-08-28 15:34] gjpoarch commented on #2759
Since updating to Jasp 0.9, every time I try to run a repeated measures ANOVA, JASP crashes. I can load the csv file and the file is displayed. However, as soon as I enter the variables into the rm ANOVA, JASP crashes. Now today, I cut some of the variables in the csv file and all of a sudden, JASP doesn't crash anymore.

[2018-08-28 17:44] DrChesnut commented on #2763
Sorry for so many posts today, just trying to keep a log of the issues... It seems if I move the DV to the box, the covariate to the box, and then the factor to the box, I can include an interaction in the model that seems to keep the order of the variables correct... This also gives me the correct Type I SS

![interaction involved in model](https://user-images.githubusercontent.com/42776298/44740

[2018-08-29 11:56] AlexanderLyNL commented on #2758
Fixed in PR #2761

[2018-08-29 11:56] #2758 closed

[2018-08-29 12:30] boutinb commented on #2759
Can you send us the csv file that causes the crash, and tell us which variables you removed so that it works?

[2018-08-29 15:25] boutinb commented on #2749
Apparently it misses the OpenSSL dlls on Windows 7.
You can find them here: http://static.jasp-stats.org/ssleay32.zip
Download it, unzip it, and copy the 2 dll's file in the installation folder of JASP (usually C:\Program Files\JASP 0.9.0.1).
Tell me if that helps.
Bruno

[2018-08-29 15:38] Alexhauson commented on #2749
Dear Bruno,
Thank you, that worked perfectly.

[2018-08-30 07:29] FransMeerhoff commented on #2749
HI @Alexhauson

Good to hear. I've closed this issue

[2018-08-30 07:29] #2749 closed

[2018-08-30 08:16] shanest commented on #1103
Also would love to see this in JASP

[2018-08-30 08:53] boutinb commented on #2736
Hi @UppsalaCognitionLab, It seems that some Intel drivers do not work fine with the new version of the framework we use (Qt). We are busy to find a workaround. But what we saw, is that this problem occurs sometimes with High DPI. Do you have that on?

[2018-08-30 11:05] EJWagenmakers commented on #1103
Thanks. Duly noted; we are aware of the importance of this analysis.

[2018-08-31 10:40] chrisbeardy opened #2764 "Enhancement Request - Polynomial Regression"
* Enhancement:
Add in Polynomial Regression feature with multiple independent variables and provide the formula if required

* Purpose:
Gives a wider range of options for doing a regression analysis and enhances the fit available for when regression is used for calibration. For example, I use linear and polynomial regression and have recently started using JASP for doing calibration of test rigs.

[2018-08-31 15:07] JohnnyDoorn commented on #2763
Hi DrChestnut,
Thanks for bringing this to our attention! The order in which the factors/covariates are input does not get taken into account in the current JASP version - it simply inputs the factors first and then the covariate. I was not aware that this might be something that some users would like to see differently, and I understand your motivation. I will look into an option for this - maybe

[2018-08-31 15:44] DrChesnut commented on #2763
Hi Johnny,

Thank you for jumping on this! A check box could work. I also wonder if you could use the features you already have built in, with a little behind the scenes code, to accomplish this. Let me describe..

When I am in the ANCOVA analysis menu, there is a dropdown section titled 'Model'. In this section, I can move included variables between 'Components' and 'Model Terms'. Right now, when

[2018-08-31 16:15] JorisGoosen commented on #2751
Fixed with latest PR

[2018-08-31 16:15] #2751 closed

[2018-09-01 19:01] JimWeinrich opened #2767 "Bug: Distribution plots (descriptives) omit and close up gaps in distribution values"
I think this is a bug; others might consider it to be a feature request.
[Wanted.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/2342672/Wanted.jasp.zip)

## Template for bug reports
* JASP version: 0.9.0.1 (and most or all previous versions)
* OS name and version: Mac OS X 10.13.4
* Analysis: If a Scale variable has integer values, JASP's distribution plot (Descriptives) will omit bars

[2018-09-03 15:46] JohnnyDoorn commented on #2763
Hi Steven,
That's very helpful! My programming contributions for JASP are more on the R-level, while this seems to also pertain to the way JASP reads in input. Maybe @boutinb or @akashrajkn can chime in a bit on how to solve this? When JASP can take the order of input into account, it will probably be a very easy fix to have the underlying R-code respect this order.
Kind regards,
Johnny

[2018-09-04 08:40] vankesteren commented on #2767
Hi @JimWeinrich,

Thank you for submitting this issue! It will be fixed with the next release of JASP, there was an earlier issue (#2546) where this came up. I have fixed this in pull request #2746 which is now part of the main program 😄

[2018-09-04 08:40] #2767 closed

[2018-09-04 08:41] vankesteren commented on #2767
![afbeelding](https://user-images.githubusercontent.com/11596858/45020347-07772380-b02f-11e8-810d-3ab1379c375d.png)

[2018-09-04 14:32] DrChesnut commented on #2763
Johnny,

This sounds like a great idea. How do I / we go about getting them involved in this project?

Steven

[2018-09-06 12:26] JohnnyDoorn commented on #2763
They are across the corridor from my office, so I'll take it up with them!

[2018-09-06 14:11] DrChesnut commented on #2763
Thanks, Johnny!

[2018-09-07 12:58] Greenmat commented on #2143
Please please please guys do implement the above described function asap, that's a basic in Anova designs and it is really the last function we ask before we completely ditch spss..
Thanks!!!

[2018-09-07 13:13] EJWagenmakers commented on #2143
@JohnnyDoorn : do you know what's the status of this?

[2018-09-08 18:06] RMC12 opened #2769 "JASP quit unexpectedly"
I downloaded and installed JASP today onto my Macbook Air.
* JASP version: 0.9.0.1
* OS name and version: OSX Yosemite 10.10.5
When I clicked on the JASP logo in applications it gave me a "JASP quit unexpectedly" message. I deleted and reinstalled the program and got the same message. Here is the error info that my computer created.

Process:               JASP [89778]
Path:                  /Appl

[2018-09-09 10:17] akashrajkn commented on #2769
@RMC12 thank you for reporting this. I see that you are using Yosemite. Can you check if you installed the correct distribution of JASP? In the [downloads page](https://jasp-stats.org/download/), you need to install there is a separate link for OS X El Capitan and below.

[2018-09-10 20:31] RMC12 commented on #2769
Thank you. I downloaded an eRlier version and it is working.

On Sun, Sep 9, 2018 at 6:17 AM akash raj <notifications@github.com> wrote:

[2018-09-11 06:28] AlexanderLyNL commented on #2769
Hi RMC12,

Does this version

https://jasp-stats.org/thank-you-3/

work for you?

Cheers,
Alexander

[2018-09-11 22:43] luq-0 commented on #90
I'm only exploring JASP at the moment, but I second the previous comment: while there are post-hoc tests in rm-ANOVA, it outputs different tables. I can't find the equivalent pairwise comparisons option that is available through SPSS syntax using /EMMEANS, which is comparing differences between levels of a factor, on every level of other factors. Referenced commit seems to add only post-hoc tests

[2018-09-12 12:55] EJWagenmakers commented on #969
@JohnnyDoorn : any update on these tests?

[2018-09-12 16:59] #2763 closed

[2018-09-12 17:05] AlexanderLyNL commented on #2752
Fixed PR #2760

[2018-09-12 17:05] #2752 closed

[2018-09-14 20:02] AlexanderLyNL commented on #2726
@vandenman had some great ideas about this. Let's discuss this before moving forward with this.

[2018-09-16 09:42] tvantimmeren opened #2776 "Error when exporting high res figures"
When I try to export graphs to high-resolution format (tiff, pdf, eps), JASP experiences an ‘unexpected internal error’. Exporting to PNG works just fine.

I've tried with different versions on Windows 7 and Mac OSx, see details below.

Windows:
* JASP version: 0.8.6.0
* OS name and version: Windows 7
* Analysis: Repeated Measures ANOVA
* Steps to reproduce: 'Save Image As' > tiff / pdf / eps. JAS

[2018-09-16 15:57] DavSine commented on #2426
Hello, I want to support others' experience with this issue as well.

JASP: 0.9.0.1
OS: Ubuntu 18.04.1 LTS
Hardware: Lenovo ThinkPad Yoga L380 1920x1080 resolution

The scaling is zoomed in with JASP, but not with any other app I've used. I did not have this issue with my previous laptop running JASP 0.8.6 on Ubuntu 16.04 LTS.
![screenshot from 2018-09-16 10-55-48](https://user-images.githubuserco

[2018-09-16 17:31] AlexanderLyNL commented on #2776
Hi tvantimmeren,

Thanks for reporting this. I was able to replicate this problem on my mac on JASP 0.9.0.1. The good news is that this does not occur on my development version, see attached:

[tvantimmeren.zip](https://github.com/jasp-stats/jasp-desktop/files/2386822/tvantimmeren.zip)

On your mac, is JASP 0.9.0.1 the only JASP version for which this problem occurs? Similarly, on your windows wor

[2018-09-17 07:33] 4x1eg commented on #2392
- JASP version: 9.0.1 - September 17, 2018,  gnu/linux Flatpak
- OS name and version: Debian 9.5 (Stretch)
- Analysis: Can't edit data file (CSV or ODS) with Libreoffice directly from JASP 9.0.1 on Debian Stretch
- Steps to reproduce: 1) Open a Data Set with analysis. 2) Double click on a cell

Any ideas why can't I edit a data file with LibreOffice on Debian Stretch 9.5?
Tried different syntaxes

[2018-09-17 12:06] 4x1eg opened #2777 "Can't open and sync data file (CSV or ODS) with Libreoffice directly from JASP 9.0.1 on Debian Stretch"
- JASP version: 9.0.1 - September 17, 2018, gnu/linux Flatpak
- OS name and version: Debian 9.5 (Stretch)
- Analysis: Can't open and sync data file (CSV or ODS) with Libreoffice directly from JASP 9.0.1 on Debian Stretch
- Steps to reproduce: 1) Open a Data Set with analysis. 2) Double click on a cell

Any ideas why Libreoffice is not opening and editing an ODS or CVS data file with LibreOffice on

[2018-09-17 12:44] tvantimmeren commented on #2776
Hi Alexander,

thanks for the attached images. The problem occurs at least in JASP 0.9.0.1 on both OSs and 0.8.6 on Windows. I haven't tried other versions.

Best,
Tim

[2018-09-18 06:45] haevalencia commented on #2392
@4x1eg What version of flatpak are you using? Only in the newer versions appear a dialog that allows you to select an application to edit the data set.

![flatpak](https://user-images.githubusercontent.com/17348259/45669054-2a0c4080-baf5-11e8-9c85-94ead6caaec8.png)

 I noticed that in the last update of the LibreOffice package (flatpak) doesnt appear in the list of applications, but it does appear

[2018-09-18 06:58] omerozi opened #2778 "jasp craashes when loading a csv file downloaded from qualtrics. (when trying to download the format that fits spss, there is a massage that jasp cant read it)."
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-09-18 08:14] AlexanderLyNL commented on #2778
Dear omerozi,

If possible, could you please include the qualtrics csv file as a zip to this thread so we can try to reproduce this issue?

Cheers,
Alexander

[2018-09-18 21:03] diazbastian commented on #2392
Can anyone confirm if this is a JASP, LibreOffice Flatpak or xdg-desktop-portal-gtk issue to create an bug report in the right place?

[2018-09-18 21:13] haevalencia commented on #2392
@AlexanderLyNL Maybe reopening this issue is a good idea to follow up on the problem.

I suggest to indicate on the Jasp download website the minimum version of Flatpak required to ensure all the expected functionality.

[2018-09-19 03:30] kernsbk opened #2779 "jasp"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-09-19 07:11] AlexanderLyNL commented on #2779
I only see an empty form, I'm not sure what to do with this. If you have a bug report or a feature request, please fill in the form. I'll close this for the moment.

[2018-09-19 07:11] #2779 closed

[2018-09-19 15:17] JorisGoosen commented on #2392
Well, if @4x1eg responds with the version of flatpak used (debian tends to be slow with updates) then we can see if that is in fact the issue.

On my pc the selection menu shows up fine, so it is probably an old issue that got fixed along the way in flatpak. And if that is the case we should definitely specify it on the downloads/flatpak instruction yeah.

[2018-09-19 16:42] abswan opened #2783 "Request: Block Function for Hierarchical Linear Regression"
## Template for enhancement requests

* Enhancement: In SPSS, there is an ability to define fully each step in a block format in a Stepwise or Hierarchical Linear Regression. For example, if I only want one variable in the equation in the first model, then I add in one more in the next block, then in the third block I add in a third predictor variable. From what I can tell in JASP 0.9.0.1, you can

[2018-09-19 20:41] 4x1eg commented on #2392
Sorry for the delay in my finding the flatpak ver.
I looked in my Synaptic package management and it says:
0.8.9-0+deb9u1

[2018-09-20 11:17] OscarLecuona opened #2785 "Jasp won't run"
I've been trying to run jasp in windows 10 and it just won't run. This problem started with the 0.9.0.1 version but I downloaded previous ones (0.9 and 0.8.6) and I get the same result. Also tried to run it as admin and reinstalled multiple times. Checking the control panel the process of jasp starts, but then freezes.

Pc specs: Acer aspire 5750g i5 2.5 ghz, windows 10, 8gb RAM, nvidia geforce gt

[2018-09-20 13:04] JorisGoosen commented on #2392
Ah, yeah that probably explains it then. Maybe you can install the newer version from stretch-backports?
(https://packages.debian.org/stretch-backports/flatpak) And then see if that solves the problem.

[2018-09-20 14:40] JorisGoosen commented on #2718
Fixed in  #2787

[2018-09-20 14:40] #2718 closed

[2018-09-21 00:40] haevalencia commented on #2392
About the problem I describe above (not see flatpak applications) seems to be an issue of gtk desktop portal so I will open a report to debug the problem (doesn't affect all users).

[2018-09-21 13:34] boutinb commented on #2785
Hi @OscarLecuona
We have heard about this problem with some users, but we cannot reproduce it in our PC's.
But we would like really much to know what happens on your PC. For this I have made a special JASP engine that logs data.
Can you download it here: https://static.jasp-stats.org/debug/JASPEngine.exe
You need also to download this: https://static.jasp-stats.org/debug/JASP-R-Interface3.0.dll
Yo

[2018-09-21 13:40] boutinb commented on #2777
Duplicate issue: #2392

[2018-09-21 13:40] #2777 closed

[2018-09-23 01:32] TESmith868 commented on #2642
Good day,
I m also interested in the status of the MANOVA, but specifically the Bayesian MANOVA. This forms an essential part of my methodology for my PhD as I have come to appreciate the dont ages of Bayesian and analysis and seek the be the first to apply it in a PhD at my university.
I I’m trying hoping this will be included soon as I really prefer not only your interface but the outputs and th

[2018-09-23 20:32] OscarLecuona commented on #2785
Hi,

Thanks a lot!
I followed the instructions without issues, but no logs showed up, just some plots from past operations I did inside a folder named "3512".

[2018-09-24 08:00] boutinb commented on #2785
Hi @OscarLecuona
I have made a new versoin of JASPEngine.exe and JASP-R-Interface3.0.dll. You can download then with the same link as above. Be sure to copy them in the JASP installation folder. You can check that with the timestamp of the files.
Kind regards,
Bruno

[2018-09-24 13:08] Marian-Popa commented on #2564
A kind remainder about the above comment.
JASP always crash during Network analysis, after more options are added.
Thanks,
Marian

[2018-09-25 07:28] tvantimmeren opened #2792 "Request: duplicate analysis"
I often use a certain set-up for an analysis (e.g. a repeated measures ANOVA, including a covariate, some descriptives plots) that I would like to repeat while only changing a few variables. It would be great if it would be possible to 'duplicate' or copy/paste the whole analysis.

* Enhancement: More efficient
* Purpose: Faster analysis

[2018-09-25 09:44] JorisGoosen commented on #2386
paths are shown correctly and can be accessed through recent files etc

[2018-09-25 09:44] #2386 closed

[2018-09-25 09:46] JorisGoosen opened #2793 "Flatpak: many opened window in one session gives memory leak"
Using flatpak and opening many files in one session, aka leaving at least one JASP window open at all times, leads to an ever accumulating memory leak.

This has something to do with a webengine not closing down well.

[2018-09-25 11:58] vdsmagt opened #2795 "Request: export Bayesian Sequential Analysis plot data"
## Template for enhancement requests

* Enhancement: Export B sequential analysis plot data
* Purpose: Sometimes one would want to combine several bayesian sequential analysis plot into one graph for use in a publication. As it is now, the only way to do this is to explore the graph to an image, use datathief/graphclick/plotdigitizer software to manually recreate the data from the graphs and plot

[2018-09-25 14:11] vdsmagt commented on #1928
I guess this issue can be closed as the output scales and is not pixelated anymore in 9.0.1.

[2018-09-25 16:29] AlexanderLyNL commented on #1928
Thanks for informing us on this.

[2018-09-25 16:29] #1928 closed

[2018-09-26 07:17] vandenman commented on #2726
I had a look at this, and it doesn't seem too difficult (there is already a function to do this, `rstudioapi::viewer()`). However, it doesn't work straight out of the box, so perhaps we should have a quick meeting about this.

[2018-09-26 07:55] JorisGoosen commented on #2793
Most likely caused by: https://bugreports.qt.io/browse/QTBUG-70745

[2018-09-26 14:02] GerineL opened #2799 "Bug Report: JASP 0.9.0.1 If I save a file with many plots, I get empty plots at some point"
* JASP version: 0.9.0.1
* OS name and version: Windows 7 [but idem with Windows 10 at home]
* Problem:
I have a file with approximately 9500 cases for which I want to examine 17 correlation pairs with Prior and Posterior plots, Robustness Check and Sequential Plots (i.e., approx 50 plots).
The problem occurs when I try to export my results to a HTML page.
If everything goes right, the file is abou

[2018-09-27 07:18] GerineL commented on #2683
I am running into the same issue, I don't get an error but the file simply does not get updated. @ViolaPsch , any tips as to where I can download the previous version? Unfortunately, I don't have it installed any more...

[2018-09-27 07:27] AlexanderLyNL commented on #2683
Hi GerineL,

Could you please add the files (as a zip) to this thread, so we can have a look at it?

Cheers,
Alexander

[2018-09-27 07:29] AlexanderLyNL commented on #2799
Hi GerineL,

Could you please add the jasp-file as a zip to this thread so we can have a look at it?

Cheers,
Alexander

[2018-09-27 07:48] GerineL commented on #2799
Unfortunately I can't give you the data because they are not mine and have restricted use, but I can maybe send them to you privately, I have to check with the author of the data. Would that be an option?

[2018-09-27 07:52] GerineL commented on #2683
Unfortunately I can't share the data as they are not mine, but I can try to find a way to send them to you privately if the author is ok with that.

I have now installed the previous version, and it is quite odd:
When I doubleclick the data, the updated file opens in excel (it's a .csv file). But when I run descriptives, I see that it is still the old data (it is quite easy to see as I mistakenly

[2018-09-27 07:57] FransMeerhoff commented on #2594
Solved in 0.9.1

[2018-09-27 07:57] #2594 closed

[2018-09-27 08:52] AlexanderLyNL commented on #2799
That would work for me as well. You can send it to a.ly@jasp-stats.org. Alternatively, you can show it to us whenever you're in Amsterdam.

[2018-09-27 08:59] AlexanderLyNL commented on #2683
Hi GerineL,

The csv file opening in Excel is fine. It seems that auto-sync is either turned off or not working properly. Could you please go to "Preferences" and the "Data Editing" tab and check whether auto-sync is on? If it's off, could you please sync manually as described in the following video?

https://www.youtube.com/watch?v=1dT-iAU9Zuc

Cheers,
Alexander

[2018-09-27 09:09] AlexanderLyNL commented on #2795
This will be eventually be fixed with our general plot/figure solutions.

[2018-09-27 09:13] FransMeerhoff commented on #2792
Yes, very good idea.
We've put it on our backlist.

[2018-09-27 22:50] OscarLecuona commented on #2785
Hi @boutinb
Repeated the process with the new files, still no logs :(

[2018-09-28 15:00] AlexanderLyNL commented on #2776
Hi Tim,

We detected a small bug in our builds and have found a solution. Could you please try our following experimental build and check whether this solves your issues?

https://static.jasp-stats.org/JASP-0.9.1.0.dmg

Please let me know whether it works on your mac.

Cheers,
Alexander

[2018-09-28 15:45] ViolaPsch commented on #2683
Hi GerineL,
this is where you can download previous versions of JASP.
https://jasp-stats.org/previous-versions
Hope you get your problem solved!

[2018-09-28 19:28] kairikeymaster commented on #2061
I'm having this same problem, but I only have one factor.

![image](https://user-images.githubusercontent.com/43684867/46229217-77c14e00-c32a-11e8-8fe1-31937f1ca7d8.png)

The factor has three levels and the post hoc table doesn't seem to be showing the comparison between levels 1 and 3.

Data:

[Levels of Processing Scores - Dummy Coded.xlsx](https://github.com/jasp-stats/jasp-desktop/files/242946

[2018-09-29 15:27] AlexanderLyNL commented on #2061
Hi kairikeymaster,

You can find the comparison between levels 1 and 3 on the second line.

Cheers,
Alexander

[2018-09-30 03:50] saritfriedman opened #2809 "Jasp taskbar is missing"
I’m trying to run some exploratory factor analyses using Jasp – however, it's missing the necessary task bar above that usually shows “file” and the plus sign etc. I have attached a screenshot. Is someone able to help me with this?
Thank you!
![screenshot of jasp](https://user-images.githubusercontent.com/43715127/46253149-d4745400-c463-11e8-8190-8b173793b99f.PNG)

[2018-10-02 06:42] vicenteinefo opened #2812 "Computation of IC95% in descriptive statistics"
* Enhancement: In dispersion statistics section of descriptive statistics analysis, standard error (SE mean) is available but IC95% is not shown
* Purpose:  It would be an excellent teaching resource for undergraduate students.

[2018-10-02 06:46] vicenteinefo opened #2813 "Normality assumptions checks in descriptive statistics"
* Enhancement: To have the one sample normality assumption check and the equality of variance assumption check in descriptive statistics analysis independently of whatever test applied.
* Purpose: As a good teaching resource independently of the test applied.

[2018-10-02 06:50] vicenteinefo opened #2814 "Correlation normality assumptions checks available"
* Enhancement: It would be useful to have the correlation normality assumptions checks available when this statistical index being calculated.
* Purpose: In order to do the whole analysis from the same menu and could select the appropriatte correlation index (parametric or non-parametric) for the analysis of the data

[2018-10-02 06:51] AlexanderLyNL commented on #2814
Do you mean bivariate normality of the data?

[2018-10-02 06:52] AlexanderLyNL commented on #2813
This is already implemented in the relevant analyses.

[2018-10-02 06:53] AlexanderLyNL commented on #2809
Dear saritfriedman,

Could you please add the jasp file as a zip to this thread so we can try to reproduce this?

Cheers,
Alexander

[2018-10-02 06:57] vicenteinefo opened #2815 "IC95% of the mean difference in Post-Hoc tests' ANOVA"
* Enhancement: to add the  IC95% of the mean difference in Post-Hoc tests' ANOVA. The closest thing is in the “Marginal Means” procedure, but exposes the IC95% of each group.
* Purpose: In order to improve the results' interpretation

![image](https://user-images.githubusercontent.com/29978768/46333555-0ed72000-c621-11e8-8897-80913ecf4a1c.png)

![image](https://user-images.githubusercontent.com/29

[2018-10-02 07:34] EJWagenmakers commented on #2812
We've discussed similar issues in the team before. In fact, including the standard error was already putting water in the wine, as it is not a descriptive statistic. But perhaps we can create a different category in the GUI (e.g., under the heading "We said this was descriptives but we're going to give you some inferential information just the same"). This could then have SE and x% CI, both based

[2018-10-02 07:36] EJWagenmakers commented on #2814
This could go under assumption checks -- we can at least check each variate separately.

[2018-10-02 07:38] EJWagenmakers commented on #2813
I think the suggestion was to have it *also* in descriptives. I think we can add a little inference to descriptives (under a separate heading). For instance, qq plots would be nice. Equality of variances goes too far, imo, because that is really specific to an analysis. But examine some basic inferential-like aspects for a single variable (normality, SE, CI [also per bootstrap]) would be nice to i

[2018-10-02 07:42] AlexanderLyNL commented on #2813
The problem relates to duplication of code, output and the cluttering of output. Let's discuss this in person.

[2018-10-02 10:29] lindeloev opened #2817 "Enhancement: Non-zero-centeret prior in correlation"
It would be nice to add informed priors to Bayesian correlation. For example, setting both alpha and beta in a stretched beta distribution. Currently, only zero-centered priors are possible.

Today, I taught Bayesian stats using JASP. It's generally a really nice experience (thanks!), but the question rightly came up how to set priors when positive correlations are expected a priori.

I would also

[2018-10-02 11:02] AlexanderLyNL commented on #2817
I agree with showing priors before posteriors, we have been doing a lot of background work for that. Regarding informed priors to Bayesian correlations, this can be numerically, but not with a (stretched) beta prior. Shifting the centre with a beta prior results in a simultaneous change of the variance. I can decouple this with another prior, but I need to study its properties a bit more. Hence, t

[2018-10-02 11:05] AlexanderLyNL commented on #2817
Thanks for the encouraging words by the way. By other issues I meant the background work to eventually display the priors amongst other things. Let us know how your experience was teaching using JASP and whether there are other features you think are helpful for your course.

[2018-10-02 11:16] vicenteinefo commented on #2814
@AlexanderLyNL Sorry for the late response, yes I mean bivariate normality of the data.

I agree with @EJWagenmaers

[2018-10-02 12:53] lindeloev commented on #2817
Great; I see the issue with the correlation prior and I'm looking forward to the a priori prior plot.

There are so many positive things to say about JASP as compared to SPSS that I don't know where to start, but the uncluttered interface, output, and editing of analyses really hits home. Ease of installation and the demo datasets too.

It's dangerous asking for further ideas and experiences, so p

[2018-10-02 13:54] AlexanderLyNL opened #2820 "Enhancement: ANCOVA"
## Template for enhancement requests

* Enhancement: ANCOVA:
- Provide regression coefficients.
- Show per dummy variable inference
* Purpose: Teaching

[2018-10-02 13:56] AlexanderLyNL commented on #2817
Thanks for your input, I'll discuss this with the team.

[2018-10-02 16:32] mariusbarth commented on #2642
Hi all,
I also just want to say that MANOVA support would be awesome! At our university, our master's students who finish their degree in "applied" (which virtually means "clinical") psychology are still taught to conduct their analyses in SPSS: A lot of them are using MANOVA in their theses, and they are instructed to do so by their supervisors---so they depend on this method, and we would really

[2018-10-02 17:50] fplatz commented on #2776
Hi Alexander,

I have the same problem. When saving an image, JASP calls Quartz four times and crashes. Installing your experimental build did not fix that problem on my machine.  I have installed the latest version of XQuartz. Is there any other solution available? I need my figures for a talk. Otherwise, I have to plot them in R.

Cheers,
Friedrich

[2018-10-03 09:55] AlexanderLyNL commented on #2776
Hi @fplatz and @tvantimmeren,

Here are two new experimental versions. Could you please check whether you can save plots with these builds:

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(32).exe

Cheers,
Alexander

[2018-10-03 09:56] AlexanderLyNL commented on #2564
Dear Marian,

I've tried to run the analysis again and was unable to replicate your issue. Could you please try our experimental build and see if the problem is still there?

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(

[2018-10-03 09:58] AlexanderLyNL commented on #2799
Hi GerineL,

Could you please try to rerun your analyses with our experimental builds and see if the problem persists:

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(32).exe

Cheers,
Alexander

[2018-10-03 10:32] fplatz commented on #2776
Hi @AlexanderLyNL ,

thanks for the build. I tried the MAC-Verison just for a few minutes. Unfortunately, I got the same error message for *.eps, *.pdf *.tiff:
"JASP has experienced an unexpected internal error.

""

If you could report your experiences to the JASP team that would be appreciated.

JASP cannot continue and will now close."

However, the four windows did not appear on my screen, thu

[2018-10-03 10:52] AlexanderLyNL commented on #2776
Hi Friedrich,

Are you using an old jasp file or a new one? If you use an old file, could you please refresh all analyses before saving again? Can you tell me which mac version and which xquartz version you're running?

Cheers,
Alexander

[2018-10-03 12:04] fplatz commented on #2776
Hi Alexander,

you're right. After having refreshed all analyses, I got an *. eps file from my results. It works fine!
JASP is running on a Mac with an actual OS and the latest version of XQuartz.

Thank you for your support!
Cheers,
Friedrich

[2018-10-03 13:21] GerineL commented on #2799
Sorry for my late response, education duties...
Yes, the problem persists.
Can we try something like teamviewer so I don't have to send you the data?
The authors of the data are a bit reluctant, there are also privacy
concerns etc.

Best

Gerine

Op wo 3 okt. 2018 om 11:58 schreef AlexanderLyNL <notifications@github.com>:

[2018-10-03 15:50] AlexanderLyNL commented on #2776
I consider this issue fixed. Please reopen if reappears.

[2018-10-03 15:50] #2776 closed

[2018-10-03 15:55] AlexanderLyNL commented on #2815
Implemented in 0.9.1

[2018-10-03 15:55] #2815 closed

[2018-10-03 19:42] TESmith868 opened #2824 "Bayesian Logistic Regression"
Is there a way to do Bayesian Logistic Regression in JASP?
Or is the most possible currently is to do a normal Logistic Regression and include BIC outputs...

[2018-10-03 20:20] saritfriedman commented on #2809
Do you mean the data set I was using?

On Tue, Oct 2, 2018 at 2:53 AM AlexanderLyNL <notifications@github.com>
wrote:

--
Sarit Friedman
Hofstra University '18
Applied Organizational Psychology, PhD Candidate
e: sfriedman5@pride.hofstra.edu <sf2629@tc.columbia.edu>

[2018-10-03 20:28] akashrajkn commented on #2809
@saritfriedman Could you uninstall JASP and use the pre-installed version available on the [download page](https://jasp-stats.org/download/) (There's a link that says `You can also download a pre-installed version of JASP.`)?

[2018-10-03 20:45] hsorlie opened #2825 "JASP crashes when attempting to open .sav file made with R"
I have a large dataset (tibble) that I work on in R. I subset a smaller version of this (still a tibble) and write a .sav file using the write_sav() function in the Haven package. This .sav opens just fine in SPSS, but if I try to open it with JASP it instantly crashes. This happens both if I right-click the file and choose open with JASP, and if browse to and open it from within JASP. Attaching a

[2018-10-03 21:00] AlexanderLyNL commented on #2825
Hi hsorlie,

Could you please save the tibble as a csv file in R and see if JASP still crashes?

Cheers,
Alexander

[2018-10-03 21:17] hsorlie commented on #2825
Hi! Thanks for getting back quickly. Tried it now. It doesn't crash, but opens jsut fine. Doesn't solve the problem though, since the issue wasn't opening these particular data in JASP but rather having JASP reliably open SPSS-files created with R/Haven. But it does seem to indicate that the problem has to do with the file format and not the data, no?

kind regards,
Henrik

[2018-10-03 23:18] saritfriedman commented on #2809
I tried doing that. A challenge is that I'm trying to install it on my work
laptop and every time I install or uninstall, I need to get administrator
permission. I'm going to try to download the program to my person computer
this evening and see if that works better.

On Wed, Oct 3, 2018 at 4:28 PM akash raj <notifications@github.com> wrote:

--
Sarit Friedman
Hofstra University '18
Applied Organi

[2018-10-04 07:38] AlexanderLyNL commented on #2825
Hi Henrik,

Thanks for checking this out! To double check if JASP has some problems with sav-files created with R/Haven, could you also please
- open the csv-file in SPSS and save it as a sav-file
- open the sav-file in JASP?
If JASP does not crash then it might indeed be that JASP has some problems reading a sav-file created with R/Haven. Can you please tell me why it's natural to distribute R da

[2018-10-07 21:28] hsorlie commented on #2825
Hi! Sorry it took me so long to get back on this. Ok, I saved the same dataset to sample.sav (using Haven) and sample.csv (using write.csv2 from utils). sample.csv opens fine on JASP, while sample.sav immediately crashes it, like before. sample.sav opens fine in SPSS, also like before.

I then opened sample.csv in SPSS and saved it as a new file, sample2.sav, without changing any of its contents.

[2018-10-08 00:15] jrf1111 opened #2836 "Feature request: add F-tests to summary stats"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-10-08 00:32] jrf1111 opened #2837 "Feature request: add "pause updating" button"
* Enhancement: add a button that will (temporarily) prevent JASP from updating its calculations
* Purpose: often I have to add several variables to a model, add interaction effects, or make several changes to the settings.  Everytime I make a single change, JASP recalculates the tests, which can use a lot of my CPU.  For example, if I want to change both the location and scale of a prior, JASP rer

[2018-10-08 19:51] asribar opened #2839 "Unable to export plots to PDF or EPS"
* JASP version: 0.9.0.1
* OS name and version: MacOS High Sierra
* Analysis: any plot - RM ANOVA, descriptive plots
* Steps to reproduce: export to PDF or EPS... 4 additional "Quartz2" windows will open and  sometimes will display the output, sometimes will not. However those windows cannot be closed, only if main JASP window is closed - otherwise they are labeled by OS as not responding.

I could

[2018-10-08 20:33] AlexanderLyNL commented on #2839
Hi @asribar,

This is solved in our newest version. In the meantime, please use our experimental builds please:

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(32).exe

Please refresh before saving.

Cheers,

[2018-10-08 20:33] #2839 closed

[2018-10-09 06:25] vicenteinefo opened #2840 "Bug report: Repeated measures' descriptive plot not well plotted?"
* JASP version: 0.9 jun 15 2018
* OS name and version: Windows 7 professional and also with MacOS 10.11.6 El Capitan
* Analysis: Repeated measures ANOVA
* Steps to reproduce: It could be possible that the descriptive plot displaying error bars is not well plotted? The same “bug” seems to occurs when either “Confidence interval” or “Standard error” is selected. See moment 2 data.

I have attached t

[2018-10-09 12:45] JohnnyDoorn commented on #2840
Hi Vicenteinefo,
Can you tell me how you calculated your column labeled IC? Because there are several ways to compute these. In JASP we use a correction factor for confidence intervals for within subjects factors based on Morey (2008): http://pcl.missouri.edu/sites/default/files/morey.2008.pdf
This correction factor is equal to m / (m-1), where m is the number of within subjects levels.
Kind regar

[2018-10-09 16:01] vicenteinefo commented on #2840
Hi @JohnnyDoorn,
I have calculated the CI using the excel formula CONFIDENCE.NORM.
I have also computed the CI using SPSS and returns the same result (attached screenshot)
I did not know the reference you added.
Maybe I am interpreting something wrong but, how It could be possible such a small CI in "Momento 2"? In fact, it has almost the same SD
Kind regards,
Vicente

![captura de pantalla 2018-1

[2018-10-09 16:42] JohnnyDoorn commented on #2840
Hi Vicente,
Yes, in within subjects designs this can be problematic because these methods do not distinguish between between subjects variability and within subjects variability. In order to get more accurate confidence intervals for within subjects factors, a common way to do this is by normalizing the data first, by subtracting each subjects' mean from their observations, and then adding the gra

[2018-10-09 18:03] AlexanderLyNL commented on #2840
I consider this fixed. Please reopen if issue reappears.

[2018-10-09 18:03] #2840 closed

[2018-10-09 18:03] AlexanderLyNL commented on #2799
Hi Gerine,

Is this also the case after you refresh the analyses?

Cheers,
Alexander

[2018-10-09 18:08] AlexanderLyNL commented on #2809
Hi saritfriedman,

Can you save the JASP file by using the shortcut ctrl-s and add the file as a zip to this thread so we can look into this?

Cheers,
Alexander

[2018-10-09 18:17] AlexanderLyNL commented on #2837
Hi jrf1111,

This is a good suggestion. We're working on some structural changes that will address this issue.

Cheers,
Alexander

[2018-10-09 19:45] hsorlie commented on #2825
No problem! Glad if its any help. Keep up the fantastic work you're doing on JASP!

-h.

[2018-10-09 19:56] hsorlie commented on #2783
I miss this functionality too. Having a maximum of two blocks in a hierarchical regression is not a deal breaker, but a bit of a let-down. Also, I know you guys aren't big fans of Jamovi, but their model builder feature to solve this is a neat implementation.

[2018-10-10 07:44] luckyluuuk opened #2843 "Bugs in Plotting Correlation Matrix"
Jasp 0.9.0.1
Windows 10

I try to plot a correlation matrix and this error pops up:
![grafik](https://user-images.githubusercontent.com/44018396/46720326-884dbe80-cc70-11e8-9bf0-3c95a0bf7f91.png)

What are 'ylim' values?
What is the problem?

I am thankful for every information.
Cheers
Lukas

[2018-10-10 11:31] lisonfanuel opened #2845 "bug report : simple main effect analysis in repeated ANOVA terminated unexpectedly"
Hi,

* JASP version:  0.9.0.1
* OS name and version: windows 10 64 bits
* Analysis: repeated measure ANOVA
* Steps to reproduce:
I was trying to compute simple main effects for a three way ANOVA (3 factors, 2 levels each) and the following message appeared :

"""
This analysis terminated unexpectedly.

Error in `[.data.frame`(x, r, vars, drop = drop): undefined columns selected

Stack trace
analys

[2018-10-10 11:55] lisonfanuel commented on #2845
I eventually found out what the problem was: two columns containing the exact same values. Sorry for asking questions and answering them right after, but hope this could help in the future.
Best,
Lison

[2018-10-10 11:56] #2845 closed

[2018-10-10 16:11] mcbeem opened #2846 "JASP crashes immediately upon opening on Mac"
## Template for bug reports

* JASP version: 0.9.0.1
* OS name and version: OS X Yosemite 10.10.5
* Analysis: Opening program
* Steps to reproduce: JASP crashes immediately. The "problem details" tab reveals an Exception Type of "EXC_CRASH (Code Signature Invalid)"

## Template for enhancement requests

* Enhancement:
* Purpose:

![img_6995](https://user-images.githubusercontent.com/19533253/46750

[2018-10-10 16:12] mcbeem commented on #2846
Sorry about the image rotation in the previews. When I click on them, they appear in the proper orientation.

[2018-10-10 16:36] FransMeerhoff commented on #2846
Hello @mcbeem

Could you try the following installation version (It's on the 'here' hyperlink beneath the Mac downloads button referring to older version of Mac OS):

https://jasp-stats.org/thank-you-3/

Probably this will solve your problem.

Kind regards
Frans Meerhoff

[2018-10-10 19:06] AlexanderLyNL commented on #2843
Hi Lukas,

Can you please add the jasp file to this thread in a zip?

Cheers,
Alexander

[2018-10-10 20:54] AlexanderLyNL commented on #2845
Hi lisonfanuel,

Thanks for figuring this out and making us aware of this.

Cheers,
Alexander

[2018-10-10 21:48] AlexanderLyNL commented on #2837
I close this, because we do this implicitly already.

[2018-10-10 21:48] #2837 closed

[2018-10-10 21:49] AlexanderLyNL commented on #2754
This will eventually be fixed.

[2018-10-10 21:49] #2754 closed

[2018-10-10 21:55] AlexanderLyNL commented on #2748
I tried this in debug.
- Open example file
- Double clicked the data file (no csv file)
- Generated a asdf.csv in my download folder (not in the "Frequencies" folder)

and noted that the process hangs on the line that starts with

"if (f.open(QFile::ReadOnly)) {"

in "asyncloader.cpp", that is,

QString AsyncLoader::fileChecksum(const QString &fileName, QCryptographicHash::Algorithm hashAlgorithm)

[2018-10-10 21:59] AlexanderLyNL commented on #2721
I'm not sure whether copying data from JASP to an editor is relevant anymore, because we can access the data by double clicking it. The second one could be created with compute column, but why not just copy and paste this in your preferred editor and save the data file?

[2018-10-10 22:01] AlexanderLyNL commented on #2748
memory allocation problem I presume:

2018-10-10 23:51:24.709853+0200 JASP[73376:3968784] [default] [ERROR] Failed getting container for URL: file:///Users/AlexLy/Desktop/JASP/Resources/Data%20Sets/Data%20Library/5.%20Frequencies/, error: Error Domain=BRCloudDocsErrorDomain Code=2 "Logged out - iCloud Drive is not configured" UserInfo={NSDescription=Logged out - iCloud Drive is not configured}
dat

[2018-10-10 22:05] AlexanderLyNL commented on #2720
@JohnnyDoorn I noticed that the between-subjects factor has only two levels, is this where it goes wrong?

[2018-10-10 22:13] AlexanderLyNL commented on #2649
PR #2801

[2018-10-10 22:13] #2649 closed

[2018-10-10 22:14] AlexanderLyNL commented on #2673
Hi @hackerbiotic,

Could you please try one of our experimental builds please:

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(32).exe

Please let me know how this works out for.

Cheers,
Alexander

[2018-10-10 22:18] AlexanderLyNL commented on #2660
Hi @luketudge,

Thanks for reporting this. I've ran this on my mac and everything seems to be fine. Currently, we're on R 3.4.4. @JohnnyDoorn can you tell me which version of the packages you're running?

Cheers,
Alexander

[2018-10-10 22:21] AlexanderLyNL commented on #2592
I could not reproduce this error. This seems to be fixed. Please reopen if the issue reappears.

[2018-10-10 22:21] #2592 closed

[2018-10-10 22:28] AlexanderLyNL commented on #2512
@JASPUSER09990 and @leaesthetics This issue should be fixed. Could you please try one of our experimental builds?

Mac:
https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Windows:
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(64).exe
https://static.jasp-stats.org/JASP-0.9.1.0-Setup-Nightly-03-10-2018(32).exe

Please refresh before saving.

Cheers,
Alexander

[2018-10-10 22:31] #2396 closed

[2018-10-10 22:33] AlexanderLyNL commented on #2373
This should be fixed now. Please reopen if the issue reappears.

[2018-10-10 22:33] #2373 closed

[2018-10-11 03:08] JASPUSER09990 commented on #2512
@AlexanderLyNL Dear Alexander, I have just tried the latest version using the BigFiveInventory.csv. The problem still exists. Please check it using the following steps:

1. Load BigFiveInventory.csv
2. Open Network windows
3. Drag A1-O5 to DV box
4. Click "Network plot" under Plots
5. Select gender variable to 'Split by' box

Then, you will see this information:
![20181011125931](https://user-imag

[2018-10-11 06:39] AlexanderLyNL commented on #2512
Hi @JASPUSER09990,

I cannot reproduce this on my workstation. In addition, I can also save the plot as a pdf. Can you tell me whether you have admin access on your workstation? Once we have a preinstalled version of JASP-0.9.1.0-Setup-Nightly-03-10-2018(64), I'll send you another link, and hopefully that'll fix it.

Cheers,
Alexander

[2018-10-11 06:48] JASPUSER09990 commented on #2512
@AlexanderLyNL I have admin access on this PC. I just re-performed the steps using right click 'run as admin". The result is the same.
If I run step 1-4, and save the plot as pdf, then the same error inf. appears. However, If I reduce the number of var in step 3 (e.g., A1-C4), I can save the plot as pdf.
Thanks.

[2018-10-11 08:51] AlexanderLyNL commented on #2721
Perhaps it's good to export it upon request, otherwise, we'll have quite some write actions. All in all, this seems to be easily doable once we decided.

[2018-10-11 08:51] AlexanderLyNL commented on #2836
This is great suggestion.

[2018-10-11 10:01] luketudge commented on #2660
A newer version of afex in R (0.21-2) fixes the bug. But I still have it in JASP (version 0.9.0.1).

[2018-10-11 11:21] JorisGoosen commented on #2721
As in, add an extra option somewhere? Maybe we could add an extra option to the double click on the data?

Or you mean as in: somebody wants to access this data and then we add the feature? Might be nice to anticipate this.

[2018-10-11 11:55] AlexanderLyNL commented on #2721
By request, I mean when the user wants to save the data. For instance, using export data in the file menu What do you think about that? The thing that worries me is the dependency and whether a computed column should change after we exported it.

[2018-10-11 12:13] JohnnyDoorn commented on #2720
Hi Salt54J,
I just looked into this, and it seems like there is an error whenever there are more within subject factor levels than observations - in your case you have 15 observations, but specify 16 levels, removing a level does give you the sphericity test.
When running the analysis in R, the warning message is:
"In summary.Anova.mlm(object$Anova, multivariate = FALSE) :
  Singular error SSP mat

[2018-10-11 14:36] JorisGoosen commented on #2721
Aah, i had missed that option. Yeah, that would be a good place to actually export the data yeah.

Why would it have to change after exporting it though? I assume nothing in the data would be changed through the action of exporting?

[2018-10-11 16:04] #742 closed

[2018-10-11 16:06] #848 closed

[2018-10-11 16:17] #865 closed

[2018-10-11 16:31] ArielGoldstein commented on #575
is it exists?

[2018-10-11 17:01] #1062 closed

[2018-10-11 17:02] AlexanderLyNL commented on #575
Hi Ariel,

Yes, we have analyses that you can split-by with factors. If there's one that's missing and necessary, please open a new thread.

Cheers,
Alexander

[2018-10-11 17:45] #720 closed

[2018-10-11 17:46] #671 closed

[2018-10-11 17:47] AlexanderLyNL commented on #971
0.9.1

[2018-10-11 17:47] #971 closed

[2018-10-11 17:47] AlexanderLyNL commented on #1004
Filter

[2018-10-11 17:47] #1004 closed

[2018-10-11 17:48] #1009 closed

[2018-10-11 17:48] AlexanderLyNL commented on #1082
Added

[2018-10-11 17:48] #1082 closed

[2018-10-11 17:49] #1105 closed

[2018-10-11 17:50] AlexanderLyNL commented on #1115
Multinomial added

[2018-10-11 17:50] #1115 closed

[2018-10-11 17:50] AlexanderLyNL commented on #1152
https://jasp-stats.org/download/

[2018-10-11 17:50] #1152 closed

[2018-10-11 17:51] AlexanderLyNL commented on #1182
data sets need headers to work with

[2018-10-11 17:51] #1182 closed

[2018-10-11 17:51] AlexanderLyNL commented on #1187
https://jasp-stats.org/download/

[2018-10-11 17:51] #1187 closed

[2018-10-11 17:51] AlexanderLyNL commented on #1198
https://jasp-stats.org/download/

[2018-10-11 17:51] #1198 closed

[2018-10-11 17:52] AlexanderLyNL commented on #1205
https://jasp-stats.org/download/

[2018-10-11 17:52] #1205 closed

[2018-10-11 17:52] AlexanderLyNL commented on #1218
Done

[2018-10-11 17:52] #1218 closed

[2018-10-11 17:54] AlexanderLyNL commented on #1220
This is a continued effort that we address on a daily basis.

[2018-10-11 17:54] #1220 closed

[2018-10-11 17:56] AlexanderLyNL commented on #1376
I assume that this is fixed now. Open a new issue if this reappears

[2018-10-11 17:56] #1376 closed

[2018-10-11 18:15] AlexanderLyNL commented on #1392
Should be fixed by now.

[2018-10-11 18:15] #1392 closed

[2018-10-11 18:15] #1432 closed

[2018-10-11 18:16] AlexanderLyNL commented on #1448
I think that this is fixed now.

[2018-10-11 18:16] #1448 closed

[2018-10-11 18:17] AlexanderLyNL commented on #1440
This should have been fixed now. If not please open a new issue.

[2018-10-11 18:17] #1440 closed

[2018-10-11 18:17] AlexanderLyNL commented on #1448
I think that this is fixed now.

[2018-10-11 18:21] AlexanderLyNL commented on #1480
See flatpack instructions

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 18:21] #1480 closed

[2018-10-11 18:21] AlexanderLyNL commented on #1475
See flatpack

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 18:21] #1475 closed

[2018-10-11 18:21] AlexanderLyNL commented on #1473
See flatpack

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 18:21] #1473 closed

[2018-10-11 18:21] AlexanderLyNL commented on #1472
See flatpack

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 18:21] #1472 closed

[2018-10-11 18:22] AlexanderLyNL commented on #1511
See flatpack

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 18:22] #1511 closed

[2018-10-11 18:22] AlexanderLyNL commented on #1510
I considered this fixed. Please reopen if things aren't clear.

[2018-10-11 18:39] AlexanderLyNL commented on #1483
Sync data and compute column implemented

https://jasp-stats.org/download/

[2018-10-11 18:39] #1483 closed

[2018-10-11 18:42] AlexanderLyNL commented on #1606
Kendall's tau, Spearman rho all implemented. A Bayesian version of Spearman is almost done, Bayesian Kendall's tau already implemented.

[2018-10-11 18:42] #1606 closed

[2018-10-11 18:45] AlexanderLyNL commented on #1699
Fixed

https://jasp-stats.org/download/

[2018-10-11 18:45] #1699 closed

[2018-10-11 18:46] AlexanderLyNL commented on #1724
Compute column implemented

https://jasp-stats.org/download/

[2018-10-11 18:46] #1724 closed

[2018-10-11 18:47] AlexanderLyNL commented on #1746
Can be done using syncing

[2018-10-11 18:47] #1746 closed

[2018-10-11 18:48] AlexanderLyNL commented on #1749
Can be done with compute column

https://jasp-stats.org/download/

[2018-10-11 18:48] #1749 closed

[2018-10-11 18:52] AlexanderLyNL commented on #1816
This problem should be fixed with our new builds:

https://jasp-stats.org/download/

Please open a new issue if the problem reappears.

[2018-10-11 18:52] #1816 closed

[2018-10-11 18:53] AlexanderLyNL commented on #1830
This problem should be in the newest version

https://jasp-stats.org/download/

Please open a new issue if the problem occurs.

[2018-10-11 18:53] #1830 closed

[2018-10-11 18:56] AlexanderLyNL commented on #1859
Implemented 0.9.1

http://jasp-stats.org/download/

[2018-10-11 18:56] #1859 closed

[2018-10-11 18:57] AlexanderLyNL commented on #1871
Tukey correction for post hoc tests in ANOVA implemented

http://jasp-stats.org/download/

[2018-10-11 18:57] #1871 closed

[2018-10-11 19:00] AlexanderLyNL commented on #1890
Consistency between R, SPSS and JASP fixed

[2018-10-11 19:00] #1890 closed

[2018-10-11 19:06] AlexanderLyNL commented on #1933
This is fixed for both the paired t-test and correlation.

[2018-10-11 19:06] #1933 closed

[2018-10-11 19:07] AlexanderLyNL commented on #1943
Fixed

[2018-10-11 19:07] #1943 closed

[2018-10-11 19:08] AlexanderLyNL commented on #1956
Can be done with compute column

http://jasp-stats.org/download/

[2018-10-11 19:08] #1956 closed

[2018-10-11 19:09] AlexanderLyNL commented on #1975
Fixed in 0.9.1

http://jasp-stats.org/download/

[2018-10-11 19:09] #1975 closed

[2018-10-11 19:09] AlexanderLyNL commented on #1982
Fixed in 0.9.1

http://jasp-stats.org/download/

[2018-10-11 19:09] #1982 closed

[2018-10-11 19:11] AlexanderLyNL commented on #2013
This should have been fixed by now. Please open a new issue if the problem occurs.

[2018-10-11 19:11] #2013 closed

[2018-10-11 19:11] AlexanderLyNL commented on #2016
This should be fixed by now with flatpak

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 19:11] #2016 closed

[2018-10-11 19:12] AlexanderLyNL commented on #2035
Planned contrasts implemented.

[2018-10-11 19:12] #2035 closed

[2018-10-11 19:13] AlexanderLyNL commented on #2082
Fixed

[2018-10-11 19:13] #2082 closed

[2018-10-11 19:14] AlexanderLyNL commented on #2084
Done

[2018-10-11 19:14] #2084 closed

[2018-10-11 19:18] AlexanderLyNL commented on #2141
Can be done with filtering

https://jasp-stats.org/download/

[2018-10-11 19:18] #2141 closed

[2018-10-11 19:18] AlexanderLyNL commented on #2141
https://jasp-stats.org/2018/06/27/how-to-filter-your-data-in-jasp/

[2018-10-11 19:19] AlexanderLyNL commented on #1795
This seems to be fixed. Open a new issue if the problem reappears.

[2018-10-11 19:19] #1795 closed

[2018-10-11 19:20] AlexanderLyNL commented on #2142
@Kucharssim Can you do your magic for the two-sample t-test and the paired one as well please?

[2018-10-11 19:22] AlexanderLyNL commented on #2152
Fixed, see gif

https://jasp-stats.org/wp-content/uploads/2017/10/NAplacement.gif

[2018-10-11 19:22] #2152 closed

[2018-10-11 19:32] AlexanderLyNL commented on #2268
Compute column and filtering does the job:

https://jasp-stats.org/download/

[2018-10-11 19:32] #2268 closed

[2018-10-11 19:33] AlexanderLyNL commented on #2272
This should be fixed now. Please reopen if the problem resurfaces.

[2018-10-11 19:33] #2272 closed

[2018-10-11 19:34] AlexanderLyNL commented on #2275
I think that we fixed this.

[2018-10-11 19:34] #2275 closed

[2018-10-11 19:34] AlexanderLyNL commented on #2332
Done

[2018-10-11 19:34] #2332 closed

[2018-10-11 19:35] #2352 closed

[2018-10-11 19:36] AlexanderLyNL commented on #2392
This is fixed isn't? Please reopen if this problem resurfaces with the new flatpak version:

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 19:36] #2392 closed

[2018-10-11 19:38] AlexanderLyNL commented on #2209
I close this for the moment. Bruno's work around suggests that there's something wrong with the csv file. We should keep in mind that date can be worrying. Please reopen if the problem reappears.

<img width="1312" alt="screen shot 2018-10-11 at 21 36 44" src="https://user-images.githubusercontent.com/10271675/46829327-c7c5f900-cd9d-11e8-85b9-8f1b59936790.png">

[2018-10-11 19:38] #2209 closed

[2018-10-11 19:42] AlexanderLyNL commented on #2404
No icons shown in marginal plots. There is something wrong here though. When I try to rerun the JASP file in 0.9.1 there seems to be some problems.

[2018-10-11 19:43] AlexanderLyNL commented on #931
Implemented

[2018-10-11 19:43] #931 closed

[2018-10-11 19:45] AlexanderLyNL commented on #2430
Fix

[2018-10-11 19:45] #2430 closed

[2018-10-11 19:50] AlexanderLyNL commented on #2432
I just tried this with 0.9.1 and everything seems to work fine. Please reopen if this is not the case for you.

[LooksOrPersonality.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/2470477/LooksOrPersonality.jasp.zip)

[2018-10-11 19:50] #2432 closed

[2018-10-11 19:51] AlexanderLyNL commented on #2445
Hi @Crom60

Could you please try our newest version:

https://jasp-stats.org/download/

Hope that this fixes your issues.

Cheers,
Alexander

[2018-10-11 19:51] TomasAPalma commented on #2035
Yes, just saw it. Great news!
Keep going with the fantastic work!

AlexanderLyNL <notifications@github.com> escreveu no dia quinta, 11/10/2018
à(s) 20:12:

[2018-10-11 19:52] AlexanderLyNL commented on #2440
This should be fixed in our newest version:

https://jasp-stats.org/download/

Please reopen if this is not the case.

[2018-10-11 19:52] #2440 closed

[2018-10-11 20:02] AlexanderLyNL commented on #2447
Hi milenra,

We fixed this. On windows, the result can be resized as follows:
- Increase size: ctrl +
- Decrease size: ctrl -
- Back to default: ctrl =

On mac, the results are resized using cmd instead of ctrl. Please reopen this issue if this doesn't fix your problem.

Cheers,
Alexander

[2018-10-11 20:02] #2447 closed

[2018-10-11 20:04] AlexanderLyNL commented on #2480
This should be fixed when we incorporated the versions of the packages into the flatpak build. Please reopen if the problem reappears.

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 20:04] #2480 closed

[2018-10-11 20:05] AlexanderLyNL commented on #2518
This should have been fixed in 0.9.1. If not please reopen.

[2018-10-11 20:05] #2518 closed

[2018-10-11 20:06] AlexanderLyNL commented on #2522
Today

https://jasp-stats.org/2018/10/11/announcing-jasp-version-0-9-1-now-with-compute-columns/

Please let me know how this works out for you. Please reopen if the problem resurfaces.

[2018-10-11 20:06] #2522 closed

[2018-10-11 20:08] AlexanderLyNL commented on #2524
This should be fixed with our new flatpak build. If not, please reopen.

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 20:08] #2524 closed

[2018-10-11 20:27] AlexanderLyNL commented on #2674
Not that I intend to open this issue, unless it reappears.

[2018-10-11 20:31] AlexanderLyNL commented on #1690
This should be solved now with our flatpak solution:

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 20:31] #1690 closed

[2018-10-11 20:54] AlexanderLyNL commented on #1375
Flatpak should solve this

https://jasp-stats.org/linux-installation-guide/

[2018-10-11 20:54] #1375 closed

[2018-10-11 20:57] AlexanderLyNL commented on #1021
Fixed using filter:

https://jasp-stats.org/2018/06/27/how-to-filter-your-data-in-jasp/

[2018-10-11 20:57] #1021 closed

[2018-10-11 20:59] AlexanderLyNL commented on #1081
This should have been fixed by now.

[2018-10-11 20:59] #1081 closed

[2018-10-11 21:02] AlexanderLyNL commented on #1422
sav files readable in JASP now. Please open a new thread if the problem resurfaces.

[2018-10-11 21:02] #1422 closed

[2018-10-11 21:10] R180 commented on #1081
I was told that it's by-design, so that each error bar isn't obscured by
another error bar.

On Thu, Oct 11, 2018, 4:59 PM AlexanderLyNL <notifications@github.com>
wrote:

[2018-10-11 21:12] AlexanderLyNL commented on #1842
Duplicate

[2018-10-11 21:12] #1842 closed

[2018-10-11 21:13] AlexanderLyNL commented on #1856
This should have been fixed in our newest version. Please reopen if the problem reappears.

[2018-10-11 21:13] #1856 closed

[2018-10-11 21:16] AlexanderLyNL commented on #1394
Duplicate of #1926

[2018-10-11 21:16] #1394 closed

[2018-10-11 21:27] TomasAPalma commented on #2035
Did you implement planned contrasts in this last update? Maybe I'm missing
something, but I can't find it.

Thanks!

Tomás Palma <t.a.palma@gmail.com> escreveu no dia quinta, 11/10/2018 à(s)
20:51:

[2018-10-11 21:32] AlexanderLyNL commented on #2035
Hi Tomas,

You can find it under the contrast tab. Here's an example from our Data Library  - ANOVA - Facebook Friends

<img width="1312" alt="screen shot 2018-10-11 at 23 31 18" src="https://user-images.githubusercontent.com/10271675/46835232-d61c1100-cdad-11e8-88e0-a7f7854e8828.png">

[2018-10-11 21:33] AlexanderLyNL commented on #2546
Fixed in 0.9.1.

[2018-10-11 21:33] #2546 closed

[2018-10-11 21:40] AlexanderLyNL commented on #2673
Even better, please try our new version:

https://jasp-stats.org/2018/10/11/announcing-jasp-version-0-9-1-now-with-compute-columns/

[2018-10-11 21:41] AlexanderLyNL commented on #2679
This is fixed in our newest version (please refresh the analysis). Please reopen if the issue resurfaces.

[2018-10-11 21:41] #2679 closed

[2018-10-11 21:42] #2699 closed

[2018-10-11 21:43] AlexanderLyNL commented on #2715
I think that this is solved in the newest version. Please reopen if this is not the case.

[2018-10-11 21:43] #2715 closed

[2018-10-11 21:48] Crom60 commented on #2445
@AlexanderLyNL

I tried and JASP still crashes every time I go to browse for a file within JASP. Windows is up to date. Now using the latest JASP version (after completely uninstalling and reinstalling the latest version).

While I have access to other statistical software, I teach research statistics and would love to use a platform that students can actually afford (other than R, for those witho

[2018-10-11 22:39] mvgorcum commented on #2432
I just tested it and indeed the error is gone. Thanks for looking in to it.

[2018-10-12 07:39] AlexanderLyNL commented on #2035
Hi Hello44,

Specifying custom contrasts is not yet possible. We'll implement that later.

Cheers,
Alexander

[2018-10-12 07:59] DrMarkGS opened #2847 "Compute data function"
I like the new compute data feature in JASP 9.1. However, would it be possible to add a log10 or e function to the manual selection?
Cheers
Mark
* Enhancement:

[2018-10-12 08:15] AlexanderLyNL commented on #2847
Hi DrMarkGS,

You can find both functions at the bottom on the right-hand side, see screenshot

<img width="1312" alt="screen shot 2018-10-12 at 10 14 05" src="https://user-images.githubusercontent.com/10271675/46856746-94b84f80-ce07-11e8-8231-092ffe9c120e.png">

The text in the box appears when you leave your mouse over the function. Please reopen this issue if you can't find the functions.

Chee

[2018-10-12 08:15] #2847 closed

[2018-10-12 08:54] TomasAPalma commented on #2035
Okay, I see. However, I was also looking for custom contrasts. Hope it will be implemented soon.

Best,
Tomás

Enviado do meu iPhone

No dia 12/10/2018, às 08:39, AlexanderLyNL <notifications@github.com> escreveu:

[2018-10-12 08:56] DrMarkGS commented on #2847
Hi Alexander
Sorry was having a Friday morning stupid moment – it wasn’t obvious that the functions scrolled down

Mark

Dr Mark Goss-Sampson
Associate Professor
Senior Fellow HEA

University of Greenwich
Centre for Medicine and Science in Sport
Sparrow Farm, Sparrow Lane
New Eltham SE9 2BT
Map<https://www.google.co.uk/maps/place/ATM+(Uni+Greenwich+-+Sparrow+Farm)/@51.4428811,0.0719708,16.79z/data

[2018-10-12 09:31] AlexanderLyNL commented on #2847
Hi Mark,

Thanks for the feedback. I'll move the functions up the list.

Cheers,
Alexander

[2018-10-12 09:41] AlexanderLyNL commented on #2721
I was more worried about manipulations after we export the data. For instance, if the computed column is

  asdf = firstColumn - mean(firstColumn)

and the data are exported. Then after exporting, firstColumn changes, do we want asdf to change? If so, we then have to somehow tell JASP that asdf is a computed column. On the other hand, if someone just grabs the csv and then changes firstColumn, asd

[2018-10-12 11:10] JorisGoosen commented on #2721
well, if you export the data that means that you just get a csv with the data.
If they want to save the fact that it is a computed column then they should save it as a .jasp file right?

[2018-10-12 11:17] EJWagenmakers opened #2850 "Descriptive Plots Gone Wrong in 0.9.1"
@koenderks @vandenman @AlexanderLyNL

Take the Adam Sandler data set, go to Descriptives, and select Correlation Plot. The old version looked pretty, the new version is not usable. This is a high-priority issue, as far as I'm concerned.
![correlationplotadamsandlerold](https://user-images.githubusercontent.com/8603015/46866245-e3261800-ce20-11e8-8b01-08baa979a24f.png)
![correlationplotadamsandlern

[2018-10-12 11:46] lindeloev commented on #2850
This is what it looks like with two continuous variables and a nominal one. It cuts the right edge of the plot a bit too early and the plotted error/info also extends beyond the borders.

Windows10 with JASP 9.1 on 1920 x 1080 resolution.

![image](https://user-images.githubusercontent.com/1439417/46867323-ea4f2500-ce24-11e8-8cb5-0220e3a4bddc.png)

[2018-10-12 12:03] AlexanderLyNL commented on #2850
We're struggling with this plot a bit. A suboptimal solution now is to use the correlation plot under linear regression - correlation instead. Nonetheless, I'll discuss this with the relevant people.

[2018-10-12 12:08] AlexanderLyNL commented on #2721
Yes that sounds reasonable.

[2018-10-12 13:37] yuttin1i2o opened #2852 "Header with slash confuses JASP. Error message "object 'XSg' not found""
## Template for bug reports

When I set J/N data as Factors, then error message "object 'XSg' not found" appears.

Here is the file:
[181012_JASP.xlsx](https://github.com/jasp-stats/jasp-desktop/files/2473260/181012_JASP.xlsx)

* JASP version: 0.9.1.0
* OS name and version: Windows 10 Home
* Analysis: Meta Analysis
* Steps to reproduce:
![image](https://user-images.githubusercontent.com/44092454/4

[2018-10-12 13:40] AlexanderLyNL commented on #2852
Hi yuttin1i2o,

Could you please add the jasp file as a zip to this thread? Then we can look into this.

Cheers,
Alexander

[2018-10-12 13:41] yuttin1i2o commented on #2852
[181012_JASP.zip](https://github.com/jasp-stats/jasp-desktop/files/2473266/181012_JASP.zip)
Thank you.

[2018-10-12 13:51] AlexanderLyNL commented on #2852
It seems that the header J/N confuses JASP and I'm able to run the analysis when I change J/N to "Yes". Is this also the case for you?

[2018-10-12 13:58] yuttin1i2o commented on #2852
Thank you. Yes, it was the case.

[2018-10-12 13:58] yuttin1i2o commented on #2852
I will close this issue.

[2018-10-12 14:00] AlexanderLyNL commented on #2852
@boutinb when you have the time, could you please have a look at this? The header "J/N" confuses JASP

[2018-10-12 14:19] yuttin1i2o opened #2853 "Error in parse(text = x, keep.source = FALSE): :1:18: unexpected symbol"
## Template for bug reports

When I set "Placebo group HbA1c" as covariate, then I see this error message.
Similar error appears when I set "HbA1c baseline (NGSP)" as covariate.

[181012_JASP.zip](https://github.com/jasp-stats/jasp-desktop/files/2473404/181012_JASP.zip)

* JASP version: 0.9.1.0
* OS name and version: WIndows 10 Home
* Analysis: Meta Analysis
* Steps to reproduce:
![image](https://

[2018-10-12 14:38] AlexanderLyNL commented on #2853
Hi yuttin1i2o,

The problem can be solved by removing the spaces, that is, changing the header to PlaceboGroupHbA1cChange. For some reason the meta-analysis is implemented differently then our other analyses and therefore not robust to special characters. Sorry about this. I'll make sure this gets addressed. Can you confirm that the analysis runs smoothly, if you remove the spaces in the header?

[2018-10-12 14:51] yuttin1i2o commented on #2853
Thank you so much. Yes, it solved the problem.

[2018-10-12 14:51] #2853 closed

[2018-10-14 14:51] luckyluuuk commented on #2843
Hi Alexander,
thank you for the answer. I realized, the problem doesn´t occure, when i only open one file.

So i am good.

Cheers,
Lukas

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

________________________________
Von: AlexanderLyNL <notifications@github.com>
Gesendet: Wednesday, October 10, 2018 9:06:35 PM
An: jasp-stats/jasp-desktop
Cc: luckyluuuk; Author
B

[2018-10-14 15:11] AlexanderLyNL commented on #2843
I consider this solved then. Please reopen if the problem resurfaces.

[2018-10-14 15:11] #2843 closed

[2018-10-15 13:05] SvenHeimbuch opened #2854 "No more plots in Descriptive Statistics"
## Template for bug reports
[code]
[startrek.zip](https://github.com/jasp-stats/jasp-desktop/files/2478806/startrek.zip)

* JASP version: 0.9.0.1 (flatpak)
* OS name and version: Arch Linux
* Analysis: Descriptive Statistics
* Steps to reproduce: Selecting any metric variable and trying to create any plot (distribution, correlation, boxplot). Plots from other analysis work, e.g. t-Tests, ANOVA.

[2018-10-15 13:38] AlexanderLyNL commented on #2854
Dear SvenHeimbuch,

We just recently updated the flatpak build to 0.9.1, which should fix this issue:

https://jasp-stats.org/linux-installation-guide/

Could you try this example with the new flatpak build? I tried this on my mac and the plots work fine for me.

Cheers,
Alexander

[2018-10-15 13:59] akashrajkn commented on #2854
@AlexanderLyNL I think the bug is specific to flatpak version.

[2018-10-16 13:06] robertudale opened #2856 "Unable to create descriptive plots in Bayesian repeated measures ANOVA"
I am using JASP 0.8.6.0

Under 'descriptive plots', when I select a factor and move it over to 'horixontal axis', I get the following error message:

This analysis terminated unexpectedly.

Error in if (usePooledSE) {: argument is of length zero

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.rmAnovaDescriptivesPlot(descri

[2018-10-16 13:09] AlexanderLyNL commented on #2856
Dear robertudale,

This issue was fixed in our newer version. Could you please rerun the analysis in our new version 0.9.1?

https://jasp-stats.org/download/

Please let me know if this works out for you.

Cheers,
Alexander

[2018-10-17 07:06] kevinvschie opened #2857 "JASP keeps crashing"
## Template for bug reports

Ever since I downloaded the new JASP version, it keeps crashing. I am unable to load in .csv files.

![screen shot 2018-10-17 at 09 01 36](https://user-images.githubusercontent.com/26565846/47068165-db34f200-d1eb-11e8-95af-288f9c45897f.png)

* JASP version: 0.9.1.0.
* OS name and version: 10.13.6 (mac OS High Sierra)
* Analysis: bayesian independent t-test

[2018-10-17 07:14] kevinvschie commented on #2857
And also this; it does not seem to recognise that there are actual number in the file.

![screen shot 2018-10-17 at 09 13 39](https://user-images.githubusercontent.com/26565846/47068609-08ce6b00-d1ed-11e8-813a-91052311d31f.png)

[2018-10-17 10:17] AlexanderLyNL commented on #2857
Hi Kevin,

Could you please try to run the analysis again with the following experimental build?

https://static.jasp-stats.org/JASP-0.9.1.0-Nightly-03-10-2018.dmg

Cheers,
Alexander

[2018-10-17 12:54] SvenHeimbuch commented on #2854
Just for completeness. Really seems to be specific to the flatpak. On my Windows machine it's working perfectly fine.

[2018-10-17 19:13] vicenteinefo opened #2861 "This analysis terminated unexpectedly."
* JASP version: 0.9.1
* OS name and version: Mac OS El Capitan 10.11.6
* Analysis: Descriptive Statistics
* Steps to reproduce: Trying to show whatever plot

![captura de pantalla 2018-10-17 a las 21 10 48](https://user-images.githubusercontent.com/29978768/47110488-44028580-d251-11e8-855f-489b662a5f72.png)

[5 Single Sample t Data.zip](https://github.com/jasp-stats/jasp-desktop/files/2488874/5.Si

[2018-10-18 08:06] boutinb commented on #2861
Hi @vicenteinefo Did you install the right El Capitan JASP version?

[2018-10-18 08:18] vandenman commented on #2850
This issue should have been fixed with #2855

[2018-10-18 08:33] #2850 closed

[2018-10-18 09:50] boutinb commented on #2861
Hi @vicenteinefo I have just checked it and saw that there was a mistake in a El Capitan JASP version. I have just a new version version: https://static.jasp-stats.org/JASP-0.9.1.0-XCode8.2.dmg
Can you try it, and tell me if it solves the problem?
Thanks, Bruno

[2018-10-18 12:21] vicenteinefo commented on #2861
I have just installed this version and it seems to work well. Thanks

[2018-10-18 13:30] #2861 closed

[2018-10-18 14:41] AlexanderLyNL commented on #2861
Thanks for reporting this and for the feedback!

[2018-10-19 08:57] Kucharssim commented on #2142
Yes, will do!

[2018-10-19 16:41] swdasa opened #2863 "JASP analysis crashes with multiple variables"
I am trying to run correlation matrices with a relatively large data file. The program was working fine yesterday, but now every time I add multiple variables to the matrix the analysis crashes and I get this error message:  https://puu.sh/BNEoU/b069d3dabe.png

I am running version 0.9.0.1 on MAC OS Sierra 10.12.6.

Tried restarting the program, my computer, and added an experimental build I saw i

[2018-10-19 17:51] jxn187 opened #2864 "figures are reporting to > 2 decimal"
## Template for bug reports

* JASP version: 0.9.0.1
* OS name and version: macOS High Sierra, 10.13.1
* Analysis: correlation matrix
* Steps to reproduce:

 i did a correlation matrix & used the plot function to plot the correlation matrix with densities for variables and ‘statistics’. Although I set in preferences to have values reported to 2 decimals, the plots still reports to 3 decimals. Is t

[2018-10-22 08:55] vandenman opened #2865 "abbreviations compute columns are awkward"
## Template for bug reports

* JASP version: 9.1
* OS name and version: windows
* Analysis: compute columns
* Steps to reproduce:

1. create a new column with a name of only 3 letters.
2. try to create a new column based on the 3 letter column.
3. the name of the 3-letter column is ...

![image](https://user-images.githubusercontent.com/21319932/47284769-d657b000-d5e8-11e8-9881-2b8089bd7ffc.png)

[2018-10-22 12:10] vandenman opened #2866 "compute columns awkward abbreviations"
## Template for bug reports

* JASP version: 9.1
* OS name and version: windows
* Analysis: compute columns
* Steps to reproduce:

1. create a new column with a name of only 3 letters.
2. try to create a new column based on the 3 letter column.
3. the name of the 3-letter column is ...

![image](https://user-images.githubusercontent.com/21319932/47284769-d657b000-d5e8-11e8-9881-2b8089bd7ffc.png)

[2018-10-22 20:58] AlexanderLyNL commented on #2865
Duplicate of #2866

[2018-10-22 20:58] #2865 closed

[2018-10-23 06:35] tomtomme opened #2867 "Pie Chart"
## Template for bug reports

* JASP version: 0.9.1
* OS name and version: 4.14.78-1-MANJARO Linux
* Analysis: There is no (obvious?) way to create pie charts in descriptive analysis
* Steps to reproduce: Click descriptive analysis, plots section, no pie chart available

## Template for enhancement requests

* Enhancement: implement pie charts please.
* Purpose: I just started teaching a new bunch

[2018-10-23 06:47] tomtomme opened #2868 "Feature Request: Count different missing values separately in frequency table"
* Enhancement: Count different types of missing values separately in frequency tables
* Purpose: Say I need a missing value -77 that means "I don't want to answer this question" and another -99 that means "I can't answer this question". Then in the frequency table it would be nice how often those values -99 and -77 are there. Many -77 would tell me that the question was inadequate to ask in that s

[2018-10-23 06:55] tomtomme commented on #2868
Supplement: I know as a workaround I just could not enter the missing values in the preferences / import data / missing values section. But its tedious remember to delete and reenter those.

[2018-10-23 08:40] AlexanderLyNL commented on #2868
Dear Thomas,

In JASP missing values are reserved for non-responses, while -77 and -99 are perceived as responses. One workaround would be to filter out these values:

    https://jasp-stats.org/2018/06/27/how-to-filter-your-data-in-jasp/

Another workaround would be to compute new columns. For instance, suppose that the variable is named "Response", then you can create a "ResponseA" which consist

[2018-10-23 08:41] AlexanderLyNL commented on #2867
Hi Thomas,

I'm not a big fan of pie charts, but it's good to teach people about them. @EJWagenmakers?

Cheers,
Alexander

[2018-10-23 08:41] AlexanderLyNL commented on #2863
Hi swdasa,

Could you please add the JASP file as a zip to this thread?

Cheers,
Alexander

[2018-10-23 08:43] EJWagenmakers commented on #2867
Not a big fan either, but we should offer them. I've emailed the other EJ about this.

[2018-10-23 08:43] AlexanderLyNL commented on #2864
Dear jxn187,

The preference controls the number of decimal places reported in the tables and not the figures. We're not there yet, but we're working on a graphics solution that will allow you to change the decimal places, but for the moment, there's no way to change this.

Cheers,
Alexander

[2018-10-23 14:03] JorisGoosen opened #2870 "Integrate Compute Column and Filter construction with dataview"
A user mentioned he found it more intuitive to drag the columns from the dataview into the constructor as opposed to the list on the left.

This is actually not a bad idea, although it could be more challenging than I now think, this issue is mostly here as a reminder and to-do.

[2018-10-23 18:06] luka-j opened #2871 "Enhancement request: Pairwise comparisons following repeated-measures ANOVA"
* Enhancement: Allow pairwise comparisons following repeated-measures ANOVA, i.e. a way to compare differences between levels of one factor, on every combination of levels of other factors.
* Purpose: For example, interpreting interactions. SPSS has a way to do this, but it lacks any graphical interface to do it, instead requiring /EMMEANS command in syntax.
* Example: Consider three-way ANOVA, wi

[2018-10-24 00:15] kylebr1 opened #2872 "Enhancement: ANCOVA post-hoc tests"
* Enhancement:  JASP should conduct ANCOVA post-hoc tests on the adjusted group means instead of the non-adjusted group means.
* Purpose: This would make it possible to determine which groups significantly differ from one another after running an ANCOVA.

[2018-10-25 09:31] MinaSte opened #2877 "In network analysis appears error whenever I want to tick something"
I just started the network analysis and when I want to tick whatever, centrality plot, clustering plot, or something another it appear msg JASP experienced an unexpected internal error and it close.
* JASP version: 0.9.1.0

My laptop is DELL latitude 5490, windows 10
* Analysis: Network analysis
<img width="960" alt="jasp" src="https://user-images.githubusercontent.com/44463778/47490562-44021700-d

[2018-10-26 13:43] tomtomme commented on #2868
Thx Alexander for the additional workarounds. I could live with them if I knew why missing values are reserved for non-responses. For metric scales responses like -77 destroy the mean and everything build upon it, while for nominal scales they could be left where they are, but it does not really hurt to filter them there too. So a global filter makes more sense to me. To add a filter to every sing

[2018-10-26 13:51] tomtomme commented on #2545
Thanks Alexander. If I understand correctly your screenshots show me, that I can have distribution plots for nominal and scale. However I never talked about plots. I wanted a possibility for frequency *tables* for continuous/metric data. Please re-open.

[2018-10-26 14:28] tomtomme opened #2881 "plots stopped working only with 0.9.1 (flatpak)"
* JASP version: 0.9.1 flatpak
* OS name and version: 4.14.78-1-MANJARO Linux
* Analysis: descriptive plots stopped working. worked in 0.9.0.1
* Steps to reproduce: open any dataset from the library or an own one; try to plot a boxplot etc produces the linked error message [https://gist.github.com/tomtomme/8147b739fd14213db0cfd6a7ff769aaf](https://gist.github.com/tomtomme/8147b739fd14213db0cfd6a7ff

[2018-10-26 14:30] tomtomme commented on #2881
My

[2018-10-26 14:43] oliats commented on #2669
Thank you very much! Version 0.9.1.0 works good!

[2018-10-26 14:43] #2669 closed

[2018-10-26 15:01] AlexanderLyNL commented on #2868
Hi Thomas,

If I understand correctly, you'd like JASP to interpret -77 as a missing value in your example. You can do so in the preference pane, see:

https://jasp-stats.org/wp-content/uploads/2017/10/NAplacement.gif

Cheers,
Alexander

[2018-10-26 15:11] tomtomme commented on #2868
no that is not my problem. I know how to do that.
What I want is an enhancemant for the frequency table in descriptive statistics. In the missing-section it should count -77 and -99 separately.
thx, thomas

[2018-10-27 12:13] AlexanderLyNL commented on #2545
Hi Thomas,

I don't think that a frequency table for continuous variables is interpretable, but what you'd like can be done by forcing JASP to thread a continuous variable as a nominal variable.

Cheers,
Alexander

[2018-10-27 12:14] AlexanderLyNL commented on #2672
Hi Thomas,

I’ve improved the Descriptives so it’ll show the 2.5 and 97.5% quantiles (next edition), which shows how concentrated a variable is. To get confidence intervals, you can run one of the analyses.

I do not intend to add confidence (or credible) intervals in the descriptives module of JASP, because formally a confidence interval defines the interval of parameter values for which a null h

[2018-10-27 12:14] #2672 closed

[2018-10-27 13:15] RAYDIGIUSEPPE opened #2882 "When I try to down load the latest version I get an ERROR message. IT reads ERROR! Can't initialize plugins directory. Please try again."
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose: