[2017-12-20 14:40] boutinb commented on #1847
No answer after 5 months, so this issue can be closed. This can be re-opened if necessary.

[2017-12-20 14:40] #1847 closed

[2017-12-20 14:41] boutinb commented on #1848
No answer after 5 months, so this issue can be closed. This can be re-opened if necessary.

[2017-12-20 14:41] #1848 closed

[2017-12-20 14:42] boutinb commented on #1856
@JaynePickering We have improved some interface problems since augustus. Does this problem still occur?

[2017-12-20 14:46] boutinb commented on #1863
No answer after 5 months, so this issue can be closed. This can be re-opened if necessary.

[2017-12-20 14:46] #1863 closed

[2017-12-20 14:48] boutinb commented on #1873
No answer after 5 months, so this issue can be closed. This can be re-opened if necessary.

[2017-12-20 14:48] #1873 closed

[2017-12-20 14:48] asoskic commented on #2245
Thank you for a quick reply!

This is really strange to me, because the raw numbers seem to be identical, but the descriptives and tests differ indeed. I generated a .csv file for editing, and the numbers in it also looked the same. When I just saved it without making any changes, all of my "nominal" and "ordinal" variables became automatically "scale" variables in JASP and all of the descriptives

[2017-12-20 14:52] boutinb commented on #1877
@vandenman We have to decide if we want to do this enhancement.

[2017-12-20 14:56] boutinb commented on #1898
I think this problem has been solved. I cannot reproduce this problem with the new version 0.8.5.

[2017-12-20 14:56] #1898 closed

[2017-12-20 15:00] boutinb commented on #1900
@JimWeinrich by clicking the column header of a nominal column, you can change the order of the labels. Does this solve your problem?

[2017-12-20 15:02] boutinb commented on #1833
This enhancement request should be answered when plot editing will be implemented.

[2017-12-20 15:07] boutinb commented on #1920
We might give the possibility to change the order of columns in JASP. This should not be too difficult

[2017-12-20 15:09] boutinb commented on #1922
@vandenman I think plot editing feature will fulfil this request.

[2017-12-20 15:37] boutinb commented on #2245
@asoskic Can you give me your SPSS file as well?

[2017-12-20 15:39] asoskic commented on #2245
@boutinb For sure, here you are!
[SPSS t test and measurement level.zip](https://github.com/jasp-stats/jasp-desktop/files/1576126/SPSS.t.test.and.measurement.level.zip)

[2017-12-20 15:43] boutinb commented on #1927
@ASarafoglou Can you have a look to this problem?

[2017-12-20 15:51] #1951 closed

[2017-12-20 15:58] boutinb commented on #1969
@SachaEpskamp Can you answer this question?

[2017-12-20 16:05] boutinb commented on #2013
Hallo Maelle,
Do you still have this problem? We could not read your previous answer.

[2017-12-20 16:07] boutinb commented on #2018
@ayhanyalcinsoy Do you have still this problem with the R packages?

[2017-12-20 16:27] boutinb commented on #2042
@EJWagenmakers Does it make sense? Should we do an enhancement request?

[2017-12-20 16:28] boutinb commented on #2045
Duplicate can be closed

[2017-12-20 16:28] #2045 closed

[2017-12-20 16:28] boutinb commented on #2046
Duplicate can be closed

[2017-12-20 16:28] #2046 closed

[2017-12-20 16:28] boutinb commented on #2047
Duplicate can be closed

[2017-12-20 16:28] #2047 closed

[2017-12-20 16:32] boutinb commented on #2051
This is solved in the new version 0.8.5

[2017-12-20 16:32] #2051 closed

[2017-12-20 16:32] JohnnyDoorn commented on #2244
Thanks for pointing this out - I just fixed it.
In the meantime, I suggest you use the ancova, but not specify any covariates, since in the ancova gui the different effect sizes are still available!
Kind regards
Johnny

[2017-12-20 16:34] EJWagenmakers commented on #2042
I am still not 100% sure what is desired. @metamorphose42, can you perhaps send a screenshot of the relevant SPSS output?

[2017-12-20 16:48] metamorphose42 commented on #2042
Hi,

Thanks for still looking into this. My supervisor now explained that the reason I should just report intercepts is because its equivalent to performing one sample t tests on my data against zero, but because it is easier to just run this in SPSS than to rearrange my data, he suggested intercepts as its the same thing minus the extra work of data sorting. When I have more time, I will run this

[2017-12-20 16:57] boutinb commented on #2027
Fixed in version 0.8.5

[2017-12-20 16:57] #2027 closed

[2017-12-20 16:59] boutinb commented on #2042
This issue can be closed apparently. If not re-open it.

[2017-12-20 16:59] #2042 closed

[2017-12-20 17:00] boutinb commented on #2061
I think this issue can be closed. If not re-open it.

[2017-12-20 17:00] #2061 closed

[2017-12-20 17:02] boutinb commented on #2070
This kind of feature will be definitely implemented. Hopefully in few months.

[2017-12-20 17:17] JohnnyDoorn commented on #2241
Hi Edwin,
Great detective work - you made solving this a lot easier! I just fixed it in the code and the next release should be able to handle the datasets you shared :)
Kind regards,
Johnny

[2017-12-20 17:44] AlexanderLyNL commented on #2241
I presume that this is solved. If not, please re-open.

[2017-12-20 17:44] #2241 closed

[2017-12-20 18:01] esdalmaijer commented on #2241
Thanks for that! I'll also mark it as solved on the cogsci forum.

[2017-12-20 19:54] ayhanyalcinsoy commented on #2018
I will try it again when I will packaged it in PisiLinux from source code.

2017-12-20 19:07 GMT+03:00 bruno boutin <notifications@github.com>:

--
[image: http://tr.libreoffice.org] <http://tr.libreoffice.org>"

[image: http://www.pisilinux.org] <http://www.pisilinux.org>

[2017-12-21 09:43] boutinb commented on #2091
No answer, if this problem still occurs, re-open this issue

[2017-12-21 09:43] #2091 closed

[2017-12-21 09:44] boutinb commented on #2114
No answer. If the problem still occurs, re-open this issue.

[2017-12-21 09:44] #2114 closed

[2017-12-21 10:50] boutinb commented on #2244
We made a hotfix version 0.8.5.1. You can download it from the JASP file.

[2017-12-21 10:50] #2244 closed

[2017-12-21 12:11] Emoll9 commented on #2244
Many thanks for fixing this so fast! Keep up the good work!

[2017-12-21 12:37] EJWagenmakers commented on #2244
Many thanks to you for finding it so fast!
E.J.

[2017-12-21 13:13] boutinb commented on #2124
No answer, if this is still a problem, re-open it

[2017-12-21 13:13] #2124 closed

[2017-12-21 13:16] boutinb commented on #2148
Duplicate of #2040

[2017-12-21 13:16] #2148 closed

[2017-12-21 13:24] boutinb commented on #2174
@EJWagenmakers What do you think of this request?

[2017-12-21 13:58] zfyao opened #2247 "Crash after click on correlation matrix button"
## Template for bug reports

* JASP version: 0.081
* OS name and version: Ubuntu 17.10
* Analysis: Regression -> Correlation Matrix
* Steps to reproduce: open JASP -> file -> open -> recent -> file.ods -> regession -> correlation matrixs

[connection-strength-yr-train.zip](https://github.com/jasp-stats/jasp-desktop/files/1579399/connection-strength-yr-train.zip)

[2017-12-21 22:38] hcp4715 commented on #1957
I found that the simple effect for repeated measures ANOVA is still missing

[2017-12-22 09:32] boutinb commented on #2178
@EJWagenmakers Should we add an enhancement request? To whom?

[2017-12-22 10:04] boutinb commented on #2183
This is solved in the new release 0.8.5

[2017-12-22 10:04] #2183 closed

[2017-12-22 10:06] boutinb commented on #2185
This ODS problem should be solved in the new release 0.8,5

[2017-12-22 10:06] #2185 closed

[2017-12-22 10:07] boutinb commented on #2186
We will implement filtering in the coming months.

[2017-12-22 10:10] boutinb commented on #2187
@JohnnyDoorn I gave you some issues about ANOVA improvements. Please check what is feasible, and maybe outsource the work.

[2017-12-22 10:11] boutinb commented on #2188
@EJWagenmakers Let's try together to reproduce this problem

[2017-12-22 10:12] boutinb commented on #2201
Johnny solved this

[2017-12-22 10:12] #2201 closed

[2017-12-22 10:15] boutinb commented on #2211
@vandenman Is that true that BAS will to this functionality?

[2017-12-22 10:17] boutinb commented on #2213
@vankesteren Maybe something for you, if you rewrite Descriptive Analysis?

[2017-12-22 10:18] EJWagenmakers commented on #2211
Yes, BAS will do this

[2017-12-22 10:18] #2211 closed

[2017-12-22 10:19] boutinb commented on #2221
@FransMeerhoff Did you link this issue with JIRA? There are a lot a weird message in GitHb for this issue...

[2017-12-22 10:21] boutinb commented on #2225
Should be solved when we have Qt5.10 and we can use its High Definition feature.

[2017-12-22 10:25] EJWagenmakers commented on #2178
I am willing to defend our present choice. If users want the CI that corresponds to the two-sided test, they can obtain it with a single click.

[2017-12-22 10:25] #2178 closed

[2017-12-22 10:28] EJWagenmakers commented on #2213
Let's wait with this feature until we have BAS in place.

[2017-12-22 10:44] EJWagenmakers commented on #1957
A Christmas present for @JohnnyDoorn? :-)

[2017-12-22 13:56] boutinb commented on #2245
@asoskic I don't understand how you manage to put nominal & ordinal columns in the Dependent Variables of the t-test, because it only accepts scale columns.
Also if I load your SPSS file in JASP, I can change the nominal & ordinal columns in scale type, without changing the values... Maybe you used first an older version of JASP (I know that I repaired some mistakes some months ago), and you use n

[2017-12-22 14:15] asoskic commented on #2245
Hi! I think you are right.
I used an older version of JASP (0.8.0.1) at first, but when I noticed this was happening, I installed the latest version to see if the issue would still be there. I tried just now to load the SPSS file into JASP, and the result is that it automatically turns my ordinal variables into nominal and Group variable into ordinal, and I can insert only scale variables into t t

[2017-12-22 14:19] boutinb commented on #2245
OK, that explains your really strange results! I think I can close this issue now. If you still have a problem, re-open it.

[2017-12-22 14:19] #2245 closed

[2017-12-22 14:21] asoskic commented on #2245
Ok, thank you!

[2017-12-22 14:23] boutinb commented on #2247
@zfyao I cannot reproduce this problem. Maybe you don't have the right R packages. If you start JASP form the command line, it should give you a warning if the packages have not the right version. Does the crash gives also any information?

[2017-12-22 14:29] boutinb commented on #2117
@FeBall We have added more memory for the communication of JASP en its Engines. Maybe, this works on a new version of JASP. Can you try?

[2017-12-22 14:34] boutinb commented on #1593
This has been solved by #1712

[2017-12-22 14:34] #1593 closed

[2017-12-22 15:35] zfyao commented on #2247
yes, I start JASP from the command line, the terminal shows the error
message as below:
Gtk-Message: GtkDialog mapped without a transient parent. This is
discouraged.
Segmentation fault (core dumped)

I also tried not from the terminal, but the issue remains.
Which R package should I install?

T‌hanks,
ZF

On Fri, Dec 22, 2017 at 3:23 PM, bruno boutin <notifications@github.com>
wrote:

--

Zai-Fu

[2017-12-22 16:38] boutinb commented on #2247
@FransMeerhoff Can you answer?

[2017-12-22 23:22] AlexanderLyNL commented on #2187
This is a multiple testing issue that Johnny and I should discuss with EJ.

[2017-12-23 09:42] FeBall commented on #2117
 

Dear Bruno, The new version works perfectly. Thank you for your help.

 

Gesendet: Freitag, 22. Dezember 2017 um 15:29 Uhr
Von: "bruno boutin" <notifications@github.com>
An: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: FeBall <FelixBall@gmx.de>, Mention <mention@noreply.github.com>
Betreff: Re: [jasp-stats/jasp-desktop] Bug: unexpected internal error (#2117)

@FeBall We have a

[2017-12-23 16:15] #2117 closed

[2017-12-25 14:50] coledavis opened #2248 "Backward regression not working?"
[Regression.zip](https://github.com/jasp-stats/jasp-desktop/files/1585941/Regression.zip)

Using linear regression, comparing Enter with Backward regression. Essentially, the results appear to be the same, whereas I think Backward should have removed some variables from the model.
From the csv file I've zipped to you, Sales was the dv, with Price, Instore, Street and Radio as the covariates.

Jasp

[2017-12-28 09:44] ayhanyalcinsoy commented on #2018
When will release jasp-desktop 0.8.5 version for linux?

2017-12-20 22:54 GMT+03:00 Ayhan YALÇINSOY <ayhanyalcinsoy@gmail.com>:

--
[image: http://tr.libreoffice.org] <http://tr.libreoffice.org>"

[image: http://www.pisilinux.org] <http://www.pisilinux.org>

[2017-12-28 12:13] dagiovanni opened #2249 "Issue with EFA explanatory parallel oblimin Faktoranalysis"
## Template for bug reports

* JASP version: 8.5.1
* OS name and version: Microsoft Windows 7
* Analysis: explanatory parallel oblimin Faktoranalysis
* Steps to reproduce:  i did an EFA in JASP 8.4. (Issue with EFA explanatory parallel oblimin Faktoranalysis) and dicovered other plots and Statistiks in the new Version 8.5.1. I used the same data and same options in jasp 8.4 and in Jasp 8.5.1. The

[2017-12-29 02:33] aarontaycheehsien opened #2250 "Trend Micro triggers and renames Jaspengine.exe"
## Template for bug reports

* JASP version: 0.8.5.1 (zipped version)
* OS name and version: Windows 10 education version - OS build 15063.726
* Analysis:  Trend Micro AV alerts on JASS function. quarantines Jasp execute file.
* Steps to reproduce:
1. Run a paired T-test sample
2. Use either student or wilcox test
3. Select effect size under additional statistics and/or under assumption checks - n

[2018-01-02 13:00] boutinb commented on #2248
@vandenman Can you have a look?

[2018-01-02 13:03] boutinb commented on #2249
@dagiovanni Can you give us the Jasp & Data files you use (in ZIP format)?

[2018-01-02 13:23] AlexanderLyNL commented on #2248
It's related to a method changed and we should follow the same steps as the ones done by @vankesteren

[2018-01-02 13:39] boutinb commented on #2250
@aarontaycheehsien Does this problem occurs only with the t-test, or for all analyses?
Would it be possible to have more information why Trend Micro thinks that JASPEngine is a virus (by clicking on the Details for example)? It says that a behaviour Monitoring policy is violated, but which one? JASPEngine needs to write (temporary) files, it needs then the right to create them. The temporary files

[2018-01-02 13:50] FransMeerhoff commented on #2247
HI @zfyao

For a complete use of all the packages you should run in R:

install.packages(c('BAS', 'BayesFactor', 'GPArotation', 'IsingSampler', 'JASPgraphs', 'MASS', 'SuppDists', 'afex', 'bootnet', 'car', 'conting', 'corpcor', 'doSNOW', 'dplyr', 'foreach', 'ggplot2', 'gtools', 'hmeasure', 'hypergeo', 'lavaan', 'logspline', 'lsmeans', 'metafor', 'multcomp', 'mvtnorm', 'plotrix', 'plyr', 'psych', 'q

[2018-01-02 16:01] zfyao commented on #2247
Hi @FransMeerhoff

As you suggested, I already installed all package you mention above, but the program still crashes after I click "Regression" -> "Correlation Matrix".

Terminal showed message as below:
QObject::connect: No such signal FSBModel::hideAuthentication()
QObject::connect: No such signal FSBModel::hideAuthentication()
QObject::connect: No such signal FSBModel::hideAuthentication()
QOb

[2018-01-03 08:46] dagiovanni commented on #2249
Hi,

sure ware can i send it?

[2018-01-03 11:00] eisensafran opened #2252 "Unable to plot network graph when non-ascii character in filename"
## Unable to plot network graph when non-ascii character in filename

* JASP version: 0.8.5.1
* OS name and version: Windows 10 , 1709
* Analysis: There is a error message that occurs every time I want to plot a network graph:

(The last part is German and translates to: "Unable to find png() engine.)
* Steps to reproduce:
Since Windows assigns the root folder to the user's name there are often ca

[2018-01-03 16:54] ayhanyalcinsoy commented on #2018
Fixed in 0.8.5

[2018-01-03 16:54] #2018 closed

[2018-01-03 16:59] ayhanyalcinsoy commented on #2051
This issue goes on 0.8.5 with *.sav file. I saved it as *.csv file then jasp open it without error.

[2018-01-03 21:00] pyemia24131 opened #2253 "Additions of Monte Carlo Simulation and Resampling Methods"
## Template for enhancement requests

* Enhancement: Would it be possible to add some Monte Carlo Simulation and resampling methods of analyses to your program?

* Purpose: You have two of the three main approaches to statistical analysis (Frequentist analyses and
Bayesian analyses) but there is a third approach : Monte Carlo simulation using resampling and randomization. This approach is rapidly

[2018-01-03 22:19] EJWagenmakers commented on #2253
Dear Pyemia24131,

Philosophically, resampling methods are frequentist (see the Efron & Tibshirani book). They take the sample as representative of the population, and then look at the sampling variability across repeated outcomes. So we only use that method if the analytical solution is not available. There are Bayesian bootstraps as well, but the same principle holds: we use these more time-inte

[2018-01-04 01:03] aarontaycheehsien commented on #2250
It seems to trigger only for t-test and in particular only when I try with size effects.

Hmm, I'll look but I don't remember the log files stating which behavior monitoring policy was triggered. The funny thing is even when I set Trend to exclude the exe files in JASP folder it still triggers.

By the way, why did you install JASP with the ZIP file, and not by using the setup? Do you have the per

[2018-01-04 01:07] aarontaycheehsien commented on #2250
![2018-01-04 09_05_43-logs - officescan](https://user-images.githubusercontent.com/26894535/34546409-966d26d6-f12e-11e7-93b5-dbe23874be4b.png)

Ok the logs say file encryption. Apparently this might indicate ransomware,

[2018-01-04 17:03] JorisGoosen commented on #2247
Hello Zai-Fu,

I just built a version of JASP 0.8.5 on Ubuntu 17.10 and used your .ods and could open the correlation matrix without a problem.

Did you compile JASP yourself or did you use the PPA or a .deb file?

[2018-01-05 09:31] boutinb commented on #2249
Hi @dagiovanni I got the file (it is better to use GitHub for this, just by attaching the file on a comment, like this:
[debugfile.zip](https://github.com/jasp-stats/jasp-desktop/files/1606093/debugfile.zip)

I can reproduce your problem. The researchers who can answer you, will be back next week. I will ask them.

[2018-01-05 10:09] boutinb commented on #2250
The thing is that I cannot reproduce this problem, and I have never heard someone having had this problem before, so it makes me difficult to guess what is going on. JASP is surely not a ransomware! and the R packages we use are standard ones (surely for t-test), used by many people. JASP uses compression tools (not really encryption) to keep some states, and save/read jasp files. We use also encr

[2018-01-05 10:56] JorisGoosen commented on #2051
Are you sure you are using 0.8.5? Because when I try to open your .sav it opens it without a problem.
Maybe you can check in the right top of JASP? (See screenshot)

![schermafbeelding 2018-01-05 om 11 55 33](https://user-images.githubusercontent.com/29062713/34606385-655ccae2-f20f-11e7-8faf-c76e21b75b12.png)

[2018-01-05 11:49] zfyao commented on #2247
I upgraded JASP via terminal, but the issue still remains.
Can I bring my laptop to show you the problem I encountered?

Sincerely,
Zai-Fu

On Fri, Jan 5, 2018 at 11:47 AM, Zai-Fu Yao <zaifuyao@gmail.com> wrote:

--

Zai-Fu Yao, Ph.D. Student

Brain & Cognition | Dept. Psychology

University of Amsterdam, Netherlands

email | Z.F.Yao@uva.nl

[2018-01-05 12:23] JorisGoosen commented on #2247
Well, that would make it easier to see what goes wrong, you are welcome to come by.

[2018-01-05 12:31] boutinb commented on #2252
This problem was solved for most of the analyses by setting the working directory to the user temp folder, but unfortunately the network module uses special code that bypasses this fix. This will be solved in the next release.
For the time being, you can use this zip file
[JASP.zip](https://github.com/jasp-stats/jasp-desktop/files/1606549/JASP.zip)
It contains the R code for JASP with the fix for

[2018-01-05 14:24] eisensafran commented on #2252
Hey boutinb! Yes, the code in the ZIP file you provided works just fine!
Thank you for your quick response and let me know if you need some beta-testers!

[2018-01-05 23:44] FarMar commented on #2221
Being new to github I'm not sure what all the above means. Was this included in 0.8.5? I don't see it, and it would be _really_ useful! (But I appreciate there are many other requestors of features also...)

[2018-01-06 07:19] dbonner opened #2257 "Segmentation fault in Ubuntu artful (T-Tests - Independent Samples T-Test)"
## Template for bug reports

* JASP version: 0.8.1 and 0.8.5.1
* OS name and version: Ubuntu 17.10 64 bit (64 gig RAM)
* Analysis:
I was able to install JASP 0.8.1 from the neuro.debian repository and also was able to build JASP 0.8.5.1 from source.   Both versions seem to run fine at first (descriptive statistics works).
* Steps to reproduce:
1) Load the attached dataset
[Schroeder and Epley 2015

[2018-01-09 14:36] EJWagenmakers opened #2261 "One-sided t-test and NaN for error%"
From the Forum:
http://forum.cogsci.nl/index.php?p=/discussion/3699/bayesian-one-sample-t-test-gives-nan-for-error
@AlexanderLyNL (BTW, the one-sided test BF > 2* the two-sided test BF, probably an approximation error)
E.J.

[2018-01-09 15:40] #2252 closed

[2018-01-11 06:19] iron78 opened #2262 "request for additional features for ANOVA"
JASP is already a powerful, yet free statistical software. I would like to suggest that could you please include Robust Test for Equality of Means such as Welch and Brown-Forsythe for ANOVA as well as the corresponding Post Hoc Tests for Welch and Brown-Forsythe.

[2018-01-11 09:16] spacek123 commented on #1602
I would like to emphasize this issue because it makes JASP difficult to use on non-english OS.
On computer with Czech locale its hard to copy tables from output to Excel, because e.g. value 23.3 is automatically interpreted and changed to date value (23/03/2018).
Thanks

[2018-01-11 09:23] boutinb commented on #1602
@spacek123 Can you send me a file where you have this problem?

[2018-01-11 10:27] spacek123 commented on #1602
I could send file, but it's hard to reproduce on other computer, because it's dependent on system locale. So if you are using english OS, you would see no issue at all.

I know this issue, e.g. when I export tables from R thru clipboard in Czech OS, I had to use write.table with dec=",",  sep="\t". Otherwise pasting in Excel would result in non-tabular data without decimal recognized decimal point

[2018-01-11 11:02] boutinb commented on #1602
I still would like to try. The locale is used differently if it is a csv, spss or ods file, so I would like to know first which type of file you load. For csv file, the locale is not directly used to read real numbers. So I am quite curious where it goes wrong.

[2018-01-11 11:43] spacek123 commented on #1602
Sorry, maybe I connected it to wrong issue thread. My problem is with copying table output from JASP results to spreadsheet (via Copy). Reading data and analysis ouput in JASP are all correct, but copying out table to spreadsheet (Excel) in Czech locale results in problem because system default for decimal point is comma not period.

It wouldn't be so hard to find&replace periods with commas, but

[2018-01-11 12:15] EJWagenmakers commented on #2262
Great ideas! @JohnnyDoorn

[2018-01-11 22:02] cgiannoulis opened #2263 "Bayes Factor/Bayesian MANOVA pretty please - it will be huge and revolutionary!"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement: Bayesian MANOVA
* Purpose: It is missing - it will be pioneering it will help do more inferential analyses

Thank you so very much for all what you do and the truly amazing work!

[2018-01-11 23:09] dbonner commented on #2257
I upgraded my laptop to Ubuntu 17.10 (artful) and now JASP has the same error (both JASP 0.8.1 and 0.8.5.1).  There must be something in Ubuntu 17.10's upgraded packages that causes the error.

[2018-01-12 10:22] JorisGoosen commented on #2257
I checked it out under ubuntu 17.10 and it does indeed crash, although only when running it in release mode.
It seems to be something in qtwebkit, we spend some time looking for what went wrong but couldn't find what went wrong exactly. Webkit is actually deprecated in Qt and in the newer versions it is dropped, so we are prepared for a switch to qtwebengine.

This means there are two workarounds

[2018-01-12 10:22] #2257 closed

[2018-01-12 11:18] boutinb commented on #1602
So if I understand well, you copy a table from the results of a JASP analysis, and paste it to Excel. And Excel does not recognise numbers like 23.3 and convert them automatically into a date.
If JASP would display numbers with a comma "23,3", then Excel would recognise it as a real number.
After some research, I can see that JASP uses the "toFixed" and "toPrecision" javascript functions to displa

[2018-01-12 12:01] spacek123 commented on #1602
Exactly, this is the problem. Fix would be wonderful.
Thanks, I really appreciate all your effort!

[2018-01-12 14:58] JorisGoosen commented on #2247
Ive added a new version of jasp to the ppa which should allow you  to install 0.8.5.6.
Try it out and let me know how it works out for you.

[2018-01-12 15:13] zfyao commented on #2247
It works well for me. Thanks!

Sincerely,
Zai-Fu

On Fri, Jan 12, 2018 at 3:58 PM, JorisGoosen <notifications@github.com>
wrote:

--

Zai-Fu Yao, Ph.D. Student

Brain & Cognition | Dept. Psychology

University of Amsterdam, Netherlands

email | Z.F.Yao@uva.nl

[2018-01-12 15:41] JorisGoosen commented on #2247
Great!

[2018-01-12 15:41] #2247 closed

[2018-01-13 15:48] AndrewDWilson opened #2266 ""Unable to Save File, File in Use" error"
I have run a bunch of analyses in v0.8.4. If I open a previously created .jasp file and edit anything, I am unable to save it; I get a "File XXXX is being used by another application" error.

I just downloaded 0.8.5.1 and I'm getting the same error, and I have for several versions.

I'm running this on Windows 10 64bit.

Example JASP file and screenshot attached.
-andrew
[File In Use Error.zip](ht

[2018-01-14 00:14] dbonner commented on #2257
How do you run JASP in debug mode?
What is the command line to do this?
Thanks,
Daniel

[2018-01-14 10:52] JorisGoosen commented on #2257
Well, you would have to build it in QtCreator and select the debug-profile.
However, you can also use the ppa, I added a version of jasp that should run without crashing on 17.10. Maybe this is more practical.

[2018-01-14 21:03] EJWagenmakers commented on #2266
Also just mentioned on Twitter: "Does anyone else get an 'unable to save file; open in another application' in @JASPStats when you open, edit and then try to resave a .jasp file? It's killing me"

[2018-01-15 04:57] stephensrmmartin opened #2267 "Re-enable SEM on Linux?"
Since I have been packaging jasp for Arch linux, the SEM ribbon has been disabled.

A previous issue suggests this was due to the ubuntu PPA not including enough packages (https://github.com/jasp-stats/jasp-desktop/issues/874), but references no other issues.

I've patched SEM back in for the users of my package with a warning about how it's an unsupported feature for linux users.

Is there a part

[2018-01-15 14:47] PhilJdal opened #2268 "Missing ability to edit data and variables directly."
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-01-16 00:17] EJWagenmakers commented on #2268
Duly noted. We plan to add some editing facilities in the near future (the kind of stuff that is unpleasant in Excel/Libre Office), but for now we believe most users would prefer us to include other functionality. The "indirect editing" solution we have now seems to work relatively well.

[2018-01-16 09:38] FransMeerhoff commented on #2266
Hi @AndrewDWilson

Thanks for reporting us, unfortunately we do not have a repro path for this.
If you are able to reproduce it could you try the following:

On Windows there exists a 'Resource Monitor'. With this application it is possible to check which application uses which file handles.  You can start it by typing 'resmon' in the Windows Search field and run it from there (preferred as admini

[2018-01-16 09:41] FransMeerhoff commented on #2266
Hi @AndrewDWilson

PS
The link on the bottom of the previous comment is another tool that give similar information about open file handles but with extra info.

[2018-01-16 12:11] Emoll9 opened #2270 "Request: Hedges' g effect size for t-tests"
* Enhancement: An option to select Hedges' g as the reported effect size for t-tests.

* Purpose: Hedges' g is less biased than Cohen's d (particularly with small samples) and is often recommended in modern statistical textbooks. It is frequently reported in scientific articles and typically preferred when accumulating effect sizes (e.g., meta-analysis). The addition of this functionality would el

[2018-01-16 13:24] AndrewDWilson commented on #2266
OK, some results; see attached image

I snapped this after I had double clicked on the file, edited the title and gone to save. I generated the error. I then searched for the file in the Resource Manager; as you can see, 4 instances of JASPEngine.exe seem to have it.

![resourcemonitor](https://user-images.githubusercontent.com/32539835/34990945-cff1ef6e-fabf-11e7-8e94-df8e652e8bf9.JPG)

I then lo

[2018-01-16 14:28] PhilJdal commented on #2268
Thanks. I understand the preference to edit elsewhere but I'm just speaking for the crowd that see this as a fairly basic feature of alternatives like SPSS. If you're interested in getting a large migration from existing analysis packages, they will probably want to edit the data directly.

[2018-01-16 15:53] FransMeerhoff commented on #2266
Hi @AndrewDWilson

Thanks a lot for the info. I do have a reproduction path now.
The 4 JASPEngine.exe processes that you see are in principal normal. (We start 4  engine processes for to perform the analyses because of parallel processing, and so for performance). But is is not normal of course that it locks the original read file. We have definitely a clue now to solve this issue.
A work-around o

[2018-01-17 14:19] AndrewDWilson commented on #2266
Thanks! At least you have a foot in the door, and thanks for the workarounds

[2018-01-18 12:09] JorisGoosen commented on #1536
My proposal for converting long to wide:

My first hunch for this was to have the loading process check if the data might be in long-format and give the user a prompt with the question if they want to convert it. It seems to be the case however that there isn't a straightforward heuristic to determine if the data is in long- or wide-format securely and I dontt want to bother people with prompts un

[2018-01-21 20:21] spacek123 commented on #2268
I'm not sure, where to add my "voice", but I would be plead for some improvement of editing functions too. Or even some revision of data-file model/metadata. E.g. I have big issue with ordinal variables with labels. I want students to be able to use JASP & table editor software only (no SPSS), but its hardly managable.
I can import SPSS data with values&labels, but than students couldn't edit them

[2018-01-21 21:24] EJWagenmakers commented on #2268
I'm not sure I understand. So you import a .sav file into JASP, and then you click "edit data" (perhaps after saving to a .jasp file) and you use, say, LibreOffice Calc to edit the data. What information is lost? Maybe you can provide a .sav file and explain what currently doesn't work?
E.J.

[2018-01-21 21:47] spacek123 commented on #2268
Maybe I'm doing something wrong. So, I import .sav file into JASP. Even save it as a .jasp file. When I click "edit data", SPSS will be used. To bring LibreOffice Calc, I have to convert data into .csv or .ods, but to do this, I have to choose, whether to save ordinal variables as string (labels) or as numerical value.
However, I would like to somehow keep both information in file. Numerical value

[2018-01-21 22:38] EJWagenmakers commented on #2268
If you click "edit data", your favorite editor will be used. If you go to the hamburger menu and select "Preferences" you can set your spreadsheet editor. So what if you save to .jasp and open with Calc?

Also, I am not sure what you mean with wanting to retain both labels and numerical value. Can you give a concrete example? For instance, take a Likert scale. Data can be stored as strings ("disag

[2018-01-21 23:51] spacek123 commented on #2268
Thanks. I knew this options but you encourage me to try it again. And it finally works.
Maybe the issue is a little opacity (from user point of view) of how .jasp file format works together with imported data. Had I to remove original SPSS file to force JASP to generate new csv file? Is my understanding correct, that .jasp file contains both data and metainformations? If yes, what is relationship

[2018-01-22 06:57] ross2006 commented on #1957
I found that the simple effect for repeated measures ANOVA is still missing. YES！It's been a year since the first request.I wanna cry!

[2018-01-22 06:58] ross2006 commented on #1957
I found that the simple effect for repeated measures ANOVA is still missing. YES！It's been a year since the first request.I wanna cry! PLEASE PLEASE PLEASE!

[2018-01-22 07:36] juliusverrel commented on #1536
@JorisGoosen: Thank you for making this more specific. If we stick to converting from long to wide, your proposal sounds very good. Be prepared that incomplete designs (missing combinations of factor levels) are less obvious in long format, so these might only become apparent (and produce errors) during this conversion process.

However, I'd like to point out that converting long data to wide form

[2018-01-22 09:29] EJWagenmakers commented on #1957
@JohnnyDoorn -- people *really* seem to want this feature badly, can you take a look?

[2018-01-22 11:07] boutinb commented on #2268
Hi @spacek123
When you import a file into JASP (CSV, SPSS or ODS files), JASP keeps the data, and also where the file was read: you can see this information in File/Sync Data/Current. When you double-click the data in JASP, it automatically opens this file with (per default) the program associated with this file (it will for example automatically open SPSS for sav file). You can edit the data, and

[2018-01-22 12:24] spacek123 commented on #2268
Thank you!
I understand reluctance to open Pandora's box of data transformation;)

Maybe, do you have any tips on good instruments how to work with data in .ods or .csv format? What standard spreadsheets editors are painfully lacking is from my point of view especially:
1) ability to deal with missing data correctly (e.g. in "average" or "sum" function of many variables etc.)
2) easy way to add ne

[2018-01-22 13:13] EJWagenmakers commented on #2268
I personally like Calc, but we will add some editing capabilities specifically for those kinds of tasks for which standard spreadsheet editors are poorly equipped.
E.J.

[2018-01-22 19:34] PhilJdal commented on #575
Was this ever implemented?

[2018-01-22 19:37] EJWagenmakers commented on #575
Only for descriptives. We could do this for some of the other analyses, but I fear that the costs of making the interface more complicated isn't worth it...

[2018-01-22 19:39] PhilJdal commented on #575
Dang :(

[2018-01-22 20:43] ErinMMiller opened #2272 "package or namespace load failed for 'stats'"
## Template for bug reports
<!--- One of my students. She opened her EXCEL csv file and clicked on Descriptives
![jasp error](https://user-images.githubusercontent.com/35706542/35243430-c018e58a-ffb4-11e7-947e-1034111b2aa5.png)

* JASP version: 0.8.5
* OS name and version: Apple
* Analysis: Descriptives
* Steps to reproduce: Click on Descriptives

[2018-01-23 07:18] dbonner commented on #2257
Thank you so much Joris for adding Ubuntu 17.10 to the ppa.  It works wonderfully.

[2018-01-23 08:20] boutinb commented on #575
What will do soon is data filtering per factor. You will be then able to run analyses for e.g. men, and with another instance of JASP, for women.

[2018-01-23 09:20] boutinb opened #2273 "JASP on Chromebook"
## Template for enhancement requests

* Enhancement: Build JASP on Chrome OS with Native Client
* Purpose: Qt Applications like JASP may be able built for Chrome OS (https://wiki.qt.io/Qt_for_Google_Native_Client), and then be available for Chromebooks.

[2018-01-23 09:20] JorisGoosen commented on #1536
@juliusverrel Thank you for looking at my proposal, that is always helpful.
However I think you might have misunderstood the way I see the user-interaction, in your example:
- there would be 3 columns in the long-format right?
- where the columns have 2, 3 or 4 levels respectively?
The way the gui will work is that once you select the three columns for use as conditions the code will create the ne

[2018-01-23 09:24] JorisGoosen commented on #2257
Great! And you're welcome.

[2018-01-23 09:27] boutinb commented on #2272
@ErinMMiller Could you give more details about this problem: which OS/version do you use? When does this error occur exactly, with which data/analysis?

[2018-01-23 09:29] boutinb commented on #2270
@JohnnyDoorn Is it something you could implement?

[2018-01-23 09:35] boutinb commented on #2267
@akashrajkn Can you try to add SEM on linux (by removing the ifndef linux in module.cpp), and test if everything works correctly?

[2018-01-23 09:38] boutinb commented on #2263
This is a duplicate of #1832
@AlexanderLyNL #1832 is on your name, do you plan to implement it?

[2018-01-23 09:40] boutinb commented on #2261
@AlexanderLyNL Is is something we will solve, or can we close this issue.

[2018-01-23 09:41] AlexanderLyNL commented on #2261
Solved

[2018-01-23 09:41] #2261 closed

[2018-01-23 09:43] EJWagenmakers commented on #2263
This is for the future. I don't think we should assign this to anybody yet.
E.J.

[2018-01-23 09:49] AlexanderLyNL commented on #2263
This will take substantial research and it's on our long term planning. Making Bayes factors for these settings is easy, but constructing good ones takes a lot more effort.

[2018-01-23 12:31] #2267 closed

[2018-01-23 13:32] PhilJdal commented on #575
That would be nice. Thanks!

[2018-01-23 14:14] JohnnyDoorn commented on #1957
It's at the top of my list - it should be in the next release!

[2018-01-23 14:43] JaynePickering commented on #1856
My apologies for the tardy response. I’ve just gone back and tried a few times and unfortunately the problem still occurs in the same way as before.

Thanks,
Jayne

On 20 Dec 2017, at 14:42, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

@JaynePickering<https://github.com/jaynepickering> We have improved some interface problems since augustus. Does this problem st

[2018-01-24 10:07] hoechenberger opened #2275 "XQuartz not required on macOS anymore?"
Currently the [download page](https://jasp-stats.org/download/) states:

However, JASP 0.8.5.1 appears to be running fine without XQuarts on my macOS 10.13.3 High Sierra machine.

Notably, the [installation guide](https://jasp-stats.org/installation-guide/) does not suggest to install XQuartz, so probably the note on the download page is just a leftover from previous times and should be removed.

[2018-01-24 12:33] lklende opened #2276 "UTF-8 coding of character strings in plots"
## Template for bug reports

* JASP version: 0.8.5.1
* OS: Windows 10
* Analysis: Descriptives Boxplot
* Steps to reproduce: Change label of one or more variabel with names including interantional character i.e. ø or æ. The charactes are OK in tables, not in plots. An example is illustrated in attached file. Characters of labels in a table is ok, not in the plots.

## Template for enhancement requ

[2018-01-24 18:30] jcoonrod commented on #2273
An easier alternative might be to create an online version. Broadway for GK offers an HTML5 interface for GK packages - but in general, moving apps to the cloud is the future.

[2018-01-25 10:01] boutinb commented on #2275
Hi @hoechenberger, XQuartz was needed for plots in R. We have changed the way JASP generates plots, so it is quit plausible that XQuartz is not needed anymore. The documentation is R is not quite clear about it. We have tried to remove XQuartz from out Macs, but we are not completely sure that some parts of it are still installed.
To be sure that XQuartz is not needed anymore, can you generate a p

[2018-01-25 10:10] boutinb commented on #2276
We know that some R packages have still some problems with not ASCII characters. This is quite annoying. As a workaround, you can click on the header of the column to edit the variable names and replace a 'ø' by a 'o'.
We are also planning to make plots editable, so this problem can be corrected directly on the plot.
If we find a solution in the R package self, we will correct it.

[2018-01-26 12:13] RowlinAPsychologist opened #2277 "Confidence interval of meta effect size is different from jamovi"
z | SE(z)
-- | --
0.28 | 0.15
0.46 | 0.16
0.03 | 0.09
0.58 | 0.09
0.34 | 0.12
0.40 | 0.16
0.40 | 0.15
0.19 | 0.09
0.54 | 0.12
0.29 | 0.12
-0.11 | 0.14
0.01 | 0.12
0.43 | 0.13
0.29 | 0.14
-0.03 | 0.17
0.03 | 0.09
0.08 | 0.11

* JASP version: 0.8.5.1
* OS name and version: win10
* Analysis: meta-analysis, overall effect size
* Steps to reproduce: ML method

JASP interval: .14 to .34; jamovi (version

[2018-01-26 14:53] boutinb commented on #2277
@JohnnyDoorn Can you have a look to this?

[2018-01-26 15:03] JohnnyDoorn commented on #2277
I think this is better suited for @raoelg , who implemented the meta-analysis.

[2018-01-27 01:39] RowlinAPsychologist commented on #2277
Sorry, it seemed I confounded standard error (JASP) with sampling variance (jamovi). What I learned was all about standard error, so I thought "variance" refers to the same thing.

[2018-01-28 19:57] lklende commented on #2276
Thank you very much for information. By the way, JASP is great. I am realy
exited about the future of JASP. It could become a revolution in "the world
of quantitative analysis".
Regards

Leif Kåre Lende

2018-01-25 11:10 GMT+01:00 bruno boutin <notifications@github.com>:

[2018-01-28 19:59] EJWagenmakers commented on #2276
Thanks for the kind words!
E.J.

[2018-01-29 07:49] boutinb commented on #2277
So I think we can close this issue.

[2018-01-29 07:49] #2277 closed

[2018-01-30 18:43] mwlimoges opened #2283 "NEW JASP User: No axis labels?"
I am a new user to JASP (and to statistics), and it is a required program for my graduate level statistics class. I am trying to get familiar with the JASP by playing with a fairly simple data set. After opening the data file in JASP under 'descriptive statistics' and placing 'X' in 'variables' and 'student' in 'split', and then checking the 'displaying distribution plots' button, all tables/graph

[2018-01-31 07:56] boutinb commented on #2283
Hello @mwlimoges, this is quite strange, I cannot reproduce it with the same OS, same JASP version, same data (I transformed the xls file into a csv file)... Can you send also the JASP file?

[2018-01-31 07:58] boutinb commented on #2188
Solved in 0.8.6 (next release)

[2018-01-31 07:58] #2188 closed

[2018-01-31 08:25] AlexanderLyNL commented on #2253
I think that this question has been answered. In principle we agree with the request and we will add more bootstrap methods for analyses, where we do not have the exact sampling distribution, or asymptotic approximation to the aforementioned sampling distribution. It also depends on the analysis, which we will identify. One example that implemented this already are the bootstrap confidence interva

[2018-01-31 08:25] #2253 closed

[2018-01-31 17:37] mwlimoges commented on #2283
Thank you for looking into this. Attached you will find the JASP file with the data.

[JASP Errors copy.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1682679/JASP.Errors.copy.jasp.zip)

[2018-02-01 08:25] boutinb commented on #2283
Hello @mwlimoges, this might be a problem with a missing font. The plots use the Arial font. If you open the Font Book app on your Mac, you can check if the Arial Font installed and enabled is.

[2018-02-01 12:18] mwlimoges commented on #2283
This worked! I did not release my MacBook had Arial fonts off for whatever reason. I enabled all Arial fonts, restarted the OS and fired up JASP and low-and-behold, all axis had labels. Thank again for your help. Cheers!

[2018-02-01 12:19] AlexanderLyNL commented on #2283
Thanks for the feedback and glad that we could help.

[2018-02-01 12:19] #2283 closed

[2018-02-02 16:06] wolfgangII opened #2286 "Microsoft Visual C++ Runtime Library Runtime Error!"
Hi,

when opening JASP I get the following window:

"Microsoft Visual C++ Runtime Library
Runtime Error!
Program: C:\Program Files\JASP0.8.5.1\JASP.exe This application has requested the Runtime to terminate it in an unusual way.
Please contact the application's support team for more information."

On "OK" click the program closes.

Would you please help me? Thank you.

* JASP version: 0.8.5.1
* O

[2018-02-03 21:47] drleehw opened #2288 "Feature request: Option to use label instead of variable name for outputs"
SPSS doesn't permit spaces in variable names, thus, if one analyses an SPSS dataset with JASP, one ends up with outputs that have ugly variable names like T1_Neuroticism_q1. Please can we have the ability to read the more user-friendly variable label from SPSS?

Ideally, there would be an option to read row 2 of a .ods sheet in the same way. Row 1: variable name; Row 2: user-friendly label.

Thank

[2018-02-03 22:00] drleehw opened #2289 "Feature request: Ability to insert R code snippets"
The pace of development with JASP is very impressive, and it's now to the point where it's usable for many analyses, but there will always remain a great many more specialised algorithms one might wish to run. In most packages, e.g. SPSS, this can be done in syntax, so that the analysis can all be run in one environment, and the output is all together in one place.

Could JASP please have the abil

[2018-02-03 22:07] drleehw opened #2290 "Feature request: option to print R code to the output"
Could you please consider adding a single checkbox option to every test that would output the actual R code executed in the output window? It would make JASP the single best teaching tool for R. One could run an analysis, get the output, but also see precisely how the R code is put together to obtain such an output.

(I realise this won't work where a test doesn't rely on R, but I get the impressi

[2018-02-04 17:03] EJWagenmakers commented on #2290
I can say a lot about this, but I'll keep it short: we have been working on this for some time now, and one of our team members has this as his only job. I am reluctant to set a time line but it will be done.

[2018-02-04 17:03] #2290 closed

[2018-02-04 17:07] EJWagenmakers commented on #2289
Yes, this is another great suggestion. We have just implemented something like this for a subset of options (for the version following the upcoming version); doing the entire analysis as you suggest will be a big ask but we are working our way towards it.

[2018-02-04 17:33] drleehw commented on #2290
This is wonderful news! Exciting! Thanks.

[2018-02-05 09:09] boutinb commented on #2286
Hi @wolfgangII, The JASP Engine cannot be started for an unknown reason... I send you a zip file that contains a bat file. Can you copy this bat file in the folder where JASP is installed (c:\Program Files\JASP0.8.5.1)? This (simple) bat file just set some settings so that the JASP Engine can be directly started from the command line. Double-Click this bat file, and tell me what the outcome is. I

[2018-02-05 09:31] boutinb commented on #2288
Hi @drleehw, I can change JASP to read the SPSS variable labels and to use them (when they exist), in place of the variable name. The problem is then, that the column names may have really long names, making it then not readable in the analyses parameters panel.
Maybe a solution is that JASP retains both name and label name for the variable. We have to think then of a solution to put it nicely in

[2018-02-05 09:42] boutinb commented on #2289
We are working on 2 features where R scripts will be directly available for users: for filtering data, and for computed columns. These features should be available over 2 months.
We are also working of making the results available directly in R: JASP will be able to generate R scripts that will be directly executable in R studio, and that will produce the same output as in JASP. You will have then

[2018-02-05 11:15] #1954 closed

[2018-02-05 13:40] drleehw commented on #2288
Hi @boutinb, I appreciate the difficulty. My concern about using ODS with friendly names with spaces is that my dataset is then going to be in a format that isn't easily compatible with other pieces of software, like SPSS, SAS, and R. Most analysis packages can't cope with spaces in variable names, but of course we do want graphs and table output with JASP to be ready for putting straight into a p

[2018-02-05 13:58] akashrajkn commented on #2288
@drleehw we added tooltip on hover for variables in PR #2190 . It will be available in the upcoming release.

[2018-02-06 09:24] boutinb commented on #2266
This will be fixed in 0.8.6

[2018-02-06 09:24] #2266 closed

[2018-02-06 11:48] boutinb commented on #2286
Thank you really much for your answer: I know now what is going on (cf: https://stackoverflow.com/questions/38045857/boostinterprocess-exception-library-error-exception-when-creating-shared-mem), and I can reproduce this problem. Some other users reported this problem, but never answered me afterwards (I think because this error can suddenly disappear if a 6005 error comes up from another applicat

[2018-02-06 13:55] boutinb commented on #2286
[fixBoostBug.zip](https://github.com/jasp-stats/jasp-desktop/files/1699229/fixBoostBug.zip)
I have made a little program that generates a system log event with a 6005 error. For this you need to unzip this attachment, and run the executable with a command prompt with Administrator privilege (from the start button of Windows, right-click the Command Prompt, and choose Run As Administrator. With thi

[2018-02-06 18:59] diazbastian commented on #2075
Stata keeps the format specification available unlike SPSS. The information is available [here](https://www.stata.com/help.cgi?dta).

[2018-02-06 19:37] diazbastian opened #2294 "Distribute in GNU/Linux using flatpak"
* Enhancement: Provide a universal package for installation in GNU/Linux
* Purpose: A distro-agnostic package is a better way to distribute easy-to-install software over a wide range of distributions. Currently there are no native packages for other distros besides Ubuntu or Arch and the compilation is somewhat complicated for new users. [Flatpak](https://flatpak.org/) is the best solution for thi

[2018-02-08 16:36] angelamsli opened #2299 "Descriptives plots failure"
This is what happens when I click descriptives plots. Mac pro retina. OS X El capitan. Version 10.11.6

[2018-02-08 16:37] angelamsli commented on #2299
This analysis terminated unexpectedly.

Error in grid.Call(L_textBounds, as.graphicsAnnot(x$label), x$x, x$y, : polygon edge not found

Stack trace
lapply(vps, push.vp, recording)

FUN(X[[i]], ...)

push.vp.vpTree(X[[i]], ...)

push.vp(vp$parent, recording)

push.vp.viewport(vp$parent, recording)

grid.Call.graphics(L_setviewport, vp, TRUE)

(function (x)
{
    widthDetails(x)
})(list(label = 'Act

[2018-02-08 18:38] charlesjt commented on #2294
I think it's appropriate. Last year was discussed at the University where I study, looking for a better alternative to SPSS, where JASP was a candidate, however, was ruled out by its difficulty of installation and maintenance in CentOS (CentOS and Windows are used equally). In the end they opted for an agreement with Stata where low cost support was offered.

Some academics try to promote alternat

[2018-02-08 19:05] EJWagenmakers commented on #2294
Good point, let's see what we can do.
E.J.

[2018-02-09 10:02] wolfgangII commented on #2286
Hi Bruno,

Thank you for the message. Unfortunately, on running fixboostbug.exe I get the message copied bellow. I even tried compatibility troubleshooter (built in Windows), it indicated it is Windows 8 program but stated "incompatible program" and could not run it.

Thank you for further help.

Best regards,

Wolfgang

C:\Windows\System32>d:/fixboostbug.exe
This version of d:\fixBoostBug.exe is

[2018-02-09 13:04] #1957 closed

[2018-02-09 14:44] 1990jr opened #2300 "Post-Hoc effect Size calculation"
* JASP version: 0.8.5.1
* OS name and version:
* Analysis: one way anova post-hoc tests
* Steps to reproduce:
Hi there,

I conducted a one-way anova with 3 groups (N=55, N=76, N=90). I got a significant main effect and I conducted post-hocs on JASP with Holm correction.
I wanted to get the cohen's and I realized that for calculation of the cohen's implemented in JASP seems to be just the t-value/s

[2018-02-09 14:45] JorisGoosen commented on #2294
This looks like an interesting way to distribute to all linux-distro's equally easy. Ill try it out soon.

[2018-02-09 17:10] boutinb commented on #2286
Hmm I don't have Windows 8, only Windows 7 or Windows 10... Can you try this one?
[fixBoostBug.zip](https://github.com/jasp-stats/jasp-desktop/files/1711821/fixBoostBug.zip)

[2018-02-11 14:31] wolfgangII commented on #2286
Unfortunately, It produces the same output copied below:

Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>c:/fixBoostBug.exe
This version of c:\fixBoostBug.exe is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher.

C:\WINDOWS\system32>

[2018-02-11 20:30] haevalencia commented on #2173
[This project](https://github.com/lebebr01/SPSStoR) does this work (converts the SPSS syntax to R code), however, it complies with the task of being able to replicate analysis.

[2018-02-12 04:26] dietrichstats commented on #2294
I'm sorry to comment here, I did not fully understand the forum. I've been using Jasp for about a year, in its version for Windows 32 bit with Wine and it's better than it sounds. Any method that facilitates a native installation is good. Thanks for this excellent Software.

[2018-02-12 04:39] eqcanela opened #2302 "Printing results"
Despite its simplicity, I still need more comforts in printing (or saving the results of JASP analysis in Mac. I am not given enough possibilities and the plot images are saved differently from the text results (in HTML). Jasp version is 0.8.5. OS is High Sierra and I use safari Browser.

Thank you.
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduc

[2018-02-13 15:24] boutinb commented on #2286
OK, that will not work like that. We are busy to build the new version (0.8.6) that solves (I hope) your problem. We have here a beta version: https://static.jasp-stats.org/JASP-0.8.6.0-Setup.exe. Can you try it?

[2018-02-14 09:55] boutinb opened #2306 "Test ANOVA"
Test ANOVA analysis for new release

[2018-02-14 09:56] #2306 closed

[2018-02-14 10:15] boutinb opened #2307 "Repeated Measures ANOVA"
Test Repeated Measures ANOVA

[2018-02-14 10:24] #2307 closed

[2018-02-14 11:04] boutinb opened #2309 "Test ANCOVA"
Test ANCOVA for new release

[2018-02-14 11:04] #2309 closed

[2018-02-14 11:05] boutinb opened #2310 "Test Bayesian Correlation Matrix"
Test Bayesian Correlation Matrix for new release

[2018-02-14 11:05] #2310 closed

[2018-02-14 11:07] boutinb opened #2311 "Test Bayesian Correlation Pairs"
Test Bayesian Correlation Pairs for new release

[2018-02-14 11:07] #2311 closed

[2018-02-14 11:07] boutinb opened #2312 "Test Bayesian Linear Regression"
Test Bayesian Linear Regression for new release

[2018-02-14 11:07] #2312 closed

[2018-02-14 11:08] boutinb opened #2313 "Test Meta Analysis module"
Test Meta Analysis module for new release

[2018-02-14 11:08] #2313 closed

[2018-02-14 11:09] boutinb opened #2314 "Test Network Module"
Test Network Module for new release

[2018-02-14 11:09] #2314 closed

[2018-02-14 11:10] boutinb opened #2315 "Test Factor Analyses"
Test Factor Analyses for new release

[2018-02-14 11:10] #2315 closed

[2018-02-14 11:13] boutinb opened #2316 "Test Correlation Matrix"
Test Correlation Matrix for new release

[2018-02-14 11:14] #2316 closed

[2018-02-14 11:14] boutinb opened #2317 "Test Linear Regression"
Test Linear Regression for new release

[2018-02-14 11:14] #2317 closed

[2018-02-14 11:15] boutinb opened #2318 "Test SEM Module"
Test SEM Module for new release

[2018-02-14 11:15] #2318 closed

[2018-02-14 11:16] boutinb opened #2319 "Test Reliability analysis"
Test Reliability analysis for new release

[2018-02-14 11:16] #2319 closed

[2018-02-14 11:17] boutinb opened #2320 "Test Logistic Regression"
Test Logistic Regression for new release

[2018-02-14 11:17] #2320 closed

[2018-02-14 11:18] boutinb opened #2321 "Test Bayesian T-Test"
Bayesian T-Test for new release

[2018-02-14 11:18] #2321 closed

[2018-02-14 11:26] vankesteren opened #2322 "Windows: drawing error on dual monitor setup with differing scaling"
## The issue
On windows, this issue occurs when dragging a JASP screen from a monitor with scaling _x_ (e.g., a high-resolution laptop monitor with 200% scaling) to a monitor with scaling _y ≠ x_ (e.g., an attached external display with 100% scaling). The result is a shift of the mainwindow in any analysis module as well as in the about box:

#### Example case: 200%  → 100% scaling.
![image](https

[2018-02-14 11:27] boutinb opened #2323 "Test Descriptive analysis"
Test Descriptive analysis for new release

[2018-02-14 11:27] #2323 closed

[2018-02-14 11:28] boutinb opened #2324 "Test Frequentist T-Test"
Test Frequentist T-Test for new release

[2018-02-14 11:29] boutinb opened #2325 "Test Bayesian ANOVA"
Test Bayesian ANOVA for new release

[2018-02-14 11:29] #2325 closed

[2018-02-14 11:30] boutinb opened #2326 "Test Summary Stats"
Test Summary Stats for new release

[2018-02-14 11:30] #2326 closed

[2018-02-14 11:30] boutinb opened #2327 "Test Binomial Test"
Test Binomial Test for new release

[2018-02-14 11:31] boutinb opened #2328 "Test Bayesian Binomial Test"
Test Bayesian Binomial Test for new release

[2018-02-14 11:31] #2328 closed

[2018-02-14 11:32] boutinb opened #2329 "Test Bayesian Contingency Table"
Test Bayesian Contingency Table for new analysis

[2018-02-14 11:32] #2329 closed

[2018-02-14 11:32] boutinb opened #2330 "Test Bayesian Log Lineair"
Test Bayesian Log Lineair for new release

[2018-02-14 11:32] #2330 closed

[2018-02-14 11:34] boutinb opened #2331 "Test Contingency Table"
Test Contingency Table for new release

[2018-02-14 11:34] boutinb opened #2332 "Test Log Linear Regression"
Test Log Linear Regression for new release

[2018-02-14 13:13] #2324 closed

[2018-02-14 14:09] koenderks opened #2333 "Uninformative error when percentiles > 100 [descriptives]"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: Windows
* Analysis: Descriptives
* Steps to reproduce: put 101 (for example) in the percentiles box under statistics.

## Template for enhancement requests

* Enhancement: Give informative error
* Purpose: Clarity

[2018-02-14 14:26] koenderks opened #2335 "No warning in Sequential Analysis plot while empty"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: Windows
* Analysis: All Bayesian t-tests
* Steps to reproduce:
See dataset in:
https://www.dropbox.com/s/1e6qg9569m93n9w/debug2.csv?dl=0
When in Bayesian independent samples t-test, put variable V6 in dependent, variable V7 in grouping, then select any informed prior. Then click Sequential analysis. Now empty plot shows up b

[2018-02-14 14:30] #2331 closed

[2018-02-14 14:30] #2327 closed

[2018-02-14 14:31] koenderks opened #2336 "Warning in Bayes Factor robustness check plot"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: Windows
* Analysis: All Bayesian t-tests
* Steps to reproduce: Put any variables in the  boxes, then click informed prior but do not change anything. Then click bayes factor robustness check. Plot will be made (which means you wait), but then a warning is given that it is not supported for informed priors. But plot does show

[2018-02-14 15:38] Janto91 commented on #2306
1. If one specifies simple effects for interaction effects that are not part of the model, there is no information given that the interaction effect is not part of the model. I think a footnote could be helpful for this case.
2. I wonder why there is a limit to the number of moderators one can specify for the simple main effects, while the number of factors for the actual ANOVA is not limited.
3.

[2018-02-14 15:57] Janto91 opened #2337 "Test Feedback ANOVA"
- [ ] Bug 1: In an ANOVA with DV = V1, IVs = contBinom, facGender, facExperiment, and facFive, there is a warning "Singular fit encountered; one or more predictor variables are a linear combination of other predictor variables", but still all effects are estimated. However, post-hoc tests are not conducted.
- [ ] Bug 2: In an ANOVA with DV = V1, IVs = contBinom, facGender, facExperiment, facFive,

[2018-02-14 16:07] JohnnyDoorn commented on #2300
Hi J,
Thanks for the feedback - the effect size calculation was indeed taking the total N. I updated the code so now it uses the correct denominator for the effect size.
If you want you can send me your data, so I can take a closer look, or you can wait for the next release, which should be within two weeks =)
Kind regards,
Johnny

[2018-02-14 16:23] vankesteren opened #2338 "SEM module in newest build not working on windows"
On Windows, the lavaan code errors while parsing.
Errors in log:
- `error :  "Unexpected character"`
- `error :  "function call requires ()"`

In addition, the text box shows a red line, which probably has something to do with it:

![image](https://user-images.githubusercontent.com/11596858/36215113-79ee349e-11ab-11e8-8ce4-f374bf19472a.png)

[2018-02-14 17:44] Janto91 opened #2339 "Test Feedback RM ANOVA"
- [ ] Bug 1: Error message: "Reciprocal condition number = (very small number)" in a RM ANOVA with contcor1 and contcor2 as RM cells and contExpon, contWide, or contNarrow as Covariate.
- [ ] Bug 2: In a RM ANOVA with two within subjects factors, one with three and one with two levels (contExpon, contWide; V1, debCollin1; debCollin2, debEqual1)
a. a sphericity test results in NaN for the p-values,

[2018-02-14 18:32] AlexanderLyNL commented on #1085
This was implemented in 0.8.5

[2018-02-14 18:32] #1085 closed

[2018-02-14 18:59] AlexanderLyNL commented on #2339
Please add the jasp-file to this.

[2018-02-14 20:05] AlexanderLyNL commented on #2328
1. Posterior of debSame vanishes when moving from BF10 to BF01 or log(BF). Shouldn't happen
2. With highly skewed prior alpha = 9999 and beta = 1 we get a negative posterior density
3. With highly skewed prior alpha = 9999 and beta = 1 the sequential analysis searches for Inf0
[alexanderBBinom.zip](https://github.com/jasp-stats/jasp-desktop/files/1725502/alexanderBBinom.zip)

[2018-02-14 20:59] AlexanderLyNL commented on #2329
0. No state, no callback, log odds ratio plot add warning [Next release]
1. Continuous data are processed differently when used as rows or columns. In rows, does not work [No regression]
2. contBinom-contNorm works, but once you change the row ordering get an error. [No regression], see my dropbox

[alexanderBConting.zip](https://github.com/jasp-stats/jasp-desktop/files/1725628/alexanderBConting.z

[2018-02-14 21:04] AlexanderLyNL commented on #2330
Rename shape = -1, scale = 0 to default. Manual for input of priors, add state, add resample, number of samples output, hierarchical regression [Next release]

[2018-02-14 21:09] AlexanderLyNL commented on #2307
The addition of a Celebrity (identifier 1 to 8) as between subject factors leads to an error. Most likely not enough data (vector(0) like) and the evaluation of the value goes bad.
[alexanderRmAnova.zip](https://github.com/jasp-stats/jasp-desktop/files/1725641/alexanderRmAnova.zip)

[2018-02-14 21:11] AlexanderLyNL commented on #2314
Simple contGamma, contNormal, contExpon with pcor leads to bad evaluation.

[alexanderNetwork.zip](https://github.com/jasp-stats/jasp-desktop/files/1725647/alexanderNetwork.zip)

[2018-02-15 11:18] Janto91 opened #2341 "Test Feedback ANCOVA"
- [ ] Bug 1: In an ANCOVA with DV = V1, IVs = contBinom, facGender, facExperiment, and facFive, there is a warning "Singular fit encountered; one or more predictor variables are a linear combination of other predictor variables", but still all effects are estimated. However, post-hoc tests can not be conducted.
- [ ] Bug 2: In an ANCOVA with DV = V1, IVs = contBinom, facGender, facExperiment, facF

[2018-02-15 11:25] Janto91 commented on #2337
Here are the jasp-files for Bug 1 and Bug 2
[Test_ANOVA_Bugs.zip](https://github.com/jasp-stats/jasp-desktop/files/1727421/Test_ANOVA_Bugs.zip)

[2018-02-15 11:29] Janto91 commented on #2341
Here are the jasp-files for both bugs
[Test_ANCOVA_Bugs.zip](https://github.com/jasp-stats/jasp-desktop/files/1727443/Test_ANCOVA_Bugs.zip)

[2018-02-15 11:49] Janto91 commented on #2339
Here are the jasp-files for both bugs.
[Test_RM_ANOVA_Bugs.zip](https://github.com/jasp-stats/jasp-desktop/files/1727519/Test_RM_ANOVA_Bugs.zip)

[2018-02-15 13:22] #2333 closed

[2018-02-15 13:23] #2341 closed

[2018-02-15 13:24] #2339 closed

[2018-02-15 13:24] #2337 closed

[2018-02-15 13:24] #2336 closed

[2018-02-15 13:24] #2335 closed

[2018-02-16 09:27] boutinb commented on #2339
@JohnnyDoorn Is this something to be solved for the release?

[2018-02-16 09:28] boutinb commented on #2336
@Janto91 can you solve this?

[2018-02-16 10:39] #2338 closed

[2018-02-17 10:10] 1990jr commented on #2300
Dear Johnny,

Thanks a lot for your reply and promptness to help. However, I have already made a small script for data. Looking forward for the new release of JASP. It's very convenient for this sort of stats.
Keep the good work.

J

[2018-02-17 13:50] wolfgangII commented on #2286
Hi Bruno,

the reported bug has been solved in version 0.8.6, thank you. However, there is another bug, see enclosed screen, the result and help windows are black. Thank you for your furher help.
![jasp_error2](https://user-images.githubusercontent.com/36079307/36341644-b75c96a2-13f1-11e8-8d3c-972623e44f7f.jpg)

[2018-02-18 09:10] NoamTal commented on #1038
I was wondering if the non-parametric ANOVA tests (Friedman, Kruskal-Wallis) are still in plan. We teach the students in our institution how to conduct these tests using another software (IBM Statistica), but we plan to replace that software and teach them JASP instead (which we really admire and support), so that feature could be greatly helpful.

[2018-02-19 12:20] akashrajkn opened #2345 "Binomial test gives a subscript out of bounds error"
* JASP version: 0.8.6 (beta)
* OS name and version: Windows 10
* Analysis: (Frequentist) Binomial Test
* Steps to reproduce: Refresh the test file FreqBinomialTest.jasp

Error message: ```Error in result[[i]][['collection']][[1]] : subscript out of bounds```

[2018-02-19 12:22] akashrajkn opened #2346 "SumStats module Bayesian Regression does not have addInfo for robustness check"
* Enhancement: Add max BF10 and additional Information for Robustness check plot

[2018-02-19 15:54] akashrajkn commented on #2345
Gives error for the debug dataset (debSame, debString, debInf) when ```Descriptive plots``` is selected

[2018-02-19 16:48] JohnnyDoorn commented on #2337
I don't understand your "other 2" - we offer several contrast choices (simple, deviation, etc) so I'm not sure where someone would have to write something..

[2018-02-20 09:12] stjep opened #2349 "Descriptive Plots: first data point is not in data"
## Template for bug reports

* JASP version: 0.8.5.1
* OS name and version: macOS 10.13.3
* Analysis: Repeated Measures ANOVA
* Steps to reproduce: Descriptive plot where the horizontal axis is the within factor and the separate lines are the between factor, the first point in the plot is not in the data. Attached screenshot shows the plot, and the descriptives. The second point in the plot is act

[2018-02-20 09:27] ASarafoglou opened #2350 "Bugs in Bayesian Linear Regression"
Bugs:

- Handling of NaN values
- No plotting possible
- Option Posterior summary: median model not possible

Check if correct:
- You can enter negative MCMC sampling values
- You can enter a negative r scale in JZS prior

[2018-02-20 09:28] #2350 closed

[2018-02-20 09:47] ASarafoglou opened #2351 "Bugs in Bayesian Correlation Matrix"
Bug for variable debMiss99.

Accompanying JASP file can be found here:

https://www.dropbox.com/s/jtbp3mqga2cyrz3/BUGS_BayesianCorrelationMatrix_0.8.6.jasp?dl=0

Error in if (!(numericCheck[i] && sdCheck[i] && infCheck[i])) {: missing value where TRUE/FALSE needed

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.correlation

[2018-02-20 10:01] ASarafoglou opened #2352 "Enhancements for Bayesian Correlation Pairs"
No bugs found, but some remarks for enhancing the plots:

1. sometimes numbers are off the scale and not displayed in the plot
2. add a minimum height and width so results are displayed correctly
3. don't allow to put in the same variable combinations multiple times. you can create infinite amount of the same plots

Here is the accompanying JASP file:
https://www.dropbox.com/s/nn9hyrz9jnjbnzu/BUGS

[2018-02-20 10:34] AlexanderLyNL commented on #2351
This is a plot thingie that I'll fix in a next release. It occurs with some boundary cases that I'll cover after the revamp.

[2018-02-20 10:34] #2351 closed

[2018-02-20 13:32] #2300 closed

[2018-02-20 13:35] timdraws opened #2354 "Changing dataset without new JASP instance opening"
* Enhancement: When you have a dataset loaded in JASP, and you open a new one, a new instance of JASP opens immediately. Instead it would be cool if an option pops up to close the current analysis / dataset _or_ open a new instance of JASP.

* Purpose: Sometimes I accidentally open the wrong dataset. If I then just open the dataset I actually wanted to open, a new JASP window opens, which is often

[2018-02-20 13:46] boutinb commented on #2349
@stjep Can you send us the data file and the JASP file as well (in a zip format, you can attach it in a comment of this issue)?

[2018-02-20 13:52] boutinb commented on #2354
I'm not sure this a good idea. You don't want this question to pop up each time you open a new data file. Besides, In the file menu, you have also the Close option, which does what you want already.
Someone has another meaning about it?

[2018-02-20 16:59] boutinb commented on #2286
Hi @wolfgangII Do you run on 32 bit or 64 bit Windows machine? Can you give me the output of your System Summary? And can you give also your Region Settings (Formats & Location)?
I have seen that the WebEngine we use for the result and help, can generate a black screen for some locale (https://bugreports.qt.io/browse/QTBUG-54397). This is due apparently to a Chromium problem (https://bugs.chromium

[2018-02-20 17:18] AlexanderLyNL commented on #2286
Concretely, could you please temporarily change your region setting to English, or the decimal from "," to "." and try running JASP? If this removes the black screen, then we've identified the problem.

[2018-02-20 18:22] Kucharssim commented on #2332
No bugs found.

Enhancements:
- Allow selecting options 'confidence intervals' and 'VS-MPR' only when 'Estimates' table is already selected
- Check if 'Counts' variable contains only integers (what does it do when counts are decimal numbers?)
- Missing data handling
- Producing descriptive tables/plots (or at least include 'Counts' in Descriptives for producing tables for aggregated data)
- Compar

[2018-02-20 19:08] gvleioras opened #2359 "chi-square posthoc options?"
* Enhancement: I would like to have an option for posthoc comparisons in the chi-square contingency test
* Purpose: I am using a chi-square test on a 4 x 4 table. The chi-square is statistically significant, but I can't know where the differences lie. According to a tutorial on youtube, I need to go back to SPSS, ask for adjusted residuals (z-values), create a new file and test these by means of a

[2018-02-21 12:28] #2322 closed

[2018-02-21 13:22] vankesteren opened #2361 "Add visible package reference to output"
JASP uses `R` packages for specific analyses. It would be nice if we would visibly display which package is responsible for which output (@SachaEpskamp) -- see pca (psych), sem (lavaan), network (bootnet).

[2018-02-21 13:46] JorisGoosen commented on #2294
So I took a look and it seemed doable and luckily I turned out to be right ;)
Next release will include flatpak and will thus be installable on all linux-distros that support flatpak!
(which should include a lot of them)

[2018-02-21 13:46] #2294 closed

[2018-02-21 13:48] EJWagenmakers commented on #2294
Great work @JorisGoosen ;
@diazbastian: thanks for the suggestion, this was extremely useful

[2018-02-21 13:54] bertob commented on #2294
@JorisGoosen to make the flatpak easier to discover and available to more people you could submit it to [Flathub](https://flathub.org/). It's kind of like an app store for flatpaks. Some distributions enable the Flathub repository by default, so users can find Flathub apps in their native software installation app (e.g. GNOME Software).

[2018-02-21 14:16] #2248 closed

[2018-02-21 15:00] Janto91 commented on #2336
@boutinb I think I solved it.

[2018-02-21 15:06] Janto91 commented on #2337
Regarding Bug1, I think the reason for the warning is that there is a perfect relationship between subsets of the levels of the the different factors. For example for "Gender" and "Region", there is only one female and no male living in Australia. Therefore, for this level of Region, there is a perfect relationship between "Gender" and "Region". Thus, the degrees of freedom in the ANOVA table are

[2018-02-22 10:32] AugustOlsson opened #2368 "To narrow confidence and credible intervals for main effects in repeated measures anova"
OS name and version: Windows 10 Education
Analysis: Repeated measures ANOVA/ Baysian repreated measures ANOVA with between subject factor

Hi,

I suspect that Jasp is producing to narrow confidence and credible intervals for main effects of a between variable in repeated measures ANOVA and BANOVA. I have a design with 35 subjects (16 in one between subject condition 19 in the other). These subject

[2018-02-22 13:03] JohnnyDoorn commented on #2368
Hi August,
Thank you for taking the time to report this issue. Could you please provide a .jasp file with the results you mentioned, or the data-file itself? You can either upload it here (as a zipfile), or email it to me at j.b.vandoorn<at>uva.nl
This way I can try to reproduce the issue, and take a look at what is happening under the hood to cause this discrepancy in the plotting.
Kind regards,

[2018-02-22 13:27] FransMeerhoff commented on #2286
HI @wolfgangII

We are planning to release JASP 0.8.6 next week.
We have added a line in the code that might solve this black screen issue.
You can find this setup on  https://static.jasp-stats.org/JASP-0.8.6-Setup.exe
Would you be so kind to tests this version for us?

Kind regards
Frans Meerhoff

[2018-02-22 13:41] AugustOlsson commented on #2368
What is your email adress Johnny? Did you mean to write j.b (at) vandoornuva.nl?

[2018-02-22 13:44] JohnnyDoorn commented on #2368
Sorry, the markup must have messed it up a little bit - it's j.b.vandoorn (at) uva.nl

[2018-02-22 18:06] JohnnyDoorn commented on #2368
Hi August,
I have looked at the code, and it appears to be an issue of whether to pool the standard deviation across the RM factors. In the current setup, the sd is taken over all levels of the RM factors. It might be the case that Statistica first averages across the levels of the RM factors, and then calculates the sd for each between factor. I have tweaked the JASP code so that it does the latt

[2018-02-22 22:45] stjep commented on #2349
The JASP file is attached as a .zip to the original issue and here. The data file is additionally attached here.
[ext_diff.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1749839/ext_diff.jasp.zip)
[ext_diff.csv.zip](https://github.com/jasp-stats/jasp-desktop/files/1749840/ext_diff.csv.zip)

[2018-02-23 09:03] AugustOlsson commented on #2368
Hi Johnny,

Thank you very much for the quick response. After consulting a senior collegue I suspected that the deviation could be related to how the SD was computed. The Statistica graph looks identical to me, see below. The question of which is the correct way to do it is as you say not obvious. An old by still cited view of the matter within my field (psychology) is: https://link.springer.com/a

[2018-02-23 11:14] timdraws commented on #2354
What do others think about this? Am I the only one that thinks it's annoying that a new instance of JASP opens every time you open a new dataset? Maybe it's just because I often work with several datasets for the video's and GIFs we're making.

Maybe a tab-function could be the solution, just like you open different websites in tabs inside browsers. This way, you could have several datasets / (str

[2018-02-23 15:40] diazbastian commented on #2294
I am very excited about this [news](https://jasp-stats.org/2018/02/23/jasp-0-8-6-preview-frequentist-chi-square-test-revamped-bayesian-regression/) and I can attest that a community is very interested in this release. Thank you very much for the quick consideration of this proposal.

[2018-02-23 16:29] JorisGoosen commented on #2294
@bertob, trying to get it in flathub would be a good idea, for this I have to work a bit more on specifyin specific versions for components. At the moment it will be set up so that installing it will be as easy as copy-pasting a single line to the commandline so I think this will already be pretty nice.

[2018-02-23 22:54] hcp4715 commented on #2094
Also add generalized eta-squared? As suggested by this article: Olejnik, S., & Algina, J. (2003). Generalized Eta and Omega Squared Statistics: Measures of Effect Size for Some Common Research Designs. Psychological Methods, 8(4), 434-447. doi:10.1037/1082-989X.8.4.434

[2018-02-25 16:52] lvanderlinden opened #2372 "Cannot copy figures"
* JASP version: 0.8.5.1
* OS name and version: Ubuntu 17.10

When trying to copy a figure, a window with an error message pops up (see attachment). In the terminal, I also see this message:
libpng warning: iCCP: known incorrect sRGB profile

![screenshot from 2018-02-25 17-50-41](https://user-images.githubusercontent.com/2217254/36644030-9267a74c-1a54-11e8-89fd-dc22df00f7f7.png)

[2018-02-26 03:46] oolon-colluphid opened #2373 "Meta-analysis: Error in (function (class, type, ...)"
JASP Version 0.8.5.1
macOS High Sierra (10.13.3)

Issue with Meta-analysis running Hedges approach as well as when trying to run Hunter-Schmidt approach.

I get the following error:
Error in (function (class, type, ...) : Could not find message for class error and type NA

Please help resolve.

Thanks.

[2018-02-27 10:41] akashrajkn commented on #2372
@lvanderlinden thank you for reporting this issue. For now, as a work around, you can use 'Save image as' option.

[2018-02-27 21:40] akashrajkn commented on #2372
#2376 Fixes this issue

[2018-02-28 10:56] hcp4715 opened #2378 "Add function to adjust the Y-axis range of plots manually"
## Template for enhancement requests
<Yesterday my colleague, who has no experience in R, used the boxplot of the descriptive statistics, and find the box plot of JASP is very impressive.
However, she found that all the y-axis scale are automatically generated, so it is difficult to compare different plots. So I guess it would be good to have the option to adjust the range of y-axis mannually>
* E

[2018-02-28 11:34] #2372 closed

[2018-02-28 12:58] #2368 closed

[2018-03-01 01:25] FarMar commented on #2221
@FransMeerhoff @boutinb This seems to have been orphaned back in 0.8.5. Just hoping it doesn't fall off the radar. 0.8.6 looks good but I can't see this functionality in there, and it's the one test I need to be able to start using JASP as my go-to stats package

[2018-03-01 09:27] EJWagenmakers commented on #2221
FarMar: no worries, we are well aware of this issue and we will definitely address it a future version (no promises as to what version this will be :-)).
E.J.

[2018-03-01 11:21] astefan1 opened #2379 "Cannot open JASP 0.8.6.0"
Dear JASP team,

today, I wanted to download the new JASP version (0.8.6.0), but JASP crashes every time I try to open it. I tried both the installer and the zip file, but as soon as the JASP.exe is executed and JASP opens, I receive an error message ("JASP has experienced an unexpected internal error") and the only thing I can do from then on is to close the program.

I run Windows 8.1 on my comp

[2018-03-01 11:51] boutinb commented on #2379
@astefan1 Apparently, the JASP Engine cannot be started for an unknown reason... I send you a zip file that contains a bat file. Can you copy this bat file in the folder where JASP is installed (c:\Program Files\JASP0.8.6)? This (simple) bat file just set some settings so that the JASP Engine can be directly started from the command line. Double-Click this bat file, and tell me what the outcome is

[2018-03-01 12:32] boutinb commented on #2379
@astefan1 Could you install this Visual Studio redistributable: https://aka.ms/vs/15/release/vc_redist.x64.exe (if you have 64 bit computer)
https://aka.ms/vs/15/release/vc_redist.x86.exe (if you have 32 bit computer)

[2018-03-01 12:34] astefan1 commented on #2379
Hi @boutinb,

when I double-clicked on the bat-file, I first received the same Windows warning message (unknown source) as before when I tried to open JASP. Then, when I overrode that warning, the command line opened. In the command line, there are lots of paths shown and the last line says "null".

I'll install the Visual Studio right away and tell you what happens next.

[2018-03-01 12:37] astefan1 commented on #2379
Yay, now it starts normally! Thanks a lot!

[2018-03-01 12:41] #2379 closed

[2018-03-01 12:42] AlexanderLyNL commented on #2379
Does the normal installer work? Or do you still need to use the zipped version?

[2018-03-01 12:42] boutinb commented on #2379
These redistributable libraries are per default downloaded with all applications using Visual Studio, and all PC's where we tested JASP had these libraries, and did not see this mistake. We'll change our setup to include these libraries.

[2018-03-01 12:43] astefan1 commented on #2379
The normal installer worked just fine for me. I had just checked the zipped version in the beginning to make sure it is not an installer problem.

[2018-03-01 12:46] FransMeerhoff commented on #2379
Hi Alex,

It has nothing to do wit the zipped version or the installer.
Because we now use the Visual Studio compiler we need some redistributables of VC
We have send that link to here in problem issue.
We are updating the setup for this.

Cheers Frans

On 1 Mar 2018, at 13:42, AlexanderLyNL <notifications@github.com<mailto:notifications@github.com>> wrote:

Does the normal installer work? Or do y

[2018-03-01 18:26] rhileno opened #2381 "One Sample T-Test: Possible error in the estimation of the 95% CI for Mean Difference"
## Template for bug reports

* JASP version: v. 0.8.6
* OS name and version: Windows 10 Home
* Analysis: One Sample T-Test - 95% CI for Mean Difference
* Steps to reproduce: We have detected a possible error in the One Sample T-Test. We believe that the estimation of the 95% CI for Mean Difference is incorrect (see picture). The CI would have to give -10.96 to -8.14. However, it gives 23.592 to 26

[2018-03-02 12:15] Janto91 commented on #2381
Thank you, @rhileno!

You are totally right! I fixed this issue and the correct version of the one sample t-test will be available in the next release of JASP!

[2018-03-02 13:17] Janto91 commented on #2373
@oolon-colluphid : Thanks for reporting this error. Would you mind sharing your jasp-file with us?

You can save your analysis as jasp-file by
- reproducing the error you reported above
- clicking on "File"
- clicking on "Save as"
- selecting a name and a location to save the file
- uploading the file to this thread

Thanks again for your cooperation!

[2018-03-02 13:22] AlexanderLyNL commented on #2381
There's a difference between a confidence interval and a prediction interval. The confidence interval is an interval use to estimate and not necessarily to test, see

https://arxiv.org/abs/1705.01064

Section 2.2 and Section 2.3

[2018-03-02 13:27] #2381 closed

[2018-03-02 14:34] #2345 closed

[2018-03-02 14:47] cgiannoulis commented on #2263
I thought you were the best of the best! Nice new features in the new jasp by the way - thank you for your amazing work moving the needle in bayesian methods and accessible software that promote research

[2018-03-02 16:06] Janto91 commented on #2349
@stjep: Thank you for sending us the files and reporting about your problem! I think the discrepancy between the two plots is caused by the order in which the variables were entered. In the JASP file you sent us, ext_diff_20 was actually the first data point. If I change the order so that ext_diff_20 is the last data point, it looks pretty much like the Excel plot above.

![ext_diff_image](https:/

[2018-03-02 17:19] dietrichstats commented on #2273
Chrome OS will allow future VM's via LXD, so JASP can probably run natively in some way. Even with the new Flatpak version.

[2018-03-02 17:58] dietrichstats opened #2386 "Data Files are not saved in the selected location"
## Bug report

**JASP version:** 0.8.6 (Flatpak)

**OS name and version:** Solus OS 4 (gnome)

**Description:** The JASP files are not saved in the specified location, but in "`/run/user/1000/doc/xxxxxxxx`". The files are accessible via "Recent Files".
On the other hand, exporting _results_ and _data_ works perfectly.

**Steps to reproduce:**
- Open a Data File
- Go to "`File|Save as|Computer|Brow

[2018-03-02 21:50] dietrichstats commented on #1205
PSPP includes several export formats for output, however, the width of the tables is a problem as @akashrajkn says, however, an export format alternative to HTML is a good idea.

With the experience with PSPP a text document is not the best (*.odt), but a spreadsheet (*.ods) could be ideal, since you can keep the tables, comments and plots* (as images) for later editing and create a report directl

[2018-03-03 11:49] lvanderlinden commented on #2372
Thank you so much!!!

[2018-03-03 23:55] akashrajkn commented on #1839
@JLPuga we now also ship a flatpak version. Check it out.

[2018-03-03 23:55] #1839 closed

[2018-03-04 00:00] akashrajkn commented on #1146
We now ship a flapak based app :)

[2018-03-04 00:00] #1146 closed

[2018-03-04 00:05] akashrajkn commented on #1737
From v0.8.6, we ship a flatpak app. It's quite easy to install on ubuntu 17.04. :)

[2018-03-04 00:05] #1737 closed

[2018-03-04 00:06] #1114 closed

[2018-03-04 00:10] #1200 closed

[2018-03-04 00:11] akashrajkn commented on #1133
v0.8.6 solves high dpi problems to some extent.

[2018-03-04 00:11] #1133 closed

[2018-03-04 00:13] #1138 closed

[2018-03-04 00:15] akashrajkn commented on #1130
Descriptive analysis now has a 'Grouping Variable'

[2018-03-04 00:15] #1130 closed

[2018-03-04 00:16] akashrajkn commented on #1124
Current version of JASP shows SE and SD (in T-test descriptives)

[2018-03-04 00:16] #1124 closed

[2018-03-04 00:19] akashrajkn commented on #1267
We use Qt 5.10 now.

[2018-03-04 00:19] #1267 closed

[2018-03-04 00:20] akashrajkn commented on #1212
#2308 solves hi-DPI issues

[2018-03-04 00:20] #1212 closed

[2018-03-04 00:25] #1428 closed

[2018-03-04 00:31] akashrajkn commented on #1693
#1860 mostly fixes this issue. Please reopen the issue if an error occurs.

[2018-03-04 00:31] #1693 closed

[2018-03-04 07:06] phehks commented on #1693
Thank you so much.

On 4 March 2018 at 08:31, akash raj <notifications@github.com> wrote:

[2018-03-05 09:09] JLPuga commented on #1839
Ok, thanks a lot @akashrajkn.

[2018-03-05 09:27] boutinb commented on #2386
I cannot reproduce this problem on Mac or Windows, @JorisGoosen: can you try this with an Flatpak installed version?

[2018-03-05 09:53] boutinb commented on #1205
Thanks to our upgrade to Qt 5.10, we can now directly use the printToPdf function embedded in the WebEngine. I have just tried it, and it gives really good results. We will add this functionality to our next release

[2018-03-05 11:41] Janto91 commented on #2074
For better clarity, all unresolved issues from the post from Nov 3 are moved to new issues.

[2018-03-05 12:02] Janto91 opened #2388 "Linear Regression - Collinearity Diagnostics for Redundant Covariates"
* JASP version: 0.8.6
* OS name and version: macOs High Sierra 10.13.3
* Analysis: Linear Regression
* Steps to reproduce:

- [x] Issue 1
1. DV: Add contNormal
2. Covariates: Add debCollin2 and debCollin3
3. Select Statistics -> Collinearity diagnostics

Bug: Condition Index extremely high because debCollin2 and debCollin3 are redundant.
Proposed solution: Remove one of the redundant variables fro

[2018-03-05 12:16] Janto91 opened #2389 "Linear Regression - Stepwise Procedure for Redundant Covariates"
* JASP version: 0.8.6
* OS name and version: macOS High Sierra 10.13.3
* Analysis: Linear Regression
* Steps to reproduce:
1. DV = debCollin2
2. Covariates = debCollin1, debCollin3
3. Method = Stepwise or Forward

Bug: Error in if (minimumPvalue < options$steppingMethodCriteriaPEntry)

JASP File: [JASP-Bug.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1780757/JASP-Bug.jasp.zip)

[2018-03-05 13:17] zhengjiji456 opened #2390 "Installation error"
The 0.8.6 version can not be installed on my Mac. However, the 0.8.5 version works well.
* JASP version:0.8.6
* OS name and version:Mac OS X 10.9.5 (13F34)
* Analysis: none
* Steps to reproduce: none

Dyld Error Message showed when I open the 0.8.6 version
  Library not loaded: /System/Library/Frameworks/CoreBluetooth.framework/Versions/A/CoreBluetooth
  Referenced from: /Applications/JASP.app/Con

[2018-03-05 14:14] #2049 closed

[2018-03-05 16:18] FransMeerhoff commented on #2390
HI @zhengjiji456

This is problem is probably caused by the version of Mac OSX 10.9 you are running.

See the information below:
https://bugreports.qt.io/browse/QTBUG-61981
Qt 5.9.0 (we are using Qt 5.10.1 on the latest JASP 0.8.6 version) has a minimum requirement of macOS 10.10, and CoreBluetooth was added in 10.10 as can be seen here: https://developer.apple.com/documentation/corebluetooth
You

[2018-03-05 16:49] giligg opened #2391 "Meta-analysis: Add Orwin’s Fail-Safe N"
* Enhancement: adding Orwin’s Fail-Safe N for the file-drawer analysis.
* Purpose: Currently included is the Rosenthal Fail-Safe N analysis which has several shortcoming and is less reported in meta-analses papers.  Orwin’s method allows for more flexibility in the analysis by not assuming the missing effect size are equal to 0, so it can be specified missing effect sizes in any value. Also we can

[2018-03-05 17:57] haevalencia opened #2392 "Data Editing/Automatic Sync doesn't work on GNU/Linux"
* JASP version: 0.8.6 - Feb 28 2018 15:35:46 (Netherlands) gnu/linux Flatpak
* OS name and version: Fedora 26
* Analysis: When trying to edit data (double click on a cell) it is expected to open the default spreadsheet, however this doesn't happen, even if the spreadsheet is opened with the data manually, automatic synchronization doesn't work either. Manual synchronization works well.
* Steps to

[2018-03-05 18:38] haevalencia opened #2393 "Allow adding a command to open a custom spreadsheet editor as an alternative to selecting a file"
* Enhancement: Add as an alternative _add a command_ to open a custom spreadsheet editor
* Purpose: In some cases it is necessary to _add arguments_ to the executable, launcher or applications depending on an additional framework such as Flatpak or Snap in gnu/linux. For example in my case to run LO Calc: `/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/libreoffice/program/soffic

[2018-03-05 23:20] EJWagenmakers opened #2394 "E notation does not look good in BAS table"
@vandenman
See screenshot: the e-notation is not pretty with the extra space.
Cheers,
E.J.
![enotation](https://user-images.githubusercontent.com/8603015/37005394-32f0b336-20d4-11e8-8608-e0919b13a5f6.png)

[2018-03-06 00:41] sincyc opened #2395 "unable to open file, Archive entry access failed"
## Template for bug reports

* JASP version:0.8.6.0
* OS name and version:Windows 10 (1709)
* Analysis: I tried to open jasp with administrator privileges, but still did not open the data
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-03-06 01:02] sincyc commented on #2395
e.....
It has been resolved. The original is the need to delete the file personal information on it. Right-click the data file, properties, details, delete properties and personal information, you can successfully open the data file.

[2018-03-06 08:51] AlexanderLyNL commented on #2395
Thanks for the feedback. Please re-open if the problem re-occurs.

[2018-03-06 08:51] #2395 closed

[2018-03-06 09:49] #2074 closed

[2018-03-06 12:29] SvenHeim-UDE commented on #1737
Just wanted to let you know: Flatpak app is flawlessy working on both of my Linux machines, Ubuntu and Arch. Thanks! :-)

[2018-03-06 12:58] EJWagenmakers opened #2396 "Problem reading .sav file"
.http://forum.cogsci.nl/index.php?p=/discussion/3863/cant-open-data-set

[2018-03-06 13:54] haevalencia commented on #2386
I can confirm this in Fedora, I had not realized since I usually work with CSV or SAV files,

[2018-03-06 14:26] vandenman commented on #2394
This doesn't look like an R problem, but rather something that needs to be figured out in the javascript.
However, it could be that this is again the high def screen issue, as it looks a lot less bad on my screen:

![image](https://user-images.githubusercontent.com/21319932/37037472-a6111be8-2152-11e8-9bbf-66bb7c6fabd8.png)

@boutinb any ideas?

[2018-03-06 15:23] boutinb commented on #2394
Probably a high DPI problem... JASP uses a 'thin space' between the 'e' and the exponent. This 'thin space' (a &thinsp in HTML) is usually defined as ​1⁄5 or ​1⁄6 of an 'em' in width (an 'em' should be the width of a character). But apparently, this conversion width does not work with high DPI on Windows...
But I don't understand why this this space is used. I would say that the exponent should us

[2018-03-06 17:46] vankesteren commented on #2378
Hi @hcp4715,

Thanks for the suggestion! We're definitely looking into ways of doing this, not only  for the box plot, but more generally for all plots. This is what @boutinb mentioned. Keep an eye on JASP development for this feature!

(I'm closing this issue for now 😄 )

Erik-Jan

[2018-03-06 17:46] #2378 closed

[2018-03-07 08:46] boutinb commented on #2394
The superscript HTML tag was not a good idea. But we can, I think, just remove this thin space.

[2018-03-07 12:44] JorisGoosen commented on #2386
I can confirm that the saving is a bit confusing right now and seems to go wrong for jasp-files. However a workaround for now is specifying explicitly in the save-dialog that it should end in ".jasp".

So when saving "analyses" you will not find analyses.jasp where you expect it, try saving it as "analyses.jasp" and then it will show up where you thought it would.

It will however still be shown w

[2018-03-07 13:46] dietrichstats commented on #2386
@JorisGoosen The proposed temporary solution works very well. I remember that in the first stages of development of LibreOffice in Flatpak format something similar happened in how the recent folders were shown, so I suppose it is something approachable.

Links of interest:
- https://lists.freedesktop.org/mailman/listinfo/flatpak
- https://whatofhow.wordpress.com/

[2018-03-07 14:51] JohnnyDoorn opened #2400 "Bayesian linear regression error when adding interaction"
* JASP version: 8.6
* OS name and version: Ubuntu 16.04
* Analysis: Bayesian linear regression
* Steps to reproduce: using the big5 data set, try to add any interaction term to the model. Results in the error:
"This analysis terminated unexpectedly.
Error in rawToChar(as.raw(out)): embedded nul in string: 'Agreeableness0x97Conscientiousness' "
I would add a jasp file, but see my other issue..

[2018-03-07 14:55] JohnnyDoorn opened #2401 "Unable to save/load jasp files (on Ubuntu)"
* JASP version: 8.6
* OS name and version: Ubuntu 16.04
* Analysis:
* Steps to reproduce: try to save a file as jasp file, then try to open it again.

First off, when I click 'save as', and I click (for instance) my 'Documents' folder, it does not open this folder, but my '/' folder.
Secondly, when I save it, I have to add .jasp manually (but this is not abnormal on ubuntu). When I then try to ope

[2018-03-07 15:03] AlexanderLyNL commented on #2401
Does this work for you?

https://github.com/jasp-stats/jasp-desktop/issues/2386#issuecomment-371142731

If so, then close this, because this is then a duplicate of issue #2386

[2018-03-07 15:20] JorisGoosen commented on #2386
I will take a look at how they solved it and see if we can do something similar. I also some some related issues on flatpaks github: https://github.com/flatpak/xdg-desktop-portal/issues/141

There seems to be something else wrong though because I get some strange errors when loading a saved .jasp file (as in issue #2401).

[2018-03-07 18:39] vandenman commented on #2400
I can replicate this on ubuntu, it appears to be an error on my part that appears to make including interaction effect not possible. In addition, it appears that the function `d64()` in common doesn't work as intended.

[2018-03-08 10:04] boutinb commented on #2394
@EJWagenmakers I had a look again to this problem. In the screenshot you gave, we cannot see the whole table. JASP tries to align the exponent with the whole column: look here:
<img width="556" alt="screen shot 2018-03-08 at 10 58 30" src="https://user-images.githubusercontent.com/503332/37144918-c214227c-22bf-11e8-9627-3a22d4e26d58.png">
In this table, I have exponents like -4 and -10. JASP adds

[2018-03-08 10:19] #2393 closed

[2018-03-08 10:36] JorisGoosen commented on #2401
It wasnt a duplicate, it had something to do with very large timestamps, this is fixed now and will be pushed soon.

[2018-03-08 10:36] #2401 closed

[2018-03-08 10:51] EJWagenmakers commented on #2394
OK. But is this the best choice? An alternative is to simply start from the right of a column. This will make the entries look more ragged though. What do you think, @akashrajkn @vankesteren ?

[2018-03-08 14:20] JorisGoosen commented on #2401
Can you check it by running flatpak update && flatpak run org.jasp.JASP?
It should work now

[2018-03-08 15:03] JohnnyDoorn commented on #2401
Yes! I can save/load. I do have to manually add the .jasp extension though, but I guess that's a different issue.

[2018-03-08 16:43] JohnnyDoorn opened #2404 "Variable types (icons) change in marginal means (ANOVA)"
* JASP version: 8.6
* OS name and version: Ubuntu 16.04
* Analysis: ANOVA
* Steps to reproduce: any ANOVA dataset - add some factors and DV, then go to marginal means analysis.

See attached screenshot - for some reason JASP lists different variable types (icons) under the marginal means analysis.
![changedvartypes](https://user-images.githubusercontent.com/15704203/37163447-1a4a3228-22f8-11e8-94c

[2018-03-08 22:49] klladd opened #2405 "JASPEngine.exe stopped working"
Greetings -

New install of JASP 0.8.6 on a Optiplex 7040, i7-6700 @3.40, 64 bit, WIN Enterprise 10.0.16299

Will open any given SPSS file, but upon attempting any analysis, the program crashes:

JASPEngine.exe stopped working

JASP has experienced an unexpected internal error.
""

Same crash on a second PC, also WIN 10 Enterprise.

Thoughts?

Thanks,

- Kevin

[2018-03-09 13:19] vankesteren commented on #2394
I actually like the way it's displayed now.

[2018-03-09 14:31] 1990jr commented on #2300
Dear Alexander and Johnny,

Thanks for your reply. I'm sorry that I didn't reply earlier. I see that you guys have released a new version of JASP, great job!
However, regarding the cohen's d calculation, for the post-hoc t-test, for the t-value calculation to compare group 1 with group 2, for the SD you are using the pooled SD of N groups (N is the number of groups you used in your ANOVA). However

[2018-03-09 17:56] drhallak commented on #1814
I'd also love to have the survival analysis / cos regression functionality for modeling organizational attrition.

(a) log-rank test, (b) kaplan-meyer and (c) cox proportional hazard

[2018-03-10 01:59] diazbastian commented on #2392
This was already the case with the version provided in the PPA for Ubuntu, however, using the keyboard shortcut Ctrl + Y to update the data works well with LibreOffice and OnlyOffice.

[2018-03-12 17:59] shariellen commented on #1038
I would love to teach my research methods class with JASP, however, we have many small clinical data sets, and need nonparametric tests, especially Mann Whitney U and Wilcoxon signed ranks (we do a lot of pre/post design with small sets)
From my "to do" list with SPSS:
 Non-parametric tests - inferential
7.1.	Mann Whitney U for ranks
7.2.	Chi Square for nominal
7.3.	Wilcoxon signed ranks
7.4.	Frie

[2018-03-12 20:27] EJWagenmakers commented on #1038
@JohnnyDoorn knows the details, but we already have 7.1, 7.2, 7.3, 8.1, 8.2 for sure. Johnny, do we have more? Plus we are currently working to add a few that we don't have, such as the ones suggested by @NoamTal

[2018-03-12 21:17] JohnnyDoorn commented on #1038
Hi,
I am currently implementing the Friedman/Kruskal-Wallis/Kendall's W tests - they will be in the next release! Since 7.5, 8.3, and 8.4 are all a bit different, they will be implemented later.
The Bayesian version of the Wilcoxon/Mann-Whitney will also soon follow, fyi.
Cheers,
Johnny

[2018-03-13 08:03] FransMeerhoff commented on #2390
Hi @zhengjiji456

Could you please tell us what the status of this issue is?

Cheers
Frans Meerhoff

[2018-03-13 08:29] FransMeerhoff commented on #2405
Hi @klladd

Thanks for reporting this issue, but unfortunately we are not able to reproduce this error.
Could you give us some more information:
- Does this problem only arise when opening an SPSS file?
- Could you send an example SPSS file which make JASPEngine crash?

Kind regards
Frans Meerhoff

[2018-03-13 08:33] zhengjiji456 commented on #2390
Hi Frans Meerhoff,
Thanks for your email and your quick response to my issue.
I did not upgrade my Mac to the latest version for some personal reasons. Now I run the newest JASP on windows.

Best regards,

Ji

----- 原始邮件 -----
发件人: "FransMeerhoff" <notifications@github.com>
收件人: "jasp-stats/jasp-desktop" <jasp-desktop@noreply.github.com>
抄送: "zhengjiji456" <zhengjiji456@sjtu.edu.cn>, "Mention" <me

[2018-03-13 08:38] FransMeerhoff commented on #2390
Hi @zhengjiji456

OK, thanks for the info. I understand.
I close issue and reopen when this problem reoccurs.

Best regards
Frans

[2018-03-13 08:38] #2390 closed

[2018-03-13 10:34] klladd commented on #2405
Hi Frans –

The problem persists with any SPSS file. As a comparison, I’ve used files that are several years old as well as from the current version (24) available to me; I’ve attached one sample.

I haven’t attempted to use any other file type.

I was able to correct the issue by stepping back a version of JASP to 0851. That is working fine.

Thanks!

-          Kevin

From: FransMeerhoff [mailto

[2018-03-13 11:09] boutinb commented on #2405
We did not receive your file. But I doubt that it has to do with SPSS. Can you just try an example file, and run an analysis?
If this crash also, we will need more information. For this, I would like to ask you to run the JASPEngine directly. Therefore I send you a bat file (in a zip format):
[runEngine.bat.zip](https://github.com/jasp-stats/jasp-desktop/files/1806598/runEngine.bat.zip)
If you unz

[2018-03-13 11:19] filescomputer opened #2410 "jasp files"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: windows 7
* Analysis: downloaded jasp, but it can't find any Excel files from my computer.
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-03-13 11:51] boutinb commented on #2410
JASP can load CSV, ODS (Open Document Spreadsheet also supported by Excel) or SPSS file. It can't xls file directly.

[2018-03-13 11:51] #2410 closed

[2018-03-13 11:55] AlexanderLyNL commented on #2410
The problem with opening xls files directly is its flexibility: colours, multiple tabs etc, which is why do not have full xls support. The workaround is to save your excel file as a csv or ods file. Hope that this helps.

[2018-03-13 13:30] maciekszul opened #2412 "Frequentist RM ANOVA: Can't handle an object of class “afex_aov”"
Trying to do basic repeated measures ANOVA (frequentist), I get persistent problem, nonexistent when doing bayesian version. I use 2x2 design. Problem occurs even with different datafile, with the same dimensions.
datafile if required: https://mfr.osf.io/render?url=https%3A%2F%2Fosf.io%2Fp54d3%2Fdownload

* JASP version: Version 0.8.6 (flatpak install)
* OS name and version: Ubuntu 16.04.4 LTS 64-

[2018-03-13 13:38] maciekszul commented on #2412
Issue nonexistent when JASP is installed via PPA on the same machine, using the same data and same analysis.

[2018-03-13 15:42] boutinb commented on #2405
Sorry @klladd, but I cannot see the images you send. You have to do that directly in GitHub Issues, not from your email...

[2018-03-13 15:59] klladd commented on #2405
![image](https://user-images.githubusercontent.com/37196191/37353488-d36178e6-26b5-11e8-9197-8e9251ea58f6.png)

![image](https://user-images.githubusercontent.com/37196191/37353498-d96fa4e2-26b5-11e8-86fd-43fd7a89a116.png)

![image](https://user-images.githubusercontent.com/37196191/37353510-def7c8f4-26b5-11e8-9467-b0057c589048.png)

[2018-03-13 16:04] boutinb commented on #2405
Hi @klladd, I still cannot read the error messages in the images... Can you type it?

[2018-03-14 08:52] vankesteren opened #2414 "Bayesian Linear Regression error"
* JASP version: 0.8.6-debug
* OS name and version: Windows 10
* Analysis: Bayesian Linear Regression
* Steps to reproduce:
    - Start Bayesian linear regression on the debug dataset
    - Add contCor1 to dependent
    - Add contCor2 as covariate
    - Add contNormal as covariate -> error!

`Error in BAS:::list2matrix.bas(object, 'mle.se'): incompatible types (from NULL to double) in matrix subset

[2018-03-14 16:23] vandenman commented on #2414
Did this happen on your development branch? I cannot replicate the problem on Ubuntu from the current development, nor from windows with the latest release. Perhaps you still have an old version of the BAS package. There was a pretty annoying bug in a previous version and this looks like a sideeffect of it.

[2018-03-14 19:06] JohnnyDoorn commented on #1038
Hi Shariellen,
We are currently working on a JASP manual! However, I'm not sure when it will be finished - maybe @EJWagenmakers knows a little bit more ;)
Kind regards,
Johnny

[2018-03-14 21:41] vankesteren commented on #2414
It probably was this issue - hadn't updated my packages in a while. Sorry!

[2018-03-14 21:41] #2414 closed

[2018-03-14 22:32] euabela opened #2421 ""save as" only saves plots as .png, but none of the other formats"
Hi all - I can't save the "Descriptives plot " (e.g. from an 2 x 2 ANOVA) in any other formats than .png with transparent background. Same for the boxplots etc from the "Descriptives" tab. I'd like to use the 300dpi TIFF option... Thanks!

* JASP version: 0.8.6
* OS name and version: masOS Sierra 10.12.6
* Steps to reproduce: Try to save a descriptives plot via drop-down

[2018-03-15 12:37] lindeloev opened #2423 "JASP 8.6 in Ubuntu 16.04 ppa?"
I'm running Ubuntu 16.04, 64-bit. The ppa for Ubuntu xenial contains version 8.5.1. Could you update it to 8.6? Changing the source from xenial to artful and then installing using `sudo apt-get install jasp` fails:

[code]

## Flatpak
As a side note, given that the flatpak does not create a menu item, I think that it would be good to present the PPA option more prominently on https://jasp-stats.or

[2018-03-15 14:36] mjkofler opened #2424 "Descriptives plots bug :Bayesian repeated measures ANOVA in JASP 0.8.6"
## Template for bug reports

* JASP version: 0.86
* OS name and version: macOS High Sierra 10.13.3
* Analysis: Bayesian repeated measures ANOVA descriptives plot
* Steps to reproduce: The descriptives plot is produced as expected with the same dataset/analyses in JASP 0.8.5.1. Analysis runs as expected in JASP 0.8.6 until I request a descriptives plot. Then the analysis terminates with the error b

[2018-03-15 18:42] quentingronau opened #2425 "BAS - Posterior summary table not updating?"
## Template for bug reports
* JASP version: 8.6
* OS name and version: Mac
* Analysis: Bayesian linear regression
* Steps to reproduce:
With the big 5 personality dataset, load a model with Neuroticism as the DV, and Conscientiousness and Agreeableness as predictors. Then select show "Most complex model" (i.e., change from the default "Best model" to "Most complex model" after having added the cov

[2018-03-15 21:36] usamakh opened #2426 "GUI problem under high DPI"
* JASP version: Version 0.8.6
* OS name and version: Win10 x64

My screen is high-dpi 12in ....& when I upgraded JASP this weekend from previous release all the buttons & the GUI became too much zoomed. This wasn't the problem with previous release
[http://prntscr.com/irrrde](http://prntscr.com/irrrde)

From context menu I have tried disabling scaling under highDPI setting

[2018-03-16 11:13] vandenman commented on #2425
yeah that's a bad state bug on my part. In case you need this to work properly right now, this (and more) is fixed on [basUpdates](https://github.com/vandenman/jasp-desktop/tree/basUpdates).

[2018-03-16 12:04] quentingronau commented on #2425
Thanks!

On Fri, Mar 16, 2018 at 12:13 PM, vandenman <notifications@github.com>
wrote:

[2018-03-16 18:42] vciocca commented on #2424
I was able to replicate this bug on my computer (MacOS X 10.13.3) using JASP 0.86.
I obtained the same error message by selecting the Descriptive option within the Bayesian repeated measures ANOVA main analysis window.

[2018-03-17 06:14] dietrichstats commented on #2423
That's not true, since the installer creates a desktop launcher (see: ~/.local/share/applications). If you use Unity or GNOME you can find the application by typing "JASP" in the search bar or find it in the "others" category in classic menu DE.

What version of flatpak are you using? unfortunately Ubuntu distributes an old version, but it is possible to use a PPA that works perfectly (sudo add-ap

[2018-03-17 08:04] lindeloev commented on #2423
Good to know, so maybe it's in the installation process that it fails?
No result on searching for JASP or running "jasp" from terminal (and no
auto-completion to "jasp-desktop" or the like). I am using flatpak Flatpak
0.11.3 from `http://ppa.launchpad.net/alexlarsson/flatpak/ubuntu xenial
main`.

______________________________

Jonas Kristoffer Lindeløv, M.Sc., Ph.D.
Assistant Professor in Cogniti

[2018-03-17 08:41] akashrajkn commented on #2423
@lindeloev thank you for reporting. The flatpak version fails because it's not able to create an OpenGL context. I am guessing that you have multiple video cards. @JorisGoosen is trying to resolve this issue.

[2018-03-17 14:11] vandenman opened #2427 "Filtering whitelist can be circumvented by calling a function from it's namespace"
## Template for bug reports

* JASP version: Development
* OS name and version: Ubuntu 17.10
* Analysis: Filtering
* Steps to reproduce: Call a non whitelisted function from namespace to avoid the whitelist.

The filter code below works and definitely shouldn't!

[code]

## Template for enhancement requests

* Enhancement: check for functions called from namespace.
* Purpose: prevent arbitrary cod

[2018-03-17 19:33] dietrichstats opened #2428 "Desktop notification"
* Enhancement: Show desktop notifications to alert certain actions performed with JASP
* Purpose: Today's PCs are multitasking, added to differences in the hardware and other variables, the application is not always in focus or processes are carried out quickly with very large data sets, so it would be good to be able to show a notification when opening or saving/export datasets/results or after X

[2018-03-18 07:49] lindeloev commented on #2423
Yes indeed; I have a dedicated Nvidia card and an integrated Intel HD 4000. Thanks for looking into this.

[2018-03-19 18:45] vciocca opened #2429 "Adding table with posterior means/medians and credibility intervals + clarifying content of descriptive plots for Bayesian ANOVA"
* JASP version: 0.8.5.1
* OS name and version: Mac OS X 13.3.3
* Analysis: Bayesian repeated measures ANOVA

## Template for enhancement requests

* Enhancement: Clarify contents of the descriptive plots and add a table displaying posterior means (or medians) and credibility intervals
* Purpose: Neither in the existing documentation (e.g., the Wagenmakers et al, 2016 article on JASP that was publi

[2018-03-20 08:00] boutinb commented on #2426
@vankesteren Can you have a look to this issue?

[2018-03-20 08:37] FransMeerhoff commented on #2428
Hi @dietrichstats

That's indeed a nice suggestion. Especially of course for tasks with long execution times.
In other words checking the duration of separate steps and give a 'ready notation' after finishing later than some threshold is a nice enhancement. We will put this on our backlog list.

Thanks and kind regards
Frans Meerhoff

[2018-03-20 14:15] timdraws opened #2430 "Visual(?) Bug in ANOVA and linear regression"
Below are two images of linear regression and ANOVA; both with variables loaded that should, according to the indication on the bottom right of the window, not be suitable for that part of the analysis. So either there is a visual bug, or it should really not be possible to drag these types of variables in there. I didn't look at all analyses, this bug might appear elsewhere as well.

<img width="

[2018-03-20 17:24] ojr23 opened #2431 "Matlab vs JASP discrepancy?"
## Template for bug reports

* JASP version:
* OS name and version:
* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-03-20 17:35] ojr23 commented on #2431
JASP version: 0.8.6
OS name and version: OSX El Capitain 10.11.6
Analysis: RMANOVA
Steps to reproduce: see attached zipped JASP file
[JASPexample.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/1830445/JASPexample.jasp.zip)

There is a discrepancy between matlab and JASP (see images below), when the between subject factor has more than 2 levels.

I *think* based on discussions it is pro

[2018-03-20 17:38] EJWagenmakers commented on #2431
@JohnnyDoorn or @Kucharssim ?

[2018-03-20 18:36] JohnnyDoorn commented on #2431
Hi Ojr23,
Thanks for sharing your data and jasp file, I will look into this discrepancy. The sum of squares type that JASP uses in your example is III, as is stated in the note under the tables. Are you sure that your Matlab code also uses this same type? If so, it might be an issue with how the contrasts are specified in the ANOVA, but I will investigate.
Kind regards,
Johnny

[2018-03-20 19:07] ojr23 commented on #2431
Great! Thanks!

Of course it says the sums of squares under the table! I think Ive just
looked at so many of them that Ive become conditioned to ignore it!

I *think* ranova in matlab also uses type III as a default, but I have
actually been struggling to confirm this in the documentation. Im planning
to look into this properly later in the week...

On 20 March 2018 at 18:36, JohnnyDoorn <notifica

[2018-03-20 22:05] akashrajkn commented on #2431
Matlab uses type 3 by default for `anova` (https://nl.mathworks.com/help/stats/compactlinearmodel.anova.html#bszh780-1-sstype)

[2018-03-21 08:54] ojr23 commented on #2431
I suspect that is also true for ranova (which is a different function), but
I havent been able to find it written anywhere. Unlike anova, I dont think
you can specify the sum sq type for ranova (?).

If they are both type 3 then there must be something else going on. There
are a few empty cells in the data, so it could be to do with how missing
data is dealt with?

On 20 March 2018 at 22:05, akash

[2018-03-21 11:22] vankesteren commented on #2426
Hi @usamakh,

in the last version we actually finally switched to proper hi-dpi handling. In other words, it should now work smoothly out of the box. What is your "global" scaling percentage in windows 10?

Erik-Jan

[2018-03-21 13:03] JohnnyDoorn commented on #2431
Hi Ojr,
I can reproduce the results of JASP in R (both with aov and ezANOVA), when the rows of the data are removed that contain missing values. From the degrees of freedom in your Matlab output it looks like Matlab does the same, but maybe I'm missing something. Can you share your Matlab code? It might be the case that Matlab handles missing data differently. I cannot seem to reproduce the Matlab

[2018-03-21 13:23] ojr23 commented on #2431
I was using this function:
https://uk.mathworks.com/matlabcentral/fileexchange/64980-simple-rm-mixed-anova-for-any-design

...with the following code:

datamat=horzcat(propmedhigh_NegOnly,propmedhigh_PosOnly) % two columns of
RTs (for the 4 column version i added the other two columns)
between_factors=triangle1circle0_NegOnly % a column of 1s and 0s
representing groups
tbl = simple_mixed_anova(dat

[2018-03-21 13:36] usamakh commented on #2426
Its 150%
http://prntscr.com/iub1f2

[2018-03-21 15:26] diazbastian commented on #2428
I would like to mention something here, since this could solve the problem with the current progress indicator used by JASP, since if we perform any operation from the "Files" tab and don't change to the "Common" tab, we don't have any indicator if the task was done or not, the same when we don't have in focus the application.

[2018-03-21 16:23] vankesteren commented on #2426
Which exact version of windows are you running? of this format:
`Version 10.0.16299 Build 16299`

I got this number by searching for "System Information"

[2018-03-21 16:44] JohnnyDoorn commented on #2412
Hi Maciekszul,
Thanks for your report! I ran into a similar problem on the flatpak distribution. It has to do with the R-package lsmeans being deprecated. Becaues the flatpak distribution has its own R-packages (for lsmeans, the latest version), it behaves differently from the ppa version, which uses the locally installed packages. If you were to update all your packages your ppa version would als

[2018-03-21 17:11] #1038 closed

[2018-03-21 19:19] mvgorcum opened #2432 "Error on adding simple contrast in repeated measures ANOVA"
* JASP version: 0.8.5.1
* OS name and version: Both Kubuntu 16.04.4 and KDE neon user edition (based on ubuntu 16.04)
* Analysis: repeated measures anova
* Steps to reproduce:

After opening the attached file and choosing repeated measures anova I name the two within subjects variables (both have three levels) and adding the data to the cells, and I add the between subject factor (gender in this c

[2018-03-21 19:31] usamakh commented on #2426
OS Name	Microsoft Windows 10 Home
Version	10.0.14393 Build 14393

[2018-03-22 10:40] JorisGoosen commented on #2427
Nice catch!
I changed the functionnameregex so that it considers :: to be part of functionnames and now it does recognize them.

[2018-03-22 10:40] #2427 closed

[2018-03-22 11:14] JohnnyDoorn commented on #2432
Hi Mvgorcum,
Unfortunately I cannot reproduce your error on Ubuntu 16.04. What version of the R-package lsmeans/afex do you have? The lsmeans package has recently been replaced by emmeans by it's developers and is causing some errors for some Linux users at the moment. However, the issue with this package will be fixed in the next release. However, I'm not sure whether this is relevant at the mome

[2018-03-22 11:17] mvgorcum commented on #2432
Hi Johnny,

Thanks for the reply.
I have the following versions installed:
[code]

[2018-03-22 12:24] #2388 closed

[2018-03-22 12:25] Janto91 commented on #2388
Solved with Pull Request https://github.com/jasp-stats/jasp-desktop/pull/2418

[2018-03-22 12:31] #2349 closed

[2018-03-22 14:39] JorisGoosen commented on #2423
Aah it is really too bad that it goes wrong with the combination of dedicated+integrated gpu's. Im afraid it might have something to do with the kde-runtime that we use. This will have to be solved in conjunction with the authors of that runtime.

As far as updating the ppa for ubuntu 16.04, this is not possible as the minimum required versions of certain packages are not available there. Luckily

[2018-03-22 14:44] JohnnyDoorn commented on #2432
Hi Mathijs,
Can you try installing JASP through flatpak? This is the new way JASP will be distributed to Linux users, since it generalizes a lot better to different Linux distributions, and can contain it's own packages, rather than users' local packages. The latest flatpak version should also include the fix the issue I mentioned in my previous post.
Instructions for installing JASP through flatp

[2018-03-22 14:47] JorisGoosen commented on #2412
I updated the flatpak version online, running:
`flatpak update`
should fix it!

[2018-03-22 14:55] mvgorcum commented on #2432
I did try JASP using flatpak but it errored out much earlier with an error message that looked more nasty. (then again I never got flatpak to work very nicely with ubuntu and KDE)

I'll try upgrading my ubuntu version first and install 0.8.6 and report back if that fixed the issue.

If I find the time I'll install the flatpak version again and report the error (if that happens).

Thanks for your t

[2018-03-22 18:07] mvgorcum commented on #2432
I just made a clean install of kubuntu 17.10, added the rstudio repo (because I also use R separately) and the jasp ppa and I run in to the same bug. This time on jasp 0.8.6

[2018-03-22 19:27] mfischer13 opened #2435 "error message"
## Template for bug reports

* JASP version: 0.8.6.0
* OS name and version: windows
[operating system.pdf](https://github.com/jasp-stats/jasp-desktop/files/1838961/operating.system.pdf)
[JASP error message.pdf](https://github.com/jasp-stats/jasp-desktop/files/1838962/JASP.error.message.pdf)

* Analysis:
* Steps to reproduce:

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-03-22 21:05] katzbarm commented on #1832
I would also like to see MANOVA added to JASP- in addition, unlike SPSS (unless you have the full version *I believe*) you cannot do post hoc assessment (except for pairwise).
I work with animal models e.g. I'm currently running a 2X2X2 between subjects design.

[2018-03-22 22:00] lindeloev commented on #2423
Yes, I'm planning to upgrade to 18.04 when it's released. I'm closing this issue now and will reopen if it persists on other Ubuntu versions.

[2018-03-22 22:00] #2423 closed

[2018-03-23 09:02] boutinb commented on #2435
This crash seems to come from the JASP engine. To get more
information, can you download this file:
[runEngine.bat.zip](https://github.com/jasp-stats/jasp-desktop/files/1840794/runEngine.bat.zip) ?
If you unzip it, and copy this file to the installation of JASP 0.8.6 (Program Files\JASP 0.8.6.0). Double-click the runEngine.bat file (you would probably need admin right), the JASP Engine should star

[2018-03-23 09:16] ratmuffin opened #2436 "Add variables from long lists returns the list to the top"
* Enhancement: Retain position in variable list when adding variables to an analysis

* Purpose: There has been a few occasions now when I have been working with datasets with many similarly named variables that I have conducted the incorrect analysis unknowingly because everytime a variable is added to an analysis (e.g. to fill Repeated Measures Cells) long variable lists automatically jump back

[2018-03-23 10:12] JohnnyDoorn commented on #2432
Hmm that's unfortunate - can you make a screenshot of the error message?
Thanks for your help!

[2018-03-23 11:06] mvgorcum commented on #2432
Attached.

![image](https://user-images.githubusercontent.com/24435423/37826123-2d3449c6-2e8a-11e8-80a6-42813ea0dc92.png)

[2018-03-23 11:08] JohnnyDoorn commented on #2431
Hi Ojr,
Unfortunately I do not have access to Matlab, and the free alternative (Octave) is unable to run the Matlab code (also I have to admit I'm not too well-versed in it).
However, in addition to R, I also checked the result in SPSS and it yields the same result as JASP - see the attached screenshot. My hunch is that there is something happening under the hood of Matlab that I cannot pinpoint,

[2018-03-23 11:18] ojr23 commented on #2431
OK. Thanks so much Johnny! You have reassured me that it is the JASP result
that we can rely on!

On 23 March 2018 at 11:08, JohnnyDoorn <notifications@github.com> wrote:

[2018-03-23 11:27] EJWagenmakers opened #2437 "NA as missing value by default"
Right now "NA" is not recognized as missing value by default: we only have NaN, ., and nan. Can we add NA to this list by default, so that users don't need to change the preferences? It is customary to have NA denote a missing value, particularly for R users.
![na](https://user-images.githubusercontent.com/8603015/37826880-860b0fd4-2e95-11e8-884d-2a1c07482c92.png)

Cheers,
E.J.

[2018-03-23 11:34] EJWagenmakers opened #2438 "Bayesian descriptive plot for RM ANOVA does not work"
Demonstrated with the BUGS data set. See attach. This plot does work for the classical RM ANOVA. (NB: I had to add "NA" to the list of missing values in order to be able to carry out this analysis)
E.J.
![plotrm_banova](https://user-images.githubusercontent.com/8603015/37827131-88921620-2e96-11e8-99dd-e905a0de5841.png)

[2018-03-23 13:58] rttl commented on #2424
getting the same error in my own dataset.

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.rmAnovaDescriptivesPlot(descriptivesDataset, options, perform, status, stateDescriptivesPlot = NULL)

.summarySEwithin(as.data.frame(dataset), measurevar = 'dependent', betweenvars = .v(betweenSubjectFactors), withinvars = .v(repeated

[2018-03-23 16:41] wolfgangII commented on #2286
Now everything is OK. Thank you.

[2018-03-23 16:41] #2286 closed

[2018-03-23 19:43] mfischer13 commented on #2435
Followed your instructions, ran as administrator, but the JASP Engine did not start.  Is it possible you sent the wrong file, as my machine has a 64-bit operating system.  Here is the window/message.  When I continued, as shown in the message, nothing happened.

From: bruno boutin [mailto:notifications@github.com]
Sent: Friday, March 23, 2018 4:03 AM
To: jasp-stats/jasp-desktop <jasp-desktop@norep

[2018-03-24 14:09] mukeshmakwana opened #2440 "Issues in assigning appropriate labels for 4 way RM ANOVA"
## Template for bug reports
 When performing RM ANOVA with more than 3 factors, the third factor labels gets replaced by the last factor labels and the labels for 4th factor on wards shows the default value of Level1, Level2 (does not accept the allotted names)
0.8.1.1

* JASP version: 0.8.1.1
* OS name and version: Windows 7 Ultimate
* Analysis: Four way Repeated Measures ANOVA
* Steps to reprodu

[2018-03-24 20:02] M8999ak opened #2441 "Error after installation"
## Template for bug reports

* JASP version: 0.8.6.0
* OS name and version: Windows 7 Ultimate
* Analysis:
* Steps to reproduce: Run the latest setup but after installation shows error when launched

## Template for enhancement requests

* Enhancement:
* Purpose:
![image](https://user-images.githubusercontent.com/37741074/37868443-515ad016-2fcc-11e8-93ad-37b66c48dbc3.png)

[2018-03-24 21:43] juliusverrel commented on #1536
@JorisGoosen  sorry for not replying earlier. your description of long-to-wide conversion sounds good. this would be "a" solution, but I'd still like to emphasize that the option to analyze long-format data without prior conversion, would be MUCH better, for a lot of reasons:

- Wide format is bad style according to "tidy data" standards.
- Long format is preferred by serious statistics software (

[2018-03-26 21:44] mvgorcum commented on #2432
On a whim I decided to try to run JASP in docker to solve this issue, and that worked. I used an ubuntu 17.10 base, so the error is probably somewhere in the KDE/QT packages.

[2018-03-27 08:07] boutinb commented on #2441
Hello @M8999ak
Can you try to install the Visual C++ Redistributable for Visual Studio 2015 on your computer, and start again JASP?
https://aka.ms/vs/15/release/vc_redist.x64.exe (if you have 64 bit computer)
https://aka.ms/vs/15/release/vc_redist.x86.exe (if you have 32 bit computer)

[2018-03-27 08:10] boutinb commented on #2435
@mfischer13 I did not receive the error message. To send it, you have to use directly the GitHub issues page (and not your email). Here you can drag and drop images and zip files.

[2018-03-27 14:59] gynt opened #2443 "lavaan ERROR: missing observed variables in dataset"
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: Windows 7
* Analysis: SEM using lavaan. Subcommand: lav_data_full
* Steps to reproduce: Use any dataset with variable names that include a '_'

I have a dataset that contains variables that include a '\_'.
I can succesfully run a simple SEM if I only specify variables without a '\_', such as:
 `abc =~ a + b + c`.
The error o

[2018-03-27 19:16] mfischer13 commented on #2435
Oh sorry--here is the error message
![error message](https://user-images.githubusercontent.com/13825234/37989587-778c170a-31c9-11e8-82b8-9eab89e92314.JPG)

[2018-03-28 06:51] boutinb commented on #2435
@mfischer13 I see that you put the runEngine.bat file in c:\Windows\System32, but you had to put it in c:\Program Files\JASP 0.8.6.0 folder, and run it there. Can you try it? It would be really handy for me to know what is going wrong on your machine, so that I can fix this problem for you, and maybe for other people.

[2018-03-28 07:42] vankesteren commented on #2443
hi @gynt,

thanks for your feedback! we're currently working on improving the syntax parser for the SEM module. I'll definitely make sure that we check for this issue too!

[2018-03-28 08:05] JessicaSWilliams1992 opened #2445 "Crashing - Windows 10 opening file (ntdll.ll)"
JASP (version 10.0.16299.248) continues to crash on Windows 10 (64-bit) laptop when trying to open a file. The error messages are provided.  When running an event log, the faulting module name is 'ntdll.dll' which has also been attached.  The following has been tried in order to rectify the issue:
- checked windows updates: none to install
- uninstalled and re-installed software
- continues to cra

[2018-03-28 08:25] boutinb commented on #2445
Hi @JessicaSWilliams1992 There is maybe a problem with the visual studio redistributable dll's we are shipping with JASP. They work for all PC's we used, but maybe not for yours. You can try to install yourself these dll's: https://aka.ms/vs/15/release/vc_redist.x64.exe
If this does not help, can you try to remove the dll's we ship with JASP (vccorlib140.dll, vcruntime140.dll, msvcp140.dll) in the

[2018-03-28 10:15] CasperAtUU commented on #2048
Seconded. We use CFA in a course on measurement, it's a very useful method. It's part of the Lavaan package in R, and I'd love to see it added to JASP since students have a pretty hard time using R to perform the analysis (they are familiar with SPSS).

[2018-03-28 10:35] EJWagenmakers commented on #2048
@vankesteren ?

[2018-03-28 11:01] JohnnyDoorn commented on #2432
Hi Mathijs,
Thanks for the update! I haven't been able to look at this issue further, as it's a bit outside of my programming range, but maybe @JorisGoosen or @boutinb have a use for the dockerfile to identify what is going on.
I'm glad that it works now though!
Cheers,
Johnny

[2018-03-28 11:03] #2431 closed

[2018-03-28 11:10] #2438 closed

[2018-03-28 12:15] JorisGoosen commented on #2432
Sounds like maybe there was a mismatch between the R-libs used for JASP and the ones that @mvgorcum took from Rstudio-repo. That would explain why a local install of 17.10 doesn't and a docker-install does work I think.

[2018-03-28 12:35] singleoohan commented on #1136
Windows can't show output.

<img width="824" alt="screen shot 2018-03-28 at 8 23 39 pm" src="https://user-images.githubusercontent.com/37870826/38029088-7ef403d2-32c7-11e8-9075-a8e668c9d237.png">

[2018-03-28 13:07] mvgorcum commented on #2432
Sounds plausible. Is there a way for me to find out which R libs are (/is) the culprit? While running in a container works, I'd rather use a normally installed version.

[2018-03-28 13:31] JorisGoosen commented on #2432
Well, the ubuntu deb-package depends on the following r-packages: `r-base-core, r-cran-rcpp, r-cran-rinside, r-cran-bayesfactor, r-cran-lme4, r-cran-afex, r-cran-car, r-cran-effects, r-cran-logspline, r-cran-lsmeans, r-cran-plotrix, r-cran-rjson, r-cran-vcd, r-cran-vcdextra, r-cran-ggplot2, r-cran-hypergeo` seeing if any of these are installed from the rstudio-repo would be a good start.

But it c

[2018-03-28 15:49] YamilVidal commented on #2424
Replicated same error with a dataset that was previously working fine. Error started after updating from JASP 8.4.0 to 8.6.0
OS: Windows 10

Error in if (usePooledSE) {: argument is of length zero

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.rmAnovaDescriptivesPlot(descriptivesDataset, options, perform, status, stateDes

[2018-03-28 23:15] mvgorcum commented on #2432
Running from console gave a long list of messages of "Package <something> not installed!" which prompted me to install those packages through R. This did remove all the "not installed" messages, though there is still a list of packages that have an "<package> is not the correct version;" error.
Other than that I only get "NOTE: Results may be misleading due to involvement in interactions", which s

[2018-03-28 23:28] milenra opened #2447 "Font in results window tiny, unreadable"
As of 0.8.6, the font in the results window has become so small, it is almost unreadable on 1920 x 1080 resolution, making this version unusable. I downgraded to 0.8.5 and it's large enough there, just as it used to be on 0.8.4, which I upgraded from. Please provide a way to increase font size.

JASP version: 0.8.6
Windows 7

[2018-03-29 11:05] Kucharssim commented on #2048
Note that it *is* possible to conduct CFA in JASP using the SEM module. However, the model has to be specified using the lavaan syntax (so it is only slightly easier than doing it in R) and currently it is not possible to obtain factor scores directly. Maybe it’s a good idea to create a CFA in the Factor analysis menu to enable some simple factor models by point and click...

[2018-03-29 14:33] JorisGoosen commented on #2432
Hmm, it just seems weird to me that this happens because of Qt/KDE because it seems to occur in an analysis..

I will have to check it out in a VM or something to see if I can trigger it and if the live kubuntu 17.10 already has the problem that should be easy enough. Ill get back to you when I have the time to do that!

[2018-03-29 14:48] baltzis opened #2448 "JASP produces irrelevant message for too long value labels in SPSS files"
Bug report:
* JASP version: 0.8.6
* OS name and version: Windows 10 Pro
* Analysis: When in the SPSS file (.sav) the value labels are too long (more than 67 [unicode?] characters), JASP generates the message "Can't open file. Bad allocation" and does not open the file.
* Steps to reproduce: Create an SPSS file with at least one value label longer than 67 [unicode?] characters.

* Enhancement: Prod

[2018-03-29 16:50] vankesteren commented on #2048
We will implement this reasonably soon!

[2018-03-30 00:55] diazbastian commented on #2448
This is very relevant, even more than the number of characters. I tried several combinations with the Latin alphabet (including "ñ") and it works very well, so I think this is specific to Greek and similar characters.

[2018-03-30 05:14] elisemessina opened #2449 "Error when trying to run descriptive t-test"
This analysis terminated unexpectedly.

Error in grid.Call(L_textBounds, as.graphicsAnnot(x$label), x$x, x$y, : polygon edge not found

Stack trace
lapply(vps, push.vp, recording)

FUN(X[[i]], ...)

push.vp.vpTree(X[[i]], ...)

push.vp(vp$parent, recording)

push.vp.viewport(vp$parent, recording)

grid.Call.graphics(L_setviewport, vp, TRUE)

(function (x)
{
    widthDetails(x)
})(list(label = 'MEM

[2018-03-30 06:23] baltzis commented on #2448
I am sorry, I don't understand the answer. How does this error makes relevant the error message and how usres should understand what is going on? Besides, I thought that JASP was intended to work also for (millions of) people who do not use the latin alphabet and/or are not software specialists. Please, let me know if this is the policy of the JASP team. Maybe I am missing something. Thanks.

[2018-03-30 06:54] EJWagenmakers commented on #2448
Dear Baltzis,

A note from the JASP team: you are correct -- the error message is uninformative. Also, we have already spent quite some time sorting out the curveballs that non-Latin alphabets throw at us; apparently this is one we missed. Instead of producing a more informative error message, I hope we can fix this at the root. Thanks for reporting this! DiasBastian -- thanks for discovering what

[2018-03-30 07:17] baltzis commented on #2448
@EJWagenmakers: Thank you for the prompt answer and the intention to resolve this.

[2018-03-30 12:51] timdraws opened #2450 "Bug in Bayesian RM ANOVA"
When performing a Bayesian RM ANOVA (i.e., using the example data set 'Bugs'), everything works fine until I try to create a plot. The following error comes up:

<img width="1280" alt="screen shot 2018-03-30 at 14 49 00" src="https://user-images.githubusercontent.com/36475541/38138152-8551b428-3429-11e8-9307-70b805520277.png">

Here's the JASP file: https://www.dropbox.com/s/jddj44b2x1mg5k3/Bug%20

[2018-03-31 01:30] juliebmorrison opened #2451 "Enhancement request - option to create new sum/mean variable during reliability analysis"
I love how easy it is to run a Cronbach's alpha in JASP, particularly including reverse scoring. We always run these analyses before computing the summed or mean score for a measure. I didn't see a way to create a new variable in JASP.

* Enhancement: Create a new variable (sum or mean) during the reliability analysis process
* Purpose: To allow for analyses of measures once we know they are relia

[2018-03-31 01:33] juliebmorrison opened #2452 "Enhancement request - Descriptives Plots split on 2 or more variables"
The boxplot feature under Descriptives is great, particularly the ability to select colored bars. However, I have some plots where I would like to split on 2 or more variables.

* Enhancement: Allow data to be split on more than one variable in Descriptives Plots
* Purpose: More detailed graphs

[2018-03-31 11:15] EJWagenmakers commented on #2451
The next version of JASP will have filtering of specific cases, and the version after that will allow users to create new columns with new variables. Would that address the issue?

[2018-03-31 11:17] EJWagenmakers commented on #2452
Ahh I see. Not sure how much work that is. @vankesteren?

[2018-04-02 11:37] MAgojam commented on #2443
Hi @vankesteren,
thanks if you want to solve problems using the SEM module with Jasp.
I am attaching screenshots  and zip with jasp file that raises the error "**lavaan ERROR**: missing observed variables in dataset".
A simple example of Mediation, which does not give problems if done with RStudio and the laavan package.

All my esteem and interest in the great work you are doing.
Maurizio
![scree

[2018-04-04 12:08] BertDeSmedt opened #2456 "Enhancement request - partial correlations"
* Enhancement: The possibility of calculating partial correlations. This would require an extension of the correlation matrix tab allowing to calculate a correlation between two (or more) variables, whilst controlling for one or more partial variables that are considered to be confounds or covariates.

* Purpose: as a developmental researcher, I often need to calculate associations between variabl

[2018-04-04 17:26] gynt commented on #2443
hahaha, the default green and blue are horrendous ;)

I love these kind of updates you give!

[2018-04-05 09:14] boutinb commented on #2445
Hi @JessicaSWilliams1992 Could you manage to run JASP?

[2018-04-05 09:16] boutinb commented on #2441
Hello @M8999ak Did you try to install the redistributable lIbraries for Visual Studio 2015?

[2018-04-05 11:47] M8999ak commented on #2441
Hi Bruno Boutin,

I tried to install the redistributable libraries for visual studio 2017.
But it showed some error.  So I was not able to install Jasp 0.8.6.
As my old Jasp 0.8.1 was running fine i did my analysis in that.

Thanks and regards,
Mukesh

On Thu, Apr 5, 2018 at 2:46 PM, bruno boutin <notifications@github.com>
wrote:

--
Mukesh Makwana,
Doctoral Student,
Centre of Behavioural and Cogn

[2018-04-08 09:12] mrstruijk opened #2457 "Bayesian Graph"
## Template for enhancement requests
Hi! The network graph output of the sig. testing is fantastic.  Would this be possible for Bayesian correlations as well?
* Enhancement:  Selecting Bayesian (Pearson) correlations in the Network Plot section.
* Purpose:  Compare Bayesian and significance testing correlations graphically.  Complete my thesis with less headache.

[2018-04-08 09:38] JessicaSWilliams1992 commented on #2445
It is still not working and comes up with the same error.  I installed the vc_redist.x64.exe from the link you provided.  I removed the dll's from the pre-install directory and ran JASP from the pre-install directory.  All these actions did not resolve the issue. I was not sure what you meant by removing the dll's from the installation folder as the installation I installed in a single exe.

[2018-04-08 14:58] MAgojam opened #2458 "Error in loadNamespace (name): there is no package called 'emmeans'."
* JASP version: last jasp-desktop-development
* OS name and version: Win 10 Pro (ITA)  ver. 1709  build 16299.309
* Analysis: Repeated Measures ANOVA

Hi Jasp developers,
above all, thank you for your great work.

I'm interested in new features waiting for the next jasp update, and in particular to try the nonparametric options for ANOVA.
I followed the "Guide to Building JASP" for windows and tri

[2018-04-08 18:42] Richenda opened #2459 "JASP crashes when loading moderately sized CSV viles"
Running JASP 0.8.6 on Windows 10. JASP crashes (i.e. completely closes) any time I try to open a moderate-large CSV file i.e. ~1500kb. Works fine on ~100kb files.

## Template for enhancement requests

* Enhancement:
* Purpose:

[2018-04-09 07:10] PaulGinns commented on #1188
Hello,

I'm wondering if this suggestion I made a few years ago is going to be considered soon? I think this "minimal assumptions" effect size for experimental data would be a very useful addition to JASP.

Regards,

Paul Ginns

[2018-04-09 09:09] boutinb commented on #2459
@Richenda JASP uses shared memory based on temporary files on Windows. For this the C drive should have enough space, especially when loading big files. If you right-click the C drive in Explorer, choose properties, and you can check how much space the drive still have.

[2018-04-09 13:21] Kucharssim opened #2461 "Scatterplot axes in Bayesian Correlations are not scaled well"
## Template for bug reports

* JASP version: 0.8.6.0
* OS name and version: Windows 10 Home, version 1709, OS Build 16299.309
* Analysis: Bayesian Correlation Pairs
* Steps to reproduce: Open the Adam Sandlers dataset and select Bayesian Correlation Pairs. Input the Year and Freshness as variables of interest and select Scatterplot. The plot clearly does not scale the axes well, making it hard to

[2018-04-09 14:01] EJWagenmakers commented on #2461
This is an old scaling issue that we really ought to fix. @AlexanderLyNL I think we need to define the difference between min and max, and then offset using a proportion of the observed range or something.

[2018-04-10 12:31] koenderks commented on #2461
This will be solved in the next update!
![solved](https://user-images.githubusercontent.com/25059399/38556993-e0703974-3ccb-11e8-9481-e0ae89a4c444.png)

[2018-04-10 13:30] EJWagenmakers commented on #1188
We have been implementing a bootstrap test recently, should be in the developers' version -- I'll go and check whether it was for the t-test or something else.
E.J.

[2018-04-10 15:43] JohnnyDoorn commented on #2450
This was fixed in PR #2439

[2018-04-10 15:43] #2450 closed

[2018-04-10 15:45] JohnnyDoorn commented on #2437
It's in there by default - maybe you removed during a demonstration?

[2018-04-10 15:50] FransMeerhoff commented on #2437
The Reset button should get the defaults back again, including NA

[2018-04-10 18:43] #2461 closed

[2018-04-11 07:36] markovendelin commented on #1111
Hi,

we have been hitting this issue as well and were as confused as in https://github.com/jasp-stats/jasp-desktop/issues/1116. In particular, we have about 10 measurements within subject and it makes more sense to us to be able to see standard error (or confidence) that represents variability of that particular measurement than to have CIs corrected for within-subject design.

In the shown exampl

[2018-04-11 08:26] EJWagenmakers commented on #1111
Interesting.
@JohnnyDoorn, @Janto91 ?

[2018-04-11 19:00] AlexanderLyNL commented on #2457
This is ongoing research that requires a whole lot of more thought that we're working on, but I'm not sure how long it takes before we get satisfactory answers for this.

[2018-04-11 19:02] AlexanderLyNL commented on #2449
Do other analyses work? Could you please send us the JASP file in a zip so we can have a look at it.

[2018-04-11 20:25] MAgojam commented on #2458
Hi Alexander,
thanks for your quick reply.

I copied the "emmeans" folder in Jasp's directorry as you suggested, resolving the reported error.
Another error appeared that indicated the presence of "estimability" version 1.2, suggesting the need to use a version> = 1.3.
I also made this change, replacing the 1.2 with the latest 1.3 of "estimability".

Now I receive the following msg error (see scre

[2018-04-11 20:40] AlexanderLyNL commented on #2458
Hi Maurizio,

Sorry for doing this so clunkily and in such a dumb stepwise session. The reason is that we're still working on some minor issues and ironing out the process, so the best thing to do is wait a couple of days. However, if you don't mind helping out with a bit of testing, you can also upgrade to what we're trying to do now, by

- Downloading our new R package: https://static.jasp-stats

[2018-04-11 20:42] AlexanderLyNL commented on #2447
Hi Milenra,

Thanks for the suggestion. Interestingly, there was an scaling issue with hdpi screens and 0.8.6 was supposed to fix this. The idea of changing the font size is natural. We hope to fix this up soon.

Cheers,
Alexander

[2018-04-11 20:44] AlexanderLyNL commented on #2421
Hi Euabela,

This will be fixed in the next issue. One work around for now is to refresh the analysis and then save the plot in your preferred format. Let me know whether this works.

Cheers,
Alexander

[2018-04-11 20:48] AlexanderLyNL commented on #2440
Hi M8999ak,

Does this problem still occur in our newest version? If it does, can you please include the JASP file as a zip to this conversation?

Cheers,
Alexander

[2018-04-11 20:49] AlexanderLyNL commented on #2436
Hi Ratmuffin,

Thanks for the suggestion, we're revamping part of the UI and this is something we should take into account when making the new elements.

Cheers,
Alexander

[2018-04-11 20:52] AlexanderLyNL commented on #2429
Hi Valter,

Thanks for the suggestion. The credible intervals in the descriptive plots are based on Jeffreys's parameterisation invariant priors used for estimation. I'll give the documentation project a bump.

Cheers,
Alexander

[2018-04-11 21:12] AlexanderLyNL commented on #2458
The comment by Johnny gives some background to the error:

https://github.com/jasp-stats/jasp-desktop/issues/2412

[2018-04-12 07:26] boutinb commented on #1136
@singleoohan I see in the error, that R cannot set the working directory (setwd). On Windows, this directory is the data repository for local (nonroaming) applications. Usually it is in  in C:\Documents and Settings\<username>\Local Settings\Application Data\JASP\temp
Can you see this directory?

[2018-04-12 07:29] boutinb commented on #2447
@milenra Do you use high DPI Windows feature?

[2018-04-12 07:35] boutinb commented on #2449
Probably, you don't have the Arial font: open the Font Book and check whether the Arial fonts are enabled.

[2018-04-12 07:42] boutinb commented on #2445
The dll's are in Program Files/JASP folder. Can't you find then there?

[2018-04-12 08:08] tvantimmeren commented on #2424
I get the exact same error when trying to descriptives plot from Bayesian repeated measures ANOVA.

JASP 0.8.6.0
Windows 7

[2018-04-12 09:28] euabela commented on #2421
Thank you - that worked!

- Eugenio
On 11 Apr 2018, at 21:44, AlexanderLyNL <notifications@github.com> wrote:

Hi Euabela,

This will be fixed in the next issue. One work around for now is to refresh the analysis and then save the plot in your preferred format. Let me know whether this works.

Cheers,
Alexander

—
You are receiving this because you authored the thread.
Reply to this email directly

[2018-04-12 09:33] AlexanderLyNL commented on #2421
Thanks for the feedback. Sorry for the inconvenience, but the bug will be fixed in a next issue.

[2018-04-12 09:33] #2421 closed

[2018-04-12 22:02] MAgojam commented on #2458
Hi Alexander,
thanks again for your time.

Now it's ok (see screenshot).
![screenshot 2018-04-12 23 45 44](https://user-images.githubusercontent.com/36552289/38706541-db4ab0bc-3ead-11e8-91e8-8c743df4e208.png)

I can continue to explore and my students will be happy about this and wait to be able to download jasp 0.8.7

Greetings,
Maurizio

[2018-04-13 09:30] AlexanderLyNL commented on #2458
Hi Maurizio,

Thanks for the feedback. Glad that it works! Please let us know if you're interested to develop for JASP. The current framework is a bit opaque and will be replaced soon. Documentation can be found here: https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/r-analyses-guide.md

For clarity, does JASP 0.8.6 suffices for your students needs?

Cheers,
Alexander

[2018-04-13 09:30] #2458 closed

[2018-04-13 11:53] AlexanderLyNL commented on #2412
This seems to be fixed in the new version. If not, please reopen.

[2018-04-13 11:53] #2412 closed

[2018-04-13 12:00] AlexanderLyNL commented on #2449
Here's a guide on how to install fonts.

https://mac-fusion.com/how-to-install-fonts-into-font-book/

But before doing this, it's good to verify that this indeed the problem. You can find the font book in your Application folder.

[2018-04-13 13:21] hcp4715 opened #2467 "Add standardized alpha for reliability analysis"
## Template for enhancement requests
I recommended JASP to a colleague to do reliability analysis, and she told me that standardized alpha is missing, so I guess it might be better to add this output.
* Enhancement: Add standardized Cronbach' alpha
* Purpose: make JASP comparable to the output of SPSS, and it is also not very complicated because the psych package already provided such output.

[2018-04-14 11:50] EJWagenmakers opened #2468 "Saving residuals and factor scores"
From the forum:

"Can I save factor score, regression residuals, ... in JASP ? I did not see the function, but maybe it is well hidden ?"

Would be useful. Perhaps we can address it once we have "compute columns" working. @JorisGoosen @vankesteren

E.J.

[2018-04-16 13:02] JohnnyDoorn commented on #1111
Hi Marco,
Which version of JASP are you using? In the latest version (8.6), we added an option to pool the SE across the RM factors when plotting error bars, which should result in option A from the article you linked. See the attached screenshot for where to find this option. Please let me know if this is not what you are looking for, as there are multiple ways of going about this type of plottin

[2018-04-16 13:27] markovendelin opened #2469 "JASP build broken due to hardcoded jsoncpp path"
Recent commit (2eaa958b57a1e65716731e13ff29dfe64f52e7a7) broke JASP compilation on Gentoo:

[code]

I can see from the source, that you try to guess JSONCPP library location and flags. There is much easier and supported solution: using `PKGCONFIG` in your qmake file. See https://doc.qt.io/qt-5/qmake-project-files.html, under "Configuration Features". In this case, you would have to add

[code]

in

[2018-04-16 13:28] markovendelin commented on #1111
I am on GitHub master branch. Would love to test it, but the build is broken due to https://github.com/jasp-stats/jasp-desktop/issues/2469 . Let's see who will manage to fix it first (I'll probably can do it towards the end of the week)

[2018-04-16 16:03] JohnnyDoorn commented on #2469
Same here, on Arch

[2018-04-17 08:56] JorisGoosen commented on #2469
Hey @markovendelin that sounds like a good plan, we'll try it out

[2018-04-17 12:05] markovendelin commented on #2469
Great! Ping me if you run into trouble

[2018-04-17 14:18] lithos opened #2471 "Enhancement:"
## Template for enhancement requests

* Enhancement: Add normality test option to Descriptives
* Purpose:  Display the Shapiro Wilks test for a given continuous variable.

As a preliminary inspection, I encourage our students to run some descriptives and plots (distributions. boxplots, + QQ plots) and to have a look at a normality test to get a feel for it. Including the option in the Descriptive

[2018-04-17 18:50] AlexanderLyNL commented on #2471
I'm not sure whether every variable should be checked for normality. For most analyses that depend on normally distributed data we have this assumption check. At the same time, I do understand the request and assumptions check should be done first. If we do this, I'm not sure whether this is part of the description of the data. @EJWagenmakers Thoughts?

[2018-04-17 18:51] AlexanderLyNL commented on #2441
I'll close this for now, but I can recommend using the newest version of JASP; it has many new features. Please reopen this issue if the problem persists with a newer version.

[2018-04-17 18:51] #2441 closed

[2018-04-18 08:47] vankesteren commented on #2452
This would indeed be very nice, but not a priority right now. In the future we will look into this again!

[2018-04-18 08:50] vankesteren commented on #2426
And what is the scaling percentage in `Settings > Display`? Should look like this:
![image](https://user-images.githubusercontent.com/11596858/38921531-4a0cf450-42f6-11e8-817f-41f0021dc704.png)

[2018-04-18 08:52] vankesteren commented on #2394
I am closing this issue. If people disagree, we can reopen it 😄

[2018-04-18 08:52] #2394 closed

[2018-04-18 08:54] juliebmorrison commented on #2452
Thank you! I used JASP the other day to analyze the data from 5 student projects, and it worked great. I look forward to continued improvements in the program.

[2018-04-18 08:54] #2452 closed

[2018-04-18 08:57] juliebmorrison commented on #2451
Yes, that will work perfectly. You all are the best. Thank you!

[2018-04-18 08:57] #2451 closed

[2018-04-18 21:15] chrisaberson opened #2476 "JASP Crashing Every Single Time"
* JASP version: 0.8.6
* OS name and version: Windows 10 Enterprise
* Analysis: All
* Steps to reproduce: Open JASP. Open datafile. Run Analysis. Boom. Unexpected internal error.

Any file, any analysis. 0.8.5 works fine though.

[2018-04-19 08:43] lithos commented on #2471
Hi,  this is my request so to chip in and describe why I requested

I am approaching from a teaching perspective, basic stats and introduction
to the area (which is why jasp is so nice with its GUI)
not from an experienced statistician.

Consider I want to compare some means from my exp., I have to decide to do
a 't-test' in JASP and then select normality assumptions
and even a non-parametric test

[2018-04-19 09:06] markovendelin commented on #1111
I didn't realize that I was on development branch. When switching to the master, all compiled, as expected. And I can pool the errors, as expected, thank you!

[2018-04-19 09:06] AlexanderLyNL commented on #2471
Hi Rob,

Thanks for your thoughts on this matter. I'm more convinced that we should do this. Furthermore, I agree that the

data -> assumption check -> analysis -> results -> interpretation -> conclusion

order is very reasonable from a data analysis perspective. It's not too hard to implement. We're currently wrapping up a next release, so I can't promise that this feature will be in the next rel

[2018-04-19 09:28] JorisGoosen commented on #2469
Well we added it to development, it seems to work here on arch. Does it do the same on Gentoo?

[2018-04-19 09:58] markovendelin commented on #2469
It breaks now on different stage:

[code]

I am on development branch, with the last commit:

[code]

You may want to setup some CI for the project to avoid these issues. See https://github.com/marketplace/category/continuous-integration for available services.

[2018-04-19 10:32] JorisGoosen commented on #2469
Well we have a Travis build check running but to set up more would be impractical.

Your error is caused because I forgot to merge the pullrequest  #2475 yesterday..
I just did so and now it should work.

My apologies for the clumsiness there!

[2018-04-19 10:47] markovendelin commented on #2469
No problem :)

Now it compiled nicely - we could close the issue.

Travis should be sufficient, but it looks to be not enforced on merge (aka you can merge with the broken build). If you look into travis build reports they are all in red, but reported on main page as all is fine. Its probably due to travis tracking some different branch.

[2018-04-19 11:47] JorisGoosen commented on #2469
Yeah Travis has some problems with some R-packages, so sadly enough it wouldn't be very practical to disable merge when Travis complains because then we wouldn't be able to merge anything :p

But that will be fixed at some point of course and at least this issue can be closed now :)

[2018-04-19 11:47] #2469 closed

[2018-04-19 18:19] chikabiddy opened #2479 "This analysis terminated unexpectedly."
I'm trying to run a meta-regression with multiple covariates. I used a different dataset previously and was able to add the covariets without a problem, but have added additional data to the dataset since then and now two of the covariets I need will not run. I get this error (included issue only displays one of the problem variables):

This analysis terminated unexpectedly.

Error in parse(text =

[2018-04-19 19:16] chrisaberson commented on #2476
Yes. JASP starts fine.

It is crashing with all the files I've tried (csv and a sav)

[2018-04-19 21:53] chikabiddy commented on #2479
That is it, yes! I just changed my file and it ran beautifully! Thank you so much for the prompt reply and the help.

[2018-04-19 21:53] #2479 closed

[2018-04-19 22:24] lindeloev opened #2480 "Summary Kendall: no package called "SuppDists""
In summary statistics, I tried calculating a BF for Kendall's tau_b = 0.37. Works fine for N >= 50, but fails for N < 50 with

[code]

![image](https://user-images.githubusercontent.com/1439417/39021473-2bc22aba-4431-11e8-886c-3760b353a2bc.png)

[2018-04-19 22:37] lindeloev commented on #2480
Forgot to mention: JASP 8.5.1 on Ubuntu 16.04. Maybe everything's just too old and I should upgrade to the newest Ubuntu when it comes out? :-)

[2018-04-20 09:29] akashrajkn commented on #2480
I got the same error as well. I reinstalled `SuppDists` and the analysis runs fine. I'll check out why this is happening.

[2018-04-21 18:01] santsang commented on #1220
I love R for one more reason - it pushes me to learn statistics properly.  GUI programmes do not drive us to consult the manual and seek explanations for using alternative settings.  Also, the scripts per se are records of the procedures.  We can verify our mistakes.

Sandro

[2018-04-21 19:14] AlexanderLyNL commented on #1220
We also love R and we also hope that people learn statistics properly. The integration with R code is on its way, but requires some changes to the current architecture and more time.

[2018-04-21 19:33] AlexanderLyNL commented on #2480
The problem is due to the use of SuppDists to calculate the p-value when n < 50:
- n < 50 regime: Given tau use the exact sampling from SuppDists to calculate the p-value
- n >= 50 regime: Given tau use an approximate normal distribution to calculate the p-value.

The reason for doing so is for consistency. I mimicked the behaviour of cor.test, which also uses these two regimes. In other words, th

[2018-04-21 19:59] EJWagenmakers commented on #1220
In my opinion, there is little distinction between typing "t.test" using the keyboard or clicking a button "t-test" using the mouse. Statistical understanding comes from knowing what happens if you execute a particular command, regardless of the specifics of the input medium. Also, I'd like to stress that the analyses in JASP are fully reproducible. That said, the explicit integration with R is we

[2018-04-22 03:46] santsang commented on #1220
We know that interface does change user behaviours.  We also know that SPSS
are designed for someone who are not necessarily rigourously trained in
stat.  Sandro
On 21 Apr 2018 20:59, "EJWagenmakers" <notifications@github.com> wrote:

[2018-04-22 16:34] AlexanderLyNL commented on #1220
Hi Sandro,

Not all empirical scientists might have the time or the resources to learn R and are, thus, bounded by what expensive software packages offer. For instance, not all of the available software packages offer Bayesian methods, or network analyses, but we do offer them for free. Hence, “in the olden days” clinical psychologists who wanted to do a network analysis, but couldn’t use R, were

[2018-04-22 18:09] santsang commented on #1220
Agreed.  We should appreciate others' effort in improving science including
developing educational software. It is hard to tell the timeline precisely
when it comes to invention. Sandro
On 22 Apr 2018 17:34, "AlexanderLyNL" <notifications@github.com> wrote:

[2018-04-23 02:04] charlesmalpas opened #2484 "Enhancement: Provide odds ratios for contingency tables (as well as log odds)"
## Template for enhancement requests

* Enhancement: Provide odds ratios for contingency tables (as well as log odds)
* Purpose: The contingency table module provides log odds ratios, but not odds ratios. It would be very useful to have both options (with 95% confidence intervals), especially for teaching purposes.

[2018-04-23 08:48] akashrajkn commented on #2480
Yup, I'll look into it.

[2018-04-23 09:32] kornbrot opened #2485 "Enhancement: Generalized Linear Mixed Models"
* Enhancement: Generalized Linear Mixed Models, GLMM
* Purpose: Enable repeated measures for proportions (binomial), counts (Poisson). Include Bayes Information Criteria, BIC. Same facilities as SPSS Mixed.
Know its a tough ask, BUT
we have submitted Mss that show

1.  ANOVA and GLMM give different answers for both inferential and descriptive stats
2. BIC reliable discriminates among link functiio

[2018-04-23 10:34] EJWagenmakers opened #2487 ""Exact p-values" do not work for the t-test when p<.001"
https://twitter.com/nikegnanateja/status/988344409065275392

When "exact p-values" are set in the preference menu, the users wants exact p-values. This works for ANOVA, but for the t-test it fails for p-values smaller than .001. Attached is a screenshot. Send me an Email if you like the matching .jasp file

E.J.
![problemwithexactpvalues](https://user-images.githubusercontent.com/8603015/39121638-

[2018-04-23 10:34] EJWagenmakers commented on #2487
@vankesteren ?

[2018-04-23 11:12] lindeloev commented on #2485
This was also requested in #1103 and #1846, for the record. Jamovi offers a nice implementation of mixed models and GLM though not GLMM.

[2018-04-23 12:10] kornbrot commented on #1103
Also would like to push this high on Agenda. Have posted similar request couple hours ago

[2018-04-23 12:16] kornbrot opened #2489 "Bayesian Repeated measures ANOVA. descriptive plots"
* OS name and version: 8.0.6
* Analysis: Bayesian Repeated measures ANOVA
* Steps to reproduce: 1 factor, 3 levels. does analysis but crashes on request for descriptive plot
before crash
__
______
after crash on request for descriptive plots
_____
Error report:
This analysis terminated unexpectedly.
Error in if (usePooledSE) {: argument is of length zero
Stack trace
_______

Works fine in ordinary

[2018-04-23 12:55] EJWagenmakers commented on #2487
OK, more info: "I discovered that if you untick the preference, press OK, and then tick it again (and press OK) it does work (at least for ANOVA, and on my machine). Clearly a bug, but at least this should be a workaround."

[2018-04-23 13:04] EJWagenmakers commented on #2485
Yes, good suggestions and on our radar since the inception of JASP.

[2018-04-26 04:42] HorwoodP commented on #1927
Sorry - didn't mean to close off this issue!

Just wondering if this bug will get looked at soon, since I'd like start generating contingency tables without the observed counts being displayed.

Thanks very much.

[2018-04-26 05:40] EJWagenmakers commented on #1927
Good point. Can we fix this please?

[2018-04-26 07:33] FransMeerhoff commented on #2476
Hello @chrisaberson

Thanks for the info.

If JASP crashes without loading any datafile this suggests that the JASP-Engine (which executes the R) will not start at all.
To get more information about this, would you try the start the JASP-Engine separately.

I've attached bat file (in a zip format) to this issue
If you unzip it, and copy this file to the installation of JASP 0.8.6 (Program Files\JA

[2018-04-26 07:36] #2400 closed

[2018-04-26 07:39] #2467 closed

[2018-04-27 13:53] tkahan opened #2495 "Enhancement: Data manipulation (compute new variable, aggregate data, & restructure data)"
## Template for enhancement requests

* Enhancement: Add data manipulation to JASP (e.g., ability to compute new variable, aggregate data, restructure data).  In many experiments each participant may have hundreds of rows of data and computations are needed before a statistical analysis can be performed.  This may include creating new variables after a mathematical procedure (for example, computin

[2018-04-28 21:08] kurdupelek opened #2496 "Plots (fonts) are not showing up properly. [Solved] Restore standard fonts."
## Template for bug reports

* JASP version: 0.8.6
* OS name and version: macOS High Sierra Version 10.13.4
* Analysis: Bayesian Independent Samples T-test
* Steps to reproduce: Anytime I run a Bayesian Independent Samples T-Test (regardless of the data set used), the plots do not display properly. I have attached examples using the Tooth Growth data set that came with JASP, although the error was

[2018-04-29 15:46] EJWagenmakers commented on #2496
Thanks for reporting this -- I haven't seen this one before!
E.J.

[2018-04-29 15:47] EJWagenmakers commented on #2495
Thanks for the suggestion. All of this is under development and will be implemented in the next two releases!

[2018-04-29 15:47] #2495 closed

[2018-04-29 16:06] joucoski opened #2497 "JASP on ubuntu 18.04 not run"
I am trying to run JASP on my new Ubuntu 18.04, but the following error message appears:

[code]
I'm using:
`Linux 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

I need to run JASP and I would like to help you. Thanks in advance.

[2018-04-29 17:46] pr0m1th3as commented on #2497
Hi, this is an additional request rather than a reply to the initial post. I haven't tried flatpak on 18.04, but I've tried to install through the ppa:jasp-uva/jasp, but the release file is missing for "bionic". Could you please update it so i can switch my desktops to 18.04? Thanks a lot.

[2018-04-29 20:08] akashrajkn commented on #2497
@joucoski Thank you for reporting this. I had a similar problem in Ubuntu 16.04. The flatpak version fails because it's not able to create an OpenGL context ([bug on launchpad](https://bugs.launchpad.net/ubuntu/+source/qtbase-opensource-src/+bug/1590737)). I am guessing that you have multiple video cards (#2423). That being said, I am able to run the flatpak version on my system (ubuntu 18.04). Ca

[2018-04-29 20:14] akashrajkn commented on #2497
@pr0m1th3as currently the ppa has binaries for Ubuntu 17.10. It will be provided for 18.04 soon - a new release is round the corner :) .

For now, you can try the workaround mentioned [here](https://askubuntu.com/q/293203). You will be able to use binaries of artul. Modify the distribution of the ppa to `artful` and then install jasp.

[2018-04-29 20:33] #2489 closed

[2018-04-29 21:43] lindeloev opened #2498 "Choose standardizer for effect size in paired t-test"
If you do a Paired samples t-test on pretest and posttest scores, you would use the pretest SD as standardizer, not the SD of the pairwise differences as is currently used. This is because the pretest SD represents the population variance that you want to "move" the subjects relative to.

So I suggest that you add an option to choose standardizer [var2-var1, var1, var2]. Both for frequentist t-tes

[2018-04-29 22:13] joucoski commented on #2497
Thanks @akashrajkn This was exactly what I needed!
Now my JASP is running perfect on Ubuntu 18.04!

[2018-04-30 14:41] ajestudillo opened #2499 "post hoc tests after simple main analysis"
I find the analysis of simple main effects very useful. But it would be great to perform post hoc comparison for each simple main effect. I was wondering whether this could be implemented soon.

[2018-04-30 18:55] smoore4moma commented on #1655
I received a similar Norton threat alert today.  Unselecting Large File Support in the install options allows you to continue without error.  This is a comment not an issue.  I have submitted this to Norton for whitelist review.

![img](https://user-images.githubusercontent.com/4989910/39443839-cab5fba6-4c83-11e8-9fbd-abf74d94c700.png)

Filename: d7c6a173b9e9ab1c11d400405563670fd74c1a0e
Threat nam

[2018-04-30 22:35] EJWagenmakers commented on #2498
Do you have a reference perhaps? If the test is on the score *difference*, I am not sure how we can define the test-relevant parameter as one that involves only the pretest...
E.J.

[2018-04-30 22:58] lindeloev commented on #2498
Cumming (2013): https://link.springer.com/article/10.3758%2Fs13428-013-0392-4, section "choice of standardizer". Wolfgang Viechtbauer (metafor developer) has also raised it here and there, e.g.: https://stats.stackexchange.com/a/256205/17459.

The pretest would be just one of the variables, so if you could select one of [var2-var1, var1, var2], that could work. It would complicate the widget a bit

[2018-04-30 23:17] EJWagenmakers commented on #2498
Thanks; I am afraid that, unless I am missing something, I disagree with Cumming here. We want to test the difference, that is, the treatment effect.  Consequently, the effect size we want to learn about also concerns the difference.  If every participant shows similar improvement, SDdiff is small and effect size is therefore large; this is how it should be. On the other hand, if you use SD1 then

[2018-05-01 06:48] luketudge commented on #2498
I think Cumming's point was that using SDdiff as standardizer is indeed appropriate for inference about the difference (for which we want to know the sampling distribution of the difference rather than of the mean in any one group), but that when viewed purely descriptively it can be misleading. Is that right?

If the treatment effect is extremely consistent across all participants but tiny relati

[2018-05-01 07:06] FransMeerhoff commented on #2405
Hi @klladd

I'm sorry that we can not proceed with this issue.
Do you have any new information from your side.
Or can we close this issue?

Kind regards
Frans Meerhoff

[2018-05-01 10:13] lindeloev commented on #2498
Exactly as Luke explained, for treatments, you often want to know how much
you "moved" the group relative to the population from which they were
sampled at baseline. This also allows for conversions to Number Needed to
Treat etc.

It's not like it's difficult to do by hand :-) But I've seen several
publications messing them up, reducing comparability between studies. So it
would be nice if JASP co

[2018-05-01 14:43] R180 commented on #1298
Did this ever get addressed in JASP? It does seem to exist in R, and in some other open-access R-based stats programs.

[2018-05-02 01:37] klladd commented on #2405
Hi Frans –

I had to move on to other projects and ran out of spare time to track down the JASP problem. Sorry I wasn’t much help from this end!

-          Kevin

From: FransMeerhoff [mailto:notifications@github.com]
Sent: Tuesday, May 1, 2018 3:07 AM
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Ladd, Kevin L <kladd@iusb.edu>; Mention <mention@noreply.github.com>
Subject: Re:

[2018-05-02 06:58] FransMeerhoff commented on #2405
Hi @klladd

No problem of course.
I'll close this issue for now and you can reopen at any time if you want.
Our next release is planned very soon. The new version 0.9 might solve your problem.
Thanks for so far.

Cheers Frans Meerhoff

[2018-05-02 06:58] #2405 closed

[2018-05-02 07:13] vankesteren commented on #2225
Fixed in #2308 👍

[2018-05-02 07:13] #2225 closed

[2018-05-02 08:04] FransMeerhoff commented on #1743
Hi @lindeloev

JASP is now available for virtually all Linux distributions through the widely available flatpak. This is most likely already installed on your distribution and otherwise can be  easily acquired through your package manager.

We refer to our download page for further installation info and close this issue.

Kind regards
Frans Meerhoff

[2018-05-02 08:04] #1743 closed

[2018-05-02 10:13] R180 commented on #423
Did this ever get addressed in JASP? It does seem to exist in R, and in some other open-access R-based stats programs.

[2018-05-02 10:36] lindeloev commented on #1743
@FransMeerhoff, Flatpak doesn't work on my Ubuntu 16.04 but that was addressed in #2423. TL;DR: There's no solution but to upgrade to a newer Ubuntu.

That's OK; I'm just mentioning it here if others look to this issue for solutions.

[2018-05-02 10:41] AlexanderLyNL commented on #1743
Thanks for the additional info.

[2018-05-02 16:49] JohnnyDoorn commented on #423
Hi Richard,
It's definitely still on the list! There have been some other, more pressing, features of ANOVA we wanted to implement first, but as those are (almost) done, it shouldn't be a long wait!
Cheers
Johnny

[2018-05-03 06:44] FransMeerhoff commented on #1522
Dear Nikita,

Please Reopen issue if problem still exist.

[2018-05-03 06:44] #1522 closed

[2018-05-03 06:47] FransMeerhoff commented on #1234
Oldie,
Solved with #2308

[2018-05-03 06:47] #1234 closed

[2018-05-04 05:46] Newstats opened #2506 "Can't Perform a Binary logistics regression"
## Template for bug reports.
I can not perform a binary logistics regression in Windows. 64bit I've watched JASP videos were it worked correctly but not on my download. downloaded uninstalled several times.  When I try and perform the regression it allows me to transfer to items to _Covariates_ but the button won't work for me to add the Dependent Variable. I've tried dropping and like the video a

[2018-05-04 08:34] fplatz opened #2507 "Enhancement request: Reporting likelihoods in Bayesian tests"
* Enhancement: Reporting models' likelihoods in Bayesian tests in output tables
* Purpose: For the purpose of calculating posterior model odds (with own prior probabilities) as well as for teaching statistics for instance, it would be great to have the likelihoods of every model in the output table. It might be the case that some won't need this information, a possible solution might be the implem

[2018-05-04 08:42] EJWagenmakers commented on #2498
OK, I can see how the SD1 approach is informative, *descriptively*. For inference I would still want to stick to SDdiff though. But it would be possible to add the SD1 method somewhere in the GUI. Any suggestions?
E.J.

[2018-05-04 08:43] EJWagenmakers commented on #2507
You mean the marginal likelihood, right? For which tests in particular?
E.J.

[2018-05-04 08:51] fplatz commented on #2507
Yes, the marginal likelihood (excuse my sloppy terminology). First of all in the ANOVA, but the t-test as well as the binomial test would be great (however, for the last one, it would not be as essential as for the other test, due to the possibility of calculating by hand).

Best,
Friedrich

[2018-05-04 10:15] akashrajkn commented on #2506
For covariates, you can add variables of type *Scale*.

[2018-05-04 12:27] #2389 closed

[2018-05-05 20:53] DocVXL commented on #914
I would definitely like to see either N or df added to the correlation matrix output.

[2018-05-07 10:41] lindeloev opened #2511 "Copy-pasting notes include backslashes"
If I add a note to an analysis and copy-paste it elsewhere, it include backslashes. So this:

    We conducted a Repeated Measures ANOVA... bla bla... F(1, 46) = 11.803, p < 0.001) and some special charaters #(/¤)(%#"

copy-pastes as this:

    We conducted a Repeated Measures ANOVA\.\.\. bla bla\.\.\. F\(1, 46\) = 11\.803, p < 0\.001\) and some special charaters \#\(/¤\)\(%\#"

JASP 8.5.1, Ubuntu

[2018-05-07 22:14] EJWagenmakers commented on #2498
Well I guess I am willing to provide a confidence interval on effect size when SD1 is used as a standardizer (or a credible interval, possibly with a vague prior). But the *test* just seems to be on the treatment effect, and therefore involve SDdiff. And this produces the problem. If we just let users define effect size by means of SD1, and then conduct a test for the treatment effect using SD1, t

[2018-05-08 03:59] JASPUSER09990 opened #2512 "Network analysis breakdown"
## Template for bug reports

* JASP version: Version 0.8.6
* OS name and version: Windows 7 Enterprise SP1
* Analysis: Network analysis
* Steps to reproduce: Network analysis --> Select 25 variables as Dependent variables --> Click "Network plot" --> Add a binary variable to "split by". Then, a box coming out saying "JASPEngine.exe has stopped working". The whole programme stopped.
This mistake me

[2018-05-08 08:05] boutinb commented on #2445
Hallo @JessicaSWilliams1992 Does this problem still occur? It is quite difficult for us to guess what is the problem with your installation, because we cannot reproduce it. But lately, someone told us that it had to install JASP with an admin account to make it work, his normal user account did not have enough privilege. Does this problem occur on different PC/laptops?

[2018-05-08 08:09] boutinb commented on #2476
Hello @chrisaberson, did you try what Frans sent you? We just got an email from a user that he had to use an admin account to install JASP so that it works successfully. Is it maybe your problem?

[2018-05-08 09:48] vandenman commented on #2512
Hi, I cannot reproduce the error using the attached example dataset. Could you perhaps test if the error also occurs with the attached dataset?
[BigFiveInventory.zip](https://github.com/jasp-stats/jasp-desktop/files/1983304/BigFiveInventory.zip)

[2018-05-08 10:14] JASPUSER09990 commented on #2512
![untitled](https://user-images.githubusercontent.com/39075740/39751645-219b7cc4-52fc-11e8-8dd6-ed5e1c915b34.jpg)
It happens again as the picture shows. I found it's ok if you put DVs in and keep it unchanged. But if you add some covariate or change another setting such as estimators, then, the software stops.

[2018-05-08 15:15] EJWagenmakers opened #2514 "y-axis value in"
I may have mentioned this before. Take a correlation data set (I took the Adam Sandler data) and select "correlation matrix". Now the lowest value on the y-axis is denoted as 0e+00. Let's print "0" here instead.
See screenshot.
![adamsandlerscaling](https://user-images.githubusercontent.com/8603015/39765982-6de6741c-52e3-11e8-8b2b-1cacd6cfe5e9.png)

E.J.

[2018-05-08 19:02] chrisaberson commented on #2476
I just tried it. Doesn't really do anything. Opens a window, says all this stuff.
C:\WINDOWS\system32>set PATH=.\R\bin\x64;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\iCLS\;C:\Program Files\Intel\Intel(R) Management Engine Components\iCLS\;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\Google\Google

[2018-05-09 07:58] vankesteren commented on #2506
![image](https://user-images.githubusercontent.com/11596858/39802750-2664afaa-536f-11e8-8b01-21e4197a714b.png)

For the dependent variable, make sure it is set to categorical or ordinal, too! `You can do this by clicking on the variable type indicator ![image](https://user-images.githubusercontent.com/11596858/39802781-51db7c86-536f-11e8-9385-65de3067d09b.png) ![image](https://user-images.githubus

[2018-05-09 10:50] juliusverrel commented on #2187
Any news on this? As few researchers (even very senior ones) are aware that results of explorative ANOVA needs to be corrected for multiple comparisons, a great side effect would be to make people aware...

[2018-05-09 10:52] juliusverrel commented on #1536
Any news on this? Sorry to insist, but this would very much simplify our everyday lab life :-)

[2018-05-09 13:38] BryanBurnham opened #2518 "Internal error """
* JASP version: 0.8.6.0
* OS name and version: Windows 10
* Analysis: Independent Groups t-Test
* Steps to reproduce: Created data file from the attached .txt file, tried to begin running a t-Test, but an Error window keeps appearing saying there is an internal error with "" as the only message on the error.

[Red Study Replication Project Data .txt](https://github.com/jasp-stats/jasp-desktop/file

[2018-05-09 15:16] darcysantor opened #2519 "Request for Item Response Models (IRT)"
## Template for enhancement requests

* Enhancement:
I wanted to ask if you have plans to implement methods to fit an item response model (IRT) for questionnaire, survey and multiple choice test data. In its simplest form, this is essentially involves fitting a curve that models the probability of answering a question correct as a function of total score. Once the curve is fit, the parameters asso

[2018-05-10 05:10] ajestudillo commented on #2499
Just want to follow up this issue. Any idea if this can be implemented in future versions?

[2018-05-10 19:46] wagnerfontes2 opened #2520 "Crash at startup"
* JASP version: 0.8.6.0
* OS name and version: Windows 8.1 Pro 64 bit
* Analysis: none - the software does not start
* Steps to reproduce:
- I downloaded the installer, run it and at the end it does not start JASP (the checkbox was marked).
- Tried to run Jasp.exe in the Program Files, then got the message "JASP.exe application error. The application could not be initialized correctly (0xc000007b)

[2018-05-10 21:22] kcsa opened #2521 "Repeated measures ANOVA - Simple contrasts incorrect?"
## Potential Bug: Repeated measures ANOVA - Simple contrasts incorrect?
* JASP version: 0.8.6 (MacOS)
* OS name and version: Mac OS X El Capitan (10.11.6)
* Analysis: Repeated Measures ANOVA with Simple Contrasts
* Steps to reproduce: Data and syntax are attached as a .jasp file (in a .zip)

Hello,
I recently tried out JASP for performing a repeated measures ANOVAs with Simple Contrasts. I think t

[2018-05-11 09:01] AlexanderLyNL commented on #2521
Hi Kirsten

Thanks for reporting this! @JohnnyDoorn  and @Kucharssim can you add this to the list and look into this?

Cheers,
Alexander

[2018-05-11 09:02] AlexanderLyNL commented on #2520
Dear Wagner,

Could you please try to use the pre-installed zipped version?

https://jasp-stats.org/download/

Cheers,
Alexander

[2018-05-12 12:16] psyqf0719 opened #2522 "when the new version can be released"
for some specical reason,my windows can not install the 0.8.6 version,and alway warning  there are some virus.anyway,i wonder when the new version release and try again

[2018-05-12 12:18] psyqf0719 commented on #2520
i have the same trobule,but the engineer why not reflect whether there some question in the 0.8.6 version

[2018-05-12 21:27] wagnerfontes2 commented on #2520
Dear Alexander,
I had already tried that, but tried again (running normally and running as administrator) and got the same error message.
Best regards,
Wagner.

[2018-05-14 07:36] akashrajkn commented on #2518
@BryanBurnham  can you try installing the pre-installed version for windows? It is available on the [downloads page](https://jasp-stats.org/download/):

[2018-05-14 10:07] kevinvschie opened #2523 "Error while running Bayesian RM ANOVA"
## Template for bug reports

This analysis terminated unexpectedly.

Error in if (usePooledSE) {: argument is of length zero

Stack trace
analysis(dataset = dataset, options = options, perform = perform, callback = the.callback, state = oldState)

.rmAnovaDescriptivesPlot(descriptivesDataset, options, perform, status, stateDescriptivesPlot = NULL)

.summarySEwithin(as.data.frame(dataset), measurev

[2018-05-14 11:40] JohnnyDoorn commented on #2187
Hi Julius,
Currently there is no short term plan yet to incorporate this, but I agree it would be very helpful to include this correction. I do wonder though, how you imagine this correction to be carried out? Would it correct across several separate ANOVA tables, or only within each ANOVA table? In the latter case it would be rather simple to implement, so that would speed up the implemenation!
C

[2018-05-14 12:47] juliusverrel commented on #2187
Hi Johnny, thanks for your fast reply! I think implementing it across analyses would be too difficult - anyways there is no agreement on how to correct for multcomp across analyses and tasks. But it is clear (though largely unknown - I learned about it a year only ago...) that at the very least, it is needed for the multiple tests within one explorative ANOVA. So, implementing it here would be a g

[2018-05-14 16:19] allefeld opened #2524 ""No usable sandbox!""
JASP crashes on first start after installation:

* JASP version:

installed via flatpak
[code]

* OS name and version: Debian GNU/Linux 9.4

* Analysis: -

* Steps to reproduce: after installation (under sudo), try to start JASP from the command line:
[code]

[2018-05-15 07:49] FransMeerhoff commented on #2476
Hi @chrisaberson

I can see in your log that you try to start the batch file from the "c:\windows\system32\" folder
instead of the "c:\Programs Files\JASP 0.8.6.0\"
Could you please run the batch file again from that latter location ?
(So copy the zip file to "c:\Programs Files\JASP 0.8.6.0\" unzip it there and run runEngine.bat from there)

Thanks a lot for your help so far.

Kind regards
Frans M

[2018-05-15 07:54] FransMeerhoff commented on #1431
@lesajm

We are close to a new release of JASP 0.9 .
If you still have the problem with that version please reopen this issue.

Kind regards
Frans Meerhoff

[2018-05-15 07:54] #1431 closed

[2018-05-15 10:08] akashrajkn commented on #2511
@lindeloev this is by design. The text is copied as Markdown.

[2018-05-15 10:49] lindeloev commented on #2511
OK, this may be slightly confusing to the novice, so an option to copy it for Word could be useful (and perhaps default). But since this is not a bug, I'll close this issue. Thanks for explaining!

[2018-05-15 10:49] #2511 closed

[2018-05-15 20:50] allefeld commented on #2524
I also tried unsuccessfully to install from the PPA using the Ubuntu instructions. After installing the source via `add-apt-repository ppa:jasp-uva/jasp` and while updating the package list:
[code]

I haven't found instructions on how to obtain the public key.

[2018-05-15 23:52] diazbastian commented on #2273
Google confirmed at the annual developer conference that it will [support](https://www.blog.google/products/chromebooks/linux-on-chromebooks/) gnu/linux applications on chromebook via a VM. I think that's the best way to support Jasp on that platform. It is also possible to use Jasp via [rollApp.](https://www.rollapp.com/app/jasp)

[2018-05-16 15:32] #2443 closed

[2018-05-16 16:01] #2521 closed

[2018-05-17 06:59] tomtomme opened #2535 "outlier labels of boxplots overlap"
[exampleBox.zip](https://github.com/jasp-stats/jasp-desktop/files/2011952/exampleBox.zip)

Version 0.8.6 (flatpak)
Built on: Mar 22 2018 14:47:07 (Netherlands)
OS name and version: openSUSE Tumbleweed, Linux kernel 4.16.8-1 64bit, KDE
* Analysis: outlier labels of boxplots overlap and make them hard to read
* Steps to reproduce: produce a boxplot that shows nearby outliers like with the example da

[2018-05-17 07:09] HorwoodP opened #2536 "Custom Tables functionality requested"
## Custom Tables functionality for JASP?
* Enhancement:
Would it be possible to add something like the SPSS Custom Tables functionality to JASP?

* Purpose:
It would be very useful to have a table builder more powerful than the contingency tables feature currently in JASP. This would permit the user to build presentation quality tables and choose between row%, column%, mean, median, percentile etc

[2018-05-17 07:25] tomtomme opened #2537 "wrong label / count of boxplots outliers"
Version 0.8.6 (flatpak)
Built on: Mar 22 2018 14:47:07 (Netherlands)
OS name and version: openSUSE Tumbleweed, Linux kernel 4.16.8-1 64bit, KDE
* Analysis: Boxplot outlier labels usually show the right ID/row of the case where they occured. But if there are NaN or other ignored values and the ID lies beneath one of those "data-gaps" the number is to low. The gaps are just not counted, thus the num

[2018-05-17 09:59] boutinb commented on #2520
Dear Wagner,
The problem is we cannot reproduce this problem. I have just installed a clean Windows version (without extra software) and I can install and run JASP without problem (with setup or ZIP format, with admin or no admin user...). Does this problem occur with other computers? Did you install software that could interfere with JASP, like R, R studio, Developer tools like Visual Studio? I w

[2018-05-17 10:29] JorisGoosen commented on #2537
This is fixed, also takes into account filtered rows (filtering is possible in the next version!)

[2018-05-17 10:29] #2537 closed

[2018-05-17 10:31] JorisGoosen commented on #2242
Filtering has been added to JASP, you can use R-code to filter rows or an "easier" filter constructor. It also possible to (de)select nominal/ordinal values and have the corresponding rows filtered in/out.

This is included in the next release.

[2018-05-17 10:31] #2242 closed

[2018-05-17 11:46] EJWagenmakers opened #2539 "SumStats: Binomial bug"
@akashrajkn @quentingronau

I start the Sumstats module and select binomial. I immediately click "prior and posterior", leaving successes and failures at 0. Then I get a weird plot (see screenshot
![sumstatsbinomialissue](https://user-images.githubusercontent.com/8603015/40175527-a99c24ce-59d8-11e8-8df6-0b356c7dfad4.png)
). What I *ought* to get in this example is either no plot at all (and the me

[2018-05-17 11:47] EJWagenmakers commented on #2539
Sorry, my apologies. This *does* make sense! I just didn't look carefully. Sorry. I am closing this issue. If only all such bug reports were this easy ;-)
E.J.

[2018-05-17 11:47] #2539 closed

[2018-05-17 12:54] EJWagenmakers opened #2540 "BAS linear regression: scale not wide enough"
See screenshot!
@vandenman
![scalenotwideenough](https://user-images.githubusercontent.com/8603015/40178596-3cc8f818-59e2-11e8-9a69-d6de8a11e679.png)

[2018-05-17 14:16] EJWagenmakers commented on #2540
Clarification: the x-axis ought to be longer than the longest bar. Maybe you've already fixed this, @vandenman

[2018-05-17 14:27] EJWagenmakers opened #2541 "Does EJ love Bayes bug in Bayesian correlation"
Take the file DoesEJLoveBayes.csv (on the OSF, in the "generic JASP workshop" folder available at https://osf.io/r73y9/ under the "Correlation" subfolder). The data are weird (on purpose, see scatter plot). The analysis works just fine, but what does not work is the sequential analysis; it gives an error message saying "plotting not possible" and something else. Now I've created this data set by d

[2018-05-17 16:59] tomtomme opened #2545 "No frequency table with continuous scale"
Version 0.8.6 (flatpak)
Built on: Mar 22 2018 14:47:07 (Netherlands)
OS name and version: openSUSE Tumbleweed, Linux kernel 4.16.8-1 64bit, KDE
* Analysis: descriptive statistics only offer  frequency tables for nominal and ordinal data. This makes no sense as theoreticaly continuous data is always measured discrete in practice. And if not used with too many decimals  frequency tables offer valuab

[2018-05-17 17:13] tomtomme opened #2546 "no numbers on distribution plot y-axis"
Version 0.8.6 (flatpak)
Built on: Mar 22 2018 14:47:07 (Netherlands)
OS name and version: openSUSE Tumbleweed, Linux kernel 4.16.8-1 64bit, KDE
* Analysis: descriptive statistics distribution plots do not show any numbers on the y-axis if the data is set continuous. My first semester students tell me this makes the graph harder to read. I tend to agree despite the fact that the emphasis of the sho

[2018-05-17 20:39] wagnerfontes2 commented on #2520
HI,
It happens only in this computer. I did try another one and it worked, but the Windows version is different (10).
This is the only Windows 8.1 I have access to.
Yes, I do have R and R Studio installed here. No developer tools in this machine.
The problem is that I would not like to trade R and R Studio for Jasp. Is it possible to have a workaround and have both in the same machine? Any test to

[2018-05-18 07:03] markovendelin commented on #2523
Same here, on Linux using flatpack. It seems that its introduced with PooledSE for regular repeated ANOVA plots. The corresponding options are missing for the Bayesian RM ANOVA and analysis fails due to that

[2018-05-18 07:07] markovendelin commented on #2426
I have the same issue in Linux. The buttons are scaled way too much and, while text is more visible than earlier, I would prefer to scale it down a bit.

Ideally, there should be an option to adjust the scale for text and buttons, separately from each other

[2018-05-18 07:17] AlexanderLyNL commented on #2522
Dear psyqf0719,

The new release is on its way and will be out soon. Can you tell us what kind of message you get? Furthermore, does the pre-installed zipped version work for you?

https://jasp-stats.org/download/

Cheers,
Alexander

[2018-05-18 07:26] AlexanderLyNL commented on #2535
@koenderks Can you check whether this is still the case. For the new plots?

[2018-05-18 07:28] AlexanderLyNL commented on #2541
Will be fixed by the Bayesian correlation and t-test revamp.

[2018-05-18 07:30] AlexanderLyNL commented on #2546
@EJWagenmakers what would you like on the y-axis?

[2018-05-18 07:32] AlexanderLyNL commented on #2545
@JorisGoosen we'll look into this once I'm back.

[2018-05-18 07:37] viktorsvetsky opened #2547 "Bugs during 1. removing plot correlation matrix and 2. opening plots after reopenning jasp file"
I experienced 2 bugs during using JASP.

1. In Regression/Correlation Matrix when I first tick in plots Correlation matrix, the plots has shown, but when I untick the box, program stopped working and displayed error message (screenshot attached).
[https://user-images.githubusercontent.com/16431139/40057587-f7b83fe8-584e-11e8-9c41-f7658e023943.PNG](url)
2. Each time I reopen jasp file all plots in

[2018-05-18 07:49] AlexanderLyNL commented on #2547
Hi Viktor,

Could you please upload the jasp-file (as a zip) to this post then we can try to reproduce this bug.

Cheers,
Alexander

[2018-05-18 07:55] EJWagenmakers commented on #2546
Well, it is a density, so the units on the y-axis don't add much information. People easily misinterpret the numbers as probabilities. [If anything, I'd like to offer the opportunity to change the number of bins.] So I remain to be convinced...

[2018-05-18 07:57] AlexanderLyNL commented on #2523
Fixed by issue #2505

[2018-05-18 07:57] #2523 closed

[2018-05-18 07:59] EJWagenmakers commented on #2545
We'd have to think about this -- if you feel that continuous data are really discrete, you can change the measurement level to reflect this assumption, and then JASP _will_ give you the frequency table. The problem with allowing it by default is that people may unwittingly enter a continuous variable with, say 1000 different values, yielding a table with 1000 rows. Not a big problem, but it might

[2018-05-18 08:01] EJWagenmakers commented on #2545
But I did notice that we do allow the use of continuous variables in our frequency analysis (e.g., the classical contingency tables). Does this make sense, or should we  disallow continuous variables here, @vankesteren?

[2018-05-18 08:04] EJWagenmakers commented on #2535
I think this will be difficult to fix in general (what do you think, @vankesteren?): the outliers could be anywhere, and there could be many of them. For instance, suppose you have a cluster of 20 outliers that are very close together. Tricky. Placing the labels so that they don't overlap will remove them from the points that they are associated with.
E.J.

[2018-05-18 08:04] AlexanderLyNL commented on #2545
I think that we shouldn't allow continuous variables in contingency tables, binomial tests etc.

[2018-05-18 08:05] EJWagenmakers commented on #2426
I'd like to express my support for this request. Old people like me generally prefer the text larger :-) It would be nice to be able to control this, for instance in the Preferences. @boutinb
E.J.