[2016-04-10 02:38] R180 commented on #1253
On a newer machine, I see what you see. But on an older one, no files with a csv or jasp extension were shown within JASP's file viewer until I closed JASP and then re-opened it.

[2016-04-12 08:08] FransMeerhoff opened #1281 "JASP failure on Windows 10"
JASP version 0.7.5.5 does not run on Windows 10 laptop.
Data is loaded but no analyses can be done.

[2016-04-12 08:37] FransMeerhoff commented on #1281
Beste Rob,

Zoals Eric-Jan al meldde kunnen wij het probleem hier nog niet reproduceren.
Zou je ons daarbij kunnen helpen met het beantwoorden van de volgende vragen:

- Foutmelding:
Krijg je nog wel een foutmelding op het scherm, en zo ja welke.
Kan ook bijv. iets zijn: ‘JASP has experienced an unexpected internal error’ maar dan willen we dat ook graag weten

-Data
Zou je de gebruikte data file

[2016-04-12 12:08] #1097 closed

[2016-04-12 12:08] #1098 closed

[2016-04-12 12:09] #1096 closed

[2016-04-12 12:10] #1068 closed

[2016-04-12 13:45] #1270 closed

[2016-04-13 07:13] singmann commented on #1252
I had the same problem on Linux Mint 17.2 which is based on Ubuntu 14.04. I needed to go via Jonathan Love's repository to install Jasp. However, this repository is not kept up-to-date. In any case, here the necessary steps:

[code]

[2016-04-13 07:16] fdabl commented on #1252
yes, however, my problem is that I want the new version :)

[2016-04-13 07:18] FransMeerhoff commented on #1281
Beste Frans,
Voor nu alvast de dataset (via Excel voor JASP in csv bestand omgezet) m.b.t. ANOVA en het volgende:
- er zijn geen foutmeldingen
- Rx64 3.2.2 is geïnstalleerd
Volgens het personeel van de computerwinkel waar ik de laptop gekocht heb, gaat het om blokkades, zowel van AVG Free als van de firewall van Windows10 , vanavond weet ik meer, ik hou je op de hoogte.
De settings-system-about in

[2016-04-13 07:19] FransMeerhoff commented on #1281
Beste Frans,
Het probleem is nog niet opgelost, morgen gaan iemand van de computerwinkel er mee verder aan de slag. Via Configuratiescherm->systeem heb ik nog de volgende machinegegevens gevonden:
Windows 10 Home
@2015 Microsoft computer
Asus Tek Computer Inc
model: X556UB
Processor: Inter(R)Core (TM) i5-6200U CPU @ 2.30 GHz  2.40 GHz
Geïnstalleerd geheugen: 8.00 GB
Type systeem: 64 bits besturing

[2016-04-13 07:38] singmann commented on #1252
@fdabl What about you figure out the exact necessary steps to [build from source](https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/development/jasp-building-guide.md) and let us know here? That would be a good job to the community and a nice contribution to Jasp.

[2016-04-13 08:09] fdabl commented on #1252
you. are, of course, totally right. just hoped that somebody else (eg. jonathon) has done that already somewhere. i will have a look sometime next week

[2016-04-13 08:19] singmann commented on #1252
Jonathan has unfortunately left the active Jasp development. You can now only find him under [former Team members](https://jasp-stats.org/the-team/). So that might be the reason that Ubuntu is not that strongly supported anymore.

[2016-04-13 08:26] FransMeerhoff commented on #1281
Beste Rob,

Dank voor de info en data.
We hebben helaas het probleem met de opgestuurde data en de door jou geïnstalleerde versie van R nog niet kunnen reproduceren.

Ik onderzoek hier ondertussen verder of de genoemde virusscanner of FileWall een rol kunnen spelen.

Zou je nog het volgende kunnen proberen:
Op de download pagina is tegenwoordig een gezipte geïnstalleerde versie van JASP op Windows

[2016-04-13 14:51] boutinb commented on #1252
Hi @fdabl, @froukehe and @singmann
We support at the moment only Ubuntu Willy version for JASP 0.7.5.5
When we took over the development, Trusty version was not supported for the last version of JASP. We made the decision to limit the number of supported version for the time being, thinking that we could wait for the new LTS version when it will be released (Xenial Xerus planned on 21st of April).

[2016-04-14 14:02] akashrajkn opened #1285 "SPSS importer issues"
1) error - unable to open "Bias value unexpected, cannot read floating point numbers!"
files: multipleregression.sav, pearson_scorrelation.sav

2) error - **date format wrong**
expected - "09/04/2013 13:36:26";  obtained - "1.35977e+10"
file: GORN_music_pilot_anonymized.sav

3) error - **special characters not recognized**
expected - "“yessing”";  obtained - "�yessing�"
file: earning prospects met

[2016-04-14 14:38] aknight1-uva commented on #1285
Please do not cover more than one found problem in any one issue: It makes the work flow unmanageable.

[2016-04-14 14:41] aknight1-uva opened #1286 ".sav import error."
unable to open "Bias value unexpected, cannot read floating point numbers!"
files: multipleregression.sav, pearson_scorrelation.sav @ https://drive.google.com/open?id=0ByZfAEja_lrMd0luczhEWlJfcUU

[2016-04-14 14:41] aknight1-uva opened #1287 ".sav impoort error"
date format wrong
expected - "09/04/2013 13:36:26"; obtained - "1.35977e+10"
file: GORN_music_pilot_anonymized.sav @ https://drive.google.com/open?id=0ByZfAEja_lrMd0luczhEWlJfcUU

[2016-04-14 14:42] aknight1-uva opened #1288 ".sav import error"
**special characters not recognized
expected - "“yessing”"; obtained - "�yessing�"
file: earning prospects meta-analysis men only.sav @ https://drive.google.com/open?id=0ByZfAEja_lrMd0luczhEWlJfcUU

[2016-04-14 14:43] aknight1-uva opened #1289 ".sav import error"
some of the floating values are shown as integers
expected - "3.5"; obtained - "3" [row: "179"; column: "68"]
file: Exp1_Data.sav
other files: dotprobeall.sav, DataUsedforStereotypeAwarenessExclusion.12.4.2013.sav @ https://drive.google.com/open?id=0ByZfAEja_lrMd0luczhEWlJfcUU

[2016-04-14 14:44] aknight1-uva opened #1290 ".sav import error"
certain character strings are not read properly (consecutive double inverted commas not shown properly)
expected - >>""net""<<; obtained - >>"net"<<
file: data_EpleyAkalisWaytzCacioppo.sav @ https://drive.google.com/open?id=0ByZfAEja_lrMd0luczhEWlJfcUU

[2016-04-14 14:48] aknight1-uva commented on #1286
multipleregression.sav import already fixed (in my fork).

[2016-04-14 14:49] aknight1-uva commented on #1287
Currently SPSS date formats are unknown - Will have to so some work to find this out.0

[2016-04-14 14:49] akashrajkn commented on #1286
Okay, I'll redo the tests from your code and let you know...
On Apr 14, 2016 4:48 PM, "Patrick Knight" <notifications@github.com> wrote:

[2016-04-14 14:50] aknight1-uva commented on #1288
Code page conversion required to fix this - currently being worked on.

[2016-04-14 14:51] aknight1-uva commented on #1290
Possibly the same issue as issue #1288.

[2016-04-15 07:31] aknight1-uva commented on #1286
Hoi Raj,

I’ve split up the issue to five new ones: You don’t need to redo them..

 _____
Patrick Alan Knight
Programmer
T: +31 (0)20 525 5993 | M: +31 (0)6 46 85 58 60

From: akash raj [mailto:notifications@github.com]
Sent: donderdag 14 april 2016 16:50
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Knight, Patrick <A.G.Knight@uva.nl>
Subject: Re: [jasp-stats/jasp-desktop] .sa

[2016-04-15 10:22] EJWagenmakers opened #1291 "Text for classical one-sided t-test"
@raviselker

The classical one-sided t-test gives the following text underneath the table [with comments]:

"For all tests, the alternative hypothesis specifies that group Fixation is less than group Horizontal .[EJ: there's an extra space here]
ᵃ Levenes [EJ: can we add the apostrophe please? It is Levene's, right? Or else it it Levenes' -- please check] test is significant (p [EJ: the < sign doe

[2016-04-15 10:35] EJWagenmakers commented on #1291
Hey this is weird; if I do not use the OSF previewer but open a file directly in JASP then the text *does* look good. See screenshot!

![image](https://cloud.githubusercontent.com/assets/8603015/14559067/8d67d2ce-0306-11e6-9185-6dc4609119be.png)

[2016-04-15 10:40] akashrajkn commented on #1291
@EJWagenmakers can you share the jasp file here?

[2016-04-15 12:42] EJWagenmakers commented on #1291
https://osf.io/6qyxe/

See text under the table for the classical t-test (you have to scroll down
a little, the first analysis is Bayesian)

E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Prinsengracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

[2016-04-15 13:11] EJWagenmakers opened #1292 "T-test and state system bug"
Consider the Bayesian t-test for the kitchen roll data. Suppose you tick all options. Some analyses are pretty slow (robustness check, sequential plot). Suppose you test an order-restricted hypothesis; JASP is calculating the plots, and as it is busy calculating, you change the hypothesis (you tick a different order-restriction). The result: JASP is confused and does not produce any plots at all (

[2016-04-15 14:27] metamorphose42 opened #1293 "variables lost in variable window, despite being on JASP data sheet?"
After importing data from a cvs file into JASP, with all variables perfectly to be found in the data sheet, when I go to analyse my data, not all variables appear in the variable window. It's usually the last one from the data sheet that just isn't there...? Anyone any clue why this happens?

Thanks!

Best,
Clarisse

[2016-04-16 07:38] krismartens opened #1294 "Bayesian Repeated Measures ANOVA on Macbook"
Yesterday in a introductory course of EJWagenmakers I experienced this:
In Bayesian Repeated Measures Anova: after adding the factors, output was given.
But after that, changing the Bayes Factor, of checking Effects, or checking factors as Nuisance, didn't give another output. Nothing happened.

With a Macbook OS X El Capitan 10.11.3. But a colleague with Yosemite experienced the same on her Macbo

[2016-04-19 11:50] mlanier commented on #1281
I cannot read german at all, but I am getting a similar response on Windows 7 professional.

[2016-04-19 12:53] FransMeerhoff commented on #1292
See also #1247. Probably same issue.

[2016-04-20 11:24] FransMeerhoff commented on #1281
Beste Frans,
Het systeem is opnieuw geïnstalleerd en verder is de nvidea videokaart uitgeschakeld. Degene die zich hiermee heeft beziggehouden (Ron de Jonge) denkt dat het probleem te maken had met de videokaarten, er zitten namelijk twee videokaarten in mijn laptop, een Intel videokaart en de genoemde nvidea videokaart. Hij vermoedt dat JASP voor het uitvoeren van de analyses contact zocht met de

[2016-04-20 11:24] #1281 closed

[2016-04-20 15:21] aknight1-uva commented on #1286
pearson_scorrelation.sav also readable.

[2016-04-20 16:00] aknight1-uva commented on #1288
Fixed for earning prospects meta-analysis men only.sav:
Fixed on Linux only - Added libraray ICU for codepage conversion.
earning prospects meta-analysis is written with windows CP 1265, JASP uses unicode utf-8.

[2016-04-21 16:24] jquadril opened #1298 "post hoc for interaction"
Any chance you can add post-hoc capabilities for interaction effects on ANOVA

[2016-04-22 11:02] raviselker commented on #1298
Duplicate of #423. We definitely want to implement this, but the implementation unfortunately is not as straightforward as it appears.

[2016-04-22 11:02] #1298 closed

[2016-04-22 11:04] raviselker commented on #1211
@FransMeerhoff @boutinb  I think it is important to fix this for the next major release

[2016-04-22 20:59] ProfCLC opened #1299 "Linear regression t-values"
v. 0.7.5.5: The t-values in the coefficients table in the linear regression procedure are missing. A comparison table output of this version and 0.7.1.12 is attached.

![0 7 1 12_coeff_output](https://cloud.githubusercontent.com/assets/8106710/14754758/43ebe5e0-0892-11e6-8923-f7c5a62ce9e5.PNG)
![0 7 5 5_coeff_output](https://cloud.githubusercontent.com/assets/8106710/14754759/43ec7f3c-0892-11e6-8f

[2016-04-24 13:35] IndrajeetPatil commented on #423
Hi,

Just a follow-up on this question: I see that this thread has been closed, but I still don't see any option for carrying out post-hoc tests for *interactions,* which is what I was querying about. The current option only does this for *main effects.*

Is there any plan to include this in future version of JASP?

Thanks,
Indrajeet

[2016-04-24 13:41] IndrajeetPatil opened #1300 "Bonferroni-corrected post-hoc comparisons for interactions in classical ANOVA"
Hi,

I am following up on a prior query: https://github.com/jasp-stats/jasp-desktop/issues/423#issuecomment-77344504.

I see that JASP now includes an option to have corrected post-hoc comparisons for *main effects*, but would it be possible to do such tests for *interaction* effects? Is there any plan to include this in future versions of JASP? This is one feature that is missing from SPSS and wi

[2016-04-24 14:39] raviselker commented on #423
This issue is still open. I closed a different issue that was a duplicate of this one. We still want to do this at some point, but as it will not be trivial to implement this we have other priorities at the moment.

[2016-04-24 14:40] raviselker commented on #1300
Duplicate of #423. I answered your question in #423.

[2016-04-24 14:40] #1300 closed

[2016-04-24 16:31] IndrajeetPatil commented on #423
Okay, good to know that this will be implemented in future. Thanks.

[2016-04-25 10:26] raviselker commented on #1299
Yes, we are aware of this issue. We already fixed it and it will be included in a bug-fix release which will probably be online this week.

[2016-04-27 20:13] raviselker commented on #1299
The bug-fix release is now online: https://jasp-stats.org/download/

[2016-04-27 20:13] #1299 closed

[2016-04-27 20:14] #1279 closed

[2016-04-28 10:56] eort commented on #1197
Hi,

Is the fix already released? I am working on Ubuntu 14.04, use jasp 0.7.5 and bumped into the same issue. I had to downgrade to 0.7.1 to be able to run the repeated measures ANOVA.

Eduard

[2016-04-28 18:32] coledavis opened #1301 "Standard Error, skewness and kurtosis"
Is it just me, or do these seem to be the same figure across several variables in a file?

[2016-04-30 20:07] coledavis opened #1302 "Bayesian One Sample T-Test hypotheses"
Ignore. Error.

[2016-04-30 20:20] coledavis commented on #1302
Ignore this, I think something had stuck.

[2016-05-02 05:15] paulinedefromagier opened #1303 "Cannot make contingency tables with Mac OS X"
Hello, I've tried to create a simple 2x2 contingency table but it will not process. The message I get is: This analysis terminated unexpectedly. Please contact its author.\n\nError : map::at\n

I am currently using version 0.7.5.6 on my Mac OS X

Any help would be greatly appreciated!

[2016-05-02 09:23] FransMeerhoff commented on #1303
Hello  @paulinedefromagier

I've added an example of a 2x2 contingency table that works for me on the same version and OS that you are using. Can you check the difference in data between you're and this version.
If this won't help you please sound us the data that you are using.
You can do that in this issue, by saving the data as a .txt file or send the data attached to F.A.M.Meerhoff@uva.nl.

Ki

[2016-05-02 10:40] #1302 closed

[2016-05-04 07:45] FransMeerhoff opened #1304 "Remove all button"
It is desired to have the possibility to remove all the analyses in the result screen.

[2016-05-04 12:23] philippberens commented on #1260
I agree - that would be nice. In particular, since this already seems to be implemented for the log-linear model.

[2016-05-09 03:52] middlepathway opened #1307 "Enhanced Keyboard Shortcuts"
JASP really needs to have more keyboard shortcuts. Suggestions include:

- Keyboard shortcut for each analysis
- Shortcut to add a variable to test column (this is vital, moving mouse to click each variable is time consuming when variables are not ordered the same as your factors).
- Shortcut to switch between different viewers

[2016-05-09 19:37] cnhstreet opened #1308 "NHST t-test: Cohen's d wrong"
[FakeData.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/255744/FakeData.jasp.zip)

Attached is a .jasp file. Run an independent samples (NHST) t-test with accuracy as the DV and conscious/unconscious as the IV. If you ask for an effect size, it reports it at around _d_ = 0.8 (a fairly substantial effect). But the group means are 0.54 (SD = 0.10) and 0.56 (SD = 0.15) (on a scale of 0 t

[2016-05-10 10:23] raviselker commented on #1308
Which version of JASP are you using? I just ran the analysis in the latest version of JASP (0.7.5.6) and here it gives a cohen's d of around 0.1. There was a bug in a previous release that lead to a wrong effect size (I think it was the beta version of 0.7.5, see issue #1106). If you download the latest version of JASP (https://jasp-stats.org/download/) this bug should be fixed.

[2016-05-10 11:24] aknight1-uva commented on #1288
update: ICU no longer used: QTextCodec etc. used instead.

[2016-05-10 11:29] aknight1-uva commented on #1289
Can't reproduce this one.

[2016-05-10 11:34] aknight1-uva commented on #1290
This is not an issue with the .SAV importer - but with the CSV importer - CSV dictates that a quote (") is written as two quotes - Since CSV uses quotes to enclose strings.

[2016-05-10 15:14] cnhstreet commented on #1308
Ah yes you are correct - I was using the beta version of 0.7.5. Sorry about that! I've now updated to the most recent version
C

[2016-05-10 15:47] #1308 closed

[2016-05-11 02:47] akashrajkn opened #1310 "Bayes factor robustness plot - user prior point plotted outside the graph"
The code for creating Bayes factor robustness plot uses the x-axis (Cauchy prior width) range from 0 to 1.5. Suppose the user sets the "prior width" in the range 1.5 to 2, the Bayes factor point corresponding to the user prior is plotted outside the graph [See the picture attached].
![bfrobustness](https://cloud.githubusercontent.com/assets/6959308/15168643/cd543ac2-1750-11e6-8861-093fda096f05.png

[2016-05-11 03:29] akashrajkn commented on #1310
#1311 fixes this issue
![bfrobustness_fix](https://cloud.githubusercontent.com/assets/6959308/15169219/a7ad7c42-1756-11e6-9980-f2fcc64a0e80.png)

[2016-05-12 09:32] #1304 closed

[2016-05-16 11:06] susanneschweizer opened #1320 "Adding between-subject factor to RM ANCOVA"
I have a mixed within-between repeated measures ANCOVA design for which I am trying to do Baysian analyses.  I can add the repeated measures IDs as well as the covariate but when I add the between-subject factor the programme crashes with the following warning:
"This analysis terminated unexpectedly. Please contact its author."

I was wondering if there was a way I could work around this.
Thank yo

[2016-05-16 14:45] raviselker commented on #1320
Could you save what you did in a .jasp file and send it to me? You can either attach a zipped version of the JASP file to the issue on github, or you can email it to me directly to selker dot ravi at gmail dot com.

[2016-05-16 23:26] EJWagenmakers opened #1321 "Annotations vanished upon reopening file"
I just had this unfortunate experience that I am now trying to recreate. First, I wrote a lot of annotations at the beginning of a JASP file. Then I saved the file, closed it, and reopened it. The annotations were gone. So here is a file with annotations, properly saved:
![image](https://cloud.githubusercontent.com/assets/8603015/15306824/3a3ace4a-1bce-11e6-9f75-061780cd1307.png)

Now I'm closing

[2016-05-16 23:42] EJWagenmakers commented on #1321
So when I rename the .jasp file to a .zip and inspect the .html file, it *does* show the comments! So they have not vanished, but they are not displayed properly. But perhaps I misunderstand something...

[2016-05-17 01:18] akashrajkn commented on #1321
@EJWagenmakers , I am not able to reproduce this issue. Can you email the .jasp file ?

[2016-05-17 10:21] muranyia commented on #1252
Please update the PPA to support Trusty. Thank you.

[2016-05-17 14:11] raviselker commented on #1320
@bruno this is not an issue with the analysis, but with a function in ```rbridge.cpp```. I did some debugging and found that when you call ```.readDatasetToEndNative``` on the data set the following bug appears:
<img width="483" alt="screen shot 2016-05-17 at 16 09 14" src="https://cloud.githubusercontent.com/assets/4669197/15325147/ba1aa592-1c49-11e6-9264-1afea09be0fe.png">

Can you have a look?

[2016-05-17 14:52] stephensrmmartin commented on #1252
You can look at the arch aur jasp packages for guidance on the build
process. I don't know much about Debian packaging or else I'd do it for the
team.
On May 17, 2016 5:21 AM, "muranyia" <notifications@github.com> wrote:

[2016-05-18 12:09] EJWagenmakers opened #1323 "File does not save via the save menu option"
I created a csv file, analyzed it in JASP, and then attempted to select "save" from the file menu using the mouse. However, this was not possible. "Save as" was active automatically, and selecting "save" with the mouse did not work (I have Ravi as a witness). Then Ravi executed the "save" command using the shortcut keys (which will not be known to many users, because they are not indicated) and th

[2016-05-18 12:28] EJWagenmakers commented on #1323
Maybe JASP expects the very first "save" to be a "save as", because that option actually does work and is preselected (although this is not intuitively clear). However, it is weird that the keyboard shortcut for "save" does work.

[2016-05-18 13:22] EJWagenmakers opened #1324 "Recent files sometimes have directory information, and sometimes not"
A weird mix?
![image](https://cloud.githubusercontent.com/assets/8603015/15360055/65077aee-1d0c-11e6-9fcb-9466c995dc92.png)

[2016-05-20 09:01] #1324 closed

[2016-05-20 15:05] #1310 closed

[2016-05-20 15:10] jdittrich opened #1329 "Debian PPA: Releasefile missing"
When using the officially [recommended PPA](https://jasp-stats.org/user-guide/) (ppa:jasp-uva/jasp), I can’t install JASP, and get the following warning (on Ubuntu 16.04):

N: Updating from such a repository can't be done securely, and is therefore disabled by default.

[2016-05-20 17:11] akashrajkn commented on #1329
@boutinb @FransMeerhoff

@jdittrich , jasp-uva PPA currently supports only the wily(Ubuntu 15.10) version. We will soon update the PPA with the xenial(Ubuntu 16.04) version.

** work around **
_[This is only temporary method- you will need to reset when the ppa is updated with a xenial version]_

If you want to use JASP in Xenial, you can force-install ppa to use the wily version on your machine(I

[2016-05-22 11:23] MartinvanLeerdam opened #1330 "Confidence interval for the one-sample t-test"
It appears to me that the confidence interval for the one-sample t-test is incorrect when the population value is not equal to 0. I would assume that the confidence limits express uncertainty with respect to the difference between estimation and population value. From the output it seems that the confidence limits are fixed on the estimated mean.
[CI one-sample t-test.pdf](https://github.com/jasp-

[2016-05-22 11:31] MartinvanLeerdam opened #1331 "Simple SEM Error Calculation"
Playing around with SEM a problem occurred when I selected Standard Error Calculation instead of Bootstrap; calculations never finished so it appeared.

[2016-05-23 11:06] cstangor commented on #397
We are in the same situation as Denis here in Psychology at the University of Maryland. Without a cronbach alpha subprogram we cannot leave SPSS. These statistics are simple to calculate and would be useful for our students.  Thanks.

[2016-05-25 20:46] lindeloev commented on #1252
Ubuntu 16.04 is out. Support for that in the ppa would be much appreciated! Thanks. It does work to install the 15.10 version of JASP on Ubuntu 16.04. Simply add the ppa, then go to **Software & Updates** --> **Other Software** --> Select the **ppa.launchpad.net/jasp-uva/ubuntu xenial main** line --> Click **Edit...** --> Change "xenial" to "wily". Then OK, Done, etc. and install JASP with the usu

[2016-05-30 22:00] patel307 opened #1337 "Linear regression option is not working."
I get an error when I click "Linear Regression" under the "Regression" button.

This analysis terminated unexpectedly. Please contact its author.\n\nError in summary(fits[[i]])$coefficients : \n  $ operator is invalid for atomic vectors\n

[2016-05-31 02:38] akashrajkn commented on #1337
@patel307 which version of JASP are you using? (I tested on 0.7.5.5 and it is working fine).

If it's still not working for you, please share the file so that we can reproduce the issue.

[2016-05-31 03:52] patel307 commented on #1337
I tried it on my Mac desktop earlier today and could not work it out. But
now, I tried it on a PC laptop with the same dataset and it's working
perfectly.

On Mon, May 30, 2016 at 9:38 PM, akash raj <notifications@github.com> wrote:

--
Purav Patel
Graduate Research Assistant
Cognitive Architecture Lab
Department of Educational Psychology
University of Minnesota - Twin Cities

[2016-05-31 21:00] matthewdye commented on #1320
Exact same error on both Windows PC and Mac book. Following thread ...

[2016-06-01 08:36] Indycool commented on #1038
I back this this request too, students asked me the same question: "what to do when a non-paramectric test is required?"

[2016-06-02 08:14] Franzilatanzi opened #1340 "ANOVA: error"
Hello,

I tried to calculate a repeated-measures ANOVA but as soon as I define a between-subject factor an error message appears. The same happens for a regular univariate ANOVA. What's wrong?

[2016-06-02 08:23] nicebread opened #1341 "What is beta* prior for correlations?"
A colleague asked me: what is the beta* prior for correlations in JASP?

I guess it refers to

in "How to Quantify the Evidence for the Absence of a Correlation" by Wagenmakers, Verhagen, & Ly?

Maybe that should be added to the help file.

[2016-06-05 23:38] maia27 opened #1343 "Unexpected Internal Error"
Hey guys,

I'm trying to use your program on a Window's 8 computer, I had it working for a day and the next time I logged on it has come up with an "unexpected internal error" and force quits. I have tried un and re installing and have also tried downloading older versions and the same error keeps appearing. Sometimes I am able to open a data set (but never long enough to run anything) or sometime

[2016-06-06 14:12] raviselker commented on #1340
Do you get the same error as described in issue #1320?

[2016-06-09 09:28] jdittrich commented on #1252
Would also love to have a PPA for the current LTS.

[2016-06-09 09:49] boutinb commented on #1252
We have just updated our PPA to support Ubuntu Xenial. It is not fully tested yet, but it seems to work so far.
Can you try this:
New installation:
sudo add-apt-repository ppa:jasp-uva/jasp
sudo apt-get update
sudo apt-get install jasp

For upgrade:
sudo apt-get update
sudo apt-get upgrade gasp

[2016-06-09 11:26] lindeloev commented on #1252
Yes, the Xenial PPA works here. Thank you!

[2016-06-09 15:45] raviselker commented on #397
Thank you for your feedback. We plan to have this analysis in the next release. Are there specific statistics for scale reliability that are essential when using it in statistics courses?

For now I added the following scale statistics:
- Cronbach's alpha
- Gutmanns lambda six
- Cronbach's alpha if item is omitted
- Gutmanns lambda six if item is omitted
- Item-Total Correlation

[2016-06-09 16:00] nuskcalb commented on #397
Great news!

What about a measure of reliability for dichotomous variables? Not sure which one would be better, though. Maybe:
-  Kuder-Richardson Reliability Coefficients KR20

"The KR20 is a special case of Cronbach's Alpha in which the items are binary variables (usually scored as 0 or 1)."
(From: http://www-01.ibm.com/support/docview.wss?uid=swg21476088)

[2016-06-09 18:02] cstangor commented on #397
Perfect!  Could put item means and stds but not essential.

Charles Stangor

On Jun 9, 2016, 11:45 AM, at 11:45 AM, Ravi Selker <notifications@github.com> wrote:

[2016-06-12 02:19] mdekker760 commented on #1271
I second the copy/paste feature. I'm regularly switching between excel and spss and depend on copy/paste for my work flow.

[2016-06-12 21:30] denohora commented on #397
This is fantastic news!  Thanks!

Denis

On 9 Jun 2016, at 19:02, Charles Stangor <notifications@github.com> wrote:

[2016-06-13 05:27] jaspcheck opened #1346 "Bayesian ANOVAs Bayes Factors outputs changing depending upon title of variables"
Hi,

When I was double checking some of my statistical analyses using JASP, I noticed that if I change the name of the Factor

[2016-06-13 05:33] jaspcheck opened #1347 "Bayesian ANOVA's Bayes Factors values changing depending upon title of variables"
When I was double checking some of my Bayesian Repeated Measures ANOVAs using JASP, I noticed that if I change the name of the factor to something different from my original factor name, it would give me different Bayes Factors outputs. This seems like an inherently serious problem with JASP as surely the Bayes Factor values should be identical regardless of what I name my factors?!? These values

[2016-06-13 05:54] akashrajkn commented on #1347
@jaspcheck the current version of JASP is 0.7.5.6. Could you update and check if you are still facing the same problem?

[2016-06-13 08:19] jaspcheck commented on #1347
Hi @akashrajkn

I've just check with the new version of JASP and unfortunately this issue still occurs. This is really concerning.

[2016-06-13 08:49] #1346 closed

[2016-06-13 11:46] TorstenMH commented on #1252
Hi,
I know that this has been asked in other places, but instead of supporting ever changing new Ubuntu Versions, wouldn't it make sense to focus on supporting Debian. This would most likely resolve all the issues and all Ubuntu, Mint, whatever, versions would work as well. This would cover probably 90% of the "privat/scientific" Linux users.
Torsten

[2016-06-14 10:25] raviselker commented on #1347
Can you send us the file where this is happening so that we can try to replicate the issue? I think the difference in Bayes factor is probably due to sampling error. JASP uses numerical approximations for the Bayes factor so if you rerun the analysis, the Bayes factor can differ slightly from the previous time you ran the analysis.

[2016-06-14 10:47] FransMeerhoff commented on #1343
Hello maia27,

Let's try to get the latest version of JASP 0.7.5.6 working again (and solve problems on this version)
Can you do once more:
- uninstall JASP (from control panel->programs->programs and features->JASP uninstall)
- install JASP 0.7.5.6 from https://static.jasp-stats.org/JASP-0.7.5.6-Setup.exe
- Load one of the examples e.g. 'Kitchen Rolls'
- Try if you can start Descriptives and we h

[2016-06-14 14:50] nuskcalb opened #1348 "Bayesian Log-Linear Regression not working?"
Dear all,

I created a fake set of data to compare the results of a Log-Linear Regression and a Bayesian Log-Linear Regression (see attached .jasp file).

![image](https://cloud.githubusercontent.com/assets/6491790/16047095/1ad66952-3225-11e6-9514-9bcfd54db321.png)

The Log-Linear Regression gives the expected results (IV1 and IV2 p<0.001 and IV1*IV2 p<0.01), but, the Bayesian Log-Linear Regressio

[2016-06-14 20:25] lindeloev commented on #1347
@jaspcheck, An easy way to check the sampling error hypothesis that @raviselker proposed is to re-run the analysis without changing any factor names. If @raviselker is correct, the change in Bayes Factors should be no larger or smaller than if you change a factor name. If not, then there indeed is a problem.

[2016-06-15 01:21] maia27 commented on #1343
Hi Frans,

I followed your steps and managed to open both an example data set and run statistics, and then do the same on my won data set. However if restart my computer and re-open JASP I get the same "unexpected internal error" and the program force closes (I couldn't even open an example set this time)

And yes a 64bit Windows 8 and the same account and privileges

Thanks,
Maia

[2016-06-15 11:45] raviselker commented on #1348
@Tahiraj, can you have a look at this?

[2016-06-17 06:47] yatinmahajan commented on #1320
Any update on this bug. I also encountered the same problem. Seems like happening only when between subject factors are added.

[2016-06-17 06:49] susanneschweizer commented on #1320
No, I am still waiting to hear (and very keen!) about a solution

[2016-06-17 16:43] cameissner commented on #1320
Same issue, Mac OS X El Capitan

[2016-06-17 16:45] cameissner commented on #1340
I get the same error as #1320...

[2016-06-20 08:14] FransMeerhoff commented on #1343
Hi @maia27 ,

You can imagine this kind of problem is hard for us to solve if we do not have a reproduction path, but there are still some options you can try:
- A work around for this problem might be:
Download the 64 zipped version of JASP and unzip this file at some location. You can find it at the Windows download section of JASP. https://static.jasp-stats.org/JASP-0.7.5.6-64-bit.zip
When you

[2016-06-20 12:16] Tahiraj commented on #1348
Hi @nuskcalb
If you look at footnote it says that the number of model visited=2. So you need to select the option display best from "1" to "2" in order to see full analysis. Please see attached file.

[Log-linear1.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/323337/Log-linear1.jasp.zip)

Best,
Tahira

[2016-06-20 14:33] nuskcalb commented on #1348
Thanks @Tahiraj ,

I tried to do that, but it gives me the following error:

"This analysis terminated unexpectedly. Please contact its author.\n\nError in if (is.finite(value)) return(value) : argument is of length zero\n"

Best

[2016-06-20 15:32] Tahiraj commented on #1348
@nuskcalb
I ran your jasp file on my computer and there was no error.  Which version of JASP you are using?

Best
Tahira

[2016-06-20 15:55] nuskcalb commented on #1348
@Tahiraj
I use  JASP 0.7.5.6 in Ubuntu 16.04 64-bit, and R 3.3.0

[2016-06-20 17:06] cameissner commented on #1320
Any chance this might be evaluated and corrected soon?

[2016-06-22 12:10] IunoGroot opened #1353 "Error with specific variable"
When i try to do a Bayes independent t-test (but also when i try doing other analyses where i have to use the 'group' variable (labeled with 1 and 2's) , i immediately get the following error:

This analysis terminated unexpectedly. Please contact its author.\n\nError :
map::at\n

What to do?

[MoCA-MMSE-CFQ-IG_1.zip](https://github.com/jasp-stats/jasp-desktop/files/327756/MoCA-MMSE-CFQ-IG_1.zip)

[2016-06-22 12:57] raviselker commented on #1353
I think this is the same issue as #1320 and we are working on a fix. For now I found a possible workaround: if you change the variable type of the grouping variable from nominal (three circles) to scale (ruler) in the data editor and then drag the variable of type scale to the group variable box, the analysis works again.

[2016-06-22 12:59] raviselker commented on #1320
We are working on solving this issue. For now we found a possible workaround: if you change the variable type of the between-subjects factor from nominal (three circles) to scale (ruler) in the data editor and then drag the variable of type scale to the between-subjects factor box, the analysis seems to work again.

[2016-06-22 14:22] IunoGroot commented on #1353
Thank you so much! It works now :)

Date: Wed, 22 Jun 2016 05:57:22 -0700
From: notifications@github.com
To: jasp-desktop@noreply.github.com
CC: iuno.groot@Hotmail.com; author@noreply.github.com
Subject: Re: [jasp-stats/jasp-desktop] Error with specific variable (#1353)

I think this is the same issue as #1320 and we are working on a fix. For now I found a possible workaround: if you change the va

[2016-06-22 15:13] raviselker commented on #1353
When I open the .csv from your zipped file and replicate your analysis it works fine. Did you use the export function to create the .csv? If so, could you send us the original data (so the one you loaded into JASP to do the analyses)?

[2016-06-22 22:12] cameissner commented on #1320
Thanks so much for the update and work-around.  Love what you are doing
with JASP!

On Wednesday, June 22, 2016, Ravi Selker <notifications@github.com> wrote:

[2016-06-23 17:46] luigino opened #1354 "rpm Packaging"
Trying to package jasp-desktop for openSUSE, so far it crashes on startup, also JASPEngine
complains about R extensions.
Are the version numbers in export packagecheck.R hard requirements? I couldn't track down all of them on CRAN archive.

Could this be the source of my problem? Pardon my vagueness, but I'm rather new at this.

Regards

[2016-06-26 17:48] raviselker opened #1357 "Pop-up when not connected to internet"
If you are not connected to the internet and open JASP the following window pops up:
<img width="403" alt="screen shot 2016-06-24 at 14 01 14" src="https://cloud.githubusercontent.com/assets/4669197/16363804/9c40962e-3bd6-11e6-9154-440ffb8b6a9a.png">

I think it's a bit annoying that a pop-up appears if you're not connected to the internet (you can use most functionality without having internet).

[2016-06-26 21:34] luigino commented on #1354
![jasp_error](https://cloud.githubusercontent.com/assets/1450716/16365107/5c1fc7ca-3bf6-11e6-9eda-dac0a07cf25d.png)

Update: the attachment shows what I see when clicking on any of the analyses after loading one of the examples.

[2016-06-27 08:03] akashrajkn commented on #1357
@raviselker , this does not happen on windows 10 (if you aren't connected to internet, and then you try to login to OSF in jasp, then this pop-up shows up - which is the intended behavior).

Do you get this popup when you start jasp? And is this a mac-specific issue?

[2016-06-27 08:07] raviselker commented on #1357
Yes, I get this popup when I start jasp on osx. I haven't tried it on a different os so I don't know what happens there.

[2016-06-27 08:14] boutinb commented on #1357
Frans and me are already busy with this problem: when you have once used the OSF, and clicked on the 'remember me'checkbox, each time you start JASP, it tries to connect again to OSF. We want to change this behaviour. so that it tries to connect to OSF only when needed. This problem is related to the error when double-clicking JASP file on Mac

[2016-06-28 00:53] JMiranda7878 commented on #1303
I'm having a similar problem. I'm able to create tables using the example data, but the dataset i'm using is larger (~1MB). Could that be the problem?

[2016-06-28 09:12] FransMeerhoff commented on #1303
Hi @Tahiraj
Can you have a look at this issue?

@paulinedefromagier
Do you still have this problem with a simple 2x2 contingency table?

[2016-06-28 09:29] Tahiraj commented on #1303
@JMiranda7878 could you please send the data ?

[2016-06-28 09:44] EJWagenmakers opened #1359 "Credible intervals in descriptives"
There was a forum question about the x% credible intervals shown in the t-test "descriptives" plot. The interval bounds are not provided anywhere in their numerical form. I suggest we add them to the output of the descriptives table (Note: if the user sets the plot to produce a z% interval, the table should also show the bounds for that z% interval).
E.J.

[2016-06-28 10:12] JMiranda7878 commented on #1303
Thanks! The data is attached.

On Tue, Jun 28, 2016 at 5:29 AM, Tahiraj <notifications@github.com> wrote:

[2016-06-28 10:14] JMiranda7878 commented on #1303
@Tahiraj  Thank you! I've attached the data.

[cb6_june17.sav.zip](https://github.com/jasp-stats/jasp-desktop/files/336754/cb6_june17.sav.zip)

[2016-06-28 10:28] Tahiraj commented on #1303
@JMiranda7878 for which variable you want to make contingency table.You have too many variables,  Specify row, column and layers variables.

[2016-06-28 13:25] JMiranda7878 commented on #1303
I've tried to make several tables, but failed anytime I add any 2 variables getting the same message.

I tried to use impact and age initially (column, row) and immediately got the error when the second variable was selected. The same happens with any 2 variables.

I also forgot to mention that I'm using version 0.7.5.6 on Mac OSX 10.11.3

Thanks again.

[2016-06-29 10:03] raviselker commented on #1320
So we think it has something to do with how the original .csv file is encoded. If you load it into JASP and than export it as .csv the problem does not occur anymore. In order to reproduce this problem we need the original .csv file of someone who encountered this problem. Could someone send me this to the following email: selker [dot] ravi [at] gmail [dot] com?

[2016-06-29 10:04] raviselker commented on #1347
Any updates?

[2016-07-01 10:20] #1357 closed

[2016-07-01 15:15] Tahiraj commented on #1303
@JMiranda7878 what you can do save the SPSS file as csv file and then you can make the table in JASP. JASP does not support the spss data file in released version. Might be in the next release this functionality would be available, our team is working on it. I am attaching the csv file.
[cb6_june17.csv.zip](https://github.com/jasp-stats/jasp-desktop/files/343719/cb6_june17.csv.zip)

[2016-07-04 05:45] jackrsteiner opened #1364 "Importing .sav SPSS file truncates numeric variable at decimal"
File>open>"*.sav" truncates numeric variable samples at decimal point. .sav file generated in SPSS, opens successfully with SPSS and PSPP. Same data opens without problem when saved as .csv.

[Sample.zip](https://github.com/jasp-stats/jasp-desktop/files/345657/Sample.zip)

[2016-07-04 09:01] aknight1-uva commented on #1364
Can't reproduce with newest (pre) release version. - Column 1 appears be an integer type, in column 2 I get to see fractional parts of floating point number where appropriate.
It if the issue is with column 1, then it's as designed - SAV import (currently) converts decimal columns with no rows containing a fractional part of the value to an integer.

[2016-07-04 21:45] jackrsteiner commented on #1364
Some more details:

- OS X 10.11.4
JASP Version 0.7.5.6
Built on: April 21 2016 (pre-built download)

- The issue is with column 2
Anticipated Value, JASP Import Value
4.2, 4
5.2, 5
5.63, 5
2.1, 2
1.6, 1
...

I'll gladly try the latest (pre) release version, but I'm having trouble with qmake right now.

[2016-07-04 22:10] FransMeerhoff commented on #1364
Hello @jackrsteiner

The pre release version for JASP 0.8. Beta 1 is allready available for Mac OS at https://static.jasp-stats.org/JASP-0.8.256.0.dmg
You can try this version and check if this will solve your problem.
We are planning to release a stable version on short-term.
And we are curious to hear your results.

Kind regards
Frans Meerhoff

[2016-07-04 22:35] jackrsteiner commented on #1364
Opens sample.sav file just fine. Thanks!

[2016-07-06 03:10] maia27 commented on #1343
Hi Frans,

sorry for the slow reply on this one.
Using the zipped version seems to be working for now!

Thanks for all your help!
Maia

[2016-07-06 04:14] #1364 closed

[2016-07-06 06:52] #1343 closed

[2016-07-06 14:12] boutinb commented on #1354
Hi Luigino
We only know that JASP works fine with the version numbers in packagecheck.R. These versions are not hard requirements, so you could try with other R package versions. Unfortunately, I cannot help you much about that, I have no experience with OpenSUSE. But that would be great if you find a way to build it on this platform.

Kind regards,
Bruno

[2016-07-06 16:47] luigino commented on #1354
The app is packaged, but it crashes like shown in the screenshot above.

I've tried including the recommended version, but it doesn't make a difference.

It would be good to know if there's a way to debug this problem, because right now I'm stuck.

[2016-07-07 02:19] amatejko opened #1365 "Regression in SPSS versus JASP"
Hi!

I happened to run the same analysis in SPSS and JASP, and I noticed there were some major differences. In SPSS, the regression model was not significant however in JASP it was.The data are identical. I have attached images of both to compare. They are both run with the "enter" method, and the findings from the effects are the same (neither of the variables are significant predictors). I was j

[2016-07-08 09:02] raviselker commented on #1365
@quentingronau, can you check this?

[2016-07-08 11:42] quentingronau commented on #1365
Hi @amatejko ,

It would be great if you could please send me the .csv file with your data so that I can take a look.
You can either do this via github or you can send me a mail to [quentingronau@web.de](url)

Thank you!

[2016-07-08 12:15] amatejko commented on #1365
Hi @quentingronau and @raviselker

As I was prepping the CSV I noticed the problem! It was simply a file sorting problem. I am so sorry and so embarrassed.

Thanks for the very quick response! And once again I am so sorry! Perhaps we can delete the thread so others don't get concerned by this!

[2016-07-08 13:58] raviselker commented on #1365
Don't worry about it! I'll close this issue.

[2016-07-08 13:58] #1365 closed

[2016-07-12 13:21] JSmith-MSU opened #1369 "Download Unavailable"
I am attempting to download the latest version of the JASP software (v 0.7.5.6) from the website.  When clicking on either the "Windows XP and above" link or either link in the "Windows (zipped installation versions)" section I receive a "Site Not Found" from DreamHost.  I do not get this error when trying to download the older version (0.7.5.5) of the software from the same website.  I have tried

[2016-07-12 13:51] raviselker commented on #1369
There is some issue with the https certificate of DreamHost. We changed the links on our download page to http (temporarily), and now it should work again.

[2016-07-12 16:03] boutinb commented on #1354
This error means it cannot find the json files. It has in fact nothing to do with the R packages.
These json files should be found in Resources/Library of the executable folder. JASP tries to find this directory via the function exeDir() in the dirs.cpp (in JASP-Common). You can see here that this function is written for Windows, Mac, en per default you have the Linux version (that works on Ubuntu

[2016-07-12 20:26] JSmith-MSU commented on #1369
Thank you for the information.  I was able to obtain the file and have installed it on our master image.

[2016-07-12 20:26] #1369 closed

[2016-07-14 06:33] Suggestions-Only opened #1371 "Intraclass Correlations"
Since measures of reliability (such as Cronbach's alpha) are being added to the next patch, I was thinking that intraclass correlations would be useful for researchers using external rater data or responses coded by judges.

[2016-07-14 15:25] EJWagenmakers opened #1373 "Output not shown"
Hi guys,

I've indicated this issue before, and it has resurfaced. I recently saved an annoted JASP file, then reopened it, and no problem. However, a different annoted JASP file (created with the same version of JASP, just minutes later) does not display the old analyses, even though the .zip file does show the correct html output. I might have forgotten what caused this. Anyway, I'll send along

[2016-07-14 15:27] EJWagenmakers commented on #1373
Wait, what is that? That is the annotated file. Let me try again.
![image](https://cloud.githubusercontent.com/assets/8603015/16845143/297a6cb2-49e8-11e6-8551-9fe019584f2a.png)

[2016-07-14 15:28] EJWagenmakers commented on #1373
Oh yes, so the html version (the first plot) shows that the content is there, and then the jasp version (the second plot) shows that this does not display properly.
E.J.

[2016-07-15 10:08] eayan opened #1375 "Jasp Installation Problem in Linux Mint"
Hi,
I came across the fetching error while installing jasp as in the screenshot. Can anyone help me solve the problem ASAP? Is there any way to compile the newest version on a linux machine?

![selection_187](https://cloud.githubusercontent.com/assets/5304822/16870976/08a2f5e0-4a8d-11e6-9d1a-911b43eb9ae2.png)

[2016-07-16 16:18] FransMeerhoff commented on #1375
Hi @eayan ,

Can you help us with the following:

- did you add the uva ppa repo fist with

- Which version of Linux are you running
-Can you send us the complete log file by redirecting it
-Not so common but jasp application name on Linux is in capitals.

Kind regards
Frans Meerhoff

[2016-07-17 02:02] Suggestions-Only opened #1376 "Paired Bayesian t-Test returns BF of infinity"
I ran a paired samples t-test on an, admittedly, rather large dataset.  I received a Bayes Factor of infinity and none of the plots would function.  While I realize that data with this many cases is not commonly used in the social sciences, I'm wondering if anything can be done to get the plots to work, even if out of scale or with a portion cut-off and labeled.  I'm assuming that the Bayes Factor

[2016-07-17 11:53] eayan commented on #1375
Hi @FransMeerhoff ,

I have already added that repo, but the output was always the same. You can see the output and my system details here in the attached screen shots. I have managed to install Jasp on my second netbook machine and I have realized that even the version for Linux is missing some statistical analysis tools such as Mann Whitney U-test even though the latest version of it has all sta

[2016-07-18 02:23] akashrajkn commented on #1375
@eayan @FransMeerhoff

1. Linux Mint 13 (Maya) is based on Ubuntu 12.04 (Precise). We do not package JASP for the 12.04 version. You can build JASP from source code available in github (master branch)

2. Linux Mint 17 is based on Ubuntu 14.04 (Trusty) - JASP version 0.7.1.2 is available for Trusty version. Currently we have the latest version of JASP (0.7.5.6) on the LTS release of Ubuntu 16.04.

[2016-07-19 06:25] jaspcheck commented on #1347
Hi again,

Do you have an email address I can send the file to?

[2016-07-19 13:43] FransMeerhoff opened #1378 "Bayesian Contingency Table Sampling has wrong default"
Default at the moment is Joint multinomial but it should be Indep. mulltinomial, rows fixed

[2016-07-19 14:52] raviselker commented on #1347
You can send it to selker [dot] ravi [at] gmail [dot] com

Thank you!

[2016-07-19 15:46] #1378 closed

[2016-07-22 00:51] kpriftis opened #1381 "Robust statistical analyses by Wilcox"
Hi there and congratulations for JASP! It is wonderful! I already use it with my undergraduate students.

How about considering to implement in JASP,  robust analyses developed by Rand Wilcox (http://dornsife.usc.edu/labs/rwilcox/software/)? Robust analyses are extremely useful in psychological research, where in many cases the assumptions of classic parametric tests are violated. These analyses a

[2016-07-22 11:42] FransMeerhoff opened #1382 "ANOVA: Impossible to see all the data in Repeated Measures Cells"
When you add Repeated Measures Factors the Repeated Measures Cells are updated. The data in the cells can become too big to read.

[2016-07-22 16:35] lirabenjamin commented on #397
Exploratory Factor Analysis or Principal Components Analysis would also be great. Ideally based on polychoric correlations. With orthogonal and oblique rotations.

When is the next release scheduled for? I am preparing a workshop and would love to use JASP, but part of the course objectives is reliability and validity analyses.

[2016-07-26 19:34] Adam-1987 opened #1386 "Bayes Factor 10 = 66 while frequentist ANOVA gives p =.159"
Hi I'm doing an experiment with repeated-measures 3x3 design.

I ran Bayesian Repeated Measures ANOVA in JASP and it gives me a BF10 for one independent variable (TMS regions) of 66 - indicating strong evidence for the alternative hypothesis.

However when I ran a frequentist repeated-measures ANOVA it gives a p-value of 0.159 of the main effect of TMS region on reaction time.

Does anyone knows w

[2016-07-26 20:23] patwms opened #1387 "Nothing appears in output/results window"
I've installed JASP 0.7.5.6 on a PC running Windows 7. I can load data files but opening any of the analysis tabs and selecting variables has no effect on the results/output window. It never changes from the Welcome to JASP! opening message.

A similar inquiry from another user in this forum (JASP install issue for Windows) was posted last January and responses indicating that the issue was being

[2016-07-26 21:18] FransMeerhoff commented on #1387
Hi @patwms

1. We indeed had a similar problem before.
This problem was caused by a system that had an extra nvidia video card installed.
Can you check if you use the same video card, or if another extra video card is installed?

2. We offer the possibility to download a zipped installed version of Jasp. This means that you can download that zip file, and try to run JASP from this unzipped folder.

[2016-07-27 01:34] Suggestions-Only commented on #1386
I can't really be sure, but I'm going to assume this isn't some kind of program code error.  I think it's because if you include a bunch of variables in a linear regression model, they eat up each other's explanatory variance.  But the Bayesian version evaluates each variable on its own, as well as the possible combinations.  What does your analysis look like if you only include TMS Region?

[2016-07-27 07:07] #1382 closed

[2016-07-27 09:45] Adam-1987 commented on #1386
Hi,

Sorry I got a bit confused - did you mean that I should use the variable (Congruency) other than TMS Region (2 independent variables in all, each has 3 levels)  as a nuisance in the Bayes repeated-measures ANOVA?

If so then I just tried it - now the BF10 is even larger, it's 78 now :/

[2016-07-27 12:45] Suggestions-Only commented on #1386
No, I meant rerun the ANOVA with TMS Region as the only independent variable and see if that makes your p-value smaller.

[2016-07-27 14:00] patwms commented on #1387
Thanks Frans. I'll give those things a try.

On Tue, Jul 26, 2016 at 4:25 PM, FransMeerhoff <notifications@github.com>
wrote:

[2016-07-27 14:48] alvarezlionel opened #1388 "Nothing appears in output section on Mac"
Hi guys,
similar to what happened to patwms, I have nothing that happen in the output window, even if I run a test, or just navigate through the menus.

I work on Mac OS 10.11.6, I have XQwartz 2.7.9 installed, and open JASP 0.7.5.6.
![printscreen](https://cloud.githubusercontent.com/assets/17438310/17179491/c004a19e-5419-11e6-8e7e-6c5bf760f32c.png)

Do you know what I have to do (except changing

[2016-07-27 14:51] MarliesV opened #1389 "Labels are swopped when setting up a RM-ANOVA (freq & Bayesian) with 4 factors"
Hi,
When setting up a repeated measures ANOVA with 4 within-subject factors that have two levels each, there seems to be something strange going on with the factor-level labels in the Repeated Measures Cells, making it complicated to interpret the output without confusing the effects of different factors.
When using a model with 4 factors, the labels of the levels of the 3rd factor in the 'repeate

[2016-07-27 15:11] FransMeerhoff commented on #1389
Hi @MarliesV

We just made an improvement on this issue for that in the new release JASP 0.8.0 which will arrive on a short term (We expect next release in about two weeks). I added a screenshot to check if this is the problem you are talking about.

<img width="500" alt="screen shot 2016-07-27 at 17 02 55" src="https://cloud.githubusercontent.com/assets/15656960/17180275/2adaa8f4-541c-11e6-8100-e

[2016-07-27 15:41] MarliesV commented on #1389
Hi Frans,
Thanks for your quick reply. Does the issue you refer to concern difficult-to-read labels? Then I think my issue might be different..
In my case, the 3rd factor Freq has the levels 16 & 18, and the 4th factor Int has the levels E and R. If you now look at the level labels as displayed under Repeated Measures Cells, the levels of Int (4th factor) E and R are displayed 3rd, whereas the lev

[2016-07-27 20:31] Suggestions-Only commented on #1381
Since we're discussing robust analysis, one thing I would suggest implementing is an option for a Welch ANOVA and Games-Howell post hoc tests. They seem to be a little more powerful than comparing medians, while still avoiding common linear model assumptions. Also, including an option for MM-estimation for linear regression would be great.

[2016-07-27 21:35] RandiLGarcia opened #1390 "Error when adding ordinal or nominal variables"
Hi, I just downloaded JASP today, version 0.7.5.6. I'm running Windows 10. Whenever I add an ordinal or nominal variable (I tried in descriptives and ANOVA) it gives this error:
"This analysis terminated unexpectedly. Please contact its author.\n\nError : map::at\n"

[JASPerror.zip](https://github.com/jasp-stats/jasp-desktop/files/387240/JASPerror.zip)

[2016-07-28 07:32] FransMeerhoff commented on #1389
Hi @MarliesV

I think I know what you mean now. but I can't reproduce it.
I have added a 4x2 example file that does the same as what you are doing,
but no mixing up of labels is happening there.

[4x2.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/387865/4x2.jasp.zip)

Can you send us the file it concerns. (You can do this by adding it as zip to this issue -best- or send it directly to

[2016-07-28 09:32] FransMeerhoff commented on #1390
Hi @RandiLGarcia

This problem comes from the data file used.
A simple work around for this problem is. Exporting the data file as a .csv from JASP. Open this exported data file in JASP again and rerun the analyses. Then no errors occur.

Can you please send us the original data file you use. Then we can try to solve this problem.

Kind regards
Frans Meerhoff

[2016-07-28 21:42] RandiLGarcia commented on #1390
Hi Frans,

I did not try it yet, but thanks! Here is the original .sav file.  I tried several SPSS files and the same error occurs for all (that I tried). It seems to recognize the categorical variables as categorical, but cannot work with them from .sav files.

Thanks again,
Randi

From: FransMeerhoff [mailto:notifications@github.com]
Sent: Thursday, July 28, 2016 5:33 AM
To: jasp-stats/jasp-desk

[2016-07-29 10:10] EJWagenmakers opened #1392 "Ordering of levels in ANOVA gets messed up"
From the twitterverse:
https://twitter.com/PsychScientists/status/758951622802145281/photo/1

[2016-08-03 04:44] Suggestions-Only opened #1394 "Feature Request: Add KMO and Bartlett's test to Factor Analysis"
I've taken a look at the R code and there doesn't seem to be KMO or Bartlett's for Factor Analysis in JASP.  Since these functions are already available in the psych package for R, I'm hoping it would be relatively simple to add. Thanks!

[2016-08-03 10:20] #1373 closed

[2016-08-04 19:21] EJWagenmakers opened #1398 "Make tables 100% APA format"
From the twitterverse:
"Sorry, but that's not fully APA-formatted. Column headings only capitalize first letter, & title of table is italicized."
@raviselker Let's discuss whether we want to do this, because it might conflict with our other formatting conventions

[2016-08-06 04:00] jerhae1 opened #1399 "No Output on Mac"
I am experiencing the same exact issue as 2 previous posts.  I can open data sets, but cannot alter them and analyses do not run.  The output window stays on "welcome."   I am running Mac OS 10.11.6, I have XQwartz 2.7.9 installed, and open JASP 0.7.5.6.
thanks,
Jerry

[2016-08-09 09:33] ghost opened #1402 "DOE module"
Hello,

In agronomy and industry, my students often have to set up classical designs of experiments such as randomized block designs and Latin square designs.

Minitab is very efficient with this issue (but very expensive) https://www.youtube.com/watch?v=SbktyedPfY0

Do you have any plan to make this possible in Jasp? Maybe a module?

Sincerly

[2016-08-09 14:24] boutinb commented on #1399
Hi @jerhae1 ,
This is indeed an annoying problem. I have installed the last version of XQuartz, but I cannot reproduce this problem. Could you please run JASP in this way from a terminal: you go to /Applications/JASP.app/Contents/MacOS and start ./JASP
In this way all warnings and errors should be written to the terminal. Can you then send me the output?
Thanks,
Bruno

[2016-08-09 14:26] boutinb commented on #1388
Hi @alvarezlionel,
Could you please run JASP in this way from a terminal: you go to /Applications/JASP.app/Contents/MacOS and start ./JASP
In this way all warnings and errors should be written to the terminal. Can you then send me the output?
Thanks,
Bruno

[2016-08-09 14:54] alvarezlionel commented on #1388
Hello,

thank you so much.

Here is what you asked me:
_____________________________________________

Last login: Tue Aug  9 16:45:10 on ttys000
wifi-secure-154-56:~ alva$ /Applications/JASP.app/Contents/MacOS/JASP ; exit;
QLayout: Attempting to add QLayout "" to BackStageWidget "backStage", which already has a layout
QLayout: Attempting to add QLayout "" to VariablesWidget "variablesPage", which

[2016-08-09 16:06] boutinb commented on #1388
Hi Lionel,
For the french, no problem... I am also french! But let's continue in english so that other people can help us in case.
I don't see any strange things in the output, only the exit appearing just after the start of JASP. Did you type it?
Another question: do you have several versions of JASP installed on your Mac?
All macs I have tested work perfectly here... so it is for me really hard

[2016-08-10 07:58] alvarezlionel commented on #1388
Hi,

you asked several questions:

First, I didn’t type anything in the terminal output. I just opened the file /Applications/JASP.app/Contents/MacOS and start ./JASP as you asked.

Then, I always installed the new versions by replacing the previous. Should I change something here?

Finally, my Mac is an MacBook Air 5.1, IntelCore i5, 1.7Ghz, with the built in graphic card (intel HD Graphics 4000

[2016-08-10 13:40] #125 closed

[2016-08-10 14:01] boutinb opened #1403 "Test"

[2016-08-10 14:02] #1403 closed

[2016-08-10 14:05] #155 closed

[2016-08-10 14:09] #13 closed

[2016-08-10 14:10] #139 closed

[2016-08-10 14:10] #141 closed

[2016-08-10 14:11] #157 closed

[2016-08-10 14:11] #309 closed

[2016-08-10 14:11] #395 closed

[2016-08-10 14:14] FransTestAccount opened #1404 "Test mail"
test mail on close

[2016-08-10 14:14] #605 closed

[2016-08-10 14:14] #575 closed

[2016-08-10 14:15] #1404 closed

[2016-08-10 14:22] #1151 closed

[2016-08-10 14:23] #1252 closed

[2016-08-10 14:25] boutinb commented on #1258
This issue is closed due to long inactivity.

[2016-08-10 14:25] #1258 closed

[2016-08-10 14:30] boutinb commented on #1278
This issue is closed due to long inactivity. If this problem still occurs, please reopen it.

[2016-08-10 14:30] #1278 closed

[2016-08-10 14:34] #1061 closed

[2016-08-10 14:35] #1274 closed

[2016-08-10 14:40] boutinb commented on #401
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 14:40] #401 closed

[2016-08-10 14:58] boutinb commented on #397
This should be released end of august including Exploratory Factor Analysis or Principal Components Analysis.

[2016-08-10 14:58] #397 closed

[2016-08-10 14:59] boutinb commented on #452
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 14:59] #452 closed

[2016-08-10 15:00] boutinb commented on #456
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:00] #456 closed

[2016-08-10 15:02] boutinb commented on #458
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:02] #458 closed

[2016-08-10 15:03] boutinb commented on #463
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:03] #463 closed

[2016-08-10 15:03] boutinb commented on #479
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:03] #479 closed

[2016-08-10 15:03] boutinb commented on #486
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:03] #486 closed

[2016-08-10 15:04] boutinb commented on #488
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:04] #488 closed

[2016-08-10 15:04] boutinb commented on #491
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:04] #491 closed

[2016-08-10 15:05] boutinb commented on #708
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:05] #708 closed

[2016-08-10 15:06] boutinb commented on #538
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:06] #538 closed

[2016-08-10 15:07] boutinb commented on #555
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:07] #555 closed

[2016-08-10 15:08] boutinb commented on #1331
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:08] #1331 closed

[2016-08-10 15:09] boutinb commented on #667
This issue is closed automatically due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:09] #667 closed

[2016-08-10 15:32] boutinb commented on #540
It exists now a ZIP download version for Windows. Can you try this it is helps?

[2016-08-10 15:32] #540 closed

[2016-08-10 15:35] boutinb commented on #611
I see the JASP icon on my JASP files on MAC. Apparently this has been solved.

[2016-08-10 15:35] #611 closed

[2016-08-10 15:35] boutinb commented on #616
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:35] #616 closed

[2016-08-10 15:38] #762 closed

[2016-08-10 15:39] boutinb commented on #774
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:39] #774 closed

[2016-08-10 15:41] boutinb commented on #750
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:41] #750 closed

[2016-08-10 15:41] boutinb commented on #756
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:41] #756 closed

[2016-08-10 15:42] boutinb commented on #967
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:42] #967 closed

[2016-08-10 15:43] boutinb commented on #928
This issue is closed due to too long inactivity. Please re-open this issue is this problem still occurs.

[2016-08-10 15:43] #928 closed

[2016-08-10 15:45] boutinb commented on #911
We are busy to support ODS file (which is supported by Excel and LibreOffice/OpenOffice).

[2016-08-11 01:27] jerhae1 commented on #1399
Hi Bruno,
Thanks so much for your response.  I have to apologize as I'm not well versed with terminal.  I open up the Terminal application on my mac and typed "/Applications/JASP.app/Contents/MacOS".  It then says "is a directory".  I then typed "start./JASP" and it says "no such file or directory."  I'm guessing I'm not typing this in correctly or am using Terminal incorrectly.  Sorry!
Jerry

[2016-08-11 02:32] jerhae1 commented on #1399
Hi Bruno,
Sorry for repeated comments.  I tried running JASP again, and now I received the following error message in the output window:  "This analysis terminated unexpectedly. Please contact its author.\n\nError : No such file or directory\n

[2016-08-11 07:54] #1329 closed

[2016-08-11 13:32] FransMeerhoff commented on #1402
Hello @Indycool

I can assure you that this issue is not yet on our roadmap, but
I've  send your request internally for comment.

Kind Regards
Frans Meerhoff

[2016-08-11 14:07] FransMeerhoff commented on #528
This issue is embedded in version 7.5.6

[2016-08-11 14:07] #528 closed

[2016-08-11 14:29] FransMeerhoff commented on #665
This issue is closed due to long inactivity. If this problem still occurs, please reopen it.

[2016-08-11 14:29] #665 closed

[2016-08-11 14:40] boutinb commented on #1399
Hi Jerry,
On the terminal, you have to type "cd /Applications/JASP.app/Contents/MacOS", and then yo type "./JASP".
Can you manage to start JASP in this way?

[2016-08-11 14:50] boutinb commented on #1388
Hmm, this is quite strange. The only think I can think of, is the R version... We use now R 3.1. This should not interfere with the installed R version (JASP installs its own version), but you never know...
Are you also admin of your MAC? You may try also to start JASP from your terminal with sudo ./JASP (if you are in the /Applications/JASP.app/Contents/MacOS folder).
Bruno

[2016-08-11 22:32] EJWagenmakers commented on #1402
Hello @Indycool

Thanks for bringing this up. Right now JASP does have classical and Bayesian ANOVA. So when I look at the Minitab example, this is a simple repeated measures 2x2x2x2 ANOVA. In the ANOVA input panel, users can define factors and levels. Is there anything specific that you would like us to add?

Cheers,
E.J.

[2016-08-11 22:44] jerhae1 commented on #1399
Okay, that worked. Thanks!  Below is the output.  I opened 2 of the example data sets and tried to run an analysis:

l$ ./JASP
BackStageForm::loadRecents();  setting 'recentItems' is not a QStringList
QLayout: Attempting to add QLayout "" to BackStageWidget "backStage", which already has a layout
QLayout: Attempting to add QLayout "" to VariablesWidget "variablesPage", which already has a layout
s

[2016-08-12 06:57] alvarezlionel commented on #1388
I changed R version to the 3.1, but nothing changed. I also tried to change the XQuartz to the 2.7.7 version as proposed on JASP website. Nothing changed.

Then I tried to « export results » (.html format) to test if the problem is only about visualisation, but no file were created when I tried the results export.

So finally, I have to change my machine ;-) Sad, I like it.
Or do you think about s

[2016-08-12 09:10] Indycool commented on #1402
Thank you for your answer :) I'm trying to input datas in Jasp in a way that I'd get a Latin square experiment (special 3 factors Anova).

Here is an example that my students have to deal with on a regular basis when they do their internships.

[http://www.statsdirect.com/help/default.htm#analysis_of_variance/latin_square.htm%3FTocPath%3DAnalysis%2520of%2520variance%7C_____6](url)

I try to get th

[2016-08-12 12:44] haraldbj commented on #1399
I just installed JASP and XQuartz to my Mac today and I have the exact same problem as  jerhae1. I can open a file, but all attempts to do an analysis results in the same error-message in the output-window: "This analysis terminated unexpectedly. Please contact its author.\n\nError : No such file or directory\n"

[2016-08-16 07:15] FransMeerhoff commented on #1399
Hello @jerhae1

I'm taking over this issue from Bruno Boutin who's on Holiday for a while.
At the moment we are at the and of the test cycle of the new version of JASP 0.8.
This version is available as Beta at
https://static.jasp-stats.org/JASP-0.8.0.0-Beta-5.dmg
We would like to know of course if this issue occurs on the latest version (some points at startup are changed there.)

On the terminal,

[2016-08-16 13:17] haraldbj commented on #1399
Hi,

Thank you for your assistance. I´ve installed the beta now and it seems that it helped some, but did´t solve everything. I get the same error message as previously when running descriptives and independent samples T-test, but most other analysis´seems to work, including the new reliability and factor-analysis programs (love that you’ve included those by the way!).

Kind regards

Harald Bækkel

[2016-08-16 17:27] IndrajeetPatil commented on #423
Hi,
Sorry for being so pesky, but I think this will really be a valuable addition to JASP.
So I was wondering if this was going to be a part of the upcoming JASP 0.8.0.0 release.

[2016-08-17 02:01] jerhae1 commented on #1399
Hi Frans,
Thanks for your email.  Unfortunately, I'm experiencing the same problem.  No output, only the welcome screen. Is it possible that I do not have Quartz working properly?  Below is the output from terminal.  I tried to run a descriptive analysis and a linear regression:

 ./JASP
BackStageForm::loadRecents();  setting 'recentItems' is not a QStringList
QObject::connect: No such signal FSBM

[2016-08-17 12:41] FransMeerhoff opened #1415 "crash"

[2016-08-17 12:45] #1415 closed

[2016-08-17 14:01] FransMeerhoff commented on #1399
Hello @jerhae1

- It is indeed a good suggestion to check the XQuartz version you are using. We publish the following version at our site: https://static.jasp-stats.org/XQuartz-2.7.7.dmg. I'm running version 2.7.9 without any problem. You can check this version if you press the Go tab -> Utilities -> select XQuartz and the version is show at the last line.

- You are already familiar with start JA

[2016-08-17 15:53] IndrajeetPatil opened #1416 "RM ANOVA not working in JASP 0.8.0.0 Beta"
Hi,

I just downloaded JASP 0.8.0.0 Beta and was carrying out RM ANOVA, but I get the following error.

![image](https://cloud.githubusercontent.com/assets/11330453/17743268/6e93479e-64a3-11e6-9e34-587446968587.png)

[2016-08-17 15:59] IndrajeetPatil commented on #1416
Additionally, the paired samples t test also doesn't work.

![capture](https://cloud.githubusercontent.com/assets/11330453/17743540/541f87e6-64a4-11e6-81d5-3a0e8e08f7af.PNG)

[2016-08-17 16:26] FransMeerhoff commented on #1416
Hi @IndrajeetPatil

Can you tell us
- Which platform are you running
- Can you send us the data you are using and describe a little bit more in detail what goes wrong with what parameters.
- Does other analyses run smoothly?

Kind regards
Frans Meerhoff

[2016-08-17 16:28] IndrajeetPatil commented on #1416
Hi,

- I am using a Windows OS.
- Actually, it's not specific to my data. I ran the same analysis with example data-sets provided in JASP and I get the same error.
- I haven't tried all other analyses, but descriptive stats, regression, crosstabs, correlation analyses were running smoothly.

[2016-08-17 17:55] nuskcalb commented on #1348
@Tahiraj , the error persists with JASP 0.8 Beta 5 (compiled today from Git repo).

When I  change the "Model cut-offs" to "Display best **2** model(s)", the same error appears.

It may be a Linux-specific bug. I tried the analysis on a Mac and it worked fine.

[2016-08-17 22:21] EJWagenmakers commented on #1416
Hi @IndrajeetPatil,

Thanks for the superquick feedback! The t-test error is because of interference with new functionality that will be added in the next release (SellkeMPR). We have already fixed this. The other error we hope to fix tomorrow. We will then issue a new release. Obviously these analyses are kinda important :-)
Thanks again!!
E.J.

[2016-08-18 00:12] renenob opened #1418 "Block Hierarchical Regression"
would like to request that there be an option for Block hierarchical regression.  Social Sciences people rarely use stepwise regression.  We need some control on which block of variables would come first, and which block would come next. Thank you.

[2016-08-18 09:00] philippberens opened #1421 "New descriptive statistics"
Hi Jasp team,

the new plotting for the descriptive module is really great. It would be nice to be able to compute the statistics also for different subgroups, like it is possible for the plotting (ideally they would match).

Best
Philipp

[2016-08-18 11:01] NickMKitchen opened #1422 "Mixed Design ANOVA error using .sav file"
Hi, I have had an issue with running a mixed design ANOVA with 1 repeated measure, that has 3 levels (Target Number) and 1 between subjects factor with 3 levels (Group) from a .sav file I generated in SPSS, in JASP version 0.7.5.6

I can add the repeated measures variables but I get this error when I try and add the between subjects factor...

"This analysis terminated unexpectedly. Please contact

[2016-08-18 13:54] raviselker commented on #1422
Officially JASP version 0.7.5.6 doesn't support importing .sav files, so anything going wrong there is due to the functionality not being completely ready. However, the new 0.8.0.0 beta release does support importing .sav files, so I would download the new version and try it on this version.

[2016-08-18 14:19] FransMeerhoff commented on #1416
Hi @IndrajeetPatil ,

Thanks again for helping us finding this issue so quick.
If you download the new placed version, these problems should be solved.

Kind regards
Frans Meerhoff

[2016-08-18 14:22] IndrajeetPatil commented on #1416
Great! Thanks for resolving this so quickly, will download it and work with
it now! :)

On Thu, Aug 18, 2016 at 4:19 PM, FransMeerhoff <notifications@github.com>
wrote:

[2016-08-18 15:10] scottbateman commented on #1416
Hi @FransMeerhoff
I  just had the same problem. Can you clarify where to the download the fix? And I will confirm if it solved the problem for me.

[2016-08-18 15:16] FransMeerhoff commented on #1416
Hi @scottbateman

You can download the  fix from the location:
at the Jasp download site for Windows:
http://static.jasp-stats.org/JASP-0.8.0.0-Beta-5-Setup.exe

Kind regards
Frans Meerhoff

[2016-08-18 16:36] scottbateman commented on #1416
@FransMeerhoff OK. I thought, it may have been tagged differently for the change.

I can confirm that a uninstall and reinstall of the install file fixed the problem for me on Windows 10.

Thanks!

[2016-08-18 16:48] FransMeerhoff commented on #1416
Hello @scottbateman

Thank you for testing again!
Hope also that the new functionality is valuable for you.

Kind regards,
Frans Meerhoff

[2016-08-18 17:22] scottbateman opened #1423 "No images in Export Results"
In version 0.8.0.0 Beta 5, when exporting an HTML results file no image plots are displayed, there is just a broken image link. Looking at the image source shows that the path is set to a "resources/..." sub-directory. However, this sub-directory does not exist.

[2016-08-18 18:08] scottbateman commented on #1423
Follow-up... I overwrote my results file and this seemed to embed the images correctly. Not sure how I might replicate consistently.

[2016-08-18 18:10] scottbateman opened #1424 "Post-hoc tests disappear from RM-Anova output"
When adding post hoc test to the results of an RM ANOVA, the table disappear after clicking back on the results view. I have tried both with and without clicking OK, after adding the post hoc tests.

Version 0.8.0.0 Beta 5 on Windows 10.

I have tried post hocs with other tests.

[2016-08-18 19:46] Suggestions-Only opened #1425 "Feature Request: Add "Sort by loadings" option to Factor Analysis"
In order to make factor loading tables easier to interpret, particularly with large clusters of variables, I think it would be useful to add a "sort by loadings" option.  The function would probably use the fa.sort function of the psych package. Thanks!

[2016-08-19 09:30] aditya1315 opened #1426 "Unable to build jasp on Mac"
Hi,

I am facing a difficulty while building jasp on my Mac system - I am using OS X El Captain. I followed the steps in the readme docs - Guide to building JASP.

I have maintained the directory structure given there

- jasp-desktop
- boost_1_54_0
- build-JASP-Desktop-Debug
  - libarchive.a
  - ...

I get an error when I build it on QT - "[InstallJASPRPackage] Error 127"

Any help is appreciated

[2016-08-19 09:55] FransMeerhoff commented on #1426
Hi @aditya1315

Had you installed R on your mac?

If not you can try the following. Probably this will solve your build problem:

Install the R 3.1 package on the mac:
•	Download from https://r.research.att.com/
•	Install the package.
You will then have a /Lybrary/Frameworks/R.framework folder on the Mac which is referenced in the project file.

Kind Regards
Frans Meerhoff

[2016-08-19 12:16] NickMKitchen commented on #1422
Thanks for your message, I have tried with the new 0.8.0.0 beta release and I have the same issue of the "This analysis terminated unexpectedly. Please contact its author.\n\nError : map::at\n" error when I try to add the between subjects factor

[2016-08-19 13:37] aditya1315 commented on #1426
Hi @FransMeerhoff, thank you for your response

I have R 3.3.1 on my mac. But I am still getting the error. What could be going wrong?

[2016-08-19 14:13] jerhae1 commented on #1399
Hi Frans,
I opened up JASP from the command line, opened example file "Big 5", and then ran a descriptive analysis as well as a regression analysis. When I ran the descriptive analysis this time, the output box now displayed the same message that Haraldbj (above) reported: "This analysis terminated unexpectedly. Please contact author.\n\nError : No such file or directory\n."   And when I open up t

[2016-08-19 19:53] akashrajkn commented on #1426
@aditya1315 , _R_HOME path looks for the path ".../R.framework/Versions/3.1/Resources/library" on mac OS X [check the file JASP-Engine.pro where R_HOME variable is set]. As Frans pointed out, install R 3.1 from the link. (Alternately you could try modifying the path in JASP-Engine.pro to use Versions/3.3/... )

[2016-08-20 12:05] aditya1315 commented on #1426
That seemed to fix the issue. Now, when I try to build jasp, as soon as the jasp window loads up, I get a popup saying "JASP has experienced an unexpected internal error."

My compile output shows

QLayout: Attempting to add QLayout "" to BackStageWidget "backStage", which already has a layout
QLayout: Attempting to add QLayout "" to VariablesWidget "variablesPage", which already has a layout
subp

[2016-08-20 21:11] EJWagenmakers opened #1427 "No output shown"
At the WinBUGS workshop, one of the participants (running Windows 10) had a previous JASP version working. However, after installing the latest release (the one with the ANOVA running), he could start JASP, load a file, but the welcome screen never disappeared and no output was shown, regardless of the analyses that were selected. He was going to post a screenshot but perhaps he didn't get to it.

[2016-08-21 07:32] akashrajkn commented on #1426
@aditya1315 this could happen if you already have a newer version of "rjson" installed on your system. Look at [this thread on stackoverflow](http://stackoverflow.com/a/32724388). Try this - uninstall "rjson" package and then reinstall it (using R 3.1 version). Let us know if this works out

[2016-08-22 06:52] aditya1315 commented on #1426
@akashrajkn I looked at the thread. I reinstalled rjson, the problem persists. I have redefined the R_HOME path in JASP-Engine.pro to point to Library/Frameworks/R.framework/Versions/3.1/Resources/library . I double-checked the R version I am using and installed all the necessary R packages required for compiling jasp given in https://github.com/jasp-stats/jasp-desktop/blob/development/Docs/develo

[2016-08-22 10:48] akashrajkn commented on #1426
I think I see the problem. You only modified _R_HOME in JASP-Engine.pro. But there is an absolute path defined in enginesync.cpp file.

`#elif __APPLE__
QString rHomePath = programDir.absoluteFilePath("../Frameworks/R.framework/Versions/3.1/Resources");`

You have to change this path accordingly. Try modifying this and let me know if you still face a problem.

[2016-08-22 14:21] aditya1315 commented on #1426
@akashrajkn this worked. Thanks!

[2016-08-22 17:37] aditya1315 opened #1428 "Principal Component Analysis - Chi squared test table is empty"
I ran PCA on an example dataset (Big 5, included variables - Neuroticism, extraversion). The Component Loadings table shows the output, but the Chi-squared test table is empty. Please look into this. I used jasp version 0.8.0 beta on mac.

[2016-08-22 18:30] akashrajkn commented on #1388
@alvarezlionel can you test with JASP version 0.8.0 Beta5 and let us know if you are still facing the same problem?

[2016-08-22 20:36] FransMeerhoff commented on #1416
Solved in last Beta 5

[2016-08-22 20:36] #1416 closed

[2016-08-22 20:54] FransMeerhoff opened #1429 "Corrupted data in OSF"
During JASP Workshop users saved files in the OSF
Some JASP files appeared to be corrupted.
One repro is:
From a generated jasp file choose 'Export Results' and fill in '<filename>.jasp'
The correct message appears that the extension of the exported file should be .html'
BUT: The file is even though saved in the OSF as jasp file but the content is html
Downloading the file an renaming the extensio

[2016-08-22 23:44] cypresstwist opened #1430 "Compile problem on CentOS 7"
I run into the following problem while compiling on CentOS 7:

_In file included from /usr/include/c++/4.8.2/backward/strstream:51:0,
                 from engine.cpp:20:
/usr/include/c++/4.8.2/backward/backward_warning.h:32:2: warning: #warning This file includes at least one deprecated or antiquated header which may be removed without further notice at a future date. Please use a non-deprecated

[2016-08-23 06:24] alvarezlionel commented on #1388
Thanks for the update!!

Sorry to say, but I’m facing the same problem.

Here is the terminal output with JASP 0.8.0 Beta5:
Last login: Tue Aug 23 08:17:52 on ttys001
wifi-secure-154-56:~ alva$ /Applications/JASP.app/Contents/MacOS/JASP ; exit;
QObject::connect: No such signal FSBModel::hideAuthentication()
QObject::connect: No such signal FSBModel::hideAuthentication()
QObject::connect:  (receive

[2016-08-23 09:26] FransMeerhoff commented on #1429
Another way to corrupt the data in the OSF is:
Open a .csv file in the OSF.
And save it without changing anything. This wil corrupt the file too.

[2016-08-23 12:14] janakl4us opened #1431 "Runtime error: JASP crashes"
I had JASP repeatedly crash as I was running analyses. This is a screenshot of the error message, after which my laptop just shuts the programme down (and of course doesn't save anything unsaved): http://i66.tinypic.com/2hs7qzm.jpg Any ideas?

[2016-08-23 12:31] FransMeerhoff commented on #1431
Hi @janakl4us

The strange thing about your crash is that Microsoft Visual Studio shows the error message.
We do not develop JASP with MVS. Can you:
- Check in the Windows TaskManager if something running from Visual Studio. If So can you check if your problem disappears if you stop that process.
- Can you send us the JASP file. You can do this by
adding it to this issue as zip file or send it dir

[2016-08-23 13:23] wilhelmhofmann opened #1432 "Within-Subjects Repeated Anova with Between Subjects Factor Reporting Issue"
There is a reporting bug in the within-subjects effects portion of the table output when adding a between subjects factor to a 2 x 2 repeated factors design. The problem is with the report of the A x B interaction and the A x B x between factor report -- both lines are identical, see the attached figure. (this was done with the preinstalled BUGS dataset.

![image](https://cloud.githubusercontent.c

[2016-08-23 13:23] janakl4us commented on #1431
I can't find any programs that run from MVS. Also, the crash happened as I was using different example datasets (twice, with different files), but of course, I haven't been able to reproduce the error as such yet. What I did notice was that when I open the Task Manager, four versions of JASPEngine.exe were running even though at the moment, I only have one JASP window open - is that normal?

[2016-08-23 13:34] janakl4us commented on #1431
Okay, it just happened again, this time with the singer.csv dataset from the workshop.

[2016-08-23 13:38] FransMeerhoff commented on #1431
Four versions of the engines is normal. The reason for that is that every engine can do analyses simultaneously for one started JASP application.

[2016-08-23 13:42] FransMeerhoff commented on #1431
Hi @janakl4us

Sorry for the inconvenience now. Which version of Windows do you have?
Did this problem not occurred yesterday ??
About the MVS. I think it must be installed somewhere on your machine.
JASP and Microsoft Visual Studio should not interfere, but that might be a clue to search further.

Frans

[2016-08-23 13:48] janakl4us commented on #1431
No, weirdly it didn't happen yesterday (or any other time I've used JASP before). If I look at my installed programs, I do have a program called "Microsoft Visual Studio 2010 Tools for Runtime" and a German equivalent in the list.

[2016-08-23 13:49] janakl4us commented on #1431
Oh, and I use Windows 10.

[2016-08-23 14:12] paullemmens opened #1433 "UI behavior inconsistent with "standard behavior" when saving via OSF"
When saving a (new) JASP file on OSF storage, one first selects Save as and follows through with selecting the appropriate OSF folder, inputting a file name, and clicking the save button.

After modifying the file and needing to save, clicking the Save button, in the file menu, brings up a dialog popup to save locally.

To me this is against "default" behavior of other programs where using Save as

[2016-08-23 14:18] FransMeerhoff commented on #1431
Hi @janakl4us

First thing you can try, if there are updates available for Windows or Microsoft Visual Studio 2010.
If you go to theSstart button -> Settings-> Update @ Security you can check if you have missing updates.
You can find some problems on the internet with this issue.

Frans

[2016-08-23 14:22] EJWagenmakers opened #1434 "Plotting functionality in Bayesian ANOVA"
@raviselker @mmarsman1
The classical ANOVA has some cool plotting options. It would be nice to make exactly the same options available in the Bayesian ANOVA. Hopefully this just means copy-pasting code.
E.J.

[2016-08-23 14:33] janakl4us commented on #1431
Okay, thanks @FransMeerhoff - I ran the updates and will keep you posted if the problem still persists.

[2016-08-23 19:06] aditya1315 commented on #1430
@cypresstwist most likely, RInside has been installed at a different path. On linux, R_HOME (check JASP-Engine.pro file) point to the path "/usr/lib/R". The packages must normally be installed in '/usr/lib/R/library'.

Try this,
1) On terminal, type "R" to fire up the R console.
2) type ".libPaths()". This shows you the paths where R packages might be installed. [If it is not pointing to '/usr/lib

[2016-08-23 19:08] aditya1315 commented on #1430
@cypresstwist most likely, RInside has been installed at a different path. On linux, R_HOME (check JASP-Engine.pro file) point to the path "/usr/lib/R". The packages must normally be installed in '/usr/lib/R/library'.

Try this,
1) On terminal, type "R" to open the R console.
2) type ".libPaths()". This shows you the paths where R packages might be installed. [If it is not pointing to '/usr/lib/R/

[2016-08-23 19:36] cypresstwist commented on #1430
I did a

Warning in install.packages("RInside", lib = "/usr/lib/R/library") :
  'lib = "/usr/lib/R/library"' is not writable
Would you like to use a personal library instead?  (y/n) y
Would you like to create a personal library
~/R/x86_64-redhat-linux-gnu-library/3.3
to install packages into?  (y/n) y

Then exited R and did a

qmake-qt5 JASP.pro
make

in the jasp source code folder folder and stil

[2016-08-23 21:00] EJWagenmakers opened #1435 "Allow window resize?"
From the JASP Forum: "I'm running into a problem with not being able to see my full variable names when setting up a repeated measures analysis. Is there a way to resize the variable window to see the full variable names in the column from which you grab them for the analysis? Seems like this should be an easy window drag, but that is not working for me. (I'm working in Mac OSX.)"

E.J.

[2016-08-24 06:39] akashrajkn commented on #1430
@cypresstwist

1) can you tell me where R is installed on your system?
2) If your R_HOME is "/usr/lib64/R/" , then try installing Inside in the path "/usr/lib64/R/library" [Alternatively, you can modify the enginesync.cpp to point to the path where R packages are installed - but keep that as the last resort]

[2016-08-24 08:31] arnig opened #1436 "Frequentist paired t-test not working"
I am unable to perform a paired samples t-test in JASP 0.8.0.0 Beta, on a Mac, running El Capitan. This was not a problem in JASP 0.7.5.6. Screenshot of the error provided here:

https://dl.dropboxusercontent.com/u/3576423/ttest_error.png

I've reproduced this on several datasets, which I had previously analyzed without problems.

Other frequentist t-tests are working, as well as ANOVAs and Bayesi

[2016-08-24 10:28] akashrajkn commented on #1436
@arnig this issue has been fixed. Please download the dmg file again from the jasp-stats website.

[2016-08-24 10:35] arnig commented on #1436
Great! Thanks.

[2016-08-24 16:12] cypresstwist commented on #1430
1)

R: /usr/bin/R /usr/lib/R /usr/lib64/R /usr/include/R /usr/share/R /usr/share/man/man1/R.1.gz

2) I tried that already. I get a

How do I install packages from within R so that I can write to a path to which I as a user don't have access permissions to?

[2016-08-24 22:27] EJWagenmakers opened #1437 "sav import error for categorical data"
Feedback through the gmail account:
"<JASP> also allows for the import of .sav files, but this was a case of modified rapture: there seems to be a bug on this that allows such files to be processed using regression analysis, but not analysis using categorical variables such as t-tests, ANOVA and RM ANOVA. Those programs work fine on the same data imported as a .csv file, so there is nothing wrong

[2016-08-25 13:07] IndrajeetPatil commented on #1416
Hi,

I am now using JASP-0.8.0.0-Beta-5, but still there is an error in the descriptive statistics unit.

![capture](https://cloud.githubusercontent.com/assets/11330453/17970144/93390f60-6ad5-11e6-8a1c-e76e38f6684f.PNG)

[2016-08-25 13:42] FransMeerhoff commented on #1416
Hi @IndrajeetPatil

Sorry to hear that, that's pretty annoying.

But I do need to ask you
- Can you confirm that your about box now shows the exact same info as ours, especially the timestamp?

<img width="385" alt="screen shot 2016-08-25 at 15 29 42" src="https://cloud.githubusercontent.com/assets/15656960/17970973/1727b2ce-6ad9-11e6-8145-1aa41d61dc19.png">

- Are you using a specify dataset or o

[2016-08-25 13:47] IndrajeetPatil commented on #1416
Oops, it started working again! Maybe it was just a temporary problem.
Sorry for the trouble!

On Thu, Aug 25, 2016 at 3:42 PM, FransMeerhoff <notifications@github.com>
wrote:

[2016-08-25 13:53] FransMeerhoff commented on #1416
No problem.
Thanks

[2016-08-25 14:10] akashrajkn commented on #1430
@cypresstwist , i'll get back to you on this

[2016-08-26 08:17] elke2222 opened #1439 "RManova bug"
Since installing JASP 8 for the workshop in Amsterdam, repeated measures anova results in the following output (also during the workshop with the data and variables used in the workshop):
![image](https://cloud.githubusercontent.com/assets/21257751/17998653/cd299b90-6b75-11e6-8321-ba71b267b7e0.png)

My computer:
![image](https://cloud.githubusercontent.com/assets/21257751/17998720/1cdde6e6-6b76-11

[2016-08-26 09:15] FransMeerhoff commented on #1439
Hello @elke2222

This is a known problem. Please Uninstall your version of JASP and reinstall the latest Beta version that is now on the site. This should fix your problem.

Kind regards
Frans Meerhoff

[2016-08-26 09:17] FransMeerhoff commented on #1439
See #1416 for this.
If you have a different problem, please contact us again.

[2016-08-26 15:00] metamorphose42 commented on #1347
i have a similar issues, and i dont even change my variables names... everything is the same in these three analyses, yet the output is different... how is that possible?! many thanks

![screen shot 2016-08-26 at 15 37 19](https://cloud.githubusercontent.com/assets/18419722/18009889/0a57d308-6ba6-11e6-848d-0e77a783f51d.png)
![screen shot 2016-08-26 at 15 37 32](https://cloud.githubusercontent.com/

[2016-08-26 17:34] lindeloev commented on #1347
@metamorphose42, try reading what I and @raviselker wrote. Looks very much like an expected sampling error. It does not qualitatively change the BFs.

[2016-08-27 09:27] metamorphose42 commented on #1347
@lindeloev thanks! i did all that, but my issue is which to report? (same concern: with anyone else rerunning it, even with identical variable names - and getting different results.. especially if i want to opensource my dataset) qualitatively similar but yet not the same..?

[2016-08-29 09:11] aknight1-uva commented on #1437
-Huummmm - The big difference between CSV and SAV import is that SAV import does a _*much*_ better job of preserving the data type than CSV. Is there something unexpected in his SAV files - as far as column types goes - which gets lost in the CSV export/import? Copies of both her/his files, and some idea of which version of which program created them would be extremely helpful.

[2016-08-29 09:45] #1436 closed

[2016-08-29 13:48] tpleskac opened #1440 "Repeated Measures Cells Order in RMANOVA"
This bug has been around for a while. You can get around it...but it should be fixed.

 I have a dataset with 4 factors each with 2 levels (to be clear this is not my own as ANOVAs with 4 factors can be a bit mind boggling to digest). Everything works well up to 3 factors, but when you add the 4th factor the cell names get shuffled such that the level labels are swapped into the 3rd factor. And th

[2016-08-30 07:22] groeinarsdottir opened #1441 "Descriptives"
Hi!

Great job with the new release! Some very nice features and a lot of improvements.
However, I came across an issue when doing descriptive analysis. When I wanted to use ordinal or categorical variables I had a problem with getting the output. The following error message came up:

This analysis terminated unexpectedly. Please contact its author.\n\nError in data.frame(group = group, y = y) : \

[2016-08-30 08:03] IndrajeetPatil commented on #1441
I also sometimes encounter the same problem *solely* when I am working with categorical variables.

[2016-08-30 11:34] boutinb commented on #1441
Hi @groeinarsdottir
Could you send your data file and tell exactly which columns you use (with which parameters)? Then we can hopefully reproduce your problem.

Thanks,
Bruno

[2016-08-30 11:50] groeinarsdottir commented on #1441
Hi Bruno,

I have been using a couple of data files and I get the same problem with all of them. As soon as I start using categorical variables I get an error message. For example, I was analysing data from this open OSF file and none of the categorical variables worked when I was doing descriptive analysis and Bayesian ANOVA.

https://osf.io/vyibm/files/

All the best

Gró

______________________

[2016-08-30 12:37] boutinb commented on #1433
@paullemmens: I could see this inconsistency. I will fix it.
File handling on computer should get the same behaviour as with OSF. The first vertical tab shows the actions (Open/Save, etc), the second tab shows the location of the files. That is how we designed it, but it may of course still have some inconsistencies we should fix.

[2016-08-30 12:42] boutinb commented on #1429
Solved in next release

[2016-08-30 12:42] #1429 closed

[2016-08-30 13:01] #1426 closed

[2016-08-30 13:03] boutinb commented on #1423
If you have a reproduction path, can you re-open this issue?
Thanks,
Bruno

[2016-08-30 13:03] #1423 closed

[2016-08-30 13:06] boutinb commented on #899
Due to too long inactivity, this issue is closed.

[2016-08-30 13:06] #899 closed

[2016-08-30 13:08] boutinb commented on #815
Export Data and Export Result are now available.

[2016-08-30 13:08] #815 closed

[2016-08-30 13:10] boutinb commented on #860
Due to too long inactivity, this issue is closed.

[2016-08-30 13:10] #860 closed

[2016-08-30 13:12] boutinb commented on #852
@quentingronau: Did you implement this?

[2016-08-30 17:13] quentingronau commented on #852
Yes, I think I implemented interactions between continuous variables a while ago.
Here is an example screenshot (using the latest JASP version, i.e.,  0.8.0.0):

![example_regression_interaction](https://cloud.githubusercontent.com/assets/8697436/18099108/4bcc4822-6ee5-11e6-8482-56871c010f53.png)

Cheers,
Quentin

[2016-09-01 17:24] NikitaKhromov-Borisov opened #1443 "suggestions"
1. I fell it would be fruitful to report p-values as exact (real) as possible, not as inequality <.001. It's extremely important!!!
2. Contrasts should be presented with confidence (better credible) intervals.
3. For contingency tables analysis it would be desirable to have an opportunity to receive BF01, BF10 and log(BF10) simultaneously as well BFs for all four (five) sampling models at once lik

[2016-09-01 22:39] EJWagenmakers commented on #1437
I will send a file over regular Email.

[2016-09-03 14:20] tressoldi opened #1444 "Values of the credible intervals descriptive plots"
Is it possible to obtain the values of the credible intervals descriptive plots for example in the Bayesian paired t-test?

[2016-09-03 14:53] diogenesbido commented on #1418
It is very common to include "control variables" in the first block and the independent variables in the second block.

[2016-09-03 15:08] diogenesbido commented on #1038
besides Wilcoxon, Mann-Whitney, Kruskal-Wallis, maybe some bootstrap or permutation methods

[2016-09-03 15:10] diogenesbido commented on #969
Please, Shapiro-Wilk normality test, too.

[2016-09-03 15:12] diogenesbido opened #1445 "Factor scores (principal components and exploratory factor analysis)"
Please, add this option:
- Factor / Principal.. = add "save scores" (Bartllet or regression *)
- Factor / Exploratory... = add "save scores" (Bartllet or regression *)

* = or show the factor weights.

[2016-09-03 21:33] renenob commented on #1418
That's true.

[2016-09-03 21:40] renenob commented on #423
It can be done in spss via changing the syntax (minor). You may check how2stats youtube video. It will be awesome if JASP can implement this. Post moderation slopes analysis too, in the case of multiple regression.

[2016-09-04 16:47] EtzAlex opened #1446 "Plotting bug w/ summary stats module"
When I input a sufficiently large t value (>~4) into the t-test summary stats module, my posterior distribution disappears. I have attached a .jasp file with the output.
[SummaryStatsBUG.zip](https://github.com/jasp-stats/jasp-desktop/files/454009/SummaryStatsBUG.zip)

I am running JASP 0.8.0.0 beta on my mac.

[2016-09-04 22:30] EJWagenmakers opened #1448 "Follow-up tests for every cell in classical ANOVA"
Feature request, from the JASP Email:
"One other question, for follow-up tests after a significant interaction in a factorial ANOVA, will there be an option added for conducting tests (e.g., Tukey HSD) that test the comparison of every cell in the analysis? This option is available on JMP software, and it is very useful for helping students quickly interpret significant interaction effects in a fa

[2016-09-04 23:09] EJWagenmakers opened #1449 "Add citation info in About Box"
I've noticed that many people mis-cite the JASP software. Can we add this information to the "about" box?
So the third heading would be

"citation: JASP Team (2016). JASP (Version 0.7.5.5)[Computer software]." (or whatever version we have). I think we should *also* add this information to the opening screen ("Welcome to JASP!") We can add it after the last sentence ("...break-neck speed").

E.J.

[2016-09-05 14:36] fplatz opened #1450 "Multiple comparison in Bayesian ANOVA"
Hi!

I wondered if it possible to include the option of specifying hypotheses within the Bayesian approach of ANOVA. I would like to perform a bf analysis for multiple comparisons ('(linear) contrast analysis').

Thanks a lot for this program! I like it really much!

[2016-09-06 08:30] boutinb commented on #761
There is also a forum http://forum.cogsci.nl/index.php?p=/categories/jasp-bayesfactor.
But a newsletter would be indeed a nice idea...

[2016-09-06 08:30] #761 closed

[2016-09-06 08:47] FransMeerhoff commented on #1443
Hello @NikitaKhromov-Borisov

We appreciate your suggestions a lot.
We've assigned your issues and we will let you know the result.

About the bug:
We tried this with the attached data on the latest version and could not reproduce your problem so your problem should be fixed in the official JASP 0.8.0.0. release.
We plan to release the official JASP 0.8.0.0 in a few weeks.

Kind regards
Frans Meer

[2016-09-06 09:51] #765 closed

[2016-09-06 09:52] boutinb commented on #770
Issue closed due to too long inactivity

[2016-09-06 09:52] #770 closed

[2016-09-06 09:52] #783 closed

[2016-09-06 09:53] #789 closed

[2016-09-06 09:53] boutinb commented on #790
Issue closed due to too long inactivity

[2016-09-06 09:53] #790 closed

[2016-09-06 09:54] boutinb commented on #809
Issue closed due to too long inactivity

[2016-09-06 09:54] #809 closed

[2016-09-06 09:54] #817 closed

[2016-09-06 09:57] boutinb commented on #848
@raviselker : should we close this issue?

[2016-09-06 09:59] #852 closed

[2016-09-06 10:16] #911 closed

[2016-09-06 10:17] boutinb commented on #913
Issue closed due to too long inactivity

[2016-09-06 10:17] #913 closed

[2016-09-06 10:29] boutinb commented on #764
Discussion went on with issue #1146

[2016-09-06 10:29] #764 closed

[2016-09-06 10:45] boutinb commented on #902
@quentingronau: is this solved?

[2016-09-06 10:53] boutinb commented on #975
@quentingronau : is this something easy to add?

[2016-09-06 10:54] boutinb commented on #976
Add tiptool

[2016-09-06 10:57] boutinb commented on #1008
@raviselker : is it solved?

[2016-09-06 11:00] boutinb commented on #1031
Variable ordering is already implemented, but needs still a neater way in the interface.

[2016-09-06 11:03] boutinb commented on #1046
Issue closed due to too long inactivity

[2016-09-06 11:03] #1046 closed

[2016-09-06 12:57] janderuiter commented on #847
Hi! Does that mean you implemented this? *Jumping up and down
enthusiastically*

Cheers, JP

On Tue, Sep 6, 2016 at 5:55 AM, bruno boutin <notifications@github.com>
wrote:

[2016-09-06 12:59] EJWagenmakers commented on #847
Nee JP
Bruno heeft het gekilled omdat het te lang geleden is dat we er iets mee
hebben gedaan denk ik :-) Dus het was vanwege een grote schoonmaak.
Blijf ons lastigvallen hiermee svp.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parce

[2016-09-06 13:05] janderuiter commented on #847
Jammer! Het zou zo cool zijn!

On Tue, Sep 6, 2016 at 8:59 AM, EJWagenmakers <notifications@github.com>
wrote:

[2016-09-06 13:34] boutinb commented on #847
Sorry te snel ge-closed....

[2016-09-06 14:49] raviselker commented on #1008
Nope

[2016-09-06 14:51] raviselker commented on #848
I don't think we did this yet for the t-test, and the repeated measures ANOVA.

[2016-09-07 15:21] ThompsonAD opened #1451 "Jasp freezing and will not show results"
Hello!
I am using an ASUS, with the following settings:
Windows 10, Intel core i5-5200U CPU @ 2.20GHz 2.19GHz, 8.00GB RAM, 64-bit operating system x64-based processor
(I hope that is all the info you needed)

I am having multiple problems with JASP.
The first is that is freezes and has the "(not responding)" icon upon opening. It freezes for awhile but finally loads. It lets me upload the csv. dat

[2016-09-09 13:11] aknight1-uva opened #1452 "Enhancement request: Import data from database."
As mentioned in the meeting:
An import from database(s) might be useful to some (commercial) users.
First thoughts on construction:
1. Use an ODBC connector to access the databases.
2. Have the user enter an SQL statement ("JOIN") somewhere (An "Import options" dialogue?).
A full featured DB browser would be overkill.
Points to think about:
* DB type to JASP type mapping.
* A RDMS could easily pro

[2016-09-09 13:18] aknight1-uva opened #1453 "Enhancement request: Date and Time types"
As of now, JASP knowns nothing about times: These are converted to a string on import.
Given that databases, SAV files, R and Qt all have date and time support, we might at least attempt to format time and  date according to the user's locale - even if no analysis expressly requires it.

[2016-09-09 15:35] aknight1-uva opened #1454 "JASP .SAV importer fails to import workable dataset."
From Dr Rory Allen (Goldsmiths, University of London):
Hi,

I attach the data set. The IV is ASDquery, and the DV is NewWdCount. If I use the regression program with these variables, it comes out fine. But with the t-test, using the same IV and DV, it gives an error message as previously discussed.

Good luck. SPSS seems to be slower every time I use it, and I'm looking forward to having a bug fre

[2016-09-10 19:06] coledavis opened #1456 "File/Close"
This is a minor issue, I know, but I would just advise that File/Close does not seem to work.

Version 0.8.0.0.
Windows7 64 bit computer. Old user.

[2016-09-12 10:25] aknight1-uva commented on #1454
[DrRoryAllen.zip](https://github.com/jasp-stats/jasp-desktop/files/467061/DrRoryAllen.zip)
Added zipo file (both .SAV and ,CSV verstions:
N.B. CSV format made with SPSS 20.0.0, Dr Allen uses 19.0.0 according to the contents of the SAV file.

[2016-09-12 10:25] #1454 closed

[2016-09-12 21:50] lindeloev commented on #1347
Usually, you would report the first you run to prevent cherry-picking. I wouldn't worry too much about an uncertainty of 2-3%. Multiple runs is a standard procedure to test convergence.

I Don't have JASP installed right now, but I think that in newer versions, you can change the number of samples. The more samples, the less variability in estimates - and the longer computation time.

[2016-09-13 17:02] quentingronau commented on #975
Yes, this is something relatively easy to add.

[2016-09-14 01:51] Jannik012 commented on #1418
When I do a hierarchical regression as diogenesbido recommends, it seems like I am not able to choose which variable is computed in the first block and which is added in the second block. It seems to be completely random. Any ideas on how I can solve this problem?

[2016-09-14 14:10] EJWagenmakers opened #1457 "SumStats correlation bug"
@akashrajkn

When I run correlation pairs and switch to BF_01, the dot remains in the old (wrong) spot. See screenshot!
I haven't checked the other analyses but that would be worth doing.

![image](https://cloud.githubusercontent.com/assets/8603015/18515453/b3684880-7a95-11e6-9d6a-f455b7689c4c.png)

[2016-09-15 10:41] diogenesbido commented on #1418
In this version 0.8.0.0) is not possible to run hierquical regression (to controlling the sequence of input of IV in the model)

[2016-09-18 13:51] akashrajkn commented on #1457
Fixed this in pull request #1462

[2016-09-18 22:46] EJWagenmakers opened #1463 "Sumstats issue"
@akashrajkn

When I conduct a SumStat unpaired t-test, and I press "OK", then I only see the output, but the input panel turns blank. If I then press an output element the issue is resolved. Still, the initial blank input panel is not how it's supposed to work. See screenshot.
![image](https://cloud.githubusercontent.com/assets/8603015/18619653/8e7869a4-7e02-11e6-9c4e-7ba3dc706541.png)

[2016-09-20 10:42] mih commented on #1146
@EJWagenmakers is there anyone on record to be working on making a package for Debian proper?

If not, I might give it a try. First targeting NeuroDebian, while aiming for eventual inclusion into Debian proper.

[2016-09-20 10:49] EJWagenmakers commented on #1146
@mih
@akashrajkn
Hi  Michael,

Any help would be appreciated! Perhaps we could kickstart this by having you over for a visit to our group?

Cheers,
E.J.

[2016-09-20 10:51] FransMeerhoff commented on #1146
HI @mih

It would be indeed be very helpful for us to give that a try anyway.

Kind regards
Frans Meerhoff

[2016-09-20 10:57] mih commented on #1146
A visit would be lovely! But let's first see how far we can get right now. We will do this as a project in the lab's hackathon this Friday.

Pointers to any secret sauce you guys are using to build the PPA packages would be much appreciated. The stuff under `tools/debian` doesn't look like the complete set of what it would need.

[2016-09-20 10:59] mih commented on #1146
Ah, I missed the .pro file -- maybe it is all there...

[2016-09-20 15:11] stephensrmmartin commented on #1146
I packaged this for arch linux, including a package of r packages needed for jasp to run. My method may provide some inspiration, and if there's any improvements to be made, I can make them.

In particular,  I really dislike how I had to bundle the r packages  (forcing them to install in the r system library rather than in the jasp folder....).

[2016-09-20 15:12] stephensrmmartin commented on #1146
Oops,  meant to mention that you can view the build scripts at the AUR if you search for jasp. Two packages are there, one for jasp, one for the r bundle.

[2016-09-20 16:20] mih commented on #1146
Thanks!

A quick check seems to indicate that we are goods with the deps on Debian
(minus one license issue).

On Sep 20, 2016 17:11, "Stephen Martin" <notifications@github.com> wrote:

[2016-09-21 02:03] akashrajkn commented on #1463
@EJWagenmakers I think this is the expected behaviour. In JASP-Common, when the OK button is clicked, the (input) options form is closed and it shows the dataset on the left. In Summary stats, since dataset is not required, it shows an empty panel.

[2016-09-21 07:21] mih opened #1470 "[Debian] compiled tests fail (reason unknown)"
Log snippet:

[code]

[2016-09-21 07:27] FransMeerhoff commented on #1470
Hi @mih

You could avoid this problem by editing the JASP.pro file and change
SUBDIRS += \
	JASP-Common \
	JASP-Engine \
	JASP-Desktop \
	JASP-Tests

into

SUBDIRS += \
	JASP-Common \
	JASP-Engine \
	JASP-Desktop

So simply removing the JASP-Tests target.
You would need this for running JASP

Kind regards
Frans Meerhoff

[2016-09-21 07:28] mih commented on #1470
Thanks, this is what I am doing. However, from the perspective of a packages this should be a theoretical option only ;-)

[2016-09-21 07:29] #1457 closed

[2016-09-21 07:35] FransMeerhoff commented on #1463
Hi @EJWagenmakers , @akashrajkn

It's very easy to disable the OK button in the summer statistics (not shown). I can do that for the moment?
(After the panel redesign this problem would not be occur anyway.)

Gr. Frans

[2016-09-21 07:55] EJWagenmakers commented on #1463
OK!

On Sep 21, 2016 09:36, "FransMeerhoff" <notifications@github.com> wrote:

[2016-09-21 08:29] mih opened #1472 "[Debian] source of backbone-min-1.1.2.js is missing"
This file in JASP-Desktop/html/js exists only in minified form. This is not considered "the preferred form for modification". Please add the actual source for this library.

Without the complete source this packages is not suitable for inclusion in Debian.

An alternative action would be to strip the minified file from the sources.

[2016-09-21 09:11] mih opened #1473 "[Debian] exhaustive specification of (optional) dependencies on R packages"
Here is what I compiled from the website and the existing packages:

Depends (doesn't work without)
- afex
- bayesfactor
- car
- effects
- hypergeo
- lme4
- logspline
- rjson

Recommends (expected for a default install, but not required):
- ggplot2
- lsmeans
- plotrix
- rcpp
- rinside
- vcd
- vcdextra

With all these and their dependencies installed, I see the following at start-up:
- Package acep

[2016-09-21 16:16] stephensrmmartin commented on #1473
The packages you mentioned as 'not installed', I believe, are dependencies of the JASP R dependencies. I would classify all of those as dependencies *of* the R packages that need them, not as JASP dependencies, per se.

This is a ton of work, if debian doesn't have those R packages in the repos. Because I didn't want to create separate packages for every JASP R dependency and their dependency tree

[2016-09-21 16:22] stephensrmmartin opened #1475 "[Linux packaging] R Dependencies"
I maintain the arch linux AUR build of jasp, and I think it's time for a repackaging.

Currently, I package both jasp and a jasp-rbundle.
The jasp-rbundle provides all JASP r deps recursively (so dependencies of jasp R package dependencies).
For jasp to work, I had to let this install to the R system library, and specify that the rbundle provides r-cran-\* (where \* is every single R package ever

[2016-09-21 16:35] mih commented on #1473
There is cran2deb which makes it easy to get Debian packages for anything R. However, if those are dependency of 3rd-party dependencies something is broken anyway. For example we have a dedicated r--cran-hmisc package, but it is not installed -- so something isn't specifying its dependency properly (assuming your assessment is correct). Any idea how to trace what library is causing hmisc to be exp

[2016-09-21 16:40] mih opened #1476 "[Debian] embedded-library: libjsoncpp"
[code]

[2016-09-21 17:59] akashrajkn commented on #1475
I modified enginesync.cpp (lines near 347) to point to the path where R packages are installed. This worked on mac. Can you try specifying the rHomePath and check if it works?

[2016-09-21 18:03] stephensrmmartin commented on #1475
Will this permit JASP to use packages from *both* the R system library and a custom directory?
That is-- I want JASP's r session to find packages in /usr/lib/R/library/ and /usr/share/JASP/R/library or something.
That way, R's standard install can be used, but JASP's package dependencies can be put in the latter directory.

On 09/21/2016 12:59 PM, akash raj wrote:

[2016-09-21 18:16] akashrajkn commented on #1475
I will have to check that. I haven't tried specifying multiple paths for packages.

[2016-09-21 18:39] mih opened #1477 "[Debian] Please confirm desired installation setup"
The qmake setup does not seem to have a functional `install` target (that could be used to perform a typical installation). Hence it is unclear to me how JASP wants to be deployed. This is a dump of the current setup. it seems to be OK, but it would be nice if someone could confirm general sanity.

Thanks!

[code]

[2016-09-21 18:44] mih opened #1478 "[Debian] JASP core dumps on load of two example datasets"
File -> Examples -> Tooth Growth
File -> Examples -> Kitchen Rolls

immediately yields a core dump:

[code]

all other examples load fine.

Using a build of 962a1bfa2289872a134e9d25c18c698a04b26e05

[2016-09-21 18:49] mih commented on #1473
I got JASP to complain about one missing dep:

File -> Examples -> Big 5 -> PCA -> Pic two  variables:

[code]

[2016-09-21 18:49] akashrajkn commented on #1475
@stephensrmmartin , in enginesync.cpp line 411 (under linux macro), you can specify the R_LIBS path. You can add multiple paths for R packages here. I tested this on ubuntu 15.10. Hope it helps

[2016-09-21 18:57] akashrajkn commented on #1430
@cypresstwist , you can modify the code to point to the path where R packages are installed. Look at [enginesync.cpp](https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Desktop/enginesync.cpp), line 411 (under the macro for linux). You can add the path where RInside is installed to the R_LIBS.

[code]

Let me know if this doesn't work

[2016-09-21 19:00] stephensrmmartin commented on #1475
I'll look into this later.

Seems like this should be a compile-time option rather than a per-distro patch.
On 09/21/2016 01:49 PM, akash raj wrote:

[2016-09-21 19:03] mih commented on #1473
Interestingly, JASP seems unable to benefit from the presence of the psych library in my local user installation:

[code]

Error in JASP remains the same, though. Is there any switch to make JASP be able to use local user installations? That would make it possible to dynamically obtain missing dependencies via R's own package manager. Or is that undesirable for some reason?

[2016-09-21 19:11] akashrajkn commented on #1473
@mih , currently jasp checks the paths "rHome/library" and "rHome/site-library" for installed r packages. Try installing psych into one of these paths.

[2016-09-21 19:39] mih commented on #1473
@akashrajkn Thanks! Are we talking about this code? https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Desktop/enginesync.cpp#L407

On my system, R places packages installed by a user into directories like this: `$HOME/R/x86_64-pc-linux-gnu-library/3.3/psych`. I don't know a way to make R reveal this programmatically. `R CMD config` doesn't seem to offer this.

[2016-09-22 05:04] akashrajkn commented on #1473
@mih , yes, that's where R_LIBS is set.
On R console, .libPaths() command tells you where the packages are installed. You can even specify a custom path where you want R to install the packages - .libPaths("/path/to/install")

[2016-09-22 07:10] stephensrmmartin commented on #1475
This worked! I was able to push all JASP R packages to the JASP directory, with the exception of RInside which I could package by itself if need be.

The only remaining issue I have now is that the .desktop you all ship use custom categories, so it doesn't show up in the XDG standard directories. A bit silly, imo, but I could either add a .menu file or change the category --- I'm opting for the la

[2016-09-22 07:39] FransMeerhoff commented on #1475
Hi Akash,

Hello, I still hope you’re OK.
I’m very curious about the this issue too, because we still have a problem on Ubuntu too regarding this subject.

I’m looking for a solution ta add one big ASP R-package,  or at least a minimals set of R-packages, to the ppa, and after installation of JASP refer with the R_LIBS environment  to this and not to the system libraries of R.

We are still aware

[2016-09-22 10:39] mih commented on #1473
@akashrajkn Thanks. Looking at this further, it seems that JASP is overwriting the default behavior of how R looks up libraries. As on Debian I can already rely on the presence of all required component (ensured via the package manager), it seems that I could just disable the entire environment setup. In doing so, R used in JASP would behave just like regular R.  Is there anything that would speak

[2016-09-22 13:35] mih commented on #1473
FTR: I have added this patch: https://github.com/neurodebian/jasp-desktop/blob/debian/debian/patches/no_custom_env

It minimizes the impact on a particular systems setup, and allow JASP to benefit from user-installed packages.

[2016-09-22 16:40] mih commented on #1476
This seems to be correct. There are substantial differences to the recent jsoncpp library, but this must have started out as a convenience copy.

Are their any plans to rectify this?

[2016-09-22 16:51] mih commented on #1476
FTR: This copy seems to be at least three years old. It pretty much hasn't seen any updates since. Looking at https://github.com/open-source-parsers/jsoncpp there are hundreds of changes in the same time, and about 200 issues closed.

From an blunt attempt to replace the embedded code with the current version in Debian I see only

[code]

There may be more, but it is not *that* bad.

[2016-09-22 17:00] mih opened #1480 "[Debian] embedded-library: base64"
At first glance, also modified, e.g.:

[code]

[2016-09-22 18:06] mih commented on #1470
Switching to an out-of-source build made compiling the tests possible. Running them I get this:

[code]

[2016-09-22 18:25] mih commented on #1470
On the other hand, I can run the R-based test suite just fine without any error.

[2016-09-22 18:40] mih commented on #1475
I would be interested in what you think about the patch linked in gh-1473. This makes JASP use user-installed R packages. With this I can pull any dependency from CRAN that I desire (as a user) without having to go through an admin.

[2016-09-22 18:41] mih commented on #1475
Actually, JASP could do that by itself and on-demand. Whenever some package is not there, it could obtain it from CRAN.

[2016-09-22 18:45] mih commented on #1477
This request is obsolete. JASP is now installed into the standard paths for R packages.

[2016-09-22 18:45] #1477 closed

[2016-09-22 19:27] stephensrmmartin commented on #1475
I don't like the idea, personally. It seems like an awfully 'windowsy'
solution to require each user to install needed dependencies. It's a
waste of space. A better solution is to build all non-standard JASP R
dependencies (recursively) into a library that JASP uses (thus doesn't
conflict with any user or system packages), and thus all users benefit from.

It seems odd to use user libraries for th

[2016-09-22 19:33] mih commented on #1475
This is not about "require each user to install needed dependencies". This is about being able, at all, to use user-libs when the system doesn't have them. Many reasons will make such a solution useful. In Debian, we face the situation that we won't have afex because of a stupid licensing issue: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=800891

I can make users wait for a resolution, or le

[2016-09-22 19:37] mih opened #1481 "[Debian] make R-based tests fail on failure"
The following command will always succeed (return value 0), regardless of whether the executed tests fail.

`JASP-Tests % R --no-save --no-restore -f run_tests.R`

This makes it unsuitable for automated tests, which rely on a non-zero return value if any tests fail.

[2016-09-23 05:16] akashrajkn commented on #1470
@mih did you unpack the TestFiles.zip in the Resources folder?

[2016-09-23 05:22] mih commented on #1470
No, I didn't. Must have missed that in thr docs. Thanks for the pointer!

On Sep 23, 2016 07:16, "akash raj" <notifications@github.com> wrote:

[2016-09-25 13:27] EJWagenmakers opened #1482 "Feature request for more complete Bayesian ANOVA"
@mmarsman1 @raviselker
Email from a journal editor:
"If I’m not missing something, I would like to suggest a simple addition to JASP that is very important to me when I use the program. For the Bayesian ANOVA, I think one doesn’t get the N and the means. I then do a regular ANOVA in JASP to get the means, but it’s not as comforting. For me, seeing the N and means come out of the same analysis that

[2016-09-26 09:25] ghost opened #1483 "Reshaping data between long/wide formats"
Hello,

We currently can't input datas directly into Jasp (i.e. we have to use a .csv file) and I remember a post saying that this feature is on the to-do list.

I was wondering if it was possible to also add the possibility to reshape datas. Inputing datas and switching between long / wide format with ease would be very much appreciated by the students.

And keep up the good work, Jasp is a big s

[2016-09-27 09:02] #1463 closed

[2016-09-28 10:26] mgundogdu1 commented on #870
Hi.
I installed Jasp about a month ago and its worked fine until last week. Last week I cant open and also I cant install another machine. Then I follow the error and I copy some files and one folder to in R directory and problem solved:
/usr/share/jasp-desktop/R/library/Rcpp/include/Rcpp.h to /usr/lib/R/library/RInside/include/
/usr/share/jasp-desktop/R/library/Rcpp/include/RcppCommon.h to /usr/l

[2016-09-28 13:36] coledavis commented on #1456
Ah, I understand. It closes the current file, not the program. Sorry.

[2016-09-28 13:36] #1456 closed

[2016-09-28 14:20] FransMeerhoff commented on #1456
OK @coledavis

No problem, indeed the close gives the possibility to open a new file without creating a new instance of JASP itself.

[2016-09-29 10:39] aknight1-uva opened #1495 "Enhancement request: Strings are ordinal instead of nominal."
Strings are inherently ordered, especially if used to represent date and time data, e.g. from a .SAV file. Shouldn't JASP reflect this?

[2016-09-30 05:31] akashrajkn commented on #1446
This bug is fixed in PR: #1447

[2016-10-04 00:16] EJWagenmakers opened #1497 "Text copied from annotations"
When I copy sentences from annotated JASP text, these often contain some unusual characters. For instance, a url looks like this: https://stat.ethz.ch/R-manual/R-devel/library/lattice/html/singer.html

It appears that every period is preceded by a backslash. I have not encountered that when copy-pasting from html output before...
E.J.

[2016-10-06 10:14] rolfzwaan opened #1499 ""This analysis terminated unexpectedly""
I'm trying to do a paired-samples t-test (using Version 0.8 BETA 5) and am getting the following error:

<img width="423" alt="screen shot 2016-10-06 at 12 11 36" src="https://cloud.githubusercontent.com/assets/11367019/19148658/1733103c-8bbe-11e6-8b6b-3ae2c8aec740.png">

The repeated measures ANOVA runs fine on this file and the t-tests run fine on my other files, so I'm not sure what the issue i

[2016-10-06 13:07] EJWagenmakers opened #1501 "Module ribbon not automatically activated upon loading old JASP file"
@akashrajkn @FransMeerhoff
Suppose I have used the SumStats module to produce some results. I save the file, and later open it again. Now I see the output, and if I click on it, the SumStats options pop back up and I can adjust my analyses. So far so good.
However, the menu on the ribbon only shows "Common", even though I'm clearly working in SumStats. If I go to the module menu, it says that the

[2016-10-06 13:18] EJWagenmakers opened #1502 "Bug in SumStats"
@akashrajkn @AlexanderLyNL
This bug may have been solved after the most recent bug was addressed. At any rate, I wanted to report is because it is important. Suppose I run a t-test in SumStats. I keep BF10, and I use n=27, t=0.22 in a paired t-test (the one-sample test shows the same thing I believe). The plot and the numbers appear to be correct. The BF10 =0.208. Then I do a one-sided test where

[2016-10-06 13:36] FransMeerhoff commented on #1501
@akashrajkn, @EJWagenmakers,
This one seems familiar.
Akash, I will take care of this one.

[2016-10-06 19:27] lebegs opened #1503 "Is JASP's Exploratory Factor Analysis Maximum Likelihood or Principal Axis Factoring?"
Hi.

Brilliant piece of software but I'm bothered by not knowing what fitting procedure/extraction method does the EFA in Jasp use?  My limited understanding of EFA suggests its should be either Maximum Likelihood or Principal Axis Factoring.

Thanks in advance,
Grateful stressed PhD student

[2016-10-06 23:09] lesajm commented on #1431
I am having this exact same error.  I used JASP just days ago with no issues but now I get this Runtime Error everytime I try to run any tests on my data.

[2016-10-06 23:48] Suggestions-Only commented on #1503
It's neither. When the option isn't specified in R (which JASP's engine is coded in), the default is a method called Minimum Residual.

[2016-10-07 00:30] Suggestions-Only commented on #1503
I believe it's also called Ordinary Least Squares?

[2016-10-07 10:37] lebegs commented on #1503
Yeah I looked it up, it is and its seemingly a good fit for my data so I get to drop SPSS for this analysis. Thanks for the info!

[2016-10-07 12:56] ojr23 opened #1506 "Issue with split plot in descriptives"
I just got the below error when trying to use the plot function in descriptives. Possibly because it is not possible to split a plot if the splitting variable has uneven numbers in each group?

"This analysis terminated unexpectedly. Please contact its author.\n\nError in data.frame(group = group, y = y) : \n  arguments imply differing number of rows: 133, 131\n"

![image](https://cloud.githubuser

[2016-10-07 13:06] silberzwiebel opened #1507 "Fedora 24: Jasp immediately crashes"
After finally [managing to compile Jasp under Fedora 24](https://github.com/jasp-stats/jasp-desktop/issues/1430), I started it by running `./jasp`
In the terminal I get these messages:

[code]

And as graphical output I see the main Jasp window for a short time, followed by an error dialog that has a non-conclusive error message:

[code]

Could you help me to run Jasp?

[2016-10-07 13:06] silberzwiebel commented on #1430
Hi, I had a smiliar problem when trying to compile jasp under Fedora 24. I managed to compile by changing the R_HOME variable in JSAP-Engine.pro (line 40) from `/usr/lib/R` to `/usr/lib64/R`.
However, I ran into [another issue after compiling...](https://github.com/jasp-stats/jasp-desktop/issues/1507)

[2016-10-07 13:16] akashrajkn commented on #1507
@silberzwiebel, need more details to find what is causing the problem. What version of Qt are you using? [on linux it should be 5.4]

[2016-10-07 13:19] akashrajkn commented on #1507
Do you have the required R packages at /usr/lib64/R ?

[2016-10-07 13:23] silberzwiebel commented on #1507
I'm installing them at the moment (and face different R related issues). Apparently, I was to quick to run the program.

It seems that I'm using Qt 5.6.1.

[2016-10-07 13:27] akashrajkn commented on #1507
@silberzwiebel , Qt 5.6 does not support webkit module any more. You will have to separately compile this module if you want to use 5.6 - this is a bit of a hassle. It's more convenient to use Qt 5.4

[2016-10-07 13:34] silberzwiebel commented on #1507
Hmm, okay. I've installed the required R packages but Jasp still won't start.
In the fedora repos there is a QtWebkit package, though:
[code]
I do have installed both pacakges. There are no Qt 5.4 packages available in the fedora repos. Could you give me a hint for compiling qtwebkit on my own?

[2016-10-07 13:44] vankesteren commented on #1506
Hi ojr23,

thank you for your message! The issue you mentioned is not caused by uneven numbers in each group, but probably by missing values in your original data. I will fix this asap.

[2016-10-07 14:00] ojr23 commented on #1506
Ah, yes, that is exactly the cause. It works if I remove the missing cases.
Thanks

On 7 October 2016 at 14:44, Erik-Jan van Kesteren <notifications@github.com>
wrote:

[2016-10-07 14:27] akashrajkn commented on #1507
@silberzwiebel, look at [this link](https://trac.webkit.org/wiki/BuildingQtOnLinux), they tell how to compile webkit

You could download the 5.4 version from here [download.qt](https://download.qt.io/official_releases/qt/5.4/5.4.1/).

[2016-10-07 17:05] silberzwiebel commented on #1507
I downloaded Qt 5.4 and compiled jasp against it. It still does not work but now it shows a little bit more output:
[code]

After reading this, I installed `rjson` and now both jasps (with Qt 5.4 and 5.6) are working (at least they do not crash immediately.
This issue then might be closed, however, I suggest to fix the empty error message. If I knew a specific R package is the problem, I could ins

[2016-10-07 17:15] stephensrmmartin commented on #1507
Arch, iirc, uses the latest qt and jasp works fine.

On Oct 7, 2016 12:05 PM, "silberzwiebel" <notifications@github.com> wrote:

[2016-10-07 19:35] EJWagenmakers commented on #1499
Hi Rolf!
Thanks for posting this on our GitHub page! Yes, this is an error in the Beta5. However, we discovered this very quickly, fixed the bug, and released a new version **under the same version number**. So that's a bit confusing, but it does mean you should be OK if you download the latest version. We hope to release the new and definite 0.8 next week, BTW.
Cheers,
E.J.

[2016-10-07 19:35] EJWagenmakers commented on #1499
Oh, and the error actually point to some new functionality that we hope to release soon.
E.J.

[2016-10-07 19:40] rolfzwaan commented on #1499
Hi EJ,

Thanks. I was confused because I thought I had the latest version but I
donwloaded the new version and it runs perfectly.

I very much enjoy using JASP and am looking forward to the new versions.

Best,

Rolf

2016-10-07 21:35 GMT+02:00 EJWagenmakers <notifications@github.com>:

--

Rolf A. Zwaan, Ph.D.

Professor

Department of Psychology

Erasmus University Rotterdam

The Netherlands

ht

[2016-10-08 05:22] akashrajkn commented on #1507
@silberzwiebel, I will try to fix that - so JASP gives the correct message when it crashes.

[2016-10-08 22:24] EJWagenmakers opened #1509 ""-- dependent"?"
@raviselker @mmarsman1
In the Bayesian repeated measures ANOVA, the table headings contain the phrase "--dependent". What are we trying to convey here? See screenshot.
![image](https://cloud.githubusercontent.com/assets/8603015/19216318/ba2cf420-8db6-11e6-8249-7b38ea36d446.png)

Cheers,
E.J.

[2016-10-08 23:29] AngelosPsy opened #1510 "Exact error %"
Dear JASP team,

Thank you for all the great work!
Short question about a (possible) inconsistency between the BayesFactor and JASP regarding the reported error % term.

I run the code below for getting the error % for each analysis. The code, and the results, follow:

[code]
Then, I exported the results (with ```write.csv(d, "d.csv")```) and reanalysed them via JASP. I saw that although for the f

[2016-10-10 11:28] smathot opened #1511 "JASP 0.8.0.0~beta2 from NeuroDebian on Ubuntu 16.04 cannot perform analyses"
I run Ubuntu 16.04, 64 bit, with JASP 0.8.0.0~beta2+git154-g375aad9~dfsg.1-1~nd16.04+1 from NeuroDebian (ref #1471). There are a few issues:
- There is no icon--no biggy, but still.
- The examples are empty--a little bit of a biggy:

![image](https://cloud.githubusercontent.com/assets/594936/19234611/f17c11e0-8eec-11e6-9a70-91c7ac8b37d9.png)
- When I select any analysis (I haven't tried all, but i

[2016-10-11 11:35] #1499 closed

[2016-10-11 11:36] #1503 closed

[2016-10-11 11:39] boutinb commented on #1507
@akashrajkn Thanks for your help Akash!

[2016-10-13 08:37] silberzwiebel commented on #1507
I tried to compile JASP once more for my second machine that is also running Fedora 24 but unfortunately was not successful. Compiling with the system Qt 5.6 just gives me an empty error message and no hint at the the command line output. Compiling with downloaded Qt 5.4 gives me at least a hint what is going wrong (again something with R...) but I can't get it to work:
[code]

I've installed all

[2016-10-13 10:03] Louise-AnnLeyland opened #1513 "Error in running Bayesian ANCOVA"
I am using version 0.8.00 of JASP to conduct Baysian ANOVAs.  I have covaraites, a fixed factor and the DV in the corresponding boxes abd the output states 'This analysis terminated unexpectedly. Please contact its author.\n\nError : map::at\n'.  Please let me know if you need any more information!

[2016-10-13 16:37] akashrajkn commented on #1507
@silberzwiebel, this error pops up when R_HOME cannot be found. In fedora, sometimes, R_HOME could be set to "/usr/local/lib64/R" instead of "/usr/lib64/R". Can you check this?

[2016-10-13 17:44] lebegs commented on #1503
Hi,
@boutinb @jonathon-love @doramatzke  @SachaEpskamp

I have another related EFA  question which I'd be hugely grateful if anyone can shed some light on. It needs a little preamble:

Parallel analysis suggests I retain 6 factors (using O'Connors syntax for SPSS https://people.ok.ubc.ca/brioconn/nfactors/nfactors.html).

PA of the same data in JASP suggests 5 factors.

I suspected the discrepancy

[2016-10-13 20:45] Suggestions-Only commented on #1503
The O'Conners syntax only does parallel analysis for either principal components analysis or principal axis factoring (a specific method of factor analysis).  Differences between parallel analyses (JASP vs. SPSS) will likely represent small differences in the way factors are extracted for each method.  Also, with large sample sizes (N around 1000), parallel analysis will overestimate the number of

[2016-10-14 04:09] Anna-LenaSchubert opened #1514 "Error in repeated-measures ANOVA"
I tried to run a 3 x 3 x 2 x 2-repeated measures ANOVA and received the following error msg:

After restarting and trying to run the analysis again, I get the following error msg:

Windows 10, JASP version 0.8.0.0

[2016-10-14 04:20] Anna-LenaSchubert opened #1515 "GUI enhancement: Rescalable windows, stationary variable lists"
When running analyses with a lot of variables (possibly with very long variable names), it would be very useful if the windows within the analysis specifications were rescalable (i.e., get larger if you rescale the size of the global analysis window).

Moreover, when you drag variables into the analysis window, the list of variables always resets to the first variable. This is very exhausting when

[2016-10-14 08:09] silberzwiebel commented on #1507
I do not have the folder /usr/local/lib64/R, setting the system environment variable R_HOME to this (non-existing) path doesn't change JASPs behavior.
Shouldn't setting the R_HOME variable via `export R_HOME=/usr/lib64/R` be sufficient to let JASP find R? Or is it not using this environment variable?

[2016-10-16 13:49] EJWagenmakers opened #1516 "Problems changing measurement level"
@FransMeerhoff @boutinb
Feedback from the twitterverse:
"tried it out this morning. I'm not able to change the level of scale (nominal,...) of variables. works with previous version." I checked this myself and also encounter problems. For me it works sometimes, but not smoothly, and sometimes not at all.
E.J.

[2016-10-16 16:52] mih commented on #1511
@smathot Thanks for the report. I put it on the TODO list in #1471

[2016-10-17 16:19] ttome2016 opened #1518 "Descriptive statistics for sub-samples"
I've been looking around JASP for quite some time and I could not find a solution for this, so I'm guessing that this feature is not included in the software. If that is the case, I would like to request it, for I consider it to be very useful, both for me and the people working with me:

It should be possible to get descriptive statistics (mean, median, SD and so forth) from sub-samples within a

[2016-10-17 23:49] EJWagenmakers commented on #1518
@vankesteren
Thanks. Yes, this would be useful. We only just added the boxplot functionality which allows "split by", but we need to carry that through for all of the descriptives.

[2016-10-17 23:51] EJWagenmakers opened #1519 "%error and error % inconsistency"
In the Bayesian t-tests we report "%error". In the Bayesian ANOVAs we report "error %". I have a slight preference for "error %", but whatever we do, we need to be consistent. Maybe a good fix for the students.

[2016-10-18 01:38] ttome2016 commented on #1518
Thanks for your reply!

I noticed the slipt boxplot option, which made the lacking of the rest of the features stand out even more for me. I truly hope that this is soon implemented. I'm currently responsible for an introductory graduate course on statistics and I wanted to do it completely on JASP, but it is still not possible, due to some of the lacking features.
Histograms would also be welcome

[2016-10-18 08:36] FransMeerhoff commented on #1516
@aknight1-uva
Do you know if we changed something here with respect to the spss import?

[2016-10-18 09:03] FransMeerhoff commented on #1515
HI @Anna-LenaSchubert

Thank you for your suggestions. We are indeed busy with a 'panel redesign' i.e. scaling, minimising  different panels and also with the possibility to change variables sequences, names etc. Latter will is planned in a near release, panel redesign in a future  release.

Kind regards
Frans Meerhoff

[2016-10-18 09:10] FransMeerhoff commented on #1514
Hello @Anna-LenaSchubert

Can you please send us the data file, or the jasp you are using?
You can do this by uploading this file in github (as zip or txt)
Or send it directly as attachment to F.A.M.Meerhoff@uva.nl

Kind regards
Frans Meerhoff

[2016-10-18 09:15] Hello44 opened #1520 "Windows 10, Jasp doesn't run...."
Jasp doesn't make anything since the last update of Window 10. (13/10/2016). I can open Jasp, but it's impossible to make the analyses.
Can you help me ?
Thank You !

[2016-10-18 09:19] FransMeerhoff commented on #1513
Hello @Louise-AnnLeyland

Can you send us the JASP file or data file? You can do this by adding it to this issue in github as zip file or send it directly to F.A.M.Meerhoff@uva.nl as attachment.

Kind Regards
Frans Meerhoff

[2016-10-18 09:33] FransMeerhoff commented on #1520
Hello @Hello44

We do not know the cause of this problem but can you try the following in advance:
Uninstall the latest version of Jasp from the Control Panel.
Install the latest JASP version again from https://static.jasp-stats.org/JASP-0.8.0.0-Setup.exe
I hope this will solve your problem.

Regards
Frans Meerhoff

[2016-10-18 09:50] Hello44 commented on #1520
I juste restart , then restart my computer, window 10 finishs installing something, and..... it's ok ! It was only a problem with window 10. Thank you, and sorry to disturb you...

[2016-10-18 11:19] aknight1-uva commented on #1516
Yes and No: The importer now applies as the (value) labels (for both ordinal and nominal columns), producing a readable result. However the last version didn't do that. This version can "reinvent" data values when importing floating point ordinal/nominal columns.

[2016-10-18 11:37] #1520 closed

[2016-10-18 14:21] EJWagenmakers opened #1521 "Nominal, ordinal"
From the forum, a legitimate gripe:
"Thanks. Yes, a regular histrogram would be great. I can make JASP do it if I change the variable to ordinal, but that rounds all my data and doesn't seem to be the right approach. By the way, once I change it to ordinal, it permanently changes the data and there is no way to change it back to continuous. Seems like a big inconvenience."
The rounding is an issue

[2016-10-18 17:01] ttome2016 commented on #1518
Your feedback rate is incredible. I was just telling my students this morning that I had made a feature request over here and relaying your answer. They were very excited to hear that in the near future JASP will be having this feature, as a consequence of their needs.

This was, possibly, the most effective way of demonstrating to them the power of Open Source software. I'll be looking forward fo

[2016-10-18 17:20] EJWagenmakers commented on #1518
:-)
Thanks. We really appreciate the suggestions.
E.J.

[2016-10-18 17:31] ttome2016 commented on #1518
I've just noticed you guys added this to version 0.8.1.0 milestone, which is apparently due by october 25th. Does this mean you will be releasing that new version on that day, including the requested feature?
:-)

[2016-10-18 17:40] EJWagenmakers commented on #1518
What, we have a date for 0.8.1?? That's news to me :-) This year?? :-)
And who knows, Erik-Jan created the "split by" really quickly but I'm not sure how much work it is to overhaul the entire Descriptives. Sometimes a change that appears minor can be a lot of work to do well.
E.J.

[2016-10-18 17:43] ttome2016 commented on #1518
Well, that is what your milestones page states - maybe it's just a typo...

No worries, just my enthusiasm getting me carried away!

[2016-10-19 07:18] FransMeerhoff commented on #1518
Hi @ttome2016

You were right about that typo... Sorry to  say but there will be a release 0.8.0.1 before the 0.8.1.0. The 0.8.0.1 will mostly contain bug fixes and some other small enhancements, and will be there quite soon. For the  0.8.1 is no release date is planned yet. Unfortunately an incorrect due date was added to the 0.8.1 version. Sorry for that.

Regards
Frans Meerhoff

[2016-10-19 07:34] FransMeerhoff opened #1522 "Bayesian Analysis for contingency table with big data fails"
Dear Frans,

I have a new problem. You see, modern molecular genetics produces big data. I have to calculate BFs for the attached data. However, JAST is failed.
At the same time, the program by Harold Kaplan for the Bayesian analysis of contingency table calculates BF01 for this data rather easily. The program was presented on his web-site but occasionally disappeared. So I have attached it also.

[2016-10-19 08:05] FransMeerhoff commented on #1522
Dear @NikitaKhromov-Borisov

Some questions about your problem:

- Do you use the latest version of JASP 0.8  ?
![screen shot 2016-10-19 at 09 55 14](https://cloud.githubusercontent.com/assets/15656960/19510418/6e884f6c-95e3-11e6-8b90-4c5cc6a76782.png)

- I have done a calculation on your data. I agree that it take a long time (for my desktop about 9 minutes) but eventually the results appeared. I

[2016-10-19 14:00] EJWagenmakers opened #1523 "More plot options"
From our Email account, requests for adding plotting options (I could not find this any more, so I'm adding it again). Options c and d seem particularly interesting.

"a)  I'd like to have dotplot (when we have very few data, e.g. salaries from a sport team) and the possibility to display more than one category of data (e.g. salaries from 2 sport teams)

b) I'd like to have boxplot (when we have m

[2016-10-20 16:44] ttome2016 commented on #1518
OK, I guessed that was the case. I'll be looking forward to this (and all the other added features which I'm sure you guys will have for that version)!

All best!

[2016-10-20 16:47] ttome2016 commented on #1523
I would love to see these options implemented! It is one of the major obstacles for me in terms of adopting JASP as the sole statpack for use on my stats course, the lack of graphic options (as well as the ability to edit data inside JASP).

[2016-10-21 13:02] silberzwiebel commented on #1507
Looked at my problem with my second machine again. It turned out that during my first trouble I created a symlink on the other machine with

[code]

that is necessary to make JASP find R. Apparently, JASP does not use the environment variable R_HOME at all but only looks at the default path for non-Fedora systems (?).

Again, I suggest to make better error messages. I only got an idea that somethi

[2016-10-22 11:00] akashrajkn commented on #1507
Great that you were able to solve it!

I don't know why Qt5.6 is not showing the R errors, I will look into this and work on displaying error message.

[2016-10-22 19:36] EJWagenmakers opened #1526 "Resize variable input window"
From the twitterverse:
"Is it possible to make the variables windows resizable? Difficult to select long labelled variables in very small windows. Thx!"
[I assume this is *a lot* of work, but I did want to bring it to your attention]
E.J.

[2016-10-24 12:36] philippberens commented on #1523
- Regression is missing a dependent vs. covariate plot for selected covariates including model fits
- many plots have poorly scaled axes such that data is only a clump in middle and there is no way to rescale

[2016-10-24 12:45] EJWagenmakers commented on #1523
Hi Philipp,
Thanks for the useful feedback. We are working to make the plots more interactive, but in the meantime we aim to do the best we can with automatic scaling. Can you give an example of a poorly scaled plot?
E.J.

[2016-10-24 12:49] philippberens commented on #1523
Hi EJ,

yes, of course. I noticed while analyzing a dataset from a recent nature paper:

https://www.dropbox.com/s/uknudv7xiqyho72/lifeexpectancy.csv?dl=0

Here is e.g. the correlation plot:

![jasp1](https://cloud.githubusercontent.com/assets/1633247/19646256/e520b0f6-99f8-11e6-8035-d1d7c4d413c8.png)

Pretty much all regression diagnostic plots have the same problem. It may be due to it not being

[2016-10-24 13:51] EJWagenmakers commented on #1523
Hmm weird. When you go to the correlation analysis, the scaling for the scatterplot is also off, although not by as much. I had never noticed this before. @FransMeerhoff : maybe a good task for one of the new students? Or perhaps the person who initially coded this?
Cheers,
E.J.

[2016-10-25 07:26] FransMeerhoff commented on #1526
@EJWagenmakers

This is one of the issues that will get attention with the panel redesign.
It's not quite clear how much work this will be , but in a bad scenario all the analyses forms must be changed.

Frans

[2016-10-25 08:53] FransMeerhoff commented on #1523
@vankesteren

Hi Erik-Jan
I made you Assignee of this issue. I think you have a better overview of how and where the new students can attribute to this issue.

Regards  Frans

[2016-10-25 08:57] FransMeerhoff commented on #1522
Dear Frans,

thank you.
I have used beta version of JASP 0.8.0.0.
Now I have installed its stable version 0.8.0.0 and recalculated all three BFs:
BF01, BF10 and lg(BF10) for all four sampling scheme:
Poisson, Joint multinomial, Independent multinomial row fixed, and Independent multinomial columns fixed.
The result is the same - JASP reports: cannot allocate vector of size 1.3 Gb
BTW, is it possib

[2016-10-26 08:13] FransMeerhoff commented on #1522
Dear Nikita,

I'm sorry to say but we're a bit stuck with this issue because we can't reproduce it.
We found that the R code can be the cause of this problem. See https://stat.ethz.ch/R-manual/R-devel/library/base/html/Memory-limits.html about this R memory limit and how you can influence this behaviour.

Is it possible in your institute to run the test on another machine, to check if the problem

[2016-10-27 13:22] #1449 closed

[2016-10-27 19:44] alexholcombe opened #1536 "analyze long format data"
Support data in long format, not just wide format (if I'm correct that long format is not supported). Would allow for easy use of R with same dataset.  (e.g., my PhD student put data in wide for JASP, then we have to first melt into long to do R analyses)

[2016-10-28 20:41] EJWagenmakers opened #1537 "from the twitterverse: "JASP contains a trojan" warning"
"Antivirus saying that JASP download contains a trojan."
For the latest version, on Windows. It would be good if Windows knew we are a trusted source.
E.J.

[2016-10-28 20:41] EJWagenmakers commented on #1537
For the record, it was actually from the Forum.

[2016-11-03 08:51] boutinb commented on #1521
@EJWagenmakers I have changed this behaviour so that data are not changed when you change their type.

[2016-11-03 08:51] #1521 closed

[2016-11-03 09:43] FransMeerhoff commented on #1536
Hello @alexholcombe

Thank you for your suggestion.
We indeed are considering this, but we have not yet planned this issue for the near future.
For Bayesian analyses this support for long format can lead to bad performance.

How important is it for you, since a conversion before loading a file into JASP is possible?

Kind regards

[2016-11-03 09:47] boutinb commented on #1510
@quentingronau Can you have a look to this issue

[2016-11-03 09:53] boutinb commented on #1483
@Indycool What do you mean: which format do you want to use as input. Currently we support CSV & SPSS files. In the near future we plan to support also ODS format.

About long format, we are considering also to support it, but not in the near future. We have to take care of performance issues.

Kind regards

[2016-11-03 20:03] vandenman opened #1540 "Incorrect column names when passing data to R"
When JASP passes its dataset to R, the order of the column names of the data is not always maintained in the Reliability analysis. To reproduce the error:

Load Debug dataset.

go to: Descriptives -> Reliability Analysis. Enter variables: V1, contNormal, debSame.

Now, the order of the columns is V1, contNormal, debSame, and in variables. This is correct, see the top two figures of the link provid

[2016-11-03 22:01] vandenman commented on #1540
nevermind, apparantly .v() is there to fix this.

[2016-11-03 22:01] #1540 closed

[2016-11-09 11:28] dansom opened #1542 "User - Missing Data"
Dear JASP-Team,

thanks for your great work. I'm really enjoying the new features of JASP 8.
One enhancement, which would make data analysis much easier for me, would be the possibility to define user-missing values. That is, it would be great to be able to define e.g. the code/value "999" as missing for certain variables.

Thanks for considering!

[2016-11-10 08:46] FransMeerhoff commented on #1542
Hi @dansom

Thanks for using JASP and your enthusiasm.  You suggestion is  definitely valuable. First a remark in advance. The user missing values we are using at the moment are defined by:  'NaN', 'nan' or 'space'.
We are considering to add an enhancement so that this behaviour become more flexible.

Thanks
Frans Meerhoff

[2016-11-10 09:35] boutinb commented on #1516
@EJWagenmakers Can you give us a file you work with, and what you do exactly so that we can reproduce it.

[2016-11-10 09:39] EJWagenmakers commented on #1516
Every file has this problem. I can demonstrate today.
EJ

On Nov 10, 2016 10:35, "bruno boutin" <notifications@github.com> wrote:

[2016-11-10 11:31] cehartwright opened #1543 "OSF integration issues v0.8.0.0"
Hello.

I'm using JASP v.0.8.0.0 on various macs running OS X El Capitan. I've noticed a couple of minor issues with the integration between JASP and OSF.

First, when trying to open files in the OSF through JASP, it seems that JASP can only detect a limited number of directory levels (but this seems intermittent). For example, in my OSF, I have my overarching project > component 1 > subcomponent

[2016-11-10 12:32] dansom commented on #1542
Hi @FransMeerhoff,
thanks for the reply and the information. Actually I'm already using NaN for my new datasets, but since I have to look into older datasets from while to while the feature would still be quite useful and make things more flexible. More so, I think/hope the feature might be quite easy to include.

Thanks, Daniel

[2016-11-10 15:24] JoBrahms opened #1544 "Reliability Analysis Variables Won't Move into the Analyze Screen"
So, I selected four variables to include and the move arrow doesn't activate. Drag and drop doesn't work either. Doing something wrong? Or a bug in the program?
![cronbachproblem](https://cloud.githubusercontent.com/assets/23383442/20182389/a0c47f8e-a72f-11e6-80a7-c232d5a00e7a.jpg)

[2016-11-10 21:47] JoBrahms commented on #1544
I think I solved my own problem. Data included "NA" for missing items. I removed.all these and it works now.

[2016-11-10 22:26] EJWagenmakers opened #1545 "x% credible intervals"
From Twitter: Right now, most of our analyses show 95% credible intervals (in the prior-posterior plots). Sometimes people might want a different interval, an x% one, where they get to specify x. We could work that in. Perhaps it would need to go under "advanced options" or something, where we offer the user more flexibility concerning the plotting functionality.
E.J.

[2016-11-10 22:28] EJWagenmakers opened #1546 "The first t-test takes pretty long"
When I compute a Bayesian t-test, the first analysis takes pretty long. After that's done, the robustness check and sensitivity analyses are pretty quick. @quentingronau, any clue as to why this happens?
E.J.

[2016-11-10 22:49] EJWagenmakers opened #1547 "Transformations"
So I know we are implementing data editing in a different way, but I was still wondering whether it is possible to have some rudimentary editing in JASP itself. For instance, one user asked for the ability to compute z-scores for a specific column. Similarly, we might want to include outliers using some rule. So at some point we need to think about how we can do this.
E.J.

[2016-11-14 09:24] quentingronau commented on #1546
Hi @EJWagenmakers ,

I am not completely sure. It could be the case that this is due to the state system which saves results and prevents them from being recomputed unless this is necessary, but this depends on what exactly changes from one analysis to the next. If you are sure that, e.g., the second analysis cannot be retrieved from the state object and is still taking less time than the first, t

[2016-11-17 12:42] akashrajkn commented on #1510
@quentingronau : In ttestonesample code, line 615 [[link](https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Engine/JASP/R/ttestbayesianonesample.R#L615)], the error% used is always the one calculated for two-sided. Is this the expected behaviour?

[2016-11-17 12:50] akashrajkn commented on #1502
Pull request: #1504 solved this bug.

[2016-11-17 12:54] akashrajkn commented on #1428
@boutinb this issue still exists in the current build. Can you please tag the author of this analysis?

[2016-11-17 16:22] aditya1315 commented on #1428
I can try to make a fix for this.

[2016-11-18 18:53] felixthoemmes opened #1555 "Custom contrasts"
A nice feature might be to able to code your own contrast. SPSS calls this the LMATRIX in ANOVA designs (or MMATRIX in repeated measures designs). In R there is a function called fit.contrast() in the gmodels package. This would allow estimation of an interaction contrast. Currently, only pre-build contrasts are possible.

Would also be highly interested in a Bayesian counterpart. Using the BayesF

[2016-11-21 14:08] philippberens commented on #848
a qq-plot in the descriptives tab would also be nice

[2016-11-22 11:17] quentingronau commented on #1510
If I remember correctly, at the time that we implemented this, there were sometimes issues with computing the one-sided Bayes factor for extreme cases. Therefore, Richard sent us some custom code which computes the one-sided Bayes factor based on the two-sided Bayes factor and on estimating the posterior area that is in line with the hypothesis, I think. Since, we were at that time not completely

[2016-11-23 16:18] Kim-White opened #1557 "Wrong code for calculating (repeated) contrasts?"
I use version 0.8.0.0. When analyzing my data (rep. meas. ANOVA) I was surprised by the p-value of the contrasts. When calculating the same with a t-test and in SPSS I get a different value. The t-test in JASP and the rep. contrast  in SPSS do generate the same p-value. Wrong code?

Thanks!

![jasp_rep_contrast](https://cloud.githubusercontent.com/assets/23704027/20569493/8dba38c2-b1a0-11e6-9575-0

[2016-11-24 08:04] FransMeerhoff opened #1558 "Crash on Windows 10"
See below!
E.J.

Subject: JASP crash on Windows 10
To: EJ.Wagenmakers@gmail.com

Hi,

Here's the message box.

This is on Windows 10, 64-bit.

It was working and then just a couple of days ago started crashing on
launch. I've not knowingly changed anything but there may have been
some Windows updates.

If you have any questions I will try to answer.

Andrew

[2016-11-24 08:15] FransMeerhoff commented on #1558
@EJWagenmakers

We have not any contact information of Andrew yet.
Without any other information the only advise would be:
Reinstall JASP by:
- Right click on Start button and go to 'Programs and Features'
- Double click JASP <version> and uninstall it
- Install JASP again from https://static.jasp-stats.org/JASP-0.8.0.0-Setup.exe

[2016-11-29 08:02] FransMeerhoff commented on #1558
Hi,

I uninstalled, rebooted, reinstalled and it worked again for a few launches (3?) then it started crashing with the same error message.

Andrew

[2016-11-29 09:01] FransMeerhoff commented on #1558
Hello Andrew,

Sorry to hear that.

This is a real odd behaviour.
But we can try to test the following:
On our site we publish a zipped version of JASP which can be run without any installation.

- You can download this file from http://static.jasp-stats.org/JASP-0.8.0.0-64-bit.zip
- Once downloaded unzip it. You will then have a folder 'JASP 0.8.0.0'
- Start the JASP.exe executable from this loca

[2016-11-29 19:40] ecaybek opened #1560 "No stat called Statİdentity"
Hi,
I try to run Principal Component Analysis and Exploratory Factor Analysis, but I'm keeping get "no stat called Statİdentity" error.

![jasperror](https://cloud.githubusercontent.com/assets/13003352/20725915/23eeb748-b67c-11e6-96cc-677f573e1e15.png)

Jasp 0.8 under Xubuntu 16.04.1 LTS

Windows version runs smoothly though.

Thanks.

Edit: I've tried on Ubuntu 16.04.1 LTS and it works perfect. L

[2016-11-30 08:43] FransMeerhoff commented on #1560
Hi @ecaybek

Thanks for your investigation so far.
We will try to find the cause of this problem to.
Our policy at the moment is to test JASP release versions thoroughly only on  Ubuntu LTS (Xenial at this moment) and Windows, Mac OS.

Kind Regards
Frans Meerhoff

[2016-11-30 09:25] boutinb commented on #1560
Hi @ecaybek
I have seen this issue also here: http://stackoverflow.com/questions/35051374/error-statidentity-is-not-an-exported-object-from-namespaceggplot2-when-ca
Can you try to check if it is not a problem of the version of ggplot or ggmap?
Kind regards,
Bruno

[2016-12-01 17:47] ecaybek commented on #1560
@FransMeerhoff and @boutinb thank you for your answers.

Installing devtools didn't help at all. But after so many distros and installations, finally I've tried that I should have tried at the first place.

`LC_ALL=C JASP` fixed it for Ubuntu 16.04 LTS.

Now I'm going to try it for Xubuntu too. I'll let you know about the result.

Best regards,
Eren.

[2016-12-06 23:42] EJWagenmakers opened #1566 "QQ plot in repeated measures ANOVA"
From the forum:
"Also, in the repeated measures ANOVA tab the Q-Q plot assumption is missing (but in the ANOVA tab it is there)."

[2016-12-07 08:31] FransMeerhoff commented on #1557
@Kim-White

Thanks for finding and reporting this issue but
Sorry for the late reaction. I've forwarded it to the associated developer.

@JohnnyDoorn

Can you please take a look at this ?

Kind regards
Frans Meerhoff

[2016-12-07 10:33] ItsaraBoonyarit opened #1567 "Compute and transform function"
JASP is ofne of the great and easy to use program I recommend to my undergraduate and research students. It is basically easy to teach coupled with handed-Calculation in my statistics course. However, it would be great if it has a function likes transform  and compute variable which we can editing the variables before further analysis.

[2016-12-07 11:21] FransMeerhoff commented on #1567
Hi @ItsaraBoonyarit

Thanks a lot for using JASP and your suggestion.
We are indeed currently busy with a version that makes it possible to edit variables and data.
These options will be implemented in JASP version 0.8.1, with expected release date end of January 2017. (There will be 0.8.0.x versions in between coming soon)

Kind Regards
Frans Meerhoff

[2016-12-07 11:21] #1567 closed

[2016-12-07 16:22] JohnnyDoorn commented on #1557
@Kim-White
Hi Kim,
Thanks for letting us know - I am currently looking into the dissimilar results. If possible, could you please send me your dataset? This way I can try to reproduce the problem to get a better understanding of what is going on in both programs. As a sidenote, the repeated measures ANOVA with contrasts should not necessarily yield the same results as a single paired samples t-tes

[2016-12-08 08:09] FransMeerhoff commented on #1566
@JohnnyDoorn

Hi Johnny, Is there a special reason for this,
Or should we put this on the list ?

Gr. Frans

[2016-12-09 10:03] EJWagenmakers opened #1568 "Levene's test"
@JohnnyDoorn
From the forum, would be nice to comment on this one:
"When running Levene's test within the Rptd measures ANOVA or ANCOVA the value of F and p are the same if the covariate is or is not included in the model. This behaviour is not in line with the SPSS output.

Which output should be interpreted to correctly check the assumption when using a covariate?

For the example data below

co

[2016-12-09 15:07] EJWagenmakers opened #1569 "More flexibility in output text"
@FransMeerhoff
@boutinb
Annotation of output is an important feature of JASP. But currently the user cannot change the font size or the font color. It would be great to see that functionality added.

Cheers,
E.J.

[2016-12-09 15:19] HelenSteingroever opened #1570 "Typo in error message"
When I wanted to open a recent JASP file with an older JASP version, I got the error message "Unable to open file. The file version is to new. Please update to the latest version of JASP to view this file." "to new" should be "too new" (maybe the error message should also rather read "Your JASP version is too old").

[2016-12-09 18:24] akashrajkn commented on #1570
@HelenSteingroever this typo has been [rectified](https://github.com/jasp-stats/jasp-desktop/blob/development/JASP-Desktop/importers/jaspimporter.cpp#L50) in the recent versions (I think older versions - 0.7.1.x still contains the typo)

[2016-12-12 18:44] chantelanuit commented on #1085
Hi,

I am trying to do simple main effects following a statistically significant interaction. I need this functionality to teach Mixed ANOVA with JASP. Are you considering adding this functionality to JASP ?

[2016-12-12 18:52] chantelanuit commented on #1418
I agree, block hierarchical regression would be essential for using JASP within a statistical course in psychology. In my field, most of the analyses are theory-driven and it is advised that students avoid pure mathematical models (e.g. stepwise or setwise, apart if they have very big samples to replicate the analysis with split-half). So, the ability to specify blocks manually would be a great ad

[2016-12-13 10:36] mzoltak opened #1572 "Independent T-Test distributions not updating when switching between hypothesis"
When running a test and switching between the hypothesis to be tested, I have noticed that the prior/posterior distribution plots don't update and in the end actually crashed for me.

![image](https://cloud.githubusercontent.com/assets/24542692/21136998/4c4aefca-c128-11e6-83eb-4700056c0d64.png)

[2016-12-13 10:46] andyroberts1234 opened #1573 "Assumption checks - Homogeneity of regression slopes"
Hi there,

It would be great if, for ANCOVA, in the assumption checks section there was an option to plot comparative regression slopes to allow the visual checking of the homogeneity of regression slopes assumption.

Something similar to the plot shown here for example [(https://goo.gl/images/6wiOSb)]

Thanks

Andy

[2016-12-14 06:04] akashrajkn commented on #1572
@mzoltak
1) Which version of JASP are you using? (On version 0.8.0.0, it works fine for me)

2) In the pic you uploaded, are you using the example dataset - Kitchen Rolls? If yes, the 'Condition' variable (grouping variable) has more than 2 levels (which is not plottable).

[2016-12-15 08:01] #1560 closed

[2016-12-15 08:35] boutinb commented on #1418
Our researchers are thinking of adding this feature to JASP. Hopefully this should be implemented soon.

[2016-12-15 08:39] boutinb commented on #1085
This feature should be also added in JASP. Hopefully this will be implemented begin next year.

[2016-12-16 12:23] JohnnyDoorn commented on #1573
Hi Andy,
Thanks for your suggestion, I will look into implementing this in JASP. In the meantime, you can check the assumption numerically (adding an interaction term between the group factor and the covariate). As for getting the relevant plot, and this is not an optimal solution, you can use the ANOVA tab to plot the grouping variable against the DV, then adding the covariate as a grouping facto

[2016-12-17 08:54] EJWagenmakers opened #1576 "Correction for d (classical t-tests)"
From the forum -- we could look into this and when we like it we could offer it as an option or provide it in addition to the current d:
"I know your focus is more on the Bayesian analyses, but a brief comment on the classic t-tests: The Cohen's d reported in the output table for (classic) paired t-tests seems to be uncorrected for the correlation between observations. This can lead to overestimat

[2016-12-22 21:17] brennan-pilcher commented on #539
Any idea how this is supposed to be done? I've searched around for a while and tried all the common command line switches to no avail.

[2016-12-27 18:51] GernHuijberts commented on #1537
F-secure safe reports malware in JASP 0.8.0.1.
![schermafdruk 2016-12-27 19 48 32](https://cloud.githubusercontent.com/assets/24324106/21506095/d0e90d34-cc6d-11e6-9b13-b8212252a5fb.png)

[2017-01-03 08:30] FransMeerhoff commented on #1537
Hello @GernHuijberts

On your screenshot I can see that this see that this report comes from a MacOS
Unfortunately we are not able to reproduce this on a Mac Sierra with F-Secure

Can you help us with the following?

- We have run a scan on a Mac with OS Sierra and JASP 0.8.0.1 installed in the default folder and used F-Secure FASE Versie 16.4 (15923). I do not know F-Secure well but I assume that

[2017-01-03 10:22] FransMeerhoff commented on #539
@brennan-pilcher

Sorry for the late reaction, and thanks for finding it out yourself.
Some extra info that might be useful for you: for any new releases we ship an installed Windows version (both 32/64 bits) that does not to be installed but can be unpacked and used.

Kind regards
Frans Meerhoff

[2017-01-03 16:33] GernHuijberts commented on #1537
Dear Frans,

Thank you for your reply.
I have just scanned the dmg file and F-secure does not give any warnings. I use the same F-secure version as you ( 16.4 (15923)) on OSX 10.11.6.
However, when instilling the program I got these warnings

Hope this helps to solve the issue.

thank you for your help

Gern Huijberts

[2017-01-03 19:39] alexholcombe commented on #1536
Not important for me personally, thanks.

[2017-01-04 09:41] edand commented on #1514
Same for me :
working on JASP 0.8.0.1, running repeated measures ANOVA (4 factors, total of 36 levels)
have been running this same analysis for a few days now with no errors,
today it started terminating, even when running on different datasets.
No problem to load old analyses, but can't re run them although using the exact same method.

Error:
This analysis terminated unexpectedly.

Error in if (

[2017-01-04 10:08] edand commented on #1514
In addition, a small bug which has been consistent over the past week,
When I conduct a 4-way repeated measures analysis, and insert the repeated measures cells -
usually, I am not able to insert the variables using the arrow right away..
It seems that the levels of the 4th factor are accidentally connected to the 3rd variable, and the levels that were inserted as levels for the 4th factor- disapp

[2017-01-04 12:51] FransMeerhoff commented on #1514
Hello @edand

Thanks for your reporting.
Can you please send us the data files, or the jasp files you are using?
You can do this by uploading this file in github (as zip or txt) in this issue.
Or send it directly as attachment to F.A.M.Meerhoff@uva.nl

@JohnnyDoorn
Can you please take a look at this issue?

Kind regards
Frans Meerhoff

[2017-01-04 19:37] robustbayesian opened #1580 "Output issues in 0.8.0.0 & 0.8.0.1, and a feature request"
In both versions 0.8.0.0 and 0.8.0.1 exporting the results often causes JASP to freeze. It will output a results.html.tmp file, not respond for a few moments, and then windows asks to close it for not responding.

In any case, will there be an output option more similar to SPSS? I like how in SPSS tables can be copied or exported as pictures or as an item you can paste into excel or word. That wou

[2017-01-05 08:44] edand commented on #1514
Sent by mail. Thanks!

[2017-01-05 09:11] FransMeerhoff commented on #1514
@JohnnyDoorn

Hi Johnny, here's the attached cvs file hat eland send me.
[JASP_4way_repeatedanova.txt](https://github.com/jasp-stats/jasp-desktop/files/686839/JASP_4way_repeatedanova.txt)

@edand
Thanks again for your assistance

attached the csv file,
the levels are :

Side
   Right
   Left
Time
   Pre
   Post
Treatment
   LR
   SHAM
   RL
Window
   Win1
   Win2
   Win3

The described error stopp

[2017-01-05 09:46] FransMeerhoff commented on #1580
Hi @vaughanbkv

Thank you for the suggestion and the info about the export.

Some remarks
- We can only investigate the freeze of the export of the result if you will send us the jasp file that you use or give  was a reproduction path for it. We are aware of the fact that the export is sometimes very time consuming but we must be sure whats going on there. You can do this by zipping it and attach

[2017-01-05 10:03] FransMeerhoff commented on #1576
Hi @quentingronau

Can you take a look at this one, or give a comment on it?

Cheers Frans

[2017-01-05 17:12] FransMeerhoff commented on #1537
Dear @GernHuijberts

I was able to reproduce the malware message from F-Secure.
After finding the more precise location, it was clear that the cause of the malware message came from the pbkrtest  R.package we ship. It is the pbkrtest-introduction.pdf file in the doc folder of this package that causes this issue. It is definitely innocent but I've reported this issue anyway to both the maintainer o

[2017-01-05 17:12] #1537 closed

[2017-01-07 12:24] IndrajeetPatil commented on #423
Yes, I know it can be done with SPSS, but what point is having JASP if you have to go to SPSS for some of the things?!
It'd be really great if JASP can do this.

[2017-01-08 13:25] Jazwaq opened #1581 "Multigroup SEM"
Hi,

Thank you for creating a very good statistical software. I hope to see many features, such as multi-group SEM etc in future. Also it would be great to to have video tutorials(at YouTube) for each new function that is introduced.

Good luck,

Jaz

[2017-01-09 00:44] despodova commented on #1103
Have there been any progress on the MLM? Just as Melinda, I never use RM ANOVA but need a program for MLM. I know many other in my PhD program will appreciate such feature as well.

[2017-01-09 02:47] Suggestions-Only commented on #1381
And I've also found a Games-Howell R function on GitHub that someone else has written.  It looks like it could be written into the R code of JASP rather easily, although I might be mistaken.

https://gist.github.com/aschleg/ea7942efc6108aedfa9ec98aeb6c2096

[2017-01-11 08:49] JamesEBartlett opened #1584 "Paired-Samples T-Test analysis termination"
Hello,
I attempted to do a paired samples T-Test and the following error message appears below the Results and T-Test headings:

This analysis terminated unexpectedly. Please contact its author.\n\nError in if (options$SellkeMPR) { : argument is of length zero\n

I thought it might be because one of the rows contained zero but removing that value still produced the error message. However, if I per

[2017-01-11 09:28] #1584 closed

[2017-01-11 09:29] JamesEBartlett commented on #1584
Ignore this, it works fine after downloading the 0.8.0.1 update.

[2017-01-11 09:49] FransMeerhoff commented on #1584
Hi @JamesEBartlett

Thanks for solving this by yourself and using JASP.

Cheers Frans Meerhoff

[2017-01-11 14:30] aknight1-uva opened #1585 "Compilation JASP-Desktop/assignments.h is very broken."
The #includes at lines 11, 14 and 16 reference non-existent files.
The definition of OptionFields (required at line 48) is nowhere to be found.

[2017-01-12 09:07] boutinb commented on #1585
@aknight1-uva Can you remove all the unnecessary files from the repository?

[2017-01-18 21:13] jessicaelaine24 opened #1589 "No output"
Hi! I'm teaching with JASP in a lab of 24 computers. We were using 0.8.0.0. At the end of last semester, all the machines were functioning well. When we started lab last week, only about 6 of the 24 computers showed output. The others stayed on the Welcome screen. I thought that maybe the new version of JASP would fix the problem, so I had IT install it. Still only 6 computers show the output.

Al

[2017-01-19 02:50] jessicaelaine24 commented on #1589
The issue resolved on its own after a series of reboots.

[2017-01-19 02:50] #1589 closed

[2017-01-19 07:51] boutinb commented on #1589
Fine! Such a problem is always really hard to solve from far…

Kind regards,
Bruno Boutin

From: jessicaelaine24 [mailto:notifications@github.com]
Sent: donderdag 19 januari 2017 3:50
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [jasp-stats/jasp-desktop] No output (#1589)

The issue resolved on its own after a series of r

[2017-01-19 21:12] JasperRobinson opened #1590 "Descriptive Plots - New export formats..? Increase resolution of png..?"
Hi - I really like the Descriptive Plots in Jasp but I'm struggling to use them for research articles, they are a little too hazy for publication.

If it were an easy fix, I'd really like the feature of being able to export Descriptive Plots to PDF or tiff; or perhaps it is possible to increase the default resolution for the PNG part of the Descriptive Plot (the text labels seem higher resolution)

[2017-01-20 05:51] DavidJCU opened #1591 "Bug in Plotting Descriptives in Repeated Measures ANOVA"
Hi
Love the software but there appears to be a bug in the plotting of SEM in RM ANOVA. The error bars are different to any other plotting software or what I would calculate by hand. The JASP error bars are much narrower.

The attached Figures are of the plots of the same data, one from JASP one from Prism 7.
<img width="511" alt="screen shot 2017-01-20 at 3 46 13 pm" src="https://cloud.githubuserc

[2017-01-20 06:26] #1591 closed

[2017-01-20 07:59] boutinb commented on #1590
@JasperRobinson Hi Jasper, We are busy to add the possibility to save images in vector format like eps (it takes a bit of time because of R upgrade issues). Would that solve your problem?

[2017-01-20 08:02] boutinb commented on #1581
@Jazwaq Thanks for your comment. We may indeed implement a multi-group SEM feature. We are also working to make new updated videos.

[2017-01-20 09:18] JasperRobinson commented on #1590
EPS would be FANTASTIC. All the journals that I know of accept it and it will produce beautifully clean graphs.
BTW - the jiggle (?) feature that you get when you select error bars - so the data points sit side-by-side, rather than on top of each other - is really helpful.

Thank you!

[2017-01-22 12:41] EJWagenmakers opened #1593 "ANOVA output option"
I think we ought to have an option to display the ANOVA output with the best model on top; right now, the null model is always on top, but that model often does not do very well, so the comparison is not informative.
E.J.

[2017-01-22 12:42] EJWagenmakers commented on #1593
@TimKDJ maybe something for you to look at, as you are working on ANOVAs anyway...
@mmarsman1

[2017-01-22 13:27] mmarsman1 commented on #1593
The output table is created before the analyses are run. Choosing a different order after seeing the results means that the tables change as the results come in. This would go against the way that we designed JASP output until now.

[2017-01-22 13:56] EJWagenmakers commented on #1593
The current tables can be the default. But surely we can have a tick box "Table with Best Model on Top" (or something similar) which produces the extra table? This is similar to how JASP produces figures on command. Let's discuss this live.

[2017-01-22 15:11] mmarsman1 commented on #1593
Sure.
I actually still think that we need to redo the analysis. With three factors, there are 18 models compared (most of which does not interest the analyst, I hope); producing long and unreadable tables, and requiring the user to calculate things by hand (as all models are compared to null). With focused analysis these issues do not play a role.

[2017-01-22 15:19] EJWagenmakers commented on #1593
Absolutely. It would be nice if the user could do follow-up targeted analyses and select specific models. Actually, we need that for regression as well! Let's sit down with @TimKDJ  and work this out. On a related note, @FransMeerhoff, it would be nice if JASP could produce tables with an alternating pattern of shaded rows for increased visibility. This could be an output option under "general set

[2017-01-22 15:23] mmarsman1 commented on #1593
Awesome. We have meeting with @TimKDJ if I recall correctly, let's discuss this then.

[2017-01-23 10:01] TimKDJ commented on #1593
Yes, we have a meeting next week. I'll add the items to the to-do list we created in the last get-together.

[2017-01-24 00:17] lcoome opened #1596 "Pairwise comparisons after RM ANOVA"
Hi,
JASP uses the pooled error term from the ANOVA. SPSS does not. I thought that the prevailing view was that in RM designs it's better not to use the pooled error term. Could you please explain?
Thanks.

[2017-01-26 12:57] JohnnyDoorn commented on #1596
Hi,
Thanks for pointing this out. JASP uses the afex package in R to compute RM ANOVA's - in the package manual it states that it uses the same approach as SPSS, so the results should be the same. Using the nonpooled error terms would indeed be the better option, as not doing so can have severe consequences for the type-1 error rates.
Would you be so kind as to provide a data example where SPSS an

[2017-01-26 20:22] lcoome commented on #1596
<img width="627" alt="example" src="https://cloud.githubusercontent.com/assets/13381277/22348669/9b5f95be-e3da-11e6-8e61-f07b0515d11e.png">

These results are from a RM ANOVA with 4 measures from each of 151 participants.
It uses a pooled error term in the post hoc pairwise comparisons.
The pooled error term is calculated exactly as if it were a between-subjects design, as the SquareRoot(2*MSe/n),

[2017-01-30 10:29] aknight1-uva opened #1602 "Default locale (formatting data - Times, dates etc.) is US."
Currently, JASP starts with locale set to U.S. My guess this was done as a "fix" for issue #549.
This "breaks" all the locale-sensitive string manipulation done by QT.
The fix is to use QString instead of std::string for manipulating user input and user presentation (and while that is being done, replace std::string for QString everywhere where there is no real need for std::string).
That done we

[2017-01-31 15:52] vpillaud opened #1605 "create new variables ??"
Hi guys,
I'm just wondering how can I create a new variable (the sum of three other variables or anything else), surprised not to be able to find any ways to do it. This is not possible so far ?

[2017-01-31 23:04] IndrajeetPatil opened #1606 "Robust correlations"
Hi,

Although it has been argued that Spearman's rho (versus Pearson's r) can protect us from false positives when there are univariate outliers, this measure is still susceptible to false positives when there are bivariate outliers present (http://journal.frontiersin.org/article/10.3389/fpsyg.2012.00606/full).

Pernet and colleagues have provided some options to remedy this situations in their to

[2017-02-01 20:36] ulrichdettweiler opened #1610 "Bug report upgrade"
Hi, just upgraded JASP on MacOS Sierra and got the attached error code. Sorry to bother you. U
<img width="1262" alt="screenshot_16" src="https://cloud.githubusercontent.com/assets/25491193/22525142/66de5cb2-e8c6-11e6-8e68-956569f78833.png">

[2017-02-02 16:49] boutinb commented on #1610
Hello @ulrichdettweiler
Can you try to start JASP in this way: open a terminal, type "cd /Applications/JASP.app/Contents/MacOS", and type "./JASP"
This should start JASP and prints some logs on the terminal. Can you send us what is the log?

Kind regards,
Bruno

[2017-02-02 17:07] ulrichdettweiler commented on #1610
Hi. I have slteady deinstalled the update in order to work with the old version. Do you want me to reinstall it again and start it then from the terminal?
Best wishes. Ulrich

Von Samsung Mobile gesendet

-------- Ursprüngliche Nachricht --------
Von: bruno boutin <notifications@github.com>
Datum: 02.02.2017 17:49 (GMT+01:00)
An: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Ulrich

[2017-02-03 11:11] JohnnyDoorn commented on #1596
Hi Lindsay,
Thanks again for your very elaborate answer! You are right about the pooled error terms and incorrectly defined p.values. I have gone through the R-code used in JASP and fixed the problem. It seemed like the cause was a package where we could not specify the error terms not to be pooled, which lead to similar treatment of the within subject variables as the between subject variables. T

[2017-02-03 12:24] lcoome commented on #1596
Thanks Johnny, glad to hear it helped.

[2017-02-03 15:58] boutinb commented on #1610
You may also install JASP 8.01 without deinstalling the old version. I am quite curious to know why the new version crashes on your computer. I have also Mac Sierra, and I don't have this problem. So if you can install the new version, start it with the command line, and tell me what the log says, that would be I hope interesting.

Kind regards,
Bruno

[2017-02-03 15:59] boutinb commented on #1606
@EJWagenmakers : do you have an answer for this issue?

[2017-02-03 16:01] boutinb commented on #1605
Hi @vpillaud : over some weeks we will will deliver a new release, with the possibility to synchronize your data in Excel or LibreOffice (or any Spreadsheet tools), with the data read by JASP. In this way you will be able to do all manipulation you like with the spreadsheet tool you like, and see immediately the results in JASP.

[2017-02-03 16:40] ulrichdettweiler commented on #1610
Hi Bruno,

here comes the log from JASP 0.8.

a10081:MacOS 2916729$ ./JASP

QObject::connect: No such signal FSBModel::hideAuthentication()

QObject::connect: No such signal FSBModel::hideAuthentication()

QObject::connect:  (receiver name: 'browser')

QObject::connect: No such signal FSBMExamples::hideAuthentication()

QLayout: Attempting to add QLayout "" to BackStageWidget "backStage", which al

[2017-02-03 16:48] ulrichdettweiler commented on #1610
And here comes the log from 0.8.1

Surprisingly, most function seem to work now.

a10081:MacOS 2916729$ ./JASP

QObject::connect: No such signal FSBModel::hideAuthentication()

QObject::connect: No such signal FSBModel::hideAuthentication()

QObject::connect:  (receiver name: 'browser')

QObject::connect: No such signal FSBMExamples::hideAuthentication()

QLayout: Attempting to add QLayout "" to B

[2017-02-03 17:23] vpillaud commented on #1605
Hi, thanks for your answer. Would be super convenient to be able to merge several variables into one or recode one into another without being forced to switch to excel. Thanks for developping this, teaching stats using this software and gotta say its 16548161% better than R.

[2017-02-03 22:49] EJWagenmakers commented on #1606
Yes, were are considering to add robust methods to JASP in the future, not just for correlations but for other measures too. Note that we do have Kendall's tau in there already, and Spearman's rho too (albeit only the classical version; the Bayesian version is soon to follow). I personally prefer these rank-based methods over anything else, but I accept that there is a useful place for robust meth

[2017-02-04 17:29] mrgnth opened #1612 "Case numbers get mixed up in the residuals statistics?"
Hi everyone,

I've been playing around with data in order to get a good deal on a used car and stumbled into an oddity today. Please take a look at case number 347 in the attached screenshot. The price of the car is 199, yet in the casewise diagnostics on the right the price of case number 347 is shown as 188 (this is actually the price of the car a few rows down, No. 351).

![jasp case number mix

[2017-02-06 07:10] SCgeeker opened #1613 "A bug of Reliability Analysis"
Hi,
I'm testing the teaching data for my students. In this data, there are 500 responses for each 15 questions. I will use this data explain how to exclude the inappropriate question. The 5th question is the only question to be excluded because its item-rest correlation is negative. However, JASP gave me the positive correlation for this question. The correct Cronbach's alpha is 0.835, but JASP ga

[2017-02-06 08:48] boutinb commented on #1613
@vankesteren: could you check this issue?

[2017-02-06 09:13] boutinb commented on #1612
Hi @mrgnth, can you send us your JASP file? We can can search then what's happening.

[2017-02-06 09:15] boutinb commented on #1610
@ulrichdettweiler You mean that you have no problem anymore? It was maybe just an installation problem the first time you tried.

[2017-02-06 09:18] boutinb commented on #1605
Hi @vpillaud Label feature is coming soon also!

[2017-02-06 09:18] #1605 closed

[2017-02-06 09:46] ulrichdettweiler commented on #1610
Hi Bruno,

the program runs smoothly now, with some errors under the way.

So a simple post-hoc test in an ANCOVA on the variable "time.point" (categorical with three values: time.point <- c("morning", "midmorning", "noon")) would not run and produce an error. Post-hoc teste on the other two categorical variables, however, are performed.

But I can easily do that in r. This was just playing around

[2017-02-06 10:18] boutinb commented on #1610
Hi Ulrich, if can send a JASP file of the error, that would eeasier for us. Coming soon: you can set labels and their order (over 2, 3 weeks).

[2017-02-06 10:39] vandenman commented on #1613
Good catch! The reliability estimate is indeed wrong because we're still using an older version of the "psych" package to calculate reliability. The most recent version of the package also returns 0.835 for Cronbach's alpha. We'll update this once we've checked for any backwards compatibility issues.

[2017-02-06 19:23] lcoome opened #1615 "Error in JASP Output"
I noticed another error in JASP.
It re-prints the residual/error line of the ANOVA table from the within-subjects section—into the between-subjects section.
If it’s a mixed-design and there is a between-subjects IV, there’s no problem.
![screen shot 2017-02-06 at 12 57 14 pm](https://cloud.githubusercontent.com/assets/13381277/22662681/d6baddc6-ec77-11e6-89bc-1de6dd9f9afb.png)

[2017-02-06 21:50] vaughanbkv opened #1616 "Factor/Component Score saving & Bayesian PCA/FA"
Would it be possible to get factor scores saved for principal component and factor analyses?

It would also be pretty interesting to see a Bayesian version of PCA or FA. I've tried figuring out some of the packages in R about Bayesian PCA, and while I am pretty decent with R, the packages available were a bit difficult to use.

[2017-02-08 08:04] FransMeerhoff commented on #1616
@SachaEpskamp

Hi Sacha, can you have a look at this?

Cheers Frans

[2017-02-08 13:14] JohnnyDoorn commented on #1615
Hi Lindsay,
Thanks again for your help! Of course, the table shouldn't be shown when there are no between subject factors. I updated the code accordingly.
Cheers,
Johnny

[2017-02-09 20:32] awismer7 opened #1624 "Variable window resets when you enter or remove a variable"
This feature request is a relatively minor request that would greatly support ease of use.

Currently, whenever you either enter a variable into an analysis or remove a variable from an analysis, your window of variables from your dataset on the left resets and goes back to the beginning. It would be much more convenient - especially for large datasets - if the window remained in the same location

[2017-02-09 22:01] mrgnth commented on #1612
[cars_cleaned.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/765111/cars_cleaned.jasp.zip)
Sorry, GitHub forced me to zip it.

[2017-02-10 07:58] boutinb commented on #1624
Thanks for your remark. We will try to fix this.

[2017-02-14 15:13] akochari commented on #1103
Dear JASP team,
First of all, amazing software and functionality! Thank you!

I would like to join the person who started this issue. I loved JASP, but in my research I almost exclusively use linear mixed effect models (in lme4) and it would be great to have a Bayesian alternative. It is becoming a standard in my field, so definitely many people would use it.

[2017-02-15 17:56] radrian opened #1640 "Output"
Hello,

I tried to do some statistics with JASP 0.8.0.0 & JASP 0.8.0.1 for Windows, but I didn't get any outputs.
Do I need to install something else in my computer?

Thank you!
Adrian

[2017-02-16 08:20] FransMeerhoff commented on #1640
Hi @radrian

To answer your question: no you do not need to install anything else on your computer. JASP uses R but the used packages are shipped with the installation. Let's focus on 0.8.0.1 to get that working
Some question in advance before we search further:
- Did you try to uninstall all previous versions and reinstall 0.8.0.1, not just by removing directories?
- I assume that JASP starts and

[2017-02-16 10:33] boutinb commented on #1612
Hi @mrgnth We think that the mistake comes from the missing values in the gas_label column. The regression analysis cannot handle this. Can you fill in these missing values and try again?

[2017-02-16 11:19] AlessioToraldo opened #1643 "Mixed Linear Models"
Hi all, I have now used JASP and it looks very promising.
As a cognitive psychologist I often use Mixed Linear Models (MLM), and was just wondering whether JASP developers see them as a priority. MLM allow one to model virtually any data set - another step would be to be able to implement non-gaussian distributions (generalized mixed linear models), but having the classical MLM in JASP would be gr

[2017-02-17 06:50] TimKDJ commented on #1482
Descriptives were added in PR #1603

[2017-02-18 14:00] radrian commented on #1640
Hello Mr. Meerhoff,

First, I would like to thank you for your quick response.
I really enjoy JASP. I have started to use it in my research projects and I
have a submitted a paper where I cited your software.
I am thinking of using the JASP in future within the statistics and
research methods classes I teach. I teach in at a small private university
in US.

Below I have my short responses to your

[2017-02-19 08:43] EJWagenmakers opened #1647 "Decimal points in Descriptives"
From the JASP Forum: http://forum.cogsci.nl/index.php?p=/discussion/comment/9994#Comment_9994

Maybe we can add an option to Descriptives that allows the user to set the number of decimal points that are displayed.

Cheers,
E.J.

[2017-02-19 13:34] akashrajkn commented on #1647
@EJWagenmakers the descriptives code (also anova multivariate) formats only to 4 significant digits. (Other analyses use 4 significant digits and 2/3 decimal places).

1. Should this be uniform across all analyses?
2. Would a global preference to specify number of decimal points be more useful?

[2017-02-19 17:30] cruizmatuk opened #1648 "Unexpected error"
Doing Repeated measure ANOVA I received This message:

This analysis terminated unexpectedly.
Error in contrast.ref.grid(referenceGrid[[contrast$variable]], c) :
  Nonconforming number of contrast coefficients

I tried first with no problem at all last Thursday.  When I try again the same analysis I got surprised with this messages any time I tried to repeat the analysis,
[DATOS MUESTRA.xlsx](http

[2017-02-20 05:58] EJWagenmakers commented on #1647
@akashrajkn Well the example on the forum showed that the Descriptives code sometimes gives one decimal point. I guess when the numbers are large, fewer points are plotted. So I suspect it plots 1.113 but 5679 and 546.1. I like the idea of having a global preference for the number of decimal points!
E.J.

[2017-02-20 08:08] boutinb commented on #1648
@JohnnyDoorn Can you have a look to this problem?

[2017-02-20 08:09] boutinb commented on #1643
@EJWagenmakers Can you answer this?

[2017-02-20 08:20] EJWagenmakers commented on #1643
Hi Alessio,
Yes, this is high on our list. However, first we want to give more attention to ANOVA and linear regression. But I see the Bayesian and frequentist implementation of GLMMs as unavoidable and natural.
E.J.

[2017-02-22 08:37] boutinb commented on #1103
@EJWagenmakers what are exactly our plans on this issue?

[2017-02-22 12:33] pa0 opened #1652 "0.8.0.1 module SEM doesn't perform analysis"
Output is empty:

<img width="1163" alt="zrzut ekranu 2017-02-22 o 13 31 49" src="https://cloud.githubusercontent.com/assets/4692217/23211622/4bf45684-f903-11e6-8238-9afd8cf85d33.PNG">

Data is from example file.

[2017-02-22 12:36] SachaEpskamp commented on #1652
Hi,

You only need to enter the lavaan syntax, not other R syntax. That is, remove model = ' and the sem() call and only write:

y =~ y1 + y2 + y3
x =~ x1 + x2 + x3
y ~~ x

[2017-02-22 12:55] pa0 commented on #1652
After corected code SEM still doesn't work, but in new window everything is ok.

[2017-02-22 13:06] SachaEpskamp commented on #1652
What do you mean with "in new window everything is ok"?

[2017-02-22 13:23] EJWagenmakers commented on #1103
The more people push this, the higher up the list of priorities it goes. This is actually a component of the Vici grant which we recently obtained, so that's perhaps good to hear as well.
Cheers,
E.J.