[2017-02-22 13:25] MigTBorges opened #1653 "Windows JASP 0.8.0.1 doesn't start JASPEngine in enterprise environment"
Hi,

I've recently installed version 0.8.0.1 on my laptop where JASP runs perfectly fine. However, yesterday I submitted a request for installing JASP on a work desktop machine and when I loaded up a dataset and tried running descriptives, nothing was generated in the analysis window. This was also true of every other option like ANOVAS or T-Tests.

![jasp1](https://cloud.githubusercontent.com/ass

[2017-02-22 14:13] boutinb commented on #1653
@MigTBorges What is exactly the operating system you use? Can you try the zipped Windows installation of JASP (http://static.jasp-stats.org/JASP-0.8.0.1-64-bit.zip or http://static.jasp-stats.org/JASP-0.8.0.1-32-bit.zip for 32 bit computer)? You can then unzip it where you want, and bypass any permission issue.
That you get an error when starting the JASP engine is not surprising: it cannot be sta

[2017-02-22 14:29] MigTBorges commented on #1653
The operating system is Windows 7 Enterprise, SP 1 64-bit.
We've just tried using the zipped installation of the 64-bit version to install to a drive where I have permission, but nothing changed: the analysis window is still not producing anything.

I've checked with another user here that has had JASP 0.8.0.1. installed on her machine, and everything seems to work correctly: analyses run and upda

[2017-02-22 14:31] FransMeerhoff commented on #1640
Hello @radrian

First of all thanks for the nice words about JASP.
We will do all the best to help you using JASP in your research projects.

Can you try the zipped Windows installation of JASP?
This is a complete installed version of JASP that you can run by double clicking the JASP.exe from the extracted folder.
(http://static.jasp-stats.org/JASP-0.8.0.1-64-bit.zip or http://static.jasp-stats.or

[2017-02-22 15:31] radrian commented on #1640
Hello Frans,

It works!

Thank you so much!

All the best.
Adrian

On Wed, Feb 22, 2017 at 8:31 AM, FransMeerhoff <notifications@github.com>
wrote:

[2017-02-22 15:37] boutinb commented on #1653
Just to be sure: did you click on the JASP.exe of the unzipped file?
Maybe another influence would be the R installation on your computer. Do you have R installed on your work computer? If yes, which version?

[2017-02-22 15:43] MigTBorges commented on #1653
Yes, I did.
I do have R installed on my work computer, version 3.2.3, along with R Studio.  If this installation is generating some conflicts with JASP is there any way to correct them without uninstalling R?

[2017-02-22 15:51] akashrajkn commented on #1653
@MigTBorges this could happen when R_HOME is not set properly (RInside might use the R_HOME of the build machine). Could you try the following methods? -

1. Set the environment variable, R_HOME. Or
2. Uninstall RInside and re-build it on your machine

[2017-02-22 16:20] boutinb commented on #1653
@MigTBorges Another thing you can do is to install Process Explorer (https://technet.microsoft.com/en-us/sysinternals/bb896653.aspx): with this tool you can check the environment setting of each process. Check whether the R environment settings of the JASPEngine process correspond to the JASP installation folder.

[2017-02-22 16:22] boutinb commented on #1653
@MigTBorges You can also send a screenshot of the environment settings of the JASPEngine process.

[2017-02-22 19:15] pa0 commented on #1652
If I made mistake in SEM (as like as on screenshot) this analysis is "frozen" - corecting syntax doesn't help. Only in new analysis JASP print an output.

[2017-02-23 11:52] MigTBorges commented on #1653
Thank you for the replies.

@akashrajkn The process explorer shows some paths mentioning RInside, but a system search failed to show where it might be and these paths don't match my structures in my machine. How can I re-build RInside, or set the environement variable?

@boutinb The R_HOME value seems to be correctly pointing to the JASP installation folder (even when I run JASP from the D drive i

[2017-02-23 17:01] allefeld commented on #1146
Hi, @EJWagenmakers, after your talk this morning I wanted to give JASP a try, but I'm a Debian user, so I would very much appreciate Debian packages, too.

[2017-02-24 16:38] ajwills72 opened #1655 "Norton anti-virus on Windows deletes JASP download"
...reports it is an unsafe file.
This report comes from one of my UG students - afraid I can't verify as I am a Linux user, but perhaps someone with a Windows/Norton combo could verify?

[2017-02-24 21:18] SachaEpskamp commented on #1652
Yes I have the same issue. We will look into it, thanks!

[2017-02-27 16:40] petestmarie commented on #660
Another voice for the addition of logistic regression. In the context of an academic medical center, this would be the perfect analysis environment for smaller research projects that don't receive full support from our epidemiology/biostatistics group.

[2017-02-27 21:39] joucoski commented on #1473
@mih thanks for the help, I also have the same problem.
I accessed the https://github.com/neurodebian/jasp-desktop/blob/debian/debian/patches/no_custom_env  but I do not know how to use it.
Could you tell me how I use it in my JASP? Do I need to compile it or something like that?

[2017-02-28 08:11] FransMeerhoff commented on #1640
Hello @radrian

Good to hear that it works.

Kind regards
Frans Meerhoff

[2017-02-28 08:11] #1640 closed

[2017-02-28 13:33] boutinb commented on #1653
@MigTBorges The environment settings prove that you have loaded the right RInside package (this package generates strange settings like R_MAKEVARS_USER). The R_ENVIRON setting is set by JASP self: this is set to an unknown place to prevent other R environment settings to interfere with the engine. Are there settings in the R_ENVIRON that are needed on your computer?

[2017-02-28 13:42] MigTBorges commented on #1653
@boutinb I don't think so. Running R Studio and examining it with the Process Explorer doesn't show a R_ENVIRON variable. What other steps could I take to verify this?

[2017-02-28 14:14] AMeta09 commented on #1270
Hi

I'm trying to download the latest version of JASP from the given link (https://jasp-stats.org/download/) but everytime i click on the link for windows XP and above, I get an error message. I think the link is possibly broken. I got the same message when I tried to post this problem in the Forum.

Could you please look into it? It will be really helpful.

Thank you.
Aakanksha

[2017-02-28 15:07] boutinb commented on #1270
@AMeta09 If I click on the (http://static.jasp-stats.org/JASP-0.8.0.0-Setup.exe) it downloads the file. Maybe there is a security setting that forbid to download exe files?

[2017-02-28 15:14] boutinb commented on #1653
@MigTBorges What is annoying, is that we cannot see the log that JASP produces on Windows. We will try to make a version that produces this log. It is now really difficult to guess what is going wrong on your computer... mostly this kind of problems is solved by using the ZIP file (a permission setting was then the problem), or by using a R setting. Hopefully it won't take too much time to make th

[2017-02-28 15:16] boutinb commented on #1655
@FransMeerhoff DId you have once a similar problem?

[2017-02-28 16:51] FransMeerhoff commented on #1655
Hello @ajwills72

We once had a similar problem on the Mac OSX  where a virus scanner (F-secure) gave a suspicious warning message. In that case it was due to a .pdf file contained in an R package that was shipped in our R-framework. See the text below or look at
https://github.com/jasp-stats/jasp-desktop/issues/1537

.........................
I was able to reproduce the malware message from F-Sec

[2017-03-02 17:36] ajwills72 commented on #1655
________________________________
[http://www.plymouth.ac.uk/images/email_footer.gif]<http://www.plymouth.ac.uk/worldclass>

This email and any files with it are confidential and intended solely for the use of the recipient to whom it is addressed. If you are not the intended recipient then copying, distribution or other use of the information contained is strictly prohibited and you should not rel

[2017-03-03 11:47] boutinb commented on #1655
Hello @ajwills72, what did you want to say with your last comment?

[2017-03-03 13:42] ajwills72 commented on #1655
Sorry, did it not come through? My comment was that I'd asked the
student who had the Norton problem to send me the Norton report, and
I'd pass it on if they got back to me.

On Fri, Mar 03, 2017 at 03:47:37AM -0800, bruno boutin wrote:

[2017-03-08 02:34] craigrichardson opened #1666 "JASP 0.8.0.1 Mac fails to launch in multi-user environment"
Hi There,

We've ben deploying JASP with Munki to hundreds of Macs (see https://github.com/munki/munki )

This installs JASP as the root user so the contents of the /Applications/JASP.app folder are owned by root:admin and the permissions on files/folders are 644/755 respectively.
i.e.
ls -l JASP.app/
drwxr-xr-x  7 root  admin  238  1 Dec 03:02 Contents

This is normally not a problem for applicat

[2017-03-08 08:18] FransMeerhoff commented on #1666
Hi @craigrichardson ,

Sorry to hear but thanks for reporting this.
I agree that the 'chmod' is just a workaround and not a good solution. We are not aware of this problem yet . Can you help us with the following in advance.
If you start JASP from a terminal in /Applications/JASP.app/Contents/MacOS by ./JASP it produces some log information. Could you do that for both a 'working user' and a 'not w

[2017-03-08 10:07] sinisalakic opened #1667 "(BUG) Summary stats - Correlation BF error JASP 0.8.0.1 OS X (& REQUEST)"
Hi there,

first of all, I'd like to thank you for a great missionary job you are doing with JASP. I use it mainly to introduce Bayes to the 1st year psychology students (University of Banja Luka, Bosnia&Herzegovina) and it is a perfect tool for such a purpose; and I also spread the news about JASP wherever possible.

As for request, I wonder if you might incorporate calculations of polychoric cor

[2017-03-08 11:29] boutinb commented on #1667
@sinisalakic By coincidence, we have just released a new version today which fix the Sumstat bug you mention, and which implements the McDonald's omega coefficients! It could not be a better timing!
This version also implements data & label editing. We will add more videos on the site to explain how it works, but you may already try it.
For your request for calculations of polychoric correlations,

[2017-03-08 12:46] JohnnyDoorn commented on #1648
Thanks a lot for taking the effort to point out this error and including your data! However, I have not been able to replicate your error - exactly how did you specify your ANOVA model to make JASP crash? I loaded your data and everything seemed to work fine, however I am already using the latest JASP version (0.8.1) so that might explain why it no longer crashes.
Again, thanks for your help!
John

[2017-03-08 13:36] boutinb commented on #1666
@craigrichardson We could reproduce your problem, and solve it (it was a right problem in our R framework). We have just made a new mac setup for the 0.8.1.0 version. Can you try it?

[2017-03-08 13:41] sinisalakic commented on #1667
Wow, incredible timing!

Thanks

[2017-03-08 14:03] sinisalakic commented on #1667
Unfortunately, the bug is still there...Version 0.8.1.0

Please, choose BF01 and Additional info...

[2017-03-08 15:38] boutinb commented on #1653
@MigTBorges We made a Windows version that can log the output of the engines. Hopefully this can help us to find out where is your problem. This is version is here: http://static.jasp-stats.org/JASP-0.8.1.0-Setup-Special.exe
If you install this version, starts then JASP with the command prompt in this way:
 . Go to the JASP installation folder.
 . Type  JASP.exe > c:\temp\jasp.log
Hopefully this w

[2017-03-08 17:48] cruizmatuk commented on #1648
Thanks a lot for your reply!
I already downloaded the latest version.

On Wed, Mar 8, 2017 at 8:46 AM, JohnnyDoorn <notifications@github.com>
wrote:

--
Carlos B. Ruiz-Matuk

[2017-03-09 00:00] aljoriz opened #1668 "JASP opens up LibreOffice calc with CSV made from calc"
OS: Linux Mint 18.1 64bit

ISSUE:  JASP 0.8.1 opens up when trying to edit csv (made with Libreoffice's calc)

sample csv made with LibreOffice http://s000.tinyupload.com/index.php?file_id=81314968718548212005

[2017-03-09 00:13] craigrichardson commented on #1666
I've tested deploying 0.8.1.0 and its working fine.

Thanks!
Craig

[2017-03-09 00:13] #1666 closed

[2017-03-09 08:16] FransMeerhoff commented on #1668
Hi @aljoriz

The reason for this is that the default application to start a file with cvs extension is JASP on your computer. You can influence this behaviour with the 'Preferences' in the options menu. To change this click on the summarise button, the most upper right button on the JASP application. There is a Preference item where you can choose the editor that must be started.
On the https://ja

[2017-03-09 10:38] MigTBorges commented on #1653
@boutinb Thanks for looking into this.

I installed this version and tried to run analyses again, still running into the same problem. I followed your instructions and produced a log with this info in it:

[code]
The lack of RInside might be the problem. I don't know what could be preventing it from installing.

[2017-03-09 11:04] akashrajkn commented on #1653
@MigTBorges please try installing RInside from github (source).
`
library(devtools)
install_github("eddelbuettel/rinside")
`

[2017-03-09 12:25] boutinb commented on #1667
@sinisalakic Sorry, I check it wrongly, a bit too enthousiast with the new release.
@akashrajkn Can you fix this problem?

[2017-03-09 13:50] MigTBorges commented on #1653
@akashrajkn In installing this, how do I do it in a way that applies to JASP? Through the R.exe included in the JASP installation folder?

[2017-03-09 14:11] boutinb commented on #1653
@MigTBorges The RInside warning is unfortunately a wrong warning (it is just a case sensitivity problem when the packages are checked. We will fix this for the next release). Rinside is anyway loaded because the settings displayed by Process Explorer proves that the right Rinside is loaded.
I have just tried JASP on Windows 7 entreprise machine with a non-admin user, and it works without problem.

[2017-03-09 16:07] ajwills72 commented on #1655
OK, I have got to the bottom of this, I think. It's a 'WS.reputation.1' threat:

https://community.norton.com/en/forums/clarification-wsreputation1-detection

which can be challenged using the link given in text linked above.

I will submit a challenge.

[2017-03-09 16:43] akashrajkn commented on #1667
@boutinb I'll look into it

[2017-03-10 15:03] stjep opened #1669 "En dash symbol does not display in plots"
If an en dash (–) is assigned to a label name, it doesn't render properly in the plots, but is instead replaced with the Unicode placeholder. This is on Mac OS 10.11.6 and JASP 0.8.1.0. Screenshot attached, the label should be:

CS–

![screenshot 2017-03-10 09 59 48](https://cloud.githubusercontent.com/assets/3305421/23800001/941c8888-0578-11e7-8f35-dc239213d98d.png)

[2017-03-10 15:12] stjep opened #1670 "Descriptives won't run if label contains en-dash"
This seems linked to the issue in #1669

Using an en dash in the label for Repeated Measures Cells results in an ANOVA that runs fine, but JASP won't give Desc reptiles for that cell (screenshot attached). Changing the cell name so that it doesn't use the en dash fixes the issue (screenshot attached).

![screenshot 2017-03-10 10 07 30](https://cloud.githubusercontent.com/assets/3305421/23800344/02

[2017-03-10 15:21] stjep opened #1671 "Sorting of Included Variables in EFA table"
Not sure if this is the intended behavior, but the sorting of the Included Variables in the EFA Factor Loadings table is not ideal. It's neither numerical, nor faithful to the original data file. Screenshot is attached where the included variables are named Q1-Q141. The first three variables in the output are Q1, Q10, and Q100, instead of Q1, Q2, Q3.

![screenshot 2017-03-10 10 19 34](https://clou

[2017-03-10 15:38] stjep opened #1672 "Increasing size of Scree Plot re-runs FA"
Increasing the size of the Scree plot in an EFA using the drag corner causes JASP to re-run the whole EFA. This seems unintended and is annoying on two fronts:

- Dragging the bottom-right corner when the plot is already on the bottom of the output means that it only increases by a tiny amount
- Re-running an EFA with a lot of variables takes a while (~1-2 minutes)

[2017-03-10 18:40] ajwills72 commented on #1655
Looks like this is fixed ... but will break again with a new release. The developers may wish to look at Norton's whitelist procedure, which would be a more permanent solution

https://submit.symantec.com/whitelist

Report from Norton follows.

In relation to submission 22019.

Upon further analysis and investigation we have verified your submission and, as such,
the detection(s) for the following

[2017-03-10 18:40] #1655 closed

[2017-03-10 20:20] mpeters2 commented on #1555
I love Jasp, but I sometimes resort to using SuperANVOA in emulation in order to perform custom contrasts.

For example, I have a 2 (direction) x 3 (task) ANOVA [(2: same, orthogonal), (3: central, covert, saccade)], and for theoretical reasons I want to perform two Helmert contrasts (comparing the 3 task) -- one for the "same" condition and another for the "orthogonal" condition -- but I am unabl

[2017-03-10 20:56] felixthoemmes commented on #1555
I have never heard of SuperANOVA, but the visual display of interaction contrasts as pie charts is actually a pretty nice idea.

[2017-03-12 13:50] UppsalaCognitionLab opened #1674 "BF+0 vs BF10"
I noticed that when selecting "Correlated positively" in Bayesian Correlation Pairs test, the Bayes factor in the prior and posterior plots is renamed to BF+0, but the menu buttons are still named BF10, BF01, Log(BF10).

I can imagine that this will confuse some users/students, so you might want to consider renaming the subscripts in the menu as well when you replace "1" with "+" (or "-") in the p

[2017-03-13 12:56] MigTBorges commented on #1653
@boutinb Checking the permissions on the Local/Temp folder (right click on Temp folder, Properties, Security tab) shows me that the SYSTEM, Admin and my own user names all have the same permissions, including Read and Write. Only unticked permission is at the end, "Special Permissions", and that's unticked for all users and groups.

[2017-03-14 08:38] FransMeerhoff commented on #1655
Hello @ajwills72

Thank you very much for sorting this out so well!.
We will definitely look at: 'The developers may wish to look at Norton's whitelist procedure, which would be a more permanent solution'.
But moreover, at the moment we are busy by certificating JASP by means of CA (Certificate Authority) which will be, as we hope, a definite solution too.

Kind regards
Frans Meerhoff

[2017-03-14 10:19] boutinb commented on #742
@AlexanderLyNL Can you do it?

[2017-03-14 11:06] boutinb commented on #933
Sorry for the very late answer. Does this problem still occur in the new JASP version (0.8.1)?

[2017-03-14 11:08] boutinb commented on #947
Also here, sorry for the answer, but does this bug still occur in the newest JASP release?

[2017-03-14 14:13] boutinb commented on #976
The columns in the data view could be resizable, but they were reset to fix size. This is solved and the fix will be present in the next release (probably in April).

[2017-03-14 14:13] #976 closed

[2017-03-14 14:14] boutinb commented on #983
All R packages will be upgraded next release (in April)

[2017-03-14 14:14] #983 closed

[2017-03-14 14:56] boutinb commented on #1018
Rows have now alternate color.

[2017-03-14 14:56] #1018 closed

[2017-03-14 14:58] boutinb commented on #1023
Does this error still occur in the last version (0.8.1)?

[2017-03-14 14:59] boutinb commented on #1030
Does this error still occur in the last JASP version (0.8.1)?

[2017-03-14 15:00] boutinb commented on #1031
This is possible in the last version 8.1.0

[2017-03-14 15:00] #1031 closed

[2017-03-14 15:35] boutinb commented on #1037
Do you have stilll this problem with the last version of JASP (0.8.1)?

[2017-03-14 15:37] #1056 closed

[2017-03-14 15:42] boutinb commented on #1079
You can now synchronize a JASP file with different data file in 8.1.0

[2017-03-14 15:42] #1079 closed

[2017-03-14 15:43] boutinb commented on #1080
Does this problem still occur with the latest version (0.8.1)?

[2017-03-14 15:49] boutinb commented on #1086
Mann-Whitney is also implemented

[2017-03-14 15:49] #1086 closed

[2017-03-14 15:52] boutinb commented on #1105
The next release we will offer the possibilty to export the graph in eps format

[2017-03-14 15:57] boutinb commented on #1107
We do have Chi Square test in the Contingency analysis. But it is maybe not what you mean? In that case, can you be more specific, and give an example of what you would like?

[2017-03-14 15:57] boutinb commented on #1109
This is now supported since 8.0

[2017-03-14 15:57] #1109 closed

[2017-03-14 15:59] boutinb commented on #1111
@MichlF Do you have still this problem with latest version of JAS (0.8.1)P?

[2017-03-14 16:01] boutinb commented on #1114
We can now edit labels in 8.1.0. Is this what you want?

[2017-03-14 16:04] boutinb commented on #1122
@fdabl Do you have still problem with the Ubuntu version?

[2017-03-14 16:07] #1131 closed

[2017-03-14 16:08] #1132 closed

[2017-03-14 16:14] boutinb commented on #1138
Do you have still this problem?

[2017-03-14 16:15] boutinb commented on #1140
@EJWagenmakers Can you answer this (quite old) request?

[2017-03-14 16:17] #1147 closed

[2017-03-14 16:19] EJWagenmakers commented on #1138
Yes, the copy-paste functionality still overwrites parts of the old text.
E.J.

[2017-03-14 16:19] boutinb commented on #1161
Do you have still this problem with the latest version (0.8,1)?

[2017-03-14 16:21] boutinb commented on #1163
This is solved in the last version of JASP

[2017-03-14 16:21] #1163 closed

[2017-03-14 16:21] EJWagenmakers commented on #1140
Sorry for the tardy response! Yes, latent class analysis is great and we might add a module to do this at some point in the future. But we've got a few other fish to fry first!
E.J.

[2017-03-14 16:22] lcoome opened #1677 "Error with only within-subjects variables in an ANOVA"
Hi,

I noticed another error in JASP - When you have only within-subjects variables in an ANOVA, the calculation of the between-subjects SS is wrong.
It should be 27.333 in the attached 3X3 example from one of the tests we gave to our students (attached).

Best,

Lindsay

[2WithinTest2.xlsx](https://github.com/jasp-stats/jasp-desktop/files/841996/2WithinTest2.xlsx)

[2017-03-14 16:23] boutinb commented on #1180
This must be for nominal or ordinal variable. You chose a scale variable.

[2017-03-14 16:23] #1180 closed

[2017-03-14 16:31] boutinb commented on #1188
@EJWagenmakers Can you also answer this (quite old) request?

[2017-03-14 16:34] boutinb commented on #1197
Does this problem still occur with the latest version (8.1.0)?

[2017-03-14 16:35] EJWagenmakers commented on #1188
(particularly relevant for @JohnnyDoorn)
Sorry for the very tardy response. This is certainly interesting! We've been busy with a lot of other issues but this should definitely go on our agenda.

Cheers,
E.J.

[2017-03-14 16:36] boutinb commented on #1198
EPS export will be implement in the release (in April/may probably).

[2017-03-14 16:44] boutinb commented on #1200
This should be solved when we have a certificate. Coming soon.

[2017-03-14 16:47] boutinb commented on #1205
You can always export as HTML. Is it not what you want?

[2017-03-14 16:48] boutinb commented on #1211
We have put a tooltip to read the column names.

[2017-03-14 16:48] #1211 closed

[2017-03-14 16:53] boutinb commented on #1217
This error message comes from the operating system self (not JASP). Probably a (hidden) JASP instance was still using this file.

[2017-03-14 16:53] #1217 closed

[2017-03-14 17:57] jdittrich commented on #1648
@cruizmatuk: So you don’t have the crash anymore? Or do you mean it still crashes, even though you have the most up-to-date version?

[2017-03-14 19:36] akashrajkn commented on #1205
@EJWagenmakers I made this with Frans and Bruno's help last year.

While the functionality works well for most of the cases, the export to pdf does not work well for tables with many columns (length of table exceeds the page size - A4). Hence, I did not make a pull request for this feature. (See attached pdf)

Adding the pdf feature in itself isn't that complicated (Qt already gives support for th

[2017-03-14 19:59] cassandiey opened #1678 "Jasp Problem details and System configuration"
Jasp continues to shut down every time I try to work on project and when I try and click on descriptions. this is the message I get:
Process:               JASP [19992]
Path:                  /Applications/JASP.app/Contents/MacOS/JASP
Identifier:            org.jasp-stats.jasp
Version:               0.8.1.0 (???)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:

[2017-03-14 21:03] coledavis commented on #1107
The 'Chi Square test' of which you speak is the Chi Square test of Association, _not_ the Chi Square Goodness of Fit test.

Example:
There are 3 (or 4 or more) categories of observations. An example would be, 'Catholics', 'Protestants', 'Jews', 'Hindus' and 'Buddhists'.  A standard version of Goodness of Fit would see if the proportion of observations was different from random (i.e. .20, .20, .20,

[2017-03-15 08:42] FransMeerhoff commented on #1678
Hello @cassandiey

We don't know exactly what you mean by "click on descriptions'. Do you mean pressing the 'Descriptives' tab and choose an item', or adding a description with the 'Add Notes' in the result panel?
Could you remove the installation from JASP and reinstall it again from http://static.jasp-stats.org/JASP-0.8.1.0.dmg to be very sure that the installation itself went OK.
If the problem

[2017-03-15 08:48] lvanderlinden commented on #1211
Amazing! Thank you so much!

[2017-03-15 10:02] boutinb commented on #1669
@vankesteren: In a table, the dash '–' (or any special character as '±'. Be careful '-' is not a dash!) label is well displayed, proving that the engine and R get the right value. But in an image, the '–' gets the wrong value. Probably it is due to a Unicode problem when making the image.

[2017-03-15 10:08] boutinb commented on #1670
@JohnnyDoorn I am not sure if this is exactly the same error as in #1669. It is surely a Unicode problem, but in #1669, this problem occurs when making the image, which is an apart piece of code than when the Mean and SD are calculated.

[2017-03-15 10:13] boutinb commented on #1671
As to see the screenshot, It is alphanumeric order.
@SachaEpskamp: is it possible to change this alphabetical order to the order as in the included variables set?

[2017-03-15 10:32] boutinb commented on #1615
Fixed with the new version 0.8.1.

[2017-03-15 10:32] #1615 closed

[2017-03-15 10:36] boutinb commented on #1613
This is solved in the latest version (0.8.1).

[2017-03-15 10:36] #1613 closed

[2017-03-15 10:44] boutinb commented on #1596
This is solved in the new version 0.8.1

[2017-03-15 10:44] #1596 closed

[2017-03-15 10:48] #1585 closed

[2017-03-15 10:54] #1570 closed

[2017-03-15 11:00] #1568 closed

[2017-03-15 11:07] boutinb commented on #1566
Duplicate of #848

[2017-03-15 11:07] #1566 closed

[2017-03-15 11:08] #1558 closed

[2017-03-15 11:09] #1557 closed

[2017-03-15 11:11] #1547 closed

[2017-03-15 11:14] #1544 closed

[2017-03-15 11:39] boutinb commented on #1543
Sorry for the late answer. The first issue is solved with the newest version (0.8.1).
For the second issue, this is in fact an OSF issue, and I made request to OSF to solve it.

[2017-03-15 11:52] #1519 closed

[2017-03-15 11:54] boutinb commented on #1518
@vankesteren: is this implemented?

[2017-03-15 11:56] #1289 closed

[2017-03-15 11:57] boutinb commented on #1288
@aknight1-uva : is this solved?

[2017-03-15 11:57] boutinb commented on #1287
Is this solved?

[2017-03-15 12:01] #1430 closed

[2017-03-15 12:02] #1444 closed

[2017-03-15 12:08] #1263 closed

[2017-03-15 12:10] boutinb commented on #1234
@EJWagenmakers: Is this solved?

[2017-03-15 12:11] #1245 closed

[2017-03-15 12:12] boutinb commented on #1238
This feature is added in 0.8.1

[2017-03-15 12:12] #1238 closed

[2017-03-15 12:22] EJWagenmakers commented on #1234
Nope, see attach. Could just be my laptop; some other text in the input panel is also "cut off".
E.J.
![osflogin](https://cloud.githubusercontent.com/assets/8603015/23948245/7bb18d94-0982-11e7-8315-3a266a71fb40.png)

[2017-03-15 13:36] aknight1-uva commented on #1286
Fixed a while ago.

[2017-03-15 13:36] #1286 closed

[2017-03-15 14:02] aknight1-uva commented on #1288
It is

[2017-03-15 14:02] #1288 closed

[2017-03-15 14:05] #1290 closed

[2017-03-15 14:32] JohnnyDoorn commented on #1677
Hi Lindsay,
Thanks again for taking the effort to point out a bug. I downloaded your dataset and converted it to csv (see attached file, as .txt since github does not support .csv for some reason). When I load it into JASP, specify your 3x3 model, and specify the first column with the subject numbers to indicate individual cases, I do get 27.333 in the between-subjects table.
When you ran this, di

[2017-03-15 14:45] boutinb commented on #1511
Is this still a problem?

[2017-03-15 14:47] #1509 closed

[2017-03-15 14:48] #1507 closed

[2017-03-15 14:49] #1506 closed

[2017-03-15 14:50] #1502 closed

[2017-03-15 14:51] smathot commented on #1511
Yes, absolutely! The NeuroDebian version is now also behind the PPA.

[2017-03-15 14:53] boutinb commented on #1511
@mih: You were busy with this issue. Are you still willing to solve it?

[2017-03-15 14:55] boutinb commented on #1497
Duplicate with #1138

[2017-03-15 14:55] #1497 closed

[2017-03-15 14:58] boutinb commented on #1483
We have implemented data & label editing in the version (0.8.1). Does this answer your issue?

[2017-03-15 14:59] #1482 closed

[2017-03-15 15:03] boutinb commented on #1480
@aknight1-uva Can you have to this issue? You made also an issue about encoding problem.

[2017-03-15 15:07] boutinb commented on #1478
Does this problem still occur?

[2017-03-15 15:16] #1470 closed

[2017-03-15 15:22] boutinb commented on #1451
Sorry for the late answer... Do you have still this problem with the last version? If yes, did you try to download the ZIP version (https://jasp-stats.org/download/#advanced)?

[2017-03-15 15:24] #1446 closed

[2017-03-15 15:25] boutinb commented on #1445
@SachaEpskamp : are these feature already implemented?

[2017-03-15 15:32] boutinb commented on #1441
Dis you try the last version (0.8.1). I have tried of your files with this version and I got no problem,=.

[2017-03-15 15:45] #1439 closed

[2017-03-15 15:45] #1437 closed

[2017-03-15 15:47] boutinb commented on #1435
tooltip has been added

[2017-03-15 15:47] #1435 closed

[2017-03-15 15:47] boutinb commented on #1434
@TimKDJ Did you implement this?

[2017-03-15 15:52] aknight1-uva commented on #1480
Almost certainly redundant: The only use for these functions is in the RBridge.
It's not as if these functions were built for general use: They are only intended for use within JASP.
Why these functions exists at all is a puzzle to me: Base 64 encoding functionality  is available in the QT library: http://doc.qt.io/qt-4.8/qbytearray.html.

[2017-03-15 15:52] SachaEpskamp commented on #1581
Yes, an implementation of multi-group SEM is coming in a future version!

[2017-03-15 15:54] boutinb commented on #1422
Can you give us the SAV file that provokes this error?

[2017-03-15 15:56] boutinb commented on #1428
@aditya1315 Did you try to fix this?

[2017-03-15 15:58] boutinb commented on #1427
This is too vague to investigate further.

[2017-03-15 15:58] #1427 closed

[2017-03-15 16:53] boutinb commented on #1399
Sorry for the late answer... Do you have still this problem?

[2017-03-15 16:54] JohnnyDoorn commented on #1432
Hi Wilhelm,
I managed to replicate your bug. However, I do not think it is a bug in JASP, but simply a property of the bugs dataset - if you specify another between subjects variable, these lines do differ. I tested some other datasets as well, and it appears to be specific to the bugs dataset with gender, so I'm inclined to believe there's no programming error in there but just a weird result. Fe

[2017-03-15 17:03] ThompsonAD commented on #1451
It's okay! I ended up figuring it out!

On Mar 15, 2017, at 10:22 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

*****THIS IS AN EXTERNAL E-MAIL. STOP AND THINK BEFORE CLICKING A LINK, OPENING AN ATTACHMENT OR REPLYING TO THIS MESSAGE*****

Sorry for the late answer... Do you have still this problem with the last version? If yes, did you try to download the ZI

[2017-03-15 18:33] mpeters2 commented on #1555
SuperAnova (and it's companion package, StatView), was an extremely easy to use stats package that was released in the early 1990s (Mac only, later Statview was ported to Windows).  It was originally developed by Abacus Concepts.  They were later bought by SAS and killed off.

The nice thing about SuperAnova's contrast interface is that there is no hand coding for contrasts: double clicking on any

[2017-03-16 09:33] becky-gilbert opened #1682 "JASP crashes loading CSV on Windows 7 - Assertion failed"
Hi,

JASP is crashing when I try to load a csv file. The message I get is "Assertion failed!" with a program, file and line number, followed by "Expression: allocated == next_block_prev_allocated" (see screenshot below). If I click "Retry" or "Ignore" I get another error and JASP closes. I'd be happy to send the csv file.

Thanks,
Becky

## Environment

* JASP version: 0.8.1
* OS name and version:

[2017-03-16 09:36] boutinb commented on #1682
@becky-gilbert Can you send me the CSV file?

[2017-03-16 09:43] boutinb commented on #1451
What was the problem?

[2017-03-16 09:43] #1451 closed

[2017-03-16 10:05] becky-gilbert commented on #1682
Sent. Let me know if you don't receive it soon.
Thanks very much!

[2017-03-16 11:02] boutinb commented on #1682
I received it, and can reproduce the error. I'll have a look to this problem.

[2017-03-16 14:35] pa0 opened #1683 "NA in grouping variable in T-test generate error level ≠ 2"
## Environment (for bugs)

* JASP version: 0.8.1.0
* OS name and version: OSX Sierra
* Analysis: Independent t-test

Grouping variable with NA aren't excluded and generate third level of variable (level ≠ 2)

<img width="541" alt="zrzut ekranu 2017-03-16 o 15 13 54" src="https://cloud.githubusercontent.com/assets/4692217/24001204/cb34c58a-0a5d-11e7-91fe-f504cb077c10.PNG">

<img width="655" alt="zr

[2017-03-16 16:23] TimKDJ commented on #1683
Hi @pa0

Thank you for reporting this to us!
I will rectify it in a minute.

Cheers,
Tim

[2017-03-16 16:37] TimKDJ commented on #1683
Alright this is now fixed.
Our next release (due somewhere next week) will include the updated version of the t-test.

Thanks again.

[2017-03-16 16:38] #1683 closed

[2017-03-16 20:11] ThompsonAD commented on #1451
When I would run the software it would let me input my data but when I submitted it all it wouldn't show me the statistics, it would just keep the welcome to jasp screen. I updated my computer software (windows) then it ran just fine!

On Mar 16, 2017, at 4:43 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

*****THIS IS AN EXTERNAL E-MAIL. STOP AND THINK BEFORE

[2017-03-17 07:42] silberzwiebel commented on #1103
I'm also looking forward to this feature!
Not sure, how JASP works behind the curtains, but probably the R packages [`brms`](https://github.com/paul-buerkner/brms) or [`rstanarm`](https://github.com/stan-dev/rstanarm) might be interesting options, here. They both use Stan, though.
(I think #1643 is a duplicate of this (earlier) issue.)

[2017-03-17 08:18] boutinb commented on #1643
Duplicate with #1103

[2017-03-17 08:18] #1643 closed

[2017-03-17 08:21] boutinb commented on #1451
From which to which version of Windows did you upgrade?

[2017-03-17 10:42] BPaton opened #1687 "JASP no longer running analyses on Windows 7 64bit"
* JASP version: 0.8.1 and many previous versions
* OS name and version: Windows 7 64 bit Enterprise
* Analysis:  I have a Windows 7 64 bit box that has had many previous versions of JASP installed, all of them working. The most recent was a version I downloaded in November last year. I have also just recently downloaded the most recent version. Since trying to run JASP today, using the previous ve

[2017-03-17 12:25] FransMeerhoff commented on #1682
Hi @becky-gilbert

We made a hotfix for this.
You can download it from :
https://static.jasp-stats.org/JASP-0.8.1.1-Setup.exe

Next week after more testing we will publish the fix.
We are of course very interested in the results of your testing too.

Kind regards
Frans Meerhoff

[2017-03-17 12:47] becky-gilbert commented on #1682
Hi @FransMeerhoff
Thanks very much for the quick fix!
My csv file loads fine now in the hotfix version. I'm still in Windows 7 Professional.
Becky

[2017-03-17 12:59] #1682 closed

[2017-03-17 13:21] ThompsonAD commented on #1451
I have windows 10, it just needed a normal maintenance update

On Mar 17, 2017, at 3:21 AM, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

*****THIS IS AN EXTERNAL E-MAIL. STOP AND THINK BEFORE CLICKING A LINK, OPENING AN ATTACHMENT OR REPLYING TO THIS MESSAGE*****

From which to which version of Windows did you upgrade?

—
You are receiving this because you autho

[2017-03-17 13:27] boutinb commented on #1227
Duplicate with #1234

[2017-03-17 13:27] #1227 closed

[2017-03-17 13:28] #1231 closed

[2017-03-17 13:31] boutinb commented on #1247
Duplicate with #1292

[2017-03-17 13:31] #1247 closed

[2017-03-17 13:33] boutinb commented on #1253
Not reproduceable

[2017-03-17 13:33] #1253 closed

[2017-03-19 16:32] mih opened #1689 "Git release tag format changed. New syntax?"
The latest release tag is v**DOT**0.8.1.0, in contrast to v0.8.0.0. Is this the new syntax for any release tag, or does it signify a particular property of such a release?

[2017-03-19 17:04] mih commented on #1473
@joucoski Yes, the patch would need to be applied to the source and JASP needs to be built from the patches source tree.

[2017-03-19 17:06] mih commented on #1476
@boutinb FTR this is not a Linux issue. It simply points out that JASP uses and outdated fork of libjsoncpp.

[2017-03-19 17:09] mih commented on #1511
"The mind is willing, but the flesh is weak" ;-)

I am attempting to update the package to v0.8.1.0 so we have an idea where we are with respect to this issue.

[2017-03-19 17:24] mih opened #1690 "Possibility to run test suite in non-interactive environment?"
When running `OSFTest::loginAuthenticationTest([1-7])` as part of the test suite 11 dialog popups open that need to be closed with a button click in order to continue the test run. Is there a switch that disables any interactive tests? Or can this particular test be ran without leading to this behavior?

[2017-03-19 17:32] mih commented on #1473
Updated list to reflect the fact that JASP doesn't start without `rjson` anymore.

[2017-03-19 17:33] mih commented on #1478
With v0.8.1.0 all examples load fine.

[2017-03-19 17:33] #1478 closed

[2017-03-19 17:43] mih opened #1691 "Analysis tests fail with v0.8.1.0"
Except for the issue in #1690 the JASP test suite runs fine. However the R-based analysis tests do not run anymore after upgrading to v0.8.1.

I tried running them with and without an installed JASP -- no difference in behavior. I have extracted the test files, both in the source tree, as well as in my build tree (doing an out-of-tree build).

Am I doing something wrong?

Thanks.

[code]

[2017-03-19 18:03] mih opened #1692 "Please consider git-annex for TestFiles.zip"
I just noticed that the repository size increased by 100MB since v0.8~beta2. This is primarily due to TestFiles.zip. Please consider using git-annex for such files (http://git-annex.branchable.com). The inflation of the repository with binary file updates would otherwise lead to usability issues over time.

[2017-03-19 19:48] mih commented on #1511
A package of v0.8.1.0 for Ubuntu 16.04 just hit NeuroDebian. @smathot Please let me know if the behavior is still as report. If so, we should have a more up-to-date starting point for an investigation.

[2017-03-20 08:12] boutinb commented on #1476
@FransMeerhoff Can you have a look at this issue?

[2017-03-20 08:14] boutinb commented on #1690
@akashrajkn Could you tackle this issue?

[2017-03-20 09:00] boutinb commented on #1271
With the newest version (0.8.1), you can now edit your data in Excel/SPSS/... and JASP will synchronize automatically these changes into your analyses.

[2017-03-20 09:00] #1271 closed

[2017-03-20 09:01] boutinb commented on #1285
@aknight1-uva I think all these issues are now solved?

[2017-03-20 09:01] nbara commented on #1271
Fantastic ! Great job, devs !

[2017-03-20 09:05] akashrajkn commented on #1690
@boutinb I'll solve this

[2017-03-20 09:09] akashrajkn commented on #1691
@mih the tests weren't maintained for a long time; changes were made to a few analyses, but the testcases weren't taken care of (to handle the changes). This is causing a lot of problems. I will work on this and set up the tests soon.

[2017-03-20 09:10] boutinb commented on #1291
I cannot reproduce this problem on OSF.

[2017-03-20 09:10] #1291 closed

[2017-03-20 09:12] boutinb commented on #1292
Duplicate with #1247

[2017-03-20 09:12] #1292 closed

[2017-03-20 09:14] boutinb commented on #1293
@metamorphose42 Sorry for the late answer... Does this problem still occur in the last version of JASP (0.8.1)? If yes, can you send us the csv file?

[2017-03-20 09:17] mih commented on #1691
@akashrajkn Thanks a lot!

[2017-03-20 09:21] boutinb commented on #1294
Sorry for the late answer... Can you reproduce this problem with the newest version of JASP (0.8.1), and if yes, can you precise exactly which columns you use?

[2017-03-20 09:24] boutinb commented on #1301
Sorry for the late answer... I cannot reproduce this. With which file and which column do you see that?

[2017-03-20 09:26] boutinb commented on #1303
@JMiranda7878 Do you have still this problem?

[2017-03-20 09:32] boutinb commented on #1353
@IunoGroot I am still interested to understand why the raw data generated this problem? Can you send it in the ZIP file? Or is this problem actually solved with the newest release (0.8.1)?

[2017-03-20 09:33] boutinb commented on #1320
@cameissner  I am still interested to understand why the raw data generated this problem? Can you send it in the ZIP file? Or is this problem actually solved with the newest release (0.8.1)?

[2017-03-20 09:36] boutinb commented on #1321
@EJWagenmakers I cannot either reproduce this problem. Do you?

[2017-03-20 09:37] boutinb commented on #1323
This is solved in the newest version (0.8,1)

[2017-03-20 09:37] #1323 closed

[2017-03-20 11:47] boutinb commented on #1337
@patel307 do you have still this problem with the latest JASP version (0.8.1)?

[2017-03-20 11:48] boutinb commented on #1340
Duplicate of #1320

[2017-03-20 11:48] #1340 closed

[2017-03-20 11:52] boutinb commented on #1347
@JohnnyDoorn Hi Johnny, can we close this issue, or do you want to add some comments?

[2017-03-20 11:52] akashrajkn commented on #1674
@boutinb  this is not a bug, and has to be handled from qt (implement a slot to change the text of radio buttons when clicked() signal is emitted)

[2017-03-20 11:55] boutinb commented on #1348
@AlexanderLyNL Can you have a look if this is still a problem?

[2017-03-20 11:57] boutinb commented on #1354
@luigino Do you have still this problem?

[2017-03-20 11:57] AlexanderLyNL commented on #1348
Sure, after June. Please remind me by the end of July, if I haven't picked up on this.

[2017-03-20 11:58] #1359 closed

[2017-03-20 12:02] boutinb commented on #1376
Can you send the data (in the ZIP file)?

[2017-03-20 12:04] boutinb commented on #1381
@EJWagenmakers Can you give an answer to this request?

[2017-03-20 12:05] boutinb commented on #1387
Do you have still this problem?

[2017-03-20 12:08] boutinb commented on #1389
Hi @MarliesV Do youhave still still this problem with the latest version (0.8.1)? If yes, can you send us the JASP file?

[2017-03-20 12:12] boutinb commented on #1390
The SPSS file was not yet officially supported. Now it is. Do you have still this problem in the newest version of JASP (0.8.1)?

[2017-03-20 12:20] #1347 closed

[2017-03-20 12:22] aknight1-uva commented on #1285
I thinks so too.

[2017-03-20 12:35] EJWagenmakers commented on #1381
@JohnnyDoorn
Yes these are very useful remarks. We should add a module for robust analyses to our JASP to-do list. And the other suggestions are useful too. Let me add it on the JASP whiteboard.
E.J.

[2017-03-20 12:39] #1285 closed

[2017-03-20 12:59] EJWagenmakers commented on #1321
It may have been fixed in a later release. If this resurfaces I will let you know.
E.J.

[2017-03-20 16:15] patwms commented on #1387
Thanks for asking. All seems to be OK now.

On Mon, Mar 20, 2017 at 7:05 AM, bruno boutin <notifications@github.com>
wrote:

[2017-03-20 16:42] AlexanderLyNL commented on #1387
Great I'm closing this issue then.

[2017-03-20 16:42] #1387 closed

[2017-03-20 16:54] patel307 commented on #1337
No, I have JASP 0.8.1 now and ran a linear regression without problems.

[2017-03-20 16:55] AlexanderLyNL commented on #1337
Great to hear that. Thank you for your comments. I'll close this issue.

[2017-03-20 16:55] #1337 closed

[2017-03-20 16:58] AlexanderLyNL commented on #1321
Good I consider this solved and close this issue.

[2017-03-20 16:58] #1321 closed

[2017-03-20 18:24] luigino commented on #1354
I'm sorry to have left this open, I gave up on it long ago.
Perhaps the next packager will have more luck.

[2017-03-20 18:36] niteshkhilwani opened #1693 "Error in Reliability test"
## Environment (for bugs)

* JASP version: Mac 0.8.1.0
* OS name and version: Mac OS
* Analysis: While performing reliability analysis on the dataset with

- Mean: 0.009804
- Std. Dev: 0.099
- Min: 0
- Max: 1

Getting following error:

This analysis terminated unexpectedly.
Error in min(eigens$values): invalid 'type' (complex) of argument
Stack trace
analysis(dataset = NULL, options = options, per

[2017-03-20 22:04] Suggestions-Only commented on #1376
[Analysis Result Is Infinite.zip](https://github.com/jasp-stats/jasp-desktop/files/856501/Analysis.Result.Is.Infinite.zip)

Did this work?

[2017-03-21 07:45] kevinvschie opened #1694 "JASP quits unexpectedly repeatedly"
## Environment (for bugs)

* JASP version: 0.8.1.0
* OS name and version: Windows 7 Enterprise
* Analysis: none specifically

JASP used to be working just fine; analyses were running, figures were created. All of a sudden, it stopped working. Let me be clear. If I open JASP itself, it opens and I can load a new file and start running analyses. However, there is a specific .jasp-file that I did all

[2017-03-21 07:56] boutinb commented on #1694
Can you send us the csv and jasp files (in zip format)?

[2017-03-21 07:58] kevinvschie commented on #1694
Sure, what's the email I can send it to?

[2017-03-21 08:14] boutinb commented on #1694
You can add it in the issue self. If it does not work, send it to jasp.stats at gmail dot com.

[2017-03-21 08:31] boutinb commented on #1694
I cannot reproduce your problem, JASP can load your csv or jasp file without problem. I have tried on Mac and Windows. We are busy to make a new (hotfix) release, which is already available here: http://static.jasp-stats.org/JASP-0.8.1.1-Setup.exe. Can you try it?

[2017-03-21 08:32] boutinb commented on #1693
Can you send us the csv and jasp files you use (in a zip format)?

[2017-03-21 08:37] boutinb commented on #1376
I have got your file.
@quentingronau Can you have a look to this problem?

[2017-03-21 08:49] kevinvschie commented on #1694
That is strange. I downloaded and installed it, but keeps giving me the same error.

[2017-03-21 08:52] boutinb commented on #1694
With the last version you downloaded, you can start JASP from the command line (go to Program Files/JASP 0.8.1, and start JASP). In this way, the log will be printed in the command box. Can you send me what you see then?

[2017-03-21 08:58] kevinvschie commented on #1694
I'm not sure if this is what you require (let me know if I copied the wrong stuff):

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	JASP.exe
  Application Version:	0.0.0.0
  Application Timestamp:	00000000
  Fault Module Name:	JASP.exe
  Fault Module Version:	0.0.0.0
  Fault Module Timestamp:	00000000
  Exception Code:	c0000005
  Exception Offset:	000000000000d72c
  OS Versi

[2017-03-21 09:11] boutinb commented on #1694
No this is not I wanted. You have to start JASP from the command line in this way JASP > log.txt
If you do not have write permission in this directory, use a log.txt in folder where you have this permission, for example: JASP > d:\temp\log.txt. Can you then send me this log.txt

[2017-03-21 09:35] kevinvschie commented on #1694
I'm not sure what you want me to do. Do you mean the cmd interface in Windows?

[2017-03-21 09:37] boutinb commented on #1694
Yes this is it.

[2017-03-21 09:39] kevinvschie commented on #1694
When I type in JASP, it won't find it.

[2017-03-21 09:56] boutinb commented on #1694
In the command prompt, type:

%TEMP% is the temporary folder where you may add files.
To find your jasp.log, type

Here you should see it.
You can open it with notepad

Kind regards

[2017-03-21 10:16] kevinvschie commented on #1694
When I enter the first part after the final line it simply opens JASP as it normally opens.

cd %TEMP% gives me a new line C:\Users\schie006\AppData\Local\Temp.

But that's it. Should I add something?

[2017-03-21 10:17] smathot commented on #1511
Nope, I'm afraid it's still the exact same problem.

[2017-03-21 10:22] boutinb commented on #1694
When you are in the TEMP folder (cd %TEMP%), and you type:

Do you see something?

[2017-03-21 10:23] kevinvschie commented on #1694
I get this back:

{
   "messages" : [
      "Package lsmeans is not the correct version; expected: 2.17, installed: 2.20-2",
      "Package RInside not installed!"
   ],
   "official" : false
}

[2017-03-21 11:06] boutinb commented on #1694
Do you have problem only with this JASP file? We had a look to this file, and the only thing we could find is that as the first column is called ID, then think Excel that it is a SYLK file... JASP should not have any problem with this, but we don't see any other problem with this particular file.

[2017-03-21 11:22] boutinb commented on #1511
@smathot Why don't y use our ppa? From our site:
sudo add-apt-repository ppa:jasp-uva/jasp
sudo apt-get update
sudo apt-get install jasp
sudo R
install.packages(c("GPArotation","qgraph","RJSONIO","semTools"))

[2017-03-21 11:35] mih commented on #1511
@smathot thanks! I'll try to see how exactly ubuntu does things differently wrt R.

[2017-03-21 11:51] smathot commented on #1511
I do, actually. But I also use NeuroDebian. And if the NeuroDebian version of JASP is higher than the one in your ppa (which used to be the case, but isn't anymore), then that's the one that gets installed by default.

[2017-03-21 12:31] kevinvschie commented on #1694
Yes, it seems to be this file specifically. If I open JASP and then select that file I'm able to do analyses. The problem is only when loading the .jasp file with all my previous analyses.

[2017-03-21 12:38] boutinb commented on #1694
This is really strange. I have no problem with this file. I loaded this file, and saved it again. Here is is it:
[Intrusions_Exp2_Results_20170103_FINAL.jasp.zip](https://github.com/jasp-stats/jasp-desktop/files/858090/Intrusions_Exp2_Results_20170103_FINAL.jasp.zip)
Can you try again?

[2017-03-21 12:40] kevinvschie commented on #1694
This one seems to work. That is really odd. Any idea why this happened? I saved it myself a number of times, and I still got the error.

[2017-03-21 12:46] boutinb commented on #1694
Fine that this one works! It is still quite strange. There was maybe a setting in this file that was not understood in the new JASP version... In which JASP version you created this jasp file?

[2017-03-21 13:22] kevinvschie commented on #1694
In JASP 0.8.1.0

[2017-03-21 14:50] boutinb commented on #1694
It is occurs again with another jasp file, reopen this issue

[2017-03-21 14:50] #1694 closed

[2017-03-22 08:20] boutinb commented on #1689
You are right. We set it back to v0.8.x.x
We have just made a new release due to a hotfix. the current version in now v.0.8.1.1

[2017-03-22 08:20] #1689 closed

[2017-03-22 08:29] boutinb commented on #1687
@BPaton This is indeed quite frustrating. We have a couple of this kind of issues on Windows 7. But we cannot get a grip to what is going on. We cannot reproduce it on our Windows 7 Enterprise machine with an admin or even a normal user.
We are going to make a debug version of the last version for Windows. When it is ready, you can install it, and hopefully it can gives more log about what is goin

[2017-03-22 08:33] boutinb commented on #1653
Hello @MigTBorges: there are least 2 other users who have the same problem as you. We have decided to publish a debug version on Windows. Hopefully this will give us more information about the problem. I give you a sign when this debug version is ready.

[2017-03-22 09:36] baltzis opened #1695 "Opening .sav file, graphics output"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 10 (64bit)
* Analysis: When I try to open a .sav file in a directory other than route, I get the message:
"Unable to open file. No header found in .SAV file".
I suspect that this is because my system is in Greek and several directories have Greek names. The same file, however, can be opened from the route directory o

[2017-03-22 09:36] BPaton commented on #1687
Thanks the debug version sounds good. Really want to figure this out as I was planning on using JASP for teaching in about two months time.

[2017-03-22 11:26] jdittrich commented on #1695
It seems that this issue should be split in two issues, so that both issues could be investigated and solved independently

e.g. in these:
* "Unable to open file. No header found in .SAV file when in folder with Greek characters"
* "Greek characters are correct in tables but wrongly encoded in graphs"

[2017-03-22 11:28] AlexanderLyNL commented on #1695
The plot problem is indeed an R problem. At the moment, we cannot have foreign languages in the plots.

[2017-03-22 15:01] aknight1-uva commented on #1695
The "No Header issue" strikes me as odd. - It seems like a file has been found (and opened) but the contents of the file are not recognisable as an .SAV file - Which suggests to me the file is damaged in some way. Could you please attach a copy of an SAV file that shows this problem?

[2017-03-22 15:33] baltzis commented on #1695
Thank you very much for your efforts.

I am attaching a sample file. The same file can be opened without problem
from the route directory, but it can't be opened if you put it in a
folder/subdirectory with Greek characters. The message appears instead.

Regards
Alexandros

2017-03-22 17:01 GMT+02:00 Patrick Knight <notifications@github.com>:

[2017-03-22 15:54] aknight1-uva commented on #1695
Sorry Alexandros, I can't see your attachment. Did you attach it to an comment on typed-in on  github.com?

[2017-03-22 16:03] baltzis commented on #1695
Sorry, I've sent it through an email. Here is the file.
[Flexibility scale1.zip](https://github.com/jasp-stats/jasp-desktop/files/862034/Flexibility.scale1.zip)

[2017-03-22 20:07] travery commented on #1648
I had the same error and noticed that I (and the file above) had some calculations at the bottom of my data table -- once I removed it the error went away.

[2017-03-23 08:19] AlexanderLyNL commented on #1348
@nuskcalb I've looked into this, see the screen shot
<img width="1320" alt="screen shot 2017-03-23 at 09 16 05" src="https://cloud.githubusercontent.com/assets/10271675/24238137/7f4e4fdc-0fa9-11e7-82be-a3214583f5bf.png">
As a default, this analysis only displays the best "1" model. The Bayes factors are relative to the best performing model, which is why it appears that it only outputs BFs of 1.

[2017-03-23 09:48] annatemp opened #1698 "ANOVA with Huyn-Feldt correction gives strange error messages"
JASP Version 0.8.1
OS: Mac OS Sierra (10.12.3)
Analysis: repeated measures ANOVA with Huyn-Feldt correction

Error message:

"This analysis terminated unexpectedly.

Error in complete.cases(x, y): not all arguments have the same length

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback)

.resultsPostHoc(referenceGrid, options, dataset, fullModel)

t

[2017-03-23 10:56] boutinb commented on #1653
Hello @MigTBorges Can you install the debug version http://static.jasp-stats.org/JASP-0.8.1.1-Setup-Debug.exe
Then start JASP form the command line as described above. Give me the results of the log.

[2017-03-23 10:58] boutinb commented on #1687
@BPaton Can you install the debug version http://static.jasp-stats.org/JASP-0.8.1.1-Setup-Debug.exe
Then go to Program Files\JASP-0.8.1.1 and start JASP from the command line in this way:
. JASP.exe > %TEMP%\log.txt
I am curious what the log.txt will say.

[2017-03-23 11:15] JohnnyDoorn commented on #1698
Hi Anna,
Thanks for filing this bug-report. Could you maybe share your dataset here, so I can try to replicate your issue? If you want to send it by mail, you can send it to J [dot] B [dot] vanDoorn [at] uva [dot] nl
That way I can take a closer look and solve the issue.
Kind regards
Johnny

[2017-03-23 13:48] #1667 closed

[2017-03-24 10:41] TimKDJ commented on #1129
This was added in PR #1603

[2017-03-24 10:41] #1129 closed

[2017-03-24 10:42] #1546 closed

[2017-03-24 10:44] TimKDJ commented on #1434
Yes this was added in PR #1603

[2017-03-24 10:44] #1434 closed

[2017-03-24 10:58] TimKDJ commented on #1177
This was added in PR #1360

[2017-03-24 10:58] #1177 closed

[2017-03-26 13:24] nronaldvdberg opened #1699 "Error msg"
## Environment (for bugs)

* JASP version: 0.8.0.0
* OS name and version: Windows 10
* Analysis:

I got the following error message:

This analysis terminated unexpectedly. Please contact its author.\n\nError in plot$data : $ operator is invalid for atomic vectors\n

....after doing the following:
1. perform a paired frequentist t-test
2. perform a paired Bayesian t-test
3. go back to the frequent

[2017-03-26 21:13] janderuiter opened #1700 "About Dialog doesn't work."
## Environment (for bugs)

* JASP version: 8.1
* OS name and version: Mac OSX 10.12.3 Sierra
* Analysis: N/A
Selecting "About JASP" from the main menu does nothing. It should report version etc.

[2017-03-27 06:52] boutinb commented on #1699
Hi @nronaldvdberg Can you send us the data file and the jasp file?

[2017-03-27 08:56] aknight1-uva commented on #1695
@baltzis : Thanks for the file. There doesn't appear to be any damage to it at all.
@boutinb, @FransMeerhoff  Further investigation has produced a possible cause of this issue: The importers (without exception) use a std::ifstream object to read files. With underlying files-systems that support UTF-8 filenames (e.g. Linux or ?OS/X?) this works really well in the presence of Unicode chars in the  p

[2017-03-27 09:23] baltzis commented on #1695
Should I understand this as a final result, saying that there is no solution for Windows in languages other than English?

[2017-03-27 09:42] boutinb commented on #1695
@baltzis No, there should be a solution. But first of all, we have to reproduce your problem. I have just tried to make folder with a greek's name on a Windows 7 machine, and I can load a JASP file without problem. We will try on a Windowns 10 machine.

[2017-03-27 09:48] aknight1-uva commented on #1695
All we can say at present, is that we cannot reproduce the issue on Windows 7 (English).
For now, it seems the only work around we can offer is one you already have: Keep all your SAV files you wish to read with JASP in a folder whose path contains only ASCII characters (i.e. only those used by a US keyboard). This is an issue that will require some careful thought - In other words will take some

[2017-03-27 09:55] FransMeerhoff commented on #1700
Hi @janderuiter

Thanks for this notification..
But there always another way to check the JASP version. On the main window, right top,  there is an 'option list' icon where the options of JASP reside. Here is also the  'About' option, where the JASP version, with other info are shown.
We wil fix this issue in a new release.

Kind regards
Frans Meerhoff

[2017-03-27 10:00] nronaldvdberg commented on #1699
I have attached it.

To reproduce the error, it seems essential that you first do a test

[bugged.zip](https://github.com/jasp-stats/jasp-desktop/files/871996/bugged.zip)

[2017-03-27 10:01] nronaldvdberg commented on #1699
[jasp_error.zip](https://github.com/jasp-stats/jasp-desktop/files/872063/jasp_error.zip)

See attached - i also made two movies showing when the error does and does not occur. Hope this helps.

[2017-03-27 10:25] baltzis commented on #1695
Thank you.

[2017-03-27 11:21] nronaldvdberg commented on #1699
oops i had accidentally closed this issue - sorry for the mess, i'm not so familiar yet with github. See previous comment for a .zip file with requested data files as well as a movie showing a reproduction of the error.

[2017-03-28 08:39] boutinb commented on #1700
Solved in next release

[2017-03-28 08:39] #1700 closed

[2017-03-28 09:04] boutinb commented on #1699
@nronaldvdberg Thanks for the movies, that makes it indeed really clear.
@quentingronau Can you have a look to this problem?

[2017-03-28 09:06] boutinb commented on #1668
Hi @aljoriz Was the explanation enough to solve your problem? Then we can close this issue.

[2017-03-28 09:25] aljoriz commented on #1668
sorry for the late reply it sure did thank you.

On Tue, Mar 28, 2017 at 5:06 PM, bruno boutin <notifications@github.com>
wrote:

--
Aljoriz M. Dublin, Ed.D.
ORCID ID 0000-0002-8494-1232
University of the Visayas

*"Life is about making an impact, not making a profit"  *-Kevin Kruse

[2017-03-28 09:26] #1668 closed

[2017-03-28 12:41] EJWagenmakers opened #1702 "From Twitterverse: error in t-test?"
![image](https://cloud.githubusercontent.com/assets/8603015/24405194/4d3815cc-13c4-11e7-8207-5ba02d779906.png)

From the twitterverse. Was our error handling overly enthusiastic? Here the user wants to run multiple t-tests, but the error message states that there are more than two levels. This is a key analysis so would be good to fix.
@TimKDJ

E.J.

[2017-03-28 12:42] EJWagenmakers commented on #1702
@TimKDJ
To clarify the figure: above is the analysis in the latest release (the error message); below is the same analysis in the previous release (no error message).

[2017-03-28 13:04] TimKDJ commented on #1702
@EJWagenmakers without seeing the dataset I'm not sure what is happening.
My guess is that it's the same problem mentioned here: issue #1683
NA was seen as an unique level, I've fixed this and it should be included in the latest hotfix patch.

[2017-03-29 00:07] mjkofler commented on #1702
This was my report via twitter. Can confirm that it seems to be related to missing data in my grouping variable. Analyses ran as expected after filling in 1 missing case in grouping variable.

Version 0.8.1.1 downloaded from jasp-stats website gives different error message than screenshot above. (screenshot attached)

[as an aside ... I'm loving JASP - Thanks for letting me let me SPSS license exp

[2017-03-29 08:04] TimKDJ commented on #1702
Hi @mjkofler

Glad you like JASP!

Would you be so kind as to attach the dataset or JASP file?
Alternatively you may send it to t.dejong3 at uva dot nl

Cheers,
Tim

[2017-03-29 10:30] #1698 closed

[2017-03-29 11:49] mih commented on #1511
I tried to replicate the problem on a freshly bootstrapped Ubuntu 16.04 with the current 0.8.1 jasp Debian package from NeuroDebian installed. I can run analyses without any problem (minus known ones listed in #1471).

I suspect that the reported problem is the result of some custom R configuration. This is possibly related to the fact that JASP from the PPA was already installed and the two packa

[2017-03-29 13:18] boutinb commented on #933
If this error still occurs, reopen this issue

[2017-03-29 13:18] #933 closed

[2017-03-29 13:19] boutinb commented on #947
If this error still occurs, reopen this issue.

[2017-03-29 13:19] #947 closed

[2017-03-29 13:19] boutinb commented on #1023
If this error still occurs, reopen this issue.

[2017-03-29 13:19] #1023 closed

[2017-03-29 13:19] boutinb commented on #1030
If this error still occurs, reopen this issue.

[2017-03-29 13:19] #1030 closed

[2017-03-29 13:19] boutinb commented on #1037
If this error still occurs, reopen this issue.

[2017-03-29 13:19] #1037 closed

[2017-03-29 13:19] boutinb commented on #1080
If this error still occurs, reopen this issue.

[2017-03-29 13:19] #1080 closed

[2017-03-29 13:20] boutinb commented on #1122
If this error still occurs, reopen this issue.

[2017-03-29 13:20] #1122 closed

[2017-03-29 13:20] boutinb commented on #1161
If this error still occurs, reopen this issue.

[2017-03-29 13:20] #1161 closed

[2017-03-29 13:20] boutinb commented on #1197
If this error still occurs, reopen this issue.

[2017-03-29 13:20] #1197 closed

[2017-03-29 16:26] smathot commented on #1511
That's correct. The problem occurred when the JASP package from the PPA was replaced by the one from NeuroDebian, which at that time had a more recent version.

[2017-03-29 18:47] mjkofler commented on #1702
Sent via email!

[2017-03-30 04:01] cjkoch opened #1703 "Power Analysis"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis: Graphing with CI or SE and effect sizes are important but it might also be helpful to include power analysis to support hypothesis tests.

[2017-03-30 06:49] Sciurus365 opened #1704 "Please add Chinese support in your next version"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 7
* Analysis:
I found that JASP can not open any files with name or path including Chinese words.
The figures generated by JASP can not show Chinese words, either.
I really like this software, but some of my works are required to be reported in Chinese, so I can't use JASP to analysis these data. Could you please add

[2017-03-30 06:54] SCgeeker commented on #1704
Hi, be sure your Chinese words are encoded in utf-8. You could check my files for teaching.

https://osf.io/x4h7d/

[2017-03-30 11:09] Sciurus365 commented on #1704
I've checked my file and it is encoded in uft-8. And I tried again with your file. The words are displayed correctly in the **charts**, but Chinese words are still not able to be shown in the **plots** (see the picture attached. Could you please check it?

[2017-03-30 11:19] TimKDJ commented on #1702
Alright, so the problem was again related to missing values in the predictor.
I have added a fix for this and a t-test on your dataset now runs fine.

If you want to perform a t-test before this fix is put in the release version you should manually remove the missing levels in ADHD_YN (listwise).

Thank you very much for reporting this to us @mjkofler

[2017-03-30 12:49] TimKDJ opened #1708 "Changing type of variable already in analysis"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 10
* Analysis: None. It's a problem with the UI.

If the type of a variable is changed after it was included in an analysis (and it is changed to something that is not allowed) it will turn grey and cannot be removed anymore. However, it still impacts the analysis.

Steps to reproduce:
1) Open the debug dataset under

[2017-03-31 08:07] boutinb commented on #1672
My commit fixed something else...

[2017-03-31 11:53] #1702 closed

[2017-04-02 12:01] nronaldvdberg opened #1711 "Cannot re-add model component (bug?)"
## Environment (for bugs)

* JASP version: 0.8.1.1.
* OS name and version: Windows 10
* Analysis:
When i do a two-way ANOVA, open the "Model" tab, and then remove the interaction term from the model, it cannot be re-added. I guess this is a bug. See video for a demonstration of what i mean.
[Jasp_bug.zip](https://github.com/jasp-stats/jasp-desktop/files/888344/Jasp_bug.zip)

[2017-04-04 14:58] UppsalaCognitionLab commented on #1711
Well, the interaction term appears as a component in the right-hand text box. To me, it would be most natural that after i click the "left-ward" triangle button, the term moves from right-hand box to the left-hand box, consistent with what usually happens when pressing that button? It's no big deal to me, as i will never need this functionality, but it just felt a bit odd that something disappears

[2017-04-04 16:31] ttome2016 opened #1713 "Problems installing JASP 0.8.1.1."
Folks, I'm sorry if this is not the best place to post this, but I'm feeling lost - I tried to install the latest version on one of my computers (running on 64 bit win 8.1). The process got completed, but when I tried to open JASP, it behaved as if no files had been installed (for instance, it would not recognize JASP's icon and associate it with the .exe file).

So, I proceeded to try and uninsta

[2017-04-05 06:47] FransMeerhoff commented on #1713
Hi @ttome2016

I do not know exactly what's going on on your system but in advance we could try the following to solve your problem.  We ship for Windows JASP version als a preinstalled version that you might try.

1. You can find it on http://static.jasp-stats.org/JASP-0.8.1.1-64-bit.zip
2. Download it and unzip the file at some location.
3. Start JASP.exe from double clicking in in the unpacked

[2017-04-05 12:01] ttome2016 commented on #1713
Frans, many many thanks! This works perfectly and it is also a perfect solution for when you are not allowed to install software, given that it can be used right out of a flash drive! I would like to add that the regular installation method for 0.8.1.1 worked perfectly on my other machine (running on win 10 64 bit), so this is just an issue regarding my win 8.1 machine (well, I was considering the

[2017-04-05 12:08] EJWagenmakers commented on #1713
Frans, maybe we can advertise this option more prominently on the download
page?

On Apr 5, 2017 08:47, "FransMeerhoff" <notifications@github.com> wrote:

[2017-04-05 12:11] dschmuecker opened #1714 "Feature Request: Weighting (for Descriptives)"
Probably simple to implement and helpful for those who work with weighted data: Weight by weighting variable for descriptive output (specifically Descriptive Statistics and Frequencies).

[2017-04-05 19:10] baltzis opened #1715 "Jasp crashes for no apparent reason"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 10 64-bit
* Analysis: After working normally on a file imported from SPSS and making regular saves I closed JASP. After some time, when trying to re-open the same .jasp file the application crashes for no apparent reason. I then repeated the import, re-run the same (descriptive) analysis of the data, save and close J

[2017-04-06 06:59] FransMeerhoff commented on #1713
Hi @ttome2016

Nice to hear this solution works, and thanks for your enthusiasm about JASP.

About your suggestion:
The portable versions of  JASP are already available on our download site.
As EJWagenmakers also suggested, we should advertise this option more prominently.
But for now, if you go the download page of JASP you will find at the bottom of this page
an option:
'Advanced downloads' Ther

[2017-04-06 06:59] #1713 closed

[2017-04-06 07:06] FransMeerhoff commented on #1715
Hello @baltzis

Could you please send us the original file imported from SPSS and the JASP file that cause JASP to crash. If you add these files to one zip file you can add the zipped file to this issue.

Cheers
Frans Meerhoff

[2017-04-06 07:27] baltzis commented on #1715
Dear Frans,
I'm afraid I cannot, at least for the moment, because I saved a new .jasp file over the old one by mistake and today I have to use the SPSS only for I can't find how to produce multiple response sets in JASP. I will do so, however, as soon as the problem reappears.

By the way, shouldn' t JASP re-read a changed SPSS file and import any new variables after synchronization?

Regards
Alex

[2017-04-06 07:40] boutinb commented on #1715
@baltzis If you start JASP from .sav file, and you change the sav file via SPSS, JASP should reload automatically the new data (and reprocess the analyses you made in JASP).
If you have again the same problem, please send us the sav and jasp files. You can then reopen this issue.

[2017-04-06 07:40] #1715 closed

[2017-04-06 09:01] boutinb commented on #1711
The problem is that if you have a lot of factors, and the list may grow exponentially. That's why the list on the left side is called Components: only the factors are here listed. I'll add a tooltip to make it clearer how to make interaction. We will also update the Help.

[2017-04-06 09:01] #1711 closed

[2017-04-06 09:13] baltzis commented on #1715
I am not sure what you mean by starting JASP from .sav file. Shouldn't I load the .jasp file that contains the analyses?

[2017-04-06 10:06] boutinb commented on #1715
I mean to open the sav file from JASP. Then JASP is automatically synchronized with this sav file: all analyses you will make in JASP are automatically updated with the new data, if you change the data is SPSS.
If you have a JASP file with already your analyses, check in File/Sync Data/Current with which data file it is synchronized. If it is not synchronized with the right .sav file, you can stil

[2017-04-06 10:42] baltzis commented on #1715
Thanks

[2017-04-06 13:04] ianhussey opened #1718 "Include credibility intervals in descriptives"
## Environment (for enhancement requests)

* Enhancement: Include credibility intervals in the descriptives for all BF tests
* Purpose: Graphs for BF tests include credibility intervals, but exact values for these are not included in the descriptive tables. Would it be possible to include them in a future release?

[2017-04-06 13:32] EJWagenmakers commented on #1718
Great idea. @AlexanderLyNL, who will we assign to this? Maybe drop by to discuss.

[2017-04-06 14:23] TimKDJ commented on #1718
I added this in the Bayesian t-tests already (see also issue #1359).
If a plot is specified with a xx% credible interval, this interval is added to the descriptives tables.
If no plots are specified the bounds are not given in the table.
I guess this behaviour is not very intuitive though and the interval bounds in the tables should not dependent on the descriptives plot, but on its own button.

V

[2017-04-06 14:46] EJWagenmakers commented on #1718
@TimKDJ

There are two kinds of CIs. There are the ones that are shown under "descriptives"; these are based on flat priors, and they are CIs on the means. Then there are the CIs on the parameter that is tested. For the t-test, this is the CI on effect size $\delta$. This CI is *not* based on a flat prior, and it is now reported only in the plot. This CI (for the parameter of interest) ought to be

[2017-04-06 15:18] TimKDJ commented on #1718
Ah, right. I automatically linked OP's mention of descriptives to the descriptives plot.

[2017-04-06 19:37] baltzis commented on #1715
Hello, again! Well, after conducting a series of analyses, saved several times, closed and re-opened the file it seemed that there was no problem. Then, I had to do some other work and left it alone. After about six hours I tried to open the file and continue the analyses, but JASP keeps crashing. Interestingly enough, the file can be seen in OSF without a problem. When downloading the same file f

[2017-04-06 22:21] baltzis opened #1719 "JASP cannot handle non-English systems"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 10 64-bit (Greek)
* Analysis: Probably JASP cannot work in OS that is not in English not only because it cannot read path names with non-ASCII characters, but also because even if the files are stored in paths with names in plain ASCII, then there is always the incapability of handling paths to user profiles that may

[2017-04-07 11:05] boutinb commented on #1715
@baltzis Can you give also the sav file?

[2017-04-07 11:48] boutinb commented on #1294
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:48] #1294 closed

[2017-04-07 11:49] boutinb commented on #1301
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:49] #1301 closed

[2017-04-07 11:49] boutinb commented on #1303
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:49] #1303 closed

[2017-04-07 11:50] boutinb commented on #1353
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:50] #1353 closed

[2017-04-07 11:51] boutinb commented on #1354
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:51] #1354 closed

[2017-04-07 11:51] boutinb commented on #1389
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:51] #1389 closed

[2017-04-07 11:53] boutinb commented on #1320
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:53] #1320 closed

[2017-04-07 11:53] boutinb commented on #1390
If this problem comes up again with the newest version of JASP, reopen this issue.

[2017-04-07 11:53] #1390 closed

[2017-04-07 14:59] aknight1-uva commented on #1695
I can reproduce this in Windows 10 (Enterprise, English) using Greek letters in file name.
However the QT Creator required for Windows builds won't run in Win 10 (it GPF's on start-up), even after running qtbinpatcher,exe.

[2017-04-07 15:00] aknight1-uva commented on #1704
Duplicate issue #1695

[2017-04-07 15:01] aknight1-uva commented on #1719
Duplicate #1695

[2017-04-07 17:23] joucoski opened #1720 "box plot error"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Ubuntu 16.04
* Analysis: Box Plot error

This analysis terminated unexpectedly.

Error: Unknown parameters: stat_params

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback)

.descriptivesSplitPlots(dataset, options, run, last.splitPlots)

ggplot2::stat_boxplot(geom = 'errorbar'

[2017-04-08 07:04] baltzis commented on #1715
Sorry for the delay. Here is the file.
[jasp-working.zip](https://github.com/jasp-stats/jasp-desktop/files/907287/jasp-working.zip)

[2017-04-09 10:49] baltzis commented on #1715
Hello, again. I don't know if some more information might be of any help to cope with the crash issue. It seems that JASP has its own mysterious ways: today it opened the file in question without a problem. I should emphasize, however, that before retrying to open it, I had my computer cleaned up with CCleaner, cleared the system temp directory, and used the CCleaner registry cleaner as well. It a

[2017-04-10 09:10] boutinb commented on #1543
@cehartwright OSF has solved the second problem.

[2017-04-10 09:10] #1543 closed

[2017-04-10 11:20] buraczku opened #1721 "Variable names/labels imported from SPSS"
Hi

I have been working on a dataset that was created in SPSS (.sav). Until now the labels in SPSS appeared as the variable names in JASP, but now variable names in SPSS appear as names in JASP.

When I open the .jasp files I saved earlier, SPSS labels are loaded as variable names for the same dataset. If I open the dataset with JASP, SPSS variable names appear.

Did I alter a setting about it wit

[2017-04-10 11:32] buraczku opened #1722 "extra zero in RMSEA values in factor analysis"
Hi

I was wondering whether the RMSEA values I receive are incorrect due to an additional zero decimal.

For example, I receive the RMSEA value of 0.007, 90%CI [0.007 - 0.091]. I introduce a new variable (only 1) to the model and the new RMSEA is 0.079, 90% CI [0.071 - 0.083]

I suspect that the extra zero decimal in the first value is a bug.

Thank you for your contributions to the software.

* J

[2017-04-10 12:19] ttome2016 commented on #1713
Thanks for the heads up, Frans!

[2017-04-11 07:37] boutinb commented on #1720
@joucoski JASP works currently with R 3.1 and ggplot2 version 1.0.0. Can you check which version you have? I think this error comes from a newer version of ggplot2. We will release soon a version that supports R 3.3 and ggplot2 2.2.1.

[2017-04-11 19:14] lindeloev opened #1724 "Enhancement: transform of dependent variable in regression"
A small and simple enhancement would be the option to transform the dependent variable in regression. This could be implemented as a checkbox for log-transformation or a drop-down menu if multiple transforms are offered (e.g. log and rank).

It is possible to do this by editing the data externally, but it's a bit cumbersome and therefore not good for teaching. I don't my students to get stuck with

[2017-04-11 19:40] lindeloev commented on #1103
I just want to push for this feature too - it would more or less make JASP complete for my teaching purposes.

Usually, with GLMMs, I test relatively complex models so the default JASP full takedown of all combinations of terms in the model would be very cluttered. Instead, if one or several particular models of interest could be specified explicitly, just those could be compared, also minimizing

[2017-04-11 19:53] lindeloev opened #1725 "Enhancement: Show parameter estimates and intervals in Bayesian regression"
Currently, the Bayesian regression only displays Bayes Factors. To really understand the model(s), I'd like to see the parameter estimates and their credible intervals. In a way, this is simply an extension of #1718 to Bayesian regression. The `BayesFactor` package supports this.

A few more ideas that I just want to drop here, but which are lower on the priority list:
 * A checkbox for prediction

[2017-04-11 20:46] EJWagenmakers commented on #1725
Great suggestions, we're on it!
EJ

On Apr 11, 2017 21:53, "Jonas Kristoffer Lindeløv" <notifications@github.com>
wrote:

[2017-04-12 05:38] BPaton commented on #1687
Thanks, finally had chance to get back to the machine. JASP will now not even load. I get a MSVC++ runtime error "This application has requested the Runtime to terminate it in an unusual way" (original wording). I then get a typical Windows mini dump dialog. I have saved the mini dump and associated files. The log.txt file is of course empty. The mini dump is 9 MB compressed so I have attached eve

[2017-04-12 07:04] BPaton commented on #1687
I can install and run JASP 0.8.1.1 and not get the MSVC run time errors but the analyses still fail to run.

[2017-04-12 11:18] vankesteren commented on #1133
This EJ's miserable laptop has the same

![image](https://cloud.githubusercontent.com/assets/11596858/24955125/7b9287ee-1f82-11e7-8677-ebc20d5096f8.png)

[2017-04-12 11:29] vankesteren commented on #1036
Hello Rink,

__for continuous variables:__
the bins chosen are 'arbitrary' , i.e. chosen through an algorithm that assigns optimal widths. This means that the frequency values also will be 'arbitrary': if the bin widths would change by using a different algorithm, the frequencies would also change. The y-axis, therefore, represents only exactly a _density_, which is why that is indicated there.

_

[2017-04-12 11:29] #1036 closed

[2017-04-12 11:41] vankesteren commented on #1518
No. For now it remains only in the split plots. A descriptives overhaul would be required for this which is why we implemented it like that as an intermediate solution. Per-analysis _data filtering_ is on our roadmap for the near future, which will (partially) solve this issue.

[2017-04-12 12:41] ttome2016 commented on #1518
That is unfortunate. As I've said earlier on this thread, my plan would be to have my introductory stats course based exclusively on JASP, but that is still not possible due to, mainly, two features lacking:

Split descriptives and histograms with the hability to define breakpoints for the categories.

I understand you guys do your best on this project, but I would like to underline its importance

[2017-04-12 12:53] EJWagenmakers commented on #1518
I agree that a descriptives overhaul might be needed, because plotting the
data is a key activity. If we allow the user to edit the plots as well,
then this would be great too. Definitely something to keep in mind when
we've finished our current set of priorities.
Cheers,
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
Univer

[2017-04-12 12:55] EJWagenmakers commented on #1518
Point taken, and this is something we'll consider doing soon. Of course, we
also need to add logistic regression, a chi-square test, etc :-) Enough
work for the next few years! But our team will be expanding a lot so we
will be able to add more functionality quickly.

Cheers,
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
Un

[2017-04-12 13:11] vankesteren commented on #1590
Thanks Jasper,

I just submitted a pull request (#1727) implementing the save image functionality. If everything goes well with testing, this will be implemented in the next release in a few weeks.

Have a nice day!

[2017-04-12 13:11] #1590 closed

[2017-04-12 13:12] boutinb commented on #1721
Hi,
We use now name in place of label for the column, since label can be much too long. There is now no concept of column label in JASP, so we cannot use name & label together.
Where would you like to use column label in JASP?

[2017-04-12 13:14] vankesteren commented on #1672
@SachaEpskamp would this be an easy fix?

[2017-04-12 14:06] boutinb commented on #1715
Hello @baltzis Probably the crash is due to synchronization problem. You may set the synchronization off (In the top-right menu, choose Preferences, unset 'Synchronize automatically on data file save'): this should prevent the crash.
I have just made some fixes for SPSS file synchronization. This will be in the release over 2 weeks. Hopefully, this solves also your problem.

[2017-04-12 14:21] baltzis opened #1729 "Sync Data execution failure"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Windows 10 (64bit), Windows 10 (32bit)
* SPSS 23.0.2 (64bit and 32bit
* Analysis:
a) When transferring or copying the .jasp file and its corresponding .sav file onto another computer, synchronization is lost. Instructing JASP to synchronize using the Sync Data option, has no effect whatsoever. In the new location JASP does n

[2017-04-12 15:22] baltzis commented on #1715
Thanks again for your quick response!

Regards

[2017-04-12 15:37] boutinb commented on #1729
This is solved in the next release.

[2017-04-12 19:41] baltzis commented on #1729
Thanks again!

A.

[2017-04-13 05:00] buraczku commented on #1721
Hi,

Thank you for your answer. I have the variable names short (eg A1), and labels more informative (eg income), so the output looked better with the labels. My main confusion is that the same dataset loads differently in the same computer. It is of course not a big deal, but a "show labels" option like in SPSS would be useful in some cases.

Thank you!

[2017-04-13 05:30] buraczku commented on #1152
Hi,

I have a similar question. I would like to use JASP to teach ANOVA in the classroom, but the marginal means table for the interaction is hard to interpret. It is specifically difficult to show what is compared with what. Is there a way to observe them as in the post-hoc comparisons table?

Thanks!

[2017-04-13 09:07] boutinb commented on #1152
@JohnnyDoorn Can you have a look to this question (with maybe Quentin)

[2017-04-13 09:26] boutinb commented on #1721
We might add this in a future release if more people wants this.

[2017-04-13 09:26] #1721 closed

[2017-04-13 09:39] boutinb commented on #1703
We should do that indeed. We set that in our roadmap.

[2017-04-13 09:46] EJWagenmakers commented on #1703
Power analyses are a little tricky. There is G* power and this program
already does a lot. Perhaps we can mimic and expand its functionality but
it would be a big job. As an aside, power is useful in the design stage,
not in the inference stage (unless you report p< alpha instead of the exact
p-value observed). See
http://www.ejwagenmakers.com/2015/WagenmakersEtAlAPowerFallacy2015.pdf

Cheers,
E.J

[2017-04-13 09:58] JohnnyDoorn commented on #1152
Hi,
If I'm not mistaken, the marginal means tables for the (RM) ANOVA in JASP show the means and standard errors per level (or combination of levels) of ANOVA factors. The T-statistic that is shown is computed as the mean divided by SE. These are not so much comparisons between levels (you can use the post-hoc tests for that), but are one-sample t-tests to test if the means differ significantly fr

[2017-04-13 10:11] ttome2016 commented on #1518
Well, chi square is already available, even if on a very simple iteration.
BTW, is Fisher exact test on your future planos?

Em 12/04/2017 9:55 da manhã, "EJWagenmakers" <notifications@github.com>
escreveu:

[2017-04-13 10:29] EJWagenmakers commented on #1518
Hmm yes, I'm not sure why that test is missing.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers.com
Book: bayesmodels.com
Stats: jasp-stats.org
Email: EJ.Wagenmakers@gma

[2017-04-13 12:36] buraczku commented on #1152
Thank you for your reply Johhny,

I was thinking about a traditional between-subjects anova. If I am not mistaken the posthoc option in JASP is only avilable for the main effects, not the interaction (to compare each cell with one another). This is also a tedious task in spss, one has to paste the analysis and modify the compare means line in the syntax to get these values.

Would you like me to p

[2017-04-16 13:33] JASPUser opened #1734 "Independent Samples T Test SE Difference Bug?"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Win 7 64 bit
* Analysis:
Testing for differences in Hair index against Diet type.  Hair.Ind against Diet
![image](https://cloud.githubusercontent.com/assets/27625429/25071508/47371e14-22fd-11e7-9ab1-99b2b456f422.png)
This should be easy to explain or fix: **SE Difference** is reported the same value for Student's and Welch's

[2017-04-18 10:17] boutinb commented on #1687
@BPaton I see in the dump that you use Saphos virus scanner. Can you switch it off before launching JASP?

[2017-04-18 10:19] BPaton commented on #1687
Hi @boutinb I can turn off Sophos but only on my own office machine on which I have admin privileges. I will not be able to turn it off on the machines in the computer lab in which I will be doing teaching (with JASP) in. Odd though as Sophos has been running the whole time, previously when it worked and now.

[2017-04-18 11:06] boutinb commented on #1687
If I understand well, JASP was working on your lab computer last year, and now by installing the new or even the old versions of JASP, it does not work. Even zipped version does not work. So I cannot think that it is a registry problem (you can still check it with regedit). And if the old versions of JASP were working, and not now anymore, it is not a problem in JASP self (at least not only). So t

[2017-04-18 11:10] BPaton commented on #1687
No problems, thanks for giving me some avenues to chase up. Will let you know what I find.

[2017-04-18 14:41] JohnnyDoorn commented on #1152
Hi,
Thanks again for your input! Do you mean the output I included below?
![margmeanstablejasp](https://cloud.githubusercontent.com/assets/15704203/25136133/694b57e2-2454-11e7-9ccc-420cc8c55ede.png)

If I understand correctly, you would like to do a posthoc test on the interactions, which at the moment is not yet possible in JASP, but it's on our todo list for future releases.
On the other hand, t

[2017-04-19 10:13] FransMeerhoff commented on #1202
Can't reproduce anymore.

[2017-04-19 10:13] #1202 closed

[2017-04-19 10:13] SvenHeim-UDE opened #1737 "Support for Ubuntu 17.04?"
Will you add support for Ubuntu 17.04 (Zesty) in the near future? Due to missing dependencies it is not installable.

[2017-04-19 10:19] FransMeerhoff commented on #1212
@vankesteren

You have the same problem.? Can you mention other option panels where this also occurs?

[2017-04-19 10:50] FransMeerhoff commented on #1624
Hi @awismer7

I was picking up this request, but now we do not really quite understand anymore what you ment with this request. I made a screen shot of what I tried: Switch variable from the options panel and try to reproduce that the dataset goes back to the beginning, but I couldn't. I tried this on 0.8.1.1 but I do not expect that this issue was accidentally solved. Could you explain it again?

[2017-04-19 12:05] AlexanderLyNL opened #1738 "Bayesian t-test tables June"
## Environment (for bugs)

* JASP version: 0.8.2.0
* OS name and version:
* Analysis: Bayesian t-tests
## Environment (for enhancement requests)

* Enhancement:
- Add statistics in Bayesian t-test tables: Column "t", column "df"
* Purpose:
- June

[2017-04-19 12:37] awismer7 commented on #1624
Hi Frans,

Thanks for looking into my request. The issue is one that comes into play
with large datasets when you have a large number of variables in the
options window (more than in your example). Anytime you are not at the top
of the option/variable window and you add or remove a variable say to the
dependent variable slot in the ANOVA analysis, it moves the variable window
back up toward the to

[2017-04-19 12:39] awismer7 commented on #1624
Also, I have been using 0.8.1.1 and the issue was not accidentally solved.

Thanks

On Wed, Apr 19, 2017 at 6:50 AM, FransMeerhoff <notifications@github.com>
wrote:

[2017-04-19 13:31] JohnnyDoorn commented on #1734
Hi,
Thanks a lot for pointing out this inconsistency. I have just fixed it and it will be in the new JASP release. One small question though - are you sure the Welch's Cohen's d should be 0.7646? I ran your bed bugs data (testing hair.ind ~ diet) through both the updated JASP and R (lsr package), and it gives me a Cohen's d of 0.695 (so different from Student's Cohen's d, but also from your calcul

[2017-04-20 06:14] buraczku commented on #1152
Yes, exactly what I meant. Thank you very much for your detailed response.

Looking forward to having this feature, I am sure it will be helpful to many who would like to teach using JASP.

All best,
Buraczku

[2017-04-20 06:15] JASPUser commented on #1734
Hi Johnny,

thanks.

No I am not sure how to calculate Cohen's d for Welch's.  I used the SPSS output and my HP 10bII+ calculator to check JASP:

[cid:f2969329-a07d-49cf-85e4-2e12c28a78eb]

and

 [cid:2ba797ce-ebf5-41ca-bac5-dc1a963700d9]

which is the formula I use for the Two independent samples Student's t.

I used the SPSS output, checking both forms of the formula above that use the observed

[2017-04-20 11:46] JohnnyDoorn commented on #1734
Hi Peter,
Thanks a lot for your elaborate response! I took a look at the effsize package, and saw that it indeed produces different results for effect sizes than the lsr package.
Here is the R-code I used to compare the two:
[code]
In summary, we have chosen to adapt the way Welch's Cohen's d is calculated in the lsr package (so indeed the Bonnett way, as explained in your CrossValidated link). I

[2017-04-22 20:26] baltzis opened #1742 "Multiple response sets"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Descriptive statistics for multiple response sets.
* Purpose: Many surveys include multiple response questions that need to be calculated. I think it would be very useful to include some enhancement at least for descriptive statistics for this type of data.

[2017-04-24 03:46] BPaton commented on #1687
Apologies for the run around it seems whatever issue it was preventing the operation has now been fixed, a number of group policy and Windows updates were recently applied and I am hoping that has fixed the issue. I still need to test it on a machine that I do not have admin rights on.

[2017-04-24 08:27] guidocor opened #1743 "Crash on Exploratory Factor Analysis"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Ubuntu 16.04
* Analysis: Exploratory Factor Analysis
## Environment (for enhancement requests)

Trying to perform an Exploratory Factor Analyisis it gives me an error:
"This analysis terminated unexpectedly.
Error in loadNamespace(name): there is no package called ‘psych’
Stack trace
analysis(dataset = NULL, options = option

[2017-04-24 14:34] JASPUser opened #1746 "Population Proportions in Summary Stats Module"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Provide a simple version of **Population Proportions tests and intervals for one and two independent samples** like prop.test (or binomial test) but where the user just enters the simple counts for x and n and the package computes a 1 or 2 sided test p-value and W

[2017-04-24 14:47] JASPUser opened #1747 "Prediction and Confidence intervals"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Simple linear regression Case Diagnostics (or similar) to provide confidence intervals and prediction intervals
![image](https://cloud.githubusercontent.com/assets/27625429/25342410/59cb6e38-294f-11e7-88d0-d172bb7ced99.png)
SPSS gives this under the Save (!) optio

[2017-04-24 15:27] EJWagenmakers commented on #1746
Right now we don't have the "counts" option that the contingency tables do
have. I think it would be sense to add this functionality.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: e

[2017-04-25 13:17] FransMeerhoff commented on #1747
Hi @quentingronau

Can you consider this issue

[2017-04-25 13:28] FransMeerhoff commented on #1743
Hello @guidocor

On Ubuntu we recommend for running JASP to execute the commands below.
(See https://jasp-stats.org/installation-guide/ Ubuntu part)
It seems that the last line of these commands is missing, because installing graph will also provide psych. Hope that installing the packages on the last line will solve your problem.

Kind regards
Frans Meerhoff

sudo add-apt-repository ppa:jasp-uva/

[2017-04-25 14:23] JASPUser opened #1749 "Develop a Simulation Module"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Develop a simulation module, perhaps drawing on what Excel's Data Analysis Random Number Generation does to do simple simulations of distributions with transformations of the random data and with plots.
eg It should be able to model questions like "If we toss 4 di

[2017-04-25 14:43] #1734 closed

[2017-04-26 08:28] FransMeerhoff commented on #1737
HI @SvenHeim-UDE

Yes we will. Definively when it becomes a LTS version.
Kind regards
Frans Meerhoff

[2017-04-26 08:37] FransMeerhoff commented on #1653
Hello @MigTBorges

A new release JASP 0.8.1.2 is coming soon.
The behaviour of the Engine in combination with RInside has changed in this version.

A prerelease version Is temporary available at https://static.jasp-stats.org/JASP-0.8.1.2-Setup.exe

Could you check if this version solves your problem?

Kind regards
Frans Meerhoff

[2017-04-26 08:41] MigTBorges commented on #1653
Hello @boutinb and @FransMeerhoff,

My apologies for not trying out the debug solution yet. I'll be out of office for some days but I'll check back on this issue in early May and report back on the results.

Best,
Miguel

[2017-04-26 09:30] SvenHeim-UDE commented on #1737
Ok, so this means no for the near future. Because the next scheduled LTS will be 18.04 that will be released in April next year. That's fine for me, I will leave at least one computer on 16.04 LTS.

[2017-04-26 09:48] FransMeerhoff commented on #1737
Sorry @SvenHeim-UDE

I think I was unclear about this.
I wanted to say that  LTS versions  are always supported, but meanwhile we try to support other new versions of Ubuntu too.

[2017-04-26 09:52] SvenHeim-UDE commented on #1737
Alright, thanks for the clarification. :-)

[2017-04-26 11:05] vankesteren commented on #1742
Hi Baltzis,

Thanks for your suggestion! Could you provide an example dataset with such multiple response sets, and an example of what type of descriptives you would like to see? Then we can judge what preference to give to this enhancement request 👍

Erik-Jan

[2017-04-26 21:35] baltzis commented on #1742
Thank you for considering the suggestion. Actually, this is a common type of measurement in social sciences and I am providing an example in the attached file as well as the output from SPSS extracted using the menu "Analyze/Multiple response" and/or the menu "Analyze/Custom Tables" (after defining the multiple response sets):

In this example, a multiple response set measures a range of activitie

[2017-05-01 06:32] annatemp opened #1752 "JASP will not sync with SPSS file"
## Environment (for bugs)

* JASP version: the one that came out in March 2017, is it 8.1 or 8.0.1?
* OS name and version: Mac OS X Sierra
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:
Hi everyone,
I've updated the SPSS file which I was using for my JASP file. A few weeks ago whenever I updated my file (e.g. added a new variable), these changes appeared in JASP w

[2017-05-01 09:10] boutinb commented on #1687
That's good news! Only thing is that we don't really know what exactly was going wrong... Tell me whether this problem does not occur with a not-admin user.

[2017-05-01 15:43] boutinb commented on #1752
Hi @annatemp, could you send us the SPSS en JASP file (in a zip file)?

[2017-05-02 07:54] FransMeerhoff commented on #1743
Hello @guidocor

That's odd, but thanks for helping us anyway.
Could you try the following to find out whats going on:

- Find location of the packages:
After installation of R its packages reside mostly in /usr/lib/R/library
New installed packages in /usr/local/lib/R/site-library
Could you check if the psych package is there by typing in a terminal
$ ls  /usr/local/lib/R/site-library/psych
This s

[2017-05-02 08:01] FransMeerhoff commented on #1678
Hello @cassandiey

Can you please inform us about the status of this issue?

Cheers Frans Meerhoff

[2017-05-03 11:14] boutinb opened #1756 "State issue with Bayesian Contingency Table"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: All
* Analysis: Bayesian Contingency Table

The state is sometimes deleted upon refreshing analysis, changing options. Sometimes, the whole resources temporary folder is even emptied, see attached screenshot. State is needed for saveImage as eps and tiff functionality.

To reproduce: load the attached test file (save it as j

[2017-05-03 14:57] vankesteren commented on #1742
Thank you for the example files! If I understand correctly, this enhancement request is generally about custom tables where input variables can be grouped, whether it is multiple choice questions or other grouped responses.

I will discuss with the team what the desired priority is for such functionality, which determines in which timeframe you can expect to see it in JASP.

Erik-Jan

[2017-05-03 18:10] baltzis commented on #1742
Thank you very much for your answer. You understand correctly.

Another aspect of the same problem is to get descriptives for **scores** of the items included in a scale (not just percent of answers). In the example attached you can see the data from an actual survey concerning a scale to measure the importance assigned by visual artists to a variety of their working conditions (Cronbach's Alpha =

[2017-05-03 18:35] baltzis commented on #1742
Sorry, my mistake. I forgot that score means and standard deviations for each item are produced by reliability analysis. However, to get sums, counts and percents, the suggested enhancement is needed.

Regards
Alexandros

[2017-05-03 18:51] EJWagenmakers commented on #1747
Or else @TimKDJ

[2017-05-03 19:19] AlexanderLyNL commented on #1747
Koen is already working on the credible intervals. I’ll ask him to fix this up.

[2017-05-03 19:33] quentingronau commented on #1747
Great, thanks a lot!
Quentin

2017-05-03 21:19 GMT+02:00 AlexanderLyNL <notifications@github.com>:

[2017-05-04 18:39] annatemp commented on #1752
Hi bruno I'm on a writing retreat with little internet access will do so when possible
anna
________________________________
Von: bruno boutin <notifications@github.com>
Gesendet: Montag, 1. Mai 2017 17:43:53
An: jasp-stats/jasp-desktop
Cc: TEMP Anna; Mention
Betreff: Re: [jasp-stats/jasp-desktop] JASP will not sync with SPSS file (#1752)

Hi @annatemp<https://github.com/annatemp>, could you send

[2017-05-07 10:36] EJWagenmakers opened #1761 "Typo in reliability analyses"
@vandenman (Don, I assume this is you)
Hi guys,

Under Reliability analysis we have the "McDonalds' \omega". However, the name of the progenitor is McDonald, without an s at the end. So it should be "McDonald's \omega" -- the apostrophe should immediately follow the "d". Can we fix this before we have our new release please? NOTE: it should also be fixed in the output.

Cheers,
E.J.

[2017-05-07 11:27] vandenman commented on #1761
Yes that's me! Good catch, will fix this tonight.

[2017-05-09 12:21] #1761 closed

[2017-05-09 18:41] SurpriseIce opened #1766 "False Descriptives in Bayesian t-Test"
## Environment (for bugs)
* JASP version: 0.8.0.1
* OS name and version: MAC OS Yosemite 10.10.5
* Analysis: Bayesian Independent Samples t-Test

Hey everyone,
at first, let me thank you for this great tool!
In my analyses, I came across some strange calculations: In the bayesian independent samples t-test, I had a look on the descriptives of my data. The considered variables are error rates rangi

[2017-05-10 07:53] vankesteren commented on #1672
@boutinb this issue has not been fixed yet, @vandenman referenced the wrong issue in the commit.

[2017-05-10 09:55] boutinb commented on #1766
@SurpriseIce There seems to have a problem when loading the data from SPSS. When I do this.it tells me that the columns x.. are nominal text column, it should be scale columns.
There is a workaround: just after loading the sav file, change the columns as scale columns by clicking the column icon. Then you can add your analysis.
I'll check further to understand why the columns are considered as str

[2017-05-10 10:30] boutinb commented on #1766
@SurpriseIce I see that in your SPSS file, the Measure of the columns are set to Nominal. That's why JASP reads them as nominal text.
What is strange in your JASP file, is that the columns are set as Nominal Integer values. I cannot reproduce this: if I read the data from JASP, is sets it as Nominal Text (you see the 3 balls with a kind of @ sign in it). Your JASP file shows the columns as Nominal

[2017-05-10 10:43] boutinb opened #1770 "Error in Descriptive correlation plot with really big and really small numbers."
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Mac Sierra
* Analysis: Descriptive
Load the debug dataset, select first contNarrow, then contWide. Click on Display correlation plot: 'This analysis terminated unexpectedly'
What strange is, if you select fist contWide, and then contNarrow, you don't get any error...

[2017-05-12 15:18] dansom opened #1774 "Feature Request Interrater Re"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-05-13 10:29] SurpriseIce commented on #1766
Well, I see. Thank you very much. Honestly, I don't know how this messed up. Maybe because I mixed up R and SPSS in my analysis and handled the file not thoughtful enough. However, now I can use JASP for my analysis that is a great help compared to bayesian analysis in R.
Thanks again!

[2017-05-13 10:29] #1766 closed

[2017-05-13 17:19] janderuiter opened #1775 "About dialog does not work in mac"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: MacOS 10.12.4 (Sierra)
* Analysis: N/A

The "About" dialog does nothing. It doesn't crash; it just doesn't do anything at all. I was hoping it would display the version number and the way to properly cite JASP.

## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-05-13 19:24] FransMeerhoff commented on #1775
Hello @janderuiter

Thanks from the info, we are aware of this problem. Fix will be in the next release.
But you can also reach the JASP release and download information, and other preferences,  from the option button on the right top go the main window. Its the button with the three bars.

Kind regards
Frans Meerhoff

[2017-05-13 21:55] janderuiter commented on #1775
Thanks Frans. It's not for me, but for my students, who all referred to
Love et al (2015) instead of JASP Team 2017 :-)

On Sat, May 13, 2017 at 3:24 PM, FransMeerhoff <notifications@github.com>
wrote:

[2017-05-14 09:48] FransMeerhoff commented on #1775
Ok I see..

A final remark then: Besides a citation in the about box you can also find a citation on the JASP site at
https://jasp-stats.org/faq/
There by the FAQ's is:  How do I cite JASP?
Here you can find how to cite JASP including a BibTex citation.

Cheers Frans

[2017-05-14 16:35] phehks commented on #1693
I have an issue exactly same as this. I noticed that the problem only occurs when I have more than 25 items for reliability analysis.

Please advise. Thank you.

![image](https://cloud.githubusercontent.com/assets/28689487/26035868/5ebfcdaa-3906-11e7-872b-e5f724746045.png)

[2017-05-14 17:49] vandenman commented on #1693
Hi, @phehks could you perhaps send us the .csv and .jasp files you use (in a zip format)? That way we can reproduce the error and see what exactly goes wrong. An initial guess is that this error is caused by missing values.  You could try to rerun the analysis without cases that contain missing values.

[2017-05-15 07:08] boutinb commented on #1774
@EJWagenmakers : Can you answer this question?

[2017-05-15 07:29] EJWagenmakers commented on #1774
Hi Daniel @JohnnyDoorn @vankesteren

Excellent suggestion. This should be relatively straightforward and we'll move this up on our to-do list.

Cheers,
E.J.

[2017-05-15 07:31] dansom commented on #1774
Great! Thanks for the quick replies and great support :-)

[2017-05-17 03:16] fatfaso opened #1776 "Feature Request re Factor Analysis"
## Environment (for bugs) - NO BUGS TO REPORT

* JASP version: 0.8.1.1
* OS name and version: OSX 10.12.4
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Inclusion of KMO and Bartlett's Test of Sphericity in Descriptives for Factor Analysis, Component Matrix
* Purpose: KMO and Bartlett's Test will allow researchers to test goodness of fit (better than just Chi-Square), and Co

[2017-05-17 03:18] fatfaso opened #1777 "Feature Request re Cluster Analysis (i.e. Component Analysis)"
## Environment (for bugs) NO BUGS TO REPORT

* JASP version: 0.8.1.1
* OS name and version: OSX 10.12.4
* Analysis:
## Environment (for enhancement requests)

* Enhancement: Request for Dendrogram
* Purpose: Easy way to visually determine the appropriate number of clusters to select.

[2017-05-19 08:03] susanneschweizer opened #1783 "Not a bug - but clarification: Why is there a discrepancy between JASP & SPSS for lin reg results"
## Environment (for bugs)

* JASP version: 0.8
* OS name and version: Windows 7
* Analysis:
## Environment (for enhancement requests)
Please ignore - resolved didn't manage to delete post - sorry!

* Enhancement: No
* Purpose: Clarification

[2017-05-20 14:05] AlexanderLyNL commented on #1783
Hi Susanne,

Thanks for your comment and great to know that everything is clear now. I'll close the thread for you.

Cheers,
Alexander

[2017-05-20 14:05] #1783 closed

[2017-05-20 14:08] AlexanderLyNL commented on #1776
Hi fatfaso,

Thanks for the suggestions. We'll give the factor analysis module much more love in our summer release. Could you please send us the JASP and the SPSS file so we can compare?

Cheers,
Alexander

[2017-05-20 14:17] AlexanderLyNL commented on #1749
Hi JASPUser,

Great suggestions, though, it's not high up on our priority list at the moment as we're focussing on other modules at the moment. We're happy to hear your suggestions regarding the user interface.

Cheers,
Alexander

[2017-05-23 09:56] #1756 closed

[2017-05-23 09:58] #1775 closed

[2017-05-23 12:50] janderuiter commented on #1775
Does closed mean "fixed"?

On Tue, May 23, 2017 at 5:58 AM, bruno boutin <notifications@github.com>
wrote:

[2017-05-23 14:08] boutinb commented on #1775
Yes. The new version (with this fix) will be officially release probably next monday

[2017-05-23 14:42] janderuiter commented on #1775
Cool! The new version with vector graphics for the plots? (Which I think is
the Holy Grail of graphics :-)

On Tue, May 23, 2017 at 10:08 AM, bruno boutin <notifications@github.com>
wrote:

[2017-05-23 15:24] boutinb commented on #1775
Yep!

From: janderuiter [mailto:notifications@github.com]
Sent: dinsdag 23 mei 2017 16:42
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: Boutin, Bruno <B.Boutin@uva.nl>; State change <state_change@noreply.github.com>
Subject: Re: [jasp-stats/jasp-desktop] About dialog does not work in mac (#1775)

Cool! The new version with vector graphics for the plots? (Which I think is
the Ho

[2017-05-23 15:25] janderuiter commented on #1775
YEEEHAAAA!

On Tue, May 23, 2017 at 11:24 AM, bruno boutin <notifications@github.com>
wrote:

[2017-05-25 16:15] JohnnyDoorn commented on #1399
Some people are still experiencing this issue - is the solution still to run JASP from the terminal?

[2017-05-25 16:16] AlexanderLyNL commented on #1399
Please post JASP and OS version number.

[2017-05-25 16:30] JohnnyDoorn commented on #1399
The issue is present for 2 people:
JASP 0.8.1.1
Sierra 10.12.3
OSX 10.9.5

So they're running different OS versions.. I tried to run it from the command line but still it didn't work sadly enough.

[2017-05-25 16:34] AlexanderLyNL commented on #1399
Try reinstalling xquartz first.

https://www.xquartz.org/

[2017-05-25 16:40] JohnnyDoorn commented on #1399
Yeah we tried that already, with the latest version of xquartz.

[2017-05-25 16:44] AlexanderLyNL commented on #1399
I'm not sure what to do now. As I can't reproduce this problem here. I'll ask Bruno once I'm back in Amsterdam. Please write down emails and we'll keep in contact.

[2017-05-25 17:57] jerhae1 commented on #1399
I was never able to get it working.  I've switched to jamovi, which seems to be operating correctly.
Thanks

Sent from my iPad

[2017-05-25 18:29] AlexanderLyNL commented on #1399
Hi Jerry,

It's a pity you've given up on it. We're getting to the bottom of this issue, as it seems to be reproduced by two other people. We hope that the fix also helps you out.

Cheers,
Alexander

[2017-05-25 19:23] EJWagenmakers commented on #1536
Can we increase the priority level for this request? (I suggest "high") Many people have data in long format and having to recode the formats manually is a drag.
E.J.

[2017-05-25 21:15] AlexanderLyNL commented on #1536
Sure, it would be good if we have some use cases that we can work with. I know who I can allocate this to.

[2017-05-28 19:18] NikitaKhromov-Borisov opened #1791 "JASP v. 0.8.1.1; Win 10; ANOVA; with large data set JASP is stalling. I cannot understand how to attach the file"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-05-28 19:29] NikitaKhromov-Borisov commented on #1791
JASP v. 0.8.1.1; Win 10; ANOVA
I have large data set and JASP is stalled with Post Hoc Tests
![anova](https://cloud.githubusercontent.com/assets/16406847/26531597/da6a0b70-43f4-11e7-8382-3185087daae6.jpg)
[JASP_NK.xlsx](https://github.com/jasp-stats/jasp-desktop/files/1034451/JASP_NK.xlsx)

[2017-05-29 19:40] meirsendik opened #1792 "Hebrew support"
## Environment (for bugs)
<When I use the software and type in Hebrew, it supports the language in descriptives and frequencies but in plots, it displays gibberish characters and not Hebrew. Can that be fixed?->
* JASP version: 0.8.1.1
* OS name and version: Windows 10
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-05-30 18:02] DenisFouc opened #1795 "Error with graphics"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: El Capitan 10.11.6
* Analysis: ANOVA then Descriptive Plots

## Environment (for enhancement requests)

* Enhancement:
* Purpose:

This analysis terminated unexpectedly.

Error in grid.Call(L_textBounds, as.graphicsAnnot(x$label), x$x, x$y, : extr'emit'es de polygone non trouv'es

Stack trace
preDrawDetails.gTableParent(x)

[2017-05-31 12:43] TimKDJ commented on #1791
Hi @NikitaKhromov-Borisov,

I did some quick descriptives and it appears that your factor has 105 levels.
This totals to 105 choose 2 = 5460 pairwise comparisons.
So if this post-hoc analysis did work, you'd end up with a table containing 5460 rows...
I'm not sure how interpretable that would be.

The R package we use in JASP apparently sets a limit at 1000 comparisons (or 45 levels).
I had a look

[2017-05-31 13:21] NikitaKhromov-Borisov commented on #1791
Dear Tim,

thank you, I will wait the improvements.
Several times I tried to unsinst your collegues to report the actual values
of p-values, not inequality like <0.0001. It's extremly important at least
for their combining and checking their distribution. JASP reports all BFs
as actual values, so p-value should be reported in the same manner. BTW,
please, let JASP presents all thre BFs (BF01, BF10

[2017-06-01 07:12] vandenman commented on #1795
Thanks for the report! Could you perhaps send a .zip file with either a .csv of a .jasp file so we can reproduce the error?

[2017-06-01 09:15] isakohrlund opened #1796 "Confidence intervals missing in descriptives plot (RM ANOVA)"
When running a repeated measures ANOVA, descriptive plots sometimes lack confidence/credible intervals. I found the issue when I ran the RM ANOVA with 1 repeated measures factor (2 levels) and 2 between subject factors (2 levels + 4 levels).

This is the plot missing confidence intervals:
![image](https://cloud.githubusercontent.com/assets/1136649/26672939/58f9a43c-46bb-11e7-9074-f04dc7e151e0.png)

[2017-06-01 12:26] lynnalk opened #1797 "Program reads "analysis terminated unexpectedly""
## Environment (for bugs)

* JASP version: 0.7.5.6
* OS name and version: Yosemite, version 10.10.5
* Analysis: Correlation Matrix
## Environment (for enhancement requests)

* Enhancement: program won't recognize certain data in simple correlation matrices-- says "unknown error"
* Purpose:

<img width="645" alt="screen shot 2017-05-31 at 11 27 28 am" src="https://cloud.githubusercontent.com/assets

[2017-06-02 13:11] TimKDJ commented on #1797
Hi @lynnalk,

It appears that you are using a rather old version of JASP.
The issue you're experiencing is quite possibly already fixed in a more recent version.
Could you install the latest version from [our website](https://jasp-stats.org/download/) and see if the problem persists? If so, could you give us steps to reproduce the problem?

Thanks!

[2017-06-02 13:43] TimKDJ commented on #1796
Hi @isakohrlund,

Thanks for bringing this to our attention!
I played around a little in JASP, but unfortunately (fortunately?) I was unable to make the confidence intervals disappear.

\*Just to be sure\* did you place a checkmark in the checkbox under "Display"?
It's titled "Error bars displaying" and must be checked in addition to the radiobuttons.
If this box is not checked no intervals are sh

[2017-06-02 18:14] DenisFouc commented on #1795
OK…
I have just installed the (superb !) Jasp, and I have tried to run the example. My error occurs with the example file « Tooth… ». Note that all works perfectly on my laptop or on another Apple machine.
I can also say that this kind of errors occur also in almost all the analysis, when I try to draw the plots. For example, in “descriptive statistics”, with the BIG 5 file, the “Display distribut

[2017-06-05 08:31] spacek123 opened #1799 "Contingency table with non-standard characters in value labels (SPSS file)"
I'm using SPSS file with variables that uses some value labels with non-standard characters (non-latin-1 sets, or '¦' etc.). Descriptive frequencies are working as expected but Contingency table analysis results in strange behaviour: these variables are working when set in Rows but return missing cells (.) when set in Columns.

example:
![image](https://cloud.githubusercontent.com/assets/25134207/

[2017-06-05 11:53] hvidaldossantos commented on #1184
Ciao all,
As some journals require exact p values for publication, not having the option to get exact p values in tables or at least access this information otherwise, turns out to be a deal breaker.
I would be happy to contribute to this, but I'm new to JASP and I don't know how the program is structured. In particular I don't know where to find the code that creates tables.
Thanks

[2017-06-05 14:22] EJWagenmakers commented on #1184
@AlexanderLyNL @TimKDJ  @vankesteren
Thanks for the feedback. We hope to address this soon.

[2017-06-05 16:30] baltzis commented on #1695
The new version 8.1.2 keeps having the same trouble, but not only with non-ASCII characters in the path name. For some reason, even in a path with only ASCII characters in the path name, I get the following message:
Unable to open file
No header found in .SAV file.

Very annoying, because I would like to use JASP for teaching.

[2017-06-05 16:37] baltzis commented on #1695
Interestingly enough, when this problem appears with one file once, JASP seems to have problem with any file in the same directory. While at first it opened for e.g. file A, after encountering problem with file B, it does no longer open file A, not any other file in the same directory.

[2017-06-05 17:06] baltzis commented on #1695
Another interesting detail: the same file can be opened on my 64bit desktop, but on my 32bit laptop. The two computers are connected on a home network. The desktop 64bit computer cannot open the same file from the 32bit laptop when read through the network. The same message appears:
Unable to open file
No header found in .SAV file.

I am not sure whether this additional information helps. I hope i

[2017-06-05 17:09] patwms commented on #1687
I have the same set-up as Bryan (Windows 7 Enterprise 64 bit) and I'm having the same problem. I just downloaded 0.8.1.2 and everything seems to work until I click OK to run an analysis, then nothing. Also like Bryan, I've had earlier versions on this machine and they also wouldn't work.

Have you learned anything more since his problem resolved itself?

Would it help for me to run a debug version

[2017-06-06 02:57] R180 opened #1800 "ANOVA plot does not save as a Windows-readable png or eps file"
ANOVA plot does not save as a Windows-readable png or eps file. JASP 0.8.1.2 Windows 7.
![image](https://cloud.githubusercontent.com/assets/16230091/26811821/2173af50-4a42-11e7-8950-6cf58c84875b.png)

## Environment (for bugs)

[2017-06-06 07:38] boutinb commented on #1799
Hi @spacek123
Can you send us the SPSS & JASP file you use (in a ZIP format)?
Thanks,
Bruno

[2017-06-06 07:48] boutinb commented on #1800
Hallo @R180,
I am not completely sure if I understand the error. You save an image somewhere on your computer: can you see this file on the place you saved, with the name you gave? The error you give is about a shortcut, it is better to check directly with a WIndows Explorer if a new file has been created on the folder you selected.
Also, do you use a Windows 32 or 64 bit machine?

[2017-06-06 09:09] boutinb commented on #1795
Bonjour @DenisFouc
We cannot reproduce your problem, helas. Did you install XQuartz (and if you did some upgrade, did you re-install XQuartz)?
You have MacOS El Capitan. Is it an option for you to upgrade to Sierra?

[2017-06-06 12:43] R180 commented on #1800
What was happening [64 bit] is that the file would not appear in windows
explorer. But "search"ing for it would return a shortcut to the
non-existent file. Nor that I have re-started windows, after installing
JASP, it seems to work fine.

On 6/6/2017 3:48 AM, bruno boutin wrote:

[2017-06-06 13:19] AlexanderLyNL commented on #1800
Hi R180,

Great to see that the problem has resolved itself. I'm closing this issue now. If the problem returns, please open a new thread.

Kind regards,
Alexander

[2017-06-06 13:19] #1800 closed

[2017-06-06 14:57] #1184 closed

[2017-06-06 15:00] AlexanderLyNL commented on #1184
Just to clarify to the people following this thread. We now have implemented a global option that allows JASP to report the exact p-value. By default we report p<.001 (in accordance to APA guidelines), whenever the exact p-value is indeed smaller than .001. When the exact p-value option is turned on and the p-value is small, we now report its exact value in scientific notation. This feature will b

[2017-06-06 15:03] AlexanderLyNL commented on #1791
The exact p-value issue is a duplicate of #1802

[2017-06-06 15:13] vankesteren commented on #1184
Hi,

We just created a pull request for this. Look for the "display exact p-values" preference setting in the next release of JASP!

[gif](http://i.imgur.com/uQLNhCO.gifv)

Cheers.

[2017-06-06 16:45] NikitaKhromov-Borisov commented on #1791
Dear Alexander,
APA "standard" is non-scientific. Exact (real, actual) p-values are needed at least when solving the problem of multiple comparison. In this case testing the uniformity of the p-value distribution is required.
All BFs present the same information from the matematician point of view, however, from the user's point of view, BF=45.7 looks more vivid and interpretable, then 1/BF=0.021

[2017-06-06 16:53] AlexanderLyNL commented on #1791
Dear Nikita,

Thank you for your comments. We agree that exact p-values are more informative and JASP will be able to show these exact values in our next release.

Cheers,
Alexander

[2017-06-06 17:43] spacek123 commented on #1799
Hi Bruno,

here it is. Of course, these value labels are bit strange, but they illustrate the point.

Thanks,
Ondrej
[contingency-bug.zip](https://github.com/jasp-stats/jasp-desktop/files/1055948/contingency-bug.zip)

[2017-06-06 18:28] DenisFouc commented on #1795
Bonjour !
I have made an upgrade, on the same computer, to Sierra. Before that, I have uninstalled XQuartz and Jasp.
Then, in this order, I have reinstalled Xquartz and Jasp.
And then, run the ANOVA analysis on your file « Tooth growth »
But it isn’t better as you can see in the screen capture…

Denis

De : bruno boutin <notifications@github.com>
Répondre à : jasp-stats/jasp-desktop <reply@reply.g

[2017-06-07 07:52] isakohrlund commented on #1796
Hi,

Yes of course, I put a checkmark checkmark in the checkbox under "Display". Not sure whether it depends on the dataset, just noticed that it happened with the dataset I was working with. I'm sending you the file.

Best regards
Isak

[2017-06-07 11:41] TimKDJ commented on #1796
Cheers! I'll look into it.

[2017-06-07 12:28] TimKDJ commented on #1796
Alright so it appears that we do get intervals, they are just very narrow.
As an example, let's look at {Test year, 1, 4} which has the highest variance in your dataset.
The 95% confidence interval for this subgroup ranges from 3.52 to 3.61.
Consequently, as these bounds are so close to the means, the icons of the means confiscate the error bars.
When you set the confidence interval to 99% you'll

[2017-06-07 14:44] YamilVidal opened #1805 "Include effect size in Post Hoc Tests for ANOVAs"
Include effect size in Post Hoc Tests for ANOVAs.
The request is quite self explanatory.

Reporting effect sizes is (should be) more important than reporting p-values.

Thanks

[2017-06-08 08:01] isakohrlund commented on #1796
Really! OK, yes, that would be great. Or some warning text saying that the
intervals might not show if small enough.

Best regards
Isak

2017-06-07 14:28 GMT+02:00 Tim de Jong <notifications@github.com>:

[2017-06-08 08:08] #1796 closed

[2017-06-10 13:30] metamorphose42 opened #1807 "JASP crashes for mixed bayesian anova"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: macOS Sierra 10.12.4
* Analysis: Bayesian repeated measures ANOVA (mixed design)
## Environment (for enhancement requests)
Hi,
I'm trying to run a bayesian mixed design ANOVA (within:2x2x2 &between:x2x2). It works for just the within but when I add the between subject factors it doesn't compute (see screenshot for how I inpu

[2017-06-12 06:53] boutinb commented on #1807
Hi @metamorphose42, Can you send us the data & jasp file you use (in  a zip format)?

[2017-06-12 09:19] metamorphose42 commented on #1807
Of course, thanks so much! Attached here.
[Archive.zip](https://github.com/jasp-stats/jasp-desktop/files/1067625/Archive.zip)

[2017-06-12 13:22] lindeloev opened #1810 "Robustness plot differs from t-test to summary t-test"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Ubuntu 16.04

The robustness figure for summary t-test does not include points marking "wide" and "ultrawide" priors (see figure below). The classical t-test robustness figure does. Not a big issue, I just noticed the inconsistency. Worse, it implies duplicated underlying code?
![image](https://user-images.githubusercontent.

[2017-06-12 14:22] EJWagenmakers commented on #1810
@akashrajkn @quentingronau @AlexanderLyNL
Did you tick "additional info"? I agree that JASP Common and JASP SumStats are inconsistent wrt the robustness check. I actually prefer the SumStats version, with the additional information available upon demand. I hope we can upgrade the robustness checks in JASP Common in one of our upcoming new versions.
E.J.

[2017-06-12 16:01] akashrajkn commented on #1810
@EJWagenmakers I'll work on having the additional information available for all robustness plots.

[2017-06-12 19:52] noahmotion opened #1811 "Incorrect confidence interval for independent samples t-test"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: OS Sierra 10.12.5
* Analysis: independent samples t-test

I did an independent samples t-test, and got these results, wherein the lower CI limit is greater than the observed t-statistic (if I include the Mann-Whitney U test, I get an observed statistic much larger than the upper CI limit, too):

![screen shot 2017-06-12 at 3

[2017-06-12 22:23] prgmga opened #1812 "Unable to choose JASP as the default program to open .sav files"
I have been using jasp for several months now. I have been using it to teach a statistics course for Psychology. I have had it set up to automatically open .sav files (from our class website etc.) and have instructed students to set this up to make life easier for the class. I accidentally chose another program to automatically open .sav files today. Now I am unable to select JASP as the default p

[2017-06-13 06:22] aditya1315 commented on #1812
@prgmga on Mac, you can right click on any .sav file and choose "open with" -> "other.." -> enable "all applications" and change the default program to jasp.

You can also choose "get info" and change the default open with application.

[2017-06-13 08:15] boutinb commented on #1799
@AlexanderLyNL : The contingency table should compare the values of the table and not the labels. So even if the labels use non-standard characters, the comparison should still work. Can you have a look?

[2017-06-13 08:22] boutinb commented on #1812
@prgmga On windows, you can do this way: https://www.cnet.com/how-to/how-to-set-default-programs-in-windows-10/

[2017-06-13 08:46] boutinb commented on #1811
@noahmotion Can you send your dataset (in a zip file)?

[2017-06-13 08:52] EJWagenmakers commented on #1811
@AlexanderLyNL  @quentingronau
No need for that file. I think this refers to the same issue we discussed previously, namely that the CI is not on the statistic but on the raw difference in the means (right, guys?). Let's discuss how to fix this, because I agree it is confusing.
E.J.

[2017-06-13 10:25] lindeloev commented on #1810
@EJWagenmakers Yes, you are right that the extra info appears upon ticking "additional info", my bad. So yes, it's the presence of the "additional info" box and it's behavior which differs between summary- and data-t-test.

There's also a "max BF" in the summary, not present which in the t-test. I find that it almost encourages defining priors post-hoc. Maybe it's a honey trap? ;-)

[2017-06-13 10:35] lindeloev opened #1813 "Moving focus via keyboard is unpredictable"
## Environment (for bugs)

* JASP version: 8.1.1
* OS name and version: ubuntu 16.04

Set the marker in an analysis setting field, press the TAB key and watch the focus jump randomly around. It also eventually goes to the menus (again in a non-sequential order), before cycling back to the analysis settings.

Maybe it's order of implementation? Anyway, it would be nice detail if the focus shifted i

[2017-06-13 11:33] EJWagenmakers commented on #1810
@lindeloev The Max BF is there to show that the evidence doesn't get any better, even if you cherry-pick the prior. Maybe another example how any statistical method can be abused :-)

[2017-06-13 12:28] hvidaldossantos commented on #1184
Sorry to add this here in a closed tread, but this is very much related.
I noticed a similar problem with effect sizes. In particular with omega squared. When effect size is extremely small, JASP displays 0.000. Of course it can be inferred that the size is not zero, but a very small number. Would it be possible to display the exact effect size in scientific notation?

[2017-06-13 12:56] EJWagenmakers commented on #1184
I am not 100% sure whether this holds here, but I do know that in some cases, the frequentist estimate of effect size is exactly zero. This is sometimes done when the actual estimate is negative (and the effect size measure is a percentage). Not sure whether that's the case here though. Maybe @JohnnyDoorn knows

[2017-06-13 13:31] hvidaldossantos commented on #1184
Hi,
Omega^2 can range from -1 to 1 (is not a percentage). Negative values result when F < 1, which is the case in my analysis. Could it be that JASP is rounding to zero?

It might also be that is common practice to report zero when F is smaller than 1. According to Lakens, this might be the case, but reporting negative values might be better for future meta-analysis.

More here:
http://daniellaken

[2017-06-13 13:33] boutinb commented on #1807
@metamorphose42 We could reproduce this error. Hopefully we can solve this for the next release.

[2017-06-13 13:34] metamorphose42 commented on #1807
So for now I cant run it or is there a way around it?

Thanks!

[2017-06-13 13:49] noahmotion commented on #1811
I think it is that issue:

![screen shot 2017-06-13 at 9 46 16 am](https://user-images.githubusercontent.com/5066779/27085424-365aefb0-501d-11e7-8638-091ca53f91ff.png)

I'm happy to send the data file, if anyone wants it. And not that you necessarily want my input on this, but it seems like it could be useful to have either/both types of CI reported, depending on whether or not "Mean difference" i

[2017-06-13 14:12] EJWagenmakers commented on #1811
@AlexanderLyNL @JohnnyDoorn @quentingronau
We are having a meeting to discuss the options right now, so we'll go over your suggestions. We will address this issue soon. Thanks!

[2017-06-13 14:19] Kibria2017 opened #1814 "Feature request to analysis health data"
1. (a) non-linear, (b) ordinal, (c) conditional logistic regression and (d) multinomial logistic Regression
2. Poisson Regression including (a) negative binomial, (b) zero-inflated and (c) zero truncated Poisson regression
3. Survival Analyses - (a) log-rank test, (b) kaplan-meyer and (c) cox proportional hazard

Thanks

[2017-06-13 14:24] EJWagenmakers commented on #1814
All of these are excellent suggestions.
E.J.

[2017-06-14 04:21] akashrajkn commented on #1813
@lindeloev yes, the default tab order follows of the order of creation (of the widgets). I will fix this, thanks for pointing it out.

[2017-06-14 08:47] TimKDJ commented on #1807
The analysis you are trying to run would generate 7580 different models.
I had a look and this appears to cause a capacity problem:
`get_next_capacity, allocator's max_size reached`

You could perform a more targeted analysis by specifying terms you are not directly interested in as nuisance.
See also http://www.ejwagenmakers.com/inpress/RouderEtAlinpressANOVAPM.pdf (p. 24-26) for strategies for t

[2017-06-14 08:59] metamorphose42 commented on #1807
Thanks so much!

I thought of trimming, but to look at interactions only I still need to include the factors by themselves in the analysis, right?

I will think more and look forward to the next release, thanks so much for all your help and amazing work on JASP, it's truely appreciatd!

Best,
Clarisse

[2017-06-14 09:23] TimKDJ commented on #1807
Thank you for your kind words!

The factors do indeed need to be included, but...

(from the article I linked)

You can specify main effects as nuisance and still test their interaction.

[2017-06-14 09:30] metamorphose42 commented on #1807
Amazing, thanks so much for clarifying!

Best,
Clarisse

[2017-06-14 10:04] boutinb commented on #1687
@patwms Did you try the ZIP version (http://static.jasp-stats.org/JASP-0.8.1.2-64-bit.zip)?

[2017-06-14 13:29] patwms commented on #1687
My situation is even more like Bryan's than I reported earlier. His problem
seemed almost to "resolve itself." The same thing has happened here. This
is not the first time that JASP, various installations, has not worked for
a while and then, for no obvious reason, does work. I have to conclude that
the problem does not lie with JASP.

On Wed, Jun 14, 2017 at 5:04 AM, bruno boutin <notifications@g

[2017-06-14 13:33] AlexanderLyNL commented on #1687
Hi Pat,

Happy to hear that the problem resolved itself and thanks for informing us about this. As both users' problem resolved itself, I'll close this issue.

Cheers,
Alexander

[2017-06-14 13:33] #1687 closed

[2017-06-14 13:35] boutinb commented on #1687
@patwms Fine that it works again ! But if you have any hint whatsoever why JASP did not work, please tell me! This problem occurred few times, and it is quite frustrating not to be able to help.

[2017-06-14 15:52] juliandefreitas opened #1815 "Error with Bayesian Log Linear Regression in JASP"
JASP version: 0.8.1.1
OS name and version: macOS Sierra, version 10.12.5

Hello,

When I run bayesian log linear regression in JASP, I keep getting the error "leading minor of order [x] is not positive definite". I don't get this error when running the frequentist log linear regression. Any help would be appreciated.

Thanks,
Julian

[2017-06-14 16:34] DenisFouc commented on #1795
I know how difficult it can be to solve this kind of problem... I was also a developer in a past life…

The version 0.8.1.2 always send the same message of error.
I’ve tried the debug version, again the same. But I send you the content of the terminal window in the PDF attached file.

Don’t hesitate to ask me something else, if I can help, I’ll do it!

Thanks for all

Denis

De : bruno boutin <not

[2017-06-14 18:01] MayaEn opened #1816 "Runtime Error - JASP crashes"
## Environment (for bugs)

* JASP versions: 0.8.1.2-64-bit, 0.8.1.1-64-bit, 0.8.1.2
* OS name and version: Windows 8.1 64-bit
* Analysis: Sometimes happens when immediately opening file, sometime when requesting analysis, sometimes when scrolling down the list of variables to add a variable to an analysis. Happens with sav and csv files, as well as with the example files.
Hi,
This is the error I g

[2017-06-14 20:24] AlexanderLyNL commented on #1815
Dear Julian,

I've updated the Bayesian log linear regression in version 0.8.1.2. Could you please download the newest version

https://jasp-stats.org/download/

and let me know if the analysis now works?

Cheers,
Alexander

[2017-06-14 20:37] juliandefreitas commented on #1815
Dear Alexander,

Thanks a lot. I installed the latest version, but still get the same error: "R Package error: the leading minor of order 2 is not positive definite".

Thanks,
Julian

[2017-06-14 20:45] AlexanderLyNL commented on #1815
Dear Julian,

The R package that we use does some matrix manipulations to jump from one model to another. From what I gather, I suspect that you've got counts that are a bit sparsely distributed over your categories, which means that the matrix cannot be inverted. One trick that might work is to increase the number of samples. Go to the Advanced tab and click manual. These computations might take

[2017-06-16 02:00] juliandefreitas commented on #1815
Thanks, Alexander. I tried that, though now I get the error "R Package error: $ operator is invalid for atomic vectors" (even though the data I exported to a .csv was originally a data frame).

Thanks for the continued help,
Julian

[2017-06-16 08:52] AlexanderLyNL commented on #1815
Hi Julian,

Can you send me the jasp file? Then I can have a look at it.

Cheers,
Alexander

[2017-06-16 10:47] EJWagenmakers opened #1819 "Binomial Sequential Plot Does Not Offer "Save As" Functionality"
In contrast to the other plots, this one does not offer the "Save As" functionality so that it cannot be saved as eps. It is interesting that this happens only for this plot -- I checked some others and they do work. See screenshot.
@vankesteren
![binomialsequentialdoesnotsaveaseps](https://user-images.githubusercontent.com/8603015/27223703-ef40cf42-5291-11e7-961d-0b327e58ef48.png)

[2017-06-16 10:51] EJWagenmakers opened #1820 "Intrusion From B. Correlation Matrix to B. Correlation Pairs"
I first executed Bayesian correlation matrix, then switched to Bayesian correlation pairs. For some reason, the box "credible intervals" **intruded** in the panel for correlation pairs. I could even tick the box. See attach.

![matrixfirstthenpairs](https://user-images.githubusercontent.com/8603015/27223784-3da09230-5292-11e7-9aeb-4ff1b242e107.png)

[2017-06-16 11:12] AlexanderLyNL commented on #1820
I've implemented the credible intervals in the new issue. It should come up in the table. I agree that the placement is a bit off. We'll get into these issues after some backend upgrades.

<img width="1320" alt="screen shot 2017-06-16 at 13 09 35" src="https://user-images.githubusercontent.com/10271675/27224369-1a5f563c-5295-11e7-9934-7ae8fcf68268.png">

[2017-06-16 11:27] EJWagenmakers commented on #1820
Ah OK, my bad. My confusion was also due to the fact that the box does not display properly (no horizontal lines). But that's on my laptop, which has issues. We might want to double-check on another windows machine.

[2017-06-16 11:32] EJWagenmakers commented on #1820
By the way, it might be nice (and consistent with other intervals) to have users input the % they want for the credible interval.

[2017-06-16 14:15] AlexanderLyNL commented on #1820
Great idea, we'll include it into our next release.

[2017-06-16 18:34] juliandefreitas commented on #1815
Hi Alexander,

Here you go (attached). I'm predicting ts_forced_recode with the factors vignette_name, cond_name, and eth_cond_name.

Thanks,
Julian

[2017-06-18 10:37] akashrajkn commented on #1813
Fixed in Pull Request #1817

[2017-06-18 10:37] #1813 closed

[2017-06-19 08:08] boutinb commented on #1816
@MayaEn This is really strange... We have plenty of Windows users that run JASP without problem... Did you try to install the ZIP version (http://static.jasp-stats.org/JASP-0.8.1.2-64-bit.zip)?

[2017-06-19 08:10] boutinb commented on #1795
Hi @DenisFouc I did not receive the PDF file. Did you use the GitHub website to attach the file?

[2017-06-19 09:25] Goalie26 opened #1824 "repeated measures ANOVA -> analysis terminated unexpectedly"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Sierra 10.12.5
* Analysis: repeated measures ANOVA
![bug report jasp](https://user-images.githubusercontent.com/29537058/27278538-fb878c3a-54e1-11e7-8368-6b9eea8ce53e.jpeg)

## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-06-19 11:49] JohnnyDoorn commented on #1824
Hi,
Would you feel comfortable sharing your dataset with us? This way we can try to replicate your issue, because unfortunately the error message is not very informative. A dataset with only the three columns you specified in you RM ANOVA model would also work.
Thanks for your report!
Johnny

[2017-06-19 13:14] Goalie26 commented on #1824
Hi Johnny,

of course I am. Please find it attached.

Chris

[2017-06-19 14:37] JohnnyDoorn commented on #1824
Hi Chris,
I did not get the email with the notification, and I cant find your attachment here - would you mind sending it again? Or you can directly email me at j.b.vandoorn [at] uva.com
Kind regards,
Johnny

[2017-06-19 15:30] Goalie26 commented on #1824
Hey Johnny,
for whatever reason this does not work with the email you gave me either. ...and I know now why I did not work with my first try: file type is not supported ;-) as it is a .csv
Therefore, your getting it as a .zip, now.

[Auswertung.csv.zip](https://github.com/jasp-stats/jasp-desktop/files/1085481/Auswertung.csv.zip)

Kind regards, Chris

[2017-06-19 15:47] JohnnyDoorn commented on #1824
Hi Chris,
Thanks for sharing - I just tried to do what you were doing, and for me it was working fine - please see the attached .jasp file (in a zip file). My colleague tried the same and it worked for him too (he is on the same mac os as you are). What we did was specify the RM model with 1 factor with 3 levels (kommando). I see in the background of your screenshot that you added an interaction b

[2017-06-19 18:00] AlexanderLyNL commented on #1815
Hey Julian,

Unfortunately, I haven't found any attachment. Could you please send it to me as a zip file?

Cheers,
Alexander

[2017-06-19 21:32] adamism6 opened #1825 "error on JASP startup"
## Environment (for bugs)

* JASP version: 0.8.1.1
* OS name and version: Ubuntu 16.04.2
* Analysis: I installed jasp as follows at the command line:

[code]

Upon startup, I receive this message:
JASP has experienced an unexpected internal error.
""
If you could report your experiences to the JASP team that would be appreciated.
JASP cannot continue and will now close.

Any help is appreciated.

[2017-06-20 09:05] FransMeerhoff commented on #1825
Hi @adamism6

Could you please create some logfiles for and send them to us:
From a terminal type
$ JASP > logjasp.txt 2>&1
$ sudo lshw > sysinfo.txt
Please send us the created logjasp.txt and sysinfo.txt

Hope that this information can help us to solve this issue.

Kind regards
Frans Meerhoff

[2017-06-20 11:42] Goalie26 commented on #1824
Hi Johnny,
I have just checked. Now everything is working totally fine. I guess you are right: It was my mistake "wanting" an interaction between command and command...
Thank you for your help and keep up the great work. I have only started using JASP (recommended by a friend in psychology) and I simply love it! ... and the best is: my students do too.
Kind regards
Chris

[2017-06-20 13:36] #1824 closed

[2017-06-20 19:59] adamism6 commented on #1825
Hi Frans, sure thing. Files attached.

Best,
Adam

[sysinfo.txt](https://github.com/jasp-stats/jasp-desktop/files/1089523/sysinfo.txt)
[logjasp.txt](https://github.com/jasp-stats/jasp-desktop/files/1089522/logjasp.txt)

[2017-06-20 20:42] andyroberts1234 opened #1827 "Keep row names visible when scrolling large tables (e.g. correlation matrices)"
## Environment (for enhancement requests)

* Enhancement: When reading correlation matrices it is often hard to view the whole matrix in a single window. A useful feature would be to keep row names visible (i.e variable names/statistic used) when scrolling. This could work similar to the freeze panes option in excel (but not necessarily optional in JASP)
* Purpose: To improve readability of large

[2017-06-20 21:08] LolaJansen opened #1828 "Bayesian repeated measures anova - high BF10 but no visible effect in plot"
Hi,

I am running a bayesian repeated measures anova. The model with the highest BF10 includes an effect of a continuous variable R. If I plot the effect of this continuous variable R on my dependent variable with a scatterplot with a linear trend line, there seems to be no effect; the line is almost horizontal.
The BF10 of the model with only this continuous variable R is 0.359. The BFinclusion v

[2017-06-20 22:24] EJWagenmakers commented on #1828
Weird. I think we would need the data & jasp file to investigate more. Also, this might be an issue for the JASP forum more than the JASP GitHub pages...

[2017-06-20 23:57] jpw525 opened #1829 "Error in solve.default(r, result$Structure): Lapack routine dgesv: system is exactly singular: U[74,74] = 0 Stack trace"
## Environment (for bugs)

* JASP version:0.8.1.2
* OS name and version: macOS Sierra version 10.12.5
* Analysis: PCA

This analysis terminated unexpectedly.

Error in solve.default(r, result$Structure): Lapack routine dgesv: system is exactly singular: U[74,74] = 0

Stack trace

## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-06-21 09:27] FransMeerhoff commented on #1825
@adamism6

Hi Adam

Thanks for helping us.
In the logjasp file  I noticed that the cause of the problem is RInside  i.e the communication between JASP and R
(symbol lookup error: /usr/lib/JASP/JASPEngine: undefined symbol: _ZN7RInsideixERKNSt7)

Can you please find out which version of R you are using and if the package Rcpp is installed
e.g with
$R
$installed.packages()

Kind regards
Frans Meerho

[2017-06-21 10:18] AlexanderLyNL commented on #1819
Issue fixed with pull request #1821 and feature will be available in the next release

[2017-06-21 10:18] #1819 closed

[2017-06-21 16:52] MayaEn commented on #1816
Yes, and it crashes as well.

[2017-06-22 01:12] lisaharris opened #1830 "Error during reliability analysis"
* JASP version: 0.8.1.1
* OS name and version: Windows 10 pro
* Analysis: Reliability

This was the error message received: "**This analysis terminated unexpectedly.

Error in min(eigens$values): invalid 'type' (complex) of argument
Stack trace"**

I was running a reliability analysis on my data - and the error came up when selecting all the questions for analysis - and then I added one by one and

[2017-06-22 14:27] adamism6 commented on #1825
Hi Frans,

I see. I'm using R version 3.4.0, and Rcpp is listed (though not compiled?):

Rcpp           NA                    NA      NA     "yes"            "3.2.3"

Also, I'm not sure if this is relevant, but I recently upgraded Ubuntu from 14.04 to 16.04. Is it possible that upgrades to R were/weren't made that are creating problems?

Best,
AC

P.S. Tried sending this message by email-reply, bu

[2017-06-22 20:00] andyroberts1234 commented on #1038
Agree, bootstrapping and other non-parametrics would be great

[2017-06-23 13:59] pagoolka opened #1831 "no output"
## Environment (for bugs)
I am using a MacBook pro
* JASP version: 0.8.1.2
* OS name and version:OS Sierra 10.12.5.
* Analysis:
## Environment (for enhancement requests)
  Since the previous version of JASP stopped working, I just downloaded this new version and I opened a data set and set-up a repeated measures anova but when I clicked ok, there was no output.  No matter which statistical test I

[2017-06-24 13:20] stefanroettger opened #1832 "Feature Request: Multivariate Analysis of Variance (MANOVA)"
Dear JASP developers,

first of all thanks for your excellent work, I was thrilled when I discovered JASP and I think it has a good chance to become the standard of statistical computing in social sciences over the next couple of years.

I would like to suggest the multivariate analysis of variance (MANOVA) for implementation in one of the upcoming versions.
As far as my daily research work is con

[2017-06-24 13:36] stefanroettger opened #1833 "Feature Request: Allow adjustments to plot scaling"
Feature: allow manual adjustment of scale properties such as

1. Minimum and Maximum (i.e. start and end point)
2. define intermediate ticks (on/off, distance)
3. define / add labels and units of measurement

Best regards
Stefan

[2017-06-24 16:58] EJWagenmakers commented on #1833
Hi Stefan,

Thanks. Yes, we are considering how to add more flexibility to our plots. There may be several ways to proceed. But yes, we want users to be able to change the issues you identified.

Cheers,
E.J.

[2017-06-24 17:04] EJWagenmakers commented on #1832
Hi Stefan,

Yes, we should add MANOVA at some point. Can you tell us which research paradigms use this analysis? I know it is a standard analysis but I rarely see it applied in practice.

Cheers,
E.J.

[2017-06-25 20:13] phehks commented on #1832
Hi  E.J.,

I would like to see MANOVA in JASP too.

I am running a number of Randomised Controlled Trials. Some of my studies repeatedly measues several outcome variables concurrently.

Similarly, I shall be grateful if MANCOVA will be included.

Thank you.

Regards,
Kai-Shuen

[2017-06-25 20:15] phehks commented on #1830
I have encountered similar problem earlier. Do you have any missing data in any cell of the 7th question? JASP may have issues in handling missing data as SPSS do.

[2017-06-26 08:07] boutinb commented on #1805
@JohnnyDoorn Could you answer this request?

[2017-06-26 08:27] RuudWetzels commented on #1103
Hi EJ,
In an earlier response in this thread you write "The more people push this, the higher up the list of priorities it goes.", so I would like to request this feature as well, as it the type of model that I apply most often in my work.
Best,
Ruud

Cheers,
Ruud

[2017-06-26 13:53] vankesteren commented on #1720
This issue should be solved with the newest JASP version

[2017-06-26 13:53] #1720 closed

[2017-06-26 13:56] vankesteren commented on #849
This is possible in the descriptives of the latest version of JASP!

[2017-06-26 13:56] #849 closed

[2017-06-26 14:12] AlexanderLyNL commented on #1829
Could you please send us the JASP file so we can look into it?

[2017-06-27 06:45] vistocco opened #1835 "Feature request: quantile regression"
Dear JASP team,
thanks a lot for your valuable software. I have started using it for teaching in my Business Statistics class and I really appreciate the possibility to offer students different views on classical and modern statistical tools, exploiting a user-friendly and powerful software. In my experience, JASP allows students to focus on statistical thinking without the need to master a statis

[2017-06-27 07:26] FransMeerhoff commented on #1825
Hi @adamism6

Thanks for helping us solving this issue.
This is quite hard to find what's going on.
At the moment we are busy to prepare a 8.1.2 JASP version for Ubuntu 16.04 and 17.04
We expect to deliver this version at the end of this week or beginning next week.
I suggest that we wait till that  version is ready and then try again.

Kind regards
Frans Meerhoff

[2017-06-27 09:00] boutinb commented on #1827
@andyroberts1234 Thanks for the idea. First thoughts:
. This scroll should happen only when the focus is on the table.
. We have to think also about how may rows are displayed per default.
. HTML tables are not easy to use for this purpose. We will have probably to use a JS plugin for this.

[2017-06-27 09:03] boutinb commented on #1831
@pagoolka: I don't understand completely what you mean by your first sentence: you had an old version of JASP working, and it did not work anymore? Did this old version stop working after some Mac upgrade?

[2017-06-27 09:05] boutinb commented on #1816
@MayaEn Does this crash happen on another laptop/PC? This crash might be caused by too little memory available... What are the characteristics of your PC?

[2017-06-27 10:56] pagoolka commented on #1831
Yes, When I upgraded to sierra, the old version did not work.  How do I get the analysis output on the new version?

Sent from my iPad

[2017-06-27 12:11] boutinb commented on #1831
Did you try to reinstall XQuartz?

[2017-06-27 12:15] pagoolka commented on #1831
Yes, I installed Xquartz but will do it again.  Don't really know how to use it?

Sent from my iPad

[2017-06-27 12:24] vdsmagt opened #1836 "Jasp does not save all analyses"
## Environment (for bugs)

* JASP version: 8.1.2.
* OS name and version: 10.12.5
* Analysis: jasp does not save all analyses.
I have a data set, and on that set I do a number of analyses (both bayesian and frequentist), starting with a paired t-test. (then a bayesian paired t-test, f-paired t-test, b-paired t-test, f-repAnova and b-repAnova) all on different columns. I annotate the analysis  so i

[2017-06-27 12:30] boutinb commented on #1831
This is not the first time that someone tells us this problem on Mac, but we never could reproduce it in our own macs. This makes quite difficult for us to understand what's happened. One idea is to run JASP from the command line: /Applications/JASP.app/Contents/MacOS/JASP
Then you see a log, and send it to us.

[2017-06-27 12:34] boutinb commented on #1836
@vdsmagt Quite strange, I cannot reproduce this problem... Can you make a simple reproduction path with an Example Data set for example, and describe us exactly what you did?

[2017-06-27 12:57] vdsmagt commented on #1836
sorry, what do you mean by a simple reproduction path ?
and edit: every time I do this, my saved jasp file does increase in size so it appears is it saving something, but I can only see the first analysis when I reopen the file.
best
Maarten
On 27 Jun 2017, at 14:34, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

@vdsmagt<https://github.com/vdsmagt> Quite strange,

[2017-06-27 13:04] vdsmagt commented on #1836
new edit:
exporting the results also gives me an empty html file.
Maarten
On 27 Jun 2017, at 14:57, Smagt, M.J. van der (Maarten) <M.J.vanderSmagt@uu.nl<mailto:M.J.vanderSmagt@uu.nl>> wrote:

sorry, what do you mean by a simple reproduction path ?
and edit: every time I do this, my saved jasp file does increase in size so it appears is it saving something, but I can only see the first analysis whe

[2017-06-27 13:56] boutinb commented on #1831
@pagoolka We are building a new version of JASP with new WebEngine. This version is not yet ready, but maybe this new WebEngine solves this problem. Could you make a try? For this download this (trial) version from https://static.jasp-stats.org/JASP-0.8.1.2.59.dmg

[2017-06-27 14:01] boutinb commented on #1836
@vdsmagt By a simple reproduction path, I mean: can you take one Example Test file, make 2 or 3 analyses, save the JASP file, close JASP, restart JASP and open the JASP file. Do you see all analyses or only the first one?
If I do this, I see all analyses. So maybe you do a special step (a special analysis for example), that provokes this error. So, if you can give step by step precisely what you a

[2017-06-27 14:51] pagoolka commented on #1831
Bruno;
  I reinstalled XQuartz and the new version of JASP and had the same
problem as before.  There is no output?

On Tue, Jun 27, 2017 at 9:56 AM, bruno boutin <notifications@github.com>
wrote:

--
________________________________________________
Paula Goolkasian, PhD
Professor Emeritus
UNC Charlotte
9201 University City Blvd | Charlotte, NC 28223-001
Phone: 704-895-0927
 Email: pagoolka@uncc.e

[2017-06-27 15:14] vdsmagt commented on #1836
Dear Bruno,
see the attached text file for the path and the .csv file that I used.
Thanks
Maarten

On 27 Jun 2017, at 16:01, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

@vdsmagt<https://github.com/vdsmagt> By a simple reproduction path, I mean: can you take one Example Test file, make 2 or 3 analyses, save the JASP file, close JASP, restart JASP and open the JA

[2017-06-27 15:48] boutinb commented on #1831
@pagoolka Can you try to start JASP from a terminal by typing: /Applications/JASP.app/Contents/MacOS/JASP --remote-debugging-port=1234
Then open a browser with localhost:1234 in the URL bar. Click on the qrc:///core/index.html link. You see here the Developer Tools of the HTML page of JASP. Click here on the Console tab.
Then start an analysis in JASP.
Can you send me the log produced on the termi

[2017-06-27 15:51] boutinb commented on #1836
To send the csv file, use GitHub website directly, zip your csv file and attach it to the comment.

[2017-06-27 16:08] boutinb commented on #1831
@pagoolka I have set another JASP (trial) version with more log info (if you start it from the terminal as explained above):  https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
Can you install this one? Thanks, Bruno

[2017-06-27 16:52] pagoolka commented on #1831
Bruno;
  I downloaded the file and opened it in terminal but got this error message

Last login: Tue Jun 27 11:02:26 on console

PaulaMBP:~ paulagoolkasian$
/Applications/JASP.app/Contents?MacOS/JASP--remote-debugging-port=1234

-bash:
/Applications/JASP.app/Contents?MacOS/JASP--remote-debugging-port=1234: No
such file or directory

JASP opened but when I went to Safari and put in local host, I go

[2017-06-27 18:50] vdsmagt commented on #1836
here it is
[clean PSEs.csv.zip](https://github.com/jasp-stats/jasp-desktop/files/1106433/clean.PSEs.csv.zip)

[2017-06-27 21:33] MayaEn commented on #1816
Oh, I did not think about that. Yes, it only happened to me on my laptop.
Processor: i7
RAM: 4 GB
What other properties are relevant?

[2017-06-28 00:44] adamism6 commented on #1825
OK I'll update to v8.1.2 when the new release is available and post an update.

Thanks,
Adam

[2017-06-28 06:44] vdsmagt commented on #1836
if I use the same csv, but only step 1, 2, 8, 9 it appears to work
apparently it is something specific,  but what? The number of analyses?

[2017-06-28 06:57] boutinb commented on #1831
@pagoolka You need a space between JASP and --remote-debugging-port=1234. The right command is:
/Applications/JASP.app/Contents/MacOS/JASP --remote-debugging-port=1234

[2017-06-28 07:11] vdsmagt commented on #1836
OK never mind. I redid the entire analysis again, (with the original .csv) and now I cannot reproduce the bug either. There are two differences with the previous, I guess:
1. I might have saved the original in a .jasp file in stages (i.e. save after each analysis).
2. I will probably (in the original path leading to the original .jasp file) also have deleted one or more analyses. I have noted befo

[2017-06-28 07:24] boutinb commented on #1836
I can reproduce your problem with your JASP file. One interesting thing: if you do a Refresh All (Cmd-R or in the Results dropdown menu), then all analyses are displayed again... Now I can reproduce your problem, I can hopefully understand soon its cause.

[2017-06-28 07:31] EJWagenmakers opened #1837 ""save as" for png format does not work as it should"
When I copy a figure, it is in standard png format and it works fine.
When I select "save as" and then indicate the png format, the plot does not have the right background. I think this occurs because with "save as" the plot is highlighted, but I'm not sure. Attached are two figures: the good one obtained using the old method (simply "copy") and the poor one obtained using "save as".
![correlation

[2017-06-28 07:31] vdsmagt commented on #1836
ahh, thanks for the info. I will use that option every time form now on if I encounter something  unusual !
On 28 Jun 2017, at 09:24, bruno boutin <notifications@github.com<mailto:notifications@github.com>> wrote:

I can reproduce your problem with your JASP file. One interesting thing: if you do a Refresh All (Cmd-R or in the Results dropdown menu), then all analyses are displayed again... Now I

[2017-06-28 07:32] EJWagenmakers commented on #1837
Darn, they both look good on GitHub! Not on my computer. Drop by if you want to see for yourself.
E.J.

[2017-06-28 07:55] TimKDJ commented on #1837
The first figure has a white background, while the second is transparant.
Because Github is white they both look okay.

You can see the difference when you open them in separate tabs:
[one](https://user-images.githubusercontent.com/8603015/27625322-893a278c-5be4-11e7-9415-75572aa6ffaa.png)
[two](https://user-images.githubusercontent.com/8603015/27625324-8b9db26e-5be4-11e7-95c2-730d16abe85e.png)

I

[2017-06-28 07:57] vdsmagt commented on #1836
PS I also did the refresh all on my original Jasp file, but not all analyses from the path were displayed again.

[2017-06-28 08:02] EJWagenmakers commented on #1837
What does the eps do? Transparent is not what I would expect.

[2017-06-28 08:06] TimKDJ commented on #1837
No idea, do you know @vankesteren?

[2017-06-28 08:10] AlexanderLyNL commented on #1837
Transparant

<img width="453" alt="screen shot 2017-06-28 at 10 09 52" src="https://user-images.githubusercontent.com/10271675/27626873-fee3bcfa-5be9-11e7-941b-0b61d0332212.png">

[2017-06-28 08:27] EJWagenmakers commented on #1837
Can we google this? Or else a twitter poll :-)

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers.com
Book: bayesmodels.com
Stats: jasp-stats.org
Email: EJ.Wagenmakers@gmail.com

[2017-06-28 08:27] AlexanderLyNL commented on #1837
Twitter poll

[2017-06-28 08:30] vankesteren commented on #1837
Yes transparent is what it does. Would be a relatively simple fix to make it have a white background! It's a design decision.

[2017-06-28 08:32] EJWagenmakers commented on #1837
OK, but what does the eps/tiff do? Would be weird to have a png that's
transparent and an eps/tiff that is not. I personally dislike transparent.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amste

[2017-06-28 08:38] boutinb commented on #1836
I see already the problem: a footnote has per error wrong HTML tags:
"grote evidentie voor een effect van tijd voor exp groep, geen evidentie daarvoor in controle groep \\(*if anything anecdotal to moderate voor H0 <ofwel dat ze* niet *verschillen bij controle groep>\\)*"
(the '<ofwel' is considered has HTML Tag).
The HTML editor should not allow this, it should encode it so that it can be stored

[2017-06-28 08:54] vdsmagt commented on #1836
I have been going back and forth (after my initial notice that something went wrong), but I believe I initially just typed it in JASP, and copy-pasted this from the first repANOVA to the second. I have also later (in the n-th iteration) not used the <.. anymore, and that didn't solve it, but this may be due to the mistaken for a tag text was still there (but not visible to me since I hadn't done c

[2017-06-28 09:03] EJWagenmakers commented on #1837
People *expect* the plots to be non-transparent. This is also pleasant if you want to copy-paste them in PowerPoint. So let's set them to non-transparent by default, but allow them to change this setting through an option (to be implemented later) in the general preferences.

Cheers,
E.J.

[2017-06-28 11:13] EJWagenmakers opened #1838 "Resizing Window before pressing "OK""
Currently, the output window can only be resized (i.e., selecting the vertical separator and moving it left and right) *after* clicking "OK". Sometimes you already want to resize the window before pressing OK. Maybe there is a good reason for this (e.g., not wanting to have the resizing interfere with the input GUI). Hmm that's probably it, right?
E.J.

[2017-06-28 11:43] JohnnyDoorn commented on #1805
Hi,
I looked into this, but did not find any cohesive way of doing this - do you have a suggestion yourself? It would be bad practice to simply report cohen's d for each post hoc comparison, as this does not correct for multiple testing. Maybe there's a way to correct cohen's d that I am not aware of.
Cheers,
Johnny

[2017-06-28 12:36] pagoolka commented on #1831
OK, It worked this time. Below is the output from the terminal screen.  The
browser screen was blank.

Last login: Tue Jun 27 13:08:09 on ttys000

PaulaMBP:~ paulagoolkasian$ /Applications/JASP.app/Contents/MacOS/JASP
--remote-debugging-port=1234

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObje

[2017-06-28 14:25] boutinb commented on #1831
@pagoolka OK fine... I have some interesting information, but not yet enough. I have made a new build with more log. Could you download it with the same link: https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
Then again, start JASP from a terminal with this command: /Applications/JASP.app/Contents/MacOS/JASP
Then in JASP, open the Examples "Kitchen Rolls", and just add once the Descriptive S

[2017-06-28 14:41] pagoolka commented on #1831
Below is the terminal output.

Last login: Wed Jun 28 08:28:29 on ttys000

PaulaMBP:~ paulagoolkasian$ /Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/J

[2017-06-28 16:53] JLPuga opened #1839 "Installing JASP - Zorin OS and Trisquel OS Linux distro"
## Environment (for bugs)

* JASP version: current 0.8.1.2
* OS name and version: Zorin OS educative version 9 and Trisquel OS
* Analysis: I have tried to install JASP on two different Linux based operating systems without success. Both systems are Ubuntu based: Zorin OS (educative version 9, https://zorinos.com/) and Trisquel OS (https://trisquel.info/). I have tried the instructions in the web h

[2017-06-28 19:49] EJWagenmakers opened #1840 "Enhancement: add intervals to correlation matrix"
A useful suggestion from the JASP twitter account: adding "bands" around the best-fitting line in the correlation matrix plot (maybe upon demand).

![adilsaribaysuggestion](https://user-images.githubusercontent.com/8603015/27656994-70c3310a-5c4b-11e7-9442-9140f86670f4.jpg)

[2017-06-29 09:20] FransMeerhoff commented on #1839
Dear @JLPuga
Of course we like to help you, but unfortunately we do not test JASP on all possible Linux OS variants. But we do on all Ubuntu LTS versions with Ubuntu Xenial 16.04 as the latest.

- What  I can tell you is that we just (yesterday) updated the ppa with JASP 8.1.2. Perhaps something has crossed during your attempt.
- However if the problem still occurs, because of your error 'No se ha

[2017-06-29 09:25] vankesteren commented on #1840
I might be able to include this in the current descriptives rewrite!

[2017-06-29 13:57] boutinb commented on #1831
@pagoolka I need still more information... Would it be possible to download once again JASP (https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg), to install and start JASP with:
/Applications/JASP.app/Contents/MacOS/JASP
Can you do the same reproduction path, and send me the log from the terminal?
Hopefully I have then enough information to understand this problem.

[2017-06-29 18:09] pagoolka commented on #1831
OK, below is the output.

Best regards

PaulaMBP:~ paulagoolkasian$ /Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp

[2017-06-29 18:46] JLPuga commented on #1839
Dear  @FransMeerhoff

Firstly, thanks for the quick answer.

I have tried it again today but the result was the same. The reason why I am using this Linux distros is because my machines are quite old and do not work with Ubuntu LST. I had even tried the Lubuntu distribution but the problem does disappears. Do you have any idea about how to help Zorin OS (this seems to be the fastest system for my

[2017-06-30 08:01] boutinb commented on #1831
@pagoolka Sorry, but the JASP version is apparently the good one... Can you try again to download it  https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg ?
Thank you for your patience.
Bruno

[2017-06-30 09:55] akashrajkn commented on #1839
@JLPuga ZorinOS v9 is based on Ubuntu 14.04 (LTS) which is why it's not able to install the xenial packages from the ppa.

@FransMeerhoff Should we have the Trusty packages in the ppa?

[2017-06-30 10:32] JLPuga commented on #1839
Yes, @akashrajkn that is the thing, could it be solved @FransMeerhoff including the trusty packages in the ppa? Thanks!

[2017-06-30 11:36] lindeloev opened #1842 "Various t-test errors"
## Environment (for bugs)

* JASP version: 8.1.2
* OS name and version: Ubuntu 16.04
* Analysis: t-tests

I just got the latest JASP from your Debian repo and took it for a spin out of pure procrastination. I'm considering JASP for a stats course in the fall, so I'm following you guys - excellent work! :-) I discovered a few bugs in the t-test analyses. While I'm at it, I also propose a few improv

[2017-06-30 11:52] JohnnyDoorn commented on #1842
Hi Jonas,
Thanks for your interest and following! I can respond to your first and third inquiry - the second one is maybe for @quentingronau , as he implemented the subjective Bayesian t-test.
1. I have had this issue as well (I'm on Ubuntu 16.04), when I was still on an older version of R (I think I was at 3.2, when 3.4 was already out). Updating my R version fixed this error message - this start

[2017-06-30 12:29] AlexanderLyNL commented on #1842
Does JASP depend on the R version that's installed on Ubuntu? If so, it might be good to take into account that JASP 0.8.1.2 runs on R 3.3.3

Cheers,
Alexander

On 30 Jun 2017, at 13:52, JohnnyDoorn <notifications@github.com> wrote:

Hi Jonas,
Thanks for your interest and following! I can respond to your first and third inquiry - the second one is maybe for @quentingronau , as he implemented the s

[2017-06-30 13:04] EJWagenmakers commented on #1842
The intervals in the descriptive plot are obtained under a flat prior. This
is why they do not change. The reason for using a flat prior is exactly
because the plot is descriptive.

Cheers,
EJ

On Jun 30, 2017 14:29, "AlexanderLyNL" <notifications@github.com> wrote:

[2017-06-30 13:23] pagoolka commented on #1831
Bruno;
   It did not work. Same problem as before, there is no output file.  Below
is the terminal script.

Last login: Fri Jun 30 09:01:57 on ttys000

PaulaMBP:~ paulagoolkasian$ /Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such sig

[2017-06-30 21:59] lindeloev commented on #1842
@JohnnyDoorn @AlexanderLyNL I can confirm that upgrading from (system-wide) R 3.2.3 to 3.4.0 fixed the problem! I added the rstudio's R ppa.

@EJWagenmakers Thanks for clarifying regarding priors for the plot. At the risk of nitpicking AND bloating, maybe the fact that the prior is flat could be added as a figure text or tooltip for the setting? "Descriptives" usually has to do with properties of

[2017-07-02 08:29] EJWagenmakers commented on #1842
Yes, we certainly could clarify this a bit more. If this were a table we
could footnote it; putting text in the figure is a little to invasive. So I
am not 100% sure how to deal with this, other then to indicate this in the
help file....
The tooltip might work, but I'm not sure how easy it is to implement.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psycho

[2017-07-03 02:59] adamism6 commented on #1825
Hi Frans,

Happy to report it launched and runs without error after updating to v8.1.2.

Best,
Adam

[2017-07-03 07:38] boutinb commented on #1831
@pagoolka What I can see from this log, is that there is an inter-process communication problem between JASP is its engines. I still don't know why this happens on your computer, and not on ours (and on many other Mac users). But what I will try is see whether another implementation of the inter-process communication is possible. I hope to come with a solution this week.

[2017-07-03 07:54] boutinb commented on #1835
@EJWagenmakers What do you think of this feature request?

[2017-07-03 08:05] boutinb commented on #1816
@MayaEn It's quite difficult to guess what goes wrong on your Laptop... A wild guess is that JASP does not get enough memory to run. Do you have many applications running? Did you try to reboot your laptop?

[2017-07-03 08:06] boutinb commented on #1825
@adamism6 Happy to hear this works!

[2017-07-03 08:06] #1825 closed

[2017-07-03 08:40] EJWagenmakers commented on #1835
It's definitely interesting, so we should add it to our list, but we do
have several other analyses with higher priority.
E.J.

********************************************
Eric-Jan Wagenmakers
Department of Psychological Methods, room G 0.29
University of Amsterdam, Nieuwe Achtergracht 129B
Letter: PO Box 15906, 1001 NK Amsterdam
Parcel: Valckenierstraat 59,  1018 XE Amsterdam

Web: ejwagenmakers

[2017-07-03 10:44] pagoolka commented on #1831
Bruno,
  Thanks for your continued efforts to solve this problem.  I really appreciate it.

Sent from my iPad

[2017-07-04 06:57] akashrajkn commented on #1842
@lindeloev, thank you. On the matter of unit tests -

I haven't been maintained (both R tests and core jasp unit tests) for a while. I will soon set up the tests and a CI so that such errors can be caught beforehand.

[2017-07-04 08:42] AlexanderLyNL commented on #1842
Koen is working on the credible intervals, don't worry about those.

On 4 Jul 2017 13:57, at 13:57, akash raj <notifications@github.com> wrote:

[2017-07-05 16:19] anomalosepia commented on #1399
any luck on this issue? I can reproduce on my mac and I'm happy to test stuff out.
thanks!

[2017-07-06 14:36] freestone-lab opened #1845 "Feature Request: logistic regression"
I'd love to see logistic regression in JASP. In R, logistic regression is often done with glm or glmer. Bayesian implementations include stan_glm and stan_glmer (and probably others).

[2017-07-06 14:37] freestone-lab opened #1846 "Feature Request: linear mixed effects models"
I'd love to see linear mixed effects models in JAPS. The standard R packages are lmer, glmer, and bayesian implementations include stan_lmer and stan_glmer (and probably others).

[2017-07-07 03:53] lfromkin opened #1847 "unexpected termination of analysis"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis: correlation matric
## Environment (for enhancement requests)

* Enhancement:
* Purpose: told me to report the message below

This analysis terminated unexpectedly.

Error in cor.test.default(v1, v2, method = test, alternative = 'two.sided', : not enough finite observations

Stack trace
analysis(dataset = NULL, options =

[2017-07-07 12:17] vicenteinefo opened #1848 "This analysis terminated unexpectedly"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: MAC OS X El Capitan 10.11.6 (15G1510)
* Analysis: Linear regression

This analysis terminated unexpectedly.

Error in if (minimumPvalue < options$steppingMethodCriteriaPEntry) {: valor ausente donde TRUE/FALSE es necesario

Stack trace
analysis(dataset = NULL, options = options, perform = perform, callback = the.callback, st

[2017-07-07 12:37] vankesteren commented on #1840
Update: it was not in the current descriptives rewrite (#1844), but it will be a separate improvement.

[2017-07-07 14:30] boutinb commented on #1831
@pagoolka Thanks! I'm implementing another way for the process intercommunication. Next week we can try it.

[2017-07-07 14:34] boutinb commented on #1399
@anomalosepia The problem lies in the process intercommunication. Next week I will implement a new way to communicate. I hope this can solve this problem. The problem is that I cannot reproduce this problem on my Mac (and on any other macs I have access to). So I will make a test version, and maybe you can test it?

[2017-07-07 14:49] anomalosepia commented on #1399
Happy to do any testing.

Thanks!

-A

From: bruno boutin <notifications@github.com>
Reply-To: jasp-stats/jasp-desktop <reply@reply.github.com>
Date: Friday, July 7, 2017 at 10:34 AM
To: jasp-stats/jasp-desktop <jasp-desktop@noreply.github.com>
Cc: adam a <adamnaples@me.com>, Mention <mention@noreply.github.com>
Subject: Re: [jasp-stats/jasp-desktop] No Output on Mac (#1399)

@anomalosepia The pro

[2017-07-10 12:30] JohnnyDoorn commented on #1847
Hi,
Thanks for reporting this. Could you please elaborate a bit on the data you are using? Are there any infinities or NA's in your data? If you can, could you share your dataset? That way we can try to replicate your issue and fix the bug you found.
Kind regards,
Johnny

[2017-07-10 14:14] boutinb commented on #1399
@anomalosepia I put a new test version here:  https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
Would it be possible to test it by starting it from a terminal, with this command: /Applications/JASP.app/Contents/MacOS/JASP
Then do one descriptive analysis from an example dataset. Can you tell me whether the results appear, and send me the log you see on the terminal?
Thank you,
Bruno

[2017-07-10 14:16] boutinb commented on #1831
@pagoolka: I put a new test version here:  https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
Would it be possible to test it by starting it from the terminal (with /Applications/JASP.app/Contents/MacOS/JASP), and doing one descriptive analysis from an example dataset? Send me then the log you see on the terminal.
Thank you,
Bruno

[2017-07-10 15:07] pagoolka commented on #1831
Bruno;
  Below is the error message

xPSYC2BPRAGUALT:~ paulagoolkasian$
/Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser

[2017-07-10 17:00] anomalosepia commented on #1399
Huh, never even got that far. Maybe it’s trying to look for a local path to your machine?

Thanks!

-A

This happened (screen shot)

Terminal and screen shot below

Sepiida-2:~ adam$ /Applications/JASP.app/Contents/MacOS/JASP

BackStageForm::loadRecents();  setting 'recentItems' is not a QStringList

QObject::connect: No such signal FSBModel::hideAuthentication() in /Users/brunoboutin/JASP/Develop

[2017-07-11 08:36] boutinb commented on #1399
@anomalosepia The problem lies in the shared memory on your computer. I don't know why exactly yet. I put a new debug version https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg.
Can you try it?
Also can you type on a terminal: sysctl -A | grep shm
And send me the result?
Thank you really much!
Bruno

[2017-07-11 11:48] boutinb commented on #1831
@pagoolka The problem lies in the shared memory on your computer. I don't know why exactly yet. I put a new debug version https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg.
Can you try it?
Also can you type on a terminal: sysctl -A | grep shm
And send me the result?
Thank you really much!
Bruno

[2017-07-11 12:53] pagoolka commented on #1831
Here is what I got.

xPSYC2BPRAGUALT:~ paulagoolkasian$ sysctl -A | grep shm

kern.sysv.shmall: 1024

kern.sysv.shmseg: 8

kern.sysv.shmmni: 32

kern.sysv.shmmin: 1

kern.sysv.shmmax: 4194304

machdep.pmap.hashmax: 37

security.mac.posixshm_enforce: 1

security.mac.sysvshm_enforce: 1

On Tue, Jul 11, 2017 at 7:48 AM, bruno boutin <notifications@github.com>
wrote:

--
______________________________

[2017-07-11 15:33] boutinb commented on #1831
@pagoolka Can you also run the newest debug version of JASP, and give the log?

[2017-07-11 15:41] pagoolka commented on #1831
Bruno;
  Below is what I got.

xPSYC2BPRAGUALT:~ paulagoolkasian$
/Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:1

[2017-07-11 19:39] anomalosepia commented on #1399
Same problem, crash on launch

Terminal output

BackStageForm::loadRecents();  setting 'recentItems' is not a QStringList

QObject::connect: No such signal FSBModel::hideAuthentication() in /Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

QObject::connect: No such signal FSBModel::hideAuthentication() in /Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fs

[2017-07-12 10:39] boutinb commented on #1831
@pagoolka The problem is that is that the engine cannot find the shared memory created by JASP. This shared memory is probably simulated with a file in /tmp/boost_interprocess
Can you go to this folder with a terminal (cd /tmp/boost_interprocess) and type "ls -al"
Give me the results.
I have made a new debug version at the same place https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
This ver

[2017-07-12 10:47] boutinb commented on #1399
@anomalosepia The problem is that is that the engine cannot find the shared memory created by JASP. This shared memory is probably simulated with a file in /tmp/boost_interprocess
Can you go to this folder with a terminal (cd /tmp/boost_interprocess) and type "ls -al"
Give me the results.
I have made a new debug version at the same place https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg
This

[2017-07-12 13:24] pagoolka commented on #1831
Bruno;
  See below.

Last login: Tue Jul 11 11:37:52 on ttys000

xPSYC2BPRAGUALT:~ paulagoolkasian$ "ls -al"

-bash: ls -al: command not found

xPSYC2BPRAGUALT:~ paulagoolkasian$ is-al

-bash: is-al: command not found

xPSYC2BPRAGUALT:~ paulagoolkasian$ ls-al

-bash: ls-al: command not found

xPSYC2BPRAGUALT:~ paulagoolkasian$
/Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such s

[2017-07-12 13:26] boutinb commented on #1831
@pagoolka With a terminal, go to /tmp/boost_interprocess and type
           ls -al
(without quote, but with a space between ls and -al).

[2017-07-12 13:36] pagoolka commented on #1831
OK, output is below.

xPSYC2BPRAGUALT:~ paulagoolkasian$ /tmp/boost_interprocess

-bash: /tmp/boost_interprocess: is a directory

xPSYC2BPRAGUALT:~ paulagoolkasian$ is -al

-bash: is: command not found

xPSYC2BPRAGUALT:~ paulagoolkasian$ ls -al

total 224

drwxr-xr-x+  44 paulagoolkasian  staff   1496 Jul  4 21:41 .

drwxr-xr-x    7 root             admin    238 Mar 13 14:53 ..

-r--------    1 pa

[2017-07-12 13:39] boutinb commented on #1831
@pagoolka Sorry, I am not celar enough... With a terminal, type:
   cd /tmp/boost_interprocess
Then
   ls -al

[2017-07-12 13:41] pagoolka commented on #1831
Last login: Wed Jul 12 09:34:04 on ttys000

xPSYC2BPRAGUALT:~ paulagoolkasian$ cd /tmp/boost_interprocess

xPSYC2BPRAGUALT:boost_interprocess paulagoolkasian$ ls -al

total 0

drwxrwxrwx   3 root  wheel   102 Jul 12 09:23 .

drwxrwxrwt  41 root  wheel  1394 Jul 12 09:35 ..

drwxrwxrwx   2 root  wheel    68 Jul 12 09:11 0D735259327F0300

On Wed, Jul 12, 2017 at 9:39 AM, bruno boutin <notifications@

[2017-07-12 14:25] anomalosepia commented on #1399
ok results of LS-al

[code]

however, same problem on launch with the crash. Results below. No difference if I verify the app through gatekeeper or not.

[code]

[2017-07-13 09:43] akikicarole opened #1851 "Linear regression"
Was trying to do a linear regression with the method: forward . I couldn't finish it because it stops working and give me this message
**_"This analysis terminated unexpectedly.
Error in summary(fits[[i]])$coefficients: $ operator is invalid for atomic vectors
Stack trace.
To receive assistance with this problem, please report the message above at: https://jasp-stats.org/bug-reports"_**

My JASP v

[2017-07-13 10:17] boutinb commented on #1399
@anomalosepia Well... apparently it cannot use the temporary folder in /tmp/boost_interprocess
I have made a new debug version: https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg where it forces to use the ~/.JASP/temp folder. So again, can you download this version, and run it from the terminal with /Applications/JASP.app/Contents/MacOS/JASP ?
This time, can you with another terminal go to

[2017-07-13 10:20] boutinb commented on #1831
@pagoolka Well... apparently it cannot use the temporary folder in /tmp/boost_interprocess
I have made a new debug version: https://static.jasp-stats.org/JASP-0.8.1.2.59_debug.dmg where it forces to use the ~/.JASP/temp folder. So again, can you download this version, and run it from the terminal with /Applications/JASP.app/Contents/MacOS/JASP ?
This time, can you with another terminal can you do:

[2017-07-13 14:44] pagoolka commented on #1831
Bruno;
  Yeh!  This time I got an output in the results screen but when I tried to
put
cd etc into the terminal I kept getting slave tried to lock etc as you can
see below.

xPSYC2BPRAGUALT:~ paulagoolkasian$
/Applications/JASP.app/Contents/MacOS/JASP

QObject::connect: No such signal FSBModel::hideAuthentication() in
/Users/brunoboutin/JASP/Develop/bruno/JASP-Desktop/backstage/fsbrowser.cpp:101

[2017-07-13 14:57] boutinb commented on #1831
@pagoolka That's really great news!!!!
We know now what was the real problem! The /tmp/boost_interprocess folder on your computer does not give the right to the JASP Engine process to read shared data. When this shared temp files are put to the JASP temp folder, there is no problem. I will make a hotfix release of JASP with this fix.
Thank you really much for testing!

[2017-07-13 15:01] pagoolka commented on #1831
Glad that I could help.  I really enjoy your product.

On Thu, Jul 13, 2017 at 10:57 AM, bruno boutin <notifications@github.com>
wrote:

--
________________________________________________
Paula Goolkasian, PhD
Professor Emeritus
UNC Charlotte
9201 University City Blvd | Charlotte, NC 28223-001
Phone: 704-895-0927
 Email: pagoolka@uncc.edu Website:http://www.psych.uncc.edu/pagoolka
<https://mail.u

[2017-07-14 10:05] akashrajkn commented on #1851
@akikicarole can you please provide the dataset so that we can look into the problem?

[2017-07-16 06:49] Marian-Popa opened #1853 "Cronbach alpha confidence interval"
## Environment (for bugs)

* JASP version:
* OS name and version:
* Analysis:
## Environment (for enhancement requests)

* Enhancement:
* Purpose:

[2017-07-16 07:00] Marian-Popa commented on #1853
Hi to the JASP Team!
You did and do a great job, and I know what I say, beeing a long time SPSS teacher with psychology students.
I would like to suggest to add confidence interval for Cronbach alpha coeficient, which is insistently urged by some authors în the recent years.
(http://www.psyctc.org/stats/R/Feldt1.html)
Best wishes
Marian

[2017-07-16 10:16] EJWagenmakers commented on #1853
Yes, this is an excellent suggestion, also for the other measures.
@vandenman?

[2017-07-16 11:17] vandenman commented on #1853
It's on my todo list!

[2017-07-18 09:49] christance opened #1854 "Reliability analysis using Cronbach alpha is not completed"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Windows 10
* Analysis: Reliability analysis
[jasp cronbach.docx](https://github.com/jasp-stats/jasp-desktop/files/1155389/jasp.cronbach.docx)

The analysis has been running for more than 5 minutes and has not completed.  There is no result for the analysis.  I have tried with less variables and it is able to complete the ana

[2017-07-18 09:58] FransMeerhoff commented on #1854
Hi @christance

Sorry to hear that.
Could you please send us the jasp file and/or the data you are using?
You can do that by adding these files to a zip file and drag and drop this file to this issue.

Kind regards
Frans Meerhoff

[2017-07-18 10:03] christance commented on #1854
[pilot data 180717.xlsx](https://github.com/jasp-stats/jasp-desktop/files/1155455/pilot.data.180717.xlsx)

I have to save as .xlsx format, because I can't paste .csv here.

[2017-07-18 10:06] christance commented on #1854
I also can't seem to upload the jasp file here.

[2017-07-18 10:09] christance commented on #1854
[180717 analysis.zip](https://github.com/jasp-stats/jasp-desktop/files/1155478/180717.analysis.zip)
Sorry, managed to do it.

[2017-07-18 13:11] FransMeerhoff commented on #1854
Hi  @christance

Thanks a lot for for your data.
We will look what's going on there. And get back to you as soon as we know more about this issue.

@vandenman
Can you have a look at this issue too?

Cheers Frans

[2017-07-18 13:17] vandenman commented on #1854
The problem is in `psych::glb`, which treats square datasets as correlation matrices regardless of whether they're symmetrical or not. This results in all kinds of troubles for symmetric input. I've written a fix for it but I need to test it a bit more thorough. I expect a PR on the weekend.

[2017-07-19 13:28] JaynePickering opened #1856 "RM anova. The factors switch/disappear."
I'm using Jasp 0.8.1. I'm on a Mac (OS X EI Capitan, version 10.11.6). When I try to do a RM ANOVA (frequentist or Bayesian) the factors switch around/disappear. I have tried clicking the mouse, tabbing off, pressing enter. Nothing works. It always screws up factors 3 and 4, never factors 1 and 2. (Please see the attached screen grab.) In this example I'm trying to put my factors in in a set order

[2017-07-19 14:22] boutinb commented on #1831
@pagoolka I have made a real JASP version with just the fix that should solves your problem. You can download it from https://static.jasp-stats.org/JASP-0.8.1.2.mac.dmg
After installing it, can you start JASP (in the normal way) and check if you can start a analysis?

[2017-07-19 14:26] boutinb commented on #1399
@anomalosepia I have made a new JASP version that solves the same problem for another user. You can download it from https://static.jasp-stats.org/JASP-0.8.1.2.mac.dmg
After installing it, can you start JASP (in the normal way) and check if you can start a analysis?

[2017-07-19 16:08] pagoolka commented on #1831
Bruno;
  It worked!!  It took awhile for it to verify but it worked!! Do I still
need XQuartz?
Thanks so much for working this out!

On Wed, Jul 19, 2017 at 10:22 AM, bruno boutin <notifications@github.com>
wrote:

--
________________________________________________
Paula Goolkasian, PhD
Professor Emeritus
UNC Charlotte
9201 University City Blvd | Charlotte, NC 28223-001
Phone: 704-895-0927
 Email

[2017-07-20 06:43] boutinb commented on #1831
Really happy it works! XQuartz is needed, but you don't need to reinstall it. It has nothing to do with this problem.
Bruno

[2017-07-20 06:43] #1831 closed

[2017-07-20 11:14] HeikoBreitsohl opened #1857 "Labels for "Factor Scaling" options are switched"
## Environment (for bugs)

* JASP version: 0.8.1.2
* OS name and version: Win10
* Analysis: SEM
## Environment (for enhancement requests)

* Enhancement: Revise labels for "Factor Scaling" options
* Purpose: When using default settings (i.e. residual variance) in the SEM module, referent factor loadings are fixed to unity. Conversely, when selecting "Factor Loadings", factor variances are fixed to

[2017-07-20 15:21] EJWagenmakers opened #1858 "Plotting bug"
Contingency tables: plot of posterior distribution (tightly concentrated on zero) shows zeros on the x-axis.
See attached file.

![image](https://user-images.githubusercontent.com/8603015/28423741-2d72a3f4-6d6c-11e7-869c-fb9dc2135b84.png)

Data:

Bla | Bladiebla | Count
-- | -- | --
Yes | Yes | 221536
No | Yes | 220264
Yes | No | 2203496
No | No | 2203105

E.J.

[2017-07-21 08:23] moritzkoerber opened #1859 "Feature Request: Cook's distance"
Right now, only standardized residuals are given, Cook's distance would be better to spot outliers in regression

[2017-07-21 08:25] EJWagenmakers commented on #1859
Would be good to add -- both as a table and as a plot

[2017-07-21 14:31] EJWagenmakers opened #1861 "Label does not change"
Clicking on a label does nothing, so I cannot rename it. EJ's laptop.

![labeldoesnotchange](https://user-images.githubusercontent.com/8603015/28468002-f935d9dc-6e31-11e7-8e28-07efbabf67ac.png)

[2017-07-22 13:42] FransMeerhoff commented on #1861
Hi @EJWagenmakers

But a double  click should work, does that fail too on your laptop?
(similar to editing the data)

Cheers Frans

[2017-07-22 14:08] EJWagenmakers commented on #1861
I was clicking like crazy, no response

[2017-07-22 22:08] ArthurStone opened #1863 "Will not open at all"
Using Mac OS 11.10.2 and it errors out before opening.
![image](https://user-images.githubusercontent.com/30378233/28494845-873b3084-6eef-11e7-8219-076014334c8e.png)

[2017-07-24 08:35] boutinb commented on #1863
@ArthurStone I can see from the error that there is a problem when trying to create the temporary folder. Apparently this is due to permission problem. Is it possible to open a terminal, and to to type this:
   cd ~  //This is to go to your home folder
Then
  ls -al  // This is to list all your subfolders
If you do not see a '.JASP' folder here (with a '.' before JASP), then type this
  mkdir .JAS

[2017-07-24 12:38] akashrajkn commented on #1861
@FransMeerhoff I can take this issue if you are not working on it.

[2017-07-24 14:02] emilycsd opened #1864 "Feature request: Compute variable"
Hello! I am using JASP for an (undergrad) introductory statistics course. I think for a novice stats software user, it would be helpful to have an option to compute a new variable without having to open another program (e.g., compute a simple mean composite score). I don't currently see a way to do this.
I also think being able to get descriptives with the file split on some variable would be help

[2017-07-24 14:11] AlexanderLyNL commented on #1864
Dear Emily,

Thanks for your support and the suggestion. Regarding the computation of a new variable, perhaps the following video might help:

https://youtu.be/1dT-iAU9Zuc

As for the split function, this will be available in our next release that is due soon. I hope that this answers your questions.

Cheers,
Alexander